/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=./certificate_shared_lit.css.js
 * #scheme=relative
 * #include=certificate-shared-lit
 * #css_wrapper_metadata_end */

.button-box {
  align-items: center;
  display: flex;
  min-height: 48px;
}

.label {
  color: var(--cr-secondary-text-color);
  font-size: 85%;
}

/* A row with two lines of text.
 * Consistent with chrome/browser/resources/settings/settings_shared_css.html
 * (which can not be imported here).
 */
.two-line {
  min-height: var(--settings-row-two-line-min-height);
}

.value {
  color: var(--cr-primary-text-color);
  word-wrap: break-word;
}
