<style include="cr-shared-style">
  :host {
   font-family: Roboto, sans-serif;
   font-size: 75%;
   font-weight: 500;
  }

  .app {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .button-group {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 5px;
  }

  .button-group > cr-button {
    margin-inline-start: 10px;
  }

  .content {
    height: 100%;
    overflow: scroll;
  }
</style>

<div class="app">
  <h1 id="appTitle">[[i18n('appTitle')]]</h1>
  <div class="content">
    <network-health-summary id="network-health"></network-health-summary>
    <network-diagnostics id="network-diagnostics"></network-diagnostics>
  </div>
  <div class="button-group">
    <cr-button on-click="onCloseClick_">[[i18n('closeBtn')]]</cr-button>
    <cr-button on-click="onRunAllRoutinesClick_">
      [[i18n('rerunRoutinesBtn')]]
    </cr-button>
    <cr-button on-click="onSendFeedbackClick_">
      [[i18n('sendFeedbackBtn')]]
    </cr-button>
  </div>
</div>
