/* Copyright 2016 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  border: 0;
  height: 44px;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

#main {
  background-color: #000;
  display: flex;
  height: 44px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
}

button {
  background-color: #000;
  border: 0;
  margin: 0;
  outline: none;
  padding: 0;
}


button:disabled,
.menu-item.disabled,
.menu-bar-item.disabled {
  background-color: rgb(60, 64, 67);
  color: rgb(207, 216, 220);
}

#menus_button {
  height: 44px;
  min-width: 52px;
}

#menus_button:hover {
  background-color: rgb(246, 145, 57);
}

#options_close {
  height: 44px;
  min-width: 48px;
}

#chromevox {
  height: 19px;
  margin: 8px 0;
  width: 19px;
}

#triangle {
  height: 6px;
  margin: 14px 0;
  width: 6px;
}

#options {
  background-image: url(/chromevox/images/options-36.png);
  height: 36px;
  margin: 4px 0;
  width: 36px;
}

#options:hover {
  background-image: url(/chromevox/images/options-hover-36.png);
}

#close {
  background-image: url(/chromevox/images/close-36.png);
  height: 36px;
  width: 36px;
}

#close:hover {
  background-image: url(/chromevox/images/close-hover-36.png);
}

#braille-pan-left {
  /* Draw a left-facing triangle. */
  border-bottom: 8px solid transparent;
  border-inline-end: 8px solid white;
  border-top: 8px solid transparent;
  height: 0;
  margin: 10px;
  width: 0;
}

#braille-pan-right {
  /* Draw a right-facing triangle. */
  border-bottom: 8px solid transparent;
  border-inline-start: 8px solid white;
  border-top: 8px solid transparent;
  height: 0;
  margin: 10px 0;
  width: 0;
}

#caption {
  color: #fff;
  flex-grow: 1;
  margin: 0 12px;
}

#speech-container {
  height: 44px;
  margin: 0 12px;
}

#speech {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
}

.usertext {
  font-style: italic;
  font-weight: 700;
}

#braille-container {
  height: 44px;
  overflow: hidden;
  position: relative;
  top: -44px;
}

#braille-container * {
  border-spacing: 0;
  color: #fff;
}

#braille-table-holder-outer {
  display: flex;
  height: 100%;
  overflow: scroll;
  padding-inline-end: 17px;
  width: 100%;
}

::-webkit-scrollbar {
  display: none;
}

.braille-table-holder {
  flex-grow: 1;
}

#braille-text {
  font-family: 'Droid Sans Mono', Courier, monospace;
  font-size: 12pt;
  height: 17px;
  letter-spacing: 3.13px;
  line-height: 17px;
  white-space: pre;
}

#braille-cells {
  font-family: 'Droid Sans Mono', Courier, monospace;
  font-size: 13pt;
  height: 17px;
  line-height: 17px;
  white-space: pre;
}

#search-container {
  height: 44px;
  margin: 0 12px;
}

#search {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  height: 44px;
  line-height: 44px;
  overflow: hidden;
  width: 100%;
}

#search::placeholder {
  /* Hint text should match the color of the ChromeVox focus ring. */
  color: rgb(247, 152, 58);
}

#menus_background {
  background-color: #eee;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 44px;
}

#menu-bar {
  background-color: #000;
  display: flex;
  height: 35px;
  width: 100%;
}

.menu-bar-item {
  color: #fff;
  cursor: pointer;
  flex-grow: 1;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  padding: 0 12px;
  text-align: center;
}

.menu-bar-item.active {
  background-color: rgb(246, 145, 57);
  color: black;
}

.menu-container {
  background-color: #fff;
  border: 1px solid #000;
  border-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
}

.menu {
  border-spacing: 0;
  width: 100%;
}

.menu-item {
  color: #000;
  cursor: pointer;
  display: table-row;
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  height: 35px;
  line-height: 35px;
  margin: 0;
  overflow: hidden;
  padding: 0 12px;
}

.menu-item.active,
.menu-item:hover,
.menu-item.hover,
.menu-item:focus {
  background-color: rgb(246, 145, 57);
  color: black;
}

.menu-item-title {
  border: 0;
  margin: 0;
  max-width: 500px;
  overflow: hidden;
  padding: 0 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.menu-item-shortcut {
  border: 0;
  margin: 0;
  padding: 0 18px 0 24px;
  text-align: end;
}

#close:hover {
  background-image: url(/chromevox/images/close-hover-36.png);
}

.highlighted-cell {
  border: 1px solid white;
}

.unhighlighted-cell {
  border: 1px solid black;
}

/*
 * The html hidden attribute doesn't make elements not focusable by default.
 * This rule ensures that elements that are hidden truly don't show up.
 */
*[hidden] {
  display: none !important;
}

#menus-search-bar {
  font-family: 'Roboto', sans-serif;
  font-size: 12pt;
  height: 35px;
  margin-bottom: 10px;
  margin-inline-end: 10px;
  margin-inline-start: 10px;
  margin-top: 10px;
  padding-inline-start: 10px;
  width: calc(100% - 20px);
}
