/* Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  --primary30: #0842A0;
  --primary90: #D3E3FD;
  --google-blue-700: #1967d2;
  --google-blue-300: #8ab4f8;

  /* semantic color declarations */
  --learn-more-link-color: var(--google-blue-700);
  --tonal-container: var(--primary90);
  --on-tonal-container: var(--primary30);

  @media (prefers-color-scheme: dark) {
    --learn-more-link-color: var(--google-blue-300);
    --tonal-container: var(--primary30);
    --on-tonal-container: var(--primary90);
  }
}

.https-only #main-content a {
  color: var(--learn-more-link-color);
}

.https-only .icon {
  background-image: image-set(
    url(images/1x/triangle_red.png) 1x,
    url(images/2x/triangle_red.png) 2x);
  filter: grayscale(1);
}

@media (prefers-color-scheme: dark) {
  .https-only .icon {
    filter: invert(1) grayscale(1);
  }
}

.https-only ul {
  padding-inline-start: 1.4rem;
}

/* Override the icon and colors for the August 2024 refresh */
.https-only-august2024-refresh .icon {
  background-image: url(images/no_encryption.svg);
  filter: grayscale(1);
}

@media (prefers-color-scheme: dark) {
  .https-only-august2024-refresh .icon {
    filter: invert(1) grayscale(1);
  }
}

.https-only-august2024-refresh .secondary-button {
  --secondary-button-fill-color: var(--tonal-container);
  --secondary-button-text-color: var(--on-tonal-container);
  --secondary-button-hover-fill-color: var(--tonal-container);
  border: 0;
}
