/* Copyright 2020 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.insecure-form #main-content a {
  color: var(--google-blue-700);
}

.insecure-form .icon {
  background-image: image-set(
      url(images/1x/info.png) 1x,
      url(images/2x/info.png) 2x);
}

@media (prefers-color-scheme: dark) {
  .insecure-form .icon {
    filter: invert(1);
  }
}
