/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_hidden_style_lit.css.js
 * #scheme=relative
 * #include=cr-hidden-style-lit
 * #css_wrapper_metadata_end */

:host {
  display: block;
}

.divider {
  background-color: var(--color-sys-divider, var(--cr-fallback-color-divider));
  display: none;
  height: 1px;
  margin: 8px;
}

organizer-list-section:not([hidden]) ~ .divider:has(+ organizer-list-section:not([hidden])) {
  display: block;
}

#noResults {
  color: var(--cr-secondary-text-color);
  font-size: 12px;
  margin: 8px 16px;
}
