/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  align-items: center;
  display: flex;
  border-radius: 8px;
}

:host(:not([disabled]):hover),
:host(.hovered:not([disabled])) {
  background-color: var(--cr-hover-background-color);
}

:host(:not([disabled]):active) {
  background-color: var(--cr-active-background-color);
}

#expandButton {
  --cr-expand-button-icon-size: 16px;
  --cr-expand-button-size: 24px;
  --cr-section-vertical-padding: 0;
  color: var(--cr-secondary-text-color);
  flex: 1;
  font-size: 9px;
  font-weight: 700;
  line-height: 16px;
  padding: 8px;
  text-transform: uppercase;
}

#expandButton[disabled] {
  opacity: 1;
}

#expandButton::part(icon) {
  margin-block: -4px;
  margin-inline-end: 12px;
  margin-inline-start: 0;
  order: -1;
}

#expandButton[disabled]::part(icon) {
  display: none;
}

#menuButton {
  --cr-icon-button-icon-size: 16px;
  --cr-icon-button-margin-end: 12px;
  --cr-icon-button-margin-start: 0;
  --cr-icon-button-size: 24px;
  display: none;
  margin-block: -4px;
}

:host([expanded]:not([disabled]):hover) #menuButton,
:host([expanded]:not([disabled]).hovered) #menuButton {
  display: inline-flex;
}

:host-context(html:not(.focus-outline-visible)) #expandButton::part(icon),
:host-context(html:not(.focus-outline-visible)) #menuButton {
  --cr-icon-button-focus-outline-color: transparent;
}
