/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  display: block;
}

#header {
  align-items: center;
  color: var(--cr-secondary-text-color);
  display: flex;
  font-size: 9px;
  font-weight: 700;
  line-height: 16px;
  margin: 8px 16px;
  text-transform: uppercase;
}
