# Schema for this config file: ProjectConfig in
# luci-config.appspot.com/schemas/projects:tricium-prod.cfg

acls {
  role: REQUESTER
  group: "tricium-chromium-requesters"
}

selections {
  function: "Cpplint"
  platform: UBUNTU
  configs {
    name: "filter"
    value: "-,+readability/todo,+readability/check,+readability/fn_size,+build/header_guard,+build/include_order"
  }
  configs {
    name: "verbose"
    value: "4"
  }
}

selections {
  function: "GitFileIsolator"
  platform: UBUNTU
}

selections {
  function: "Metrics"
  platform: UBUNTU
}

selections {
  function: "MojomCommentator"
  platform: UBUNTU
}

selections {
  function: "SpellChecker"
  platform: UBUNTU
}

selections {
  function: "Pylint"
  platform: UBUNTU
  configs {
    name: "disable"
    value: "all"
  }
  configs {
    name: "enable"
    value: "syntax-error,unused-variable,undefined-variable,unused-import"
  }
}

functions {
  type: ANALYZER
  name: "ClangTidy"
  needs: GIT_FILE_DETAILS
  provides: RESULTS
  path_filters: "*.c"
  path_filters: "*.cc"
  path_filters: "*.cpp"
  path_filters: "*.h"
  owner: "gbiv@google.com"
  monorail_component: "Infra>Platform>Tricium>Analyzer"

  impls {
    runtime_platform: LINUX
    provides_for_platform: LINUX

    recipe {
      project: "chromium"
      bucket: "try"
      builder: "linux-clang-tidy-rel"
    }

    # 5400sec == 90min. It takes 40mins to build tidy, which we want to stop
    # doing before we launch this for real. 45ish minutes seems like a
    # reasonable overall timeout, since the bot itself times out tidy after
    # 30mins. It's generally expected to take around 5-10mins to get results
    # back for reasonably-sized CLs.
    deadline: 5400
  }
}

selections {
  function: "ClangTidy"
  platform: LINUX
}

repos {
  gerrit_project {
    host: "chromium-review.googlesource.com"
    project: "chromium/src"
    git_url: "https://chromium.googlesource.com/chromium/src"
  }
  whitelisted_group: "project-chromium-tryjob-access"
}

service_account: "tricium-prod@appspot.gserviceaccount.com"
swarming_service_account: "swarming@tricium-prod.iam.gserviceaccount.com"
