/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#logo {
  height: calc(var(--logo-height) + var(--logo-margin-bottom));
  margin-top: var(--logo-margin-top);
  min-height: fit-content;
  position: relative;
}

.non-google-page #logo {
  display: none;
}

#logo-doodle {
  text-align: center;
}

#logo-default,
#logo-doodle {
  opacity: 0;
  visibility: hidden;
}

#logo-default.show-logo,
#logo-doodle.show-logo {
  opacity: 1;
  visibility: visible;
}

#logo-doodle-container,
#logo-doodle-iframe,
#logo-doodle-wrapper {
  display: none;
}

#logo-doodle-button {
  cursor: pointer;
}

#logo-doodle-iframe.show-logo {
  display: block;
}

#logo-doodle-container.show-logo {
  display: inline-block;
}

.show-logo #logo-doodle-wrapper {
  display: inline-block;
}

@media (prefers-color-scheme: dark) {
  .show-logo #logo-doodle-wrapper {
    border-radius: 20px;
    display: inline-block;
    padding: 16px 24px 16px 24px;
  }
}

#logo-doodle-image {
  outline: none;
}

#logo-default.fade,
#logo-doodle.fade {
  transition: opacity 130ms, visibility 130ms;
}

#logo-default,
#logo-non-white {
  background-image: url(../../../../ui/webui/resources/images/google_logo.svg);
  background-repeat: no-repeat;
  bottom: var(--logo-margin-bottom);
  height: 92px;
  left: calc(50% - 272px/2);
  position: absolute;
  width: 272px;
}

body.alternate-logo #logo-default,
body.alternate-logo #logo-non-white {
  -webkit-mask-image:
      url(../../../../ui/webui/resources/images/google_logo.svg);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background: var(--logo-color);
}

#logo-default,
.use-notifier #logo-non-white {
  display: block;
}
#logo-non-white,
.use-notifier #logo-default {
  display: none;
}

#logo-doodle-container {
  /* An image logo is allowed to spill into the margin below, so it's not a
   * real bottom margin. If the image extends further than that margin, it
   * is cropped. */
  margin: 0 auto;
  max-height: calc(var(--logo-height) + var(--logo-margin-bottom));
  overflow: hidden;
  position: relative;
  text-align: text-center;
}

.use-notifier #logo-doodle-container,
.use-notifier #logo-doodle-iframe {
  display: none;
}

#logo-doodle-iframe {
  border: 0;
  height: var(--logo-iframe-height);
  margin: 0 auto calc(var(--logo-height) + var(--logo-margin-bottom)
                      - var(--logo-iframe-initial-height)) auto;
  transition: width var(--logo-iframe-resize-duration),
              height var(--logo-iframe-resize-duration);
  width: var(--logo-iframe-width);
}

#logo-doodle-notifier {
  display: none;
}
.use-notifier #logo-doodle-notifier {
  background: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  left: calc(50% + 148px);
  padding: 0;
  position: absolute;
  top: 100px;
  width: 24px;
}
@keyframes anim-pos {
  0% { transform: translate(-98%, 0); }
  100% { transform: translate(98%, 0); }
}
@keyframes anim-z-order {
  0% { z-index: 100; }
  100% { z-index: 1; }
}
.use-notifier #logo-doodle-notifier .outer {
  animation: anim-z-order 3520ms linear infinite;
  height: 37.5%;
  left: 50%;
  margin-inline-start: -18.75%;
  margin-top: -18.75%;
  position: absolute;
  top: 50%;
  width: 37.5%;
}
.use-notifier #logo-doodle-notifier .inner {
  animation: anim-pos 880ms cubic-bezier(.445, .05, .55, .95)
      infinite alternate;
  border-radius: 50%;
  height: 100%;
  position: absolute;
  transform: rotate(90deg);
  width: 100%;
}
.use-notifier #logo-doodle-notifier .ball0 {
  animation-delay: 2640ms;
  transform: rotate(45deg);
}
.use-notifier #logo-doodle-notifier .ball1 {
  animation-delay: 1760ms;
  transform: rotate(135deg);
}
.use-notifier #logo-doodle-notifier .ball2 {
  transform: rotate(225deg);
}
.use-notifier #logo-doodle-notifier .ball3 {
  animation-delay: 880ms;
  transform: rotate(315deg);
}
.use-notifier #logo-doodle-notifier .ball0 .inner {
  background: linear-gradient(
      315deg, rgb(0, 85, 221), rgb(0, 119, 255), rgb(0, 119, 255));
}
.use-notifier #logo-doodle-notifier .ball1 .inner {
  background: linear-gradient(
      225deg, rgb(221, 0, 0), rgb(238, 51, 51), rgb(255, 119, 85));
}
.use-notifier #logo-doodle-notifier .ball2 .inner {
  background: linear-gradient(
      90deg, rgb(0, 119, 68), rgb(0, 153, 68), rgb(85, 187, 85));
}
.use-notifier #logo-doodle-notifier .ball3 .inner {
  background: linear-gradient(
      0deg, rgb(255, 170, 51), rgb(255, 204, 0), rgb(255, 221, 102));
}

#ddlsb {
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  height: 26px;
  opacity: .8;
  position: absolute;
  width: 26px;
}

#ddlsb:hover {
  opacity: 1;
}

#ddlsb-img {
  height: 22px;
  left: 2px;
  position: absolute;
  top: 2px;
  width: 22px;
}

#ddlsd {
  background: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .2);
  left: 0;
  margin: auto;
  min-height: 100px;
  padding: 22px;
  position: absolute;
  right: 0;
  text-align: start;
  top: 30%;
  width: 300px;
  z-index: 9001;
}

#ddlsd::backdrop {
  background-color: rgba(255, 255, 255, .9);
}

@media (prefers-color-scheme: dark) {
  #ddlsd {
    background-color: rgb(var(--dark-mode-dialog-rgb));
    box-shadow: var(--dark-mode-shadow);
  }

  #ddlsd::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

#ddlsd button {
  border: none;
  cursor: pointer;
}

#ddlsd button:hover {
  opacity: .8;
}

#ddlsd-title {
  color: #212121;
  font-size: 22px;
  padding-bottom: 16px;
  padding-inline-end: 40px;
}

@media (prefers-color-scheme: dark) {
  #ddlsd-title {
    color: rgb(var(--GG200-rgb));
  }
}

#ddlsd-close {
  height: 24px;
  position: absolute;
  right: 22px;
  top: 22px;
  width: 24px;
}

[dir=rtl] #ddlsd-close {
  left: 22px;
  right: auto;
}

#ddlsd-close::before {
  -webkit-mask-image: url(../../../../ui/webui/resources/images/icon_clear.svg);
  -webkit-mask-position: center center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 32px;
  background-color: #4d4d4d;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  #ddlsd-close::before {
    background-color: rgb(var(--GG500-rgb));
  }
}

#ddlsd-fbb {
  background: url(icons/facebook.svg) no-repeat center;
}

#ddlsd-twb {
  background: url(icons/twitter.svg) no-repeat center;
}

#ddlsd-emb {
  background: url(icons/mail.svg) no-repeat center;
}

#ddlsd-text {
  border: 2px solid #aaa;
  border-color: rgba(0, 0, 0, .15);
  border-radius: 4px;
  color: #555;
  display: inline-block;
  font-size: 14px;
  padding: 12px;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  #ddlsd-text {
    background-color: rgba(0, 0, 0, 0.3);
    color: rgb(var(--GG200-rgb));
  }
}

#ddlsd-copy {
  background: url(icons/copy.svg) no-repeat center;
  background-size: contain;
  display: inline-block;
  height: 36px;
  margin: 5px;
  width: 36px;
}

.ddlsd-sbtn {
  background-size: contain;
  border-radius: 4px;
  display: inline-block;
  height: 48px;
  margin: 0 4px;
  width: 48px;
}

#ddlsd-hr {
  background: #ccc;
  border: 0;
  height: 2px;
  margin: 15px 0;
}

#ddlsd-link {
  display: flex;
  margin: 6px;
}

#ddlsd-text-ctr {
  display: block;
  overflow: hidden;
  padding-inline-end: 36px;
}
