/* Copyright 2012 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  margin: 20px;
}

#countBanner {
  background-color: rgb(235, 239, 250);
  border: 1px solid rgb(187, 187, 187);
  border-radius: 2px;
  font-size: 100%;
  padding: 4px;
}

table {
  background-color: white;
}

thead tr {
  background-color: rgb(235, 250, 239);
}

th {
  border-color: gray;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
  white-space: nowrap;
}

td {
  border-color: lightgray;
  border-style: solid;
  border-width: 1px;
  padding: 3px;
}

tr td:first-child[rowspan] {
  background-color: rgb(215, 215, 215);
}

tbody > td:first-child {
  white-space: nowrap;
}

#disabledMode h2 {
  color: rgb(141, 51, 42);
  font-size: 125%;
}

tr.action-prerender td {
  background-color: rgb(0, 215, 0);
}

tr.action-preconnect td {
  background-color: rgb(255, 215, 0);
}

tr.action-none td {
  background-color: rgb(215, 215, 215);
}
