/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #css_wrapper_metadata_end */

button.action-link {
  -webkit-appearance: none;
  background: none;
  border: none;
  color: var(--cr-link-color);
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  text-decoration: underline;
}

:host-context(html:not(.focus-outline-visible)) button.action-link {
  outline: none;
}
