/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=./navi_colors.css.js
 * #include=navi-colors
 * #css_wrapper_metadata_end */

.option {
  background: var(--cr-card-background-color);
  border: 1px solid var(--navi-border-color);
  color: var(--cr-primary-text-color);
  cursor: pointer;
  flex-direction: column;
}

.option:hover {
  box-shadow: var(--navi-option-box-shadow);
}

.option-name {
  font-size: .875rem;
}

.button-bar {
  display: flex;
  justify-content: space-between;
}

:host-context([dir=rtl]) iron-icon[icon='cr:chevron-right'] {
  transform: scaleX(-1);
}

iron-icon[icon='cr:chevron-right'] {
  height: 1.25rem;
  margin-inline-end: -.625rem;
  margin-inline-start: .375rem;
  width: 1.25rem;
}
