/* Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=./sp_shared_vars.css.js
 * #css_wrapper_metadata_end */

.sp-card {
  display: contents;
}

:host-context([chrome-refresh-2023]) .sp-card {
  background: var(--color-side-panel-card-background);
  border-radius: 12px;
  display: block;
  margin: 0 var(--sp-body-padding);
  padding: var(--sp-card-block-padding) 0;
}

:host-context([chrome-refresh-2023]) .sp-card sp-heading {
  margin: 0;
  padding: 0 var(--sp-card-inline-padding);
}

.sp-scroller {
  overflow-x: hidden;
  overflow-y: auto;
}

:host-context([chrome-refresh-2023]) .sp-scroller {
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

:host-context([chrome-refresh-2023]) .sp-scroller::-webkit-scrollbar {
  background: transparent;
  width: var(--sp-body-padding);
}

:host-context([chrome-refresh-2023]) .sp-scroller::-webkit-scrollbar-thumb {
  background: var(--color-side-panel-scrollbar-thumb);
  background-clip: content-box;
  border: solid 2px transparent;
  border-radius: 100px;
}

:host-context([chrome-refresh-2023]) .sp-card:has(.sp-scroller) {
  padding-block-end: 0;
}

:host-context([chrome-refresh-2023]) .sp-card .sp-scroller {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-sizing: border-box;
  margin-inline-end: calc(-1 * var(--sp-body-padding));
  padding-block-end: var(--sp-card-block-padding);
}

:host-context([chrome-refresh-2023]) .sp-scroller .sp-card,
:host-context([chrome-refresh-2023]):host-context(.sp-scroller) .sp-card {
  margin-inline-end: 0; /* sp-scroller's scrollbar takes the space instead. */
}

:host-context([chrome-refresh-2023]) .sp-labelless-input {
  --cr-input-background-color: transparent;
  --cr-input-border: 1px solid var(--color-side-panel-textfield-border);
  --cr-input-border-bottom: none;
  --cr-input-border-radius: 8px;
  --cr-input-padding-bottom: 9px;
  --cr-input-padding-end: 9px;
  --cr-input-padding-start: 9px;
  --cr-input-padding-top: 9px;
  --cr-input-underline-display: none;
  height: 36px;
  line-height: 16px;
}

:host-context([chrome-refresh-2023]) .sp-labelless-input:focus {
  --cr-input-border: 2px solid var(--cr-focus-outline-color);
  --cr-input-padding-bottom: 8px;
  --cr-input-padding-end: 8px;
  --cr-input-padding-start: 8px;
  --cr-input-padding-top: 8px;
}

.sp-icon-buttons-row {
  align-items: center;
  display: grid;
  gap: 8px;
  grid-auto-columns: 16px;
  grid-auto-flow: column;
  justify-items: center;
}

.sp-icon-buttons-row cr-icon-button {
  --cr-icon-button-icon-size: 16px;
  --cr-icon-button-size: 24px;
}

.sp-hr {
  background: var(--google-grey-300);
  border: none;
  height: 1px;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  .sp-hr {
    background: var(--google-grey-700);
  }
}

:host-context([chrome-refresh-2023]) .sp-hr {
  background: var(--color-side-panel-divider);
}

:host-context([chrome-refresh-2023]) .sp-cards-separator {
  border: 0;
  flex-shrink: 0;
  height: 8px;
  margin: 0;
  width: 100%;
}
