/* Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=vars-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

html {
  --sp-body-padding: 8px;
  --sp-card-block-padding: 8px;
  --sp-card-inline-padding: 16px;
  --sp-card-padding: var(--sp-card-block-padding) var(--sp-card-inline-padding);
  --sp-card-gap: 12px;

  /* Override default WebUI vars from cr_shared_vars. */
  --cr-primary-text-color: var(--color-side-panel-card-primary-foreground);
  --cr-secondary-text-color: var(--color-side-panel-card-secondary-foreground);
}
