<!DOCTYPE HTML>
<html dir="$i18n{textdirection}" lang="$i18n{language}">
<head>
  <meta charset="utf-8">
  <meta name="theme-color" content="#fff">
  <meta name="viewport" content="initial-scale=1, minimum-scale=1, width=device-width">
  <link rel="stylesheet" href="chrome://resources/css/text_defaults.css">
  <link rel="stylesheet" href="management.css">
</head>
<body style="font-size: 75%">
  <script type="module" src="management.js"></script>
  <div class="content-wrapper">
    <img id="icon" src="images/enterprise_icon.svg">
    <div id="managed-info" class="hidden">
      <div id="main-message">$i18n{managementMessage}</div>
      <div id="secondary-message">$i18n{managedInfo}
        <a id="learn-more-link" target="_blank" href=$i18n{learnMoreURL}>$i18n{learnMore}</a>
      </div>
    </div>
    <div id="unmanaged-info" class="hidden">$i18n{unmanagedInfo}</div>
  </div>
</body>
</html>
