<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>Features</key>
    <array>
        <dict>
            <key>Type</key>
            <integer>0</integer>
            <key>Title</key>
            <string>IDS_IOS_WHATS_NEW_FEATURE_SEARCH_TABS_TITLE</string>
            <key>Subtitle</key>
            <string>IDS_IOS_WHATS_NEW_FEATURE_SEARCH_TABS_SUBTITLE</string>
            <key>HeroBannerImageName</key>
            <string>search_tabs_hero_banner</string>
            <key>BannerImageName</key>
            <string>search_tabs_banner</string>
            <key>IconImageName</key>
            <string>magnifyingglass</string>
            <key>IconBackgroundColor</key>
            <string>blue</string>
            <key>IsSymbol</key>
            <true/>
            <key>InstructionSteps</key>
            <array>
            <string>IDS_IOS_WHATS_NEW_FEATURE_SEARCH_TABS_STEP_1</string>
            <string>IDS_IOS_WHATS_NEW_FEATURE_SEARCH_TABS_STEP_2</string>
            <string>IDS_IOS_WHATS_NEW_FEATURE_SEARCH_TABS_STEP_3</string>
            </array>
            <key>HasPrimaryAction</key>
            <false/>
            <key>PrimaryActionTitle</key>
            <string></string>
            <key>LearnMoreUrlString</key>
            <string>https://support.google.com/chrome/?p=bling_use_tabs</string>
        </dict>
        <dict>
            <key>Type</key>
            <integer>1</integer>
            <key>Title</key>
            <string>IDS_IOS_WHATS_NEW_FEATURE_NEW_MENU_TITLE</string>
            <key>Subtitle</key>
            <string>IDS_IOS_WHATS_NEW_FEATURE_NEW_MENU_SUBTITLE</string>
            <key>HeroBannerImageName</key>
            <string></string>
            <key>BannerImageName</key>
            <string>new_overflow_menu_banner</string>
            <key>IconImageName</key>
            <string>ellipsis</string>
            <key>IconBackgroundColor</key>
            <string>blue</string>
            <key>IsSymbol</key>
            <true/>
            <key>InstructionSteps</key>
            <array>
            <string>IDS_IOS_WHATS_NEW_FEATURE_NEW_MENU_STEP_1</string>
            <string>IDS_IOS_WHATS_NEW_FEATURE_NEW_MENU_STEP_2</string>
            </array>
            <key>HasPrimaryAction</key>
            <false/>
            <key>PrimaryActionTitle</key>
            <string></string>
            <key>LearnMoreUrlString</key>
            <string></string>
        </dict>
        <dict>
            <key>Type</key>
            <integer>2</integer>
            <key>Title</key>
            <string>IDS_IOS_WHATS_NEW_FEATURE_SHARE_HIGHLIGHT_TITLE</string>
            <key>Subtitle</key>
            <string>IDS_IOS_WHATS_NEW_FEATURE_SHARE_HIGHLIGHT_SUBTITLE</string>
            <key>HeroBannerImageName</key>
            <string></string>
            <key>BannerImageName</key>
            <string>shared_highlighting_banner</string>
            <key>IconImageName</key>
            <string>square.and.arrow.up</string>
            <key>IconBackgroundColor</key>
            <string>pink</string>
            <key>IsSymbol</key>
            <true/>
            <key>InstructionSteps</key>
            <array>
            <string>IDS_IOS_WHATS_NEW_FEATURE_SHARE_HIGHLIGHT_STEP_1</string>
            <string>IDS_IOS_WHATS_NEW_FEATURE_SHARE_HIGHLIGHT_STEP_2</string>
            <string>IDS_IOS_WHATS_NEW_FEATURE_SHARE_HIGHLIGHT_STEP_3</string>
            </array>
            <key>HasPrimaryAction</key>
            <false/>
            <key>PrimaryActionTitle</key>
            <string></string>
            <key>LearnMoreUrlString</key>
            <string>https://support.google.com/chrome/?p=bling_share_highlight</string>
        </dict>
        <dict>
            <key>Type</key>
            <integer>3</integer>
            <key>Title</key>
            <string>IDS_IOS_WHATS_NEW_FEATURE_ADD_PASSWORDS_MANUALLY_TITLE</string>
            <key>Subtitle</key>
            <string>IDS_IOS_WHATS_NEW_FEATURE_ADD_PASSWORDS_MANUALLY_SUBTITLE</string>
            <key>HeroBannerImageName</key>
            <string></string>
            <key>BannerImageName</key>
            <string>add_passwords_manually_banner</string>
            <key>IconImageName</key>
            <string>password</string>
            <key>IconBackgroundColor</key>
            <string>yellow</string>
            <key>IsSymbol</key>
            <false/>
            <key>InstructionSteps</key>
            <array>
            <string>IDS_IOS_WHATS_NEW_FEATURE_ADD_PASSWORDS_MANUALLY_STEP_1</string>
            <string>IDS_IOS_WHATS_NEW_FEATURE_ADD_PASSWORDS_MANUALLY_STEP_2</string>
            <string>IDS_IOS_WHATS_NEW_FEATURE_ADD_PASSWORDS_MANUALLY_STEP_3</string>
            </array>
            <key>HasPrimaryAction</key>
            <true/>
            <key>PrimaryActionTitle</key>
            <string>IDS_IOS_WHATS_NEW_FEATURE_ADD_PASSWORDS_MANUALLY_BUTTON_TITLE</string>
            <key>LearnMoreUrlString</key>
            <string>https://support.google.com/chrome/?p=bling_add_password</string>
        </dict>
    </array>
   <key>ChromeTips</key>
    <array>
        <dict>
            <key>Type</key>
            <integer>4</integer>
            <key>Title</key>
            <string>IDS_IOS_WHATS_CHROME_TIP_CHROME_DEFAULT_TITLE</string>
            <key>Subtitle</key>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_CHROME_DEFAULT_SUBTITLE</string>
            <key>HeroBannerImageName</key>
            <string>chrome_by_default_hero_banner</string>
            <key>BannerImageName</key>
            <string>use_chrome_by_default_banner</string>
            <key>IconImageName</key>
            <string>fullcolor_branding_icon</string>
            <key>IconBackgroundColor</key>
            <string>white</string>
            <key>IsSymbol</key>
            <false/>
            <key>InstructionSteps</key>
            <array>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_CHROME_DEFAULT_STEP_1</string>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_CHROME_DEFAULT_STEP_2</string>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_CHROME_DEFAULT_STEP_3</string>
            </array>
            <key>HasPrimaryAction</key>
            <true/>
            <key>PrimaryActionTitle</key>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_CHROME_DEFAULT_BUTTON_TITLE</string>
            <key>LearnMoreUrlString</key>
            <string>https://support.google.com/chrome/?p=bling_default_browser</string>
        </dict>
        <dict>
            <key>Type</key>
            <integer>5</integer>
            <key>Title</key>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_PASSWORDS_IN_OTHER_APPS_TITLE</string>
            <key>Subtitle</key>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_PASSWORDS_IN_OTHER_APPS_SUBTITLE</string>
            <key>HeroBannerImageName</key>
            <string>passwords_in_other_apps_hero_banner</string>
            <key>BannerImageName</key>
            <string>passwords_in_other_apps_banner</string>
            <key>IconImageName</key>
            <string>password</string>
            <key>IconBackgroundColor</key>
            <string>yellow</string>
            <key>IsSymbol</key>
            <false/>
            <key>InstructionSteps</key>
            <array>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_PASSWORDS_IN_OTHER_APPS_STEP_1</string>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_PASSWORDS_IN_OTHER_APPS_STEP_2</string>
            </array>
            <key>HasPrimaryAction</key>
            <true/>
            <key>PrimaryActionTitle</key>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_PASSWORDS_IN_OTHER_APPS_BUTTON_TITLE</string>
            <key>LearnMoreUrlString</key>
            <string>https://support.google.com/chrome/?p=bling_saved_passwords</string>
        </dict>
        <dict>
            <key>Type</key>
            <integer>6</integer>
            <key>Title</key>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_AUTOFILL_TITLE</string>
            <key>Subtitle</key>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_AUTOFILL_SUBTITLE</string>
            <key>HeroBannerImageName</key>
            <string>autofill_hero_banner</string>
            <key>BannerImageName</key>
            <string>autofill_banner</string>
            <key>IconImageName</key>
            <string>pencil.and.ellipsis.rectangle</string>
            <key>IconBackgroundColor</key>
            <string>blue</string>
            <key>IsSymbol</key>
            <true/>
            <key>InstructionSteps</key>
            <array>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_AUTOFILL_STEP_1</string>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_AUTOFILL_STEP_2</string>
            <string>IDS_IOS_WHATS_NEW_CHROME_TIP_AUTOFILL_STEP_3</string>
            </array>
            <key>HasPrimaryAction</key>
            <false/>
            <key>PrimaryActionTitle</key>
            <string></string>
            <key>LearnMoreUrlString</key>
            <string>https://support.google.com/chrome/?p=bling_autofill</string>
        </dict>
    </array>
</dict>
</plist>
