<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Features</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>18</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_PACKAGETRACKING_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_PACKAGETRACKING_SUBTITLE</string>
			<key>ImageName</key>
			<string>PackageTracking</string>
			<key>ImageTexts</key>
			<dict>
				<key>Track this Package?</key>
				<string>IDS_IOS_WHATS_NEW_PACKAGETRACKING_SCREENSHOT_TEXT_1</string>
				<key>Track</key>
				<string>IDS_IOS_WHATS_NEW_PACKAGETRACKING_SCREENSHOT_TEXT_2</string>
				<key>Your shipment</key>
				<string>IDS_IOS_WHATS_NEW_PACKAGETRACKING_SCREENSHOT_TEXT_3</string>
				<key>Estimated delivery</key>
				<string>IDS_IOS_WHATS_NEW_PACKAGETRACKING_SCREENSHOT_TEXT_4</string>
			</dict>
			<key>IconImageName</key>
			<string>shippingbox</string>
			<key>IconBackgroundColor</key>
			<string>green</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_PACKAGETRACKING_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_PACKAGETRACKING_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_PACKAGETRACKING_INSTRUCTIONS_STEP_3</string>
			</array>
			<key>PrimaryAction</key>
			<integer>0</integer>
			<key>LearnMoreUrlString</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>19</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_PASSWORDSHARING_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_PASSWORDSHARING_SUBTITLE</string>
			<key>ImageName</key>
			<string>PasswordSharing</string>
			<key>ImageTexts</key>
			<dict>
				<key>Share Your Passwords</key>
				<string>IDS_IOS_WHATS_NEW_PASSWORDSHARING_SCREENSHOT_TEXT_1</string>
				<key>Share</key>
				<string>IDS_IOS_WHATS_NEW_PASSWORDSHARING_SCREENSHOT_TEXT_2</string>
			</dict>
         <key>IconImageName</key>
         <string>multicolor_password</string>
         <key>IsSymbol</key>
         <true/>
         <key>IsSystemSymbol</key>
         <false/>
         <key>IsMulticolorSymbol</key>
         <true/>
         <key>InstructionSteps</key>
         <array>
				<string>IDS_IOS_WHATS_NEW_PASSWORDSHARING_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_PASSWORDSHARING_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_PASSWORDSHARING_INSTRUCTIONS_STEP_3</string>
				<string>IDS_IOS_WHATS_NEW_PASSWORDSHARING_INSTRUCTIONS_STEP_4</string>
				<string>IDS_IOS_WHATS_NEW_PASSWORDSHARING_INSTRUCTIONS_STEP_5</string>
			</array>
			<key>PrimaryAction</key>
			<integer>7</integer>
			<key>LearnMoreUrlString</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>20</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_CUSTOMIZABLEOVERFLOWMENU_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_CUSTOMIZABLEOVERFLOWMENU_SUBTITLE</string>
			<key>ImageName</key>
			<string>CustomizableOverflowMenu</string>
			<key>ImageTexts</key>
			<dict>
				<key>Hide</key>
				<string>IDS_IOS_WHATS_NEW_CUSTOMIZABLEOVERFLOWMENU_SCREENSHOT_TEXT_1</string>
				<key>Customize</key>
				<string>IDS_IOS_WHATS_NEW_CUSTOMIZABLEOVERFLOWMENU_SCREENSHOT_TEXT_2</string>
			</dict>
			<key>IconImageName</key>
			<string>filemenu.and.selection</string>
			<key>IconBackgroundColor</key>
			<string>pink</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_CUSTOMIZABLEOVERFLOWMENU_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_CUSTOMIZABLEOVERFLOWMENU_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_CUSTOMIZABLEOVERFLOWMENU_INSTRUCTIONS_STEP_3</string>
				<string>IDS_IOS_WHATS_NEW_CUSTOMIZABLEOVERFLOWMENU_INSTRUCTIONS_STEP_4</string>
			</array>
			<key>PrimaryAction</key>
			<integer>0</integer>
			<key>LearnMoreUrlString</key>
			<string></string>
		</dict>
	</array>
	<key>ChromeTips</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>4</integer>
			<key>Title</key>
			<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_TITLE_TEXT</string>
			<key>Subtitle</key>
			<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_SUBTITLE_TEXT</string>
			<key>ImageName</key>
			<string>default_browser_animation</string>
			<key>ImageTexts</key>
			<dict>
				<key>IDS_DEFAULT_BROWSER_APP</key>
				<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_DEFAULT_BROWSER_APP</string>
				<key>IDS_DEFAULT_BROWSER_APP_2</key>
				<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_DEFAULT_BROWSER_APP</string>
				<key>IDS_CHROME</key>
				<string>IDS_IOS_SHORT_PRODUCT_NAME</string>
				<key>IDS_CHROME_SETTINGS</key>
				<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_APP_SETTINGS</string>
			</dict>
			<key>IconImageName</key>
			<string>multicolor_chromeball</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsMulticolorSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_FIRST_RUN_DEFAULT_BROWSER_SCREEN_FIRST_STEP</string>
				<string>IDS_IOS_FIRST_RUN_DEFAULT_BROWSER_SCREEN_SECOND_STEP</string>
				<string>IDS_IOS_FIRST_RUN_DEFAULT_BROWSER_SCREEN_THIRD_STEP</string>
			</array>
			<key>PrimaryAction</key>
			<integer>1</integer>
			<key>LearnMoreUrlString</key>
			<string>https://support.google.com/chrome/?p=bling_default_browser</string>
		</dict>
	</array>
</dict>
</plist>
