<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Features</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>12</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_LENSSEARCH_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_LENSSEARCH_SUBTITLE</string>
			<key>ImageName</key>
			<string>LensSearch</string>
			<key>ImageTexts</key>
			<dict>
				<key>n/a</key>
				<string>IDS_IOS_WHATS_NEW_LENSSEARCH_SCREENSHOT_TEXT_1</string>
			</dict>
			<key>IconImageName</key>
			<string>magnifyingglass</string>
			<key>IconBackgroundColor</key>
			<string>yellow</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>IsIphoneOnly</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_LENSSEARCH_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_LENSSEARCH_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_LENSSEARCH_INSTRUCTIONS_STEP_3</string>
			</array>
			<key>PrimaryAction</key>
			<integer>5</integer>
			<key>LearnMoreUrlString</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>13</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_BOTTOMOMNIBOX_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_BOTTOMOMNIBOX_SUBTITLE</string>
			<key>ImageName</key>
			<string>BottomOmnibox</string>
			<key>ImageTexts</key>
			<dict>
				<key>Move Address Bar</key>
				<string>IDS_IOS_WHATS_NEW_BOTTOMOMNIBOX_SCREENSHOT_TEXT_1</string>
				<key>Copy Link</key>
				<string>IDS_IOS_WHATS_NEW_BOTTOMOMNIBOX_SCREENSHOT_TEXT_2</string>
			</dict>
			<key>IconImageName</key>
			<string>circle</string>
			<key>IconBackgroundColor</key>
			<string>blue</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>IsIphoneOnly</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_BOTTOMOMNIBOX_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_BOTTOMOMNIBOX_INSTRUCTIONS_STEP_2</string>
			</array>
			<key>PrimaryAction</key>
			<integer>0</integer>
			<key>LearnMoreUrlString</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>14</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_ESB_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_ESB_SUBTITLE</string>
			<key>ImageName</key>
			<string>ESB</string>
			<key>ImageTexts</key>
			<dict>
				<key>Enhanced Protection</key>
				<string>IDS_IOS_WHATS_NEW_ESB_SCREENSHOT_TEXT_1</string>
				<key>Standard Protection</key>
				<string>IDS_IOS_WHATS_NEW_ESB_SCREENSHOT_TEXT_2</string>
				<key>No Protection</key>
				<string>IDS_IOS_WHATS_NEW_ESB_SCREENSHOT_TEXT_3</string>
			</dict>
			<key>IconImageName</key>
			<string>bell</string>
			<key>IconBackgroundColor</key>
			<string>pink</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_ESB_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_ESB_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_ESB_INSTRUCTIONS_STEP_3</string>
			</array>
			<key>PrimaryAction</key>
			<integer>2</integer>
			<key>LearnMoreUrlString</key>
			<string></string>
		</dict>
	</array>
	<key>ChromeTips</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>4</integer>
			<key>Title</key>
			<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_TITLE_TEXT</string>
			<key>Subtitle</key>
			<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_SUBTITLE_TEXT</string>
			<key>ImageName</key>
			<string>default_browser_animation</string>
			<key>ImageTexts</key>
			<dict>
				<key>IDS_DEFAULT_BROWSER_APP</key>
				<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_DEFAULT_BROWSER_APP</string>
				<key>IDS_DEFAULT_BROWSER_APP_2</key>
				<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_DEFAULT_BROWSER_APP</string>
				<key>IDS_CHROME</key>
				<string>IDS_IOS_SHORT_PRODUCT_NAME</string>
				<key>IDS_CHROME_SETTINGS</key>
				<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_APP_SETTINGS</string>
			</dict>
			<key>IconImageName</key>
			<string>multicolor_chromeball</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsMulticolorSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_FIRST_RUN_DEFAULT_BROWSER_SCREEN_FIRST_STEP</string>
				<string>IDS_IOS_FIRST_RUN_DEFAULT_BROWSER_SCREEN_SECOND_STEP</string>
				<string>IDS_IOS_FIRST_RUN_DEFAULT_BROWSER_SCREEN_THIRD_STEP</string>
			</array>
			<key>PrimaryAction</key>
			<integer>1</integer>
			<key>LearnMoreUrlString</key>
			<string>https://support.google.com/chrome/?p=bling_default_browser</string>
		</dict>
	</array>
</dict>
</plist>
