<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
       <key>CFBundleDevelopmentRegion</key>
       <string>en</string>
       <key>CFBundleSignature</key>
       <string>????</string>
       <key>CFBundleExecutable</key>
       <string>${EXECUTABLE_NAME}</string>
       <key>CFBundleIconFile</key>
       <string>app.icns</string>
       <key>CFBundleIdentifier</key>
       <string>${APP_MODE_APP_BUNDLE_ID}</string>
       <key>CFBundleInfoDictionaryVersion</key>
       <string>6.0</string>
       <key>CFBundleName</key>
       <string>@APP_MODE_SHORTCUT_ID@</string>
       <key>CFBundlePackageType</key>
       <string>APPL</string>
       <key>CrAppModeShortcutID</key>
       <string>@APP_MODE_SHORTCUT_ID@</string>
       <key>CrAppModeShortcutName</key>
       <string>@APP_MODE_SHORTCUT_NAME@</string>
       <key>CrAppModeShortcutURL</key>
       <string>@APP_MODE_SHORTCUT_URL@</string>
       <key>CrBundleIdentifier</key>
       <string>@APP_MODE_BROWSER_BUNDLE_ID@</string>
       <key>LSEnvironment</key>
       <dict>
              <key>MallocNanoZone</key>
              <string>0</string>
       </dict>
       <key>LSMinimumSystemVersion</key>
       <string>${CHROMIUM_MIN_SYSTEM_VERSION}</string>
       <key>NSAppleScriptEnabled</key>
       <true/>
</dict>
</plist>
