/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_style_lit.css.js
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=./shared_vars.css.js
 * #include=cr-shared-style-lit
 * #css_wrapper_metadata_end */

a[href] {
  color: var(--cr-link-color);
}

.activity-message {
  color: var(--md-loading-message-color);
  font-size: 123%;  /* Should be 16px when 100% is 13px. */
  font-weight: 500;
  margin-top: 80px;
  text-align: center;
}

.activity-subpage-header {
  display: flex;
  justify-content: flex-end;
  padding: 12px 12px;
}

.activity-table-headings {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  margin-inline-end: auto;

  /* Match separator height. */
  min-height: calc(var(--cr-section-min-height) - var(--separator-gap));
  padding: 0 var(--cr-section-padding);
}

.clear-activities-button {
  margin: 0 8px;
}

.matching-restricted-sites-warning {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
}

.matching-restricted-sites-warning cr-icon {
  fill: var(--warning-color);
  margin-inline-end: 8px;
  min-height: var(--cr-icon-size);
  min-width: var(--cr-icon-size);
}

.page-container {
  height: 100%;
}

.page-content {
  background-color: var(--cr-card-background-color);
  box-shadow: var(--cr-card-shadow);
  box-sizing: border-box;
  margin: auto;
  min-height: 100%;
  padding-bottom: 64px;
  width: var(--cr-toolbar-field-width);
}

.page-header {
  align-items: center;
  display: flex;
  height: 40px;
  margin-bottom: 12px;
  padding: 8px 12px 0;
}

.link-icon-button {
  align-items: center;
  display: flex;
  justify-content: center;
}

.separator {
  border-inline-start: var(--cr-separator-line);
  flex-shrink: 0;

  /* Section height - gap. */
  height: calc(var(--cr-section-min-height) - var(--separator-gap));
  margin-inline-end: var(--cr-section-padding);

  /* Makes the tappable area fill its parent.
   * TODO(crbug.com/41451251): This is an explicit reminder to override
   * once .separator styling is extracted from settings. */
  margin-inline-start: 0;
}

.site-favicon {
  background-size: 100% 100%;
  height: var(--cr-icon-size);
  min-width: var(--cr-icon-size);
}

.panel-title {
  font-size: 15px;
  font-weight: 400;
  margin: 0 0 16px 5px;
}

.panel-background {
  background-color: var(--cr-card-background-color);
  border-radius: var(--cr-card-border-radius);
  box-shadow: var(--cr-card-shadow);
  padding: 0px var(--cr-section-padding);
  container-type: inline-size;
}

.panel-header {
  align-items: center;
  display: flex;
  padding: var(--cr-section-padding) 0px;
}

.panel-header-text {
  padding-inline-start: 20px;
}

.panel-header-text h3 {
  margin: 0;
  font-weight: 400;
}

.panel-header-icon {
  align-items: center;
  fill: var(--panel-icon-color);
}

.panel-extensions {
  border-top: var(--cr-separator-line);
  /* Extension rows have a min height that adds extra padding. Thus, we
     subtract an adjustment to account for it */
  padding: calc(var(--cr-section-padding) - 6px) 0px;
}

.panel-extension-row {
  border-top: none;
}

.panel-extension-info {
  padding-inline-start: 18px;
  margin-inline: 8px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-extension-icon {
  height: var(--cr-icon-size);
  width: var(--cr-icon-size);
}

/* Reformat panel when the panel is the width of one extension card */
/* clean-css ignore:start */
@container (max-width:450px) {
  .panel-header-icon {
    display: none;
  }

  .panel-header-text {
    padding-inline-start: 0;
  }
}
/* clean-css ignore:end */
