{% extends "content/shell/android/shell_apk/AndroidManifest.xml.jinja2" %}

# Copyright 2019 The Chromium Authors. All rights reserved.
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

{% block application_label %}Content Shell Test{% endblock %}

{% block extra_uses_permissions %}
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
{% endblock %}

{% block extra_application_definitions_for_test %}
        <uses-library android:name="android.test.runner" />
        <activity android:name="org.chromium.test.broker.OnDeviceInstrumentationBroker"
            android:exported="true"/>
{% endblock %}

{% block extra_root_definitions %}
    <instrumentation android:name="org.chromium.base.test.BaseChromiumAndroidJUnitRunner"
        android:targetPackage="{{manifest_package}}"
        android:label="JUnit4-based tests for content shell" />
{% endblock %}
