/* Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: var(--cros-sys-app_base_shaded);
}

body.fullscreen-preview-transition {
  opacity: 1;
  transition-duration: 200ms;
  transition-property: background-color, opacity;
  transition-timing-function: ease-in;
}

body.fullscreen-preview {
  background-color: transparent;
  opacity: 0;
}
