/* Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* This file should only contain <html> or <body> level styles. Element-level
 * styles belong in the element's template HTML or in a shared CSS style module.
 */

/* Override default values from settings_vars.css. The :not(body) selector
 * produces higher specificity and allows the variable definitions below to
 * "win" against the shared ones. These can be overridden by setting it from a
 * specific element.
 */
html:not(body) {
  --iron-icon-fill-color: var(--cros-icon-color-primary);
  --cr-focus-outline-color: var(--cros-focus-ring-color);
  --cr-focused-item-color: var(--cros-highlight-color-focus);
  --cr-link-row-start-icon-color: var(--cros-icon-color-primary);
  --cr-primary-text-color: var(--cros-text-color-primary);
  --cr-secondary-text-color: var(--cros-text-color-secondary);
  --cr-tooltip-icon-fill-color: var(--cros-icon-color-primary);
}

html {
  background-color: var(--settings-base-bg-color);
  overflow: hidden;
  /* Remove 300ms delay for 'click' event, when using touch interface. */
  touch-action: manipulation;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  /* Override default font from text_defaults_md.css. */
  font: var(--cros-body-2-font);
}
