<?xml version="1.0" encoding="utf-8"?>

<!--
Copyright 2022 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.webengine.sandbox">

    <application android:label="WESandbox">

        <service android:name="org.chromium.weblayer.BrowserSandboxService"
                android:exported="true" >
            <intent-filter>
                <action android:name="org.chromium.weblayer.intent.action.BROWSERSANDBOX" />
            </intent-filter>
        </service>

        <service android:name="org.chromium.weblayer.BrowserInProcessService"
                android:exported="false" >
            <intent-filter>
                <action android:name="org.chromium.weblayer.intent.action.BROWSERINPROCESS" />
            </intent-filter>
        </service>
         <service android:name="org.chromium.weblayer.MediaSessionService"
            android:foregroundServiceType="mediaPlayback"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>



      <meta-data android:name="org.chromium.weblayer.skipOriginVerification" android:value="false" />
      <meta-data android:name="org.chromium.weblayer.strictLocalhostVerification" android:value="true" />

      <!-- TODO(rayankans): Make this a template. -->
      <meta-data android:name="org.chromium.weblayer.WebLayerPackage"
                 android:value="org.chromium.weblayer.support"/>

    </application>
</manifest>
