<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2015 Google Inc. All Rights Reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

         http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="org.chromium.customtabsclient"
    android:versionCode="1"
    android:versionName="1.0" >

   <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="false"
        android:theme="@style/Theme.App.DayNight" >

        <activity
            android:name="org.chromium.customtabsclient.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"
                    android:host="www.example.com"
                    android:pathPrefix="/notifications"/>
            </intent-filter>

        </activity>
        <service
            android:name=".shared.KeepAliveService"
            android:exported="true"/>
        <receiver android:name=".BottomBarManager"/>
        <receiver android:name=".BottomBarManager$SwipeUpReceiver"/>


        <service
            android:name="android.support.customtabs.trusted.TrustedWebActivityService"
            android:enabled="true"
            android:exported="true">

            <meta-data android:name="android.support.customtabs.trusted.SMALL_ICON"
                android:resource="@drawable/ic_notification_icon" />

            <intent-filter>
                <action android:name="android.support.customtabs.trusted.TRUSTED_WEB_ACTIVITY_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
    </application>
    <queries>
        <package android:name="org.chromium.chrome" />
        <package android:name="com.google.android.apps.chrome" />
        <package android:name="com.chrome.canary" />
        <package android:name="com.chrome.dev" />
        <package android:name="com.chrome.beta" />
        <package android:name="com.android.chrome" />
    </queries>
</manifest>
