/* Copyright 2020 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: rgb(48, 57, 66);
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  font-size: 13px;
  margin: 15px;
  overflow: auto;
}

h1 {
  color: rgb(92, 97, 102);
  font-size: 1.5rem;
  padding-bottom: 10px;
}

#feature-status-content {
  font-weight: bold;
}

#feature-status-content.disabled {
  color: red;
}

main {
  border-top: 1px solid rgb(48, 57, 66);
  margin-top: 1rem;
  padding-top: 1rem;
}

.content {
  background-color: #fbfbfb;
  border: 1px solid #cecece;
  border-radius: 3px;
  line-height: 1.5;
  padding: 19px;
}

button {
  font: inherit;
  margin-inline-end: 30px;
}

div[slot='tab']::before {
  color: transparent;
  content: '⬤ ';
}

div[slot='tab'].unread::before {
  color: rgb(26,115,232);
}
