/* Copyright 2020 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  color: rgb(48, 57, 66);
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin: 1rem;
  overflow: auto;
}

#feature-status-content.disabled {
  color: red;
}

cr-tab-box, cr-tab-box * {
  max-width: 100%;
}

attribution-internals-table {
  overflow-x: auto;
}

div[slot='panel'] {
  background-color: #fbfbfb;
  padding-top: 1rem;
}

.controls {
  padding-bottom: 1rem;
}

button {
  font: inherit;
  margin-inline-end: 30px;
}

div[slot='tab']::before {
  color: transparent;
  content: '⬤ ';
}

div[slot='tab'].unread::before {
  color: rgb(26,115,232);
}
