/* Copyright 2020 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

* {
  box-sizing: border-box;
}

body {
  color: rgb(48, 57, 66);
  display: flex;
  flex-direction: column;
  font-size: 13px;
  height: 100vh;
  margin: 0;
}

header {
  padding: 1rem 1rem 0 1rem;
}

cr-tab-box {
  flex: 1;
  width: 100%;
  min-height: 0;
}

attribution-internals-table {
  width: 100%;
  overflow: auto;
}

div[slot='panel'][selected] {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 1rem;
}

.controls {
  padding-bottom: 1rem;
}

button {
  font: inherit;
  margin-inline-end: 30px;
}

div[slot='tab']::before {
  color: transparent;
  content: '⬤ ';
}

div[slot='tab'].unread::before {
  color: rgb(26,115,232);
}
