/**
 * Styles that are shared between the iframe and the parent document.
 */
body {
  font-family: arial, sans-serif;
  font-size: 11px;
}
.item_title {
  color: #2244D2;
  font-size: 20px;
  font-weight:bold;
  text-decoration: none;
}
.item_desc {
  font-size: 12px;
}
