/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  display: block;
  width: 100%;
  height: 100%;
}

:host(.background-visible) {
  background: linear-gradient(158.37deg, rgba(33, 123, 254, 0.25) 16.24%, rgba(7, 142, 251, 0.25) 36.54%, rgba(161, 144, 255, 0.25) 74.67%, rgba(189, 153, 254, 0.25) 91.45%);
  cursor: not-allowed;
}

#magicCursor {
  opacity: 0;
  position: fixed;
  width: 40px;
  height: 40px;
  background-image: url('magic_cursor.svg');
  background-size: contain;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: 9999;
  transition: transform 0.1s linear, box-shadow 0.2s ease-out;
  transform-origin: 50% 100%;
}
