/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

a {
  color: var(--google-blue-600);
  font-weight: 400;
  text-decoration: none;
}

oobe-dialog {
  height: 100%;
}

cr-dialog {
  --cr-dialog-native: {
    max-width: 640px;
    min-width: 512px;
    width: calc(100% - var(--oobe-dialog-content-padding) * 2);
  }
}

webview {
  user-select: none;
}

.container {
  box-sizing: border-box;
  height: 100%;
  padding-bottom: 0;
  padding-inline-end: var(--oobe-dialog-content-padding);
  padding-inline-start: var(--oobe-dialog-content-padding);
  padding-top: calc(var(--oobe-dialog-content-padding) -
                    var(--caption-bar-height));
  position: absolute;
  width: 100%;
}

.line {
  background-color: rgb(218, 220, 224);
  height: 1px;
  margin: 8px 0 8px 0;
}

.title {
  color: var(--google-grey-900);
  font-family: 'Google Sans', Roboto, sans-serif;
  font-size: 28px;
  padding: 32px 0 16px 0;
}

.sub-title {
  color: var(--google-grey-900);
  font: 13px Roboto, sans-serif;
}

.content {
  color: var(--google-grey-700);
  font: 13px Roboto, sans-serif;
  line-height: 16px;
}

#logo {
  height: 32px;
  margin: 0;
  width: 32px;
}

#next-button {
  margin-inline-end: 0;
}
