/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

@media screen and (orientation: portrait) {
  oobe-adaptive-dialog {
    --oobe-adaptive-dialog-content-top-padding: 0;
  }
}

:host-context(html:not([new-layout])) #animation-container {
  display: none;
}

#intro-text {
  padding: 0 8px 16px 0;
}

#footer-text {
  padding-top: 16px;
}

#overlay-text {
  box-sizing: border-box;
  font-size: 13px;
  margin: auto;
  min-height: 200px;
  padding: 16px;
  width: 100%;
}

#overlay-title-text {
  font-size: 15px;
}

#overlay-additional-info-text {
  color: rgb(128, 134, 139);
  line-height: 20px;
  padding-top: 20px;
}

#overlay-close-button {
  margin-inline-end: 0;
}

oobe-text-button[disabled] {
  pointer-events: none;
}
