/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

a {
  color: var(--google-blue-600);
  font-weight: 400;
  text-decoration: none;
}

oobe-dialog {
  height: 100%;
}

cr-dialog::part(dialog)  {
  max-width: 640px;
  min-width: 512px;
  width: calc(100% - var(--oobe-dialog-content-padding) * 2);
}

oobe-adaptive-dialog {
  --oobe-adaptive-dialog-header-top-padding:
      calc(var(--oobe-adaptive-dialog-content-padding) -
           var(--caption-bar-height));
  --oobe-dialog-header-padding-top: calc(var(--oobe-dialog-content-padding) -
           var(--caption-bar-height));
}

webview {
  user-select: none;
}

@media screen and (orientation: landscape) {
  oobe-adaptive-dialog {
    --oobe-adaptive-dialog-content-top-padding:
        calc(var(--oobe-adaptive-dialog-content-padding) -
             var(--caption-bar-height));
  }

  :host-context(html[new-layout]) .container {
    padding-top: 72px;
  }
}

.line {
  background-color: rgb(218, 220, 224);
  height: 1px;
  margin: 8px 0 8px 0;
}

.content {
  color: var(--google-grey-700);
  font: 13px Roboto, sans-serif;
  line-height: 16px;
}

#next-button {
  margin-inline-end: 0;
}
