/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#intro-text {
  padding-bottom: 48px;
}

.vertical-line {
  background-color: rgb(218, 220, 224);
  height: 186px;
  margin: 0 24px 0 24px;
  width: 1px;
}

#ready-image-container {
  width: 50%;
}

#toggles-container {
  width: 50%;
}

@media screen and (max-height: 736px) {
  #intro-text {
    padding-bottom: 24px;
  }
}

@media screen and (max-height: 536px) {
  #intro-text {
    padding-bottom: 16px;
  }

  #ready-img {
    height: 160px;
  }

  .vertical-line {
    height: 160px;
  }
}
