/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=./auto_tab_groups_shared_style.css.js
 * #scheme=relative
 * #include=auto-tab-groups-shared-style
 * #css_wrapper_metadata_end */

.footer {
  background-color: var(--color-bubble-footer-background);
  display: flex;
  flex-direction: column;
  margin: 0 -20px -20px -20px;
  padding: 16px var(--mwb-list-item-horizontal-margin);
}

/* Explicitly provide a hard-coded width for each text block.
 * This ensures accuracy in the auto-tab-groups-page calculation for
 * animating bubble height, as text wraps when rendered offscreen.
 */
.auto-tab-groups-body {
  width: 280px;
}
