/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=chrome://resources/cr_elements/mwb_shared_vars.css.js
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host(:focus) {
  outline: none;
}

#icon {
  flex-shrink: 0;
  height: var(--mwb-icon-size);
  width: var(--mwb-icon-size);
}

#primaryText,
#secondaryText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#primaryText {
  color: var(--cr-primary-text-color);
  font-size: var(--mwb-primary-text-font-size);
  font-weight: var(--mwb-primary-text-font-weight);
  margin-bottom: 3px;
}

#secondaryTextContainer {
  align-items: center;
  color: var(--cr-secondary-text-color);
  display: flex;
  font-size: var(--mwb-secondary-text-font-size);
  font-weight: var(--mwb-secondary-text-font-weight);
}

#textAriaLabel {
  clip: rect(0,0,0,0);
  display: inline-block;
  position: fixed;
}

#groupSvg {
  flex-shrink: 0;
  height: 8px;
  margin-inline-end: 6px;
  width: 8px;
}

#groupDot {
  fill: var(--group-dot-color);
}

.text-container {
  flex-grow: 1;
  overflow: hidden;
  user-select: none;
}

.search-highlight-hit {
  --search-highlight-hit-background-color: none;
  --search-highlight-hit-color: none;
  font-weight: bold;
}

.separator {
  margin-inline-end: 4px;
  margin-inline-start: 4px;
}

#iconContainer {
  align-items: center;
  background: var(--color-list-item-url-favicon-background);
  border-radius: 8px;
  display: flex;
  flex-shrink: 0;
  height: 40px;
  justify-content: center;
  overflow: hidden;
  margin-inline-end: 16px;
  width: 40px;
}
