/* Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #css_wrapper_metadata_end */

.tab-organization-body {
  color: var(--cr-secondary-text-color);
  font-size: 13px;
  font-weight: 400;
}

.tab-organization-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.tab-organization-header {
  color: var(--cr-primary-text-color);
  font-size: 14px;
  font-weight: 500;
}

.tab-organization-text-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
