{
  "description": "Extension for Auto-Update testing",
  "manifest_version": 2,
  "name": "Auto-Update Test",
  "version": "2.0",
  "background": {
    "scripts": ["background.js"]
  },
  "update_url": "$1"
}
