/* Copyright 2014 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
}

div {
  margin: 5px;
}

button {
  margin-inline-end: 5px;
}

/* Header */

#log-checkbox-container button {
  margin-inline-end: 8px;
}

#log-checkbox-container,
label {
  align-items: center;
  display: inline-flex;
}

#log-level-select {
  margin: 0 3px;
  padding: 0 5px;
}

/* Log */

#log-container {
  border: 1px solid rgb(220, 220, 220);
  flex: 1 1 100%;
  font-size: 12px;
  overflow: auto;
  padding: 5px;
}

#log-container p {
  font-family: monospace;
  line-height: 20px;
  margin: 2px;
}

/* Log Level tags  */

.level-tag {
  border: 1px solid;
  border-radius: 2px;
  float: left;
  height: 14px;
  margin-inline-end: 5px;
  margin-top: 2px;
  padding: 0 4px 2px 4px;
  width: 50px;
}

.log-level-error {
  color: red;
}

.log-level-user {
  color: blue;
}

.log-level-event {
  color: black;
}

.log-level-debug {
  color: grey;
}

/* Log Type tags */

.type-tag {
  border: 1px solid;
  border-radius: 2px;
  float: left;
  font-weight: bold;
  height: 14px;
  margin-inline-end: 5px;
  margin-top: 2px;
  padding: 0 4px 2px 4px;
  width: 80px;
}

.log-type-login {
  color: darkgreen;
}

.log-type-network {
  color: darkblue;
}

.log-type-power {
  color: purple;
}
