// Copyright 2025 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.components.supervised_user;

/**
 * Supervised user constants that are shared between C++ and Java.
 */
public final class SupervisedUserConstants {{

{NATIVE_STRINGS}

    // Prevents instantiation.
    private SupervisedUserConstants() {{}}
}}