<?xml version="1.0" encoding="utf-8"?>

<!--
Copyright 2012 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="{{ manifest_package }}">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    {% block extra_uses_permissions %}
    {% endblock %}

    <application android:name="org.chromium.content_shell_apk.ContentShellApplication"
            android:icon="@mipmap/app_icon"
            android:zygotePreloadName="org.chromium.content_public.app.ZygotePreload"
            android:label="{% block application_label %}Content Shell{% endblock %}">
        <activity android:name="org.chromium.content_shell_apk.ContentShellActivity"
                  android:launchMode="singleTask"
                  android:theme="@android:style/Theme.Holo.Light.NoActionBar"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize"
                  android:windowSoftInputMode="adjustResize"
                  android:hardwareAccelerated="true"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <!-- The following service entries exist in order to allow us to
             start more than one sandboxed process. -->

        <!-- NOTE: If you change the values of "android:process" for any of the below services,
             you also need to update kHelperProcessExecutableName in chrome_constants.cc. -->
        {% set num_sandboxed_services = 40 %}
        <meta-data android:name="org.chromium.content.browser.NUM_SANDBOXED_SERVICES"
                   android:value="{{ num_sandboxed_services }}"/>
        {% for i in range(num_sandboxed_services) %}
        <service android:name="org.chromium.content.app.SandboxedProcessService{{ i }}"
                 android:process=":sandboxed_process{{ i }}"
                 {% if (i == 0) %}
                 android:useAppZygote="true"
                 {% endif %}
                 android:isolatedProcess="true"
                 android:exported="false" />
        {% endfor %}

        {% set num_privileged_services = 5 %}
        <meta-data android:name="org.chromium.content.browser.NUM_PRIVILEGED_SERVICES"
                   android:value="{{ num_privileged_services }}"/>
        {% for i in range(num_privileged_services) %}
        <service android:name="org.chromium.content.app.PrivilegedProcessService{{ i }}"
                 android:process=":privileged_process{{ i }}"
                 android:isolatedProcess="false"
                 android:exported="false" />
        {% endfor %}
        <meta-data android:name="org.chromium.content.browser.SMART_CLIP_PROVIDER"
                   android:value="org.chromium.content.browser.SmartClipProvider" />

        <service android:name="org.chromium.content_shell_apk.ChildProcessLauncherTestHelperService"
            android:process=":ChildProcessLauncherHelper" />

        <!-- The following entries are for ChildProcessLauncherTest. They should eventually be moved
             to base. -->
        {% set num_test_services = 2 %}
        <meta-data android:name="org.chromium.content.browser.NUM_TEST_SERVICES"
                   android:value="{{ num_test_services }}"/>
        {% for i in range(num_test_services) %}
        <service android:name="org.chromium.content_shell_apk.TestChildProcessService{{ i }}"
                 android:process=":test_child_service_process{{ i }}"
                 android:isolatedProcess="true"
                 android:exported="false" />
        {% endfor %}
        {% block extra_application_definitions_for_test %}
        {% endblock %}

    </application>
    {% block extra_root_definitions %}
    {% endblock %}
</manifest>
