/* Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

table {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  border: 1px solid black;
}
th {
  border: 1px solid black;
}
.nested-row {
  border-inline-start: 0;
}