/* Copyright 2019 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#arc-detailed-view-overlay {
  background-color: rgb(255, 255, 255);
  border: 1px solid #aaa;
  display: none;
  margin: 0;
  max-height: 50%;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
}

#arc-detailed-view-overlay::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

#arc-detailed-view-overlay::-webkit-scrollbar-thumb {
  background-color: #888;
}

#arc-event-bands {
  margin: 0 auto;
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

#arc-event-band-tooltip {
  background-color: rgb(255, 255, 192);
  border: 1px solid #aaa;
  display: none;
  pointer-events: none;
  position: absolute;
  text-align: start;
  width: 240px;
}

#arc-event-band-tooltip.active,
#arc-detailed-view-overlay.active {
  display: block;
}

#arc-tracing-control-buttons {
  float: right;
}

.arc-cpu-view-title {
  border-bottom: 1px solid #888;
  font-size: 14px;
  margin: 4px 0 4px 0;
}

.arc-events-band {
  border-color: #aaa;
  border-style: solid;
  border-width: 1px;
  display: block;
  padding: 2px;
}

.arc-events-cpu-detailed-band {
  display: block;
  margin: 0 0 4px 0;
}

.arc-events-band-title {
  align-items: center;
  border: none;
  display: flex;
  flex-direction: row;
  left: 0;
  outline: none;
  position: sticky;
  text-align: start;
}

.arc-events-band-title img {
  height: 24px;
  width: 24px;
}

.arc-events-band-title span {
  padding-inline-end: 12px;
  padding-top: 4px;
}

.arc-events-band-title::before {
  content: '\2212';
  float: left;
  font-weight: bold;
  margin-inline-end: 4px;
  padding-top: 4px;
}

.arc-fixed-size-checkbox {
  display: inline-block;
  padding-end: 12px;
}

.arc-fixed-size-checkbox input {
  height: 13px;
  padding: 0;
  position: relative;
  top: -2px;
  vertical-align: bottom;
  width: 13px;
}

.arc-no-mouse-events {
  pointer-events: none;
}

.arc-time-ruler-title {
  display: flex;
  margin-top: 10px;
}

.arc-tracing-app-icon {
  height: 24px;
  vertical-align: text-bottom;
  width: 24px;
}

.arc-tracing-app-commit-deviation,
.arc-tracing-app-duration,
.arc-tracing-app-fps,
.arc-tracing-app-power-total,
.arc-tracing-app-power-cpu,
.arc-tracing-app-power-gpu,
.arc-tracing-app-power-memory,
.arc-tracing-app-render-quality,
.arc-tracing-perceived-fps {
  font-weight: bold;
}

.arc-tracing-close-button {
  color: #777;
  font: 14px;
  position: absolute;
  right: 5px;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 5px;
}

.arc-tracing-close-button::after {
  content: '✖'; /* UTF-8 symbol */
}

.arc-tracing-dot {
  border-radius: 50%;
  height: 16px;
  position: absolute;
  right: 24px;
  width: 16px;
}

.arc-tracing-new-line::before {
  content: '\A';
  white-space: pre;
}

.hidden.arc-events-band-title::before {
  content: '\002B';
}

.hidden.arc-events-band-title input {
  display: none;
}

.hidden.arc-events-band-title label {
  display: none;
}

.hidden.arc-events-band {
  display: none;
}

#arc-overview-tracing-models div {
  border: solid;
  border-width: 1px;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  margin-end: 4px;
  min-width: 330px;
  padding: 4px;
  position: relative;
}
