/* Copyright 2012 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

h2 {
  color: rgb(74, 142, 230);
  font-size: 100%;
  margin-bottom: 0;
}

.zero {
  color: rgb(127, 127, 127);
}

.ok {
  background: rgb(204, 255, 204);
}

tr.header {
  font-weight: bold;
}

div {
  -webkit-column-break-inside: avoid;
  display: inline-block;
  width: 100%;
}

div#signin-info {
  -webkit-columns: 2;
}

div#token-info,
div#cookie-info {
  -webkit-columns: 1;
}

table.signin-details {
  white-space: pre;
  width: 100%;
}

tr:nth-child(odd) {
  background: rgb(239, 243, 255);
}

table.signin-details tr:nth-child(odd).ok {
  background: rgb(204, 243, 204);
}

@-webkit-keyframes highlight1 {
  0% {
    background: rgb(255, 255, 0);
  }
  100% {
    background: rgb(255, 255, 255);
  }
}

@-webkit-keyframes highlight2 {
  0% {
    background: rgb(155, 158, 166);
  }
  100% {
    background: rgb(239, 243, 255);
  }
}

tr[highlighted] {
  -webkit-animation-duration: 3s;
  -webkit-animation-name: highlight1;
  -webkit-animation-timing-function: linear;
}

tr[highlighted]:nth-child(odd) {
  -webkit-animation-duration: 3s;
  -webkit-animation-name: highlight2;
  -webkit-animation-timing-function: linear;
}
