[Unit]
Description=Chrome Remote Desktop instance for %I
After=network.target

[Service]
Type=simple
User=%I
Environment=XDG_SESSION_CLASS=user XDG_SESSION_TYPE=wayland
PAMName=chrome-remote-desktop
ExecStart=/opt/google/chrome-remote-desktop/chrome-remote-desktop --start --new-session --is-wayland
ExecReload=/opt/google/chrome-remote-desktop/chrome-remote-desktop --reload
ExecStop=/opt/google/chrome-remote-desktop/chrome-remote-desktop --stop
# Log output to the journal
StandardOutput=journal
# Use same fd as stdout
StandardError=inherit
# Must be kept in sync with RELAUNCH_EXIT_CODE in linux_me2me_host.py
RestartForceExitStatus=41

[Install]
WantedBy=multi-user.target
