/client-py/
*.bak
*.code-workspace
*.gstmp
*.mk
*.ncb
*.opensdf
*.orig
*.pdb
*.props
*.pyc
*.pyproj
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vc.opendb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*.VC.db
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.android
.ccls-cache
.cipd
.classpath
.code-coverage
.coverage
.cproject
.dir-locals.el
.emulator_sdk
.gdb_history
.gdbinit
.landmines
.metadata
.project
.projectile
.pydevproject
.checkstyle
*.class
compile_commands.json
cscope.*
child_pool-0.profraw
child_pool-1.profraw
child_pool-2.profraw
child_pool-3.profraw
default.profraw
GPATH
GRTAGS
GSYMS
GTAGS
Session.vim
tags
TAGS
Thumbs.db
rust-project.json
v8.log
vs-chromium-project.txt
# Store android emulator artifacts, used by //tools/android/avd/avd.py
/.android_emulator/
/.clangd/
/.clangd-index/
# Settings directories for eclipse
/.externalToolBuilders/
/.settings/
/.vs/
# Visual Studio Code
# No trailing slash to also ignore symlinks, which is useful in conjunction with
# gclient-new-workdir.
.vscode
.vscode-server

/_out
/android_emulator_sdk
/ash/ash_unittests_run.xml
/ash/webui/eche_app_ui/resources/app
/ash/webui/eche_app_ui/resources/prod
/ash/webui/file_manager/resources/tsconfig.json
/ash/webui/help_app_ui/resources/prod
/ash/webui/media_app_ui/resources/prod
/ash/webui/media_app_ui/resources/app
/ash/webui/media_app_ui/resources/pkg
/ash/webui/projector_app/resources/prod
/base/base_unittests_run.xml
/base/tracing/test/data/*
!/base/tracing/test/data/*.sha256
# See build/.gitignore for entries covering src/build.

# The Chrome OS build creates a /c and /c_icu symlink due to http://crbug.com/54866.
/c
/c_icu
/cdm
/ceee/internal/
/chrome/android/profiles/afdo.prof
/chrome/android/profiles/arm.afdo.prof
/chrome/android/profiles/arm.local.txt
/chrome/android/profiles/local.txt
/chrome/angle_unittests_run.xml
/chrome/build/pgo_profiles/
/chrome/gl_tests_run.xml
/chrome/gles2_conform_test_run.xml
/chrome/tab_capture_performance_tests_run.xml
/chrome/telemetry_gpu_test_run.xml
/chrome/browser/chromeos/arc/voice_interaction/internal
/chrome/browser/chromeos/assistant/internal
/chrome/browser/extensions/api/ledger/
/chrome/browser/extensions/default_extensions/chromeos
/chrome/browser/performance_monitor/performance_monitor.xml
/chrome/browser/protector/internal
/chrome/browser/resources/chromeos/mako/resources/
/chrome/browser/resources/pdf/html_office
/chrome/browser/resources/media_router/extension/src/
/chrome/browser/resources/preinstalled_web_apps/internal/
/chrome/browser/resources/media_router_internal/
/chrome/browser/resources/settings_internal/
/chrome/browser/resources/software_rendering_list
# Asset files downloaded by gclient runhooks.
/chrome/browser/resources/vr/assets/google_chrome/*.png
/chrome/browser/resources/vr/assets/google_chrome/*.wav
/chrome/browser/sharing/internal
/chrome/browser/ui/media_router/internal
/chrome/browser_tests_run.xml
/chrome/chrome_cleaner/internal
/chrome/chrome_run.xml
/chrome/chrome_user32_delay_imports.xml
/chrome/chrome_version_resources.xml
/chrome/common/extensions/api/api.xml
/chrome/common/extensions/api/ledger/
/chrome/installer/linux/internal
/chrome/installer/mini_installer.xml
/chrome/installer/mini_installer/mini_installer.aps
/chrome/installer/mini_installer/support
/chrome/installer/mini_installer_tests_run.xml
/chrome/installer_util_strings.xml
/chrome/interactive_ui_tests_run.xml
/chrome/services/soda/internal
/chrome/setup.xml
/chrome/setup_unittests.xml
/chrome/sync_integration_tests_run.xml
/chrome/test/android/telemetry_tests/browser_tests/*.wpr
/chrome/test/chromedriver/third_party/
/chrome/test/chromeos/autotest/files/client/deps/chrome_test/test_src/
/chrome/test/chromeos/autotest/files/client/deps/page_cycler_dep/test_src/
/chrome/test/chromeos/autotest/files/client/deps/perf_data_dep/test_src/
/chrome/test/chromeos/autotest/files/client/deps/pyauto_dep/test_src/
/chrome/test/chromeos/autotest/files/client/deps/telemetry_dep/test_src/
/chrome/test/data/extensions/api_test/permissions/nacl_enabled/bin
/chrome/test/data/firefox2_profile/searchplugins
/chrome/test/data/firefox2_searchplugins
/chrome/test/data/gpu/vectortown_endurance/
/chrome/test/data/gpu/vt/
/chrome/test/data/layout_tests
/chrome/test/data/perf/private/
/chrome/test/data/perf/third_party/
/chrome/test/data/plugin/
/chrome/test/data/vr/
/chrome/test/data/webrtc/resources
/chrome/test/data/xr/ar_playback_datasets/*.mp4
/chrome/test/data/xr/webvr_info/
/chrome/test/python_tests/
/chrome/tools/test/reference_build
/chrome/unit_tests_run.xml
/chrome/web_ui_mojo_bindings.xml
/chromecast/internal
/chromeos/components/help_app_ui/resources/app
/chromeos/components/help_app_ui/resources/prod
/chromeos/profiles/chromeos.arm.orderfile.txt
/chromeos/profiles/chromeos.orderfile.txt
/chromeos/profiles/*.local.txt
/chromeos/profiles/*.afdo.prof
/cipd_cache/
/components/chrome_settings_proto_generated_compile.xml
/components/cloud_policy_proto_generated_compile.xml
/components/gcm_driver.xml
/components/history_clusters/internal
/components/leveldb_proto_test_support.xml
/components/search_engines/prepopulated_engines.xml
/components/suggestions.xml
/components/variations.xml
/components/vector_icons/google_chrome/
/components/zucchini/testdata/*.exe
/content/browser/service_worker/proto.xml
/content/content_browsertests_run.xml
/content/content_common_mojo_bindings.xml
/content/content_unittests_run.xml
/content/test/data/gpu/generated/
/content/test/data/gpu/gpu_reference/
/content/test/data/gpu/mediapipe/
/content/test/data/gpu/mediapipe_zip/mediapipe_chromium_tests.zip
/content/test/data/layout_tests/
/content/test/data/plugin/
/content/test/gpu/.webgpu_typescript/
/content/web_ui_test_mojo_bindings.xml
/data
/delegate_execute
/device/serial/device_serial_mojo.xml
/google_apis/gcm/gcm.xml
/googleurl
/gpu/gles2_conform_test
/infra/.recipe_deps
/ios/third_party/earl_grey/src
/libassistant
/libinteraction
/llvm
/media/cast/logging/cast_logging_proto_lib.xml
/media/media_mojo_bindings.xml
/media/test/data/internal
/metro_driver
/mojo/internal
/net/Debug
/net/net_derived_sources.xml
/net/net_unittests_run.xml
/net/Release
/net/testserver.log
/orderfiles
/out*/
/ppapi/native_client/nacl_irt.xml
/ppapi/native_client/ppapi_lib.xml
/remoting/android/internal/
/remoting/appengine/
/remoting/host/installer/chrome-remote-desktop_*.buildinfo
/remoting/host/installer/linux/internal/
/remoting/ios/internal/
/remoting/internal/
/remoting/proto/chromotocol_proto_lib.xml
/remoting/remoting_core_resources.xml
/remoting/remoting_elevated_controller.xml
/remoting/remoting_host.xml
/remoting/remoting_host_event_logger.xml
/remoting/remoting_host_installation.xml
/remoting/remoting_host_messages.xml
/remoting/remoting_infoplist_strings.xml
/remoting/remoting_lib_idl.xml
/remoting/remoting_lib_rc.xml
/remoting/remoting_me2me_host.xml
/remoting/remoting_native_messaging_manifests.xml
/remoting/remoting_version_resources.xml
/remoting/remoting_windows_resources.xml
/remoting/test/internal/
/remoting/tools/internal/
/remoting/webapp/app_remoting/internal/
/sandbox/linux/seccomp-legacy/
/seccompsandbox
/skia/tools/clusterfuzz-data/
/sql/sql_unittests_run.xml
/sync/sync.xml
/testing/libfuzzer/fuzzer_corpus_for_bots/
/testing/location_tags.json
/testing/rts/
/testserver.log
# See third_party/.gitignore for entries covering src/third_party.
/tools/.bisect-builds-cache.json
/tools/cygprofile/*.wprgo
/tools/distcc
/tools/gn/bin/linux
/tools/gn/bin/mac
/tools/gn/bin/win
/tools/histograms
/tools/json_schema_compiler/test/json_schema_compiler_tests.xml
/tools/metrics/actions/actions.old.xml
/tools/metrics/histograms/histograms.before.pretty-print.xml
/tools/metrics/histograms/metadata/*.before.pretty-print.xml
/tools/metrics/histograms/metadata/*/*.before.pretty-print.xml
/tools/metrics/histograms/enums.before.pretty-print.xml
/tools/bluetooth
/tools/reclient
/tools/skia_goldctl/
/tools/tryserver
/tools/win/link_limiter/build
/ui/file_manager/tsconfig.json
/ui/keyboard/keyboard_mojom_bindings.xml
/ui/gl/resources/angle-metal
/ui/surface/surface.xml
/ui/surface/surface_gpu_tests.xml
/webkit/data
/webpagereplay_logs/
/x86-generic_out/
/xcodebuild

# Ignore any Android RenderTest goldens
**/render_tests/*.png

# Ignore any WPR archive files
**/wpr_tests/*.wprgo

# Ignore IntelliJ files.
.idea/

# Ignore cache folder created by clangd
.cache

# Ignore the default results output directory for tools/run-swarmed.py
/results
