/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=chrome://resources/cr_elements/cr_hidden_style.css.js
 * #import=chrome://resources/cr_elements/cr_shared_style.css.js
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #include=cr-hidden-style
 * #css_wrapper_metadata_end */

:host {
  align-items: center;
  cursor: default;
  display: flex;
  font-size: calc(12/13 * 1em);
  min-height: var(--destination-item-height);
  opacity: .87;
  padding-inline-end: 2px;
  padding-inline-start: 0;
  vertical-align: middle;
}

:host > * {
  align-items: center;
  color: var(--cr-secondary-text-color);
  font-size: calc(10/12 * 1em);
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  white-space: nowrap;
}

:host > span {
  margin-inline-start: 1em;
}

cr-icon {
  --icon-margin: calc((var(--search-icon-size) - var(--iron-icon-width))/2);
  fill: var(--google-grey-600);
  flex: 0;
  height: var(--iron-icon-height);
  margin-inline-end: var(--icon-margin);
  margin-inline-start: var(--icon-margin);
  min-width: var(--iron-icon-width);
  transition: opacity 150ms;
}

@media (prefers-color-scheme: dark) {
  cr-icon {
    fill: var(--google-grey-500);
  }
}

:host .name {
  color: var(--cr-primary-text-color);
  font-size: 1em;
  margin-inline-start: 0;
  /* Matches cr-input-padding-start */
  padding-inline-start: 8px;
}

.extension-controlled-indicator {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  min-width: 150px;
  padding-inline-end: 8px;
}

.extension-icon {
  height: 24px;
  margin-inline-start: 1em;
  width: 24px;
}
