<!doctype html>
<html dir="$i18n{textdirection}" lang="$i18n{language}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>$i18n{app_short_name}</title>
  <link rel="stylesheet" href="../security_interstitials/core/common/resources/interstitial_core.css">
  <link rel="stylesheet" href="../security_interstitials/core/common/resources/interstitial_common.css">
  <link rel="stylesheet" href="web_app_default_offline.css">
</head>
  <body style="font-family: $i18n{fontfamily};font-size:$i18n{fontsize}">
    <img id="icon" src=$i18n{icon_url} class="center icon" alt="$i18n{app_short_name}">
    <div id="default-web-app-msg" class="center-bottom message">$i18n{web_app_default_offline_message}</div>
  </body>
</html>
