/* Copyright 2014 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.CaretBrowsing_Caret {
  position: absolute;
  z-index: 2147483647;
  min-height: 10px;
  background-color: #000;
}

.CaretBrowsing_AnimateCaret {
  position: absolute;
  z-index: 2147483647;
  min-height: 10px;
}

.CaretBrowsing_FlashVert {
  position: absolute;
  z-index: 2147483647;
  background: linear-gradient(
      270deg,
      rgba(128, 128, 255, 0) 0%,
      rgba(128, 128, 255, 0.3) 45%,
      rgba(128, 128, 255, 0.8) 50%,
      rgba(128, 128, 255, 0.3) 65%,
      rgba(128, 128, 255, 0) 100%);
}
