/* Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.large-bold-div {
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5em;
}

span {
  font-size: 1.5em;
  line-height: 1.5em;
}
