<!-- Copyright 2019 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->
<!DOCTYPE html>
<meta charset="utf-8">
<title>Sample System Web App</title>
<header id='title'>Sample System Web App</header>
<br>
<a href="/sandbox.html"><button>Untrusted Sandbox Demo</button></a>
<!-- Below mojo script required to run browser tests -->
<script src="chrome://resources/mojo/mojo/public/js/mojo_bindings_lite.js"></script>
