// Copyright 2021 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.services.network;

/**
 * Contains features that are specific to Network Service.
 */
public final class NetworkServiceFeatures {{

{NATIVE_FEATURES}

    // Do not instantiate this class.
    private NetworkServiceFeatures() {{}}
}}
