/* Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body.view-flash #view-flash {
  background: var(--cros-sys-scrim);
  transition: opacity var(--moderate2-duration);
}

#processing-indicator {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#processing-indicator .icon {
  color: var(--cros-sys-progress);
  height: 40px;
  width: 40px;
}

#processing-indicator .msg {
  color: var(--cros-sys-on_surface);
  font: var(--cros-body-1-font);
  margin-top: 16px;
}

@keyframes show-processing-indicator-with-delay {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body.gif-capture-post-processing.view-flash #processing-indicator {
  animation:
      show-processing-indicator-with-delay
      var(--fast1-duration) ease-in 500ms 1 normal forwards;
  opacity: 0;
}
