/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #scheme=relative
 * #css_wrapper_metadata_end */

/* TODO(crbug.com/461801378): Add styling for non-AIM pages. */

:host {
  --aim-header-height: 66px;
  --cancel-button-inline-end: 16px;
  --cancel-button-top: 12px;
  --composebox-border-radius: 24px;
  --composebox-collapsed-height: 90px;
  --composebox-margin-bottom: 30px;
  --context-carousel-inline-end-spacing: 56px;
  --context-carousel-inline-start-spacing: 20px;
  --context-carousel-top-position: 20px;
  --context-top-carousel-bottom-margin: 0;
  --context-top-carousel-top-margin: 0;
  --composebox-container-height:
    calc(var(--composebox-height) + var(--composebox-dropdown-height)
      + var(--composebox-margin-bottom)
    );
  /* Shared sizing between voice cancel and regular cancel buttons. */
  --composebox-cancel-button-size: 40px;
  --composebox-icon-menu-bottom: 12px;
  --composebox-submit-container-size: 48px;
  --composebox-submit-container-inline-end:
      var(--composebox-last-icon-inline-end);
  --composebox-last-icon-inline-end: 12px;
  --cr-composebox-tool-chip-height: var(--icon-menu-button-size);
  --cr-searchbox-height: 52px;
  --cr-searchbox-min-width: min(calc(100%), 1100px);
  --icon-menu-spacing: 6px;
  --icon-menu-icon-size: 24px;
  --icon-menu-button-size: 40px;
  /* TODO(crbug.com/467758241): Change
   * pdf icon to one without outline just for contextual tasks.
   * Border-radius is temporary fix to hide
   * most of outline.
   */
  --pdf-icon-border-radius: 12px;
  --pdf-icon-size: 16px;
}

/* Composebox default colors are for light mode on AIM results. */
#composeboxContainer {
  --color-composebox-scrim-background: var(--search-background-color);
  --composebox-container-height:
    calc(var(--composebox-height) + var(--composebox-dropdown-height)
    + var(--composebox-margin-bottom));

  align-items: center;
  height: auto;
  justify-content: flex-end;
  min-height: var(--composebox-collapsed-height);
  position: relative;
  /* Do not set pointer-events to none; is inherited by
   * whole composebox + buttons. Width var taken from parent.
   */
  width: 100%;
}

:host(:not([is-zero-state])) #composeboxContainer {
  margin-bottom: var(--composebox-margin-bottom);
}

/* When the composebox is focused, make the background color
 * extend to the top of the screen so that the user can see the full
 * composebox when it is expanded. */
:host([is-composebox-focused])
  #composeboxContainer:has(#composebox[show-dropdown_]) {
  background: linear-gradient(to top,
    rgba(var(--search-background-color-rgb), 1) var(--composebox-container-height),
    rgba(var(--search-background-color-rgb), 0.9) 75vh,
  transparent);
  height: 100%;
  inset-block-start: auto;
  pointer-events: auto;
  position: fixed;
}

:host(:not([input-enabled])) #composebox::part(composebox) {
  opacity: 0.4;
  pointer-events: none;
}

:host(:not([input-enabled])) #composebox::part(input) {
  caret-color: transparent;
}

:host(:not([is-zero-state])) #composebox::before {
  background: var(--search-background-color);
  border-radius: var(--composebox-border-radius);
  content: '';
  display: block;
  /* Expand past the bottom of the composebox.
   * Requires parent to have overflow hidden.
   */
  height: 40vh;
  position: absolute;
  width: 100%;
  z-index: 0;
}

/* Add border in ::after instead of '#composebox' so it
 * is on top of ::before.
 */
#composebox::after {
  content: '';
  position: absolute;
  inset: 0;
  border: 1px solid var(--color-composebox-input-plate-outline);
  border-radius: var(--composebox-border-radius);
  box-sizing: border-box;
  pointer-events: none;
  z-index: 2;
}

#composebox {
  --cr-composebox-font-size: 16px;
  --expanded-border-radius: var(--composebox-border-radius);
  --input-bottom-spacing: 16px;
  --text-input-left-spacing: 24px;
  --text-input-top-spacing: 16px;
  --composebox-context-menu-entrypoint-button-color:
      var(--color-composebox-voice-lens-button);
  --contextual-entrypoint-and-carousel-context-entrypoint-padding-inline-start: 0;

  box-shadow: none;
  box-sizing: border-box;
  display: block;
  max-width: var(--composebox-max-width);
  position: relative;
  /* Fast out (start), slow in (end) box shadow transition. */
  transition: box-shadow 600ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 100%;
  z-index: 1;
}

:host([is-zero-state]) #composebox {
  bottom: auto;
}

:host([is-side-panel]) #composeboxContainer #composebox {
  max-width: var(--composebox-max-width);
  min-width: 200px;
}

#composebox::part(thumbnail) {
  --thumbnail-size_: var(--file-chip-thumbnail-full-size);
  height: var(--thumbnail-size_);
  padding: 0;
  width: var(--thumbnail-size_);
}

:host([is-zero-state]) #composeboxContainer {
  background: transparent;
  display: block;
  position: relative;
}

#composebox::part(g-container) {
  max-height: 40vh;
  padding: 0;
}

#composebox::part(input),
#composebox::part(tool-chip-label),
#composebox::part(file-thumbnail-title) {
  font-family: var(--google-sans-font);
}

#composebox::part(input-container) {
  --input-bottom-spacing: 12px;
  transition: padding-top var(--emphasized-curve);
  transition-duration: var(--collapse-duration);
}

#composebox[expanding_]::part(input-container) {
  transition-duration: var(--expand-duration);
}

#composebox::part(carousel-divider) {
  display: none;
}

#composebox::part(carousel-container) {
  opacity: 0;
}

#composebox[show-file-carousel_][expanding_]::part(carousel-container) {
  opacity: 1;
  transition: var(--icon-entry-transition);
}

#composebox[show-file-carousel_]::part(carousel-container) {
  /* Give room for the close button in the top right. */
  --context-carousel-inline-end-spacing: 56px;
}

#composebox:not([expanding_])[show-file-carousel_]::part(cr-composebox-file-carousel) {
  pointer-events: none;
}

#composebox[show-file-carousel_][expanding_]::part(input-container) {
  padding-top: var(--carousel-height, 60px);
}

#composebox::part(icon-container) {
  display: none;
}

#composebox::part(input) {
  color: var(--color-composebox-font);
}

#composebox::part(input),
#composebox::part(smart-compose) {
  padding-inline-start: var(--g-input-left-spacing);
}

#composebox::part(input)::placeholder {
  color: revert;
}

#composebox::part(context-menu-entrypoint-icon) {
  --cr-icon-button-fill-color: var(--composebox-context-menu-entrypoint-button-color);
  --cr-icon-button-icon-size: var(--icon-menu-icon-size);
  --cr-icon-button-size: var(--icon-menu-button-size);
}

/* Controls cancel and submit buttons. */
#composebox::part(action-icon) {
  --cr-icon-button-hover-background-color: var(--color-composebox-hover);
}

#composebox::part(cancel-icon) {
  --cr-icon-button-fill-color: var(--color-composebox-cancel-button);
  /*
   * Inner icon size of cancel button == cancel button size,
   * unlike other buttons.
   */
  --cr-icon-button-size: var(--composebox-cancel-button-size);
  display: none;
  inset-inline-end: var(--cancel-button-inline-end);
  top: var(--cancel-button-top);
  z-index: 2;
}

/* Only show when text is in there (when can submit). */
#composebox[submit-enabled_]::part(cancel-icon) {
  display: block;
}

#composebox::part(lens-icon) {
  --cr-icon-button-fill-color: var(--color-composebox-voice-lens-button);
  --cr-icon-button-icon-size: var(--icon-menu-icon-size);
  --cr-icon-button-size: var(--icon-menu-button-size);
  /* Override the expanding fade in animation to make the icon appear instantly. */
  animation: none;
  bottom: var(--composebox-icon-menu-bottom);
  display: block;
  inset-inline-end: var(--composebox-last-icon-inline-end);
  position: absolute;
  transition: ease-out 100ms;
}

:host([is-lens-overlay-showing]) #composebox::part(lens-icon) {
  background-color: var(--color-composebox-lens-active-background);
  border-radius: 50%;
}

#composebox[submit-enabled_]::part(lens-icon) {
  inset-inline-end: calc(var(--composebox-submit-container-size)
      + var(--icon-menu-spacing)
      + var(--composebox-submit-container-inline-end));
}

#composebox:not([expanding_])::part(cancel),
#composebox:not([expanding_])::part(submit) {
  pointer-events: none;
}

#composebox::part(label) {
  display: none;
}

/* icon-fade class; applies to submit and cancel. */
#composebox::part(cancel),
#composebox::part(submit) {
  --icon-entry-transition: opacity 600ms
      var(--emphasized-curve, ease) 200ms;
  --icon-exit-transition: opacity 600ms
      var(--emphasized-curve, ease);
}

#composebox::part(submit) {
  /* --cr-icon-button-icon-size changes arrow size;
   * --cr-icon-button-size here changes
   * blue part of submit button. Container-size changes
   * wrapper size around submit button.
   */
  --cr-composebox-submit-container-size:
      var(--composebox-submit-container-size);
  --cr-icon-button-icon-size: 18px;
}

#composebox::part(submit-icon),
#composebox::part(submit-overlay) {
  /* Inline-end to center the button (+ its overlay)
   * (icon size: 40px; button size: 48px. 4px on each side.
   * Bottom 0px since wrapper is aligned at the
   * bottom with other icons (like voice). This,
   * to be aligned, must also be at the bottom.)
   * Position absolute is also from action-icon.
   */
  --cr-icon-button-size: 40px;
  bottom: 0;
  inset-inline-end: 4px;
  inset-inline-start: auto;
  position: absolute;
  top: auto;
}

#composebox[submit-enabled_]::part(submit) {
  bottom: var(--composebox-icon-menu-bottom);
  display: block;
  inset-inline-end: var(--composebox-submit-container-inline-end);
  inset-inline-start: auto;
  position: absolute;
  top: auto;
}

/* TODO(crbug.com/454388827: - Color the tab chips to spec. */
#composebox::part(context-entrypoint) {
  transition-delay: 0ms;
}

#composebox::part(dropdown) {
  --cr-composebox-match-height: 54px;

  background-color: var(--search-background-color);
  bottom: 0;
  flex-direction: column-reverse;
  /* Stack the dropdown on top of the other elements in the composebox. */
  order: -1;
  position: fixed;
  transform: translateY(calc(-1 * (var(--composebox-height) + var(--composebox-margin-bottom))));
  /* composebox-width defined by app.css */
  width: calc(var(--composebox-width, 692px) - 32px);
  z-index: 4;
}

/* Hide the dropdown when the dropdown is not enabled, the dropdown is not showable,
 * or when the composebox is not focused. */
:host(:not([is-composebox-focused])) #composeboxContainer #composebox::part(dropdown),
#composeboxContainer:has(#composebox:not([show-dropdown_])) #composebox::part(dropdown) {
  display: none;
}

#composebox[submit-enabled_]::part(voice-icon) {
  inset-inline-end: calc(var(--composebox-submit-container-size)
      + var(--icon-menu-spacing)
      + var(--composebox-submit-container-inline-end));
}

/* Lens is only shown in side panel, so adjust spacing. */
:host([is-side-panel]) #composebox[submit-enabled_]::part(voice-icon) {
  inset-inline-end: calc(var(--composebox-submit-container-size)
      + var(--icon-menu-button-size)
      + 2 * var(--icon-menu-spacing)
      + var(--composebox-submit-container-inline-end));
}

#composebox::part(voice-icon) {
  --cr-icon-button-fill-color: var(--color-composebox-voice-lens-button);
  --cr-icon-button-icon-size: var(--icon-menu-icon-size);
  --cr-icon-button-size: var(--icon-menu-button-size);
  bottom: var(--composebox-icon-menu-bottom);
  inset-inline-end: var(--composebox-last-icon-inline-end);
  position: absolute;
  top: auto;
  transition: ease-out 100ms;
}

/* Lens is only shown in side panel, so adjust spacing. */
:host([is-side-panel]) #composebox::part(voice-icon) {
  inset-inline-end: calc(
      var(--icon-menu-button-size)
      + var(--icon-menu-spacing)
      + var(--composebox-last-icon-inline-end));
}

/* When Deep Search is active lens buttion is hidden so we move the voice icon to the far right. */
:host([is-side-panel][active-tool-mode_='1']) #composebox::part(voice-icon) {
  inset-inline-end: 14px;
}

/* When Deep Search is active, lens button is hidden, and submit is enabled */
:host([is-side-panel][active-tool-mode_='1']) #composebox[submit-enabled_]::part(voice-icon) {
  inset-inline-end: calc(var(--composebox-submit-container-size)
      + var(--icon-menu-spacing)
      + var(--composebox-submit-container-inline-end));
}

#composebox::part(voice-close-button) {
 --cr-icon-button-size: var(--composebox-cancel-button-size);
 inset-inline-end: var(--cancel-button-inline-end);
 top: var(--cancel-button-top);
}

#composebox[in-voice-search-mode_]::part(composebox-background)::before {
 background-color: var(--cr-composebox-background-color);
}

#composebox::part(composebox-background)::before {
 transition: background-color 400ms ease-in-out;
}

#composebox[in-voice-search-mode_] {
 box-shadow: 2px 17px 18px -10px rgba(0, 0, 0, 0.05);
}

:host([is-zero-state]) #contextualTasksSuggestionsContainer {
  --cr-composebox-match-height: 100%;
  --cr-composebox-match-line-height: 18px;
  --cr-composebox-match-match-padding-bottom: 0px;

  --color-searchbox-results-background-hovered: transparent;
  --color-searchbox-results-background-selected: transparent;
  --match-border-size: 2px;
  --color-searchbox-results-icon-focused-outline: rgba(153, 200, 255, 1);

  align-items: flex-start;
  background-color: var(--search-background-color);
  justify-content: flex-start;
  margin-top: 16px;
  padding-inline-end: 8px;
  padding-inline-start: 8px;
  /* Start inline from .flex-center is 20px.
   * Inner padding is 8px from above line.
   * The first item in each suggestions block
   * is the icon, which has 8px indent. This means
   * that suggestions have full indentation of 20px from .flex-center,
   * then 16px total within suggestions container after that,
   * totaling 36px total indent.
   */
  pointer-events: auto;
  /* Do not set width since we are using padding + fitting children content. */
}

:host([is-zero-state][is-side-panel]) #contextualTasksSuggestionsContainer  {
  margin-bottom: 24px;
  margin-top: 24px;
  /* Becomes 18px ending from width padding in child. */
  padding-inline-end: 10px;
}


:host([is-zero-state]) #contextualTasksSuggestionsContainer::part(match-focus-indicator) {
  /* 'Important' is used to override all higher-specificity
   * dynamic focusIndicator modifications.
   */
  display: none !important;
}

:host([is-zero-state]) #contextualTasksSuggestionsContainer::part(match-container) {
  align-items: center;
  border-radius: 8px;
  box-sizing: border-box;
  height: 100%;
  padding: 6px 0 6px 0;
  width: calc(100% - 8px);
}

:host([is-zero-state]) #contextualTasksSuggestionsContainer::part(match-wrapper) {
  width: 100%;
}

:host([is-loading_]) #contextualTasksSuggestionsContainer::part(match-container) {
  pointer-events: none;
}

:host([is-zero-state]) #contextualTasksSuggestionsContainer::part(match-container):hover {
  background-color: var(
      --color-composebox-zero-state-suggestions-background-hovered);
}

@media (forced-colors: active) {
  :host {
    --color-searchbox-results-icon-focused-outline: Highlight;
    --select-color_: Highlight;
  }

  #composebox::part(context-menu-entrypoint-icon),
  #composebox::part(cancel-icon),
  #composebox::part(lens-icon),
  #composebox::part(voice-icon) {
    --cr-icon-button-fill-color: ButtonText;
  }
}

:host([is-zero-state]) #contextualTasksSuggestionsContainer::part(match-icon-container) {
  height: 24px;
  /* Keep in mind .flex-container and the outer suggestions container
   * indentation when changing this. */
  padding-inline-end: 8px;
  /* This + 8px from suggestion container's
   * indent start = 16px. */
  padding-inline-start: 8px;
  width: 24px;
}

:host([is-zero-state][is-side-panel])
    #contextualTasksSuggestionsContainer::part(match-icon-container) {
  padding-inline-end: 12px;
}

:host([is-zero-state]) #contextualTasksSuggestionsContainer::part(match-icon) {
  background-color: var(--color-zero-state-match-icon);
  height: 20px;
  margin: 2px;
  width: 20px;
}

:host([is-zero-state]) #contextualTasksSuggestionsContainer::part(match-text-container) {
  border-radius: 4px;
  color: var(--color-zero-state-match-text);
  font-family: var(--google-sans-font);
  font-size: 16px;
  letter-spacing: 1%;
  inset-inline-start: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

/* 'loading-bar-color-change' must be defined in child component
 * the animation modifies.
 */
:host([is-zero-state][is-loading_]) #contextualTasksSuggestionsContainer::part(match-text-container) {
  animation: 2s loading-bar-color-change calc(0.1s * var(--loading-bar-animation-delay))
      infinite;
  background-color: var(--color-composebox-loading-start);
}

:host(:not([is-side-panel])[is-zero-state])
    #contextualTasksSuggestionsContainer::part(match-text-container) {
  inset-inline-start: 8px;
  width: calc(100% - 8px);
}

:host([is-zero-state])
    #contextualTasksSuggestionsContainer::part(match-remove-button) {
  --cr-composebox-dropdown-match-margin-end: -8px;
  --cr-composebox-dropdown-match-margin-start: 16px;
  --cr-composebox-match-remove-button-top: 0;
  display: none;
}

#suggestionActivity {
  color: var(--color-composebox-suggestion-activity);
  display: flex;
  font-family: var(--google-sans-font);
  font-size: 12px;
  font-weight: 400;
  justify-content: flex-start;
  line-height: 16px;
  padding-bottom: 10px;
  padding-inline-end: 8px;
  padding-inline-start: 20px;
  padding-top: 8px;
  position: relative;
}

#composeboxContainer:not(:has(#composebox[show-dropdown_])) ~ #contextualTasksSuggestionsContainer {
  display: none;
}
