/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=chrome://resources/cr_elements/mwb_shared_vars.css.js
 * #scheme=relative
 * #css_wrapper_metadata_end */

.dropdown-item {
  width: 320px;
  padding: 0 0;
}

cr-action-menu {
  --cr-menu-border-radius: 16px;
  --cr-action-menu-padding: 16px 0;
}

.header {
  color: var(--cr-primary-text-color);
  padding: 0 16px 8px 16px;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.file-icon {
  color: #b3261e;
  border-radius: 8px;
}
