/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  display: block;
  height: 100%;
  width: 100%;
  --search-background-color: rgba(255, 255, 255, 1);
  --toolbar-background-color: var(--search-background-color);
  --toolbar-button-icon-color: var(--cr-fallback-color-on-surface-subtle);
  --toolbar-divider-color: rgb(211,227,253);
  --toolbar-favicon-border-color: var(--cr-fallback-color-surface5);
  --toolbar-menu-background-color: rgb(255, 255, 255);
  --toolbar-text-color: rgb(31, 31, 31);
  --toolbar-menu-icon-color: rgba(71, 71, 71, 1);
  background-color: var(--search-background-color);
}

:host([dark-mode]),
:host([dark-mode_]) {
  --search-background-color: rgba(16, 18, 23, 1);
  --toolbar-divider-color: rgb(94,94,94);
  --toolbar-menu-background-color: rgb(31, 31, 31);
  --toolbar-text-color: rgb(227,227,227);
  --toolbar-menu-icon-color: rgba(199, 199, 199, 1);
}

:host([is-ai-page][dark-mode]),
:host([is-ai-page_][dark-mode_]) {
  --search-background-color: rgba(16, 18, 24, 1);
}

