<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headers</key>
	<array>
		<string>ios/chrome/grit/ios_chromium_strings.h</string>
		<string>ios/chrome/grit/ios_strings.h</string>
	</array>
	<key>outputs</key>
	<array>
		<dict>
			<key>name</key>
			<string>Localizable.strings</string>
			<key>strings</key>
			<array>
				<string>IDS_IOS_SAFE_MODE_NAMED_TWEAKS_FOUND</string>
				<string>IDS_IOS_SAFE_MODE_TWEAKS_FOUND</string>
				<string>IDS_IOS_SAFE_MODE_UNKNOWN_CAUSE</string>
				<string>IDS_IOS_SAFE_MODE_SENDING_CRASH_REPORT</string>
				<string>IDS_IOS_SAFE_MODE_CRASH_REPORT_SENT</string>
				<string>IDS_IOS_SAFE_MODE_RELOAD_CHROME</string>
				<string>IDS_IOS_SAFE_MODE_AW_SNAP</string>
				<string>IDS_IOS_FIRST_RUN_LAUNCH_SCREEN_ENTERPRISE</string>
				<string>IDS_IOS_KEYBOARD_BOOKMARKS</string>
				<string>IDS_IOS_KEYBOARD_HISTORY</string>
				<string>IDS_IOS_KEYBOARD_NEW_TAB</string>
				<string>IDS_IOS_KEYBOARD_NEW_INCOGNITO_TAB</string>
				<string>IDS_IOS_KEYBOARD_NEW_WINDOW</string>
				<string>IDS_IOS_KEYBOARD_NEW_INCOGNITO_WINDOW</string>
				<string>IDS_IOS_KEYBOARD_REOPEN_CLOSED_TAB</string>
				<string>IDS_IOS_KEYBOARD_FIND_IN_PAGE</string>
				<string>IDS_IOS_KEYBOARD_FIND_NEXT</string>
				<string>IDS_IOS_KEYBOARD_FIND_PREVIOUS</string>
				<string>IDS_IOS_KEYBOARD_OPEN_LOCATION</string>
				<string>IDS_IOS_KEYBOARD_CLOSE_TAB</string>
				<string>IDS_IOS_KEYBOARD_NEXT_TAB</string>
				<string>IDS_IOS_KEYBOARD_PREVIOUS_TAB</string>
				<string>IDS_IOS_KEYBOARD_SHOW_BOOKMARKS</string>
				<string>IDS_IOS_KEYBOARD_ADD_TO_BOOKMARKS</string>
				<string>IDS_IOS_KEYBOARD_RELOAD</string>
				<string>IDS_IOS_KEYBOARD_HISTORY_BACK</string>
				<string>IDS_IOS_KEYBOARD_HISTORY_FORWARD</string>
				<string>IDS_IOS_KEYBOARD_SHOW_HISTORY</string>
				<string>IDS_IOS_KEYBOARD_VOICE_SEARCH</string>
				<string>IDS_IOS_KEYBOARD_SHOW_SETTINGS</string>
				<string>IDS_IOS_KEYBOARD_STOP</string>
				<string>IDS_IOS_KEYBOARD_SHOW_HELP</string>
				<string>IDS_IOS_KEYBOARD_SHOW_DOWNLOADS</string>
				<string>IDS_IOS_KEYBOARD_FIRST_TAB</string>
				<string>IDS_IOS_KEYBOARD_LAST_TAB</string>
				<string>IDS_IOS_KEYBOARD_REPORT_AN_ISSUE</string>
				<string>IDS_IOS_KEYBOARD_ADD_TO_READING_LIST</string>
				<string>IDS_IOS_KEYBOARD_SHOW_READING_LIST</string>
				<string>IDS_IOS_KEYBOARD_GO_TO_TAB_GRID</string>
				<string>IDS_IOS_KEYBOARD_CLEAR_BROWSING_DATA</string>
				<string>IDS_IOS_KEYBOARD_FIND</string>
				<string>IDS_IOS_KEYBOARD_CLOSE_ALL</string>
				<string>IDS_IOS_UI_BLOCKED_USE_OTHER_WINDOW_DESCRIPTION</string>
				<string>IDS_IOS_UI_BLOCKED_USE_OTHER_WINDOW_SWITCH_WINDOW_ACTION</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Intents.strings</string>
			<key>strings</key>
			<array>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_OPEN_IN_CHROME_INCOGNITO_TITLE</string>
					<key>output</key>
					<string>LHJwpy</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_OPEN_IN_CHROME_INCOGNITO_DESCRIPTION</string>
					<key>output</key>
					<string>dYRltF</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_OPEN_IN_CHROME_INCOGNITO_PARAMETER_COMBINATION_TITLE</string>
					<key>output</key>
					<string>6TwrYB</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_DESCRIPTION</string>
					<key>output</key>
					<string>4nGj7v</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_DESCRIPTION</string>
					<key>output</key>
					<string>k0Ho6W</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_TITLE</string>
					<key>output</key>
					<string>Z6KvRw</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_SUGGEST_TITLE</string>
					<key>output</key>
					<string>1Ukwhx</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_PARAMETER_COMBINATION_TITLE</string>
					<key>output</key>
					<string>TqBLdA</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_OPEN_IN_CHROME_PARAMETER_COMBINATION_TITLE</string>
					<key>output</key>
					<string>H6reDO</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_OPEN_IN_CHROME_TITLE</string>
					<key>output</key>
					<string>ZVOUc7</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_OPEN_IN_CHROME_DESCRIPTION</string>
					<key>output</key>
					<string>MpiRFx</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>InfoPlist.strings</string>
			<key>strings</key>
			<array>
				<dict>
					<key>input</key>
					<string>IDS_IOS_BLUETOOTH_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSBluetoothPeripheralUsageDescription</string>
				</dict>
                                <dict>
                                     	<key>input</key>
                                        <string>IDS_IOS_CONTACTS_USAGE_DESCRIPTION</string>
                                        <key>output</key>
                                        <string>NSContactsUsageDescription</string>
                                </dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_CAMERA_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSCameraUsageDescription</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSLocationWhenInUseUsageDescription</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_MICROPHONE_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSMicrophoneUsageDescription</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_PHOTO_LIBRARY_ADD_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSPhotoLibraryAddUsageDescription</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_FACE_ID_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSFaceIDUsageDescription</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_CALENDARS_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSCalendarsUsageDescription</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_SPEECH_RECOGNITION_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSSpeechRecognitionUsageDescription</string>
				</dict>
				<string>IDS_IOS_APPLICATION_SHORTCUT_NEWSEARCH_TITLE</string>
				<string>IDS_IOS_APPLICATION_SHORTCUT_INCOGNITOSEARCH_TITLE</string>
				<string>IDS_IOS_APPLICATION_SHORTCUT_VOICE_SEARCH_TITLE</string>
				<string>IDS_IOS_APPLICATION_SHORTCUT_QR_SCANNER_TITLE</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
