<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headers</key>
	<array>
		<string>ios/chrome/grit/ios_chromium_strings.h</string>
		<string>ios/chrome/grit/ios_strings.h</string>
	</array>
	<key>outputs</key>
	<array>
		<dict>
			<key>name</key>
			<string>Localizable.strings</string>
			<key>strings</key>
			<array>
				<string>IDS_IOS_SAFE_MODE_NAMED_TWEAKS_FOUND</string>
				<string>IDS_IOS_SAFE_MODE_TWEAKS_FOUND</string>
				<string>IDS_IOS_SAFE_MODE_UNKNOWN_CAUSE</string>
				<string>IDS_IOS_SAFE_MODE_SENDING_CRASH_REPORT</string>
				<string>IDS_IOS_SAFE_MODE_CRASH_REPORT_SENT</string>
				<string>IDS_IOS_SAFE_MODE_RELOAD_CHROME</string>
				<string>IDS_IOS_SAFE_MODE_AW_SNAP</string>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>Intents.strings</string>
			<key>strings</key>
			<array>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_DESCRIPTION</string>
					<key>output</key>
					<string>4nGj7v</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_DESCRIPTION</string>
					<key>output</key>
					<string>k0Ho6W</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_TITLE</string>
					<key>output</key>
					<string>Z6KvRw</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>name</key>
			<string>InfoPlist.strings</string>
			<key>strings</key>
			<array>
				<dict>
					<key>input</key>
					<string>IDS_IOS_BLUETOOTH_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSBluetoothPeripheralUsageDescription</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_CAMERA_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSCameraUsageDescription</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSLocationWhenInUseUsageDescription</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_MICROPHONE_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSMicrophoneUsageDescription</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_PHOTO_LIBRARY_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSPhotoLibraryUsageDescription</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_PHOTO_LIBRARY_ADD_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSPhotoLibraryAddUsageDescription</string>
				</dict>
				<dict>
					<key>input</key>
					<string>IDS_IOS_FACE_ID_USAGE_DESCRIPTION</string>
					<key>output</key>
					<string>NSFaceIDUsageDescription</string>
				</dict>
				<string>IDS_IOS_APPLICATION_SHORTCUT_NEWSEARCH_TITLE</string>
				<string>IDS_IOS_APPLICATION_SHORTCUT_INCOGNITOSEARCH_TITLE</string>
				<string>IDS_IOS_APPLICATION_SHORTCUT_VOICE_SEARCH_TITLE</string>
				<string>IDS_IOS_APPLICATION_SHORTCUT_QR_SCANNER_TITLE</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
