<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>headers</key>
  <array>
    <string>ios/chrome/grit/ios_branded_strings.h</string>
    <string>ios/chrome/grit/ios_strings.h</string>
  </array>
  <key>outputs</key>
  <array>
    <dict>
      <key>name</key>
      <string>Localizable.strings</string>
      <key>strings</key>
      <array>
        <string>IDS_IOS_SAFE_MODE_NAMED_TWEAKS_FOUND</string>
        <string>IDS_IOS_SAFE_MODE_TWEAKS_FOUND</string>
        <string>IDS_IOS_SAFE_MODE_UNKNOWN_CAUSE</string>
        <string>IDS_IOS_SAFE_MODE_SENDING_CRASH_REPORT</string>
        <string>IDS_IOS_SAFE_MODE_CRASH_REPORT_SENT</string>
        <string>IDS_IOS_SAFE_MODE_RELOAD_CHROME</string>
        <string>IDS_IOS_SAFE_MODE_AW_SNAP</string>
        <string>IDS_IOS_FIRST_RUN_LAUNCH_SCREEN_ENTERPRISE</string>
        <string>IDS_IOS_KEYBOARD_BOOKMARKS</string>
        <string>IDS_IOS_KEYBOARD_HISTORY</string>
        <string>IDS_IOS_KEYBOARD_NEW_TAB</string>
        <string>IDS_IOS_KEYBOARD_NEW_INCOGNITO_TAB</string>
        <string>IDS_IOS_KEYBOARD_NEW_WINDOW</string>
        <string>IDS_IOS_KEYBOARD_NEW_INCOGNITO_WINDOW</string>
        <string>IDS_IOS_KEYBOARD_REOPEN_CLOSED_TAB</string>
        <string>IDS_IOS_KEYBOARD_FIND_IN_PAGE</string>
        <string>IDS_IOS_KEYBOARD_FIND_NEXT</string>
        <string>IDS_IOS_KEYBOARD_FIND_PREVIOUS</string>
        <string>IDS_IOS_KEYBOARD_OPEN_LOCATION</string>
        <string>IDS_IOS_KEYBOARD_CLOSE_TAB</string>
        <string>IDS_IOS_KEYBOARD_NEXT_TAB</string>
        <string>IDS_IOS_KEYBOARD_PREVIOUS_TAB</string>
        <string>IDS_IOS_KEYBOARD_SHOW_BOOKMARKS</string>
        <string>IDS_IOS_KEYBOARD_ADD_TO_BOOKMARKS</string>
        <string>IDS_IOS_KEYBOARD_RELOAD</string>
        <string>IDS_IOS_KEYBOARD_HISTORY_BACK</string>
        <string>IDS_IOS_KEYBOARD_HISTORY_FORWARD</string>
        <string>IDS_IOS_KEYBOARD_SHOW_HISTORY</string>
        <string>IDS_IOS_KEYBOARD_VOICE_SEARCH</string>
        <string>IDS_IOS_KEYBOARD_SHOW_SETTINGS</string>
        <string>IDS_IOS_KEYBOARD_STOP</string>
        <string>IDS_IOS_KEYBOARD_SHOW_HELP</string>
        <string>IDS_IOS_KEYBOARD_SHOW_DOWNLOADS</string>
        <string>IDS_IOS_KEYBOARD_FIRST_TAB</string>
        <string>IDS_IOS_KEYBOARD_LAST_TAB</string>
        <string>IDS_IOS_KEYBOARD_REPORT_AN_ISSUE</string>
        <string>IDS_IOS_KEYBOARD_ADD_TO_READING_LIST</string>
        <string>IDS_IOS_KEYBOARD_SHOW_READING_LIST</string>
        <string>IDS_IOS_KEYBOARD_GO_TO_TAB_GRID</string>
        <string>IDS_IOS_KEYBOARD_CLEAR_BROWSING_DATA</string>
        <string>IDS_IOS_KEYBOARD_FIND</string>
        <string>IDS_IOS_KEYBOARD_CLOSE_ALL</string>
        <string>IDS_IOS_UI_BLOCKED_USE_OTHER_WINDOW_DESCRIPTION</string>
        <string>IDS_IOS_UI_BLOCKED_USE_OTHER_WINDOW_SWITCH_WINDOW_ACTION</string>
      </array>
    </dict>
    <dict>
      <key>name</key>
      <string>Intents.strings</string>
      <key>strings</key>
      <array>
      <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_ADD_READING_LIST_ITEM_TITLE</string>
          <key>output</key>
          <string>bdpqTT</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_ADD_READING_LIST_ITEM_DESCRIPTION</string>
          <key>output</key>
          <string>DMhhCH</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_ADD_READING_LIST_ITEM_PARAMETER_COMBINATION_TITLE</string>
          <key>output</key>
          <string>WT62lb</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_ADD_READING_LIST_ITEM_PROMPT_DIALOG</string>
          <key>output</key>
          <string>ujhmCA</string>
        </dict>
        <dict>
         <key>output</key>
          <string>eoLMs3</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_LATEST_TAB_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>QI9R4N</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_CLEAR_BROWSING_DATA_TITLE</string>
        </dict>
        <dict>
         <key>output</key>
          <string>6yFN6Z</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_CLEAR_BROWSING_DATA_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>G5abvV</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_CLEAR_BROWSING_DATA_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>QNOy9O</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_CLEAR_BROWSING_DATA_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>O7udUr</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_LENS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>M0ARnB</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_LENS_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>IBwb6d</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_LENS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>KggFtq</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_LENS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>Evtnyl</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_LATEST_TAB_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>ymx2nZ</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_LATEST_TAB_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>oVEOzX</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_LATEST_TAB_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>Um63tc</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_MANAGE_SETTINGS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>ONmNyW</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_MANAGE_SETTINGS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>21vBHG</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_MANAGE_SETTINGS_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>H0Xgfw</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_MANAGE_SETTINGS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>t30ghR</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_MANAGE_PASSWORDS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>m0dBpO</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_MANAGE_PASSWORDS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>xLH4gk</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_MANAGE_PASSWORDS_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>aATwcS</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_MANAGE_PASSWORDS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>tItg79</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_RUN_SAFETY_CHECK_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>JHLR2Y</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_RUN_SAFETY_CHECK_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>WhLIra</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_RUN_SAFETY_CHECK_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>oKO3WH</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_RUN_SAFETY_CHECK_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>44ubBt</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_MANAGE_PAYMENT_METHODS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>3LKM9M</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_MANAGE_PAYMENT_METHODS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>dsCc6z</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_MANAGE_PAYMENT_METHODS_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>RaiX7Y</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_MANAGE_PAYMENT_METHODS_TITLE</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_URL_PARAMETER</string>
          <key>output</key>
          <string>4AJfPA</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_URL_PARAMETER</string>
          <key>output</key>
          <string>C8MCpv</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_URL_PARAMETER</string>
          <key>output</key>
          <string>WNafUz</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_URL_PARAMETER</string>
          <key>output</key>
          <string>KLnTiq</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_ADD_BOOKMARK_TITLE</string>
          <key>output</key>
          <string>cOdzlF</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_ADD_BOOKMARK_DESCRIPTION</string>
          <key>output</key>
          <string>O3cebQ</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_ADD_BOOKMARK_PARAMETER_COMBINATION_TITLE</string>
          <key>output</key>
          <string>EbPDC3</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_ADD_BOOKMARK_PROMPT_DIALOG</string>
          <key>output</key>
          <string>o9kImZ</string>
        </dict>
        <dict>
          <key>output</key>
          <string>7kOtAx</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_CHROME_INCOGNITO_TAB_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>gBOiVo</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_CHROME_INCOGNITO_TAB_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>94Uty1</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_CHROME_INCOGNITO_TAB_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>pWKZaJ</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_CHROME_INCOGNITO_TAB_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>GDSnft</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_VIEW_CHROME_HISTORY_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>h7hQub</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_VIEW_CHROME_HISTORY_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>STHQ9v</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_VIEW_CHROME_HISTORY_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>Ro4KQd</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_VIEW_CHROME_HISTORY_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>dNnOX1</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SET_CHROME_DEFAULT_BROWSER_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>CvISOS</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SET_CHROME_DEFAULT_BROWSER_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>98xOkD</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SET_CHROME_DEFAULT_BROWSER_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>uFCGKp</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SET_CHROME_DEFAULT_BROWSER_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>UbuQzH</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_PLAY_DINO_GAME_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>pzATnh</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_PLAY_DINO_GAME_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>SQsLXj</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_PLAY_DINO_GAME_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>7Bq6U9</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_PLAY_DINO_GAME_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>HKy8gU</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_NEW_TAB_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>4fTPhT</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_NEW_TAB_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>sXdUud</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_NEW_TAB_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>I8Ws8x</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_NEW_TAB_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>6IUaAa</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SEARCH_WITH_VOICE_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>oq3zlW</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SEARCH_WITH_VOICE_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>7Qq5ww</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SEARCH_WITH_VOICE_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>ylmClv</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SEARCH_WITH_VOICE_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>hB4zxD</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_TAB_GRID_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>0wmLKV</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_TAB_GRID_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>j61w32</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_TAB_GRID_DESCRIPTION</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_TAB_GRID_TITLE</string>
          <key>output</key>
          <string>t9NbV2</string>
        </dict>
        <dict>
          <key>output</key>
          <string>vp7qIi</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_RECENT_TABS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>h5ylvP</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_RECENT_TABS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>Dnbiji</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_RECENT_TABS_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>Lx9GhK</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_RECENT_TABS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>NjxAwS</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_BOOKMARKS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>Ey6EJ2</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_BOOKMARKS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>UxPTe6</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_BOOKMARKS_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>oAHs9X</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_BOOKMARKS_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>3GKDRh</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_READING_LIST_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>RiePIe</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_READING_LIST_TITLE</string>
        </dict>
        <dict>
          <key>output</key>
          <string>NJly5b</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_READING_LIST_DESCRIPTION</string>
        </dict>
        <dict>
          <key>output</key>
          <string>5M3cV2</string>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_READING_LIST_TITLE</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_IN_CHROME_INCOGNITO_TITLE</string>
          <key>output</key>
          <string>LHJwpy</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_IN_CHROME_INCOGNITO_DESCRIPTION</string>
          <key>output</key>
          <string>dYRltF</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_IN_CHROME_INCOGNITO_PARAMETER_COMBINATION_TITLE</string>
          <key>output</key>
          <string>6TwrYB</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_DESCRIPTION</string>
          <key>output</key>
          <string>4nGj7v</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_DESCRIPTION</string>
          <key>output</key>
          <string>k0Ho6W</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_TITLE</string>
          <key>output</key>
          <string>Z6KvRw</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_SUGGEST_TITLE</string>
          <key>output</key>
          <string>1Ukwhx</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_SEARCH_IN_CHROME_PARAMETER_COMBINATION_TITLE</string>
          <key>output</key>
          <string>TqBLdA</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_IN_CHROME_PARAMETER_COMBINATION_TITLE</string>
          <key>output</key>
          <string>H6reDO</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_IN_CHROME_TITLE</string>
          <key>output</key>
          <string>ZVOUc7</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_INTENTS_OPEN_IN_CHROME_DESCRIPTION</string>
          <key>output</key>
          <string>MpiRFx</string>
        </dict>
      </array>
    </dict>
    <dict>
      <key>name</key>
      <string>InfoPlist.strings</string>
      <key>strings</key>
      <array>
        <dict>
          <key>input</key>
          <string>IDS_IOS_BLUETOOTH_USAGE_DESCRIPTION</string>
          <key>output</key>
          <string>NSBluetoothPeripheralUsageDescription</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_CONTACTS_USAGE_DESCRIPTION</string>
          <key>output</key>
          <string>NSContactsUsageDescription</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_CAMERA_USAGE_DESCRIPTION</string>
          <key>output</key>
          <string>NSCameraUsageDescription</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION</string>
          <key>output</key>
          <string>NSLocationWhenInUseUsageDescription</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_MICROPHONE_USAGE_DESCRIPTION</string>
          <key>output</key>
          <string>NSMicrophoneUsageDescription</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_PHOTO_LIBRARY_ADD_USAGE_DESCRIPTION</string>
          <key>output</key>
          <string>NSPhotoLibraryAddUsageDescription</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_FACE_ID_USAGE_DESCRIPTION</string>
          <key>output</key>
          <string>NSFaceIDUsageDescription</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_CALENDARS_USAGE_DESCRIPTION</string>
          <key>output</key>
          <string>NSCalendarsUsageDescription</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_CALENDARS_USAGE_DESCRIPTION</string>
          <key>output</key>
          <string>NSCalendarsWriteOnlyAccessUsageDescription</string>
        </dict>
        <dict>
          <key>input</key>
          <string>IDS_IOS_SPEECH_RECOGNITION_USAGE_DESCRIPTION</string>
          <key>output</key>
          <string>NSSpeechRecognitionUsageDescription</string>
        </dict>
        <string>IDS_IOS_APPLICATION_SHORTCUT_NEWSEARCH_TITLE</string>
        <string>IDS_IOS_APPLICATION_SHORTCUT_INCOGNITOSEARCH_TITLE</string>
        <string>IDS_IOS_APPLICATION_SHORTCUT_VOICE_SEARCH_TITLE</string>
        <string>IDS_IOS_APPLICATION_SHORTCUT_QR_SCANNER_TITLE</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
