<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationDelegate</key>
	<string>${EG_MAIN_APPLICATION_DELEGATE}</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>CRIsEarlGreyTest</key>
	<true/>
</dict>
</plist>
