<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UIApplicationShortcutWidget</key>
	<string>${IOS_BUNDLE_ID_PREFIX}.${CONTENT_WIDGET_EXTENSION_BUNDLE_ID}</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>${CHROMIUM_SHORT_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>PDF</string>
			<key>LSHandlerRank</key>
			<string>Alternate</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array/>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>${IOS_BUNDLE_ID_PREFIX}.${CHROMIUM_BUNDLE_ID:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${CHROMIUM_SHORT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>${IOS_BUNDLE_ID_PREFIX}.${CHROMIUM_BUNDLE_ID:rfc1034identifier}</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>${CHROMIUM_URL_SCHEME_1}</string>
				<string>${CHROMIUM_URL_SCHEME_2}</string>
				<string>${CHROMIUM_URL_SCHEME_3}</string>
				<string>${CHROMIUM_URL_CHANNEL_SCHEME}</string>
				<string>${SSOAUTH_URL_SCHEME}</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>0.0.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>${CHROMIUM_HANDOFF_ID}</string>
		<string>SearchInChromeIntent</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quick_action_new_search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>IDS_IOS_APPLICATION_SHORTCUT_NEWSEARCH_TITLE</string>
			<key>UIApplicationShortcutItemType</key>
			<string>OpenNewSearch</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quick_action_incognito_search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>IDS_IOS_APPLICATION_SHORTCUT_INCOGNITOSEARCH_TITLE</string>
			<key>UIApplicationShortcutItemType</key>
			<string>OpenIncognitoSearch</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quick_action_voice_search</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>IDS_IOS_APPLICATION_SHORTCUT_VOICE_SEARCH_TITLE</string>
			<key>UIApplicationShortcutItemType</key>
			<string>OpenVoiceSearch</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quick_action_qr_scanner</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>IDS_IOS_APPLICATION_SHORTCUT_QR_SCANNER_TITLE</string>
			<key>UIApplicationShortcutItemType</key>
			<string>OpenQRScanner</string>
		</dict>
	</array>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiresPersistentWiFi</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.url</string>
				<string>org.appextension.find-login-action</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Chrome Password Fill by App Extension Action</string>
			<key>UTTypeIdentifier</key>
			<string>org.appextension.chrome-password-action</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.url</string>
			</array>
			<key>UTTypeDescription</key>
			<string>1Password Find Login Action</string>
			<key>UTTypeIdentifier</key>
			<string>org.appextension.find-login-action</string>
		</dict>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>googledrive</string>
	</array>
	<key>SSOAuthURLScheme</key>
	<string>${SSOAUTH_URL_SCHEME}</string>
	<key>KSChannelChromeScheme</key>
	<string>${CHROMIUM_URL_CHANNEL_SCHEME}</string>
	<key>NSCameraUsageDescription</key>
	<string>IDS_IOS_CAMERA_USAGE_DESCRIPTION</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>IDS_IOS_LOCATION_WHEN_IN_USE_USAGE_DESCRIPTION</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>IDS_IOS_MICROPHONE_USAGE_DESCRIPTION</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>IDS_IOS_PHOTO_LIBRARY_USAGE_DESCRIPTION</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>IDS_IOS_PHOTO_LIBRARY_ADD_USAGE_DESCRIPTION</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>IDS_IOS_BLUETOOTH_USAGE_DESCRIPTION</string>
	<key>NSFaceIDUsageDescription</key>
	<string>IDS_IOS_FACE_ID_USAGE_DESCRIPTION</string>
	<key>FirebaseScreenReportingEnabled</key>
	<false/>
</dict>
</plist>
