*.pyc
/android/doclava.tar.gz
/android/doclava/
/clang_format/script/
/linux64/.versions/
/linux64/clang-format
/linux64/gn
/mac/.versions/
/mac/clang-format
/mac/gn
/reclient/
/third_party/libc++/trunk
/third_party/libc++abi/trunk
/third_party/libunwind/trunk
/win/.versions
/win/clang-format.exe
/win/gn.exe
