*.pyc
/*/format
/android/doclava.tar.gz
/android/doclava/
/clang_format/script/
/linux64-format/
/linux64/.versions/
/linux64/clang-format
/linux64/gn
/mac-format/
/mac/.versions/
/mac/clang-format
/mac/gn
/mac_arm64-format/
/reclient/
/third_party/libc++/trunk
/third_party/libc++abi/trunk
/third_party/libunwind/trunk
/win-format/
/win/.versions
/win/clang-format.exe
/win/gn.exe
