// Copyright 2023 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.components.gwp_asan;

/**
 * Contains features that are specific to GWP-ASan.
 */
public final class GwpAsanFeatures {{

{NATIVE_FEATURES}

    // Prevents instantiation.
    private GwpAsanFeatures() {{}}
}}
