    <web-browser>
      <name>@@MENUNAME@@</name>
      <executable>@@INSTALLDIR@@/@@PACKAGE@@</executable>
      <command>@@INSTALLDIR@@/@@PACKAGE@@ %s</command>
      <icon-name>@@PACKAGE@@</icon-name>
      <run-in-terminal>false</run-in-terminal>
      <netscape-remote>true</netscape-remote>
      <tab-command>@@INSTALLDIR@@/@@PACKAGE@@ %s</tab-command>
      <win-command>@@INSTALLDIR@@/@@PACKAGE@@ --new-window %s</win-command>
    </web-browser>
