{%- macro enum_def(enum_spec_parent, enum_parent, enum) -%}
{# TODO: Less generic enum annotations would be nice. We do it this way because
   the bindings generator is still too stupid to generate the right integral
   constants directly. #}
{%- set enum_name = enum|lite_closure_type -%}

{%  if generate_closure_exports -%}
goog.provide('{{enum_name}}');
goog.provide('{{enum_spec_parent}}.{{enum.name}}Spec');
{%- endif %}
/**
 * @const { {$: !mojo.internal.MojomType} }
 * @export
 */
{{enum_spec_parent}}.{{enum.name}}Spec = { $: mojo.internal.Enum() };

/**
 * @enum {number}
 * @export
 */
{{enum_name}} = {
  {# Set up the enum here, but fill out the values later. #}
{%-   for field in enum.fields %}
  {{field.name}}: 0,
{%-   endfor %}
{%-   if enum.min_value is not none %}
  MIN_VALUE: {{enum.min_value}},
{%-   endif %}
{%-   if enum.max_value is not none %}
  MAX_VALUE: {{enum.max_value}},
{%-   endif %}
};
{%-   for field in enum.fields %}
{# Suppress type checks since we're assigning number into an enum. #}
/** @suppress {checkTypes} */
{%-     if field.value %}
{{enum_name}}.{{field.name}} = {{field.value|expression_to_text_lite}};
{%-     elif loop.first %}
{{enum_name}}.{{field.name}} = 0;
{%-     else %}
{{enum_name}}.{{field.name}} = {{enum_name}}.{{enum.fields[loop.index0 - 1].name}} + 1;
{%-     endif %}
{%-   endfor %}

{%- endmacro %}
