// Copyright 2018 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
'use strict';

{% if generate_closure_exports -%}
goog.require('mojo.internal');
{%- if interfaces %}
goog.require('mojo.internal.interfaceSupport');
{%- endif %}
{% for kind in module.imported_kinds.values() %}
goog.require('{{kind|lite_js_import_name}}');
{%- endfor %}
{% else %}
mojo.internal.exportModule('{{module.namespace}}');
{% endif %}

{% include "lite/module_definition.tmpl" %}
