{# For bindings internals, generated code is concatenated into a larger module
 # at build time, so we avoid a superfluous file header here. #}
{%- if not for_bindings_internals -%}
// Copyright 2018 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.
/**
 * @fileoverview
 * @suppress {missingRequire}
 */
'use strict';
{%- endif %}

{% if generate_closure_exports -%}
goog.require('mojo.internal');
{%- if interfaces %}
goog.require('mojo.internal.interfaceSupport');
{%- endif %}
{% for kind in module.imported_kinds.values()|sort %}
goog.require('{{kind|lite_js_import_name}}');
{%- endfor %}
{% elif not for_bindings_internals  %}
mojo.internal.exportModule('{{module.namespace}}');
{% endif %}

{% include "lite/module_definition.tmpl" %}
