/* Copyright 2014 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* GENERAL */
.inline-toc ul, .inline-toc ol {list-style-type: none;}
.small-gap                     {margin-top: 0.5em;}
.small-gap li, dt              {margin-top: 1em;}
.no-gap                        {margin-bottom: 0;}
.no-gap-li li                  {margin-top: 0;}
.indent                        {margin-left: 40px;}
.indent-small                  {margin-left: 20px;}

table {width: auto;}
.showcase, .showcase-list {margin: auto;}
body table.showcase td {text-align: center; vertical-align: middle;}
.showcase-list th, .generic th {text-align: center;}
.showcase-list tbody th, .generic tbody th {text-align: left;}
body table.showcase-list td {vertical-align: middle;}
table.showcase td.empty {border-bottom-style: hidden; border-right-style: hidden;}
table.showcase-list td.top-left, table.generic td.top-left {border-top-style: hidden; border-left-style: hidden;}
th.center {text-align: center;}

.showcase img.hold {opacity: 0.5;}
.showcase span.hold {color: #888;}
.col3 td {width: 33%;}
.col4 td {width: 25%;}
.col5 td {width: 20%;}
.kd-butterbar.shown.pepper-version {text-align: right; top: 150px; right: 44px; width: 31em;}
.kd-butterbar.shown.pepper-version span {background-color: #E5ECF9; border: 1px solid #36C;}
.kd-butterbar.shown.pepper-version span.deprecated {background-color: #FCC; border: 1px solid #A03;}
.kd-butterbar.shown.special-announcement {text-align: right; /* top: 185px; */ top: 150px; right: 44px; width: 31em;}
.kd-butterbar.shown.special-announcement span {background-color: #F9EDBE; border: 1px solid #F0C36D;}

/* HOME PAGE */
.features section h3   {font-weight: bold; margin-bottom: 0.2em; margin-top: 0;}
.features section p    {margin-bottom: 0;}
p.date                 {margin-top: 0; margin-bottom: 0.5em; font-style: italic;}
blockquote.indent-only {font-style: normal; color: #000; }
#home .button-nacl {
    border-top: 1px solid #96d1f8;
    background: #65a9d7;
    background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
    background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
    background: -moz-linear-gradient(top, #3e779d, #65a9d7);
    background: -ms-linear-gradient(top, #3e779d, #65a9d7);
    background: -o-linear-gradient(top, #3e779d, #65a9d7);
    padding: 5px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
    box-shadow: rgba(0,0,0,1) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 1px 0;
    color: white;
    font-size: 18px;
    text-decoration: none;
    vertical-align: middle;
    }
#home .button-nacl:visited {
    color: #fff;
    }
#home .button-nacl:hover {
    border-top-color: #28597a;
    background: #28597a;
    color: #ccc;
    }
#home .button-nacl:active {
    border-top-color: #1b435e;
    background: #1b435e;
    }
#home .button-download {
    float: right;
    margin: 2em 4em;
    }
#home .big-intro {
    font-size: 16px;
    }
#home iframe.video {
    display: block;
    margin: 1em auto 0;
    }
#home .left-side {
    float: left;
    width: 54%;
    background-color: #FFF;
    }
#home .left-side-inner {
    padding-right: 40px;
    }
#home .pull-quote {
    background-color: #f5f5f5;
    border-bottom: 1px solid;
    border-top: 1px solid;
    font-size: 14px;
    float: right;
    margin: .5em 2em 2em 2em;
    padding: 1em;
}
#home .right-side {
    float: right;
    width: 54%;
    background-color: #FFF;
    }
#home .right-side-inner {
    padding-left: 40px;
    }

/* CSS for the Release Notes page */
.functions {list-style-type: none;}
li.gap, .gap li {margin-top: 1.5em;}
.gap li li {margin-top: 0.2em;}

/*
 * The #doxygen-ref is an id tag which encompasses code generated by doxygen
 * and allows override of standard html tags while not affecting the rest
 * of the page such as sidebars.
 */

#doxygen-ref table {
  margin: 0;
}

#doxygen-ref td {
  border: none;
}

#doxygen-ref tr {
  border: none;
}

#doxygen-ref .memitem {
  margin-top: 2em;
}

#doxygen-ref .memproto {
  background-color: #e1e1e4;
  border: 1px solid #e1e1f4;
  font-weight: bold;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

/*
TODO(binji): remove

This is the old doxygen CSS formatting from devsite. It causes problems on many
pages, but it is probably useful to keep around while we are transitioning to
chromesite.

#doxygen-ref A.el {
  text-decoration: none;
  font-weight: bold;
  text-align:left;

}

#doxygen-ref A.code:link,
A.code:visited {
  text-decoration: none;
  font-weight: normal;
  color: #00F;
}
#doxygen-ref A.codeRef:link,
A.codeRef:visited {
  font-weight: normal;
  color: #00F;
}
#doxygen-ref A:hover {
  text-decoration: none;
  background-color: #f2f2ff;
}

#doxygen-ref DL.el {
  margin-left: -1cm;
}
#doxygen-ref .fragment {
  font-family: Fixed, monospace;
  font-size: 95%;
}
#doxygen-ref PRE.fragment {
  border: 1px solid #CCC;
  background-color: #f5f5f5;
  margin: 4px 8px 4px 2px
  padding: 4px 6px;
}

#doxygen-ref TD {
        margin: 0;
        padding: 0;
}

#doxygen-ref TD.memname {
        width: 50%;
}

#doxygen-ref TD.paramtype {
        width: auto;

}

#doxygen-ref TD.md {
  background-color: #e1e1e4;
  font-weight: bold;
  border: none;
}

#doxygen-ref .memberdecls {
        border: "0";
}

#doxygen-ref .memitem {
  padding: 4px;
  background-color: #ffff;
}

#doxygen-ref .memItemLeft {
  white-space: nowrap;
}

#doxygen-ref .memItemRight {
  white-space: nowrap;
}

#doxygen-ref .memname {
  background-color: #e1e1e4;
  white-space: nowrap;
  font-weight: bold;
}
#doxygen-ref .memdoc{
  padding-left: 10px;
}
#doxygen-ref div.memproto td {
  background-color: #e1e1e4;
}
#doxygen-ref .memproto {
  background-color: #e1e1e4;
  width: auto;
  border-width: 1px;
  border-style: solid;
  border-color: #e1e1f4;
  font-weight: bold;
  -moz-border-radius: 8px 8px 8px 8px;
}
#doxygen-ref .memproto .deprecated,
.memname .deprecated,
.summary .deprecated {
  color: red;
}
#doxygen-ref .paramkey {
  text-align: right;
}
#doxygen-ref .paramtype {
  white-space: nowrap;
}
#doxygen-ref .paramname {
  color: #602020;
  font-style: italic;
  white-space: nowrap;
}
#doxygen-ref DIV.groupHeader {
  margin: 12px 16px 6px auto;
  font-weight: bold;
}

#doxygen-ref TR.memlist {
  background-color: #f0f0f0;
}

#doxygen-ref table.memname {
        width: auto;
}

#doxygen-ref td.memname {
        width: auto;
}

#doxygen-ref table.memname td {
        padding: 0 2px;
}

#doxygen-ref .memberdecls td {
        width: auto;
        border: none;
}

#doxygen-ref th {
  font-size: 16px;
  background-color: #DDD;
  padding: 0 4px;
}

#doxygen-ref SPAN.keyword,
SPAN.keywordflow {
  color: #008000;
}
#doxygen-ref SPAN.keywordtyp {
  color: #604020;
}
#doxygen-ref SPAN.comment {
  color: #800000;
}
#doxygen-ref SPAN.preprocessor {
  color: #806020;
}
#doxygen-ref SPAN.stringliteral {
  color: #002080;
}
#doxygen-ref SPAN.charliteral {
  color: #008080;
}

#doxygen-ref .mdescLeft,
#doxygen-ref .mdescRight {
  padding: 0 8px 4px 8px;
  font-size: 80%;
  font-style: italic;
  background-color: #FAFAFA;
  border: 1px none #E0E0E0;
  margin: 0;
}
#doxygen-ref .search {
  color: #039;
  font-weight: bold;
}

#doxygen-ref HR {
  height: 1px;
  border: none;
  display: none;
}
#doxygen-ref table,
#doxygen-ref td,
#doxygen-ref tr {
  border:none;
  width: auto;
  text-align: left;
  padding: 10px;
  margin-bottom: 0;
}
#doxygen-ref .contents H1 {
  text-align: center;
  background-color: #ffffff;
  border: 0;
}

#doxygen-ref CAPTION {
  font-weight: bold;
}
#doxygen-ref .contents .summary {
  line-height: 1em;
}
#doxygen-ref .contents .summary TD {
}
#doxygen-ref .contents .summary .type {
  text-align: right;
}
#doxygen-ref .memdoc {
  padding-left: 30px;
}
#doxygen-ref .memitem {
  border-top:1px solid #E5ECF9;
  border:none;
}
#doxygen-ref .doxygen-global {
  background-color: #ffcc66;
}

*/
