/* Copyright 2015 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  /* The viewer implements a custom pinch zoom. */
  touch-action: pan-x pan-y;
}

body {
  background-color: rgb(82, 86, 89);
  color: var(--primary-text-color);
  line-height: 154%;
  margin: 0;
}

html[pdfcr23enabled] body {
  background-color: rgb(40, 40, 40);
}
