<?xml version="1.0" encoding="utf-8"?>
  <!-- Copyright 2012 The Chromium Authors
       Use of this source code is governed by a BSD-style license that can be
       found in the LICENSE file. -->
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.chromium.android_webview.test">
    <instrumentation android:name="org.chromium.base.test.BaseChromiumAndroidJUnitRunner"
        android:targetPackage="org.chromium.android_webview.shell"
        android:label="Tests for org.chromium.android_webview"/>
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application android:hardwareAccelerated="false">
      <!-- Digital Asset Links statement list for SAA tests -->
      <meta-data android:name="asset_statements" android:resource="@string/asset_statements" />
    </application>
</manifest>
