{#---
  Macro for WebUIJsBridge declarations and definitions.
---#}

{%- macro constructor_params(webui_js_bridge) -%}
{%- for method in webui_js_bridge.methods %}
BinderFor{{method.name}} {{method|binder_variable_name}}
{{- "," if not loop.last else "" -}}
{%- endfor -%}
{%- endmacro -%}
