<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2019 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    featureSplit="test_dummy">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/test_dummy_module_title">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application />
</manifest>
