<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleIdentifier</key>
	<string>${BROWSER_BUNDLE_IDENTIFIER}.UpdaterPrivilegedHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${UPDATER_HELPER_BUNDLE_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleVersion</key>
	<string>3.0</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>identifier "${BROWSER_BUNDLE_IDENTIFIER}"</string>
		<string>identifier "${BROWSER_BUNDLE_IDENTIFIER}.beta"</string>
		<string>identifier "${BROWSER_BUNDLE_IDENTIFIER}.canary"</string>
		<string>identifier "${BROWSER_BUNDLE_IDENTIFIER}.dev"</string>
	</array>
</dict>
</plist>
