<!--
Copyright 2021 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<style include="cr-icons cr-shared-style oobe-common-styles
    cros-color-overrides">
  cr-button {
    --border-color: var(--oobe-bg-color);
    --cr-button-height: var(--oobe-button-height);
    border-radius: var(--oobe-button-radius);
    margin: 0 4px;
    padding-inline-end: var(--oobe-back-button-padding-inline-end);
    padding-inline-start: var(--oobe-back-button-padding-inline-start);
  }
  :host-context([dir=ltr]) iron-icon {
    padding-inline-start: var(--oobe-button-icon-margin);
    transform: rotate(180deg);
  }
  :host-context([dir=rtl]) iron-icon {
    padding-inline-end: var(--oobe-button-icon-margin);
  }
  :host ::slotted(*),
  .fallback {
    font-family: var(--oobe-button-font-family);
    font-size: var(--oobe-button-font-size);
    font-weight: var(--oobe-button-font-weight);
  }
  :host([disabled]) {
    pointer-events: none;
  }

  :host-context(.jelly-enabled) cr-button#button {
    background-color: transparent;
    --text-color: var(--cros-sys-primary);
  }
</style>
<cr-button id="button" on-click="onClick" disabled="[[disabled]]"
    aria-label$="[[labelForAria_]]">
  <div class="flex horizontal layout center-justified center">
    <iron-icon icon="oobe-20:button-arrow-forward"></iron-icon>
    <slot name="text">
      <template is="dom-if" if="[[textKey]]">
        <div class="fallback">[[i18nDynamic(locale, textKey)]]</div>
      </template>
    </slot>
  </div>
</cr-button>
