/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=../demo.css.js
 * #scheme=relative
 * #include=demo
 * #css_wrapper_metadata_end */

.badge {
  align-items: center;
  background: var(--google-grey-200);
  border-radius: 100px;
  display: inline-flex;
  font-size: 12px;
  gap: 4px;
  height: 20px;
  padding: 2px 8px 2px 6px;
}

@media (prefers-color-scheme: dark) {
  .badge {
    background: var(--google-grey-700);
  }
}

cr-icon {
  height: 12px;
  width: 12px;
}

cr-input {
  --cr-input-error-display: none;
}

cr-checkbox::part(label-container) {
  display: none;
}
