/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/mwb_shared_style_lit.css.js
 * #scheme=relative
 * #include=mwb-shared-style-lit
 * #css_wrapper_metadata_end */

:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
}

#closeButton {
  --cr-icon-button-size: 20px;
  --cr-icon-button-icon-size: 16px;
  align-self: flex-end;
  margin: 24px;
}

.title {
  align-self: center;
  color: var(--cr-primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.body {
  align-self: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 4px;
}

.tab-list:not([hidden]) {
  display: flex;
  min-height: 16px;
  background: var(--color-tab-search-background);
  border-radius: 16px;
  margin: 16px 106px;
  padding: 16px 0;
}

.scroller {
  flex: 1;
  max-height: none;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-gutter: stable;
}

.scroller::-webkit-scrollbar {
  width: 8px;
}

.scroller::-webkit-scrollbar-thumb {
  border-radius: 8px;
}
