<?xml version='1.0' encoding='UTF-8'?>
<gupdate xmlns='http://www.google.com/update2/response' protocol='2.0'>
 <app appid='ogjcoiohnmldgjemafoockdghcjciccf'>
  <updatecheck codebase='$1' version='3.0'/>
 </app>
</gupdate>

