{% from "interface_definition.tmpl" import interface_internal_def %}
{% include "header.java.tmpl" %}
{% for import in interface_imports -%}
import {{import}};
{% endfor %}

{{ interface_internal_def(interface) }}
