/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_page_host_style_lit.css.js
 * #import=//resources/cr_elements/cr_shared_style_lit.css.js
 * #import=//resources/cr_elements/cr_shared_vars.css.js
 * #scheme=relative
 * #include=cr-page-host-style-lit cr-shared-style-lit
 * #css_wrapper_metadata_end */

.grid-container-available-eps {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 15px;
  width: 100%;
}

.item {
  background-color: var(--cr-secondary-background-color);
  border-radius: var(--cr-card-border-radius);
  box-shadow: var(--cr-card-shadow);
  color: var(--cr-primary-text-color);
  padding: 15px;
}

<if expr="is_win">
.onnx-runtime-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

.environment-created {
  color: var(--google-green-600);
}

.environment-not-created {
  color: var(--google-red-600);
}
</if>

.category-title {
  color: var(--cr-primary-text-color);
  font-size: 108%;
  margin-bottom: 10px;
}

.description {
  font-weight: bold;
}

.noep {
  margin-bottom: 10px;
}
