<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headers</key>
	<array>
		<string>ios/credential_provider_extension/grit/ios_credential_provider_extension_strings.h</string>
	</array>
	<key>outputs</key>
	<array>
		<dict>
			<key>name</key>
			<string>Localizable.strings</string>
			<key>strings</key>
			<array>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_ALL_PASSWORDS</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_ALL_PASSKEYS</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CONSENT_BUTTON_TITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CONSENT_CAPTION</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CONSENT_MORE_INFO_STRING</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CONSENT_SUBTITLE_BRANDED_NO_SYNC</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CONSENT_SUBTITLE_BRANDED_SYNC</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CONSENT_TITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CREATE_PASSWORD_ROW</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CREDENTIAL_LIST_BRANDED_HEADER_NO_SYNC</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CREDENTIAL_LIST_BRANDED_HEADER_SYNC</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_CREDENTIAL_LIST_BRANDED_TITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_DETAILS_COPY</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_DETAILS_PASSWORD</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_DETAILS_SHOW_PASSWORD</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_DETAILS_URL</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_DETAILS_USERNAME</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_DETAILS_USER_DISPLAY_NAME</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_DETAILS_SHOW_CREATION_DATE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_DETAILS_CREATION_DATE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_DONE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_EMPTY_CREDENTIALS_SUBTITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_EMPTY_CREDENTIALS_TITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_ENTER</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_EXTENSION_CANCEL</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_EXTENSION_REPLACE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_ERROR_MESSAGE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_ERROR_TITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_FOOTER_BRANDED_NO_SYNC</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_FOOTER_BRANDED_SYNC</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_HIDE_KEYBOARD_HINT</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_HIDE_PASSWORD_HINT</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_NEXT_FIELD_HINT</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_PREVIOUS_FIELD_HINT</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_SUGGEST_STRONG_PASSWORD</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_TITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_PASSWORD</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_PASSWORD_PLACEHOLDER</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_REPLACE_TITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_REPLACE_MESSAGE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_REVEAL_PASSWORD_HINT</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_USERNAME</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NEW_PASSWORD_USERNAME_PLACEHOLDER</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NO_SEARCH_RESULTS</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_NOTE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_STALE_CREDENTIALS_SUBTITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_STALE_CREDENTIALS_TITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_SCREENLOCK_REASON</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_SET_UP_SCREENLOCK_CONTENT</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_SET_UP_SCREENLOCK_TITLE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_SET_UP_SCREENLOCK_LEARN_HOW</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_SHOW_DETAILS_ACCESSIBILITY_LABEL</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_SUGGESTED_PASSWORD</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_SUGGESTED_PASSWORDS</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_TITLE_PROMPT</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_TOO_LONG_NOTE</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_OK</string>
				<string>IDS_IOS_CREDENTIAL_PROVIDER_USE</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
