/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

#container {
  align-items: center;
  margin-top: 10px;
  padding-inline-end: 20px;
  position: fixed;
  right: 0;
}

:host-context(html[dir='rtl']) #container {
  left: 0;
  right: auto;
}

#container img {
  height: 16px;
  margin-inline-end: 5px;
  width: 16px;
}
