/*
 * Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

pre {
  white-space: pre-wrap;
}

.iwa-dev-update-button {
  margin-left: 4px;
}

button {
  padding: 4px;
}

.iwa-dev-switch-channel-button {
  margin-left: 4px;
}

div#iwa-update-manifest-version {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

div#iwa-update-manifest-dialog-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 8px;
}

dialog {
  border: 0;
  border-radius: 8px 8px 8px 8px;
  >* {
      margin: 8px 0px;
    }
}

dialog[open] {
  display: flex;
  flex-direction: column;
  border-radius: 8px;

}

div .dialog-buttons {
  display: flex;
  flex-direction: flex-start;
  gap: 4px;
}

.iwa-dev-mode-list-item {
  padding: 8px;
  border-bottom: 1px solid #eee;
}

.iwa-dev-mode-list-item>* {
  margin: 4px;
}

.dev-iwa-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 8px;
  >* {
      padding: 4px;
    }
}
