<!--
 * Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
-->

<manifest
      xmlns:android="http://schemas.android.com/apk/res/android"
      package="androidx.javascriptengine.test">

    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />

    <instrumentation android:name="androidx.test.runner.AndroidJUnitRunner"
        android:targetPackage="androidx.javascriptengine.test"
        android:label="Tests for androidx.javascriptengine.test"/>
</manifest>
