// Copyright (c) 2020 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include "chrome/updater/win/ui/resources/resources.grh"

#include <winres.h>
#include <winresrc.h>

LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_APP   ICON    "chrome/updater/win/ui/resources/google_update.ico"

IDB_ERROR_ILLUSTRATION BITMAP  "chrome/updater/win/ui/resources/error.bmp"
IDB_CHROME             BITMAP  "chrome/updater/win/ui/resources/chrome.bmp"

// TODO(sorin): remove unused strings, https://crbug.com/1016923.
STRINGTABLE
BEGIN
  IDS_FRIENDLY_COMPANY_NAME "Google"
  IDS_PRODUCT_DISPLAY_NAME "Google Update"
  IDS_DEFAULT_APP_DISPLAY_NAME "{0} Application"
  IDS_APPLICATION_INSTALLED_SUCCESSFULLY "Thanks for installing."
  IDS_NO_UPDATE_RESPONSE "No update is available."
  IDS_INSTALLER_OLD "This installer is no longer supported. Please download a new version from {0}."
  IDS_SERVICE_NAME "gupdate"
  IDS_SERVICE_DISPLAY_NAME "{0} Service"
  IDS_SERVICE_DESCRIPTION "Keeps your {0} software up to date. If this service is disabled or stopped, your {0} software will not be kept up to date, meaning security vulnerabilities that may arise cannot be fixed and features may not work. This service uninstalls itself when there is no {0} software using it."
  IDS_SCHEDULED_TASK_DESCRIPTION "Keeps your {0} software up to date. If this task is disabled or stopped, your {0} software will not be kept up to date, meaning security vulnerabilities that may arise cannot be fixed and features may not work. This task uninstalls itself when there is no {0} software using it."
  IDS_NO_NETWORK_PRESENT_ERROR "Unable to connect to the Internet. If you use a firewall, please whitelist {0}."
  IDS_ERROR_HTTPSTATUS_UNAUTHORIZED "Unable to connect to the Internet. HTTP 401 Unauthorized. Please check your proxy configuration."
  IDS_ERROR_HTTPSTATUS_FORBIDDEN "Unable to connect to the Internet. HTTP 403 Forbidden. Please check your proxy configuration."
  IDS_ERROR_HTTPSTATUS_PROXY_AUTH_REQUIRED "Unable to connect to the Internet. Proxy server requires authentication."
  IDS_UNKNOWN_APPLICATION "Installation failed due to a server side error. Please try again later."
  IDS_RESTRICTED_RESPONSE_FROM_SERVER "Installation failed because access is restricted in this country."
  IDS_NON_OK_RESPONSE_FROM_SERVER "The server returned the following error: {0}. Please try again later."
  IDS_OS_NOT_SUPPORTED "Installation failed because your version of Windows is not supported."
  IDS_HW_NOT_SUPPORTED "Installation failed because your computer does not meet minimum hardware requirements for {0}."
  IDS_DOWNLOAD_HASH_MISMATCH "The downloaded file failed verification."
  IDS_DOWNLOAD_ERROR "The download failed."
  IDS_CACHING_ERROR "Failed to cache the downloaded installer. Error: 0x%1!08x!."
  IDS_INSTALLER_FAILED_FILE_NOT_TRUSTED "The installer file failed verification. Please try downloading the installer again."
  IDS_INVALID_INSTALLER_FILENAME "The installer filename {0} is invalid or unsupported."
  IDS_INSTALLER_FAILED_TO_START "The installer failed to start."
  IDS_INSTALLER_TIMED_OUT "The installer did not complete. Installation has been aborted."
  IDS_INSTALLER_FAILED_WITH_MESSAGE "The installer encountered error {0}: {1}"
  IDS_INSTALLER_FAILED_NO_MESSAGE "The installer encountered error {0}."
  IDS_MSI_INSTALL_ALREADY_RUNNING "Installation failed. Please wait for other Windows installers to finish and try installing again."
  IDS_INSTALL_FAILED "Installation failed. Please try again."
  IDS_CANCELED    "Canceled."
  IDS_APP_INSTALL_DISABLED_BY_GROUP_POLICY "Your network administrator has applied a Group Policy that prevents installation."
  IDS_INSTALLER_DISPLAY_NAME "{0} Installer"
  IDS_CLOSE_BUTTON "Close"
  IDS_MINIMIZE_BUTTON "Minimize"
  IDS_MAXIMIZE_BUTTON "Maximize"
  IDS_INITIALIZING "Initializing..."
  IDS_WAITING_TO_CONNECT "Connecting to the Internet..."
  IDS_DOWNLOAD_RETRY "Egads! Download failed. Retrying... {0,number,integer} second(s) remaining"
  IDS_WAITING_TO_DOWNLOAD "Waiting to download..."
  IDS_DOWNLOADING_SHORT "Downloading... {0,number,integer} second(s) remaining"
  IDS_DOWNLOADING_LONG "Downloading... {0,number,integer} minute(s) remaining"
  IDS_DOWNLOADING_VERY_LONG "Downloading... {0,number,integer} hour(s) remaining"
  IDS_DOWNLOADING_COMPLETED "Download complete."
  IDS_DOWNLOADING "Downloading..."
  IDS_WAITING_TO_INSTALL "Waiting to install..."
  IDS_INSTALLING  "Installing..."
  IDS_CANCELING   "Canceling..."
  IDS_TEXT_RESTART_BROWSER "Thanks for installing. You must restart your browser before using {0}."
  IDS_TEXT_RESTART_ALL_BROWSERS "Thanks for installing. You must restart all your browsers before using {0}."
  IDS_TEXT_RESTART_COMPUTER "Thanks for installing. You must restart your computer before using {0}."
  IDS_CLOSE       "Close"
  IDS_RESTART_NOW "Restart Now"
  IDS_RESTART_LATER "Restart Later"
  IDS_GET_HELP_TEXT "Help"
  IDS_INSTALLATION_STOPPED_WINDOW_TITLE "Installation Stopped."
  IDS_INSTALL_STOPPED "Installation not complete. Are you sure you want to cancel?"
  IDS_RESUME_INSTALLATION "Resume Installation"
  IDS_CANCEL_INSTALLATION "Cancel Installation"
  IDS_SPLASH_SCREEN_MESSAGE "On your marks..."
  IDS_CONTINUE_AS_NONADMIN "{0} can be installed without administrator privileges. Continue?"
  IDS_YES         "&Yes"
  IDS_NO          "&No"
  IDS_WINDOWS_IS_NOT_UP_TO_DATE "Installation failed. The {0} installer requires an update to Windows. Please install all required updates via Windows Update."
  IDS_NEED_ADMIN_TO_INSTALL "Installation failed. {0} needs administrator privileges to install. Please log in as an administrator and try again."
  IDS_SETUP_FAILED "Egads! Installation failed. Error code: 0x%1!08x!."
  IDS_ELEVATION_FAILED "Installation failed. {0} needs administrator privileges to install."
  IDS_APPLICATION_INSTALLING_GOOGLE_UPDATE "Installation failed. Another installation of a {0} application is in progress."
  IDS_INSTANCES_RUNNING_AFTER_SHUTDOWN "Installation failed. Another {0} application is being installed or updated. Please wait for all {0} application installers to finish, close all installer windows, and try installing {1} again. If this problem persists, you may need to reboot your computer."
  IDS_APPLICATION_ALREADY_INSTALLING "Installation failed. Another installation of {0} is already in progress."
  IDS_HANDOFF_FAILED "Installation failed. The {0} installer failed to start."
  IDS_USER_SHOULD_NOT_RUN_ELEVATED_WITH_UAC_ON "Installation failed. The {0} installer does not support installing with administrator privileges."
  IDS_INSTALL_FAILED_WITH_ERROR_CODE "Egads! Installation failed. Please try again. Error code = 0x%1!08x!."
  IDS_BUNDLE_INSTALLED_SUCCESSFULLY "Installation complete."
  IDS_BUNDLE_INSTALLED_SUCCESSFULLY_AFTER_CANCEL "Installation completed before it could be canceled."
  IDS_BUNDLE_MIXED_RESULTS_MESSAGE_ONE_FAILURE "An application failed to install."
  IDS_BUNDLE_MIXED_RESULTS_MESSAGE_MULTIPLE_FAILURES "Some applications failed to install."
  IDS_BUNDLE_MIXED_RESULTS_SUCCEEDED_APPS "{0}Succeeded:{1} {2}"
  IDS_BUNDLE_MIXED_RESULTS_FAILED_APPS "{0}Failed:{1} {2}"
  IDS_BUNDLE_MIXED_RESULTS_CANCELED_APPS "{0}Canceled:{1} {2}"
  IDS_APPLICATION_NAME_CONCATENATION "{0}, {1}"
  IDS_PROXY_PROMPT_MESSAGE "Enter username and password for proxy server {0}"
END

IDD_PROGRESS DIALOGEX 0, 0, 433, 187
STYLE DS_SETFONT | WS_DLGFRAME | WS_POPUP | WS_SYSMENU | WS_MINIMIZEBOX
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    CTEXT       "",IDC_TITLE_BAR_SPACER,0,0,1,34, WS_VISIBLE
    PUSHBUTTON  "",IDC_GET_HELP,321,157,46,19,BS_FLAT | WS_VISIBLE
    PUSHBUTTON  "",IDC_CLOSE,374,157,46,19,BS_FLAT | WS_VISIBLE
    PUSHBUTTON  "",IDC_BUTTON1,171,157,121,19,BS_FLAT | WS_VISIBLE
    PUSHBUTTON  "",IDC_BUTTON2,299,157,121,19,BS_FLAT | WS_VISIBLE
    CONTROL     "",IDC_PROGRESS,"msctls_progress32",WS_VISIBLE,30,100,373,10
    CTEXT       "",IDC_INSTALLER_STATE_TEXT,15,55,403,45,WS_VISIBLE
    CTEXT       "",IDC_INFO_TEXT,15,150,403,38,WS_VISIBLE
    CTEXT       "",IDC_PAUSE_RESUME_TEXT,375,82,48,38,SS_NOTIFY | WS_VISIBLE
    CTEXT       "",IDC_COMPLETE_TEXT,15,55,403,84,SS_NOTIFY | WS_VISIBLE
    CTEXT       "",IDC_ERROR_TEXT,15,113,403,43,SS_NOTIFY | WS_VISIBLE
    CONTROL     IDB_ERROR_ILLUSTRATION,IDC_ERROR_ILLUSTRATION,"Static",SS_BITMAP | SS_CENTERIMAGE | WS_VISIBLE,189,53,66,40
    CONTROL     "",IDC_APP_BITMAP,"Static",SS_BITMAP | SS_CENTERIMAGE | WS_VISIBLE,185,139,63,17
END

IDD_INSTALL_STOPPED DIALOGEX 0, 0, 260, 80
STYLE DS_SETFONT | WS_DLGFRAME | WS_POPUP
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    CTEXT           "",IDC_TITLE_BAR_SPACER,0,0,1,15,WS_VISIBLE
    DEFPUSHBUTTON   "",IDOK,161,53,90,19,BS_FLAT
    PUSHBUTTON      "",IDCANCEL,64,53,90,19,BS_FLAT
    CTEXT           "",IDC_INSTALL_STOPPED_TEXT,7,17,244,34
END

IDD_YES_NO DIALOGEX 0, 0, 260, 80
STYLE DS_SETFONT | WS_DLGFRAME | WS_POPUP
FONT 8, "MS Shell Dlg", 0, 0, 0x0
BEGIN
    CTEXT           "",IDC_TITLE_BAR_SPACER,0,0,1,15,~WS_VISIBLE
    DEFPUSHBUTTON   "",IDOK,152,53,46,19,BS_FLAT
    PUSHBUTTON      "",IDCANCEL,205,53,46,19,BS_FLAT
    CTEXT           "",IDC_YES_NO_TEXT,7,17,244,34
END

1 TYPELIB "chrome/updater/app/server/win/updater_idl.tlb"

