/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 615px;
  overflow: hidden;
  user-select: none;
}
