/* Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    background: var(--md-background-color);
  }
}