
/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */
 /* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_shared_vars.css.js
 * #import=//resources/cr_elements/cr_spinner_style.css.js
 * #scheme=relative
 * #include=cr-spinner-style
 * #css_wrapper_metadata_end */

:host {
  padding: 8px 12px;
}

:host h1 {
  color: var(--cr-primary-text-color);
}

:host h2 {
  color: var(--cr-primary-text-color);
}

:host h3 {
  color: var(--cr-secondary-text-color);
}

.label {
  font-size: 1.2em;
  color: var(--cr-primary-text-color);
}

.config-row {
  padding: 4px 0;
}

.action-panel {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.config-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 15px;
  margin-bottom: 20px;
}

.loading-spinner {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.spinner {
  --cr-spinner-size: 20px;
}
