/* Copyright 2017 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

 #traffic-event-fullscreen-container {
  font-size: 1.5em;
}

.traffic-event-entry-fullscreen {
  border: 2px outset;
  padding: 0.5em;
}

.traffic-event-entry-fullscreen:hover {
  background-color: #eee;
}

.traffic-event-entry-fullscreen .time {
  color: #222;
}

.traffic-event-entry-fullscreen .type {
  font-weight: bold;
  margin: 0.5em;
  white-space: nowrap;
}

.traffic-event-entry-fullscreen .details {
  margin: 0.5em;
  white-space: pre-wrap;
}

.traffic-event-entry-fullscreen .proto {
  display: none;
}

.traffic-event-entry-expanded-fullscreen .proto {
  background-color: #fff;
  border: 1px solid #222;
  display: block;
  white-space: pre-wrap;
  word-break: break-all;
}
