/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=chrome://resources/ash/common/cr_elements/cr_shared_vars.css.js
 * #include=settings-shared
 * #css_wrapper_metadata_end */

network-icon {
  padding-inline-end: var(--cr-section-padding);
}

iron-icon.policy {
  margin-inline-end: var(--cr-controlled-by-spacing);
}

.indented {
  margin-inline-start: var(--cr-section-padding);
}

.stretch {
  align-items: stretch;
}

.title {
  font-size: 107.69%;  /* 14px / 13px */
  font-weight: 500;
}
