<div class="product">
<span class="title">{{name}}</span>
<span class="homepage"><a href="{{url}}">homepage</a></span>
<label class="show" tabindex="0">
<input type="checkbox" hidden>
</label>
<div class="license">
<pre>{{license}}</pre>
</div>
</div>
