/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  align-content: center;
  display: flex;
  justify-content: center;
  margin: unset;
  min-height: 0;
  padding: unset;
}
