/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=./shared_vars.css.js
 * #import=//resources/cr_elements/cr_shared_style_lit.css.js
 * #scheme=relative
 * #include=cr-shared-style-lit
 * #css_wrapper_metadata_end */

:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#content {
  display: flex;
  flex: 1;
  overflow: overlay;
  position: relative;
}

#left {
  flex: 0 0 250px;
  height: 100%;
  position: sticky;
  top: 0;
}

#sidebar {
  max-height: 100%;
  width: 100%;
  overscroll-behavior: contain;
  overflow: auto;
  padding-top: 8px;
}

cr-page-selector {
  flex: 1;
  overflow: auto;
  min-width: 0;

  display: flex;
  flex-direction: column;

  /* max-width to align with the searchbar */
  max-width: var(--main-content-max-width);
  margin: 0 auto;
  padding-top: 16px;
}

.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
}
