/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_shared_style_lit.css.js
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #scheme=relative
 * #include=cr-shared-style-lit
 * #css_wrapper_metadata_end */

:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
}

#empty-state {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#headline {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  color: var(--color-sys-on-surface);
}

#notice-message {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--color-sys-on-surface-subtle);
  margin: 8px;
}

#title {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
  color: var(--color-sys-on-surface-subtle);
}

#subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--color-sys-on-surface-variant);
}

cr-button {
  margin-top: 12px;
}
