/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=chrome://resources/cr_elements/chromeos/cros_color_overrides.css.js
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #include=cros-color-overrides
 * #css_wrapper_metadata_end */

:host {
  --shortcuts-font-weight-regular: 400;
  --shortcuts-font-weight-medium: 500;

  --shortcuts-font-family-default: "Google Sans", Roboto, sans-serif;
  --shortcuts-font-size-default: 13px;
}