<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2023 The Chromium Authors
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.components.ip_protection_auth">
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <application android:label="Ip Protection Auth">
    <service android:name="org.chromium.components.ip_protection_auth.mock_service.ConstantResponseService$PersistentError"
          android:exported="true" />
    <service android:name="org.chromium.components.ip_protection_auth.mock_service.ConstantResponseService$TransientError"
          android:exported="true" />
    <service android:name="org.chromium.components.ip_protection_auth.mock_service.ConstantResponseService$IllegalErrorCode"
          android:exported="true" />
    <service android:name="org.chromium.components.ip_protection_auth.mock_service.ConstantResponseService$Null"
          android:exported="true" />
    <service android:name="org.chromium.components.ip_protection_auth.mock_service.ConstantResponseService$Unparsable"
          android:exported="true" />
    <service android:name="org.chromium.components.ip_protection_auth.mock_service.ConstantResponseService$SynchronousError"
          android:exported="true" />
    <service android:name="org.chromium.components.ip_protection_auth.mock_service.ConstantResponseService$NeverResolve"
          android:exported="true" />

    <service android:name="org.chromium.components.ip_protection_auth.mock_service.CrashingService$CrashOnRequestSyncWithoutResponse"
	  android:process=":crash"
          android:exported="true" />
    <service android:name="org.chromium.components.ip_protection_auth.mock_service.CrashingService$CrashOnRequestAsyncWithoutResponse"
	  android:process=":crash"
          android:exported="true" />
    <service android:name="org.chromium.components.ip_protection_auth.mock_service.CrashingService$CrashOnRequestSyncWithResponse"
	  android:process=":crash"
          android:exported="true" />
    <service android:name="org.chromium.components.ip_protection_auth.mock_service.CrashingService$CrashAfterTwoRequestsSyncWithoutResponses"
	  android:process=":crash"
          android:exported="true" />

    <service android:name="org.chromium.components.ip_protection_auth.mock_service.IpProtectionAuthServiceMock"
          android:exported="true" />

    <service android:name="org.chromium.components.ip_protection_auth.mock_service.NullBindingService"
          android:exported="true" />
    <service android:name="org.chromium.components.ip_protection_auth.mock_service.NullBindingService$DisabledService"
          android:enabled="false"
          android:exported="true" />
    <service android:name="org.chromium.components.ip_protection_auth.mock_service.NullBindingService$RestrictedService"
          android:permission="permission-which-the-client-does-not-have"
          android:exported="true" />
  </application>
</manifest>
