/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://read-later.top-chrome/shared/sp_shared_style_lit.css.js
 * #import=chrome://resources/cr_elements/cr_hidden_style_lit.css.js
 * #scheme=relative
 * #include=cr-hidden-style-lit sp-shared-style-lit
 * #css_wrapper_metadata_end */

:host {
  --sp-footer-height: 56px;
}

#content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

cr-icon-button {
  --cr-icon-button-icon-size: var(--mwb-icon-size);
  --cr-icon-button-size: calc(var(--mwb-icon-size) * 1.5);
}

cr-lazy-list {
  flex: 1;
  scrollbar-gutter: stable;
}

/* Transition required to ensure focus highlight after button press.
 * See crbug/1358900.
 */
reading-list-item:first-of-type:last-of-type {
  transition: background 100ms;
}

#readingListList {
  /* Display the scroll bar in the gutter outside the card. */
  margin-right: -8px;
  max-height: none;
  overflow: auto;
}

.sp-card {
  display: flex;
  max-height: calc(100% - var(--sp-footer-height) - 4 * var(--sp-body-padding));
  margin: var(--sp-body-padding);
}

.sp-card sp-heading {
  margin: 6px 0;
  width: auto;
}

sp-footer {
  height: var(--sp-footer-height);
}

:host(.in-webui-browser) .sp-card {
  flex: 1;
}
