/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=./print_preview_shared.css.js
 * #include=print-preview-shared
 * #css_wrapper_metadata_end */

cr-button {
  height: fit-content;
  min-height: 32px;
  text-align: center;
  width: calc(100% - 2 * var(--print-preview-sidebar-margin));
}
