/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_hidden_style_lit.css.js
 * #import=chrome://resources/cr_elements/cr_shared_style_lit.css.js
 * #import=./throbber.css.js
 * #scheme=relative
 * #include=cr-shared-style-lit throbber cr-hidden-style-lit
 * #css_wrapper_metadata_end */

:host {
  display: block;
}

<if expr="not is_macosx">
  :host(:not([should-show-system-dialog-link_])) {
    display: none;
  }
</if>

:host cr-icon-button {
  --cr-icon-button-icon-size: 16px;
  --cr-icon-button-margin-end: -2px;
  --cr-icon-button-margin-start: 0;
  --cr-icon-button-size: 28px;
}

.link:not([actionable]) {
  pointer-events: none;
}

.throbber {
  margin: 8px;
  min-height: 16px;
  min-width: 16px;
}

.link {
  align-items: center;
  display: flex;
  min-height: 46px;
  padding: 0 var(--print-preview-sidebar-margin);
}

#systemDialogLink {
  padding-top: 0.5em;
}

.label {
  flex: 1;
}

.link:not([actionable]) .label {
  opacity: var(--cr-disabled-opacity);
}
