/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_hidden_style_lit.css.js
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=./print_preview_vars.css.js
 * #include=cr-hidden-style-lit
 * #css_wrapper_metadata_end */

@keyframes dancing-dots-jump {
  0% { top: 0; }
  55% { top: 0; }
  60% { top: -10px; }
  80% { top: 3px; }
  90% { top: -2px; }
  95% { top: 1px; }
  100% { top: 0; }
}

span.jumping-dots > span {
  animation: dancing-dots-jump 1800ms infinite;
  padding: 1px;
  position: relative;
}

span.jumping-dots > span:nth-child(2) {
  animation-delay: 100ms;
}

span.jumping-dots > span:nth-child(3) {
  animation-delay: 300ms;
}

:host {
  display: block;
  height: 100%;
  overflow: hidden;
  position: relative;
  user-select: none;
}

.preview-area-plugin-wrapper {
  height: 100%;
}

.preview-area-plugin {
  border: none;
  cursor: inherit;
  height: 100%;
  opacity: 1;
  /* pluginFadeInTransitionDuration = 200ms */
  transition: opacity 200ms linear;
  /* pluginFadeInTransitionDelay =
     overlayFadeOutTransitionDuration = 100ms */
  transition-delay: 100ms;
  width: 100%;
}

.preview-area-overlay-layer {
  background: var(--preview-area-background-color);
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  margin: 0;
  opacity: 1;
  position: absolute;
  transition: opacity 200ms linear;
  /* overlayFadeInTransitionDelay = pluginFadeOutTransitionDelay +
   *     pluginFadeOutTransitionDuration = 350ms */
  transition-delay: 350ms;
  user-select: none;
  width: 100%;
  z-index: 1;
}

.preview-area-overlay-layer.invisible {
  opacity: 0;
  pointer-events: none;
  /* overlayFadeOutTransitionDuration = 100ms */
  transition: opacity 100ms linear;
}

.preview-area-message {
  color: var(--cr-primary-text-color);
  line-height: 20px;
  margin: 0 10px;
  position: relative;
  text-align: center;
}
