// Copyright 2020 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.components.content_settings;

/** Contains content settings related preference names (keys). */
public final class PrefNames {{

{NATIVE_STRINGS}

    // Prevents instantiation.
    private PrefNames() {{}}
}}
