// Copyright 2020 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.android_webview.common;

/**
 * Contains command line switches that are specific to Android WebView.
 */
public final class AwSwitches {{

{NATIVE_STRINGS}

    // Do not instantiate this class.
    private AwSwitches() {{}}
}}
