/* Copyright 2022 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

html {
  scroll-behavior: smooth;
}

.info-div {
  padding-bottom: 15px;
  width: 100%;
}

.info-table {
  width: 100%;
}

#script-cache-header {
  font-weight: bold;
  text-align: center;
}

#script-fetching-table {
  padding-bottom: 10px;
}

button:hover {
  cursor: pointer;
}

h2 {
  font-size: 1em;
  text-align: center;
}
