/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#content {
  bottom: 0;
  left: 0;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}

img {
  background-color: white;
  background-image:
    linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%,
        #efefef 75%, #efefef),
    linear-gradient(45deg, #efefef 25%, transparent 25%, transparent 75%,
        #efefef 75%, #efefef);
  background-position: 0 0, 10px 10px;
  background-size: 21px 21px;
}

#content[hidden] {
  display: none;
}

#content:focus {
  outline: 2px solid rgba(66, 133, 244, 0.5);
  outline-offset: -2px;
}

audio::-webkit-media-controls-timeline,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-play-button {
  cursor: pointer;
}

audio::-webkit-media-controls-volume-slider {
  display: none;
}

audio:focus,
audio::-webkit-media-controls-timeline:focus,
audio::-webkit-media-controls-mute-button:focus,
audio::-webkit-media-controls-play-button:focus {
  outline: 1px solid rgba(66, 133, 244, 0.5);
  outline-offset: -1px;
}
