/* Copyright 2022 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #css_wrapper_metadata_end */

.action-icon {
  --cr-icon-button-active-background-color: rgba(var(--google-grey-900-rgb), .16);
  --cr-icon-button-fill-color: var(--search-box-icon, var(--google-grey-700));
  --cr-icon-button-focus-outline-color: var(--google-blue-600);
  --cr-icon-button-hover-background-color: rgba(var(--google-grey-900-rgb), .1);
  --cr-icon-button-icon-size: 16px;
  --cr-icon-button-margin-end: 0;
  --cr-icon-button-margin-start: 0;
  --cr-icon-button-size: 24px;
}
