// Copyright 2020 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.chrome.browser;

public class ChromeStrictModeSwitch {
#if defined(STRICT_MODE_CHECKING)
    public static final boolean ALLOW_STRICT_MODE_CHECKING = true;
#else
    public static final boolean ALLOW_STRICT_MODE_CHECKING = false;
#endif
}
