/* Copyright 2014 The Chromium Authors
   Use of this source code is governed by a BSD-style license that can be
   found in the LICENSE file. */

/* This is the stylesheet for the interstitial when the
   "WebFilterInterstitialRefresh" flag is disabled. */

body {
  --avatar-stroke-color: var(--google-gray-50);
  --custodian-name-color: #333333;
  --custodian-email-color: #5f6368;
  --focused-details-button-border: rgba(26, 115, 232, 0.4);
  --header-color: var(--google-gray-900);
  --paragraph-color: var(--google-gray-700);
  --callout-text-color: var(--google-gray-900);
  --callout-bg-color: var(--google-gray-100);
  font-family: "Roboto", sans-serif;
  padding: 24px 24px 20px 24px;
}

button {
  background: var(--primary-button-fill-color);
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  color: var(--primary-button-text-color);
  cursor: pointer;
  font-size: 14px;
  line-height: 16pt;
  margin: 0;
  padding: 8px 16px;
  transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
}

button:active {
  background: var(--primary-button-fill-color-active);
}

[dir='rtl'] button {
  float: left;
}

#details {
  margin-top: 32px;
}

#details-header {
  font-weight: bold;
}

.details-button {
  background: var(--quiet-background-color);
  border: 1px solid var(--google-gray-500);
  color: var(--google-gray-700);
  float: none;
}

.details-button:hover {
  background: var(--google-gray-50);
  border-color: var(--google-gray-600);
}

.details-button:active {
  background: var(--google-gray-50);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
}

.details-button:focus {
  background: var(--google-gray-50);
  border-color: var(--focused-details-button-border);
}

h1,
p,
.custodian-contact {
  letter-spacing: -0.35px;
}

h1 {
  color: var(--header-color);
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 16px;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 125%;
}

p {
  color: var(--paragraph-color);
  font-size: 15px;
  margin-bottom: 0;
}

.message-container {
  display: flex;
  flex-direction: column;
}

.icon {
  overflow: visible;
}

#family-link-kite {
  content: -webkit-image-set(url(../resources/supervised_user_icon.png) 1x);
  height: 72px;
  width: 72px;
}

.illustration {
  display: none;
}

.frame-blocked {
  box-sizing: border-box;
  margin: 100px auto 0;
  max-width: 600px;
  min-width: 280px;
  overflow: visible;
  width: 100%;
}

#main-message {
  margin-top: 36px;
}

.button-container {
  margin-top: 40px;
}

.remote-approvals-button {
  float: right;
}

.go-back-button {
  float: left;
}

#custodians-information {
  margin-top: 16px;
}

.custodian-information {
  clear: both;
  margin-top: 8px;
}

.avatar-img {
  border: 1px solid var(--avatar-stroke-color);
  border-radius: 50%;
  content: -webkit-image-set(url(default_100_percent/logo_avatar_circle_blue_color.png) 1x,
      url(default_200_percent/logo_avatar_circle_blue_color.png) 2x);
  float: left;
  height: 40px;
  margin-right: 11px;
  user-select: none;
  width: 40px;
}

.custodian-contact {
  display: flex;
  flex-direction: column;
  height: 40px;
  overflow: visible;
}

.custodian-name {
  color: var(--custodian-name-color);
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 4px;
}

.custodian-email {
  color: var(--custodian-email-color);
  display: flex;
  flex-direction: column;
  font-size: 15px;
  height: 100%;
  justify-content: center;
}

#details {
  margin-top: 32px;
}

#details-header {
  font-weight: bold;
}

picture {
  margin: auto;
}

/* Local approvals button is only shown when the local web approvals flag
is enabled. */
.local-approvals-button {
  float: right;
  margin-left: 24px;
}

.local-approvals-button:active {
  background: var(--primary-button-fill-color-active);
}

/* Remove focus-visible outline styles, because forced focus is used for
screen reader and chrome vox provides its own focus style. */
.frame-blocked:focus-visible,
button:focus-visible {
  outline: none;
}

@media (prefers-color-scheme: dark) {
  body.supervised-user-block {
    --avatar-stroke-color: var(--google-blue-100);
    --custodian-email-color: var(--google-gray-500);
    --custodian-name-color: var(--google-gray-500);
  }
}

/* If the height is smaller than min-height, set top and bottom
margin to 0. This will be useful for subframes. */
@media (max-height: 315px) {
  .frame-blocked {
    margin-top: 0;
  }
}

@media (max-width: 420px) {

  button,
  [dir='rtl'] button,
  .small-link {
    float: none;
    width: 100%;
  }

  .details-button {
    margin-top: 20px;
  }
}
