*.gif
*.jpeg
*.jpg
*.m4a
*.mp3
*.mp4
*.ogg
*.ogv
*.png
*.wav
*.webm
*.wpr
*.wprgo

# Generated fetched binary's timestamp
# See details in py_utils.cloud_storage.GetIfChanged(file_path, bucket) method.
*.fetchts
