<?xml version="1.0" encoding="utf-8"?>
  <!-- Copyright (c) 2017 The Chromium Authors. All rights reserved. Use of
       this source code is governed by a BSD-style license that can be found
       in the LICENSE file. -->
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.chrome.browser.vr.nfc_apk">
    <application>
      <activity android:name="org.chromium.chrome.browser.vr.nfc_apk.SimNfcActivity"
        android:exported="true"
        android:theme="@android:style/Theme.NoDisplay"
        android:excludeFromRecents="true"/>
    </application>
  </manifest>
