<!-- Copyright 2020 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->
<style>

#tutorial {
  background: #FFF;
  bottom: 0;
  left: 0;
  margin-bottom: 30px;
  margin-top: 30px;
  position: fixed;
  right: 0;
  top: 0;
}

#mainMenu,
#lessonMenu,
#lessonContainer,
#nav {
  margin: auto;
  text-align: center;
  width: 50%;
}

#lessonShortcuts {
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  margin: auto;
  max-height: 500px;
  overflow: scroll;
}

#mainMenuButtons {
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

#navSeparator {
  background: rgb(232, 234, 237);
  height: 1px;
  margin: 30px;
}

h1,
cr-button {
  font-family: Google Sans;
}

h1 {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  line-height: 32px;
  margin: 20px;
  padding: 8px;
}

#mainMenu cr-button,
#lessonMenu cr-button {
  color: rgb(32, 33, 36);
  font-size: 22px;
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  padding: 30px;
}

#navButtons cr-button {
  color: rgb(26, 115, 232);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
  margin-inline-end: 10px;
  margin-inline-start: 10px;
  margin-top: 10px;
}

</style>

<div id="tutorial">

<div id="mainMenu"
    hidden$="[[ shouldHideMainMenu(activeScreen) ]]">
  <h1 id="mainMenuHeader" tabindex="-1">[[ chooseYourExperience ]]</h1>
  <div id="mainMenuButtons">
    <cr-button id="quickOrientationButton" on-click="chooseCurriculum">
      [[ quickOrientation ]]
    </cr-button>
    <cr-button id="essentialKeysButton" on-click="chooseCurriculum">
      [[ essentialKeys ]]
    </cr-button>
    <cr-button id="navigationButton" on-click="chooseCurriculum">
      [[ navigation ]]
    </cr-button>
    <cr-button id="commandReferencesButton" on-click="chooseCurriculum">
      [[ commandReferences ]]
    </cr-button>
    <cr-button id="soundsAndSettingsButton" on-click="chooseCurriculum">
      [[ soundsAndSettings ]]
    </cr-button>
    <cr-button id="resourcesButton" on-click="chooseCurriculum">
      [[ resources ]]
    </cr-button>
  </div>
</div>

<div id="lessonMenu"
    hidden$="[[ shouldHideLessonMenu(activeScreen) ]]">
  <h1 id="lessonMenuHeader"
      tabindex="-1">[[ computeLessonMenuHeader(curriculum) ]]</h1>
  <div id="lessonShortcuts"></div>
</div>

<div id="lessonContainer"
    hidden$="[[ shouldHideLessonContainer(activeScreen) ]]">

  <!-- Use lessonData object to create all lessons -->
  <template id="lessonTemplate" is="dom-repeat" items="[[ lessonData ]]"
      as="lesson" index-as="index">
    <tutorial-lesson
    lesson-num="[[ index ]]"
    title="[[ lesson.title ]]"
    content="[[ lesson.content ]]"
    medium="[[ lesson.medium ]]"
    curriculums="[[ lesson.curriculums ]]"
    practice-title="[[ lesson.practiceTitle ]]"
    practice-instructions="[[ lesson.practiceInstructions ]]"
    practice-file="[[ lesson.practiceFile ]]"
    practice-state="[[ lesson.practiceState ]]"
    events="[[ lesson.events ]]"
    actions="[[ lesson.actions ]]"
    auto-interactive="[[ lesson.autoInteractive ]]"
    active-lesson-num="[[ activeLessonNum ]]">
    </tutorial-lesson>
  </template>
</div>

<div id="nav">
  <div id="navSeparator"></div>
  <div id="navButtons">
    <cr-button on-click="showPreviousLesson"
        hidden$="[[
      shouldHidePreviousLessonButton(activeLessonIndex, activeScreen) ]]">
      [[ previousLesson ]]
    </cr-button>
    <cr-button on-click="showNextLesson"
        hidden$="[[
      shouldHideNextLessonButton(activeLessonIndex, activeScreen) ]]">
      [[ nextLesson ]]
    </cr-button>
    <cr-button on-click="showLessonMenu"
        hidden$="[[ shouldHideLessonMenuButton(activeScreen) ]]">
      [[ lessonMenu ]]
    </cr-button>
    <cr-button on-click="showMainMenu"
        hidden$="[[ shouldHideMainMenuButton(activeScreen) ]]">
      [[ mainMenu ]]
    </cr-button>
    <cr-button on-click="showFirstLesson"
        hidden$="[[
      shouldHideRestartQuickOrientationButton(activeLessonIndex, activeScreen)
        ]]">
      [[ restartQuickOrientation ]]
    </cr-button>
    <cr-button on-click="exit">[[ exitTutorial ]]</cr-button>
  </div>
</div>

</div>