<!-- Copyright 2020 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->
<style include="cr-shared-style">

#tutorial {
  background: #FFF;
  bottom: 0;
  left: 0;
  margin-bottom: 80px;
  margin-top: 80px;
  position: fixed;
  right: 0;
  top: 0;
}

#mainMenu,
#lessonMenu,
#lessonContainer,
#mainMenuButtons,
#nav {
  margin: auto;
  text-align: start;
  width: 800px;
}

#mainMenuButtons,
#lessonShortcuts {
  background: #FFF;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), 0 2px 6px rgba(0, 0, 0, 0.15);
  font-size: 22px;
}

#lessonShortcuts {
  max-height: 400px;
  overflow: scroll;
}

cr-button,
cr-link-row {
  font-family: 'Roboto';
  font-weight: medium;
}

h1 {
  font-family: 'Google Sans', 'Roboto';
  font-size: 32px;
  font-weight: medium;
  line-height: 40px;
  margin-bottom: 32px;
}

cr-button {
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  margin-bottom: 40px;
  margin-inline-end: 8px;
  margin-inline-start: 8px;
  margin-top: 40px;
}

#navSeparator {
  background: rgb(232, 234, 237);
  height: 1px;
  width: 800px;
}

/* Styling for bottom navigation buttons */
#lessonNav {
  display: inline-block;
  float: right;
}

#lessonNav cr-button {
  float: right;
}

#menuNav {
  display: inline-block;
  float: left;
}

#menuNav cr-button {
  float: right;
}

#exitTutorial {
  margin-inline-start: 0;
}

#nextLesson {
  margin-inline-end: 0;
}

</style>

<div id="tutorial">

<div id="mainMenu"
    hidden$="[[ shouldHideMainMenu(activeScreen) ]]">
  <h1 id="mainMenuHeader" tabindex="-1" aria-describedby="mainMenuHeaderHint">
    [[ getMsg('tutorial_main_menu_header') ]]
  </h1>
  <div id="mainMenuHeaderHint" hidden>
    [[ getMsg('tutorial_main_menu_header_description') ]]
  </div>
  <div id="mainMenuButtons">
    <cr-link-row id="quickOrientationButton" class="hr"
        on-click="chooseCurriculum"
        label="[[ getMsg('tutorial_quick_orientation_title') ]]">
    </cr-link-row>
    <cr-link-row id="essentialKeysButton" class="hr" on-click="chooseCurriculum"
        label="[[ getMsg('tutorial_essential_keys_title') ]]">
    </cr-link-row>
    <cr-link-row id="navigationButton" class="hr" on-click="chooseCurriculum"
        label="[[ getMsg('tutorial_navigation_title') ]]">
    </cr-link-row>
    <cr-link-row id="commandReferencesButton" class="hr"
        on-click="chooseCurriculum"
        label="[[ getMsg('tutorial_command_references_title') ]]">
    </cr-link-row>
    <cr-link-row id="soundsAndSettingsButton" class="hr"
        on-click="chooseCurriculum"
        label="[[ getMsg('tutorial_sounds_and_settings_title') ]]">
    </cr-link-row>
    <cr-link-row id="resourcesButton" class="hr" on-click="chooseCurriculum"
        label="[[ getMsg('tutorial_resources_title') ]]">
    </cr-link-row>
  </div>
</div>

<div id="lessonMenu"
    hidden$="[[ shouldHideLessonMenu(activeScreen) ]]">
  <h1 id="lessonMenuHeader"
      tabindex="-1" aria-describedby="lessonMenuHeaderHint">
    [[ computeLessonMenuHeader(curriculum) ]]
  </h1>
  <div id="lessonMenuHeaderHint" hidden>
    [[ getMsg('tutorial_lesson_menu_header_description') ]]
  </div>
  <div id="lessonShortcuts"></div>
</div>

<div id="lessonContainer"
    hidden$="[[ shouldHideLessonContainer(activeScreen) ]]">

  <!-- Use lessonData object to create all lessons -->
  <template id="lessonTemplate" is="dom-repeat" items="[[ lessonData ]]"
      as="lesson" index-as="index">
    <tutorial-lesson
    lesson-num="[[ index ]]"
    title="[[ lesson.title ]]"
    content="[[ lesson.content ]]"
    medium="[[ lesson.medium ]]"
    curriculums="[[ lesson.curriculums ]]"
    practice-title="[[ lesson.practiceTitle ]]"
    practice-instructions="[[ lesson.practiceInstructions ]]"
    practice-file="[[ lesson.practiceFile ]]"
    practice-state="[[ lesson.practiceState ]]"
    events="[[ lesson.events ]]"
    actions="[[ lesson.actions ]]"
    auto-interactive="[[ lesson.autoInteractive ]]"
    active-lesson-num="[[ activeLessonNum ]]">
    </tutorial-lesson>
  </template>
</div>

<div id="nav">
  <div id="navSeparator" hidden$="[[
      shouldHideNavSeparator(activeScreen) ]]"></div>
  <div id="navButtons">
    <div id="lessonNav">
      <cr-button id="nextLesson" class="action-button" on-click="showNextLesson"
          hidden$="[[
        shouldHideNextLessonButton(activeLessonIndex, activeScreen) ]]">
        [[ getMsg('tutorial_next_lesson_button') ]]
      </cr-button>
      <cr-button on-click="showPreviousLesson"
          hidden$="[[
        shouldHidePreviousLessonButton(activeLessonIndex, activeScreen) ]]">
        [[ getMsg('tutorial_previous_lesson_button') ]]
      </cr-button>
    </div>
    <div id="menuNav">
      <cr-button on-click="showFirstLesson"
          hidden$="[[
        shouldHideRestartQuickOrientationButton(activeLessonIndex, activeScreen)
          ]]">
        [[ getMsg('tutorial_restart_quick_orientation_button') ]]
      </cr-button>
      <cr-button on-click="showLessonMenu"
          hidden$="[[ shouldHideLessonMenuButton(activeScreen) ]]">
        [[ getMsg('tutorial_lesson_menu_button') ]]
      </cr-button>
      <cr-button on-click="showMainMenu"
          hidden$="[[ shouldHideMainMenuButton(activeScreen) ]]">
        [[ getMsg('tutorial_main_menu_button') ]]
      </cr-button>
      <cr-button id="exitTutorial" on-click="exit">
        [[ getMsg('tutorial_exit_button') ]]
      </cr-button>
    </div>
  </div>
</div>

</div>