<!-- Copyright 2021 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/html/polymer.html">

<link rel="import" href="chrome://resources/polymer/v1_0/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-styles/color.html">
<link rel="import" href="chrome://resources/cr_elements/cr_lottie/cr_lottie.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/oobe_i18n_behavior.html">
<link rel="import" href="/components/oobe_adaptive_dialog.html">
<link rel="import" href="/components/oobe_content_dialog.html">
<link rel="import" href="/components/oobe_dialog_host_behavior.html">

<dom-module id="oobe-loading-dialog">
  <template>
    <style include="oobe-dialog-host">
      paper-spinner-lite {
        height: 38px;
        margin-bottom: 28px;
        width: 38px;
      }

      #comment {
        color: #747474;
      }

      #spinner {
        max-height: 286px;
        max-width: 286px;
      }
    </style>
    <oobe-content-dialog id="dialogOld" role="dialog" no-footer-padding
        no-buttons hidden="[[isNewLayout_]]">
      <div slot="content" class="flex layout vertical center center-justified">
        <paper-spinner-lite dir="ltr" active></paper-spinner-lite>
        <div id="comment" aria-live="polite" class="focus-on-show"
            aria-label$="[[i18nDynamic(locale, textKey)]]">
          [[i18nDynamic(locale, textKey)]]
        </div>
      </div>
    </oobe-content-dialog>
    <oobe-adaptive-dialog id="dialog" role="dialog" hidden="[[!isNewLayout_]]">
      <slot slot="icon" name="icon"></slot>
      <h1 slot="title">[[i18nDynamic(locale, textKey)]]</h1>
      <div slot="content" class="flex layout vertical center center-justified">
        <cr-lottie id="spinner" animation-url="spinner.json"></cr-lottie>
      </div>
    </oobe-adaptive-dialog>
  </template>
  <script src="oobe_loading_dialog.js"></script>
</dom-module>

