/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

.new-folder-icon-container cr-icon {
  height: 16px;
  width: 16px;
}

.new-folder-icon-container {
  align-items: center;
  background-color: var(--google-grey-50);
  border-radius: 4px;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 56px;
}

.new-folder-row[compact] > .new-folder-icon-container {
  background-color: transparent;
  height: 24px;
  width: 24px;
}

.new-folder-row > .new-folder-icon-container {
  background-color: var(--color-list-item-url-favicon-background);
}

@media (prefers-color-scheme: dark) {
  .new-folder-icon-container {
    background-color: var(--google-grey-800);
  }
}

.new-folder-row {
  align-items: center;
  background: none;
  border: none;
  color: var(--cr-primary-text-color);
  display: flex;
  font-family: inherit;
  font-size: 12px;
  font-weight: 500;
  gap: 16px;
  height: 41px;
  padding: 6px 16px;
  width: 100%;
}

.new-folder-row[compact] {
  gap: 8px;
  height: 32px;
  padding: 6px 14px;
}

.new-folder-row[disabled] {
  color: var(--google-grey-400);
}

.new-folder-row:not([disabled]):hover {
  background-color: var(--cr-hover-background-color);
}

.new-folder-row:not([disabled]):active,
.new-folder-row:not([disabled]):focus {
  background-color: var(--cr-active-background-color);
  outline: none;
}

@media (forced-colors: active) {
  .new-folder-row:not([disabled]):focus {
    outline: var(--cr-focus-outline-hcm);
  }
}
