<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="{{ APK_PACKAGE_NAME }}">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <application android:label="@string/product_name_android"
            android:name="org.chromium.chromoting.RemotingApplication"
            android:icon="@mipmap/ic_launcher"
            android:theme="@style/BaseTheme"
            android:allowBackup="false"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="false">
        <activity
            android:name="org.chromium.chromoting.Chromoting"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/BaseTheme.NavigationDrawer"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.chromium.chromoting.ThirdPartyTokenFetcher$OAuthRedirectActivity"
            android:enabled="false"
            android:exported="true"
            android:noHistory="true">
            <!--suppress AppIndexingError -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:host="*"/>
                <data android:scheme="{{ APK_PACKAGE_NAME }}"/>
                <data android:path="/oauthredirect/"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.chromium.chromoting.Desktop"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name="org.chromium.chromoting.help.HelpActivity"
            android:configChanges="orientation|screenSize"
            android:exported="false"
            android:uiOptions="splitActionBarWhenNarrow"/>
        <activity
            android:name="org.chromium.chromoting.TermsOfServiceActivity"
            android:exported="false"/>
        <activity
            android:name="org.chromium.chromoting.PrivacyPolicyActivity"
            android:exported="false"/>
        <activity
            android:name="org.chromium.chromoting.help.CreditsActivity"
            android:exported="true"/>
    </application>
</manifest>
