/* Copyright 2012 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#drive-debug > div {
  margin-bottom: 4px;
}

#developer-mode-controls > div {
  align-items: center;
  display: inline-grid;
  grid-gap: 4px;
  grid-template-columns: auto auto;
}

#gcache-contents {
  font-size: small;
}

#cache-contents {
  font-size: small;
}

.log-error {
  color: red;
  font-weight: bolder;
}

.log-warning {
  color: red;
}

.log-info {
}

summary {
  font-size: 1.5em;
}

summary h2 {
  display: inline;
  font-size: inherit;
}

th {
  text-align: start;
}
