<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2015 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.tools.spnegoauthenticator" >

    <!--
      Deprecated permissions. Normal protection level, autogranted. Needed
      for API level 22 and before.
    -->
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >
        <service
            android:name=".SpnegoAuthenticatorService"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/spnego_authenticator" />
        </service>

        <!-- exported=true needed so that chrome can start the activity -->
        <activity
           android:exported="true"
           android:label="@string/title_activity_account_authenticator"
           android:name=".SpnegoAuthenticatorActivity"
           android:noHistory="true">
       </activity>
    </application>

</manifest>
