<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Extra Flags (one per line)</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Append Extra Flags</string>
			<key>Key</key>
			<string>EnableFreeformCommandLineFlags</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Flag1</string>
			<key>Key</key>
			<string>FreeformCommandLineFlag1</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Flag2</string>
			<key>Key</key>
			<string>FreeformCommandLineFlag2</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Flag3</string>
			<key>Key</key>
			<string>FreeformCommandLineFlag3</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Flag4</string>
			<key>Key</key>
			<string>FreeformCommandLineFlag4</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Flag5</string>
			<key>Key</key>
			<string>FreeformCommandLineFlag5</string>
			<key>DefaultValue</key>
			<string></string>
			<key>AutocorrectionType</key>
			<string>No</string>
		</dict>
	</array>
</dict>
</plist>
