# Copyright 2022 The Chromium Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

[Desktop Entry]
Name="Chrome Remote Desktop XRANDR Output Connector"
Exec=/opt/google/chrome-remote-desktop/connect-xrandr-outputs
NoDisplay=true
Type=Application
Comment=Helper script to connect XRANDR outputs beforehand so that adding displays in a remote session won't resize existing displays on GNOME.
OnlyShowIn=GNOME;Cinnamon;X-Cinnamon;
