/* Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #css_wrapper_metadata_end */

.description-column {
  width: 50%;
}

.description-column-first {
  padding-inline-end: 12px;
}

.description-header {
  color: var(--google-blue-600);
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
  .description-header {
    color: var(--google-blue-300);
  }
}

.description-wrapper {
  padding: 16px;
}

.description-wrapper-radio {
  padding: 4px 0 16px 0;
}

/* TODO(crbug.com/1484278): move two-column style into description-wrapper and
 * description-wrapper-radio */
.two-column {
  display: flex;
}