/* Copyright 2013 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  background-attachment: fixed;
  background-color: $i18n{colorBackground};
  background-position: $i18n{backgroundPosition};
  background-repeat: $i18n{backgroundTiling};
  height: 100%;
  overflow: auto;
}

html[hascustombackground='true'] {
  background-image: url(chrome://theme/IDR_THEME_NTP_BACKGROUND?$i18n{themeId});
}

#attribution-img {
  content: url(chrome://theme/IDR_THEME_NTP_ATTRIBUTION?$i18n{themeId});
}
