/* Copyright 2012 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html {
  background-attachment: fixed;
  background-color: $i18n{colorBackground};
  background-image: url(chrome://theme/IDR_THEME_NTP_BACKGROUND?$i18n{themeId});
  background-position: $i18n{backgroundPosition};
  background-repeat: $i18n{backgroundTiling};
}

body {
  color: $i18n{colorTextRgba};
  height: 100%;
  overflow: auto;
}

[is='action-link'],
[is='action-link']:active {
  color: rgb($i18n{colorLink});
}

#attribution {
  color: $i18n{colorTextLight};
  display: $i18n{displayAttribution};
  left: $i18n{leftAlignAttribution};
  right: $i18n{rightAlignAttribution};
  text-align: $i18n{textAlignAttribution};
}

#attribution-img {
  content: url(chrome://theme/IDR_THEME_NTP_ATTRIBUTION?$i18n{themeId});
}

.page-switcher {
  color: rgba($i18n{colorText}, 0.5);
}

.page-switcher:hover,
.page-switcher:focus,
.page-switcher.drag-target {
  background-color: rgba($i18n{colorText}, 0.06);
}

.tile-page-scrollbar {
  background-color: $i18n{colorTextLight};
}

/* Footer *********************************************************************/

#footer-border {
  background: linear-gradient(to left,
      rgba($i18n{colorSectionBorder}, 0.2),
      rgba($i18n{colorSectionBorder}, 0.3) 20%,
      rgba($i18n{colorSectionBorder}, 0.3) 80%,
      rgba($i18n{colorSectionBorder}, 0.2));
}

.dot input:focus {
  background-color: $i18n{colorBackground};
}

.filler .thumbnail {
  border-color: $i18n{colorBackground};
}
