[Unit]
Description=Chrome Remote Desktop multi-process host
# The service must be started after GDM for the GDM-managed mode. We don't put
# it in Requires, since we may add support for other DMs in the future. If GDM
# is not available, this will have no effect.
After=network.target gdm.service

[Service]
Type=simple
ExecStart=/opt/google/chrome-remote-desktop/chrome-remote-desktop-host --type=daemon
SyslogIdentifier=chrome-remote-desktop
# Restart service if the process exits with an unclean signal (e.g. crashes),
# but don't restart otherwise. The daemon process has its own restart logic.
Restart=on-abnormal
# Log output to the journal
StandardOutput=journal
# Use same fd as stdout
StandardError=inherit

[Install]
WantedBy=multi-user.target
