# Copyright 2012 The Chromium Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

Source: chrome-remote-desktop
Section: net
Priority: optional
Maintainer: The Chromium Authors <chromium-dev@chromium.org>
Build-Depends: debhelper (>= 7.0.0)
Standards-Version: 3.9.2
Homepage: https://chrome.google.com/remotedesktop

Package: chrome-remote-desktop
Architecture: any
Depends: adduser, xvfb, xserver-xorg-video-dummy (>= 1:0.3.8-1), policykit-1, xbase-clients, psmisc, python3 (>= 3.5), python3-packaging, python3-psutil, python3-xdg (>= 0.25), gsettings-desktop-schemas, ${shlibs:Depends}, ${misc:Depends}, ${python3:Depends}
Recommends: xserver-xorg-video-dummy (>= 1:0.4.0), pipewire (>= 0.3.53)
Suggests: google-chrome-stable | google-chrome-beta | google-chrome-unstable
Description: Chrome Remote Desktop Beta
 Chrome Remote Desktop allows you to securely access your computer over the
 Internet through the Chrome browser or a Chromebook.
