#!/usr/bin/make -f

# Copyright 2012 The Chromium Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

%:
	dh $@

# Use the older "xz" compression format so the package installs on Debian 11
# or similar systems - see b/322991199.
override_dh_builddeb:
	dh_builddeb -- -Zxz

# Do not auto-enable the multi-process chrome-remote-desktop service. Do not
# restart the service on upgrade either, since it would send SIGTERM to the
# daemon process, which will terminate all CRD-managed sessions and the user may
# lose unsaved work. The postinst script kills all CRD processes with SIGKILL,
# which allows the daemon process to be relaunched without terminating existing
# sessions.
# TODO: crbug.com/496325766 - Improve the upgrade experience.
# The single-process chrome-remote-desktop@ service is templated, so Debhelper
# will not try to auto-enable/start/disable/stop it, and we don't need to
# override its behavior.
# In compat 11, dh_installsystemduser is not in the dh sequence, so we need to
# piggyback on override_dh_installsystemd.
override_dh_installsystemd:
	dh_installsystemd --no-enable --no-stop-on-upgrade --name=chrome-remote-desktop
	dh_installsystemduser --name=chrome-remote-desktop-environment
