#!/usr/bin/make -f

# Copyright 2012 The Chromium Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

%:
	dh $@

# Don't restart the service on package upgrade, as that will restart users'
# virtual desktops, possibly losing unsaved work.
override_dh_installinit:
	dh_installinit -r

# Use the older "xz" compression format so the package installs on Debian 11
# or similar systems - see b/322991199.
override_dh_builddeb:
	dh_builddeb -- -Zxz
