<?xml version="1.0" encoding="utf-8"?>
  <!-- Copyright 2014 The Chromium Authors. All rights reserved.

       Use of this source code is governed by a BSD-style license that can be
       found in the LICENSE file.
   -->
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.chromium.net.tests">
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application android:name="org.chromium.net.CronetTestApplication"
                 android:label="Cronet Test"
                 android:networkSecurityConfig="@xml/network_security_config" />
    <!-- Does not use BaseChromiumAndroidJUnitRunner so that it's easy to run
         tests when dropped into non-chromium repositories. -->
    <instrumentation android:name="android.support.test.runner.AndroidJUnitRunner"
        android:targetPackage="org.chromium.net.tests"
        android:label="Tests for org.chromium.net" />
</manifest>
