<style include="diagnostics-shared">
</style>

<diagnostics-card>
  <div slot="title">
    <!-- TODO(zentaro) Localize once strings are confirmed -->
    <div id="cardTitle">Battery Status</div>
  </div>
  <div slot="body">
    <div id="manufacturer">[[batteryInfo_.manufacturer]]</div>
    <div id="chargeFullDesign">[[batteryHealth_.charge_full_design_milliamp_hours]]</div>
    <div id="chargeFullNow">[[batteryChargeStatus_.charge_full_now_milliamp_hours]]</div>
    <div id="chargeNow">[[batteryChargeStatus_.charge_now_milliamp_hours]]</div>
    <div id="powerTime">[[batteryChargeStatus_.power_time]]</div>
    <div id="adapterStatus">[[batteryChargeStatus_.power_adapter_status]]</div>
  </div>
</diagnostics-card>
