<style include="diagnostics-shared">
</style>

<diagnostics-card>
  <div id="cardTitle" slot="title">[[i18n('batteryTitle')]]</div>
  <percent-bar-chart slot="left-panel" header="[[i18n('remainingCharge')]]"
    value="[[batteryChargeStatus_.chargeNowMilliampHours]]"
    max="[[batteryHealth_.chargeFullNowMilliampHours]]">
  </percent-bar-chart>
  <data-point slot="body" id="currentNow" header="[[i18n('currentNow')]]"
    value="[[batteryChargeStatus_.currentNowMilliamps]]">
  </data-point>
  <data-point slot="body" id="chargeFullDesign"
    header="[[i18n('chargeFullDesign')]]"
    value="[[batteryHealth_.chargeFullDesignMilliampHours]]">
  </data-point>
  <data-point slot="body" id="chargeFullNow" header="[[i18n('chargeFullNow')]]"
    value="[[batteryHealth_.chargeFullNowMilliampHours]]">
  </data-point>
  <data-point slot="body" id="chargeNow" header="[[i18n('chargeNow')]]"
    value="[[batteryChargeStatus_.chargeNowMilliampHours]]">
  </data-point>
  <data-point slot="body" id="powerTime" header="[[i18n('powerTime')]]"
    value="[[powerTimeString_]]">
  </data-point>
  <data-point slot="body" id="adapterStatus" header="[[i18n('adapterStatus')]]"
    value="[[batteryChargeStatus_.powerAdapterStatus]]">
  </data-point>
  <data-point slot="body" id="cycleCount" header="[[i18n('cycleCount')]]"
    value="[[batteryHealth_.cycleCount]]">
  </data-point>
</diagnostics-card>
