<style include="diagnostics-shared diagnostics-fonts">
</style>

<diagnostics-card>
  <div id="cardTitle" slot="title">[[i18n('cpuTitle')]]</div>
  <!-- TODO(michaelcheco): Add i18n string for percent number format -->
  <data-point slot="body" id="cpuUsageUser"
    value="[[computeCurrentlyUsing_(cpuUsage_.percent_usage_system,
        cpuUsage_.percent_usage_user)]]">
  </data-point>
  <!-- TODO(michaelcheco): Investigate whether or not temperature can be
  localized. -->
  <data-point slot="body" id="cpuTemp"
    value="[[cpuUsage_.cpu_temp_degrees_celcius]]">
  </data-point>
</diagnostics-card>
