<style include="diagnostics-shared diagnostics-fonts">
  .data-point {
    display: flex;
    flex-direction: column;
    height: 40px;
    justify-content: space-between;
    margin: 12px 0;
  }

  .header {
    @apply --diagnostics-data-point-title-font;
    color: var(--diagnostics-data-point-title-color);
  }

  #infoIcon {
    bottom: 1px;
    fill:  var(--google-grey-700);
    height: 20px;
    left: 4px;
    width: 20px;
  }

  .value {
    @apply --diagnostics-data-point-subtitle-font;
    color: var(--diagnostics-data-point-subtitle-color);
  }
</style>
<div class="data-point">
  <div class="header">
    <span>[[header]]</span>
    <iron-icon slot="icon" icon="cr:info-outline" id="infoIcon"
      hidden$="[[!tooltipText]]">
    </iron-icon>
    <paper-tooltip for="infoIcon">[[tooltipText]]</paper-tooltip>
  </div>
  <div class="value">[[value]]</div>
</div>