<template>
  <style>
    :host {
      --diagnostics-default-font-family: "Google Sans", Roboto, sans-serif;
      --diagnostics-header-font-family: Roboto, sans-serif;

      --diagnostics-default-font-size: 14px;
      --diagnostics-header-font-size: 22px;
      --diagnostics-data-point-title-font-size: 12px;
      --diagnostics-data-point-subtitle-font-size: 15px;
      --diagnostics-overview-font-size: 13px;

      --diagnostics-default-font-weight: 500;
      --diagnostics-header-font-weight: 600;
      --diagnostics-data-point-title-font-weight: 500;
      --diagnostics-data-point-subtitle-font-weight: 550;
      --diagnostics-overview-font-weight: 565;

      --diagnostics-default-text-color: var(--google-grey-900);
      --diagnostics-header-text-color: var(--google-grey-900);
      --diagnostics-overview-text-color: var(--google-grey-600);
      --diagnostics-default-font: {
          font-family: var(--diagnostics-default-font-family);
          font-size: var(--diagnostics-default-font-size);
          font-weight: var(--diagnostics-default-font-weight);
      };

      --diagnostics-header-font: {
          font-family: var(--diagnostics-header-font-family);
          font-size: var(--diagnostics-header-font-size);
          font-weight: var(--diagnostics-header-font-weight);
      }
      --diagnostics-data-point-title-font: {
          font-family: var(--diagnostics-default-font-family);
          font-size: var(--diagnostics-data-point-title-font-size);
          font-weight: var(--diagnostics-data-point-title-font-weight);
      };
      --diagnostics-data-point-subtitle-font: {
          font-family: var(--diagnostics-default-font-family);
          font-size: var(--diagnostics-data-point-subtitle-font-size);
          font-weight: var(--diagnostics-data-point-subtitle-font-weight);
      };
      --diagnostics-overview-font: {
          font-family: var(--diagnostics-default-font-family);
          font-size: var(--diagnostics-overview-font-size);
          font-weight: var(--diagnostics-overview-font-weight);
      };
    }
  </style>
</template>