<style include="diagnostics-shared diagnostics-fonts">
  ::slotted([slot=chip]) {
    background-color: var(--google-grey-100);
    border-radius: 16px;
    color: var(--diagnostics-overview-text-color);
    padding: 4px 8px;
  }
  ::slotted([slot=icon]) {
    background-color: rgba(var(--google-blue-refresh-500-rgb), .12);
    border-radius: 50%;
    color: var(--google-blue-600);
    left: 5px;
    padding: 2px;
    position: relative;
  }

  ::slotted([slot=left-panel]) {
    flex: 1;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
  }

  .card-header {
    @apply --diagnostics-default-font;
    display: flex;
    justify-content: space-between;
    min-height: 25px;
  }

  .card-wrapper {
    border: 1px solid var(--diagnostics-border-color);
    border-radius: 14px;
    margin: 10px 0;
  }

  .data-points {
    border-bottom: 1px solid var(--diagnostics-border-color);
    display: grid;
    grid-template-columns: 1fr 0fr 1fr 0fr 1fr;
    padding-inline: var(--data-point-container-padding);
  }

  .icon {
    width: 10%;
  }

  .routine-container {
    @apply --diagnostics-default-font;
  }

  .spacing {
    margin: 14px 0px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
  }

  .top-section {
    border-bottom: 1px solid var(--diagnostics-border-color);
    display: flex;
    margin-bottom: 6px;
    margin-top: 12px;
    padding-bottom: 12px;
    padding-inline-end: 15px;
    padding-inline-start: 15px;
  }
</style>
<div class="card-container">
  <div id="title" class="card-header">
    <slot name="title"></slot>
    <slot name="chip"></slot>
  </div>
  <div class="card-wrapper">
    <div class="top-section">
      <div class="icon">
        <slot name="icon"></slot>
      </div>
      <slot name="left-panel"></slot>
    </div>
    <div id="body" class="data-points" hidden$="[[hideDataPoints]]">
      <slot name="body"></slot>
    </div>
    <div id="routines" class="routine-container spacing">
      <slot name="routines"></slot>
    </div>
  </div>
</div>