<template>
  <style>
    :host {
      --diagnostics-default-font-family: "Google Sans", Roboto, sans-serif;
      --diagnostics-default-font-size: 22px;
      --diagnostics-default-font-weight: 500; /* medium */
      --diagnostics-default-text-color: var(--google-grey-900);
      --diagnostics-default-font: {
          font-family: var(--diagnostics-default-font-family);
          font-size: var(--diagnostics-default-font-size);
          font-weight: var(--diagnostics-default-font-weight);
      };
    }
  </style>
</template>