<link rel="stylesheet"
    href="chrome://resources/chromeos/colors/cros_colors.generated.css">
<link rel="stylesheet" href="chrome://resources/css/text_defaults_md.css">
<link rel="stylesheet" href="chrome://resources/css/md_colors.css">
<template>
  <style include="cr-shared-style diagnostics-fonts">
    :host {
      /* TODO(michael) Replace temp hex code when colors are finalized. */
      --diagnostics-border-color: #c5c7ca;
    }

    html {
      background-color: var(--cros-bg-color);
    }
  </style>
</template>
