<div id="inputListContainer">
  <p>Keyboards:</p>
  <ul id="keyboardList">
    <dom-repeat items="[[keyboards_]]" as="keyboard">
      <template>
        <li>
          [[keyboard.name]]
          ([[keyboard.physicalLayout]],
          [[keyboard.mechanicalLayout]])
          <template is="dom-if" if="[[keyboard.hasAssistantKey]]">
            (with Assistant key)
          </template>
        </li>
      </template>
    </dom-repeat>
  </ul>
  <p>Touchpads:</p>
  <ul id="touchpadList">
    <dom-repeat items="[[touchpads_]]" as="touchpad">
      <template>
        <li>[[touchpad.name]]</li>
      </template>
    </dom-repeat>
  </ul>
  <p>Touchscreens:</p>
  <ul id="touchscreenList">
    <dom-repeat items="[[touchscreens_]]" as="touchscreen">
      <template>
        <li>[[touchscreen.name]]</li>
      </template>
    </dom-repeat>
  </ul>
</div>
