<style include="diagnostics-shared">
</style>

<diagnostics-card>
  <div slot="title">
    <div id="cardTitle">[[i18n('memoryTitle')]]</div>
  </div>
  <data-point slot="body" id="memoryTotal"
    value="[[memoryUsage_.total_memory_kib]]">
  </data-point>
  <data-point slot="body" id="memoryAvailable"
    value="[[memoryUsage_.available_memory_kib]]">
  </data-point>
  <data-point slot="body" id="memoryFree"
    value="[[memoryUsage_.free_memory_kib]]">
  </data-point>
  <!-- TODO(joonbug): Localize once strings are confirmed -->
  <percent-bar-chart slot="body" title="Used memory"
    value="[[getTotalUsedMemory_(memoryUsage_)]]"
    max="[[memoryUsage_.total_memory_kib]]">
  </percent-bar-chart>
</diagnostics-card>
