<style include="diagnostics-shared diagnostics-fonts">
</style>

<div id="networkListContainer" class="diagnostics-cards-container">
  <div class="diagnostics-cards-container">
    <connectivity-card class="card-width" active-guid="[[activeGuid_]]"
        is-test-running="{{isTestRunning}}"
        is-active="[[isActive]]">
    </connectivity-card>
  </div>
  <dom-repeat id="networkCardList" items="[[otherNetworkGuids_]]" as="guid">
    <template>
      <network-card class="card-width" guid="[[guid]]">
      </network-card>
    </template>
  </dom-repeat>
</div>
