<style include="diagnostics-shared diagnostics-fonts">
</style>

<div id="infoElementContainer">
  <template is="dom-if"
      if="[[isWifiNetwork_(network_.type)]]">
    <wifi-info id="wifiInfo" network="[[network_]]">
    </wifi-info>
  </template>
  <template is="dom-if"
      if="[[isEthernetNetwork_(network_.type)]]">
    <ethernet-info id="ethernetInfo" network="[[network_]]">
    </ethernet-info>
  </template>
  <template is="dom-if"
      if="[[isCellularNetwork_(network_.type)]]">
    <cellular-info id="cellularInfo" network="[[network_]]">
    </cellular-info>
  </template>
</div>