<style include="diagnostics-shared diagnostics-fonts">
  #overviewCardContainer {
    display: flex;
  }

  #overviewCardContainer > div {
    @apply --diagnostics-overview-font;
    background-color: var(--google-grey-100);
    border-radius: 16px;
    color: var(--diagnostics-overview-text-color);
    margin-right: 15px;
    padding: 10px;
  }

  #version {
    margin-right: 0;
  }
</style>
<div id="overviewCardContainer">
  <div id="boardName">[[systemInfo_.board_name]]</div>
  <div id="cpuModelName">[[systemInfo_.cpu_model_name]]</div>
  <div id="totalMemory">[[systemInfo_.total_memory_kib]]</div>
  <div id="version">[[systemInfo_.version.milestone_version]]</div>
</div>
