<style include="diagnostics-shared diagnostics-fonts">
  #barChartContainer > label {
    @apply --diagnostics-chart-title-font;
    color: var(--diagnostics-overview-text-color);
  }

  #headerIcon {
    /*
     * TODO(joonbug): Replace w/ real colors, and also extend as a property
     * if dynamic colors.
     */
    --iron-icon-fill-color: rgb(26,115,232);
  }

  paper-progress {
    border-radius: 5px;
    display: inline-block;
    width: 85%;
    --paper-progress-active-color: var(--google-blue-500);
    --paper-progress-container-color: var(--google-blue-100);
    --paper-progress-height: 8px;
  }

  #percentageLabel {
    @apply --diagnostics-chart-label-font;
    display: inline;
    padding-left: 5px;
  }

</style>

<div id="barChartContainer">
  <label id="chartName">
    <template is="dom-if" if="[[headerIcon.length]]">
      <iron-icon id="headerIcon" icon="[[headerIcon]]"></iron-icon>
    </template>
    [[header]]
  </label>
  <div class="body">
    <paper-progress id="barChart"
      value="[[getAdjustedValue_(value, max)]]" max="[[max]]">
    </paper-progress>
    <label id="percentageLabel">[[computePercentage_(value, max)]]</label>
  </div>
</div>
