<style include="diagnostics-shared diagnostics-fonts">
  .grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
  }

  #chart-legend {
    text-align: center;
  }

  #chart-legend > div {
    display: inline;
    padding: 5px;
  }

  #chart-legend > div > span {
    padding: 2px;
  }

  #plotGroup {
    fill: none;
    stroke-width: 1.5px;
  }

  /* TODO(joonbug): Update with real colors as vars */
  .user-area {
    fill: orange;
  }

  .system-area {
    fill: blue;
  }
</style>

<svg id="chart" width$="[[width_]]" height$="[[height_]]">
  <g id="chartGroup">
    <!-- Define chart area and boundaries -->
    <defs>
      <clipPath id="defClip">
        <rect width$="[[graphWidth_]]" height$="[[graphHeight_]]"></rect>
      </clipPath>
    </defs>

    <g id="gridLines" class="grid"></g>
    <g id="plotGroup" clip-path="url(#defClip)">
      <path class="user-area"></path>
      <path class="system-area"></path>
    </g>
  </g>
</svg>
<div id="chart-legend">
  <div id="legend-user">
    <label>[[i18n('cpuUsageUser')]]</label>
    <span>[[getPercentageLabel_(user)]]</span>
  </div>
  <div id="legend-system">
    <label>[[i18n('cpuUsageSystem')]]</label>
    <span>[[getPercentageLabel_(system)]]</span>
  </div>
</div>
