<style include="diagnostics-shared">
.learn-more-button {
  background-color: rgba(var(--google-blue-600), .06);
  border-radius: 5x;
  height: 40px;
  padding: 5px 10px;
}
</style>

<div id="routineSection">
  <cr-button id="runTestsButton" class="action-button" on-click="onRunTestsClicked_"
      disabled="[[isTestRunning]]">
    [[runTestsButtonText]]
  </cr-button>
  <cr-button id="toggleReportButton" class="action-button" on-click="onToggleReportClicked_"
      hidden="[[isResultAndStatusHidden_(executionStatus_)]]">
    [[getReportToggleButtonText_(isReportListHidden_)]]
  </cr-button>
  <text-badge id="testStatusBadge" badge-type="[[getBadgeType_(executionStatus_)]]"
      hidden="[[isResultAndStatusHidden_(executionStatus_)]]"
      value="[[getBadgeText_(executionStatus_)]]">
  </text-badge>
  <span id="testStatusText" hidden$="[[isResultAndStatusHidden_(executionStatus_)]]">
    [[getTextStatus_(executionStatus_, currentTestName_)]]
  </span>
  <routine-result-list id="resultList" hidden="[[isReportListHidden_]]"></routine-result-list>
  <cr-button id="learnMoreButton" class="learn-more-button" on-click="onLearnMoreClicked_"
      hidden="[[isReportListHidden_]]">
      [[i18n('learnMore')]]
  </cr-button>
</div>
