// Copyright 2024 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.chrome.browser.password_manager;

public class PasswordManagerBuildflags {
  public static final boolean USE_LOGIN_DATABASE_AS_BACKEND = _USE_LOGIN_DATABASE_AS_BACKEND;

  private PasswordManagerBuildflags() {}
}
