{
   "automation": {
      "desktop": true
   },
   "background": {
      "page": "cvox2/background/background.html"
   },
   "content_scripts": [ {
      "all_frames": true,
      "exclude_globs": [ "devtools://*" ],
      "run_at": "document_start",
      "js": [ "chromevox/injected/shadydom_loader.js", "chromeVoxChromePageScript.js" ],
      "matches": [ "<all_urls>" ]
   } ],
   "default_locale": "en",
   "description": "A web-powered screen reader",
   "icons": {
      "128": "images/chromevox-128.png",
      "16": "images/chromevox-16.png",
      "48": "images/chromevox-48.png"
   },
   "key": "MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDEGBi/oD7Yl/Y16w3+gee/95/EUpRZ2U6c+8orV5ei+3CRsBsoXI/DPGBauZ3rWQ47aQnfoG00sXigFdJA2NhNK9OgmRA2evnsRRbjYm2BG1twpaLsgQPPus3PyczbDCvhFu8k24wzFyEtxLrfxAGBseBPb9QrCz7B4k2QgxD/CwIDAQAB",
   "manifest_version": 2,
   "name": "Screen Reader",
   "options_page": "chromevox/background/options.html",
   "permissions": [ "accessibilityPrivate", "bookmarks", "history", "notifications", "storage", "tabs", "tts", "<all_urls>" ],
   "update_url": "https://clients2.google.com/service/update2/crx",
   "version": "53.0.2784.11",
   "web_accessible_resources": [ "chromevox/background/keymaps/next_keymap.json", "chromevox/injected/api.js", "chromevox/injected/api_util.js", "chromevox/injected/mathjax.js", "chromevox/injected/mathjax_external_util.js", "webcomponents-bundle.js" ]
}
