/* Copyright 2017 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

html, html * {
  font-family: "Roboto", sans-serif;
}

.chart {
    shape-rendering: crispEdges;
}
.mini text {
    font: 9px sans-serif;
}
.main text {
    font: 12px sans-serif;
}
.miniItem {
    stroke-width: 6;
}
.mainItem {
    stroke-width: 6;
}
.brush .extent {
    stroke: gray;
    fill: dodgerblue;
    fill-opacity: .365;
}
.legend {
    position: fixed;
    bottom: 0;
    color: #ffffff;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 25px;
    padding: 20px;
    display: none;
}
.colors-legend {
    border: solid;
    position: fixed;
    bottom: 0;
    right: 0;
    border-radius: 25px;
    padding: 20px;
}
.legend-rectangle {
    width: 2em;
    height: 1em;
}
