private let mojoBuiltins: [String: ILType] = [
    /// Profiles declare this method, a wrapper method around `getRemote` that follows
    /// the Singleton pattern, in `codePrefix`. This method ensures: (1) `getRemote`
    /// is only called once, and (2) the remote is saved to a global variable so it
    /// can be closed at the end of the program.
    "getOrCreatePrimaryRemote": .function([] => .{{primary|format_il_type}}),
    "{{primary|name_with_namespace}}": .js{{primary.name}},
{%- for receiver in interface_receivers %}
    "{{receiver|name_with_namespace}}CallbackRouter":
       .constructor([] => .js{{receiver.name}}CallbackRouter),
{%- endfor %}
]

private let keepGenerators = [
    "IntegerGenerator", "StringGenerator", "TernaryOperationGenerator",
    "PlainFunctionGenerator", "AsyncFunctionGenerator", "AwaitGenerator",
    "SubroutineReturnGenerator", "TryCatchGenerator",
]

private let mojoDisabledGenerators: [String] = CodeGenerators.map { $0.name }
    .filter {
        !keepGenerators.contains($0)
    }

let mojo{{primary.name}}Profile = Profile(
    processArgs: { _ in return [] },
    processArgsReference: nil,
    processEnv: [
        "ASAN_OPTIONS": "detect_odr_violation=0:abort_on_error=1", "DISPLAY": ":20",
    ],
    maxExecsBeforeRespawn: 1000,
    timeout: Timeout.interval(11000, 11000),
    codePrefix: """
        let globalRemote = null;
        function getOrCreatePrimaryRemote() {
            if (!globalRemote) {
                globalRemote = {{primary|name_with_namespace}}.getRemote();
            }
            return globalRemote;
        }
        """,
    codeSuffix: "if (globalRemote) {globalRemote.$.close()}",
    ecmaVersion: v8Profile.ecmaVersion,
    startupTests: [
        ("fuzzilli('FUZZILLI_PRINT', 'test')", .shouldSucceed),
        (
            """
            if (typeof {{(primary.module.namespace|namespace_as_array)[0]}} == 'undefined' \
            || {{((primary.module.namespace|namespace_as_array)+ [primary.name]) | join('?.')}} === undefined) \
            throw '{{primary.name}} not found'
            """,
            .shouldSucceed
        ),
    ] + v8Profile.startupTests,
    additionalCodeGenerators: [
        (MojoMethodCallGenerator, 10000),
        (MojoPropertyRetrievalGenerator, 10000),
{%- for receiver in interface_receivers %}
    {%- if receiver.methods %}
        (Mojo{{receiver.name}}RouterListenerGenerator, 5000),
    {%- endif %}
{%- endfor %}
    ] + commonMojoCodeGenerators,
    additionalProgramTemplates: WeightedList([]),
    disabledCodeGenerators: mojoDisabledGenerators,
    disabledMutators: v8Profile.disabledMutators,
    additionalBuiltins: mojoBuiltins.merging(commonMojoBuiltins) { (existing, _) in existing },
    additionalObjectGroups: [
{%- for remote in interface_remotes %}
        .{{remote.name|to_camel(True)}}Remote,
        .{{remote.name|to_camel(True)}}RemoteWrapper,
        .{{remote.name|to_camel(True)}}PendingReceiver,
{%- endfor %}
{%- for receiver in interface_receivers %}
        .{{receiver.name|to_camel(True)}}CallbackRouter,
        .{{receiver.name|to_camel(True)}}CallbackRouterReceiverHelper,
        .{{receiver.name|to_camel(True)}}Remote,
        .{{receiver.name|to_camel(True)}}RemoteWrapper,
        .{{receiver.name|to_camel(True)}}PendingReceiver,
        {%- for method in receiver.methods %}
        .{{(method|callback_receiver_name)|to_camel(True)}},
        {%- endfor %}
{%- endfor %}
    ] + commonMojoObjectGroups,
    additionalEnumerations: [
    ] + commonMojoEnumerations,
    additionalOptionsBags: [] + commonMojoOptionsBags,
    optionalPostProcessor: nil
)
