/* Copyright 2020 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */
@font-face {
  font-family: "Vanilla";
  src: url("font.woff2") format("woff2");
}

.test {
  font-family: "Vanilla";
  background-image: url("pixel.png");
}
