/* Copyright 2013 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #css_wrapper_metadata_end */

.global-button {
  margin: 1px 3px 0 3px;
  font-family: inherit;
}

h1,
h2 {
  margin: 0;
}

h1 {
  color: rgb(74, 142, 230);
  font-size: 110%;
  font-weight: bold;
  padding: 0;
}

h2 {
  color: rgb(58, 117, 189);
  display: inline-block;
  font-size: 110%;
  font-weight: normal;
  padding-inline-end: 1em;
  padding-inline-start: 0;
}

#header {
  background: rgb(60, 111, 235);
  background-size: 100%;
  border: 1px solid rgb(58, 117, 189);
  border-radius: 6px;
  color: white;
  margin-bottom: 0.75em;
  overflow: hidden;
  padding: 0.5em 0;
  position: relative;
  text-shadow: 0 0 2px black;
}

html[dir='rtl'] #header {
  padding: 0.6em 0 0.75em 1em;
}

#header h1 {
  color: white;
  display: inline;
}

div#header h1::before {
  -webkit-mask-image: url(chrome://resources/images/icon_settings.svg);
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 24px;
  background-color: white;
  content: '';
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  width: 37px;
}

#header p {
  color: white;
  display: inline;
  font-size: 84%;
  font-style: italic;
  padding-inline-start: 0.4em;
}
