/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

h1 {color: white; background-color: black;}
h2 {color: white; background-color: black;}
h3 {color: white; background-color: black;}
h4 {color: white; background-color: black;}
h5 {color: white; background-color: black;}
h6 {color: white; background-color: black;}
