*.bak
*.mk
*.ncb
*.opensdf
*.orig
*.pdb
*.props
*.pyc
*.pyproj
*.rules
*.sdf
*.sln
*.sublime-project
*.sublime-workspace
*.suo
*.targets
*.user
*.vc.opendb
*.vcproj
*.vcxproj
*.vcxproj.filters
*.vpj
*.vpw
*.vpwhistu
*.vtg
*.xcodeproj
*.xcworkspace
*.VC.db
*_proto.xml
*_proto_cpp.xml
*~
!Android.mk
.*.sw?
.DS_Store
.android
.ccls-cache
.cipd
.classpath
.code-coverage
.cproject
.emulator_sdk
.gdb_history
.gdbinit
.landmines
.metadata
.project
.pydevproject
.checkstyle
*.class
compile_commands.json
cscope.*
GPATH
GRTAGS
GSYMS
GTAGS
Session.vim
tags
Thumbs.db
v8.log
vs-chromium-project.txt
/.cache/
/.clangd/
/.clangd-index/
# Settings directories for eclipse
/.externalToolBuilders/
/.settings/
/.vs/
# Visual Studio Code
.vscode/
/_out
/android_emulator_sdk
/ash/ash_unittests_run.xml
/base/base_unittests_run.xml
/.cache/
# Ignore IntelliJ files.
.idea/
# Ignore cache folder created by clangd
.cache
