/* Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=//resources/ash/common/cr_elements/cr_shared_style.css.js
 * #import=//resources/ash/common/cr_elements/cr_shared_vars.css.js
 * #import=//resources/ash/common/cr_elements/cr_nav_menu_item_style.css.js
 * #include=cr-shared-style cr-nav-menu-item-style
 * #css_wrapper_metadata_end */

h1 {
  color: var(--cr-primary-text-color);
  font-size: 170%;
  font-weight: 500;
  padding-inline-start: 24px;
}

.full-page {
  height: 100%;
  width: 100%;
}
