<!doctype html>

<!--
about:version template page
-->

<html id="t" dir="$i18n{textdirection}" lang="$i18n{language}">
  <head>
    <meta charset="utf-8">
    <meta name="color-scheme" content="light dark">
    <title>$i18n{title}</title>
<if expr="not is_android and not is_ios">
    <link rel="icon" type="image/png" sizes="32x32"
        href="chrome://theme/current-channel-logo">
</if>
    <link rel="stylesheet" href="chrome://resources/css/text_defaults.css">
<if expr="is_android or is_ios">
    <meta name="viewport" content="width=device-width">
</if>
    <link rel="stylesheet" href="chrome://version/about_version.css">
<if expr="is_android or is_ios">
    <link rel="stylesheet" href="about_version_mobile.css">
</if>
<if expr="is_chromeos">
    <link rel="stylesheet" href="chrome://resources/css/os_header.css">
</if>

    <script type ="module" src="about_version.js"></script>
  </head>

  <body>
<if expr="is_chromeos">
    <div class="os-link-container-container" id="os-link-container" hidden>
      <div class="os-link-container">
        <span class="os-link-icon"></span>
        <span aria-hidden="true" id="os-link-desc">$i18n{os-version-text1}</span>
        $i18nRaw{os-version-link}
        <span aria-hidden="true">$i18n{os-version-text2}</span>
      </div>
    </div>
</if>

    <div id="outer">
      <div id="logo">
<if expr="not is_android and not is_ios">
        <!-- Version for themes. -->
        <picture>
          <source srcset="chrome://theme/IDR_PRODUCT_LOGO_WHITE,
                          chrome://theme/IDR_PRODUCT_LOGO_WHITE@2x 2x"
                  media="(prefers-color-scheme: dark)">
          <source srcset="chrome://theme/IDR_PRODUCT_LOGO,
                          chrome://theme/IDR_PRODUCT_LOGO@2x 2x"
                  media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
          <img alt="$i18n{logo_alt_text}" src="chrome://theme/IDR_PRODUCT_LOGO">
        </picture>
</if>
<if expr="is_ios or is_android">
        <picture>
          <source srcset="images/product_logo_white.png" media="(prefers-color-scheme: dark)">
          <source srcset="images/product_logo.png" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)">
          <img alt="$i18n{logo_alt_text}" src="images/product_logo.png">
        </picture>
</if>
        <div id="company">$i18n{company}</div>
        <div id="copyright">$i18n{copyright}</div>
      </div>
      <table id="inner" cellpadding="0" cellspacing="0" border="0">
        <tr><td class="label">$i18n{application_label}</td>
          <td class="version" id="version">
            <span id="copy-content">
              <span>$i18n{version}</span>
              (<span>$i18n{official}</span>)
              <span>$i18n{version_modifier}</span>
              <span>$i18n{version_processor_variation}</span>
  <if expr="is_win">
              <span>$i18n{update_cohort_name}</span>
  </if>
            </span>
            <button id="copy-to-clipboard" aria-label="$i18n{copy_label}">
              <div id="copy-to-clipboard-icon"></div>
            </button>
          </td>
        </tr>
        <tr>
          <td class="label">$i18n{revision}</td>
          <td class="version">
            <span>$i18n{cl}</span>
          </td>
        </tr>
<if expr="not chromeos_ash">
        <tr>
          <td class="label">$i18n{os_name}</td>
          <td class="version" id="os_type">
            <span id="copy-os-content">
              <span>$i18n{os_type}</span>
<if expr="is_android">
              <span>$i18n{os_version}</span>
</if>
<if expr="chromeos_lacros or is_win or is_macosx">
              <span id="os_version"></span>
</if>
            </span>
<if expr="chromeos_lacros">
            <button id="copy-os-content-to-clipboard" aria-label="$i18n{copy_label}">
              <div id="copy-to-clipboard-icon"></div>
            </button>
</if>
          </td>
        </tr>
</if>
<if expr="is_android">
        <tr>
          <td class="label">APK versionCode</td>
          <td class="version">$i18n{version_code}</td>
        </tr>
        <tr>
          <td class="label">APK targetSdkVersion</td>
          <td class="version">$i18n{target_sdk_version}</td>
        </tr>
         <tr>
          <td class="label">isAtLeastU/targetsAtLeastU</td>
          <td class="version">$i18n{targets_u}</td>
        </tr>
        <tr>
          <td class="label">$i18n{gms_name}</td>
          <td class="version" id="gms_version">
            <span>$i18n{gms_version}</span>
          </td>
        </tr>
</if>
<if expr="is_chromeos">
        <tr>
          <td class="label">$i18n{platform}</td>
          <td class="version" id="platform_type">
            <span id="platform_version"></span>
          </td>
        </tr>
        <tr>
          <td class="label">$i18n{firmware_version}</td>
          <td class="version">
            <span id="firmware_version"></span>
          </td>
        </tr>
        <tr id="customization_id_holder" hidden>
          <td class="label">$i18n{customization_id}</td>
          <td class="version">
            <span id="customization_id"></span>
          </td>
        </tr>
        <tr id="arc_holder"><td class="label">$i18n{arc_label}</td>
          <td class="version">
            <span id="arc_and_arc_android_sdk_versions"></span>
          </td>
        </tr>
</if>
<if expr="not is_ios">
        <tr><td class="label">JavaScript</td>
          <td class="version" id="js_engine">
            <span>$i18n{js_engine}</span>
            <span>$i18n{js_version}</span>
          </td>
        </tr>
</if>
        <tr><td class="label">$i18n{user_agent_name}</td>
          <td class="version" id="useragent">$i18n{useragent}</td>
        </tr>
        <tr><td class="label">$i18n{command_line_name}</td>
          <td class="version" id="command_line">$i18n{command_line}</td>
        </tr>
<if expr="not is_ios">
        <tr><td class="label">$i18n{executable_path_name}</td>
          <td class="version" id="executable_path">$i18n{executable_path}</td>
        </tr>
        <tr><td class="label">$i18n{profile_path_name}</td>
          <td class="version" id="profile_path">$i18n{profile_path}</td>
        </tr>
</if>
<if expr="is_macosx">
        <tr id="linker-section">
          <td class="label">Linker</td>
          <td class="version" id="linker">$i18n{linker}</td>
        </tr>
</if>
        <tr id="variations-seed-section" hidden>
          <td class="label">$i18n{variations_seed_name}</td>
          <td class="version" id="variations-seed">$i18n{variations_seed}</td>
        </tr>
        <tr id="variations-section">
          <td class="label">$i18n{variations_name}</td>
          <td class="version" id="variations-list"></td>
        </tr>
        <tr id="variations-cmd-section" hidden>
          <td class="label">$i18n{variations_cmd_name}</td>
          <td class="version-wide" id="variations-cmd"></td>
        </tr>
        <tr id="sanitizer-section" hidden>
          <td class="label">Sanitizer</td>
          <td class="version" id="sanitizer">$i18n{sanitizer}</td>
        </tr>
      </table>
    </div>

    <div id="messages" role="alert" aria-live="polite" aria-relevant="additions">
    </div>
  </body>
</html>
