/* Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* This file is a static copy of chrome://theme/colors.css?sets=ref,sys with
 * the default wallpaper and color scheme, and is only used by cca.py local dev
 * server. */
html:not(#z) {
    --cros-ref-primary0: #000000ff;
    --cros-ref-primary10: #001849ff;
    --cros-ref-primary20: #122d68ff;
    --cros-ref-primary30: #2c4480ff;
    --cros-ref-primary40: #455c99ff;
    --cros-ref-primary50: #5e75b4ff;
    --cros-ref-primary60: #788fcfff;
    --cros-ref-primary70: #93a9ecff;
    --cros-ref-primary80: #b2c5ffff;
    --cros-ref-primary90: #dae2ffff;
    --cros-ref-primary95: #eef0ffff;
    --cros-ref-primary99: #fefbffff;
    --cros-ref-primary100: #ffffffff;
    --cros-ref-secondary0: #000000ff;
    --cros-ref-secondary10: #151b2cff;
    --cros-ref-secondary12: #191f30ff;
    --cros-ref-secondary15: #1f2537ff;
    --cros-ref-secondary20: #2a3042ff;
    --cros-ref-secondary30: #414659ff;
    --cros-ref-secondary40: #585e71ff;
    --cros-ref-secondary50: #71768bff;
    --cros-ref-secondary60: #8b90a5ff;
    --cros-ref-secondary70: #a5aac1ff;
    --cros-ref-secondary80: #c0c6ddff;
    --cros-ref-secondary90: #dde2f9ff;
    --cros-ref-secondary95: #eef0ffff;
    --cros-ref-secondary99: #fefbffff;
    --cros-ref-secondary100: #ffffffff;
    --cros-ref-tertiary0: #000000ff;
    --cros-ref-tertiary10: #2b122bff;
    --cros-ref-tertiary20: #422741ff;
    --cros-ref-tertiary30: #5a3d58ff;
    --cros-ref-tertiary40: #735471ff;
    --cros-ref-tertiary50: #8d6d8bff;
    --cros-ref-tertiary60: #a986a5ff;
    --cros-ref-tertiary70: #c5a0c0ff;
    --cros-ref-tertiary80: #e1bbdcff;
    --cros-ref-tertiary90: #fed6f9ff;
    --cros-ref-tertiary95: #ffebf9ff;
    --cros-ref-tertiary99: #fffbffff;
    --cros-ref-tertiary100: #ffffffff;
    --cros-ref-error0: #000000ff;
    --cros-ref-error10: #410002ff;
    --cros-ref-error20: #690005ff;
    --cros-ref-error30: #93000aff;
    --cros-ref-error40: #ba1a1aff;
    --cros-ref-error50: #de3730ff;
    --cros-ref-error60: #ff5449ff;
    --cros-ref-error70: #ff897dff;
    --cros-ref-error80: #ffb4abff;
    --cros-ref-error90: #ffdad6ff;
    --cros-ref-error95: #ffedeaff;
    --cros-ref-error99: #fffbffff;
    --cros-ref-error100: #ffffffff;
    --cros-ref-neutral0: #000000ff;
    --cros-ref-neutral8: #16171cff;
    --cros-ref-neutral10: #1a1b21ff;
    --cros-ref-neutral20: #2f3036ff;
    --cros-ref-neutral25: #3a3b41ff;
    --cros-ref-neutral30: #46464cff;
    --cros-ref-neutral40: #5d5e64ff;
    --cros-ref-neutral50: #76777dff;
    --cros-ref-neutral60: #909097ff;
    --cros-ref-neutral70: #abaab1ff;
    --cros-ref-neutral80: #c6c6cdff;
    --cros-ref-neutral90: #e3e2e9ff;
    --cros-ref-neutral95: #f1f0f7ff;
    --cros-ref-neutral99: #fefbffff;
    --cros-ref-neutral100: #ffffffff;
    --cros-ref-neutralvariant0: #000000ff;
    --cros-ref-neutralvariant10: #191b23ff;
    --cros-ref-neutralvariant20: #2e3038ff;
    --cros-ref-neutralvariant30: #45464fff;
    --cros-ref-neutralvariant40: #5c5e67ff;
    --cros-ref-neutralvariant50: #757780ff;
    --cros-ref-neutralvariant60: #8f909aff;
    --cros-ref-neutralvariant70: #aaaab4ff;
    --cros-ref-neutralvariant80: #c5c6d0ff;
    --cros-ref-neutralvariant90: #e1e2ecff;
    --cros-ref-neutralvariant95: #f0f0faff;
    --cros-ref-neutralvariant99: #fefbffff;
    --cros-ref-neutralvariant100: #ffffffff;
    --cros-ref-red0: #000000ff;
    --cros-ref-red10: #3a0b00ff;
    --cros-ref-red20: #5e1700ff;
    --cros-ref-red30: #852400ff;
    --cros-ref-red40: #ab3508ff;
    --cros-ref-red50: #cd4d22ff;
    --cros-ref-red60: #ef6638ff;
    --cros-ref-red70: #ff8b66ff;
    --cros-ref-red80: #ffb59eff;
    --cros-ref-red90: #ffdbd0ff;
    --cros-ref-red95: #ffede8ff;
    --cros-ref-red99: #fffbffff;
    --cros-ref-red100: #ffffffff;
    --cros-ref-yellow0: #000000ff;
    --cros-ref-yellow10: #251a00ff;
    --cros-ref-yellow20: #3f2e00ff;
    --cros-ref-yellow30: #5a4300ff;
    --cros-ref-yellow40: #775a00ff;
    --cros-ref-yellow50: #967200ff;
    --cros-ref-yellow60: #b58a00ff;
    --cros-ref-yellow70: #d6a400ff;
    --cros-ref-yellow80: #f7be00ff;
    --cros-ref-yellow90: #ffdf99ff;
    --cros-ref-yellow95: #ffefd2ff;
    --cros-ref-yellow99: #fffbffff;
    --cros-ref-yellow100: #ffffffff;
    --cros-ref-blue0: #000000ff;
    --cros-ref-blue10: #001f27ff;
    --cros-ref-blue20: #003642ff;
    --cros-ref-blue30: #004e5fff;
    --cros-ref-blue40: #00677dff;
    --cros-ref-blue50: #00829dff;
    --cros-ref-blue60: #379cb8ff;
    --cros-ref-blue70: #57b7d4ff;
    --cros-ref-blue80: #75d3f0ff;
    --cros-ref-blue90: #b3ebffff;
    --cros-ref-blue95: #dbf5ffff;
    --cros-ref-blue99: #f9fdffff;
    --cros-ref-blue100: #ffffffff;
    --cros-ref-green0: #000000ff;
    --cros-ref-green10: #00210eff;
    --cros-ref-green20: #00391cff;
    --cros-ref-green30: #00522bff;
    --cros-ref-green40: #006d3bff;
    --cros-ref-green50: #00894cff;
    --cros-ref-green60: #2fa463ff;
    --cros-ref-green70: #4fc07bff;
    --cros-ref-green80: #6ddc94ff;
    --cros-ref-green90: #89f9afff;
    --cros-ref-green95: #c2ffd0ff;
    --cros-ref-green99: #f5fff3ff;
    --cros-ref-green100: #ffffffff;
    --cros-sys-primary-light: #455c99ff;
    --cros-sys-primary-dark: #b2c5ffff;
    --cros-sys-primary: #b2c5ffff;
    --cros-sys-inverse_primary: #455c99ff;
    --cros-sys-on_primary-light: #ffffffff;
    --cros-sys-on_primary-dark: #122d68ff;
    --cros-sys-on_primary: #122d68ff;
    --cros-sys-primary_container: #3f465cff;
    --cros-sys-on_primary_container: #dae2ffff;
    --cros-sys-secondary-light: #585e71ff;
    --cros-sys-secondary-dark: #c0c6ddff;
    --cros-sys-secondary: #c0c6ddff;
    --cros-sys-on_secondary: #2a3042ff;
    --cros-sys-secondary_container: #414659ff;
    --cros-sys-on_secondary_container: #dde2f9ff;
    --cros-sys-tertiary: #e1bbdcff;
    --cros-sys-on_tertiary: #422741ff;
    --cros-sys-tertiary_container: #5a3d58ff;
    --cros-sys-on_tertiary_container: #fed6f9ff;
    --cros-sys-error: #ffb59eff;
    --cros-sys-on_error: #690005ff;
    --cros-sys-error_container: #332420ff;
    --cros-sys-on_error_container: #ffb59eff;
    --cros-sys-error_highlight: #ffb4ab4c;
    --cros-sys-surface_variant: #45464fff;
    --cros-sys-on_surface_variant-light: #45464fff;
    --cros-sys-on_surface_variant-dark: #c5c6d0ff;
    --cros-sys-on_surface_variant: #c5c6d0ff;
    --cros-sys-outline: #8f909aff;
    --cros-sys-separator: #e3e2e923;
    --cros-sys-white: #ffffffff;
    --cros-sys-black: #000000ff;
    --cros-sys-header: #191f30ff;
    --cros-sys-header_unfocused: #262a37ff;
    --cros-sys-app_base_shaded: #000000ff;
    --cros-sys-app_base: #16171cff;
    --cros-sys-base_elevated-light: #ffffffff;
    --cros-sys-base_elevated-dark: #2d303cff;
    --cros-sys-base_elevated: #2d303cff;
    --cros-sys-system_base: #000000ff;
    --cros-sys-system_base_elevated: #2b2e39e5;
    --cros-sys-surface: #1a1b21ff;
    --cros-sys-surface1: #21232bff;
    --cros-sys-surface2: #262832ff;
    --cros-sys-surface3: #2b2e39ff;
    --cros-sys-surface4: #2c2f3bff;
    --cros-sys-surface5: #2f323fff;
    --cros-sys-scrim: #00000099;
    --cros-sys-scrim2: #4146597a;
    --cros-sys-dialog_container: #2d303cff;
    --cros-sys-inverse_surface: #e3e2e9ff;
    --cros-sys-scrollbar: #75778099;
    --cros-sys-scrollbar_hover: #e1e2ec99;
    --cros-sys-scrollbar_border: #00000023;
    --cros-sys-input_field_on_shaded: #76777d66;
    --cros-sys-input_field_on_base: #00000099;
    --cros-sys-system_on_base: #5c5e677f;
    --cros-sys-system_on_base_opaque: #45464fff;
    --cros-sys-system_on_base1: #fefbff19;
    --cros-sys-system_primary_container: #b2c5ffff;
    --cros-sys-system_on_primary_container: #001849ff;
    --cros-sys-system_on_primary_container_disabled: #00184960;
    --cros-sys-on_positive_container: #89f9afff;
    --cros-sys-positive_container: #27332aff;
    --cros-sys-positive: #6ddc94ff;
    --cros-sys-on_warning_container: #f7be00ff;
    --cros-sys-warning_container: #332d1fff;
    --cros-sys-system_on_warning_container: #251a00ff;
    --cros-sys-system_warning_container: #f7be00ff;
    --cros-sys-warning: #f7be00ff;
    --cros-sys-on_progress_container: #75d3f0ff;
    --cros-sys-progress_container: #172a30ff;
    --cros-sys-progress: #75d3f0ff;
    --cros-sys-system_on_negative_container: #3a0b00ff;
    --cros-sys-system_negative_container: #ffb59eff;
    --cros-sys-on_surface-light: #1a1b21ff;
    --cros-sys-on_surface-dark: #e3e2e9ff;
    --cros-sys-on_surface: #e3e2e9ff;
    --cros-sys-inverse_on_surface: #1a1b21ff;
    --cros-sys-on_surface_bodytext: #abaab1ff;
    --cros-sys-disabled: #e3e2e960;
    --cros-sys-disabled_opaque: #45464fff;
    --cros-sys-disabled_container: #e3e2e91e;
    --cros-sys-privacy_indicator: #37be5fff;
    --cros-sys-hover_on_prominent: #1a1b210f;
    --cros-sys-hover_on_subtle: #fefbff19;
    --cros-sys-inverse_hover_on_subtle: #1a1b210f;
    --cros-sys-ripple_primary: #788fcf51;
    --cros-sys-ripple_neutral_on_prominent: #1a1b2114;
    --cros-sys-ripple_neutral_on_subtle: #e3e2e928;
    --cros-sys-highlight_shape: #93a9ec4c;
    --cros-sys-highlight_text: #93a9ec99;
    --cros-sys-system_highlight: #ffffff0f;
    --cros-sys-system_border: #00000014;
    --cros-sys-system_highlight1: #ffffff0f;
    --cros-sys-system_border1: #00000014;
    --cros-sys-focus_ring: #b2c5ffff;
    --cros-sys-inverse_focus_ring: #455c99ff;
    --cros-sys-focus_ring_on_primary_container: #455c99ff;
    --cros-sys-shadow: #000000ff;
    --cros-sys-pressed_on_prominent: #1a1b2122;
    --cros-sys-pressed_on_subtle: #eeecf23d;
    --cros-sys-illo-color1-light: #2c4480ff;
    --cros-sys-illo-color1-dark: #b2c5ffff;
    --cros-sys-illo-color1: #b2c5ffff;
    --cros-sys-illo-color1-1-light: #b2c5ffff;
    --cros-sys-illo-color1-1-dark: #585e71ff;
    --cros-sys-illo-color1-1: #585e71ff;
    --cros-sys-illo-color1-2-light: #dae2ffff;
    --cros-sys-illo-color1-2-dark: #414659ff;
    --cros-sys-illo-color1-2: #414659ff;
    --cros-sys-illo-color2-light: #2fa463ff;
    --cros-sys-illo-color2-dark: #4fc07bff;
    --cros-sys-illo-color2: #4fc07bff;
    --cros-sys-illo-color3-light: #d6a400ff;
    --cros-sys-illo-color3-dark: #f7be00ff;
    --cros-sys-illo-color3: #f7be00ff;
    --cros-sys-illo-color4-light: #ef6638ff;
    --cros-sys-illo-color4-dark: #ef6638ff;
    --cros-sys-illo-color4: #ef6638ff;
    --cros-sys-illo-color5-light: #c5a0c0ff;
    --cros-sys-illo-color5-dark: #735471ff;
    --cros-sys-illo-color5: #735471ff;
    --cros-sys-illo-color6-light: #dde2f9ff;
    --cros-sys-illo-color6-dark: #71768bff;
    --cros-sys-illo-color6: #71768bff;
    --cros-sys-illo-base-light: #ffffffff;
    --cros-sys-illo-base-dark: #000000ff;
    --cros-sys-illo-base: #000000ff;
    --cros-sys-illo-secondary-light: #e1e2ecff;
    --cros-sys-illo-secondary-dark: #5c5e67ff;
    --cros-sys-illo-secondary: #5c5e67ff;
    --cros-sys-illo-card-color1-light: #fce3e0ff;
    --cros-sys-illo-card-color1-dark: #4d2726ff;
    --cros-sys-illo-card-color1: #4d2726ff;
    --cros-sys-illo-card-on_color1-light: #a50e0eff;
    --cros-sys-illo-card-on_color1-dark: #f6aea9ff;
    --cros-sys-illo-card-on_color1: #f6aea9ff;
    --cros-sys-illo-card-color2-light: #fef2cbff;
    --cros-sys-illo-card-color2-dark: #443117ff;
    --cros-sys-illo-card-color2: #443117ff;
    --cros-sys-illo-card-on_color2-light: #9b6100ff;
    --cros-sys-illo-card-on_color2-dark: #fde293ff;
    --cros-sys-illo-card-on_color2: #fde293ff;
    --cros-sys-illo-card-color3-light: #dcf4e3ff;
    --cros-sys-illo-card-color3-dark: #16341eff;
    --cros-sys-illo-card-color3: #16341eff;
    --cros-sys-illo-card-on_color3-light: #0d652dff;
    --cros-sys-illo-card-on_color3-dark: #a8dab5ff;
    --cros-sys-illo-card-on_color3: #a8dab5ff;
    --cros-sys-illo-card-color4-light: #d6e5fcff;
    --cros-sys-illo-card-color4-dark: #20314eff;
    --cros-sys-illo-card-color4: #20314eff;
    --cros-sys-illo-card-on_color4-light: #185abcff;
    --cros-sys-illo-card-on_color4-dark: #aecbfaff;
    --cros-sys-illo-card-on_color4: #aecbfaff;
    --cros-sys-illo-card-color5-light: #f4e3feff;
    --cros-sys-illo-card-color5-dark: #433355ff;
    --cros-sys-illo-card-color5: #433355ff;
    --cros-sys-illo-card-on_color5-light: #75099bff;
    --cros-sys-illo-card-on_color5-dark: #d7aefbff;
    --cros-sys-illo-card-on_color5: #d7aefbff;
    --cros-sys-illo-elevated-color1-1: #585e71ff;
    --cros-sys-illo-elevated-color1-2: #414659ff;
    --cros-sys-illo-elevated-base: #000000ff;
    --cros-sys-illo-elevated-secondary: #5c5e67ff;
    --cros-sys-file_ms_excel: #16a765ff;
    --cros-sys-file_ms_word: #4986e7ff;
    --cros-sys-file_ms_ppt: #ff7637ff;
    --cros-sys-file_site: #8c9effff;
    --cros-sys-file_form: #b48cffff;
}
