/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  display: block;
  margin: 2% 5%;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  min-width: 100px;
  word-break: break-word;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#clear-cache {
  padding: 6px 12px;
  cursor: pointer;
  background-color: #f2f2f2;
  border: 1px solid #ddd;
  margin-left: 2rem;
}

#clear-cache:hover {
  background-color: #ddd;
}
