/* Copyright 2012 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* A butter bar is an non-modal notification, usually yellow, that appears at
 * the top of the screen. Generally, they should contain a single line of text,
 * and one or two links at the end of the text. Example:
 *   <div class="butter-bar">You deleted something. <a href="#">Undo</a></div>
 */

.butter-bar {
  background-color: rgb(249, 237, 190);
  border: 1px solid rgb(240, 195, 109);
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: inline-block;
  padding: 8px 10px;
  text-align: center;
}

.butter-bar a {
  margin-left: 0.45em;
  text-decoration: underline;
}
