/* Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/*
Chrome OS semantic colors.

All colors used in Chrome OS WebUIs and System Web Apps should be semantically
represented here.
*/
html {
  /**
   * Recommended colors.
   */
  --cros-default-text-color: var(--google-grey-900);
  --cros-default-text-color-secondary: var(--google-grey-refresh-700);

  --cros-default-bg-color: #fff;

  --cros-default-toolbar-bg-color: #fff;
  --cros-default-toolbar-search-bg-color: var(--google-grey-refresh-100);

  --cros-default-button-color: var(--google-blue-600);

  --cros-menu-button-bg-color-active: var(--google-blue-50);
  --cros-menu-button-bg-color-hover: var(--google-grey-refresh-100);
  --cros-menu-button-outline-color-focused: var(--google-blue-600);

  --cros-separator-color: rgba(0, 0, 0, 0.12);

  --cros-link-color: var(--google-blue-700);

  /*
   * One-offs.
   *
   * List your project's one-off colors below here. If a semantic color comes
   * up repeatedly, consider speaking to UX about pulling out a common
   * variable above.
   */

  /* OS Settings */
  --cros-error-color: var(--google-red-700);
  --cros-success-color: var(--google-green-refresh-700);

  --cros-search-page-question-icon-color: var(--google-grey-refresh-500);
  --cros-app-management-permission-icon-color: var(--paper-grey-600);

  /* TODO(stevenjb): Replace this with the correct variable or color once
   * established by UX, see crbug.com/687749. */
  --cros-user-icon-color-secondary: rgb(210, 210, 212);
}

/* TODO(crbug.com/1018654): Implement dark mode overrides */
