/* Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=chrome://resources/ash/common/navigation_shared_vars.css.js
 * #import=//resources/ash/common/cr_elements/cr_shared_style.css.js
 * #import=//resources/ash/common/cr_elements/cr_shared_vars.css.js
 * #import=//resources/ash/common/cr_elements/md_select.css.js
 * #include=cr-shared-style md-select
 * #css_wrapper_metadata_end */

 :host {
  --cr-dialog-width: 320px;
  --cr-dialog-button-container-padding-horizontal: 24px;
  --content-container-padding: 40px;
  --margin-between-panes: 80px;
  --radio-button-top-padding: 20px;
  --title-bottom-margin: 16px;
}

:host {
  --shimless-title-font-family: "Google Sans", Roboto, sans-serif;
  --shimless-instructions-font-family: Roboto, sans-serif;
  --shimless-component-font-family: Roboto, sans-serif;
  --shimless-component-description-font-family: Roboto, sans-serif;
  --shimless-hint-font-family: Roboto, sans-serif;
  --shimless-warning-font-family: Roboto, sans-serif;
  --shimless-button-label-font-family: "Google Sans", Roboto, sans-serif;
  --shimless-input-font-family: Roboto, sans-serif;
  --shimless-dialog-title-font-family: "Google Sans", sans-serif;
  --shimless-dialog-body-font-family: Roboto, sans-serif;

  --shimless-title-font-size: 28px;
  --shimless-component-font-size: 14px;
  --shimless-component-description-font-size: 13px;
  --shimless-instructions-font-size: 14px;
  --shimless-hint-font-size: 10px;
  --shimless-warning-font-size: 12px;
  --shimless-button-label-font-size: 16px;
  --shimless-input-font-size: 13px;
  --shimless-dialog-title-font-size: 16px;
  --shimless-dialog-body-font-size: 13px;

  --shimless-title-line-height: 36px;
  --shimless-instructions-line-height: 20px;
  --shimless-component-line-height: 20px;
  --shimless-component-description-line-height: 20px;
  --shimless-hint-line-height: 10px;
  --shimless-warning-line-height: 18px;
  --shimless-button-label-line-height: 24px;
  --shimless-input-line-height: 20px;
  --shimless-dialog-title-line-height: 24px;
  --shimless-dialog-body-line-height: 20px;

  --shimless-regular-font-weight: 400;
  --shimless-medium-font-weight: 500;

  --shimless-title-text-color: var(--cros-text-color-primary);
  --shimless-instructions-text-color: var(--cros-text-color-secondary);
  --shimless-component-text-color: var(--cros-text-color-secondary);
  --shimless-component-description-text-color: var(--cros-text-color-secondary);
  --shimless-hint-text-color: var(--google-grey-600);
  --shimless-warning-text-color: var(--cros-text-color-secondary);
  --shimless-button-label-text-color: var(--cros-text-color-primary);
  --shimless-dialog-title-text-color: var(--cros-text-color-primary);
  --shimless-dialog-body-text-color: var(--cros-text-color-secondary);
  --shimless-shutdown-buttons-text-color: var(--cros-text-color-primary);
}

html {
  background-color: var(--cros-bg-color);
}

.indented-description {
  color: var(--shimless-instructions-text-color);
  margin-top: 8px;
  padding: 0; /* specify all to override */
  width: 512px;
}

.icon-message {
  display: grid;
  grid-template-columns: 28px 1fr;
}

.large-icon {
  height: 200px;
  width: 300px;
}

.small-icon {
  height: 20px;
  min-width: 20px;
  padding-inline-end: 8px;
  width: 20px;
}

.small-icon-base {
  height: 20px;
  width: 20px;
}

.large-spinner {
  height: 286px;
  width: 286px;
}

.small-spinner {
  height: 20px;
  padding-inline-end: 8px;
  width: 20px;
}

h1 {
  color: var(--shimless-title-text-color);
  font-family: var(--shimless-title-font-family);
  font-size: var(--shimless-title-font-size);
  font-weight: var(--shimless-medium-font-weight);
  line-height: var(--shimless-title-line-height);
  margin-bottom: var(--title-bottom-margin);
  margin-top: 0;
  outline: none;
}

.instructions {
  color: var(--shimless-instructions-text-color);
  font-family: var(--shimless-instructions-font-family);
  font-size: var(--shimless-instructions-font-size);
  font-weight: var(--shimless-regular-font-weight);
  line-height: var(--shimless-instructions-line-height);
  margin-bottom: 16px;
}

cr-input {
  font-family: var(--shimless-input-font-family);
  font-size: var(--shimless-input-font-size);
  font-weight: var(--shimless-regular-font-weight);
  line-height: var(--shimless-input-line-height);
}

cr-dialog::part(dialog) {
  box-shadow: var(--cros-elevation-3-shadow);
}

cr-dialog [slot=title] {
  color: var(--shimless-dialog-title-text-color);
  font-family: var(--shimless-dialog-title-font-family);
  font-size: var(--shimless-dialog-title-font-size);
  font-weight: var(--shimless-medium-font-weight);
  line-height: var(--shimless-dialog-title-line-height);
  padding: 24px;
}

cr-dialog [slot=body] {
  color: var(--shimless-dialog-body-text-color);
  font-family: var(--shimless-dialog-body-font-family);
  font-size: var(--shimless-dialog-body-font-size);
  font-weight: var(--shimless-regular-font-weight);
  line-height: var(--shimless-dialog-body-line-height);
  padding-inline-end: 24px;
  padding-inline-start: 24px;
}

cr-dialog .dialog-footer {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 20px;
  padding-top: 32px;
}

cr-dialog cr-button {
  border-radius: 4px;
  margin-inline-start: 8px;
}

cr-radio-button {
  --cr-radio-button-size: 20px;
  align-items: start;
  font-size: var(--shimless-instructions-font-size);
  line-height: 20px;
  padding-bottom: 0;
  padding-inline-start: 20px;
  padding-top: var(--radio-button-top-padding);
}

cr-radio-group {
  margin-top: calc(40px - var(--radio-button-top-padding)
  - var(--title-bottom-margin));
}

base-page {
  height: 100%;
  width: 100%;
}

.warning-icon {
  fill: var(--cros-icon-color-warning);
}

.component-grid {
  display: inline-grid;
  grid-auto-rows: min-content;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  height: 100%;
  width: 100%;
}

/**
 * NOTE: If you change the number of columns, don't forget to update the
 * NUM_COLUMNS constant in the keyboard navigation code. Otherwise the down
 * and up arrows won't work as expected.
 */
.component-grid.repair {
  grid-template-columns: auto auto;
}

.component-grid.calibration {
  grid-template-columns: auto;
}

cr-button {
  border-radius: 15px;
}

.gradient {
  background-image: linear-gradient(to bottom,
    rgba(255,255,255,0), rgba(255,255,255,1));
  bottom: calc(var(--header-footer-height) + var(--container-vertical-padding));
  height: 40px;
  pointer-events: none;
  position: fixed;
}

.gradient.equal-panes {
  width: calc(.5 * (var(--content-container-width)
    - var(--content-container-padding) * 2
    - var(--margin-between-panes)));
}

.gradient.unequal-panes {
  width: calc(.6 * (var(--content-container-width)
    - var(--content-container-padding) * 2
    - var(--margin-between-panes)));
}

.illustration-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.illustration {
  width: 320px;
}

.scroll-container {
  height: var(--content-container-height);
  overflow: auto;
}

[slot=right-pane] {
  height: 100%;
  width: 100%;
}
