# ProGuard config used for cronet_package_with(out)_nativejava_apk targets.

# Disable shrinking, otherwise ProGuard will treat the entire code as dead and
# will therefore not look for undefined references.
#
# An alternative would be to add -keep rules for every Cronet API entry point,
# but that is less desirable for the following reasons:
#  - It would require us to maintain a long list of keep rules, which is
#    inconvenient and error-prone;
#  - In general, we don't want to ship code that has undefined references,
#    period, even if that code is dead - it's bad practice and runs the risk of
#    causing problems downstream, as evidenced in https://crbug.com/447361039.
-dontshrink
-dontoptimize
-dontobfuscate

# Sadly missing from //third_party/android_deps:protobuf_lite_runtime_java. See
# https://crbug.com/40704600.
# TODO(https://crbug.com/469672624): once we start bundling protobuf, we will
# need to move these rules to the ProGuard config that we ship to our users, to
# ensure they don't hit the same issue.
-dontwarn com.google.protobuf.Any
-dontwarn com.google.protobuf.Any$Builder
