// Copyright 2023 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.components.safe_browsing;

/**
 * Contains constants for names of Safe Browsing features.
 */
public final class SafeBrowsingFeatures {{

{NATIVE_FEATURES}

    // Prevents instantiation.
    private SafeBrowsingFeatures() {{}}
}}
