<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2014 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.chromium.native_test"
      android:versionCode="1"
      android:versionName="1.0">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- Explicitly set the attribute requestLegacyExternalStorage to "true"
         since it is "false" by default on apps targeting Android 10, and that
         breaks test listing. See
         https://developer.android.com/training/data-storage#scoped-storage and
         https://developer.android.com/training/data-storage/compatibility. -->
    <application android:label="NativeTests"
            android:requestLegacyExternalStorage="true"
            android:memtagMode="sync"
            android:name="org.chromium.native_test.NativeTestApplication">
        <activity android:name=".NativeUnitTestActivity"
                android:label="NativeTest"
                android:configChanges="orientation|keyboardHidden"
                android:exported="true"
                android:process=":test_process">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name="org.chromium.net.test.DummySpnegoAuthenticatorService"
                android:exported="false"
                android:process=":test_process">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                     android:resource="@xml/dummy_spnego_authenticator" />
        </service>
    </application>

    <instrumentation android:name="org.chromium.build.gtest_apk.NativeTestInstrumentationTestRunner"
            android:targetPackage="org.chromium.native_test"
            android:label="Instrumentation entry point for org.chromium.native_test" />

</manifest>
