/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  background-color: var(--color-new-tab-page-module-background);
  border: none;
  border-radius: var(--ntp-module-border-radius);
  box-sizing: border-box;
  display: block;
  height: fit-content;
  overflow: visible;
  position: relative;
}

#impressionProbe {
  height: 27px;
  pointer-events: none;
  position: absolute;
  width: 100%;
}

#moduleElement {
  align-items: center;
  background: var(--color-new-tab-page-module-background);
  border-radius: var(--ntp-module-border-radius);
  display: flex;
  height: 100%;
  justify-content: center;
}
