<!-- Copyright 2018 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file.-->
<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <script src="chrome://resources/js/cr.js"></script>
  <script src="chrome://resources/js/promise_resolver.js"></script>
  <script src="chrome://resources/js/util.js"></script>
  <if expr="is_ios">
      <!-- TODO(crbug.com/487000): Remove this once injected by web. -->
      <script src="chrome://resources/js/ios/web_ui.js"></script>
  </if>
  <link rel="stylesheet" type="text/css" href="ukm_internals.css">
  <title>UKM Debug page</title>
  <div class="ukm_collection_status">
    <div>
      <div> Metrics Collection is <span id="state"/></div>
      <div> Session: <span id="sessionid"/></div>
      <div> Client_id: <span id="clientid"/></div>
      <div> Event Sampling Enabled: <span id="is_sampling_enabled"/></div>
    </div>
  </div>
  <div>
    <div class='labels'> Recorder Ids: </div>
    <select id="thread_ids" class="hex_list"></select>
  </div>
  <div>
    <div class='labels'> Metrics Filter: </div>
    <input id="metrics_select" type="text" value=".*" class="text" pattern="[A-Za-z0-9\._\*\|\?\+]*" maxlength="256"></input>
  </div>
  <div>
    <div class='labels'> URL Filter: </div>
    <input id="url_select" type="text" value=".*" class="text" pattern="[A-Za-z0-9\._\*\|\?\+]*" maxlength="256"></input>
  </div>
  <div>
    <input id="hide_no_metrics" class="checkbox" type="checkbox" checked> Hide Sources with no Events </input>
  </div>
  <div>
    <input id="hide_no_url" class="checkbox" type="checkbox" checked> Hide Sources with no URLs </input>
  </div>
  <div>
    <input id="include_cache" class="checkbox" type="checkbox" checked> Include cached Sources (since this page load) </input>
  </div>
  <button id="toggle_expand"></button>
  <button id="clear">Clear</button>
  <button id="refresh">Refresh</button>
  <div id="sources"></div>
  <script src="ukm_internals.js"></script>
</html>
