<!--
Copyright 2018 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<!doctype html>
<html lang="en">
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="ukm_internals.css">
  <title>UKM Debug Page</title>
  <div class="ukm-collection-status">
    <div>
      <div> Metrics Collection is <span id="state"></div>
      <div> MSBB consent is <span id="msbb_state"></div>
      <div> Extension consent is <span id="extension_state"></div>
      <div> App consent is <span id="app_state"></div>
      <div> Session: <span id="sessionid"></div>
      <div> Client_id: <span id="clientid"></div>
      <div> Event Sampling Enabled: <span id="is_sampling_enabled"></div>
      <div> NOTE FOR MOBILE: This only shows events since the most recent foregrounding.</div>
    </div>
  </div>
  <div>
    <div class="labels">Recorder IDs:</div>
    <select id="thread_ids" class="hex-list"></select>
  </div>
  <div>
    <div class="labels">Event Name Filter (regex):</div>
    <input id="events_select" type="text" value="" class="text" pattern="[A-Za-z0-9\._\*\|\?\+]*" maxlength="256"></input>
  </div>
  <div>
    <div class="labels">URL Filter (regex):</div>
    <input id="url_select" type="text" value="" class="text" pattern="[A-Za-z0-9\._\*\|\?\+]*" maxlength="256"></input>
  </div>
  <div>
    <input id="hide_no_events" class="checkbox" type="checkbox" checked>Hide Sources with no Events</input>
  </div>
  <div>
    <input id="hide_no_url" class="checkbox" type="checkbox" checked>Hide Sources with no URLs</input>
  </div>
  <div>
    <input id="include_cache" class="checkbox" type="checkbox" checked>Include cached Sources (since this page load)</input>
  </div>
  <button id="toggle_expand">Expand All</button>
  <button id="clear">Clear</button>
  <button id="refresh">Refresh</button>
  <table id="sources">
    <!-- Table content populated by |updateUkmData| with data provided by UkmDebugDataExtractor. -->
  </table>
  <script type="module" src="ukm_internals.js"></script>
</html>
