/* Copyright 2016 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 *
 * This is the stylesheet used by chrome://ukm debug page.
 */

div {
  margin: auto;
  padding: 2px;
}


div.ukm-collection-status {
  background: linear-gradient(0deg, steelblue, lightblue);
  padding: 16px;
  color: white;
  width: auto;
}

span#state, span#clientid, span#sessionid, span#is_sampling_enabled {
  text-decoration: underline;
  font-weight: bold;
}

/**
 * Sources table formatting.
 */

#sources {
  margin: 20px 0 0 0;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

.sourceid {
  width: 2em;
}

.sourcetype {
  width: 2em;
}

.source-container>td {
  padding: 10px 10px 10px 10px;
}

#sources>thead>tr>td {
  font-weight: bold;
  border-top: 0 solid #666;
  border-bottom: 1px solid #666;
  padding: 0 0 5px 10px;
}

#sources>tbody>tr>td {
  border: 1px dotted #ccc;
  padding: 10px 10px 10px 10px;
}

#sources>tbody>tr:nth-child(odd) {
  background: #ccc;
}

#sources>tbody>tr:nth-child(even) {
  background: #eee;
}

#sources>tbody>tr>td.url:hover {
  background-color: lightsteelblue;
  cursor: pointer;
}

#sources>tbody>tr>td.url {
  word-wrap: break-word;
  word-break: break-all;
}

#sources>tbody>tr.thin-border-bottom {
  border-bottom: 1px dashed black;
}

/*
 * Styling for the event-metrics tables.
 */

div.events {
  display: none;
  overflow: hidden;
  padding-top: 10px;
}

div.event {
 width: 470px;
 padding: 0 0 10px 10px;
 display: inline-block;
}

td {
  font-family: 'Lucida Console', Monaco, monospace;
  font-size: 0.8em;
  overflow-wrap: break-word;
  border-top: 1px solid black;
}

td.event-name {
  min-width: 320px;
}

td.metric-name {
  min-width: 320px;
  border-inline-start: 1px solid black;
}

td.metric-value {
  text-align: end;
  min-width: 120px;
  border-inline-start: 1px solid black;
}

table.event-table {
  width: 780px;
  border: solid 1px black;
}

select.hex-list {
  width: 100px;
  font-size: 0.7em;
  font-family: 'Lucida Console', Monaco, monospace;
  height: 22px;
}

input.text {
  width: 480px;
}

div.labels {
  width: 120px;
  display: inline-block;
}
