/* Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  margin: 0;
}

iframe {
  border: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
}
