<!-- Copyright 2019 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->
<!DOCTYPE html>
<html dir="$i18n{textdirection}" lang="$i18n{appLocale}">
<meta charset="utf-8">
<style>
  body {
    margin: 0;
    overflow: hidden;
  }
</style>

<!-- Order is important for these files since "app_main.js" reads from 
	`window.loadTimeData`. -->
<script src="/media_app_app_scripts.js"></script>

<!-- Populates `window.loadTimeData`, needs to be after
  "media_app_app_scripts.js" which loads "load_time_data.js" -->
<script src="/strings.js"></script>

<script src="/js/app_main.js"></script>

</html>
