/* Copyright 2013 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  font-size: 80%;
  margin: 1em;
}

#main-container {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}

button {
  display: block;
  font-size: 110%;
  font-weight: bold;
  margin: 10px auto;
  padding: 1em;
  width: 15em;
}

h2 {
  color: #546E7A;
  font-weight: normal;
  font-size: 170%;
  margin-bottom: 1.5em;
}

.radio-button-div {
  margin: 7px auto;
}

.warning {
  color: red;
  font-size: 90%;
}

.section-container {
  margin-top: 2em;
}

#file-path-logging,
#file-path-stopped {
  font-family: monospace;
}

.outline-box {
  margin-top: 2em;
  border: 1px solid #ababab;
  padding: 0.5em;
  line-height: 1.5em;
}

#log-max-filesize {
  width: 4em;
}
