<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2016 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.webapk.shell_apk.test.dex_optimizer"
    android:versionName="1.0" >

  <application android:label="DexOptimizer"/>

</manifest>
