/* Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

.data-module-checkbox {
  margin-top: 1em;
}
h2 {
  color: var(--cr-title-text-color);
  font-size: 170%;
  font-weight: normal;
  margin-bottom: 1em;
}
