/* Copyright 2013 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html.col-resize * {
  cursor: col-resize !important;
}

.table[hasElementFocus] > list > [lead] {
  z-index: 2;
}

.table-row {
  display: flex;
  text-align: start;
  width: 100%;
}

.table-row-cell {
  display: flex;
  overflow: hidden;
}

.table-row-cell > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-header {
  overflow: hidden;
  position: relative;
}

.table-header-inner {
  cursor: default;
  display: flex;
  position: relative;
  text-align: start;
  user-select: none;
}

.table-header-cell {
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-header-label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-header-splitter {
  cursor: col-resize;
  height: 100%;
  position: absolute;
  top: 0;
}

html[dir='ltr'] .table-header-splitter {
  left: 0;
}

html[dir='rtl'] .table-header-splitter {
  right: 0;
}
