/* Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.histograms {
  margin-top: 10px;
}

.histogram-header {
  background-color: #f5f5f5;
  cursor: pointer;
  font-size: large;
  font-weight: bold;
  margin: 2px;
  overflow-wrap: break-word;
  padding-bottom: 5px;
  padding-inline-start: 5px;
  padding-top: 5px;
  text-size-adjust: none;
}

.histogram-body {
  padding-inline-start: 15px;
}

#subprocess_checkbox_container {
  margin: 16px 0;
}

@media (prefers-color-scheme: dark) {
  .histogram-header {
    background-color: rgba(255, 255, 255, 0.1);
  }

  .histogram-header-link {
    color: rgb(138, 180, 248); /* --google-blue-300 */
  }

  html,
  body {
    background-color: rgb(32, 33, 36); /* --google-grey-900 */
    color: rgb(232, 234, 237); /* --google-grey-200 */
  }
}
