/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  display: flex;
  gap: var(--toolbar-icon-default-margin);
}

reload-button-app {
  margin: 0;
  overflow: hidden;
}

/* TODO(crbug.com/474060468): This is roughly sketching the location bar
 * structure to illustrate where things ought to go. Proper implementation
 * would not be using hardcoded values, but likely variables derived from
 * appropriate GetLayoutConstant() values, nor would it have garish borders
 * everywhere. */
#location-bar {
  align-self: center;
  align-items: center;
  background-color: var(--color-location-bar-background);
  border: none;
  border-radius: calc(var(--location-bar-height)/2);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  height: var(--location-bar-height);
  margin: 0 calc(var(--location-bar-margin) -
                 var(--toolbar-icon-default-margin));
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: linear;
  width: 400px;
}

#location-bar:hover {
  background-color: var(--color-location-bar-background-hovered);
}

/* The location bar acts focused when the omnibox within it is
   (but not if, say, the page icon is), hence the :has() use here and below */
#location-bar:has(> #omnibox-view:focus-visible) {
  background-color: var(--color-omnibox-results-background);

  /* TODO: Focus ring should go away when popup is open */
  box-shadow: inset 0 0 0 2px var(--cr-icon-button-focus-outline-color,
      var(--cr-focus-outline-color));

  transition-property: none;
}

/* TODO: input_in_progress and not high-contrast gets different colors*/

@media (prefers-contrast: more) {
  #location-bar {
    border: 1px solid var(--color-location-bar-border);
  }

  #location-bar:has(> #omnibox-view:focus-visible) {
    border: 1px solid var(--color-omnibox-results-background);
  }
}

/* TODO: non-high-contrast !is_caret_visible and input_in_progress border */

[id='WebUILocationBar::kWebUIDashboardElementId'] {
  border: 1px solid red;
  display: none;
  height: 32px;
  width: 40px;
}

[id='WebUILocationBar::kWebUILocationIconElementId'] {
  border: 1px solid red;
  height: 24px;
  margin: 4px;
  width: 24px;
}

#omnibox-view {
  align-self: center;
  background-color: transparent;
  border: none;
  color: var(--color-omnibox-text);
  display: inline-block;
  flex: 1;
  font-family: var(--omnibox-primary-font-family);
  font-size: var(--omnibox-primary-font-size);
  font-weight: var(--omnibox-primary-font-weight);
  outline: none;
}

#omnibox-view::selection {
  background-color: var(--color-omnibox-selection-background);
  color: var(--color-omnibox-selection-foreground);
}

/* We don't want URLs spellchecked */
#omnibox-view::spelling-error {
  text-decoration: none;
}

#omnibox-view::grammar-error {
  text-decoration: none;
}
