/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  --border-radius: calc(var(--location-bar-height)/2);
  align-self: center;
  align-items: center;
  background-color: var(--color-location-bar-background);
  border: none;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  height: var(--location-bar-height);
  margin: 0 calc(var(--location-bar-margin) -
                 var(--toolbar-icon-default-margin));
  /* Note: this works differently from how LocationBarView does things.
   * It basically lays out first and then clips the omnibox area to this;
   * so it normally doesn't do anything since the chips take up the space
   * anyway. We may need to compensate in chip positioning (or change the
   * approach once they exist
   */
  padding-inline: var(--border-radius);
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: linear;

  user-select: contain;

  /* TODO(crbug.com/474060468): Hardcoded width needs fixing */
  width: 400px;
}

:host(:hover:not([chip-hovered])) {
  background-color: var(--color-location-bar-background-hovered);
}

@media not (prefers-contrast: more) {
  :host(.input-in-progress) {
    background-color: var(--color-omnibox-results-background);
    border: 1px solid var(--color-location-bar-border-on-mismatch);
  }
  :host(.input-in-progress:hover:not([chip-hovered])) {
    background-color: var(--color-omnibox-results-background-hovered);
  }

  /* The border override for input-in-progress is only visible if
   * the location bar isn't visibly focused */
  :host(#location-bar):has(
      > readonly-omnibox:focus-within, > readonly-omnibox.render-focused) {
    border: none;
  }
}

@media (prefers-contrast: more) {
  :host {
    border: 1px solid var(--color-location-bar-border);
  }

  :host:has(
      > readonly-omnibox:focus-within, > readonly-omnibox.render-focused) {
    border: 1px solid var(--color-omnibox-results-background);
  }
}

/*The location bar acts focused when the omnibox within it is
   (but not if, say, the page icon is), hence the :has() use here and below.

  This should take precedence over :hover rules, so it throws in an ID
  selector for its specificity.
*/
:host(#location-bar):has(
    > readonly-omnibox:focus-within, > readonly-omnibox.render-focused) {
  background-color: var(--color-omnibox-results-background);

  box-shadow: inset 0 0 0 2px var(--cr-icon-button-focus-outline-color,
      var(--cr-focus-outline-color));

  transition-property: none;
}

/* Below are sketches of what the various LHS chips might look like,
 * to have the layout have roughly sensible for the middle portions.
 * Real ones will not hardcode their dimensions, but likely will need to
 * have similar flex behavior and margin adjustment for the curve handling.
 */
#permissions-dashboard {
  border: 1px solid red;
  display: none;
  flex-shrink: 0;
  height: 32px;
  width: 40px;
}

location-icon {
  flex-shrink: 0;
  margin: 4px;
  margin-inline-start: calc(4px - var(--border-radius));
}
