/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  --border-radius: calc(var(--location-bar-height)/2);
  --location-bar-background: var(--color-location-bar-background);
  align-self: center;
  align-items: center;
  background-color: var(--location-bar-background);
  border: none;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  display: flex;
  flex: 1;
  height: var(--location-bar-height);
  margin: 0 calc(var(--location-bar-margin) -
                 var(--toolbar-icon-default-margin));
  /* Note: this works differently from how LocationBarView does things.
   * It basically lays out first and then clips the omnibox area to this;
   * so it normally doesn't do anything since the chips take up the space
   * anyway. We may need to compensate in chip positioning (or change the
   * approach once they exist
   */
  padding-inline: var(--border-radius);
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: linear;

  user-select: contain;

  /* TODO(crbug.com/474060468): Hardcoded width needs fixing */
  width: 400px;
}

:host(:hover:not([chip-hovered])) {
  --location-bar-background: var(--color-location-bar-background-hovered);
}

@media not (prefers-contrast: more) {
  :host(.input-in-progress) {
    --location-bar-background: var(--color-omnibox-results-background);
    background-color: var(--location-bar-background);
    border: 1px solid var(--color-location-bar-border-on-mismatch);
  }
  :host(.input-in-progress:hover:not([chip-hovered])) {
    --location-bar-background: var(--color-omnibox-results-background-hovered);
    background-color: var(--location-bar-background);
  }

  /* The border override for input-in-progress is only visible if
   * the location bar isn't visibly focused */
  :host(#location-bar):has(> readonly-omnibox:focus-within) {
    border: none;
  }
}

@media (prefers-contrast: more) {
  :host {
    border: 1px solid var(--color-location-bar-border);
  }

  :host:has(> readonly-omnibox:focus-within) {
    border: 1px solid var(--color-omnibox-results-background);
  }
}

/*The location bar acts focused when the omnibox within it is
   (but not if, say, the page icon is), hence the :has() use here and below.

  This should take precedence over :hover rules, so it throws in an ID
  selector for its specificity.
*/
:host(#location-bar):has(> readonly-omnibox:focus-within) {
  --location-bar-background: var(--color-omnibox-results-background);
  background-color: var(--location-bar-background);
  transition-property: none;
}

:host(#location-bar:not(.popup-open)):has(> readonly-omnibox:focus-within) {
  box-shadow: inset 0 0 0 2px var(--cr-focus-outline-color);
}

@media (forced-colors: active) {
  :host(#location-bar:not(.popup-open)):has(> readonly-omnibox:focus-within) {
    outline: var(--cr-focus-outline-hcm);
  }
}

permission-dashboard {
  flex-shrink: 0;
  /* TODO(qingxinwu): 5px and 8px match 'icon_left' and 'text_left'
   * in LocationBarView::Layout(). Move these to layout_constants.cc and expose
   * them via CSS variables */
  margin-inline-end: 8px;
  margin-inline-start: calc(5px - var(--border-radius));
}

location-icon {
  flex-shrink: 0;
  margin: 4px;
  margin-inline-start: calc(4px - var(--border-radius));
}

selected-keyword {
  flex-shrink: 1;
}
