/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  display: flex;
  align-items: center;
  width: auto;
}

:host(.force-focus-ring) cr-icon-button {
  box-shadow: inset 0 0 0 2px var(--cr-icon-button-focus-outline-color,
      var(--cr-focus-outline-color));
}

@media (forced-colors: active) {
  :host(.force-focus-ring) cr-icon-button {
    /* Use outline instead of box-shadow (which does not work) in Windows
       HCM. */
    outline: var(--cr-focus-outline-hcm);
  }
}
