/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  color: var(--color-omnibox-keyword-selected);
  font-family: var(--omnibox-primary-font-family);
  font-size: var(--omnibox-primary-font-size);
  font-weight: var(--omnibox-primary-font-weight);
  /* TODO(crbug.com/503784002): Fade tail if too long. */
  /* Normally this doesn't have a margin since the widget draws a separator line
     with margins built in, but we don't have that implemented yet. */
  margin-inline-end: 8px;
}
