/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  align-self: center;
  background-color: var(--color-toolbar-extension-separator-enabled);
  border-radius: var(--toolbar-divider-corner-radius);
  display: block;
  height: var(--toolbar-divider-height);
  margin-inline-end: calc(var(--toolbar-divider-spacing) -
                          var(--toolbar-icon-default-margin));
  margin-inline-start: calc(var(--toolbar-divider-spacing) -
                            var(--toolbar-icon-default-margin));
  width: var(--toolbar-divider-width);
}
