<!doctype html>
<html dir="$i18n{textdirection}" lang="$i18n{language}">
<head>
  <meta charset="utf-8">
  <meta name="color-scheme" content="light dark">
  <meta name="theme-color" content="#fff">
  <meta name="viewport" content="width=device-width, initial-scale=1.0,
                                 maximum-scale=1.0, user-scalable=no">
  <title>$i18n{title}</title>
  <link rel="stylesheet" href="../../../components/security_interstitials/core/common/resources/interstitial_core.css">
  <link rel="stylesheet" href="../../../components/security_interstitials/core/common/resources/interstitial_common.css">
  <link rel="stylesheet" href="neterror.css">
<if expr="not optimize_webui">
  <script src="%ROOT_GEN_DIR%/components/neterror/resources/bundled/neterror.rollup.js"></script>
</if>
<if expr="optimize_webui">
  <script src="%ROOT_GEN_DIR%/components/neterror/resources/minified/neterror.rollup.js"></script>
</if>
</head>
<body class="neterror" style="font-family: $i18n{fontfamily}; font-size: $i18n{fontsize}">
  <div id="content"></div>
  <div id="offline-resources">
    <img id="offline-resources-1x" src="images/default_100_percent/offline/100-offline-sprite.png">
    <img id="offline-resources-2x" src="images/default_200_percent/offline/200-offline-sprite.png">
    <template id="audio-resources">
      <audio id="offline-sound-press" src="sounds/button-press.mp3"></audio>
      <audio id="offline-sound-hit" src="sounds/hit.mp3"></audio>
      <audio id="offline-sound-reached" src="sounds/score-reached.mp3"></audio>
    </template>
  </div>
</body>
</html>
