/* Copyright 2014 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.serviceworker-summary {
  background-color: rgb(235, 239, 249);
  border-top: 1px solid rgb(156, 194, 239);
  font-weight: bold;
  margin-bottom: 6px;
  margin-top: 12px;
  padding: 3px;
}

.serviceworker-item {
  margin-bottom: 15px;
  margin-top: 6px;
  position: relative;
}

.serviceworker-registration {
  padding: 5px;
}

.serviceworker-scope {
  color: rgb(85, 102, 221);
  display: inline-block;
  padding-bottom: 1px;
  padding-top: 4px;
  text-decoration: none;
  white-space: nowrap;
}

.serviceworker-version {
  padding-bottom: 3px;
  padding-inline-start: 10px;
}

.serviceworker-client {
  padding-bottom: 3px;
  padding-inline-start: 10px;
}

.controls a {
  color: #777;
  margin-block-end: 16px;
}

.serviceworker-storage-key {
  padding-bottom: 3px;
  padding-inline-start: 10px;
}

.serviceworker-storage-key-wrapper {
  color: rgb(85, 102, 221);
  white-space: nowrap;
}
