<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2016 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<!-- package name must be unique. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.webapk.lib.runtime_library.test.apk_with_webapk_service">

    <application>
        <service android:name="org.chromium.webapk.lib.runtime_library.test.TestWebApkServiceImplWrapper"
            android:exported="true">
        </service>
    </application>
</manifest>
