/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=./webui_toolbar_shared_vars.css.js
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host(.help-anchor-highlight) .iph-visual-target {
  --cr-hover-background-color: transparent;
  --cr-icon-button-hover-background-color: transparent;
  --cr-icon-button-active-background-color: transparent;
  background-color: transparent !important;
  isolation: isolate;
}

:host(.help-anchor-highlight) .iph-visual-target::before {
  animation: pulse 1600ms infinite !important;
  background-color: var(--color-button-feature-attention-highlight) !important;
  border-radius: inherit;
  content: '';
  inset: 0;
  opacity: 1 !important;
  pointer-events: none;
  position: absolute;
  transition: none !important;
}

@keyframes pulse {
  0% {
    inset: 0;
    animation-timing-function: var(--ease-out-cubic-bezier);
  }
  50% {
    inset: 3px;
    animation-timing-function: var(--ease-out-cubic-bezier);
  }
  100% {
    inset: 0;
  }
}
