/* Copyright 2019 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

h2 {
  color: rgb(74, 142, 230);
  font-size: 100%;
  margin-bottom: 0.3em;
  margin-top: 1em;
}

table {
  table-layout: fixed;
  width: 100%;
}

table > tbody > tr:nth-child(odd) {
  background: rgb(239, 243, 255);
}

table td {
  vertical-align: top;
  width: 50%;
  word-wrap: break-word;
}

button {
  display: block;
  margin: 10px 0;
  padding: 5px;
}

#current-content table td:first-child {
  width: 15%;
}
