<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.ui.accessibility.testservice">
    <uses-sdk android:minSdkVersion="29" android:targetSdkVersion="36" />
    <application>
        <service android:name=".AccessibilityTestService"
                 android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
                 android:label="Accessibility Test Service"
                 android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".AccessibilityTestHelperService"
            android:exported="true"/>
    </application>
</manifest>
