package org.chromium.chrome.browser.android_library_factory;

public class {{class_name}} {
  public Integer publicMethod() {
    return 1;
  }

  Integer packagePrivateMethod() {
     return 2;
  }
}
