// Copyright 2016 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.webapk.lib.client;

public class WebApkVersion {

public static final int CURRENT_RUNTIME_DEX_VERSION = CURRENT_RUNTIME_DEX_VERSION_VALUE;

public static final int REQUEST_UPDATE_FOR_SHELL_APK_VERSION = REQUEST_UPDATE_FOR_SHELL_APK_VERSION_VALUE;

}
