<!doctype html>
 <!-- Note that chrome://flags is intentionally not a translated UI surface, -->
 <!-- so don't mark it with direction or language attributes. -->
<html>
<head>
<meta charset="utf-8">
<meta name="color-scheme" content="light dark">
<if expr="not is_ios">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="chrome://resources/css/text_defaults_md.css">
</if>
<title>$i18n{title}</title>

<if expr="chromeos_lacros or chromeos_ash">
  <link rel="stylesheet" href="chrome://resources/css/os_header.css">
</if>

<if expr="is_ios">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1">
  <link rel="stylesheet" href="chrome://resources/css/text_defaults.css">
</if>
<style>
  html,
  body {
    height: 100%;
    overflow: hidden;
    margin: 0;
  }
</style>
</head>
<body>
  <script src="app.js" type="module"></script>
  <flags-app></flags-app>
</body>
</html>