<!doctype html>
<html dir="ltr" lang="en">
<head>
  <meta charset="utf-8">
  <title>GCM Internals</title>
  <if expr="is_android">
    <meta name="viewport" content="width=device-width">
  </if>
  <link rel="stylesheet" href="chrome://resources/css/text_defaults.css">
  <link rel="stylesheet" href="gcm_internals.css">
  <script type="module" src="gcm_internals.js"></script>
</head>
<body>
<h1>GCM Internals</h1>
<div class="flexbar">
  <button id="refresh">Refresh</button>
  <button id="recording">Start Recording</button>
  <button id="clear-logs">Clear All Logs</button>
</div>

<h2>Device Info</h2>
<table id="device-info">
  <tbody>
    <if expr="not is_android">
      <tr>
        <td>
          Android Id
        </td>
        <td>
          <span id="android-id"></span>
          <span id="android-secret-container" class="invisible">
            (<b>secret</b>: <span id="android-secret"></span>)
          </span>
        </td>
      </tr>
      <tr>
        <td>
          User Profile Service Created
        </td>
        <td id="profile-service-created">
        </td>
      </tr>
    </if>
    <tr>
      <td>
        GCM Enabled
      </td>
      <td id="gcm-enabled">
      </td>
    </tr>
    <if expr="not is_android">
      <tr>
        <td>
          GCM Client Created
        </td>
        <td id="gcm-client-created">
        </td>
      </tr>
      <tr>
        <td>
          GCM Client State
        </td>
        <td id="gcm-client-state">
        </td>
      </tr>
      <tr>
        <td>
          Connection Client Created
        </td>
        <td id="connection-client-created">
        </td>
      </tr>
      <tr>
        <td>
          Connection State
        </td>
        <td id="connection-state">
        </td>
      </tr>
      <tr>
        <td>
          Last Checkin
        </td>
        <td id="last-checkin">
        </td>
      </tr>
      <tr>
        <td>
          Next Checkin
        </td>
        <td id="next-checkin">
        </td>
      </tr>
      <tr>
        <td>
          Registered App Ids
        </td>
        <td id="registered-app-ids">
        </td>
      </tr>
      <tr>
        <td>
          Send Message Queue Size
        </td>
        <td id="send-queue-size">
        </td>
      </tr>
      <tr>
        <td>
          Resend Message Queue Size
        </td>
        <td id="resend-queue-size">
        </td>
      </tr>
    </if>
  </tbody>
</table>

<if expr="not is_android">
  <h2>Check-in Log</h2>
  <table class="log-table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Event</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody id="checkin-info">
    </tbody>
  </table>

  <h2>Connection Log</h2>
  <table class="log-table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Event</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody id="connection-info">
    </tbody>
  </table>
</if>

<h2>Registration Log</h2>
<table class="log-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>App Id</th>
      <th>Source</th>
      <th>Event</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody id="registration-info">
  </tbody>
</table>

<h2>Receive Message Log</h2>
<table class="log-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>App Id</th>
      <th>From</th>
      <th>Size (bytes)</th>
      <th>Event</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody id="receive-info">
  </tbody>
</table>

<h2>Message Decryption Failure Log</h2>
<table class="log-table">
  <thead>
    <tr>
      <th>Time</th>
      <th>App Id</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody id="decryption-failure-info">
  </tbody>
</table>

<if expr="not is_android">
  <h2>Send Message Log</h2>
  <table class="log-table">
    <thead>
      <tr>
        <th>Time</th>
        <th>App Id</th>
        <th>Receiver Id</th>
        <th>Msg Id</th>
        <th>Event</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody id="send-info">
    </tbody>
  </table>
</if>

</body>
</html>
