/* Copyright 2012 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.app {
  outline: none;
  position: absolute;
  text-align: center;
}

.app-contents {
  transition: transform 100ms;
}

.app-contents:active:not(.suppress-active),
.app:not(.click-focus):focus .app-contents:not(.suppress-active),
.drag-representation:not(.placing) .app-contents {
  transform: scale(1.1);
}

/* Don't animate the initial scaling.  */
.app-contents:active:not(.suppress-active),
/* Active gets applied right before .suppress-active, so to avoid flicker
 * we need to make the scale go back to normal without an animation. */
.app-contents.suppress-active {
  transition-duration: 0ms;
}

.app-title-container {
  align-items: center;
  display: flex;
  justify-content: center;
}

.app-title-container .title {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.app.deprecated .app-title-container::after {
  content: url(images/error_yellow900.svg);
  height: 18px;
  padding-inline-start: 8px;
  width: 18px;
}

.app-img-container {
  /* -webkit-mask-image set by JavaScript to the image source. */
  -webkit-mask-size: 100% 100%;
  margin-left: auto;
  margin-right: auto;
}

.app-img-container > * {
  height: 100%;
  width: 100%;
}

.app-icon-div {
  -webkit-box-align: center;
  -webkit-box-pack: center;
  background-color: white;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  display: -webkit-box;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  vertical-align: middle;
  z-index: 0;
}

.app-icon-div .app-img-container {
  bottom: 10px;
  left: 10px;
  position: absolute;
}

.app-icon-div .color-stripe {
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  bottom: 0;
  height: 3px;
  opacity: 1.0;
  position: absolute;
  width: 100%;
  z-index: 100;
}

.app-context-menu > button:first-child {
  font-weight: bold;
}

.app-context-menu {
  z-index: 1000;
}

.app-context-menu > [checked]::before {
  height: 5px;
}

.launch-click-target {
  cursor: pointer;
}

.app-img-container > img:first-child {
  display: block;
}

.app .invisible {
  visibility: hidden;
}
