/* Copyright 2014 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 *
 * Incognito and guest mode NTP shared CSS. */

 body {
  -webkit-font-smoothing: antialiased;
  font-size: 85%;
}

@media (prefers-color-scheme: dark) {
  html {
    background: rgb(53, 54, 58);
    color: rgb(232, 234, 237);  /* --google-grey-200 */
  }
}

h1 {
  font-size: 200%;
  font-weight: 400;
  margin-bottom: .77em;
}

p {
  line-height: 1.5;
  margin: .588em 0;
  text-align: start;
}

a {
  color: rgb(51, 103, 214);
}

a:hover {
  text-decoration: underline;
}

.learn-more-button {
  color: rgb(66, 133, 244);
  display: inline-block;
  font-size: 92.8%;
  font-weight: 500;
  margin-top: 1.98em;
  padding: 10.5px 12px;
}

@media (prefers-color-scheme: dark) {
  :-webkit-any(a, .learn-more-button) {
    color: rgb(138, 180, 248);  /* --google-blue-300 */
  }
}

.content {
  box-sizing: border-box;
  margin: 3.5em auto 0;
  max-width: 480px;
  min-width: 240px;
  padding: 30px 35px;
  text-align: center;
}

html[hascustombackground='true'] .content {
  border-radius: 2px;
  box-shadow: 0 4px 6px 1px rgba(0, 0, 0, 0.4);
}

.content > span {
  display: block;
}

@media (max-width:700px) {
  body {
    margin: 1em 2em 2em;
  }
}

@media (max-width:400px) {
  body {
    margin: 3em 1.5em 2em;
  }

  /* Adjustment for narrow screen to prevent horizontal scrollbar. */
  .content {
    padding: 16px 8px;
  }
}

@media (max-height:480px) and (max-width:400px) {
  .content {
    margin: auto;
  }
}
