{
{%if key is defined %}
  "key": "{{key}}",
{% endif %}
  "manifest_version": 3,
  "minimum_chrome_version": "93",
  "background": {
    "service_worker": "accessibility_common/accessibility_common_loader.js",
    "type": "module"
  },
  "content_security_policy": {
    "extension_pages": "script-src 'self' 'wasm-unsafe-eval'; object-src 'self'",
    "sandbox": "sandbox allow-scripts; script-src 'self' 'unsafe-eval'; child-src 'self';"
  },
  "sandbox": {
     "pages": ["accessibility_common/sandboxed_pumpkin_tagger.html"]
  },
  "name": "Accessibility Common",
  "version": "{{set_version}}",
  "description": "Accessibility Common extension to communicate with the Automation API",
{% if is_guest_manifest == '1' %}
  "incognito": "split",
{% endif %}
  "permissions": [
    "accessibilityPrivate",
    "accessibilityFeatures.read",
    "accessibilityFeatures.modify",
    "audio",
    "commandLinePrivate",
    "input",
    "inputMethodPrivate",
    "metricsPrivate",
    "settingsPrivate",
    "languageSettingsPrivate",
    "offscreen",
    "speechRecognitionPrivate",
    "tabs",
    "videoCapture"
  ],
  "automation": {
    "desktop": true
  },
  "default_locale": "en",
  "input_components": [
    {
      "name": "Dictation",
      "id": "dictation",
      "language": ["none"]
    }
  ]
}
