{
{%if key is defined %}
  "key": "{{key}}",
{% endif %}
{% if is_manifest_v3 == '1' %}
  "manifest_version": 3,
  "minimum_chrome_version": "93",
  "background": {
    "service_worker": "chromevox/chromevox_loader.js",
    "type": "module"
  },
{% else %}
  "manifest_version": 2,
  "background": {
    "page": "chromevox/background/background.html"
  },
{% endif %}
  "name": "__MSG_CHROMEVOX_NAME__",
  "version": "{{set_version}}",
  "description": "__MSG_CHROMEVOX_DESCRIPTION__",
{% if is_guest_manifest == '1' %}
  "incognito": "split",
{% endif %}
  "bluetooth": {},
  "permissions": [
    "accessibilityPrivate",
    "audio",
    "bluetoothPrivate",
    "brailleDisplayPrivate",
    "clipboardRead",
    "chromeosInfoPrivate",
    "commandLinePrivate",
    "downloads",
    "loginState",
    "metricsPrivate",
    "notifications",
    "settingsPrivate",
    "storage",
    "tabs",
    "tts",
    "chrome://resources/",
    "https://docs.google.com/*",
    "https://docs.sandbox.google.com/*"
  ],
  "content_scripts": [
    {
      "matches": [
        "https://docs.google.com/*",
        "https://docs.sandbox.google.com/*"
      ],
      "all_frames": true,
      "js": [
        "chromevox/injected/cvox_gdocs_script.js"
      ]
    }
  ],
  "automation": {
    "desktop": true
  },
  "options_page": "chromevox/options/options.html",
  "default_locale": "en",
  "content_security_policy": "default-src 'none'; script-src 'self' 'wasm-eval' chrome://resources; style-src 'unsafe-inline' chrome://resources; img-src 'self' data:;",
  "externally_connectable": {
    "ids": [
      // Braille IME.
      "jddehjeebkoimngcbdkaahpobgicbffp"
    ]
  }
}
