{
{%if key is defined %}
  "key": "{{key}}",
{% endif %}
  "manifest_version": 2,
  "name": "Google Enhanced Network text-to-speech extension",
  "version": "{{set_version}}",
  "description": "Prototype",
{% if is_guest_manifest == '1' %}
  "incognito": "split",
{% endif %}
  "background": {
    "page": "enhanced_network_tts/background.html"
  },
  "permissions": [
    "ttsEngine"
  ],
  "default_locale": "en",
  "tts_engine": {
    "voices": [
      {
          "event_types": [ "start", "end", "error" ],
          "lang": "en-US",
          "voice_name": "Wavenet English 1",
          "remote": true
      }
    ],
    "sample_rate": 44100,
    "buffer_size": 128
  }
}
