/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=./filter_dialog_shared.css.js
 * #include=filter-dialog-shared
 * #css_wrapper_metadata_end */

:host {
  display: block;
  --filter-menu-input-background: var(--cr-fallback-color-surface-variant);
}

.filter-menu-input {
  border: 0;
  border-bottom: 1px solid var(--filter-border-color);
  padding: 8px 16px;
  margin-bottom: 8px;
  width: calc(100% - 32px);
  outline: none;
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
  background-color: var(--filter-menu-input-background);
  color: var(--cr-secondary-text-color);
}

.filter-menu-input:focus {
  border-bottom-color: var(--cr-link-color);
}
