# Schema for this config file: ProjectConfig in:
# https://luci-config.appspot.com/schemas/projects:chops-weetbix.cfg

monorail {
  project: "chromium"
  default_field_values {
    field_id: 10
    value: "Bug"
  }
  priority_field_id: 11
}
