# Schema for this config file: ProjectConfig in
# luci-config.appspot.com/schemas/projects:tricium-prod.cfg

# This ACL setting only determines who can directly make requests;
# it doesn't limit whose CLs will get automatic analysis run.
acls {
  role: REQUESTER
  group: "tricium-chromium-requesters"
}

functions {
  type: ANALYZER
  name: "ClangTidy"
  needs: GIT_FILE_DETAILS
  provides: RESULTS
  path_filters: "*.c"
  path_filters: "*.cc"
  path_filters: "*.cpp"
  path_filters: "*.h"
  owner: "gbiv@chromium.org"
  monorail_component: "Tools>LLVM"
  impls {
    runtime_platform: LINUX
    provides_for_platform: LINUX
    recipe {
      project: "chromium"
      bucket: "try"
      builder: "tricium-clang-tidy"
    }
  }
}

functions {
  type: ANALYZER
  name: "Metrics"
  needs: GIT_FILE_DETAILS
  provides: RESULTS
  path_filters: "*.xml"
  path_filters: "*.json"
  owner: "isherman@chromium.org"
  monorail_component: "Internals>Metrics>Tricium"
  impls {
    runtime_platform: LINUX
    provides_for_platform: LINUX
    recipe {
      project: "chromium"
      bucket: "try"
      builder: "tricium-metrics-analysis"
    }
  }
}

functions {
  type: ANALYZER
  name: "OilpanAnalyzer"
  needs: GIT_FILE_DETAILS
  provides: RESULTS
  path_filters: "*.c"
  path_filters: "*.cc"
  path_filters: "*.cpp"
  path_filters: "*.h"
  owner: "yukiy@chromium.org"
  monorail_component: "Infra>Platform>Tricium>Analyzer"
  impls {
    runtime_platform: LINUX
    provides_for_platform: LINUX
    recipe {
      project: "chromium"
      bucket: "try"
      builder: "tricium-oilpan-analysis"
    }
  }
}

# Wrapper for simple legacy analyzers.
functions {
  type: ANALYZER
  name: "Simple"
  needs: GIT_FILE_DETAILS
  provides: RESULTS
  owner: "qyearsley@chromium.org"
  monorail_component: "Infra>Platform>Tricium>Analyzer"
  impls {
    runtime_platform: LINUX
    provides_for_platform: LINUX
    recipe {
      project: "chromium"
      bucket: "try"
      builder: "tricium-simple"
    }
  }
}

selections {
  function: "ClangTidy"
  platform: LINUX
}

selections {
  function: "Metrics"
  platform: LINUX
}

selections {
  function: "OilpanAnalyzer"
  platform: LINUX
}

selections {
  function: "Simple"
  platform: LINUX
}

repos {
  gerrit_project {
    host: "chromium-review.googlesource.com"
    project: "chromium/src"
    git_url: "https://chromium.googlesource.com/chromium/src"
  }
  # This group determines whose CLs will have Tricium runs automatically
  # created. For security reasons, Tricium doesn't create runs for users that
  # don't have tryjob access.
  whitelisted_group: "project-chromium-tryjob-access"
}

service_account: "tricium-prod@appspot.gserviceaccount.com"
