<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Features</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>28</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_PASSKEYS_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_PASSKEYS_SUBTITLE</string>
			<key>ImageName</key>
			<string>Passkeys</string>
			<key>ImageTexts</key>
			<dict>
				<key>Sign in</key>
				<string>IDS_IOS_WHATS_NEW_PASSKEYS_SCREENSHOT_TEXT_1</string>
				<key>Sign in with your passkey?</key>
				<string>IDS_IOS_WHATS_NEW_PASSKEYS_SCREENSHOT_TEXT_2</string>
				<key>Continue</key>
				<string>IDS_IOS_WHATS_NEW_PASSKEYS_SCREENSHOT_TEXT_3</string>
				<key>Other Sign In Options</key>
				<string>IDS_IOS_WHATS_NEW_PASSKEYS_SCREENSHOT_TEXT_4</string>
			</dict>
			<key>IconImageName</key>
			<string>password_manager</string>
			<key>IconBackgroundColor</key>
			<string></string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<false/>
			<key>IsMulticolorSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_PASSKEYS_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_PASSKEYS_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_PASSKEYS_INSTRUCTIONS_STEP_3</string>
			</array>
			<key>PrimaryAction</key>
			<integer>4</integer>
			<key>LearnMoreUrlString</key>
			<string>https://support.google.com/chrome/?p=iOS_passkeys</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>29</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_CHOOSEFROMDRIVE_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_CHOOSEFROMDRIVE_SUBTITLE</string>
			<key>ImageName</key>
			<string>ChooseFromDrive</string>
			<key>ImageTexts</key>
			<dict>
				<key>Cancel</key>
				<string>IDS_IOS_WHATS_NEW_CHOOSEFROMDRIVE_SCREENSHOT_TEXT_1</string>
				<key>Confirm</key>
				<string>IDS_IOS_WHATS_NEW_CHOOSEFROMDRIVE_SCREENSHOT_TEXT_2</string>
				<key>Search</key>
				<string>IDS_IOS_WHATS_NEW_CHOOSEFROMDRIVE_SCREENSHOT_TEXT_3</string>
				<key>My Drive</key>
				<string>IDS_IOS_WHATS_NEW_CHOOSEFROMDRIVE_SCREENSHOT_TEXT_4</string>
				<key>Shared Drives</key>
				<string>IDS_IOS_WHATS_NEW_CHOOSEFROMDRIVE_SCREENSHOT_TEXT_5</string>
				<key>Computers</key>
				<string>IDS_IOS_WHATS_NEW_CHOOSEFROMDRIVE_SCREENSHOT_TEXT_6</string>
				<key>Starred</key>
				<string>IDS_IOS_WHATS_NEW_CHOOSEFROMDRIVE_SCREENSHOT_TEXT_7</string>
			</dict>
			<key>IconImageName</key>
			<string>arrow.down.to.line.compact</string>
			<key>IconBackgroundColor</key>
			<string>purple</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_CHOOSEFROMDRIVE_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_CHOOSEFROMDRIVE_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_CHOOSEFROMDRIVE_INSTRUCTIONS_STEP_3</string>
			</array>
			<key>PrimaryAction</key>
			<integer>0</integer>
			<key>LearnMoreUrlString</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>30</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_SAVETODRIVE_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_SAVETODRIVE_SUBTITLE</string>
			<key>ImageName</key>
			<string>SaveToDrive</string>
			<key>ImageTexts</key>
			<dict>
				<key>Save in...</key>
				<string>IDS_IOS_WHATS_NEW_SAVETODRIVE_SCREENSHOT_TEXT_1</string>
				<key>Cancel</key>
				<string>IDS_IOS_WHATS_NEW_SAVETODRIVE_SCREENSHOT_TEXT_2</string>
				<key>Files</key>
				<string>IDS_IOS_WHATS_NEW_SAVETODRIVE_SCREENSHOT_TEXT_3</string>
				<key>Save</key>
				<string>IDS_IOS_WHATS_NEW_SAVETODRIVE_SCREENSHOT_TEXT_4</string>
			</dict>
			<key>IconImageName</key>
			<string>checkmark</string>
			<key>IconBackgroundColor</key>
			<string>yellow</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_SAVETODRIVE_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_SAVETODRIVE_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_SAVETODRIVE_INSTRUCTIONS_STEP_3</string>
			</array>
			<key>PrimaryAction</key>
			<integer>0</integer>
			<key>LearnMoreUrlString</key>
			<string></string>
		</dict>
	</array>
	<key>ChromeTips</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>25</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_LENSSEARCHWHATYOUSEE_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_LENSSEARCHWHATYOUSEE_SUBTITLE</string>
			<key>ImageName</key>
			<string>LensSearchWhatYouSee</string>
			<key>ImageTexts</key>
			<dict/>
			<key>IconImageName</key>
			<string>camera_lens</string>
			<key>IconBackgroundColor</key>
			<string></string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<false/>
			<key>IsMulticolorSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_LENSSEARCHWHATYOUSEE_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_LENSSEARCHWHATYOUSEE_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_LENSSEARCHWHATYOUSEE_INSTRUCTIONS_STEP_3</string>
			</array>
			<key>PrimaryAction</key>
			<integer>0</integer>
			<key>LearnMoreUrlString</key>
			<string>https://support.google.com/chrome?p=google_lens_ios</string>
		</dict>
	</array>
</dict>
</plist>
