<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Features</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>22</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_PRICETRACKING_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_PRICETRACKING_SUBTITLE</string>
			<key>ImageName</key>
			<string>PriceTracking</string>
			<key>ImageTexts</key>
			<dict>
				<key>Smart Watch</key>
				<string>IDS_IOS_WHATS_NEW_PRICETRACKING_SCREENSHOT_TEXT_1</string>
				<key>Price $100 - $180</key>
				<string>IDS_IOS_WHATS_NEW_PRICETRACKING_SCREENSHOT_TEXT_2</string>
				<key>Track Price</key>
				<string>IDS_IOS_WHATS_NEW_PRICETRACKING_SCREENSHOT_TEXT_3</string>
			</dict>
			<key>IconImageName</key>
			<string>bookmark.square</string>
			<key>IconBackgroundColor</key>
			<string>yellow</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_PRICETRACKING_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_PRICETRACKING_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_PRICETRACKING_INSTRUCTIONS_STEP_3</string>
			</array>
			<key>PrimaryAction</key>
			<integer>0</integer>
			<key>LearnMoreUrlString</key>
			<string>https://support.google.com/chrome?p=ios_shopping_insights</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>23</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_SUBTITLE</string>
			<key>ImageName</key>
			<string>PriceHistory</string>
			<key>ImageTexts</key>
			<dict>
				<key>Price History</key>
				<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_SCREENSHOT_TEXT_1</string>
				<key>Smart Watch</key>
				<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_SCREENSHOT_TEXT_2</string>
				<key>$120</key>
				<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_SCREENSHOT_TEXT_3</string>
        <key>$100</key>
				<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_SCREENSHOT_TEXT_4</string>
        <key>$150</key>
				<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_SCREENSHOT_TEXT_5</string>
        <key>$200</key>
				<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_SCREENSHOT_TEXT_6</string>
        <key>Dec</key>
				<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_SCREENSHOT_TEXT_7</string>
        <key>Nov</key>
				<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_SCREENSHOT_TEXT_8</string>
        <key>Oct</key>
				<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_SCREENSHOT_TEXT_9</string>
			</dict>
			<key>IconImageName</key>
			<string>chart.line.downtrend.xyaxis</string>
			<key>IconBackgroundColor</key>
			<string>green</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_PRICEHISTORY_INSTRUCTIONS_STEP_3</string>
			</array>
			<key>PrimaryAction</key>
			<integer>0</integer>
			<key>LearnMoreUrlString</key>
			<string>https://support.google.com/chrome?p=ios_shopping_insights</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>24</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_OTHERBUYINGOPTIONS_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_OTHERBUYINGOPTIONS_SUBTITLE</string>
			<key>ImageName</key>
			<string>OtherBuyingOptions</string>
			<key>ImageTexts</key>
			<dict>
				<key>See more buying options</key>
				<string>IDS_IOS_WHATS_NEW_OTHERBUYINGOPTIONS_SCREENSHOT_TEXT_1</string>
				<key>Other stores across the web</key>
				<string>IDS_IOS_WHATS_NEW_OTHERBUYINGOPTIONS_SCREENSHOT_TEXT_2</string>
			</dict>
			<key>IconImageName</key>
			<string>cart</string>
			<key>IconBackgroundColor</key>
			<string>purple</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_OTHERBUYINGOPTIONS_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_OTHERBUYINGOPTIONS_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_OTHERBUYINGOPTIONS_INSTRUCTIONS_STEP_3</string>
			</array>
			<key>PrimaryAction</key>
			<integer>0</integer>
			<key>LearnMoreUrlString</key>
      <string></string>
		</dict>
	</array>
	<key>ChromeTips</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>21</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_DOCKINGBLING_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_DOCKINGBLING_SUBTITLE</string>
			<key>ImageName</key>
			<string>DockingBling</string>
			<key>ImageTexts</key>
			<dict>
				<key>Edit Home Screen</key>
				<string>IDS_IOS_WHATS_NEW_DOCKINGBLING_SCREENSHOT_TEXT_1</string>
			</dict>
			<key>IconImageName</key>
			<string>platter.filled.bottom.iphone</string>
			<key>IconBackgroundColor</key>
			<string>blue</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsMulticolorSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_DOCKINGBLING_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_DOCKINGBLING_INSTRUCTIONS_STEP_2</string>
			</array>
			<key>PrimaryAction</key>
			<integer>0</integer>
			<key>LearnMoreUrlString</key>
			<string></string>
		</dict>
	</array>
</dict>
</plist>
