<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Features</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>31</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_BLINGENTERPRISEPROFILES_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_BLINGENTERPRISEPROFILES_SUBTITLE</string>
			<key>ImageName</key>
			<string>BlingEnterpriseProfiles</string>
			<key>ImageTexts</key>
			<dict>
				<key>Add account...</key>
				<string>IDS_IOS_WHATS_NEW_BLINGENTERPRISEPROFILES_SCREENSHOT_TEXT_1</string>
				<key>Sign out</key>
				<string>IDS_IOS_WHATS_NEW_BLINGENTERPRISEPROFILES_SCREENSHOT_TEXT_2</string>
			</dict>
			<key>IconImageName</key>
			<string>person.2</string>
			<key>IconBackgroundColor</key>
			<string>blue</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_BLINGENTERPRISEPROFILES_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_BLINGENTERPRISEPROFILES_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_BLINGENTERPRISEPROFILES_INSTRUCTIONS_STEP_3</string>
			</array>
			<key>PrimaryAction</key>
			<integer>8</integer>
			<key>LearnMoreUrlString</key>
			<string>https://support.google.com/chrome?p=add_profile_ios</string>
		</dict>
	</array>
	<key>ChromeTips</key>
	<array>
		<dict>
			<key>Type</key>
			<integer>25</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_LENSSEARCHWHATYOUSEE_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_LENSSEARCHWHATYOUSEE_SUBTITLE</string>
			<key>ImageName</key>
			<string>LensSearchWhatYouSee</string>
			<key>ImageTexts</key>
			<dict/>
			<key>IconImageName</key>
			<string>camera_lens</string>
			<key>IconBackgroundColor</key>
			<string></string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<false/>
			<key>IsMulticolorSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_LENSSEARCHWHATYOUSEE_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_LENSSEARCHWHATYOUSEE_INSTRUCTIONS_STEP_2</string>
				<string>IDS_IOS_WHATS_NEW_LENSSEARCHWHATYOUSEE_INSTRUCTIONS_STEP_3</string>
			</array>
			<key>PrimaryAction</key>
			<integer>0</integer>
			<key>LearnMoreUrlString</key>
			<string>https://support.google.com/chrome?p=google_lens_ios</string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>21</integer>
			<key>Title</key>
			<string>IDS_IOS_WHATS_NEW_DOCKINGBLING_TITLE</string>
			<key>Subtitle</key>
			<string>IDS_IOS_WHATS_NEW_DOCKINGBLING_SUBTITLE</string>
			<key>ImageName</key>
			<string>DockingBling</string>
			<key>ImageTexts</key>
			<dict>
				<key>Edit Home Screen</key>
				<string>IDS_IOS_WHATS_NEW_DOCKINGBLING_SCREENSHOT_TEXT_1</string>
			</dict>
			<key>IconImageName</key>
			<string>platter.filled.bottom.iphone</string>
			<key>IconBackgroundColor</key>
			<string>green</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsSystemSymbol</key>
			<true/>
			<key>IsMulticolorSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_WHATS_NEW_DOCKINGBLING_INSTRUCTIONS_STEP_1</string>
				<string>IDS_IOS_WHATS_NEW_DOCKINGBLING_INSTRUCTIONS_STEP_2</string>
			</array>
			<key>PrimaryAction</key>
			<integer>0</integer>
			<key>LearnMoreUrlString</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<integer>4</integer>
			<key>Title</key>
			<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_TITLE_TEXT</string>
			<key>Subtitle</key>
			<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_SUBTITLE_TEXT</string>
			<key>ImageName</key>
			<string>default_browser_animation</string>
			<key>ImageTexts</key>
			<dict>
				<key>IDS_DEFAULT_BROWSER_APP</key>
				<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_DEFAULT_BROWSER_APP</string>
				<key>IDS_DEFAULT_BROWSER_APP_2</key>
				<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_DEFAULT_BROWSER_APP</string>
				<key>IDS_CHROME</key>
				<string>IDS_IOS_SHORT_PRODUCT_NAME</string>
				<key>IDS_CHROME_SETTINGS</key>
				<string>IDS_IOS_DEFAULT_BROWSER_VIDEO_PROMO_APP_SETTINGS</string>
			</dict>
			<key>IconImageName</key>
			<string>multicolor_chromeball</string>
			<key>IsSymbol</key>
			<true/>
			<key>IsMulticolorSymbol</key>
			<true/>
			<key>InstructionSteps</key>
			<array>
				<string>IDS_IOS_FIRST_RUN_DEFAULT_BROWSER_SCREEN_FIRST_STEP</string>
				<string>IDS_IOS_FIRST_RUN_DEFAULT_BROWSER_SCREEN_SECOND_STEP</string>
				<string>IDS_IOS_FIRST_RUN_DEFAULT_BROWSER_SCREEN_THIRD_STEP</string>
			</array>
			<key>PrimaryAction</key>
			<integer>1</integer>
			<key>LearnMoreUrlString</key>
			<string>https://support.google.com/chrome/?p=bling_default_browser</string>
		</dict>
	</array>
</dict>
</plist>
