<?xml version="1.0" encoding="utf-8"?>
  <!-- Copyright (c) 2014 The Chromium Authors. All rights reserved. Use of
       this source code is governed by a BSD-style license that can be found
       in the LICENSE file. -->
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:tools="http://schemas.android.com/tools"
      package="org.chromium.chrome.tests.support">
    <uses-permission android:name="android.permission.INTERNET" />
    <application>
        <service android:name="org.chromium.chrome.browser.media.TestMediaRouteProviderService"
                android:label="testMediaRouteProviderService"
                android:process=":mrp"
                tools:ignore="ExportedService" >
            <intent-filter>
                <action android:name="android.media.MediaRouteProviderService" />
            </intent-filter>
        </service>

        <activity android:name="org.chromium.chrome.browser.browserservices.ActivityWithDeepLink">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="https"
                      android:host="www.example.com"
                      android:pathPrefix="/notifications"/>
            </intent-filter>
        </activity>

        <service android:name="org.chromium.chrome.browser.browserservices.TestTrustedWebActivityService"
                android:exported="true">
            <intent-filter>
                <action android:name="android.support.customtabs.trusted.TRUSTED_WEB_ACTIVITY_SERVICE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>
        <service android:name="org.chromium.chrome.browser.browserservices.MessengerService"
                android:exported="true"/>
    </application>
</manifest>
