/* Copyright 2018 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

th, td {
  padding: 5px 16px;
}

tbody td, tfoot td {
  font-size: 14px;
}

thead th {
  font-size: 16px;
}

thead th, tfoot td {
  background-color: #f5f5f5;
  border-left: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  color: #484848;
  text-transform: uppercase;
}

tbody tr:hover td, tfoot tr:hover td {
  background-color: #f5f5f5;
  border-color: #e4e4e4 !important;
}