<?xml version="1.0" encoding="utf-8"?>
  <!-- Copyright 2013 The Chromium Authors. All rights reserved.
       Use of this source code is governed by a BSD-style license that can be
       found in the LICENSE file.
  -->

  <!-- package name must be unique so suffix with "tests" so package loader
       doesn't ignore this. -->
  <manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="{{ APK_PACKAGE_NAME }}.tests">
    <!-- We add an application tag here just so that we can indicate that this
         package needs to link against the android.test library, which is
         needed when building test cases. -->
    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <application>
        <uses-library android:name="android.test.runner" />
    </application>
    <instrumentation android:name="org.chromium.base.test.BaseChromiumAndroidJUnitRunner"
        android:targetPackage="{{ APK_PACKAGE_NAME }}"
        android:label="Tests for {{ APK_PACKAGE_NAME }}"/>
</manifest>
