/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=./shared_style.css.js
 * #include=shared-style
 * #css_wrapper_metadata_end */

:host {
  display: block;
  overflow: auto;
}

#sync-promo-illustration {
  background: url(images/sign_in_promo.svg) no-repeat center center;
  background-size: contain;
  height: 222px;
  margin-top: 100px;
  width: 594.5px;
}

.sync-history-illustration {
  content: url(images/sync_history_promo.svg);
  width: 100%;
}

.sync-history-promo-avatar-illustration {
  content: url(./images/avatar_surrounding_illustration_light.svg);
  height: 132px;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  #sync-promo-illustration {
    background-image: url(images/sign_in_promo_dark.svg);
  }

  .sync-history-illustration  {
    content: url(images/sync_history_promo_dark.svg);
  }

  .sync-history-promo-avatar-illustration  {
    content: url(images/avatar_surrounding_illustration_dark.svg);
  }
}

#no-synced-tabs {
  height: 100%;
}

#sign-in-guide {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  text-align: center;
}

#turn-on-sync-promo {
  font-size: 215%;
  margin-top: 40px;
}

#turn-on-sync-promo-desc {
  color: var(--cr-secondary-text-color);
  font-size: 123%;
  margin-top: 10px;
}

#turn-on-sync-button {
  margin: 24px 0;
}

#synced-device-list {
  padding-top: var(--first-card-padding-top);
}

history-synced-device-card {
  margin-block-end: var(--card-padding-between);
}

<if expr="not is_chromeos">
.history-sync-optin {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.sync-history-promo {
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
}

.sync-history-promo-desc {
  margin-top: 8px;
  max-width: 684px;
  color: var(--cr-secondary-text-color);
  text-align: center;
  font-size: 16px;
}

.avatar {
  /** The user avatar may be transparent, add a background */
  background-color: var(--md-background-color);
  border: solid var(--md-background-color);
  border-radius: 50%;
  height: 64px;
  /* To place the avatar at the center of the background image,
     place it at top left point of its parent,
     then shift it back by half its width and height. */
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
}

.image-container {
  align-items: center;
  display: flex;
  /* The height must be set so that the height of this relatively positioned
  container is taken into account in the height calculator of the entire screen. */
  height: 162px;
  /* Establishes a positioning context for absolute children. */
  position: relative;
  margin-top: 36px;
}

.profile-row {
  text-align: left;
  align-items: center;
  display: flex;
  margin-top: 16px;
}

.account-info-container {
  padding-inline-start: 16px;
}

.profile-icon {
  border-radius: 20px;
  height: 40px;
  width: 40px;
}

.account-name {
  font-size: 13px;
}

.account-email {
  color: var(--cr-primary-text-color);
  font-size: 12px;
  font-weight: 400;
}

.action-button {
  margin: 16px 0;
}
</if>
