<!--
 * Copyright 2023 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
-->

<manifest
      xmlns:android="http://schemas.android.com/apk/res/android"
      xmlns:tools="http://schemas.android.com/tools"
      package="org.chromium.webview_ui_test.test">

    <uses-permission android:name="android.permission.RUN_INSTRUMENTATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            tools:node="remove"/>
        <provider
            xmlns:tools="http://schemas.android.com/tools"
            android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
            android:exported="false"
            tools:node="remove"/>
        <service
            android:name="org.chromium.webview_ui_test.test.TestAutofillService"
            android:label="Static AutofillService"
            android:permission="android.permission.BIND_AUTOFILL_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.service.autofill.AutofillService" />
            </intent-filter>
        </service>
    </application>

    <instrumentation android:name="org.chromium.base.test.BaseChromiumAndroidJUnitRunner"
        android:targetPackage="org.chromium.webview_ui_test"
        android:label="Tests for org.chromium.webview_ui_test"/>
</manifest>
