<?xml version="1.0" encoding="utf-8"?>

<!-- Copyright 2019 The Chromium Authors. All rights reserved.

     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file.
 -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.chromium.weblayer.shell">

    <application android:label="WebLayer shell"
        android:supportsRtl="true">
        <activity android:name="WebLayerShellActivity"
                  android:launchMode="singleTask"
                  android:theme="@style/ShellTheme"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="InstrumentationActivity"
                  android:theme="@style/Theme.AppCompat.DayNight"
                  android:windowSoftInputMode="adjustResize"
                  android:exported="true">
            <!-- Add these intent filters so tests can resolve these intents. -->
            <intent-filter>
                <action android:name="android.provider.MediaStore.RECORD_SOUND" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.media.action.IMAGE_CAPTURE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="TelemetryActivity"
                  android:theme="@android:style/Theme.Holo.Light.NoActionBar">
        </activity>
        <activity android:name="org.chromium.weblayer.test.ExternalNavigationTest$DummyActivityForSpecialScheme"
                  android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="weblayertest" android:scheme="weblayer" />
            </intent-filter>
        </activity>

        <activity android:name="org.chromium.weblayer.test.ExternalNavigationTest$DummyActivity"
                  android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="data" />
                <data android:host="externalnavtest" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name="org.chromium.weblayer.test.ExternalNavigationTest$SecondDummyActivity"
                  android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="data" />
                <data android:host="externalnavtest" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>

      <!-- Enable ADB logging of js logs (console.log). This is disabled by default because some
           websites log PII. -->
      <meta-data
          android:name="org.chromium.weblayer.ENABLE_LOGGING_OF_JS_CONSOLE_MESSAGES" android:value="true"/>

      <!-- Disables at startup init of Emoji2. See http://crbug.com/1205141 -->
      <provider
          android:authorities="org.chromium.weblayer.shell.androidx-startup"
          android:name="androidx.startup.InitializationProvider"
          android:exported="false"
          tools:node="remove">
      </provider>

      <!-- AR (Augmented Reality) support. -->
      <meta-data android:name="com.google.ar.core" android:value="optional" />
      <!-- This needs to be in the application's manifest because arcore looks for it
           there. Chrome achieves this by including com_google_ar_core_java, merging
           the arcore manifest which contains this value, however it's added manually
           here to avoid pulling that library into the WebLayer client. The value used
           here is not very important because WebLayer manually checks the apk version
           is sufficient in ArCoreVersionUtils. -->
      <meta-data android:name="com.google.ar.core.min_apk_version"
                 android:value="1" />

      {% if weblayer_package is defined %}
            <meta-data android:name="org.chromium.weblayer.WebLayerPackage"
                       android:value="{{ weblayer_package }}"/>
        {% endif %}
    </application>
</manifest>
