// Copyright 2019 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include "chrome/updater/win/ui/resources/resources_en.rc"

// Language-neutral resources.

TYPELIB_UPDATER_IDL_USER              TYPELIB "chrome/updater/app/server/win/updater_idl_user.tlb"
TYPELIB_UPDATER_INTERNAL_IDL_USER     TYPELIB "chrome/updater/app/server/win/updater_internal_idl_user.tlb"
TYPELIB_UPDATER_LEGACY_IDL_USER       TYPELIB "chrome/updater/app/server/win/updater_legacy_idl_user.tlb"
TYPELIB_UPDATER_IDL_SYSTEM            TYPELIB "chrome/updater/app/server/win/updater_idl_system.tlb"
TYPELIB_UPDATER_INTERNAL_IDL_SYSTEM   TYPELIB "chrome/updater/app/server/win/updater_internal_idl_system.tlb"
TYPELIB_UPDATER_LEGACY_IDL_SYSTEM     TYPELIB "chrome/updater/app/server/win/updater_legacy_idl_system.tlb"

