// Copyright 2019 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

#include "chrome/updater/win/ui/resources/resources_en.rc"

// Language-neutral resources.

1 TYPELIB "chrome/updater/app/server/win/updater_idl.tlb"
2 TYPELIB "chrome/updater/app/server/win/updater_internal_idl.tlb"
3 TYPELIB "chrome/updater/app/server/win/updater_legacy_idl.tlb"

