<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2020 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<!-- This manifest is required for tests using
     androidx.test.core.app.ActivityScenario to work.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.test.ui">

  <!-- Value used by ActivityAndroidPermissionDelegateTest -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application android:theme="@style/Theme.AppCompat.Light">
    <activity android:name="org.chromium.ui.base.TestActivity"/>
  </application>
</manifest>
