<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.compuserve.gif</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.html</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.xhtml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.netscape.javascript-source</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.jpeg</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.ietf.mhtml</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.xiph.ogg-audio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.xiph.ogv</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.png</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.svg-image</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.webmproject.webm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.webmproject.webp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.chromium.extension</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>org.chromium.shortcut</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>${CHROMIUM_BUNDLE_ID}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${CHROMIUM_SHORT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>${CHROMIUM_CREATOR}</string>
	<key>NSAppleScriptEnabled</key>
	<true/>
	<key>OSAScriptingDefinition</key>
	<string>scripting.sdef</string>
	<key>ASWebAuthenticationSessionWebBrowserSupportCapabilities</key>
	<dict>
		<key>IsSupported</key>
		<true/>
		<key>EphemeralBrowserSessionIsSupported</key>
		<true/>
	</dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Web site URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>http</string>
				<string>https</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>Local file URL</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>file</string>
			</array>
		</dict>
	</array>
	<key>LSEnvironment</key>
	<dict>
		<key>MallocNanoZone</key>
		<string>0</string>
	</dict>
	<key>LSFileQuarantineEnabled</key>
	<true/>
	<key>LSHasLocalizedDisplayName</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>${CHROMIUM_MIN_SYSTEM_VERSION}</string>
	<key>LSRequiresNativeExecution</key>
	<true/>
	<key>NSCameraReactionEffectGesturesEnabledDefault</key>
	<false/>
	<key>NSPrincipalClass</key>
	<string>BrowserCrApplication</string>
	<key>NSSupportsAutomaticGraphicsSwitching</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>NSUserActivityTypeBrowsingWeb</string>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Chromium Extension</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>EXTENSION</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.chromium.extension</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>crx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-chrome-extension</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.web-internet-location</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Chromium Shortcut</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>SHORTCUT</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.chromium.shortcut</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>crwebloc</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-chrome-shortcut</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.image</string>
			<key>UTTypeDescription</key>
			<string>GIF image</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>GIF</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.compuserve.gif</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>GIFf</string>
				<key>public.filename-extension</key>
				<string>gif</string>
				<key>public.mime-type</key>
				<string>image/gif</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.text</string>
			<key>UTTypeDescription</key>
			<string>HTML text</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>HTML</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.html</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<string>Apple HTML pasteboard type</string>
				<key>com.apple.ostype</key>
				<string>HTML</string>
				<key>public.filename-extension</key>
				<array>
					<string>html</string>
					<string>htm</string>
					<string>shtml</string>
					<string>shtm</string>
				</array>
				<key>public.mime-type</key>
				<string>text/html</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.xml</string>
			<key>UTTypeDescription</key>
			<string>XHTML</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>XHTML</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.xhtml</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>xhtml</string>
					<string>xhtm</string>
					<string>xht</string>
				</array>
				<key>public.mime-type</key>
				<string>application/xhtml+xml</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.script</string>
				<string>public.executable</string>
			</array>
			<key>UTTypeDescription</key>
			<string>JavaScript</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>JAVASCRIPT</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.netscape.javascript-source</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>js</string>
					<string>jscript</string>
					<string>javascript</string>
					<string>mjs</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>text/javascript</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.image</string>
			<key>UTTypeDescription</key>
			<string>JPEG image</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>JPEG</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.jpeg</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>JPEG</string>
				<key>public.filename-extension</key>
				<array>
					<string>jpeg</string>
					<string>jpg</string>
					<string>jpe</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/jpeg</string>
					<string>image/jpg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MIME HTML document</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>MHTML</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.ietf.mhtml</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.ietf.org/rfc/rfc2557</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>MHTM</string>
				<key>public.filename-extension</key>
				<array>
					<string>mht</string>
					<string>mhtml</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>multipart/related</string>
					<string>application/x-mimearchive</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.audio</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg audio</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>OGG</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.ogg-audio</string>
			<key>UTTypeReferenceURL</key>
			<string>https://xiph.org/ogg/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogg</string>
					<string>oga</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>audio/ogg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.movie</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Ogg video</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>OGV</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.xiph.ogv</string>
			<key>UTTypeReferenceURL</key>
			<string>https://xiph.org/ogg/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ogm</string>
					<string>ogv</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>video/ogg</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.image</string>
			<key>UTTypeDescription</key>
			<string>PNG image</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>PNG</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.png</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<string>Apple PNG pasteboard type</string>
				<key>com.apple.ostype</key>
				<string>PNGf</string>
				<key>public.filename-extension</key>
				<string>png</string>
				<key>public.mime-type</key>
				<string>image/png</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.xml</string>
			</array>
			<key>UTTypeDescription</key>
			<string>SVG image</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>SVG</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.svg-image</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<array>
					<string>svg </string>
					<string>svgz</string>
				</array>
				<key>public.filename-extension</key>
				<array>
					<string>svg</string>
					<string>svgz</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>image/svg+xml</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>text</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>TEXT</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.text</string>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.movie</string>
			<key>UTTypeDescription</key>
			<string>WebM media</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>WEBM</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.webmproject.webm</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.webmproject.org/docs/container/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>webm</string>
				<key>public.mime-type</key>
				<array>
					<string>video/webm</string>
					<string>audio/webm</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<string>public.image</string>
			<key>UTTypeDescription</key>
			<string>WebP image</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>WEBP</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>org.webmproject.webp</string>
			<key>UTTypeReferenceURL</key>
			<string>https://developers.google.com/speed/webp</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<string>webp</string>
				<key>public.mime-type</key>
				<string>image/webp</string>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PDF document</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBadgeName</key>
				<string>Icon</string>
				<key>UTTypeIconText</key>
				<string>PDF</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.nspboard-type</key>
				<string>Apple PDF pasteboard type</string>
				<key>com.apple.ostype</key>
				<string>PDF </string>
				<key>public.filename-extension</key>
				<string>pdf</string>
				<key>public.mime-type</key>
				<string>application/pdf</string>
			</dict>
		</dict>
	</array>
	<key>NSUserNotificationAlertStyle</key>
	<string>banner</string>
	<key>GPUEjectPolicy</key>
	<string>wait</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSBonjourServices</key>
	<array>
		<string>_googlecast._tcp</string>
	</array>
</dict>
</plist>
