<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>headers</key>
	<array>
		<string>ios/share_extension/grit/ios_share_extension_strings.h</string>
	</array>
	<key>outputs</key>
	<array>
		<dict>
			<key>name</key>
			<string>Localizable.strings</string>
			<key>strings</key>
			<array>
				<string>IDS_IOS_ADD_READING_LIST_SHARE_EXTENSION</string>
				<string>IDS_IOS_ADD_BOOKMARKS_SHARE_EXTENSION</string>
				<string>IDS_IOS_OPEN_IN_CHROME_SHARE_EXTENSION</string>
				<string>IDS_IOS_ADDED_ITEM_SHARE_EXTENSION</string>
				<string>IDS_IOS_ERROR_MESSAGE_SHARE_EXTENSION</string>
				<string>IDS_IOS_OK_BUTTON_SHARE_EXTENSION</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
