/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
//  background-color: #aaaaaa;
}

div#container {
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  position: absolute;
  display: table;
  background-color: #ffffff;
  font-size: 25px;
  font-family: Verdana, Geneva, sans-serif;
}

div#inner {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 50%;
}

form input {
  height: 50px;
  font-size: 35px;
}

form input#url {
  padding: 4px;
  width: 500px;
  text-align: left;
  margin-right: .5em;
}

form input#url_submit {
  width: 200px;
  background: #CCCCCC;
  cursor: pointer;
}

div#learn_more {
  padding-top: 2em;
  font-size: 18px;
  font-style: italic;
}
