<scan-settings-section>
  <span id="fileTypeLabel" slot="label">[[i18n('fileTypeDropdownLabel')]]</span>
  <div slot="settings">
    <!-- TODO(jschettler): Verify this meets a11y expecations (e.g. ChromeVox
        should announce when a new option is focused). -->
    <select class="md-select" value="{{selectedFileType::change}}"
        disabled="[[settingsDisabled]]">
      <!-- The option values must match the chromeos.scanning.mojom.FileType
          values they correspond to. -->
      <option value="0">[[i18n('jpgOptionText')]]</option>
      <option value="1" selected>[[i18n('pdfOptionText')]]</option>
      <option value="2">[[i18n('pngOptionText')]]</option>
    </select>
  </div>
</scan-settings-section>
