<style include="scanning-shared"></style>
<scan-settings-section>
  <span id="pageSizeLabel" slot="label" aria-hidden="true">
    [[i18n('pageSizeDropdownLabel')]]
  </span>
  <div slot="settings">
    <select id="pageSizeSelect" class="md-select"
        value="{{selectedPageSize::change}}" disabled="[[disabled]]"
        aria-labelledby="pageSizeLabel">
      <template is="dom-repeat" items="[[pageSizes]]" as="pageSize">
        <option value="[[pageSize]]"
            selected$="[[isDefaultPageSize_(pageSize)]]">
          [[getPageSizeString_(pageSize)]]
        </option>
      </template>
    </select>
  </div>
</scan-settings-section>
