<style include="scanning-shared"></style>
<scan-settings-section>
  <span id="pageSizeLabel" slot="label">[[i18n('pageSizeDropdownLabel')]]</span>
  <div slot="settings">
    <!-- TODO(jschettler): Verify this meets a11y expecations (e.g. ChromeVox
        should announce when a new option is focused). -->
    <select class="md-select" value="{{selectedPageSize::change}}"
        disabled="[[disabled]]">
      <!-- TODO(jschettler): Sort the page sizes. -->
      <template is="dom-repeat" items="[[pageSizes]]" as="pageSize">
        <option value="[[pageSize]]"
            selected$="[[isDefaultPageSize_(pageSize)]]">
          [[getPageSizeString_(pageSize)]]
        </option>
      </template>
    </select>
  </div>
</scan-settings-section>
