<style include="scanning-shared"></style>
<scan-settings-section>
  <span id="resolutionLabel" slot="label" aria-hidden="true">
    [[i18n('resolutionDropdownLabel')]]
  </span>
  <div slot="settings">
    <select id="resolutionSelect" class="md-select"
        value="{{selectedResolution::change}}" disabled="[[disabled]]"
        aria-labelledby="resolutionLabel">
      <template is="dom-repeat" items="[[resolutions]]" as="resolution">
        <option value="[[resolution]]"
            selected$="[[isDefaultResolution_(resolution)]]">
          [[getResolutionString_(resolution)]]
        </option>
      </template>
    </select>
  </div>
</scan-settings-section>
