<style include="scanning-shared"></style>
<scan-settings-section>
  <span id="resolutionLabel" slot="label">[[i18n('resolutionDropdownLabel')]]</span>
  <div slot="settings">
    <!-- TODO(jschettler): Verify this meets a11y expecations (e.g. ChromeVox
        should announce when a new option is focused). -->
    <select class="md-select" value="{{selectedResolution::change}}"
        disabled="[[disabled]]">
      <!-- TODO(jschettler): Sort the resolutions. -->
      <template is="dom-repeat" items="[[resolutions]]" as="resolution">
        <option value="[[resolution]]"
            selected$="[[isDefaultResolution_(resolution)]]">
          [[getResolutionString_(resolution)]]
        </option>
      </template>
    </select>
  </div>
</scan-settings-section>
