<style include="scanning-shared scanning-fonts">
  /* Styles part of the string returned by getHelperTextHtml_(). */
  #boldHelperText {
    font-weight: bold;
  }

  #helperText {
    @apply --scanning-helper-text-font;
    color: var(--scanning-helper-text-color);
    margin: auto;
    text-align: center;
    width: 60%;
  }

  #progressText {
    @apply --scanning-progress-text-font;
    color: var(--scanning-progress-text-color);
  }

  #scanProgress {
    margin: auto;
    text-align: center;
    width: 60%;
  }

  .preview {
    border: 1px solid var(--google-grey-200);
    border-radius: 4px;
    display: flex;
    /* TODO(michaelcheco): Replace with correct height for
     * preview container. */
    height: 420px;
    overflow-y: scroll;
  }

  /* TODO(jschettler): Check with UX about adding a border around each image. */
  .scanned-image {
    border-radius: 4px;
    width: 100%;
  }

  /* Add top margin to all but the first scanned image. */
  .scanned-image:nth-of-type(n+2) {
    margin-top: 8px;
  }

  paper-progress {
    --paper-progress-active-color: var(--google-blue-600);
    --paper-progress-container-color: var(--google-blue-200);
    border-radius: 4px;
    height: 4px;
    margin-top: 12px;
    width: 256px;
  }
</style>
<div class="preview">
  <div id="helperText" hidden$="[[shouldHideHelperText_(appState)]]">
    <span inner-h-t-m-l="[[getHelperTextHtml_()]]"></span>
  </div>
  <div id="scanProgress" hidden$="[[shouldHideProgress_(appState)]]">
    <span id="progressText">[[getProgressTextString_(pageNumber)]]</span>
    <paper-progress value="[[progressPercent]]"></paper-progress>
  </div>
  <div id="scannedImages" hidden$="[[!shouldShowScannedImages_(appState)]]">
    <template is="dom-repeat" items="[[objectUrls]]" as="url">
      <img class="scanned-image" src="[[url]]">
    </template>
  </div>
</div>
