<style include="scanning-fonts">
  .container {
    @apply --scanning-done-page-option-font;
    color: var(--scanning-done-page-option-text-color);
    display: flex;
  }

  #checkMarkIcon {
    margin-inline-end: 12px;
    min-width: 24px;
    padding-bottom: 2px;
  }

  .done-button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 32px;
    width: 264px;
  }

  #title {
    @apply --scanning-done-section-title-font;
    color: var(--scanning-done-section-title-text-color);
    display: inline-block;
  }

  .button,
  .label {
    flex-direction: column;
    min-height: 32px;
  }

  .label {
    flex-basis: 222px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-top: 5px;
    padding-top: 8px;
  }
</style>
<iron-icon id="checkMarkIcon" icon="scanning:check-mark"></iron-icon>
<h1 id="title" role="alert">
  [[getTitleText_(pageNumber)]]
</h1>
<div class="container">
  <span id="showFileLocationLabel" class="label" aria-hidden="true">
    [[i18n('showFileLocationLabel')]]
  </span>
  <cr-icon-button id="showFileButton" class="button" iron-icon="cr:open-in-new"
      on-click="showFileInLocation_" aria-labelledby="showFileLocationLabel">
  </cr-icon-button>
</div>
<div class="done-button-container">
  <cr-button id="doneButton" class="action-button"
      on-click="onDoneClick_">
    [[i18n('doneButtonText')]]
  </cr-button>
</div>
