<style include="cr-shared-style scanning-shared scanning-fonts">
  .title {
    @apply --scanning-section-title-font;
    color: var(--scanning-section-title-text-color);
  }

  #checkMarkIcon {
    margin-inline-end: 12px;
    min-width: 24px;
    padding-bottom: 2px;
  }

  #fileSaved {
    display: inline-block;
  }

  #moreSettingsButton {
    --ink-color: var(--menu-text-color);
    --paper-ripple-opacity: 0;
    align-items: center;
    background: none;
    border: none;
    border-radius: initial;
    box-shadow: none;
    color: var(--menu-text-color);
    display: flex;
    font-weight: unset;
    height: unset;
    margin: 18px 0px;
    padding-inline: 0;
    text-transform: none;
    width: 289px;
  }

  #moreSettingsButton:focus {
    outline: none;
  }

  #moreSettingsButton > iron-icon {
    color: var(--scanning-chevron-icon-color);
    font-size: var(--scanning-chevron-icon-font-size);
  }

  #moreSettingsButton > span {
    flex: 1;
  }

  #more-settings-line-separator {
    border-bottom: var(--cr-separator-line);
    margin-bottom: 8px;
    margin-top: 16px;
    width: 289px;
  }

  #scanningContainer {
    box-sizing: border-box;
    display: block;
    margin: 0 auto;
    min-height: 480px;
    min-width: 600px;
    position: relative;
    width: var(--container-width);
  }

  .left-panel {
    padding-inline-end: var(--left-panel-padding-end);
    padding-inline-start: var(--left-panel-padding-start);
    width: var(--left-panel-width);
  }

  .panel-container {
    display: flex;
    margin-bottom: var(--panel-container-margin-bottom);
    margin-top: var(--panel-container-margin-top);
  }

  .right-panel {
    padding-inline-end: var(--right-panel-padding-end);
    padding-inline-start: var(--right-panel-padding-start);
    width: var(--right-panel-width);
  }

  .scan-button-container {
    display: flex;
    justify-content: flex-end;
    width: 289px;
  }

  .done-button-container {
    display: flex;
    justify-content: flex-end;
    width: 280px;
  }
</style>
<div id="scanningContainer">
  <div class="panel-container">
    <div class="left-panel">
      <scan-preview id="scanPreview" app-state="[[appState_]]"
          page-number="[[pageNumber_]]"
          progress-percent="[[progressPercent_]]"></scan-preview>
    </div>
    <div class="right-panel">
      <template is="dom-if" if="[[!shouldShowDonePage_(appState_)]]">
        <h1 id="appTitle">[[i18n('appTitle')]]</h1>
        <scanner-select id="scannerSelect" scanners="[[scanners_]]"
            loaded="[[areScannersLoaded_(appState_)]]"
            settings-disabled="[[areSettingsDisabled_(appState_)]]"
            selected-scanner-id="{{selectedScannerId}}"></scanner-select>
        <source-select id="sourceSelect" sources="[[capabilities_.sources]]"
            settings-disabled="[[areSettingsDisabled_(appState_)]]"
            selected-source="{{selectedSource}}"></source-select>
        <scan-to-select id="scanToSelect"
            settings-disabled="[[areSettingsDisabled_(appState_)]]"
            selected-file-path="{{selectedFilePath}}">
        </scan-to-select>
        <file-type-select id="fileTypeSelect"
            settings-disabled="[[areSettingsDisabled_(appState_)]]"
            selected-file-type="{{selectedFileType}}"></file-type-select>
        <div id="more-settings-line-separator"></div>
        <cr-button id="moreSettingsButton" on-click="toggleClicked_"
            aria-expanded$="[[opened]]"
            disabled="[[areSettingsDisabled_(appState_)]]">
          <span>[[i18n('moreSettings')]]</span>
          <iron-icon icon="[[getArrowIcon_(opened)]]">
          </iron-icon>
        </cr-button>
        <iron-collapse id="collapse" opened="{{opened}}">
          <color-mode-select id="colorModeSelect"
              color-modes="[[capabilities_.colorModes]]"
              settings-disabled="[[areSettingsDisabled_(appState_)]]"
              selected-color-mode="{{selectedColorMode}}">
          </color-mode-select>
          <page-size-select id="pageSizeSelect"
              page-sizes="[[selectedSourcePageSizes_]]"
              settings-disabled="[[areSettingsDisabled_(appState_)]]"
              selected-page-size="{{selectedPageSize}}">
          </page-size-select>
          <resolution-select id="resolutionSelect"
              resolutions="[[capabilities_.resolutions]]"
              settings-disabled="[[areSettingsDisabled_(appState_)]]"
              selected-resolution="{{selectedResolution}}">
          </resolution-select>
        </iron-collapse>
        <div class="scan-button-container">
          <cr-button id="scanButton" class="action-button" on-click="onScanClick_"
              disabled$="[[areSettingsDisabled_(appState_)]]">
            [[i18n('scanButtonText')]]
          </cr-button>
        </div>
        <p id="statusText">[[statusText_]]</p>
      </template>
      <template is="dom-if" if="[[shouldShowDonePage_(appState_)]]">
        <iron-icon id="checkMarkIcon" icon="scanning:check-mark"></iron-icon>
        <h1 id="fileSaved" class="title">
          [[getFileSavedText_(pageNumber_)]]
        </h1>
        <div class="done-button-container">
          <cr-button id="doneButton" class="action-button"
              on-click="onDoneClick_">
            [[i18n('doneButtonText')]]
          </cr-button>
        </div>
      </template>
    </div>
  </div>
</div>
