<style include="scanning-fonts">
  #titleContainer {
    align-items: center;
    display: flex;
    margin-bottom: 24px;
    margin-inline-start: 32px;
    margin-top: 0;
  }

  .container {
    @apply --scanning-done-section-option-font;
    align-items: center;
    color: var(--scanning-done-section-option-text-color);
    display: flex;
    height: 36px;
    margin-bottom: 8px;
    margin-inline-end: 32px;
    margin-inline-start: 32px;
    margin-top: 0;
    padding-inline-end: 16px;
    width: 272px;
  }

  #checkMarkIcon {
    height: 20px;
    margin-inline-end: 12px;
    width: 20px;
  }

  .done-button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0;
    margin-inline-end: 32px;
    margin-inline-start: 32px;
    margin-top: 32px;
    padding-inline-end: 16px;
    width: 272px;
  }

  #title {
    @apply --scanning-done-section-title-font;
    color: var(--scanning-done-section-title-text-color);
    flex-direction: column;
    margin: 0;
  }

  .button {
    flex-direction: column;
    height: 20px;
    margin: 0;
    width: 20px;
  }

  .label {
    flex-basis: 252px;
    flex-grow: 0;
    flex-shrink: 0;
  }
</style>
<div id="titleContainer">
  <iron-icon id="checkMarkIcon" icon="scanning:check-mark"></iron-icon>
  <h1 id="title">
    [[titleText_]]
  </h1>
</div>
<div class="container">
  <span id="showFileLocationLabel" class="label" aria-hidden="true">
    [[i18n('showFileLocationLabel')]]
  </span>
  <cr-icon-button id="showFileButton" class="button" iron-icon="cr:open-in-new"
      on-click="showFileInLocation_" aria-labelledby="showFileLocationLabel">
  </cr-icon-button>
</div>
<div class="done-button-container">
  <cr-button id="doneButton" class="action-button"
      on-click="onDoneClick_">
    [[i18n('doneButtonText')]]
  </cr-button>
</div>
