<!-- TODO(jschettler): Update styling to match the spec. -->
<style include="scanning-shared scanning-fonts">
  :host {
    align-items: center;
    display: flex;
    height: 48px;
    margin-bottom: 8px;
    margin-inline-end: 40px;
    margin-inline-start: 32px;
    margin-top: 0;
  }

  ::slotted([slot=label]),
  ::slotted([slot=settings]) {
    @apply --scanning-select-font;
    color: var(--scanning-select-text-color);
    display: flex;
    flex-direction: column;
  }

  ::slotted([slot=label]) {
    flex: none;
    flex-basis: 68px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-inline-end: 20px;
  }

  ::slotted([slot=settings]) {
    flex: 1;
    flex-grow: 0;
    flex-shrink: 0;
    width: 192px;
  }
</style>
<slot name="label"></slot>
<slot name="settings"></slot>
