<link rel="stylesheet"
    href="chrome://resources/chromeos/colors/cros_colors.generated.css">
<link rel="stylesheet" href="chrome://resources/css/text_defaults_md.css">
<link rel="stylesheet" href="chrome://resources/css/md_colors.css">
<link rel="stylesheet" href="chrome://resources/cr_elements/md_select_css.html">

<template>
  <style include="cr-shared-style md-select">
    html {
      background-color: var(--cros-bg-color);
    }

    /* TODO(michaelcheco): Update once responsiveness spec is finalized. */
    @media (min-width:600px) and (max-width: 767px) {
      :host {
        --container-width: 767px;
        --left-panel-padding-end: 32px;
        --left-panel-padding-start: 32px;
        --left-panel-width: 288px;
        --panel-container-margin-bottom: 20px;
        --panel-container-margin-top: 20px;
        --right-panel-padding-end: 32px;
        --right-panel-padding-start: 0px;
        --right-panel-width: 384px;
      }
    }

    @media (min-width:768px) and (max-width: 1279px) {
      :host {
        --container-width: 960px;
        --left-panel-padding-end: 48px;
        --left-panel-padding-start: 48px;
        --left-panel-width: 384px;
        --panel-container-margin-bottom: 32px;
        --panel-container-margin-top: 20px;
        --right-panel-padding-end: 48px;
        --right-panel-padding-start: 48px;
        --right-panel-width: 384px;
      }
    }

    @media (min-width:1280px) {
      :host {
        --container-width: 1280px;
        --left-panel-padding-end: 60px;
        --left-panel-padding-start: 164px;
        --left-panel-width: 416px;
        --panel-container-margin-bottom: 64px;
        --panel-container-margin-top: 64px;
        --right-panel-padding-end: 164px;
        --right-panel-padding-start: 60px;
        --right-panel-width: 416px;
      }
    }
  </style>
</template>
