<style include="scanning-shared"></style>
<scan-settings-section>
  <span id="scanToLabel" slot="label">[[i18n('scanToDropdownLabel')]]</span>
  <div slot="settings">
    <!-- TODO(jschettler): Verify this meets a11y expecations (e.g. ChromeVox
        should announce when a new option is focused). -->
    <select id="scanToSelect" class="md-select" disabled="[[disabled]]" on-change="onSelectFolder_">
      <option selected>
        [[displayText_]]
      </option>
      <option>
        [[i18n('selectFolderOption')]]
      </option>
    </select>
  </div>
</scan-settings-section>
