<style include="scanning-shared"></style>
<scan-settings-section>
  <span id="sourceLabel" slot="label">[[i18n('sourceDropdownLabel')]]</span>
  <div slot="settings">
    <!-- TODO(jschettler): Verify this meets a11y expecations (e.g. ChromeVox
        should announce when a new option is focused). -->
    <select class="md-select" value="{{selectedSource::change}}"
        disabled="[[disabled]]">
      <template is="dom-if" if="[[!sources.length]]" restamp>
        <option value="">
          [[i18n('defaultSourceOptionText')]]
        </option>
      </template>
      <template is="dom-repeat" items="[[sources]]" as="source">
        <option value="[[source.name]]"
            selected$='[[isDefaultSource_(source.type)]]'>
          [[getSourceTypeString_(source.type)]]
        </option>
      </template>
    </select>
  </div>
</scan-settings-section>
