/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  height: 100%;
  width: 100%;
}

#errorBottomLine {
  color: #70757A;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin: 8px auto 16px;
  text-align: center;
  width: 250px;
}

#errorIcon {
  height: 48px;
  margin: 156px auto 0px;
  width: 40px;
}

:host([is-protected-error]) #errorIcon {
  height: 58px;
  margin: 152px auto 0px;
  width: 58px;
}

#errorPage {
  background-color: var(--search-background-color);
  height: 100%;
  inset: 0;
  position: absolute;
  width: 100%;
}

#errorTopLine {
  color: #202124;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-top: 44px;
  text-align: center;
}

:host([dark-mode]) #errorBottomLine {
  color: #9AA0A6;
}

:host([dark-mode]) #errorTopLine {
  color: #E8EAED;
}

#protectedIcon {
  background-color: #535353;
  display: inline-block;
  height: 58px;
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: 100%;
  min-width: 20px;
  mask-image: url('../encrypted.svg');
  width: 58px;
}

:host([dark-mode]) #protectedIcon {
  background-color: #E8EAED;
}

:host([is-protected-error]) #genericIcon,
:host(:not([is-protected-error])) #protectedIcon {
  display: none;
}

