/**
 * Copyright 2012 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 **/

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  margin: 8px;
}

.bottom {
  background: LightSteelBlue;
  height: 1em;
}

.browser {
  background: SteelBlue;
  font-size: 80%;
  font-weight: normal;
  text-shadow: rgba(0, 0, 0, 0.5) 2px 2px 1px;
  padding: 0.5em 0 0.5em 1.25em;
}

.details {
  color: black;
}

.failure, .failure .success {
  background: LightCoral;
}

.header {
  color: GhostWhite;
  padding: 0;
}

li {
  margin: 0.5em 0;
  padding: 0;
  font-weight: bold;
}

li.failure .difference {
  background: IndianRed;
}

li li {
  margin: 0;
  padding: 0;
}

li li p {
  font-weight: normal;
}

li p {
  margin: 0;
}

ol {
  list-style: decimal inside;
  margin: 0;
  padding: 0;
}

ol p {
  font-style: italic;
  padding: 1em 1em 0 1em;
}

ol ol {
  list-style: lower-alpha;
  padding: 0.5em 0.5em 0.5em 4em;
}

ol ol p {
  font-family: "Courier", "Courier New", monospace;
  font-style: normal;
  padding: 0;
  margin: 0 0 0 0.5em;
  white-space: pre;
}

.status {
  height: 0.4em;
  padding: 0;
}

.success {
  background: LightGreen;
}

.summary {
  background: WhiteSmoke;
  color: Black;
  padding: 0.5em 0 0.5em 1em;
  position: static;
}

.summary .results .failed {
  color: LightCoral;
  text-shadow: rgba(0, 0, 0, 1) 1px 1px 1px;
}

.summary .results .failed.none {
  color: Black;
  text-shadow: none;
}

.summary .results .passed {
  color: LightGreen;
  text-shadow: rgba(0, 0, 0, 1) 1px 1px 1px;
}

.summary .results .passed.none {
  color: Black;
  text-shadow: none;
}

.title {
  background: rgb(34, 34, 85);
  border-radius: 8px 8px 0 0;
  cursor: default;
  font-size: 125%;
  line-height: 1em;
  margin: 0;
  -webkit-user-select: none;
  font-weight: lighter;
  padding: 0.5em 0 0.5em 0.8em;
}
