<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html DIR="LTR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0">
<title>谷歌浏览器服务条款</title>
<style>
:root { color-scheme: light dark }
body { font-family:Arial; font-size:13px; }
h2 { font-size:1em; margin-top:0 }
</style>
</head>

<body>
<h2>谷歌浏览器服务条款</h2>
<p>本服务条款适用于谷歌浏览器的可执行代码版本。根据开放源代码软件许可协议 (chrome://credits)，我们免费提供谷歌浏览器的源代码。 </p>
<p><strong>1. 您与谷歌的关系</strong></p>
<p>1.1 在使用谷歌产品、软件、服务及网站（在本文档中统称为“服务”，其中不包括谷歌根据单独的书面协议向您提供的任何服务）时，您必须遵守与谷歌之间签署的法律协议中所规定的各项条款。“谷歌”指 Google Inc.，其主要营业地点位于 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States。本文解释了协议的制定方式，并陈述了协议中的若干条款。</p>
<p>1.2 除非与谷歌另有书面协议，否则，您与谷歌之间签定的协议将始终包括但不限于本文所陈述的各项条款。这些条款在下文统称为“通用条款”。针对谷歌浏览器源代码的开放源代码软件许可构成了单独的书面协议。只有在开放源代码软件许可明确取代了这些通用条款的情况下，您与谷歌之间就使用谷歌浏览器或其中所包含的特定组件所签署的协议才必须遵守开放源代码软件许可证中的相关规定。</p>
<p>1.3 除通用条款外，您与 Google 之间达成的协议还包括下面规定的谷歌浏览器附加服务条款，以及适用于相关服务的任何法律声明条款。所有这些法律声明条款在下文统称为“附加条款”。若附加条款适用于某项服务，则您可在这一服务范围内，或在使用这一服务的过程中参考相关的附加条款。</p>
<p>1.4 通用条款与附加条款构成了您与谷歌之间就使用相关服务方面签署的具有法律约束力的协议。请务必仔细阅读这些条款。此法律协议在下文统称为“条款”。</p>
<p>1.5 若附加条款的内容与通用条款的内容相互冲突，那么，就相关服务而言，应当以附加条款的相应规定为准。</p>
<p><strong>2. 接受本服务条款</strong></p>
<p>2.1 要使用相关服务，您必须先同意接受本服务条款。若不接受本服务条款，那么，您可能无法使用相关服务。</p>
<p>2.2 您可以通过以下方式接受本服务条款：</p>
<p>(A) 在任一服务的用户界面中，点击谷歌为您提供的此选项表示接受或同意本服务条款；或</p>
<p>(B) 实际使用相关服务。第二种方法表示，您理解并同意谷歌视您自使用相关服务起便接受了本服务条款。</p>
<p><strong>3. 条款的语言</strong></p>
<p>3.1 若谷歌已为您提供了英文版服务条款的翻译版本，则您同意，该条款的翻译版本只是为了方便您进行参考，而您与谷歌之间的关系仍受英文版服务条款的约束。</p>
<p>3.2 若本服务条款的英文版本与其翻译版本存在任何冲突，则应以英文版本为准。</p>
<p><strong>4. 谷歌提供的服务</strong></p>
<p>4.1 谷歌的子公司和关联法律实体遍布世界各地（“子公司和关联企业”）。有时，这些公司会代表谷歌本身为您提供服务。您认可并同意这些子公司和关联企业有权为您提供服务。</p>
<p>4.2 谷歌会不断创新，为用户提供最佳的体验。您认可并同意谷歌可在不提供事先通知的情况下，随时变更所提供服务的形式和性质。</p>
<p>4.3 您认可并同意，作为不断进行创新的一部分，谷歌通常无需提前通知您，便可自行决定不再（永远或暂时）为您或用户提供相关的服务（或相关服务中的任意功能）。您无需特别通知谷歌，便可随时停止使用相关的服务。</p>
<p>4.4 您认可并同意，如果谷歌限制了您的权限，使您无法再继续访问自己的帐户，那么，您可能也无法访问相关的服务、您的帐户详细信息或帐户中所包含的任何文件或其他内容。</p>
<p><strong>5. 您对服务的使用</strong></p>
<p>5.1 您同意只在出于以下各项所规定的目的的情况下，使用相关的服务：(a) 本服务条款及 (b) 任何适用的法律、法规或者相关司法辖区内通行的惯例或准则（其中包括涉及从美国或其他相关国家/地区进出口数据或软件的任何法律规定）。</p>
<p>5.2 您同意不会进行任何妨碍或破坏相关服务（或与相关服务相连接的服务器及网络）的活动。</p>
<p>5.3 您同意，除非在与谷歌另外签署的单独的协议中特别规定了，允许您进行以下活动，否则，您不会出于任何目的对相关服务再制作、复写、复制、销售、交易或转售。</p>
<p>5.4 您同意，如果您违反了本服务条款中所规定的义务，并因此类行为造成了任何不良后果（其中包括谷歌可能遭受的任何损失或损害），您将独自承担全部责任，而谷歌对您或任何第三方不承担任何责任。</p>
<p><strong>6. 隐私权与个人信息</strong></p>
<p>6.1 要了解 Google 数据保护措施的相关信息，请阅读 Google 的隐私权政策，网址是：http://www.google.com/privacy.html 和 http://www.google.com/chrome/intl/zh-CN/privacy.html。该政策解释了，当您使用相关的服务时，谷歌会如何处理您的个人信息，以及如何保护您的隐私权。</p>
<p>6.2 您同意会在遵守谷歌隐私权政策的前提下应用自己的数据。</p>
<p><strong>7. 服务内容</strong></p>
<p>7.1 您知道，作为相关服务的一部分，或者您通过使用相关服务而获取的所有信息（例如数据文件、书面文本、计算机软件、音乐、音频文件或者其他声音、照片、视频或其他图片），完全由提供这些内容的人员负责。所有此类信息在下文统称为“内容”。</p>
<p>7.2 您应当了解，作为相关服务的一部分展示给您的内容（其中包括但不限于相关服务中的广告及赞助内容），可能受到将这些内容提供给谷歌的赞助商或广告商（或代表他们的其他人员或公司）所拥有的知识产权的保护。除非在另外签署的单独的协议中，谷歌或相关内容所有者特别规定了允许您进行以下活动，否则，您不得修改、租赁、出租、借贷、出售、分发该内容（无论是全部还是部分），或在该内容（无论是全部还是部分）的基础上创作衍生作品。</p>
<p>7.3 谷歌保留从任何服务中预筛选、审阅、标记、过滤、修改、拒绝或删除任何内容或所有内容的权利（但不对此承担任何义务）。对于某些服务，谷歌可能会提供相应的工具，帮助您过滤掉露骨的色情内容。这些工具包括安全搜索使用偏好设置（请访问 https://support.google.com/websearch/answer/510?hl=zh_CN）。此外，其他可通过商业渠道获得的服务和软件，可帮助您避免访问到可能会令您反感的内容。</p>
<p>7.4 您知道，使用相关服务时，您可能会碰到冒犯性的、粗鄙的或令人反感的内容，对此，您需要自行承担使用相关服务的风险。</p>
<p>7.5 您同意，如果您在使用相关服务的同时创作、传送或展示了任何内容，并因此类行为造成了任何不良后果（其中包括谷歌可能遭受的任何损失或损害），您将为这些内容和后果独自承担全部责任，而谷歌对您或任何第三方不承担任何责任。</p>
<p><strong>8. 所有权</strong></p>
<p>8.1 您认可并同意，谷歌（或谷歌的许可人）对相关服务拥有一切法定权利、所有权和利益，其中包括相关服务中所包含的所有知识产权（无论这些权利是否已经注册，亦无论存在于世界上哪些地方）。</p>
<p>8.2 除非您与谷歌另有书面协议，否则，本服务条款中的任何规定均未授予您使用谷歌的任何商品名、商标、服务标记、徽标、域名及其他显著品牌特征的权利。</p>
<p>8.3 如果您与谷歌签署的单独的书面协议中明确授予了您使用所有这些标志的权利，那么，您同意在使用这些标志时，都将遵守相关协议、服务条款中适用的规定，以及不断进行更新的谷歌标志使用指南。您可以在 http://www.google.com/permissions/guidelines.html（或谷歌为此不断提供的其他此类网址）上在线查看这些指导原则。</p>
<p>8.4 谷歌认可并同意，对于您在相关服务中或通过相关服务提交、发布、传播或展示的任何内容，其中包括内容中所包含的所有知识产权（无论这些权利是否已经注册，亦无论存在于世界上哪些地方），谷歌根据此处所述条款不能从您（或您的许可人）那里获取任何其中包含或与之相关的权利、所有权或利益。除非您与谷歌另有书面协议，否则，您同意自己对这些权利的保护和行使负有责任，谷歌没有义务代表您保护和行使相关权利。</p>
<p>8.5 您同意，您不会删除、掩藏或改动相关服务所附加的或包含的任何所有权声明（其中包括版权和商标声明）。</p>
<p>8.6 除非您得到谷歌明确的书面授权，否则，您同意在使用相关服务时，您不会以可能或故意导致混淆此类商标、商品名或徽标拥有者或授权用户的方式，使用任何公司或机构的任何商标、服务标记、商品名和徽标。</p>
<p><strong>9. 谷歌的许可</strong></p>
<p>9.1 谷歌授予您一项个人的、全世界范围内的、免交使用费的、不可转让及非专有的许可，以使用作为谷歌向您所提供的服务的一部分而向您提供的软件（下称“软件”）。此项许可的唯一目的是可以让您根据本服务条款所允许的方式，来使用和享用谷歌所提供的服务的优势。</p>
<p>9.2 根据第 1.2 条规定，除非法律明确允许或要求，或经谷歌明确书面授权，否则，您不得（而且不得允许其他任何人员）复制、修改软件或软件的任何部分；对软件或软件的任何部分创作衍生作品；进行反向工程、反编译；或者试图从软件或软件的任何部分提取源代码。</p>
<p>9.3 根据第 1.2 条规定，除非谷歌授予您明确的书面许可，否则，您不得转让对软件的使用权（或授予该使用权的分项许可）；不得在您对软件的使用权上设置担保权益；或者以其他方式转让您对软件的使用权的任何部分。</p>
<p><strong>10. 您的内容许可</strong></p>
<p>10.1 对于您在这些服务上或通过这些服务提交、发布或显示的内容，您拥有其版权并继续享有其他所有已获得的权利。</p>
<p><strong>11. 软件更新</strong></p>
<p>11.1 您使用的软件可从谷歌不断自动下载，并可安装其相应的更新。这些更新旨在改进、加强并进一步开发服务，可能采用错误修复、增强功能、新软件模块和全新版本的形式。作为使用服务的一部分，您同意接受（并允许谷歌向您发送）此类更新。</p>
<p><strong>12. 终止您与谷歌的关系</strong></p>
<p>12.1 本服务条款在您或谷歌根据下述规定将其终止之前，将会一直适用。</p>
<p>12.2 出现下列情况时，谷歌可随时终止与您签署的法律协议：</p>
<p>(A) 您违反了本服务条款中的任何规定（或您的行为方式明显表明，您无意或无法遵循本服务条款中的相关规定）；或</p>
<p>(B) 法律要求谷歌终止与您签署的法律协议（例如，向您提供的相关服务不合法或不再合法）；或</p>
<p>(C) 与谷歌合作向您提供服务的合作伙伴终止了与谷歌的合作关系，或不再向您提供服务；或</p>
<p>(D) 谷歌不再向您所在的国家/地区，或您使用相关服务时所在的国家/地区提供相关服务；或</p>
<p>(E) 谷歌认为向您提供相关服务不再能够获得赢利。</p>
<p>12.3 这一部分中的任何规定不得影响与谷歌根据本服务条款第 4 条所提供服务有关的权利。</p>
<p>12.4 当本服务条款终止时，您和谷歌已享受的、已承担的（或在本服务条款有效期间已经产生的）或明确规定为无限期有效的所有法定权利、义务和责任均不受该终止行为的影响，第 19.7 条的规定应无限期地持续适用于此类权利、义务和责任。</p>
<p><strong>13. 免责声明</strong></p>
<p>13.1 本服务条款中的任何规定，包括第 13 和 14 条，均不排除或限制谷歌根据适用法律不能合法排除或限制的损失担保或责任。某些司法辖区不允许排除某些担保或条件，或者限制或排除对由于疏忽、违约、违反暗含条款引起的损失或损害或对偶发性或继发性损害的责任。因此，只有在您的司法辖区属于合法的限制才适用于您，并且我们的责任将在法律允许的最大限度内受到限制。</p>
<p>13.2 您明确理解并同意，您单方面承担使用服务的所有风险，且服务按&quot;现状&quot;和“原样”提供。</p>
<p>13.3 尤其是，谷歌、其子公司和关联企业，及其许可人不会向您做出以下声明或担保：</p>
<p>(A) 您对服务的使用会满足您的需求；</p>
<p>(B) 您对服务的使用会连续无中断、及时、安全或没有错误；</p>
<p>(C) 由于您使用相关服务而获得的任何信息一律准确可靠；及</p>
<p>(D) 作为相关服务的一部分向您提供的任何软件所发生的操作或功能瑕疵将获得修正。</p>
<p>13.4 通过使用相关服务下载或以其他方式获得任何资料的行为，属于您自行决定的行为，您必须承担全部风险；对于因下载任何此类资料而导致对计算机系统或其他设备造成的损害或数据的丢失，您必须承担全部责任。</p>
<p>13.5 您从谷歌、相关服务或通过相关服务获得的任何建议或信息（无论是口头上的，还是书面上的）均不构成本服务条款中未明确规定的任何担保。</p>
<p>13.6 谷歌进一步明确拒绝提供任何种类的明示或隐含担保和条件，包括但不限于适销性、特定用途适用性，以及不侵害他人权利的担保和条件。</p>
<p><strong>14. 责任限制</strong></p>
<p>14.1 在遵守上述第 13.1 条所有条款的前提下，您明确理解并同意谷歌、其子公司和关联企业，及其许可人不对您承担以下责任：</p>
<p>(A) 由您引发（无论何种原因以及根据任何责任判定依据）的任何直接、间接、偶发、特殊、继发或惩戒性损失。这应包括但不限于任何利润损失（无论是直接还是间接发生）、任何商誉或业务声誉损失、任何数据丢失、替代物品或服务的购买费用或其他无形损失；</p>
<p>(B) 您所导致的任何损失或损害，包括但不限于由下列因素引起的损失或损害：</p>
<p>(I) 您对任何广告的完整性、准确性或真实性的信任，或者您与在相关服务上做广告的任何广告商或赞助商建立的任何关系或交易；</p>
<p>(II) 谷歌对相关服务做出任何更改，或者永久或暂时不再提供相关服务（或相关服务中的任何功能）；</p>
<p>(III) 通过您使用服务而维持或传输的任何内容及其他通信数据被删除、毁坏或未进行储存；</p>
<p>(IV) 您未向谷歌提供准确的帐户信息；</p>
<p>(V) 您未能保证自己密码或帐户详细信息的安全性和机密性；</p>
<p>14.2 无论谷歌是否已被告知或已经了解引起此类损害的可能性，第 14.1 条中所述的谷歌对您的责任限制仍然适用。</p>
<p><strong>15. 版权和商标政策</strong></p>
<p>15.1 根据谷歌的相关政策，接收到符合适用国际知识产权法（包括美国的《数字千年版权法案》）的版权侵权通知时，谷歌将做出回应并终止屡次侵权的帐户。有关谷歌政策的详细信息，请访问 http://www.google.com/dmca.html。</p>
<p>15.2 谷歌对其广告业务设有商标投诉程序，有关详细信息，请访问 http://www.google.com/tm_complaint.html。</p>
<p><strong>16. 广告</strong></p>
<p>16.1 有些服务靠广告收入支持，因此可能会显示广告和促销信息。这些广告可能会投放在存储于相关服务中的信息、通过相关服务提出的问题或其他信息中。</p>
<p>16.2 谷歌在服务中投放广告的方式、形式和范围能会发生变更，而不会另行通知。</p>
<p>16.3 鉴于谷歌授予您访问和使用相关服务的权利，您同意谷歌可在相关服务上投放此类广告。</p>
<p><strong>17. 其他内容</strong></p>
<p>17.1 服务可能包含指向其他网站、内容或资源的超链接。谷歌对其以外的公司或个人所提供的任何网站或资源没有控制权。</p>
<p>17.2 您认可并同意谷歌不对此类外部网站或资源的可用性承担任何责任，也不对此类网站或资源所提供的任何广告、产品或其他资料予以认可。</p>
<p>17.3 您认可并同意，如果您由于此类外部网站或资源的可用性或您对此类网站或资源所提供的任何广告、产品或其他资料的完整性、准确性或真实性的信任而遭受损失或损害，谷歌概不承担任何责任。</p>
<p><strong>18. 条款的变更</strong></p>
<p>18.1 谷歌可能会随时改动通用条款或附加条款。如有任何修改，Google 会通过 http://www.google.com/chrome/intl/zh-CN/eula_text.html 发布新的通用条款，并通过所涉及的服务或者在这些服务内提供所有新的附加条款。</p>
<p>18.2 您理解并同意，如果您在通用条款或附加条款发生更改之后使用服务，您对服务的使用将被谷歌视为已接受更新后的通用条款或附加条款。</p>
<p><strong>19. 一般法律条款</strong></p>
<p>19.1 使用服务时，您有时可能会（由于使用了服务或与使用服务相关）使用其他个人或公司所提供的某种服务、下载他们所提供的软件，或购买他们的产品。在使用这些服务、软件或产品时，您必须遵守您与相关公司或个人之间签署的单独的条款。在这种情况下，本服务条款不会影响您与其他这些公司或个人之间的法律关系。</p>
<p>19.2 本服务条款构成您和谷歌之间关于规范您使用相关服务（但不包括谷歌根据单独书面协议向您提供的服务）的全部法律协议，并完全取代您和谷歌先前就相关服务达成的任何协议。</p>
<p>19.3 您同意谷歌可通过电子邮件、常规邮件或在相关服务上发布的方式向您提供通知，包括关于更改本服务条款的通知。</p>
<p>19.4 您同意，如果谷歌未执行或未行使包含在本服务条款中的（或谷歌在任何适用法律下有权享受的）任何法定权利或赔偿，不可视为对谷歌权利的正式自动放弃，这些权利或救济仍对谷歌有效。</p>
<p>19.5 如果对此类事项有司法决定权的任何法院，判定本服务条款的任何规定无效，则该规定将从本服务条款中删除，而不影响本服务条款的其他部分。本服务条款的其余规定将继续有效并可强制执行。</p>
<p>19.6 您认可并同意，以谷歌为母公司的公司集团的每一成员为本服务条款的第三方受益人，并且其他此类公司有权直接行使本服务条款，并根据本服务条款的任何规定主张自己的相关利益（或有利于该公司的权利）。除此之外，其他个人或公司都不是本服务条款的第三方受益人。</p>
<p>19.7 本服务条款以及因本服务条款而产生的您与谷歌的关系，受美国加利福尼亚州法律的约束，但不考虑其法律冲突规范。您与谷歌均同意接受位于加利福尼亚州圣克拉拉县境内法院的专属管辖，以解决任何由本服务条款引起的法律事宜。尽管有上述规定，您同意谷歌可以向任何司法辖区内的法院申请禁制令救济（或同等类型的紧急法定救济）。</p>
<p><strong>20. 谷歌浏览器扩展程序的附加条款</strong></p>
<p>20.1 若您在自己的谷歌浏览器上安装了扩展程序，则必须遵守这一部分中所陈述的相关条款。扩展程序是由谷歌或第三方开发的小型软件程序，可用以完善和增强谷歌浏览器的功能。与常规的网页相比，扩展程序可能拥有更高的权限访问您的浏览器或计算机，例如能够读取和修改您的个人数据。</p>
<p>20.2 谷歌浏览器可能会不时地检查远程服务器（由谷歌或第三方托管），从而确定是否有扩展程序可用的更新，其中包括但不限于错误修正或增强功能。您同意无需谷歌另行通知，便可自动发送更新请求、下载及安装这类更新。</p>
<p>20.3 谷歌可能会不时找出违反了谷歌开发人员条款或其他法律协议、法律法规或政策的扩展程序。谷歌浏览器会定期从谷歌的服务器上下载这类扩展程序的列表。您同意，谷歌可自行决定从用户系统中远程停用或删除任何此类扩展程序。 </p>
<p><strong>21. 适用于企业的附加条款</strong></p>
<p>21.1 如果您是企业实体，那么代表该实体（为免生歧义，在这些针对企业实体的条款中，“您”表示的是实体）接受条款的个人就应代表并保证：他/她有权代表您；您已获得正式授权，可以在您所处的国家/地区运营业务；访问“服务”的员工、高级职员、代表和其他代理人都已获得正式授权，可以访问谷歌浏览器，并且根据法律规定您须受到这些条款的约束。</p>
<p>21.2 根据本“条款”，除第 9 部分中授予的许可外，Google 还会授予您非专有且不可转让的许可，只允许您在特定设备上复制、分发、安装和使用谷歌浏览器，这些设备的使用者是与您企业实体相关的员工、高级职员、代表和代理人，而且他们在使用谷歌浏览器时须遵守本“条款”的规定。</p>
<p>2010 年 8 月 12 日</p>
<br>
<hr>
<br>
<h2>谷歌浏览器附加服务条款</h2>
<p><strong>MPEGLA</strong></p>
<p>本产品根据 AVC 专利组合许可 (AVC Patent Portfolio License) 获取相应许可，可供使用者用于个人和非商业用途。使用者在使用时须 (i) 按照 AVC 标准编码视频（“AVC 视频”）和/或 (ii) 解码由另一位使用者在个人和非商业活动中编码的 AVC 视频或从有权提供 AVC 视频的视频合作伙伴处获取的 AVC 视频。对于其他任何用途，本协议均未授予或暗示授予许可。有关更多信息，请访问 MPEG LA, L.L.C. 的网站，网址是：http://www.mpegla.com。</p>
<p><strong>Adobe</strong></p>
<p>谷歌浏览器可能会包含一个或多个由 Adobe 系统公司 (Adobe Systems Incorporated) 和 Adobe 软件爱尔兰有限公司 (Adobe Software Ireland Limited)（统称“Adobe”）提供的组件。您对由 Google 提供的 Adobe 软件（下称“Adobe 软件”）的使用受以下附加条款（“Adobe 条款”）的约束。这里的“您”指的是接收 Adobe 软件的实体，以下称为“分许可证持有人”。</p>
<p>1. 许可限制。</p>
<p>(a) Flash 播放器 10.x 版仅可作为浏览器插件使用。除了用作播放网页内容的浏览器插件之外，分许可证持有人不得出于其他任何目的而修改或分发此 Adobe 软件。例如，分许可证持有人不得为了使此 Adobe 软件可与在浏览器外部运行的应用程序（例如，独立应用程序、窗口小部件、设备用户界面）相互操作而对此 Adobe 软件进行修改。</p>  
<p>(b) 分许可证持有人不得通过浏览器插件界面公开 Flash 播放器 10.x 版的任何 API，以免使此类扩展程序可被用作独立应用程序播放网页上的内容。</p>
<p>(c) 谷歌浏览器阅读器软件不得用于呈现使用了非 Adobe 数字版权管理 (DRM) 的数字版权管理协议或系统的任何 PDF 或 EPUB 文档。</p>
<p>(d) 必须对谷歌浏览器阅读器软件中受 Adobe DRM 保护的所有 PDF 和 EPUB 文档启用 Adobe DRM。</p>
<p>(e) 除非技术规范中另有明确的许可条款，否则，不得通过谷歌浏览器阅读器软件停用 Adobe 软件中提供的任何功能，包括但不限于对 PDF、EPUB 格式以及 Adobe DRM 的支持。</p>
<p>2. 电子传输。分许可证持有人可以通过网站、互联网、Intranet 或类似技术（“电子传输”）提供 Adobe 软件的下载，前提是分许可证持有人同意，任何由分许可证持有人进行的 Adobe 软件分发（包括在获得明确允许的情况下通过 CD-ROM、DVD-ROM 或其他存储媒介和电子传输进行的分发）应受合理的安全措施的保护，以防止未经授权的使用。对于据此准予进行的电子传输，分许可证持有人同意采用 Adobe 规定的任何合理的使用限制，包括涉及安全和/或向最终用户分发分许可证持有人产品的限制。</p>  
<p>3. 最终用户许可协议 (EULA) 和分发条款</p>  
<p>(a) 分许可证持有人应确保根据强制性最终用户许可协议向最终用户分发 Adobe 软件，该许可协议可有利于分许可证持有人及其供应商，但应包含以下最基本条款（“最终用户许可”）：(i) 禁止分发和复制，(ii) 禁止修改和制作衍生作品，(iii) 禁止反编译、反向工程、反汇编或以其他方式将 Adobe 软件还原为常人可理解的形式，(iv) 规定分许可证持有人产品（如第 8 条中定义）的所有权归分许可证持有人及其许可人所有，(v) 对间接的、特殊的、偶发的、惩罚性的或继发的损失的免责声明，以及 (vi) 其他行业标准免责声明和限制，包括（如果适用）：在法律所允许的最大限度内，对所有适用的法律规定的保证的免责声明。</p>
<p>(b) 分许可证持有人应确保根据强制性分发许可协议向分许可证持有人的分销商分发 Adobe 软件，该许可协议可有利于分许可证持有人及其供应商，但其中包含的条款对 Adobe 的保护力应与 Adobe 条款相同。</p>  
<p>4. 开放源代码。分许可证持有人不得向任何第三方直接授予、间接授予或试图授予 Adobe 知识产权或（要求上述知识产权必须遵守开放源代码许可或方案的）专有权利下的任何权利或者豁免权；就上述开放源代码许可或方案而言，其中包含有以下要求或可解释为以下要求的内容，即作为使用、修改和/或分发的条件，Adobe 软件必须 (i) 公开源代码或以源代码形式分发；(ii) 授予制作衍生作品的许可；或 (iii) 可免费再分发。特此说明，上述限制并不是禁止分许可证持有人进行分发，而且分许可证持有人可以通过与 Google 软件捆绑的方式，免费分发 Adobe 软件。</p>
<p>5. 附加条款。对于提供给分许可证持有人的 Adobe 软件的任何更新版本、升级版本和新版本（统称“升级”），Adobe 保留提出仅适用于升级及后续版本的附加条款的权利（仅限于此类限制是 Adobe 对此升级的所有被许可人提出的情况）。如果分许可证持有人不同意此附加条款，则无法获得有关此升级的任何许可权利，且分许可证持有人对 Adobe 软件的许可权利将在该附加条款向分许可证持有人提供之日起的第 90 日自动终止。</p>  
<p>6. 专有权利声明。分许可证持有人自己不得，且应要求其分销商也不得删除或以任何方式更改显示在 Adobe 软件或附加资料上/内部的版权声明、商标、徽标或相关声明，或 Adobe（及其许可人，如果有）的其他专有权利声明。</p>
<p>7. 技术要求。分许可证持有人及其分销商仅能在满足以下条件的设备上分发 Adobe 软件和/或升级：(i) 符合 http://www.adobe.com/mobile/licensees（或后继网站）上发布的技术规范，且 (ii) 已按下述规定通过 Adobe 的验证。</p>
<p>8. 验证与更新。如果包含 Adobe 软件和/或升级的产品（及其所有版本）（“分许可证持有人产品”）不符合 Google 提出的设备验证免检标准，则分许可证持有人必须向 Adobe 提交所有此类分许可证持有人产品，以便 Adobe 进行验证。分许可证持有人应根据 http://flashmobile.adobe.com/ 上的 Adobe 当时有效的条款购买验证包，以支付分许可证持有人每次提交所产生的费用。未通过验证的分许可证持有人产品不得进行分发。验证将按照 http://flashmobile.adobe.com/ 上说明的 Adobe 的现行流程（“验证”）完成。</p>
<p>9. 个人资料和设备中心。在验证流程或其他方法中，系统将提示分许可证持有人输入与该持有人的产品有关的某些个人资料信息；分许可证持有人应向 Adobe 提供此类信息。Adobe 可能会 (i) 在合理且必要的情况下，使用此类个人资料信息验证分许可证持有人产品（如果此类产品需要进行验证），(ii) 在“Adobe 设备信息系统”（Adobe Device Intelligence system，网址是：https://devices.adobe.com/partnerportal/）中显示此类个人资料信息，并会通过 Adobe 的制作及开发工具和服务提供此类信息，以便开发人员和最终用户了解相应的内容或应用程序是如何在分许可证持有人产品中显示的（例如，视频图片是如何在某些手机中显示的）。</p>  
<p>10. 出口。分许可证持有人承认美国本土生产的商品和技术数据（可能包括 Adobe 软件）的出口和再出口均受美国法律法规的限制。分许可证持有人同意，在未获得美国和外国政府的相应许可（如果有）前，不会出口或再出口 Adobe 软件。</p>
<p>11. 技术传递条款。</p>  
<p>(a) 除非获得相应方的适用许可或与相应方达成协议，否则分许可证持有人不得使用并且也不应允许使用 Adobe 软件在任何非 PC 设备（例如，移动电话或机顶盒）上编码或解码 MP3 纯音频 (.mp3) 数据，也不得通过任何非 Adobe 软件使用或访问 Adobe 软件中包含的 MP3 编码器或解码器。Adobe 软件可用于编码或解码 SWF 或 FLV 文件（其中包含视频、图片或其他数据）内包含的 MP3 数据。分许可证持有人应承认在非 PC 设备上使用 Adobe 软件（如本部分中的禁止条款中所述）应向持有与 MP3 技术相关的知识产权的第三方支付许可版税或其他费用，而 Adobe 和分许可证持有人均尚未就第三方知识产权为此类用途支付任何版税或其他费用。如果分许可证持有人需要将 MP3 编码器或解码器用作此类用途，则应由分许可证持有人负责获取必要的知识产权许可，包括任何适用的专利权。</p>
<p>(b) 分许可证持有人不得使用、复制、再制作和修改 (i) On2 源代码（在本协议下作为源代码的一部分提供），其用途为让 Adobe 软件能够解码 Flash 视频文件格式（.flv 或 .f4v）的视频，和 (ii) Sorenson Spark 源代码（在本协议下作为源代码的一部分提供），其用途仅限于为 Adobe 软件提供错误修正程序和效果增强功能。随 Adobe 软件一起提供的所有编解码器都只能作为 Adobe 软件的组成部分使用和分发，其他任何应用程序（包括 Google 其他应用程序）都不得访问这些编解码器。</p>  
<p>(c) 所提供的源代码中可能包含 AAC 编解码器和/或 HE-AAC 编解码器（“AAC 编解码器”）。使用 AAC 编解码器的前提是分许可证持有人获取了适当的专利许可，该许可应涵盖由 VIA 许可 (VIA Licensing) 提供的对于最终产品使用 AAC 编解码器所必需的专利。分许可证持有人承认并同意 Adobe 并未通过本协议向分许可证持有人或其分许可证持有人提供 AAC 编解码器的专利许可。</p>
<p>(d) 源代码可能包含根据 AVC 专利组合许可获取相应许可的代码，可供使用者出于个人和非商业目的 (i) 按照 AVC 标准编码视频（“AVC 视频”）和/或 (ii) 编码由另一位使用者在个人和非商业活动中编码的 AVC 视频或从有权提供 AVC 视频的视频提供商处获取的 AVC 视频。对于其他任何用途，本协议均未授予或暗示授予许可。有关更多信息，请访问 MPEG LA, L.L.C. 的网站，网址是：http://www.mpegla.com。</p>
<p>12. 更新。分许可证持有人不得规避 Google 或 Adobe 对所有分许可证持有人的产品（“分许可证持有人产品”）中与 Google 软件捆绑的 Adobe 软件进行的更新。</p>  
<p>13. 归属和专有声明。分许可证持有人应在公开提供的分许可证持有人产品规范上列出 Adobe 软件，并在分许可证持有人产品的包装或营销资料上附加 Adobe 软件品牌标志（特别排除了 Adobe 公司徽标），附加方式应与分许可证持有人产品中包含的其他第三方产品品牌标志一致。</p>
<p>14. 无担保。此 Adobe 软件“按原样”提供给分许可证持有人使用和再制作，Adobe 对其用途或效果不做任何担保。Adobe 及其供应商不保证而且无法保证使用 Adobe 软件可获得的效果或结果。除了分许可证持有人所在司法辖区的适用法律规定的不能或不得排除或限制的任何担保、条件、陈述或条款外，Adobe 及其供应商不提供任何类型的担保、条件、陈述或条款（无论是法令、普通法、习俗、习惯或其他方式的明示或暗示），包括但不限于：不侵犯第三方权利、适销性、整体性、质量满意度或任何特定用途适用性。分许可证持有人同意，分许可证持有人不得代表 Adobe 做出任何明示或暗示的担保。</p>  
<p>15. 责任限制。在任何情况下，Adobe 或其供应商都不承担分许可证持有人受到的任何损坏、索赔或费用或任何继发的、间接的、或偶发的损害、任何利润损失或存款损失，即使 Adobe 代表已获知发生此类损失、损坏、索赔、费用或任何第三方任何索赔的可能性。上述限制和例外适用于分许可证持有人所在司法辖区适用法律所允许的最大范围。依据本协议或与本协议有关的 Adobe 的赔偿总额及其供应商的赔偿总额不应超过一千美元 (US$1,000)。对于因 Adobe 的过失或因欺骗（欺诈）侵权行为而造成的分许可证持有人的死亡或人身伤害，本协议所包含的所有内容均未限制 Adobe 应负的责任。Adobe 仅在放弃、拒绝和/或限制本协议中提出的义务、担保和责任时代表其供应商，而不会在其他任何方面或出于其他任何目的代表其供应商。</p>
<p>16. 内容保护条款</p>
<p>(a) 定义。</p>
<p>“合规性和稳健性规则”是指规定 Adobe 软件合规性和稳健性规则的文档，网址是：http://www.adobe.com/mobile/licensees（或后继网站）。</p>
<p>“内容保护功能”是指 Adobe 软件的部分功能，这些功能旨在确保遵守“合规性和稳健性规则”，并防止在分发给 Adobe 软件用户使用的数字内容的拥有者或其授权分销商未授权的情况下，对此类内容进行播放、复制、修改、再分发或其他操作。</p>
<p>“内容保护代码”是指某些特定版本的 Adobe 软件内用于启用某些“内容保护功能”的代码。</p>
<p>“密钥”是指包含在 Adobe 软件中的经过加密的值，用于解密数字内容。</p>
<p>(b) 许可限制。分许可证持有人使用 Adobe 软件许可的权利受以下附加限制和责任的约束。在有关 Adobe 软件的限制和责任方面，分许可证持有人应确保其客户受到同等约束；如果分许可证持有人的客户出现任何未能遵守这些附加限制和责任的行为，则都视为分许可证持有人违反协议。</p>
<p>b.1. 分许可证持有人及其客户只能分发符合“稳健性和合规性规则”的 Adobe 软件，也就是由分许可证持有人在上文 Adobe 条款中所述的验证流程中确认的 Adobe 软件。</p>   
<p>b.2. 分许可证持有人不得 (i) 规避该 Adobe 软件或任何相关 Adobe 软件的“内容保护功能”（该功能是用于对供 Adobe 软件用户合法使用的数字内容进行加密或解密的）或 (ii) 开发或分发相应产品，意图规避该 Adobe 软件或任何相关 Adobe 软件的“内容保护功能”，从而阻止对供 Adobe 软件用户合法使用的数字内容进行加密或解密。</p>
<p>(c) 特此指出，此类密钥为 Adobe 的机密信息，因此在涉及此类密钥的方面，分许可证持有人应遵守 Adobe 的源代码处理程序（Source Code Handling Procedure，由 Adobe 根据请求提供）。</p>  
<p>(d) 禁止性救济。分许可证持有人同意，违反本协议有可能会威胁到 Adobe 软件的“内容保护功能”的安全，并会对 Adobe 的利益以及依赖此类“内容保护功能”的数字内容的拥有者的利益造成特别且持久的伤害，且金钱赔偿可能不足以完全弥补此类伤害。因此，分许可证持有人进一步同意，除金钱赔偿外，Adobe 有权寻求禁止性救济，以防止或限制由任何此类违反行为造成的伤害。</p>
<p>17. 预期的第三方受益人。Adobe 系统公司和 Adobe 软件爱尔兰有限公司是 Google 与分许可证持有人达成的有关 Adobe 软件的协议（包括但不限于 Adobe 条款）的预期第三方受益人。分许可证持有人同意，Google 可以向 Adobe 透露分许可证持有人的身份并以书面形式证明分许可证持有人已与 Google 达成了包含 Adobe 条款的许可协议，即使在分许可证持有人与 Google 达成的协议中存在任何与之冲突的规定。分许可证持有人必须与其所有被许可人达成协议，并且如果允许此类被许可人再分发 Adobe 软件，则此类协议中应包含 Adobe 条款。</p>
</body>
</html>
