<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html DIR="LTR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="initial-scale=1.0">
<title>የGoogle Chrome እና የChromeOS ተጨማሪ የአገልግሎት ውል</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
</head>

<body>
<h2>
 የGoogle Chrome እና የChromeOS ተጨማሪ የአገልግሎት ውል
</h2>
<p>
 ለመጨረሻ ጊዜ የተቀየረው፦ 01 ጃንዋሪ፣ 2021
</p>
<p>
 Chrome ወይም ChromeOSን በመጠቀምዎ https://policies.google.com/terms ላይ በሚገኘው የGoogle አገልግሎት ውል እና በእነዚህ የGoogle Chrome እና ChromeOS ተጨማሪ አገልግሎት ውል ይስማማሉ።
</p>
<p>
 እነዚህ የGoogle Chrome እና የChromeOS ተጨማሪ አገልግሎት ውል በተፈጻሚው የChrome እና Chrome OW ኮድ ስሪት ላይ ይተገበራሉ። አብዛኛው የChrome ምንጭ ኮድ በክፍት ምንጭ ፈቃድ ስምምነቶች https://code.google.com/chromium/terms.html ላይ ባሉ የክፍት ምንጭ ሶፍትዌር ፈቃድ ስምምነቶች መሠረት ከክፍያ ነጻ የሚገኝ ነው።
</p>
<p>
 የእርስዎ የተወሰኑ የChrome እና ChromeOS ክፍሎችን መጠቀም ለሚከተሉት ደንቦች ተገዢ ነው፦
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ይህ ምርት በAVC ፓተንት ፖርትፎሊዩ ፈቃድ መሠረት ሸማች የሚከተሉትን ለሚያደርጉባቸው የግል አጠቃቀም ወይም ክፍያ የማያገኙባቸው ሌሎች አጠቃቀሞች ፈቃድ የተሰጠበት ነው፦ (i) በAVC መስፈርት («የAVC ቪዲዮ») መሠረት ቪዲዮን በኮድ ማስቀመጥ እና/ወይም (ii) በግል እንቅስቃሴ ላይ ሲሳተፉ በነበረ ሸማች በኮድ የተቀመጠ የቪዲዮ ኮድ መፍታት እና/ወይም የAVC ቪዲዮን ለማቅረብ ፈቃድ ከተሰጠው የቪዲዮ አቅራቢ የተገኘ የቪዲዮን ኮድ መፍታት። ለሌላ ማንኛውም አጠቃቀም ምንም ፈቃድ አይሰጥም ወይም በውስጥ ታዋቂነት እንደተሰጠ አይቆጠርም። ተጨማሪ መረጃ ከMPEG LA, L.L.C. ሊገኝ ይችላል። HTTP://WWW.MPEGLA.COM ይመልከቱ
 </p>
</section>
<section>
</section>
<p>
 በተጨማሪም፣ የእርስዎ የተወሰኑ የChromeOS ክፍሎችን መጠቀም ለሚከተሉት ደንቦች ተገዢ ነው፦
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  ይህ ምርት በMPEG-4 VISUAL ፓተንት ፖርትፎሊዩ ፈቃድ መሠረት ሸማች የሚከተሉትን ለሚያደርጉባቸው የንግድ ላልሆነ የግል አጠቃቀም፦ (i) በMPEG-4 VISUAL መስፈርት («የMPEG-4 ቪዲዮ») መሠረት ቪዲዮን በኮድ ማስቀመጥ እና/ወይም (ii) በግል እና የንግድ ባልሆነ እንቅስቃሴ ላይ ሲሳተፉ በነበረ ሸማች በኮድ የተቀመጠ የቪዲዮ ኮድ መፍታት እና/ወይም የMPEG-4 ቪዲዮን ለማቅረብ በMPEG- LA ፈቃድ ከተሰጠው የቪዲዮ አቅራቢ የተገኘ የቪዲዮን ኮድ መፍታት። ለሌላ ማንኛውም አጠቃቀም ምንም ፈቃድ አይሰጥም ወይም በውስጥ ታዋቂነት እንደተሰጠ አይቆጠርም። ከማስተዋወቂያ፣ ውስጣዊ እና የንግድ አጠቃቀሞች እና ፈቃድ አሰጣጥ ጋር ከሚዛመደው ጋር ጨምሮ ተጨማሪ መረጃ ከMPEG LA, LLC ሊገኝ ይችላል። HTTP://WWW.MPEGLA.COM ይመልከቱ።
 </p>
</section>

</body>
</html>
