<!DOCTYPE html>
<html lang="ta" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome, ChromeOS ஆகியவற்றுக்கான கூடுதல் சேவை விதிமுறைகள்</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome, ChromeOS ஆகியவற்றுக்கான கூடுதல் சேவை விதிமுறைகள்
</h2>
<p>
 கடைசியாக மாற்றியது: <time datetime="2023-09-08">8 செப்டம்பர், 2023</time>
</p>
<p>
 Chrome அல்லது ChromeOSஸைப் பயன்படுத்துவதன் மூலம், https://policies.google.com/terms என்ற தளத்திலுள்ள Google சேவை விதிமுறைகளையும் Google Chrome, ChromeOS ஆகியவை தொடர்பான கூடுதல் சேவை விதிமுறைகளையும் ஏற்கிறீர்கள்.
</p>
<p>
 இந்த Google Chrome, ChromeOS ஆகியவற்றுக்கான கூடுதல் சேவை விதிமுறைகள், Chrome மற்றும் ChromeOSஸின் செயலாக்கக் குறியீட்டுப் பதிப்புக்குப் பொருந்தும். பெரும்பாலான Chrome மூலக் குறியீடுகள் chrome://credits என்ற தளத்தில் உள்ள ஓப்பன் சோர்ஸ் மென்பொருள் உரிம ஒப்பந்தங்கள் என்பதன் கீழ் இலவசமாகக் கிடைக்கும்.
</p>
<p>
 பின்வரும் விதிமுறைகளுக்கு உட்பட்டே Chrome, ChromeOS ஆகியவற்றின் சில கூறுகளை உங்களால் பயன்படுத்த முடியும்:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  இந்தத் தயாரிப்பு பின்வருபவற்றைச் செய்வதற்காக நுகர்வோர் ஒருவரின் தனிப்பட்ட அல்லது ஊதியம் எதையும் பெறாத வேறு உபயோகங்களுக்காக AVC காப்புரிமைப் பிரிவு உரிமத்தின் கீழ் அளிக்கப்பட்ட உரிமத்தைக் கொண்டுள்ளது: (i) AVC தரத்திற்கு இணங்க வீடியோவை என்கோட் செய்வது ( "AVC வீடியோ") மற்றும்/அல்லது (ii) தனிப்பட்ட செயல்பாட்டில் ஈடுபட்டிருக்கும் நுகர்வோர் என்கோட் செய்த மற்றும்/அல்லது AVC வீடியோ வழங்க உரிமம் அளிக்கப்பட்ட வீடியோ வழங்குநரிடமிருந்து பெற்ற AVC வீடியோவை டீகோட் செய்வது. வேறு எந்தவொரு உபயோகத்திற்காகவும் எந்த உரிமமும் வழங்கப்படவோ மறைமுகமாகக் குறிக்கப்படவோ மாட்டாது. MPEG LA, L.L.C ஆகியவற்றிடமிருந்து கூடுதல் தகவல்களைப் பெறலாம். HTTP://WWW.MPEGLA.COM என்ற தளத்திற்குச் செல்க.
 </p>
</section>
<section>
</section>
<p>
 கூடுதலாக, ChromeOSஸின் சில குறிப்பிட்ட கூறுகளைப் பயன்படுத்துவது பின்வரும் விதிமுறைகளுக்கு உட்பட்டது:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  இந்தத் தயாரிப்பு பின்வருபவற்றைச் செய்வதற்காக நுகர்வோர் ஒருவரின் தனிப்பட்ட மற்றும் வணிக நோக்கமற்ற உபயோகத்திற்காக MPEG-4 விஷுவல் காப்புரிமைப் பிரிவு உரிமத்தின் கீழ் அளிக்கப்பட்ட உரிமத்தைக் கொண்டுள்ளது (i) MPEG-4 விஷுவல் தரத்திற்கு ("MPEG-4 வீடியோ") இணங்க வீடியோவை என்கோட் செய்வது மற்றும்/அல்லது (ii) தனிப்பட்ட மற்றும் வணிக நோக்கமற்ற செயல்பாட்டில் ஈடுபட்டிருக்கும் நுகர்வோர் என்கோட் செய்த மற்றும்/அல்லது MPEG-4 வீடியோ வழங்க MPEG LA அமைப்பால் உரிமம் அளிக்கப்பட்ட வீடியோ வழங்குநரிடமிருந்து பெற்ற MPEG-4 வீடியோவை டீகோட் செய்வது. வேறு எந்தவொரு உபயோகத்திற்காகவும் எந்த உரிமமும் வழங்கப்படவோ மறைமுகமாகக் குறிக்கப்படவோ மாட்டாது. விளம்பரப்படுத்துதல், அக மற்றும் வர்த்தகப் பயன்பாடுகள், உரிமம் வழங்குதல் ஆகியவற்றுடன் தொடர்புடைய தகவல்கள் உள்ளிட்ட கூடுதல் தகவல்களை MPEG LA, L.L.Cயிடமிருந்து பெறலாம். HTTP://WWW.MPEGLA.COM என்ற தளத்திற்குச் செல்க.
 </p>
</section>
