<!DOCTYPE html>
<html lang="hi" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome और ChromeOS की सेवा की अतिरिक्त शर्तें</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome और ChromeOS की सेवा की अतिरिक्त शर्तें
</h2>
<p>
 इस तारीख को अंतिम बार बदलाव किया गया था: <time datetime="2023-09-08">8 सितंबर 2023</time>
</p>
<p>
 Chrome या ChromeOS इस्तेमाल करने का मतलब है कि आप https://policies.google.com/terms पर दी गई Google सेवा की शर्तों से सहमत हैं. इसका मतलब यह भी है कि आप Google Chrome और ChromeOS की सेवा की इन अतिरिक्त शर्तों से भी सहमत हैं.
</p>
<p>
 Google Chrome और ChromeOS की सेवा की ये अतिरिक्त शर्तें, Chrome और ChromeOS के एक्ज़ीक्यूटेबल कोड वर्शन पर लागू होती हैं. Chrome के ज़्यादातर सोर्स कोड chrome://credits पर ओपन सोर्स सॉफ़्टवेयर लाइसेंस के कानूनी समझौते के तहत मुफ़्त में उपलब्ध हैं.
</p>
<p>
 Chrome और ChromeOS के कुछ खास हिस्सों के इस्तेमाल पर ये शर्तें लागू होती हैं:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  इस उत्पाद को AVC पेटेंट पोर्टफ़ोलियो लाइसेंस के तहत लाइसेंस दिया गया है. यह लाइसेंस किसी उपभोक्ता के निजी इस्तेमाल या ऐसे दूसरे इस्तेमाल के लिए दिया गया है जिनमें इसे इन चीज़ों के लिए पैसे नहीं मिलते (i) AVC के मानकों (“AVC वीडियो”) के मुताबिक वीडियो एन्कोड करना और/या (ii) ऐसे AVC वीडियो को डिकोड करना जिसे किसी उपभोक्ता ने निजी काम के तौर पर एन्कोड किया हो और/या जो वीडियो देने वाली ऐसी कंपनी से मिला हो जिसके पास AVC वीडियो देने का लाइसेंस है. किसी भी दूसरे इस्तेमाल के लिए कोई लाइसेंस नहीं दिया जाता या वैध नहीं माना जाता. ज़्यादा जानकारी MPEG LA, L.L.C. से ली जा सकती है. HTTP://WWW.MPEGLA.COM देखें.
 </p>
</section>
<section>
</section>
<p>
 साथ ही, ChromeOS के कुछ कॉम्पोनेंट के इस्तेमाल पर ये शर्तें लागू होती हैं:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  इस उत्पाद को MPEG-4 विज़ुअल पेटेंट पोर्टफ़ोलियो लाइसेंस के तहत लाइसेंस दिया गया है. यह लाइसेंस किसी उपभोक्ता के निजी और गैर-व्यावसायिक इस्तेमाल के लिए दिया जाता है, ताकि (i) MPEG-4 विज़ुअल मानक ("MPEG-4 वीडियो") के मुताबिक वीडियो को एन्कोड किया जा सके और/या (ii) ऐसे MPEG-4 वीडियो को डिकोड किया जा सके जिसे निजी और गैर-व्यावसायिक गतिविधि करने वाले उपभोक्ता ने एन्कोड किया हो और/या जो वीडियो देने वाली ऐसी कंपनी से मिला हो जिसके पास MPEG-4 वीडियो देने का MPEG LA का लाइसेंस है. किसी भी दूसरे इस्तेमाल के लिए कोई लाइसेंस नहीं दिया जाता या वैध नहीं माना जाता. प्रचार, कंपनी के अंदर और व्यावसायिक इस्तेमाल, लाइसेंस देने की प्रक्रिया के साथ ही अन्य बातों के बारे में ज़्यादा जानकारी MPEG LA, LLC से ली जा सकती है. HTTP://WWW.MPEGLA.COM देखें.
 </p>
</section>
