<!DOCTYPE html>
<html lang="hu" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>A Google Chrome és a ChromeOS Kiegészítő Általános Szerződési Feltételei</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 A Google Chrome és a ChromeOS Kiegészítő Általános Szerződési Feltételei
</h2>
<p>
 Legutóbbi módosítás: <time datetime="2023-09-08">2023. szeptember 8.</time>
</p>
<p>
 A Chrome vagy a ChromeOS használatával Ön elfogadja a https://policies.google.com/terms oldalon hozzáférhető Google Általános Szerződési Feltételeket, továbbá a Google Chrome és a ChromeOS jelen Kiegészítő Általános Szerződési Feltételeit.
</p>
<p>
 Ezek a Google Chrome és ChromeOS Kiegészítő Általános Szerződési Feltételek vonatkoznak a Chrome és a ChromeOS futtatható kódú verziójára. A Chrome forráskódjának legnagyobb része nyílt forráskódú szoftverekre vonatkozó licencszerződések keretében díjmentesen rendelkezésre áll a következő címen: chrome://credits.
</p>
<p>
 A Chrome és a ChromeOS egyes összetevőinek használatára a következő feltételek vonatkoznak:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  JELEN TERMÉK AZ AVC SZABADALOMPORTFÓLIÓJÁRA VONATKOZÓ LICENC ÉRTELMÉBEN KAPOTT ENGEDÉLYT EGY SZEMÉLY ÁLTALI FELHASZNÁLÁSRA, ILLETVE MÁS EGYÉB, DÍJAZÁSSAL NEM JÁRÓ FELHASZNÁLÁSRA (i) VIDEÓK AVC SZABVÁNYNAK MEGFELELŐ KÓDOLÁSA CÉLJÁBÓL (A TOVÁBBIAKBAN „AVC-VIDEÓ”) ÉS/VAGY (ii) OLYAN AVC-VIDEÓ DEKÓDOLÁSA CÉLJÁBÓL, AMELYET SZEMÉLYES TEVÉKENYSÉG KERETÉBEN KÓDOLT VALAMELY MÁS FELHASZNÁLÓ, ILLETVE AMELY OLYAN VIDEÓSZOLGÁLTATÓTÓL SZÁRMAZIK, AMELY RENDELKEZIK AVC-VIDEÓK SZOLGÁLTATÁSÁRA VONATKOZÓ ENGEDÉLLYEL. BÁRMILYEN ETTŐL ELTÉRŐ FELHASZNÁLÁS ESETÉN A LICENC NEM ÉRVÉNYES ÉS NEM HASZNÁLHATÓ FEL. TOVÁBBI INFORMÁCIÓT AZ MPEG LA, LLC VÁLLALAT BIZTOSÍTHAT ÖNNEK. LÁSD: HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 A ChromeOS egyes összetevőinek használatára a továbbiakban a következő feltételek vonatkoznak:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  A JELEN TERMÉK AZ MPEG-4 VIZUÁLISSZABADALOM-PORTFÓLIÓJÁRA VONATKOZÓ LICENC ÉRTELMÉBEN KAPOTT ENGEDÉLYT EGY SZEMÉLY ÁLTALI SZEMÉLYES, NEM KERESKEDELMI CÉLÚ FELHASZNÁLÁSRA (i) VIDEÓK MPEG-4 VIZUÁLIS SZABVÁNYNAK MEGFELELŐ KÓDOLÁSA CÉLJÁBÓL (A TOVÁBBIAKBAN \„MPEG-4-VIDEÓ\”) ÉS/VAGY (ii) OLYAN MPEG-4-VIDEÓ DEKÓDOLÁSA CÉLJÁBÓL, AMELYET SZEMÉLYES ÉS NEM KERESKEDELMI CÉLÚ TEVÉKENYSÉG KERETÉBEN KÓDOLT VALAMELY MÁS FELHASZNÁLÓ, ILLETVE AMELY OLYAN VIDEÓSZOLGÁLTATÓTÓL SZÁRMAZIK, AMELYNEK AZ MPEG LA ENGEDÉLYT ADOTT AZ MPEG-4-VIDEÓK BIZTOSÍTÁSÁRA. BÁRMILYEN ETTŐL ELTÉRŐ FELHASZNÁLÁS ESETÉN A LICENC NEM ÉRVÉNYES ÉS NEM HASZNÁLHATÓ FEL. A REKLÁMCÉLÚ, BELSŐ ÉS ÜZLETI FELHASZNÁLÁSRA, ILLETVE ENGEDÉLYEZÉSRE VONATKOZÓAN TOVÁBBI INFORMÁCIÓT AZ MPEG LA, LLC VÁLLALAT BIZTOSÍTHAT ÖNNEK. LÁSD: HTTP://WWW.MPEGLA.COM.
 </p>
</section>
