<!DOCTYPE html>
<html lang="sr" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Додатни услови коришћења услуге за Google Chrome и ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Додатни услови коришћења услуге за Google Chrome и ChromeOS
</h2>
<p>
 Последња измена: <time datetime="2023-09-08">8. септембар 2023.</time>
</p>
<p>
 Коришћењем Chrome-а или ChromeOS-а прихватате Google услове коришћења услуге који се налазе на https://policies.google.com/terms и ове додатне услове коришћења услуге за Google Chrome и ChromeOS.
</p>
<p>
 Ови додатни услови коришћења услуге за Google Chrome и ChromeOS примењују се на извршну верзију кода за Chrome и ChromeOS. Већина изворног кода за Chrome је доступна бесплатно по основу уговора о лиценцирању софтвера отвореног кода који је доступан на chrome://credits.
</p>
<p>
 Коришћење одређених компонената Chrome-а и ChromeOS-а подлеже следећим условима:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ОВАЈ ПРОИЗВОД ЈЕ ЛИЦЕНЦИРАН У ОКВИРУ ЛИЦЕНЦЕ AVC ПОРТФОЛИЈА ПАТЕНАТА ЗА ЛИЧНО КОРИШЋЕЊЕ ОД СТРАНЕ КОРИСНИКА ИЛИ ДРУГА КОРИШЋЕЊА КОЈА НЕ ПОДРАЗУМЕВАЈУ НАКНАДУ ЗА (i) КОДИРАЊЕ ВИДЕА КОЈИ ЈЕ У СКЛАДУ СА AVC СТАНДАРДОМ („AVC ВИДЕО“) И/ИЛИ (ii) ДЕКОДИРАЊЕ AVC ВИДЕА КОЈИ ЈЕ КОРИСНИК КОДИРАО У СКЛОПУ ЛИЧНИХ АКТИВНОСТИ И/ИЛИ ДОБИО ОД ДОБАВЉАЧА ВИДЕО САДРЖАЈА КОЈИ ИМА ЛИЦЕНЦУ ЗА ДОБАВЉАЊЕ AVC ВИДЕО САДРЖАЈА. НИКАКВА ЛИЦЕНЦА СЕ НЕ ДАЈЕ НИТИ ПОДРАЗУМЕВА ЗА БИЛО КОЈЕ ДРУГО КОРИШЋЕЊЕ. ДОДАТНЕ ИНФОРМАЦИЈЕ МОЖЕТЕ ДА ДОБИЈЕТЕ ОД КОМПАНИЈЕ MPEG LA, L.L.C. ПОГЛЕДАЈТЕ САДРЖАЈ НА HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Поред тога, ваше коришћење одређених компонената ChromeOS-а подлеже следећим условима:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  ОВАЈ ПРОИЗВОД ЈЕ ЛИЦЕНЦИРАН У ОКВИРУ ЛИЦЕНЦЕ MPEG-4 ПОРТФОЛИЈА ВИЗУЕЛНИХ ПАТЕНАТА ЗА ЛИЧНО И НЕКОМЕРЦИЈАЛНО КОРИШЋЕЊЕ ОД СТРАНЕ КОРИСНИКА ЗА (i) КОДИРАЊЕ ВИДЕА КОЈИ ЈЕ У СКЛАДУ СА MPEG-4 ВИЗУЕЛНИМ СТАНДАРДОМ („MPEG-4 ВИДЕО“) И/ИЛИ (ii) ДЕКОДИРАЊЕ MPEG-4 ВИДЕА КОЈИ ЈЕ КОРИСНИК КОДИРАО У СКЛОПУ ЛИЧНИХ И НЕКОМЕРЦИЈАЛНИХ АКТИВНОСТИ И/ИЛИ ДОБИО ОД ДОБАВЉАЧА ВИДЕО САДРЖАЈА КОЈИ ИМА ЛИЦЕНЦУ КОМПАНИЈЕ MPEG LA ЗА ДОБАВЉАЊЕ MPEG-4 ВИДЕО САДРЖАЈА. НИКАКВА ЛИЦЕНЦА СЕ НЕ ДАЈЕ НИТИ ПОДРАЗУМЕВА ЗА БИЛО КОЈЕ ДРУГО КОРИШЋЕЊЕ. ДОДАТНЕ ИНФОРМАЦИЈЕ, УКЉУЧУЈУЋИ ИНФОРМАЦИЈЕ У ВЕЗИ СА ПРОМОТИВНИМ, ИНТЕРНИМ И КОМЕРЦИЈАЛНИМ КОРИШЋЕЊИМА И ЛИЦЕНЦИРАЊЕМ, МОЖЕТЕ ДА ДОБИЈЕТЕ ОД КОМПАНИЈЕ MPEG LA, LLC. ПОСЕТИТЕ HTTP://WWW.MPEGLA.COM.
 </p>
</section>
