<!DOCTYPE html>
<html lang="pt-BR" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Termos de Serviço adicionais do Google Chrome e do ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Termos de Serviço adicionais do Google Chrome e do ChromeOS
</h2>
<p>
 Última modificação: <time datetime="2023-09-08">8 de setembro de 2023</time>
</p>
<p>
 Ao usar o Chrome ou o ChromeOS, você concorda com os Termos de Serviço do Google localizados em https://policies.google.com/terms e com estes Termos de Serviço adicionais do Google Chrome e do ChromeOS.
</p>
<p>
 Estes Termos de Serviço adicionais do Google Chrome e do ChromeOS se aplicam à versão do código executável do Chrome e do ChromeOS. A maioria dos códigos-fonte do Chrome está disponível gratuitamente mediante contratos de licença de software de código aberto em chrome://credits.
</p>
<p>
 O uso de determinados componentes do Chrome e do ChromeOS está sujeito aos seguintes termos:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ESTE PRODUTO É LICENCIADO SOB A LICENÇA DE PORTFÓLIO DE PATENTES AVC PARA USO PESSOAL DE UM CONSUMIDOR OU OUTROS USOS EM QUE ELE NÃO RECEBA REMUNERAÇÃO PARA (i) CODIFICAR VÍDEOS EM CONFORMIDADE COM O PADRÃO AVC ("VÍDEO AVC") E/OU (ii) DECODIFICAR VÍDEOS AVC QUE TENHAM SIDO CODIFICADOS POR UM CONSUMIDOR ENVOLVIDO EM UMA ATIVIDADE PESSOAL E/OU TENHAM SIDO ADQUIRIDOS DE UM PROVEDOR DE VÍDEOS LICENCIADO PARA FORNECER VÍDEOS AVC. NENHUMA LICENÇA SERÁ CONCEDIDA NEM SERÁ CONSIDERADA IMPLÍCITA PARA OUTRO USO. MAIS INFORMAÇÕES ESTÃO DISPONÍVEIS JUNTO À MPEG LA, L.L.C., EM HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Além disso, o uso de determinados componentes do ChromeOS está sujeito aos seguintes termos:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  ESTE PRODUTO É LICENCIADO SOB A LICENÇA DE PORTFÓLIO DE PATENTES VISUAIS MPEG-4 PARA USO PESSOAL E NÃO COMERCIAL DE UM CONSUMIDOR PARA (i) CODIFICAR VÍDEOS EM CONFORMIDADE COM O PADRÃO VISUAL MPEG-4 ("VÍDEO MPEG-4") E/OU (ii) DECODIFICAR VÍDEOS MPEG-4 QUE TENHAM SIDO CODIFICADOS POR UM CONSUMIDOR ENVOLVIDO EM UMA ATIVIDADE PESSOAL E NÃO COMERCIAL E/OU TENHAM SIDO ADQUIRIDOS DE UM PROVEDOR DE VÍDEOS LICENCIADO PELA MPEG LA PARA FORNECER VÍDEOS MPEG-4. NENHUMA LICENÇA SERÁ CONCEDIDA NEM SERÁ CONSIDERADA IMPLÍCITA PARA OUTRO USO. MAIS INFORMAÇÕES, INCLUSIVE AQUELAS RELACIONADAS A LICENCIAMENTOS E USOS PROMOCIONAIS, INTERNOS E COMERCIAIS, ESTÃO DISPONÍVEIS JUNTO À MPEG LA, LLC. CONSULTE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
