<!DOCTYPE html>
<html lang="uk" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Додаткові умови використання Google Chrome і ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Додаткові умови використання Google Chrome і ChromeOS
</h2>
<p>
 Востаннє оновлено <time datetime="2025-09-30">30 вересня 2025 р.</time>
</p>
<p>
 Використовуючи Chrome або ChromeOS, ви погоджуєтесь із Загальними положеннями та умовами Google на сторінці https://policies.google.com/terms і цими Додатковими умовами використання Google Chrome та ChromeOS.
</p>
<p>
 Ці додаткові Умови використання Google Chrome та ChromeOS застосовуються до версії виконуваного коду Chrome і ChromeOS. Більша частина вихідного коду Chrome, розміщеного на сайті chrome://credits, доступна безкоштовно на умовах ліцензійної угоди щодо програмного забезпечення з відкритим кодом.
</p>
<p>
 Використання певних компонентів Chrome і ChromeOS регулюється такими умовами:
</p>
<section>
 <p>
  <strong>
   ТЕХНОЛОГІЯ AVC
  </strong>
 </p>
 <p>
  ЦЕЙ ПРОДУКТ НАДАЄТЬСЯ ЗА ЛІЦЕНЗІЄЮ В СКЛАДІ ПОРТФЕЛЯ ПАКЕТНИХ ЛІЦЕНЗІЙ НА ТЕХНОЛОГІЮ AVC ДЛЯ ОСОБИСТОГО АБО ІНШОГО ВИКОРИСТАННЯ СПОЖИВАЧЕМ, ЗА ЯКЕ ВІН НЕ ОТРИМУЄ ВИНАГОРОДУ, З МЕТОЮ (А) КОДУВАННЯ ВІДЕО ВІДПОВІДНО ДО СТАНДАРТУ AVC (НАДАЛІ – ВІДЕО AVC) ТА/АБО (Б) ДЕКОДУВАННЯ ВІДЕО AVC, ЗАКОДОВАНОГО СПОЖИВАЧЕМ У РАМКАХ ОСОБИСТОГО ВИКОРИСТАННЯ ТА/АБО ОТРИМАНОГО ВІД ПОСТАЧАЛЬНИКА, ЯКИЙ МАЄ ЛІЦЕНЗІЮ НА ПОСТАЧАННЯ ВІДЕО AVC. ЛІЦЕНЗІЯ НЕ НАДАЄТЬСЯ ТА НЕ ПЕРЕДБАЧЕНА ДЛЯ БУДЬ-ЯКОГО ІНШОГО ВИПАДКУ ВИКОРИСТАННЯ. ДОДАТКОВУ ІНФОРМАЦІЮ МОЖНА ОТРИМАТИ В КОМПАНІЇ MPEG LA, L.L.C. (ДИВ. HTTPS://WWW.VIA-LA.COM).
 </p>
</section>

