<!DOCTYPE html>
<html lang="pt-PT" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Termos de Utilização Adicionais do Google Chrome e do ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Termos de Utilização Adicionais do Google Chrome e do ChromeOS
</h2>
<p>
 Última modificação: <time datetime="2023-09-08">8 de setembro de 2023</time>
</p>
<p>
 Ao utilizar o Chrome ou o ChromeOS, aceita os Termos de Utilização do Google localizados em https://policies.google.com/terms?hl=pt-PT e estes Termos de Utilização Adicionais do Google Chrome e do ChromeOS.
</p>
<p>
 Os presentes Termos de Utilização Adicionais do Google Chrome e do ChromeOS aplicam-se à versão do código executável do Chrome e do ChromeOS. A maior parte do código-fonte do Chrome está disponível gratuitamente ao abrigo de contratos de licença de software de código aberto em chrome://credits.
</p>
<p>
 A sua utilização de determinados componentes do Chrome e do ChromeOS está sujeita aos seguintes termos:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ESTE PRODUTO ESTÁ LICENCIADO SOB A LICENÇA DO PORTEFÓLIO DE PATENTES AVC PARA A UTILIZAÇÃO PESSOAL POR PARTE DE UM CONSUMIDOR OU PARA OUTRAS UTILIZAÇÕES NÃO REMUNERADAS PARA (i) CODIFICAR VÍDEO EM CONFORMIDADE COM O PADRÃO AVC ("VÍDEO AVC") E/OU (ii) DESCODIFICAR VÍDEO AVC QUE TENHA SIDO CODIFICADO POR UM CONSUMIDOR NO ÂMBITO DE UMA ATIVIDADE PESSOAL E/OU OBTIDO DE UM FORNECEDOR DE VÍDEO LICENCIADO PARA FORNECER VÍDEO AVC. NÃO É CONCEDIDA NEM ESTÁ IMPLÍCITA QUALQUER LICENÇA PARA QUALQUER OUTRA UTILIZAÇÃO. É POSSÍVEL OBTER INFORMAÇÕES ADICIONAIS JUNTO DA MPEG LA, L.L.C. CONSULTE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Adicionalmente, a sua utilização de determinados componentes do ChromeOS está sujeita aos seguintes termos:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  ESTE PRODUTO ESTÁ LICENCIADO SOB A LICENÇA DO PORTEFÓLIO DE PATENTES MPEG-4 VISUAL PARA A UTILIZAÇÃO PESSOAL E NÃO COMERCIAL POR PARTE DE UM CONSUMIDOR PARA (i) CODIFICAR VÍDEO EM CONFORMIDADE COM O PADRÃO MPEG-4 VISUAL ("VÍDEO MPEG-4") E/OU (ii) DESCODIFICAR VÍDEO MPEG-4 QUE TENHA SIDO CODIFICADO POR UM CONSUMIDOR NO ÂMBITO DE UMA ATIVIDADE PESSOAL E NÃO COMERCIAL E/OU OBTIDO DE UM FORNECEDOR DE VÍDEO LICENCIADO PELA MPEG LA PARA FORNECER VÍDEO MPEG-4. NÃO É CONCEDIDA NEM ESTÁ IMPLÍCITA QUALQUER LICENÇA PARA QUALQUER OUTRA UTILIZAÇÃO. É POSSÍVEL OBTER MAIS INFORMAÇÕES, INCLUINDO INFORMAÇÕES RELACIONADAS COM A UTILIZAÇÃO E O LICENCIAMENTO PROMOCIONAIS, INTERNOS E COMERCIAIS, JUNTO DA MPEG LA, LLC., EM HTTP://WWW.MPEGLA.COM.
 </p>
</section>
