<!DOCTYPE html>
<html lang="fa" dir="rtl">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>شرایط خدمات تکمیلی Google Chrome و «سیستم‌عامل Chrome»</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 شرایط خدمات تکمیلی Google Chrome و «سیستم‌عامل Chrome»
</h2>
<p>
  تاریخ آخرین تغییر: <time datetime="2023-09-08">۱۷ شهریور ۱۴۰۲</time>
</p>
<p>
 درصورت استفاده از Chrome یا «سیستم‌عامل Chrome»، با «شرایط و ضوابط Google» موجود در https://policies.google.com/terms و این «شرایط خدمات تکمیلی» Google Chrome و «سیستم‌عامل Chrome» موافقت می‌کنید.
</p>
<p>
 این «شرایط خدمات تکمیلی Google Chrome و سیستم عامل Chrome» در مورد نسخه قابل‌اجرای کد Chrome و «سیستم عامل Chrome» اعمال می‌شود. براساس قراردادهای پروانه نرم‌افزار متن‌باز در chrome://credits، بیشتر کدهای منبع برای Chrome به‌صورت رایگان در دسترس است.
</p>
<p>
 استفاده شما از برخی بخش‌های Chrome و «سیستم‌عامل Chrome» تابع شرایط زیر است:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  این محصول دارای پروانه مجموع حق امتیازهای AVC جهت استفاده شخصی مصرف‌کننده یا استفاده‌های دیگر در موارد زیر است (به‌شرطی که برای انجام آن‌ها مزدی دریافت نشود): (۱) کدبندی ویدیو مطابق با استاندارد AVC («ویدیوی AVC») و/یا (۲) رمزگشایی ویدیوی AVC که توسط مصرف‌کننده مشغول به فعالیت شخصی کدبندی شده باشد و/یا از ارائه‌دهنده ویدیوی دارای پروانه برای ارائه ویدیوی AVC گرفته شده باشد. هیچگونه پروانه‌ای برای دیگر موارد استفاده ارائه نشده و به‌صورت ضمنی نیز موجود نخواهد بود. اطلاعات دیگر را می توانید از MPEG LA, L.L.C. کسب کنید. به آدرس HTTP://WWW.MPEGLA.COM مراجعه کنید.
 </p>
</section>
<section>
</section>
<p>
 به‌علاوه، استفاده شما از برخی بخش‌های «سیستم‌عامل Chrome» منوط به شرایط زیر است:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  این محصول دارای پروانه مجموع حق امتیازهای تصویری MPEG-4 جهت استفاده شخصی و غیرتجاری مصرف‌کننده برای موارد زیر است (۱) کدبندی ویدیو مطابق با استاندارد تصویری MPEG-4 (\«ویدیوی MPEG-4\») و/یا (۲) رمزگشایی ویدیوی MPEG-4 که توسط مصرف‌کننده مشغول به فعالیت شخصی و غیرتجاری کدبندی شده باشد و/یا از ارائه‌دهنده ویدیوی دارای پروانه از MPEG LA برای ارائه ویدیوی MPEG-4 گرفته شده باشد. هیچگونه پروانه‌ای برای دیگر موارد استفاده ارائه نشده و به‌صورت ضمنی نیز موجود نخواهد بود. اطلاعات تکمیلی (ازجمله اطلاعات مربوط به استفاده‌های تبلیغاتی، داخلی، و تجاری و اطلاعات مربوط به صدور پروانه در این زمینه‌ها) را می‌توان از MPEG LA, LLC دریافت کرد. به HTTP://WWW.MPEGLA.COM مراجعه کنید.
 </p>
</section>
