<!DOCTYPE html>
<html lang="ru" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Дополнительные условия использования Chrome и ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Дополнительные условия использования Chrome и ChromeOS
</h2>
<p>
 Последнее изменение: <time datetime="2023-09-08">8 сентября 2023 г.</time>
</p>
<p>
 Используя Chrome или ChromeOS, Вы принимаете Условия использования Google, опубликованные на странице https://policies.google.com/terms, а также настоящие Дополнительные условия использования Chrome и ChromeOS.
</p>
<p>
 Настоящие Дополнительные условия использования Google Chrome и ChromeOS применяются к исполняемому коду Chrome и ChromeOS. Большая часть исходного кода Google Chrome предоставляется бесплатно на условиях лицензионного соглашения на программное обеспечение с открытым исходным кодом. Соглашение опубликовано на странице chrome://credits.
</p>
<p>
 Использование некоторых компонентов Chrome и ChromeOS регулируется следующими условиями:
</p>
<section>
 <p>
  <strong>
   ТЕХНОЛОГИЯ AVC
  </strong>
 </p>
 <p>
  ПРОДУКТ ПРЕДОСТАВЛЯЕТСЯ ПО ЛИЦЕНЗИИ В СОСТАВЕ ПОРТФЕЛЯ ПАТЕНТНЫХ ЛИЦЕНЗИЙ НА ТЕХНОЛОГИЮ AVC ДЛЯ ЛИЧНОГО И ИНОГО НЕКОММЕРЧЕСКОГО ИСПОЛЬЗОВАНИЯ ПОТРЕБИТЕЛЕМ С ЦЕЛЬЮ 1) КОДИРОВАНИЯ ВИДЕО В СООТВЕТСТВИИ СО СТАНДАРТОМ AVC (ДАЛЕЕ – AVC-ВИДЕО) И/ИЛИ 2) ДЕКОДИРОВАНИЯ AVC-ВИДЕО, КОТОРОЕ ПОЛЬЗОВАТЕЛЬ ЗАКОДИРОВАЛ В ЛИЧНЫХ И НЕКОММЕРЧЕСКИХ ЦЕЛЯХ И/ИЛИ ПОЛУЧИЛ ОТ ПОСТАВЩИКА, ОБЛАДАЮЩЕГО ЛИЦЕНЗИЕЙ НА ПОСТАВКУ AVC-ВИДЕО. В ИНЫХ ЦЕЛЯХ НИКАКИХ ЛИЦЕНЗИЙ НЕ ПРЕДОСТАВЛЯЕТСЯ И НЕ ПРЕДПОЛАГАЕТСЯ. ЗА ДОПОЛНИТЕЛЬНОЙ ИНФОРМАЦИЕЙ ОБРАЩАЙТЕСЬ В КОМПАНИЮ MPEG LA, L.L.C. СМ. HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Кроме того, использование некоторых компонентов ChromeOS регулируется следующими условиями:
</p>
<section>
 <p>
  <strong>
   ТЕХНОЛОГИЯ MPEG-4
  </strong>
 </p>
 <p>
  ПРОДУКТ ПРЕДОСТАВЛЯЕТСЯ ПО ЛИЦЕНЗИИ В СОСТАВЕ ПОРТФЕЛЯ ПАТЕНТНЫХ ЛИЦЕНЗИЙ НА ТЕХНОЛОГИЮ MPEG-4 ДЛЯ ЛИЧНОГО И НЕКОММЕРЧЕСКОГО ИСПОЛЬЗОВАНИЯ ПОТРЕБИТЕЛЕМ С ЦЕЛЬЮ 1) КОДИРОВАНИЯ ВИДЕО В СООТВЕТСТВИИ С ВИЗУАЛЬНЫМ СТАНДАРТОМ MPEG-4 (ДАЛЕЕ – ВИДЕО MPEG-4) И/ИЛИ 2) ДЕКОДИРОВАНИЯ ВИДЕО MPEG-4, КОТОРОЕ ПОЛЬЗОВАТЕЛЬ ЗАКОДИРОВАЛ В ЛИЧНЫХ И НЕКОММЕРЧЕСКИХ ЦЕЛЯХ И/ИЛИ ПОЛУЧИЛ ОТ ПОСТАВЩИКА, ОБЛАДАЮЩЕГО ЛИЦЕНЗИЕЙ КОМПАНИИ MPEG LA НА ПОСТАВКУ ВИДЕО MPEG-4. В ИНЫХ ЦЕЛЯХ НИКАКИХ ЛИЦЕНЗИЙ НЕ ПРЕДОСТАВЛЯЕТСЯ И НЕ ПРЕДПОЛАГАЕТСЯ. ЗА ДОПОЛНИТЕЛЬНОЙ ИНФОРМАЦИЕЙ, ВКЛЮЧАЯ СВЕДЕНИЯ О ЛИЦЕНЗИРОВАНИИ И ИСПОЛЬЗОВАНИИ В ЛИЧНЫХ, РЕКЛАМНЫХ ИЛИ КОММЕРЧЕСКИХ ЦЕЛЯХ, ОБРАЩАЙТЕСЬ В КОМПАНИЮ MPEG LA, LLC. СМ. HTTP://WWW.MPEGLA.COM.
 </p>
</section>
