<!DOCTYPE html>
<html lang="el" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Πρόσθετοι Όροι Παροχής Υπηρεσιών Google Chrome και ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Πρόσθετοι Όροι Παροχής Υπηρεσιών Google Chrome και ChromeOS
</h2>
<p>
 Τελευταία τροποποίηση: <time datetime="2023-09-08">8 Σεπτεμβρίου 2023</time>
</p>
<p>
 Χρησιμοποιώντας το Chrome ή το ChromeOS, συμφωνείτε με τους Όρους Παροχής Υπηρεσιών της Google που μπορείτε να βρείτε στη διεύθυνση https://policies.google.com/terms και με τους Πρόσθετους Όρους Παροχής Υπηρεσιών του Google Chrome και του ChromeOS.
</p>
<p>
 Αυτοί οι Πρόσθετοι Όροι Παροχής Υπηρεσιών του Google Chrome και του ChromeOS ισχύουν για την έκδοση εκτελέσιμου κώδικα του Chrome και του ChromeOS. Το μεγαλύτερο μέρος του πηγαίου κώδικα του Chrome διατίθεται δωρεάν μέσω αδειών χρήσης λογισμικού ανοικτού κώδικα στη διεύθυνση chrome://credits.
</p>
<p>
 Η από μέρους σας χρήση συγκεκριμένων στοιχείων του Chrome και του ChromeOS υπόκειται στους παρακάτω όρους:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  Η ΑΔΕΙΑ ΧΡΗΣΗΣ ΤΟΥ ΠΑΡΟΝΤΟΣ ΠΡΟΪΟΝΤΟΣ ΠΑΡΕΧΕΤΑΙ ΣΥΜΦΩΝΑ ΜΕ ΤΟΥΣ ΟΡΟΥΣ ΤΩΝ ΑΔΕΙΩΝ ΧΡΗΣΗΣ ΤΟΥ ΣΥΝΟΛΟΥ ΔΙΠΛΩΜΑΤΩΝ ΕΥΡΕΣΙΤΕΧΝΙΑΣ ΓΙΑ ΤΟ ΠΡΟΤΥΠΟ AVC ΓΙΑ ΠΡΟΣΩΠΙΚΗ ΧΡΗΣΗ ΕΚ ΜΕΡΟΥΣ ΕΝΟΣ ΚΑΤΑΝΑΛΩΤΗ Ή ΓΙΑ ΑΛΛΕΣ ΧΡΗΣΕΙΣ ΣΤΙΣ ΟΠΟΙΕΣ ΔΕΝ ΛΑΜΒΑΝΕΙ ΑΜΟΙΒΕΣ ΓΙΑ ΤΗΝ (i) ΚΩΔΙΚΟΠΟΙΗΣΗ ΒΙΝΤΕΟ ΣΥΜΦΩΝΑ ΜΕ ΤΟ ΠΡΟΤΥΠΟ AVC ("AVC VIDEO") 'Η/ΚΑΙ (ii) ΑΠΟΚΩΔΙΚΟΠΟΙΗΣΗ ΒΙΝΤΕΟ AVC ΠΟΥ ΚΩΔΙΚΟΠΟΙΗΘΗΚΕ ΑΠΟ ΕΝΑΝ ΚΑΤΑΝΑΛΩΤΗ ΠΟΥ ΑΝΑΠΤΥΣΣΕΙ ΠΡΟΣΩΠΙΚΗ ΔΡΑΣΤΗΡΙΟΤΗΤΑ Ή/ΚΑΙ ΑΠΟΚΤΗΘΗΚΕ ΑΠΟ ΕΝΑΝ ΠΑΡΟΧΟ ΒΙΝΤΕΟ ΠΟΥ ΕΙΝΑΙ ΕΞΟΥΣΙΟΔΟΤΗΜΕΝΟΣ ΓΙΑ ΤΗΝ ΠΑΡΟΧΗ ΒΙΝΤΕΟ AVC. ΔΕΝ ΠΑΡΕΧΕΤΑΙ ΑΔΕΙΑ ΟΥΤΕ ΝΟΕΙΤΑΙ ΟΤΙ ΠΑΡΕΧΕΤΑΙ ΑΔΕΙΑ ΓΙΑ ΟΠΟΙΑΔΗΠΟΤΕ ΑΛΛΗ ΧΡΗΣΗ. ΕΠΙΠΛΕΟΝ ΠΛΗΡΟΦΟΡΙΕΣ ΕΙΝΑΙ ΔΙΑΘΕΣΙΜΕΣ ΑΠΟ ΤΟΝ ΦΟΡΕΑ MPEG LA, L.L.C. ΑΝΑΤΡΕΞΤΕ ΣΤΗ ΔΙΕΥΘΥΝΣΗ HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Επίσης, η από μέρους σας χρήση συγκεκριμένων στοιχείων του ChromeOS υπόκειται στους παρακάτω όρους:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  Η ΑΔΕΙΑ ΧΡΗΣΗΣ ΤΟΥ ΠΑΡΟΝΤΟΣ ΠΡΟΪΟΝΤΟΣ ΠΑΡΕΧΕΤΑΙ ΣΥΜΦΩΝΑ ΜΕ ΤΟΥΣ ΟΡΟΥΣ ΤΩΝ ΑΔΕΙΩΝ ΧΡΗΣΗΣ ΤΟΥ ΣΥΝΟΛΟΥ ΔΙΠΛΩΜΑΤΩΝ ΕΥΡΕΣΙΤΕΧΝΙΑΣ ΓΙΑ ΤΟ ΠΡΟΤΥΠΟ MPEG-4 ΓΙΑ ΠΡΟΣΩΠΙΚΗ ΚΑΙ ΜΗ ΕΜΠΟΡΙΚΗ ΧΡΗΣΗ ΕΝΟΣ ΚΑΤΑΝΑΛΩΤΗ ΓΙΑ ΤΗΝ (i) ΚΩΔΙΚΟΠΟΙΗΣΗ ΒΙΝΤΕΟ ΣΥΜΦΩΝΑ ΜΕ ΤΟ ΠΡΟΤΥΠΟ ΕΙΚΟΝΑΣ MPEG-4 ("MPEG-4 ΒΙΝΤΕΟ") Ή/ΚΑΙ ΤΗΝ (ii) ΑΠΟΚΩΔΙΚΟΠΟΙΗΣΗ ΒΙΝΤΕΟ MPEG-4 ΠΟΥ ΚΩΔΙΚΟΠΟΙΗΘΗΚΕ ΑΠΟ ΕΝΑΝ ΚΑΤΑΝΑΛΩΤΗ ΠΟΥ ΑΝΑΠΤΥΣΣΕΙ ΠΡΟΣΩΠΙΚΗ ΚΑΙ ΟΧΙ ΕΜΠΟΡΙΚΗ ΔΡΑΣΤΗΡΙΟΤΗΤΑ Ή/ΚΑΙ ΑΠΟΚΤΗΘΗΚΕ ΑΠΟ ΕΝΑΝ ΠΑΡΟΧΟ ΒΙΝΤΕΟ ΠΟΥ ΕΙΝΑΙ ΕΞΟΥΣΙΟΔΟΤΗΜΕΝΟΣ ΑΠΟ ΤΗΝ MPEG LA ΓΙΑ ΤΗΝ ΠΑΡΟΧΗ ΒΙΝΤΕΟ MPEG-4. ΔΕΝ ΠΑΡΕΧΕΤΑΙ ΑΔΕΙΑ ΟΥΤΕ ΝΟΕΙΤΑΙ ΟΤΙ ΠΑΡΕΧΕΤΑΙ ΑΔΕΙΑ ΓΙΑ ΟΠΟΙΑΔΗΠΟΤΕ ΑΛΛΗ ΧΡΗΣΗ. ΛΑΒΕΤΕ ΠΡΟΣΘΕΤΕΣ ΠΛΗΡΟΦΟΡΙΕΣ, ΣΥΜΠΕΡΙΛΑΜΒΑΝΟΜΕΝΩΝ ΕΚΕΙΝΩΝ ΠΟΥ ΣΧΕΤΙΖΟΝΤΑΙ ΜΕ ΤΗ ΠΡΟΩΘΗΤΙΚΗ, ΕΣΩΤΕΡΙΚΗ ΚΑΙ  ΕΜΠΟΡΙΚΗ ΧΡΗΣΗ ΚΑΙ ΑΔΕΙΟΔΟΤΗΣΗ, ΑΠΟ ΤΗΝ MPEG LA, LLC. ΑΝΑΤΡΕΞΤΕ ΣΤΗ ΔΙΕΥΘΥΝΣΗ HTTP://WWW.MPEGLA.COM.
 </p>
</section>
