<!DOCTYPE html>
<html lang="vi" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Điều khoản dịch vụ bổ sung của Google Chrome và ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Điều khoản dịch vụ bổ sung của Google Chrome và ChromeOS
</h2>
<p>
 Lần sửa đổi gần đây nhất: <time datetime="2023-09-08">ngày 8 tháng 9 năm 2023</time>
</p>
<p>
 Bằng việc sử dụng Chrome hoặc ChromeOS, bạn đồng ý với Điều khoản dịch vụ của Google có tại https://policies.google.com/terms cũng như các Điều khoản dịch vụ bổ sung sau đây của Google Chrome và ChromeOS.
</p>
<p>
 Các Điều khoản dịch vụ bổ sung này của Google Chrome và ChromeOS áp dụng cho phiên bản mã thực thi của Chrome và ChromeOS. Bạn có thể sử dụng miễn phí hầu hết mã nguồn dành cho Chrome theo thỏa thuận cấp phép phần mềm nguồn mở tại chrome://credits.
</p>
<p>
 Bạn phải tuân thủ các điều khoản bổ sung dưới đây khi sử dụng một số thành phần của Chrome và ChromeOS:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  SẢN PHẨM NÀY ĐƯỢC CẤP PHÉP THEO GIẤY PHÉP DANH MỤC BẰNG SÁNG CHẾ AVC CHO MỤC ĐÍCH SỬ DỤNG CÁ NHÂN CỦA NGƯỜI DÙNG CÁ NHÂN HOẶC CHO MỤC ĐÍCH SỬ DỤNG KHÁC KHÔNG NHẬN THÙ LAO ĐỂ (i) MÃ HÓA VIDEO THEO CHUẨN AVC (“VIDEO AVC”) VÀ/HOẶC (ii) GIẢI MÃ VIDEO AVC DO NGƯỜI DÙNG CÁ NHÂN MÃ HÓA LIÊN QUAN ĐẾN MỘT HOẠT ĐỘNG CÁ NHÂN VÀ/HOẶC GIẢI MÃ VIDEO AVC LẤY TỪ MỘT NHÀ CUNG CẤP VIDEO CÓ GIẤY PHÉP CUNG CẤP VIDEO AVC. GIẤY PHÉP KHÔNG ĐƯỢC CẤP HOẶC XEM NHƯ ĐƯỢC CẤP CHO BẤT KỲ MỤC ĐÍCH NÀO KHÁC. BẠN CÓ THỂ THAM KHẢO THÊM THÔNG TIN TỪ MPEG LA, L.L.C BẰNG CÁCH TRUY CẬP VÀO HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Ngoài ra, bạn phải tuân thủ những điều khoản sau đây khi sử dụng các thành phần nhất định của ChromeOS:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  SẢN PHẨM NÀY ĐƯỢC CẤP PHÉP THEO GIẤY PHÉP DANH MỤC BẰNG SÁNG CHẾ HÌNH ẢNH MPEG-4 CHO MỤC ĐÍCH CÁ NHÂN VÀ PHI THƯƠNG MẠI CỦA NGƯỜI DÙNG CÁ NHÂN ĐỂ (i) MÃ HÓA VIDEO THEO CHUẨN HÌNH ẢNH MPEG-4 ("VIDEO MPEG-4") VÀ/HOẶC (ii) GIẢI MÃ VIDEO MPEG-4 DO NGƯỜI DÙNG CÁ NHÂN MÃ CÓ LIÊN QUAN ĐẾN MỘT HOẠT ĐỘNG CÁ NHÂN VÀ PHI THƯƠNG MẠI VÀ/HOẶC GIẢI MÃ VIDEO MPEG-4 LẤY TỪ MỘT NHÀ CUNG CẤP VIDEO ĐƯỢC MPEG LA CẤP PHÉP CUNG CẤP VIDEO MPEG-4. GIẤY PHÉP KHÔNG ĐƯỢC CẤP HOẶC XEM NHƯ ĐƯỢC CẤP CHO BẤT KỲ MỤC ĐÍCH NÀO KHÁC. BẠN CÓ THỂ THAM KHẢO THÊM THÔNG TIN TỪ MPEG LA, LLC, KỂ CẢ THÔNG TIN LIÊN QUAN ĐẾN MỤC ĐÍCH SỬ DỤNG CHO QUẢNG CÁO, THƯƠNG MẠI VÀ NỘI BỘ BẰNG CÁCH TRUY CẬP VÀO HTTP://WWW.MPEGLA.COM.
 </p>
</section>
