<!DOCTYPE html>
<html lang="zh-CN" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome 和 ChromeOS 附加服务条款</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome 和 ChromeOS 附加服务条款
</h2>
<p>
 上次修改时间：<time datetime="2023-09-08">2023 年 9 月 8 日</time>
</p>
<p>
 使用 Chrome 或 ChromeOS 即表示您同意接受《Google 服务条款》（全文请见 https://policies.google.com/terms）以及这些 Google Chrome 和 ChromeOS 附加服务条款。
</p>
<p>
 这些 Google Chrome 和 ChromeOS 附加服务条款适用于 Chrome 和 ChromeOS 的可执行代码版本。Chrome 的大部分源代码都根据开源软件许可协议（详见 chrome://credits）免费提供。
</p>
<p>
 您在使用 Chrome 和 ChromeOS 的某些组件时应遵守以下条款：
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  该产品拥有 AVC 专利组合许可 (AVC Patent Portfolio License)，可供消费者出于个人或非营利目的 (i) 对符合 AVC 标准的视频（以下简称“AVC 视频”）进行编码，以及/或者 (ii) 对消费者在个人活动中编码的 AVC 视频和/或通过有权提供 AVC 视频的视频提供方获得的 AVC 视频进行解码。对于其他任何用途，本协议均未授予或暗示授予许可。若想获取更多信息，请访问 MPEG LA 有限公司的网站 (http://www.mpegla.com)。
 </p>
</section>
<section>
</section>
<p>
 此外，您在使用 ChromeOS 的某些组件时还应遵守以下条款：
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  该产品拥有 MPEG-4 视觉专利组合许可 (MPEG-4 Visual Patent Portfolio License)，可供消费者出于个人和非商业目的 (i) 对符合 MPEG-4 视觉标准的视频（以下简称“MPEG-4 视频”）进行编码，以及/或者 (ii) 对以下视频进行解码：消费者在个人和非商业活动中编码的 MPEG-4 视频和/或 MPEG LA 公司授权提供 MPEG-4 视频的视频提供方提供的 MPEG-4 视频。对于其他任何用途，本协议均未授予或暗示授予许可。若想获取更多信息（包括与宣传用途/内部用途/商业用途和许可有关的信息），请访问 MPEG LA 有限公司的网站 (http://www.mpegla.com)。
 </p>
</section>
