<!DOCTYPE html>
<html lang="zh-TW" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome 和 ChromeOS 的《附加服務條款》</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome 和 ChromeOS 的《附加服務條款》
</h2>
<p>
 上次修改日期：<time datetime="2023-09-08">2023 年 9 月 8 日</time>
</p>
<p>
 使用 Chrome 或 ChromeOS ，即表示您同意 https://policies.google.com/terms 所述的《Google 服務條款》，以及 Google Chrome 和 ChromeOS 的《附加服務條款》。
</p>
<p>
 這些 Google Chrome 和 ChromeOS 的《附加服務條款》適用於 Chrome 和 ChromeOS 的可執行程式碼版本。依據開放原始碼軟體授權協議 (位於 chrome://credits)，您可以免費取得 Chrome 大部分的原始碼。
</p>
<p>
 您使用 Chrome 和 ChromeOS 的特定元件時，應遵守下列條款的規定：
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  本產品係經 AVC PATENT PORTFOLIO LICENSE 授權，適用於消費者的個人及非商業用途。消費者使用時得 (i) 遵照 AVC STANDARD 編碼影片 (「AVC 影片」)，及/或 (ii) 對於從事非商業性個人活動之消費者所編碼之影片，及/或自經授權可提供 AVC 影片之影片供應商處所取得之影片，進行解碼。 本條款不授予或默示允許任何其他使用授權。您亦可從 MPEG LA, L.L.C. 取得其他資訊，網址是 HTTP://WWW.MPEGLA.COM。
 </p>
</section>
<section>
</section>
<p>
 此外，您使用 ChromeOS 的特定元件時，應遵守下列條款的規定：
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  本產品係經 MPEG-4 VISUAL PATENT PORTFOLIO LICENSE 授權，適用於消費者的個人及非商業用途。消費者使用時得 (i) 遵照 MPEG-4 VISUAL STANDARD 編碼影片 (「MPEG-4 影片」)，及/或 (ii) 對從事非商業性個人活動的消費者所編碼的影片，及/或自經授權可提供 MPEG LA 影片的影片供應商處所取得的影片，進行解碼。本條款不授予或默示允許任何其他使用授權。如需宣傳、內部及商業用途與授權的相關資訊，請造訪 MPEG LA, LLC 網站，網址為 HTTP://WWW.MPEGLA.COM。
 </p>
</section>
