<!DOCTYPE html>
<html lang="kn" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome ಮತ್ತು ChromeOS ಹೆಚ್ಚುವರಿ ಸೇವಾ ನಿಯಮಗಳು</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome ಮತ್ತು ChromeOS ಹೆಚ್ಚುವರಿ ಸೇವಾ ನಿಯಮಗಳು
</h2>
<p>
 ಕೊನೆಯದಾಗಿ ಮಾರ್ಪಡಿಸಿದ ದಿನಾಂಕ: <time datetime="2023-09-08">ಸೆಪ್ಟೆಂಬರ್ 8, 2023</time>
</p>
<p>
 Chrome ಅಥವಾ ChromeOS ಅನ್ನು ಬಳಸುವ ಮೂಲಕ, https://policies.google.com/terms ನಲ್ಲಿನ Google ಸೇವಾ ನಿಯಮಗಳು ಮತ್ತು ಈ Google Chrome ಮತ್ತು ChromeOS ನ ಹಚ್ಚುವರಿ ಸೇವಾ ನಿಯಮಗಳಿಗೆ ನೀವು ಸಮ್ಮತಿಸುತ್ತೀರಿ.
</p>
<p>
 ಈ Google Chrome ಮತ್ತು ChromeOS ನ ಹೆಚ್ಚುವರಿ ಸೇವಾ ನಿಯಮಗಳು, Chrome ಮತ್ತು ChromeOS ನ ಕಾರ್ಯಗತಗೊಳಿಸಬಹುದಾದ ಕೋಡ್ ಆವೃತ್ತಿಗೆ ಅನ್ವಯಿಸುತ್ತವೆ. ಓಪನ್ ಸೋರ್ಸ್ ಸಾಫ್ಟ್‌ವೇರ್ ಪರವಾನಗಿ ಒಪ್ಪಂದಗಳ ಅಡಿಯಲ್ಲಿ, Chrome ‌ನ ಬಹುಪಾಲು ಮೂಲ ಕೋಡ್ ಅನ್ನು chrome://credits ನಲ್ಲಿ ಉಚಿತವಾಗಿ ಪಡೆಯಬಹುದು.
</p>
<p>
 Chrome ಮತ್ತು ChromeOS ನ ಕೆಲವು ಘಟಕಗಳ ನಿಮ್ಮ ಬಳಕೆಯು ಈ ಕೆಳಗಿನ ನಿಯಮಗಳಿಗೆ ಒಳಪಟ್ಟಿರುತ್ತದೆ:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ಈ ಉತ್ಪನ್ನವು ಈ ಮುಂದಿನ ಕಾರ್ಯಗಳಿಗಾಗಿ ಸಂಭಾವನೆಯನ್ನು ಪಡೆಯದ ಗ್ರಾಹಕರ ವೈಯುಕ್ತಿಕ ಅಥವಾ ಇತರ ಬಳಕೆಗಾಗಿ AVC ಪೇಟೆಂಟ್ ಪೋರ್ಟ್‌ಫೋಲಿಯೊ ಪರವಾನಗಿಯ ಅಡಿಯಲ್ಲಿ ಪರವಾನಗಿ ಪಡೆದಿದೆ (i) AVC ಪ್ರಮಾಣ ("AVC ವೀಡಿಯೊ") ದೊಂದಿಗೆ ಅನುಗುಣವಾಗಿ ವೀಡಿಯೊ ಎನ್‌ಕೋಡ್ ಮಾಡಲು ಮತ್ತು/ಅಥವಾ (ii)ವೈಯಕ್ತಿಕ ಚಟುವಟಿಕೆಯೊಂದರಲ್ಲಿ ತೊಡಗಿಕೊಂಡಿರುವ ಗ್ರಾಹಕರೊಬ್ಬರು ಎನ್‌ಕೋಡ್ ಮಾಡಿದ ಮತ್ತು/ಅಥವಾ AVC ವೀಡಿಯೊವನ್ನು ಒದಗಿಸಲು ಪರವಾನಗಿ ಪಡೆದ ವೀಡಿಯೊ ಪೂರೈಕೆದಾರರಿಂದ ಪಡೆದ AVC ವೀಡಿಯೊವನ್ನು ಡಿಕೋಡ್ ಮಾಡಲು. ಯಾವುದೇ ಇತರ ಬಳಕೆಗಾಗಿ ಯಾವುದೇ ಪರವಾನಗಿಯನ್ನು ನೀಡಲಾಗುವುದಿಲ್ಲ ಅಥವಾ ಪರೋಕ್ಷವಾಗಿ ಸೂಚಿಸಲಾಗುವುದಿಲ್ಲ. ಹೆಚ್ಚುವರಿ ಮಾಹಿತಿಯನ್ನು MPEG LA, L.L.C. ನಿಂದ ಪಡೆದುಕೊಳ್ಳಬಹುದು. HTTP://WWW.MPEGLA.COM ಅನ್ನು ನೋಡಿ.
 </p>
</section>
<section>
</section>
<p>
 ಹೆಚ್ಚುವರಿಯಾಗಿ, ChromeOS ನ ಕೆಲವು ಘಟಕಗಳ ಕುರಿತ ನಿಮ್ಮ ಬಳಕೆಯು ಈ ಕೆಳಗಿನ ನಿಯಮಗಳಿಗೆ ಒಳಪಟ್ಟಿರುತ್ತವೆ:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  ಈ ಉತ್ಪನ್ನವು ಈ ಮುಂದಿನ ಕಾರಣಗಳಿಗಾಗಿ ಗ್ರಾಹಕರ ವೈಯಕ್ತಿಕ ಮತ್ತು ವಾಣಿಜ್ಯೇತರ ಬಳಕೆಗಾಗಿ MPEG-4 ವಿಷುವಲ್ ಪೇಟೆಂಟ್ ಪೋರ್ಟ್‌ಫೋಲಿಯೊ ಪರವಾನಗಿ ಅಡಿಯಲ್ಲಿ ಪರವಾನಗಿ ಪಡೆದಿದೆ (i) MPEG-4 ದೃಶ್ಯ ಮಾನದಂಡಕ್ಕೆ ಅನುಗುಣವಾಗಿ ವೀಡಿಯೊವನ್ನು ಎನ್‌ಕೋಡ್ ಮಾಡಲು ("MPEG-4 ವೀಡಿಯೊ") ಮತ್ತು ಅಥವಾ (ii) ವೈಯಕ್ತಿಕ ಮತ್ತು ವಾಣಿಜ್ಯೇತರ ಚಟುವಟಿಕೆಯೊಂದರಲ್ಲಿ ತೊಡಗಿಕೊಂಡಿರುವ ಗ್ರಾಹಕರೊಬ್ಬರು ಎನ್‌ಕೋಡ್ ಮಾಡಿದ ಮತ್ತು/ಅಥವಾ MPEG-4 ವಿಡಿಯೋವನ್ನು ಒದಗಿಸಲು MPEG LA ಪರವಾನಗಿ ಪಡೆದ ವೀಡಿಯೊ ಪೂರೈಕೆದಾರರಿಂದ ಪಡೆದ MPEG-4 ವೀಡಿಯೊವನ್ನು ಡಿಕೋಡ್ ಮಾಡಲು. ಯಾವುದೇ ಇತರ ಬಳಕೆಗಾಗಿ ಯಾವುದೇ ಪರವಾನಗಿಯನ್ನು ನೀಡಲಾಗುವುದಿಲ್ಲ ಅಥವಾ ಪರೋಕ್ಷವಾಗಿ ಸೂಚಿಸಲಾಗುವುದಿಲ್ಲ. ಪ್ರಚಾರ, ಆಂತರಿಕ ಮತ್ತು ವಾಣಿಜ್ಯ ಬಳಕೆಗಳು ಮತ್ತು ಪರವಾನಗಿಗಳ ಕುರಿತು ಹೆಚ್ಚಿನ ಮಾಹಿತಿಯನ್ನು MPEG LA, LLC ನಿಂದ ಪಡೆಯಬಹುದು. HTTP://WWW.MPEGLA.COM ಅನ್ನು ನೋಡಿ.
 </p>
</section>
