<!DOCTYPE html>
<html lang="sw" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Sheria na Masharti ya Ziada ya Google Chrome na ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Sheria na Masharti ya Ziada ya Google Chrome na ChromeOS
</h2>
<p>
 Mara ya mwisho kubadilishwa: <time datetime="2023-09-08">8 Septemba 2023</time>
</p>
<p>
 Kwa kutumia Chrome au ChromeOS, unakubali Sheria na Masharti ya Google kwenye https://policies.google.com/terms na Sheria na Masharti haya ya Ziada ya Google Chrome na ChromeOS.
</p>
<p>
 Sheria na Masharti haya ya Ziada ya Chrome na ChromeOS yatatumika kwa misimbo inayoweza kutekelezwa ya matoleo ya Chrome na ChromeOS. Sehemu kubwa ya msimbo wa tovuti wa Chrome inapatikana bila malipo chini ya makubaliano ya leseni za programu huria kwenye chrome://credits.
</p>
<p>
 Utumiaji wako wa vipengele fulani vya Chrome na ChromeOS unategemea sheria na masharti yafuatayo:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  BIDHAA HII IMEPEWA LESENI CHINI YA MKUSANYIKO WA LESENI ZA HATAZA ZA AVC KWA MATUMIZI YA BINAFSI YA MTUMIAJI AU MATUMIZI MENGINE AMBAKO HAYAPOKEI MALIPO ILI (i) KUSIMBA VIDEO KWA KUZINGATIA VIWANGO VYA AVC ("VIDEO YA AVC") NA/AU (ii) KUSIMBUA VIDEO YA AVC AMBAYO ILISIMBWA NA MTUMIAJI ANAYESHIRIKI KATIKA SHUGHULI BINAFSI NA/AU ILITOKA KWA MTOA HUDUMA ZA VIDEO ALIYEIDHINISHWA KUTOA VIDEO ZA AVC. HAKUNA LESENI INAYOTOLEWA AU AMBAYO ITACHUKULIWA KWA AJILI YA MATUMIZI MENGINEYO. MAELEZO YA ZIADA YANAWEZA KUPATIKANA KATIKA MPEG LA, L.L.C. ANGALIA HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Kwa kuongezea, utumiaji wako wa vipengele fulani vya ChromeOS unafaa kutii masharti yafuatayo:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  BIDHAA HII IMEPEWA LESENI CHINI YA ORODHA YA LESENI ZA HATAZA ZA MPEG-4 VISUAL KWA MATUMIZI YA BINAFSI NA YASIYO YA KIBIASHARA YA MTUMIAJI ILI (i) KUSIMBA VIDEO KWA KUZINGATIA VIWANGO VYA MPEG-4 VISUAL ("VIDEO ZA MPEG-4") NA/AU (ii) KUSIMBUA VIDEO YA MPEG-4 AMBAYO ILISIMBWA NA MTUMIAJI ANAYESHIRIKI KATIKA SHUGHULI BINAFSI NA ISIYO YA BIASHARA NA/AU ILITOKA KWA MTOA HUDUMA ZA VIDEO ALIYEIDHINISHWA NA MPEG LA ILI KUTOA VIDEO ZA MPEG-4. HAKUNA LESENI INAYOTOLEWA AU AMBAYO ITACHUKULIWA KWA AJILI YA MATUMIZI MENGINEYO. MAELEZO YA ZIADA YAKIWEMO YALE YANAYOHUSIANA NA MATUMIZI YA UTANGAZAJI WA NDANI NA WA KIBIASHARA NA UTOAJI LESENI YANAWEZA KUPATIKANA KUTOKA MPEG LA, LLC. ANGALIA HTTP://WWW.MPEGLA.COM.
 </p>
</section>
