<!DOCTYPE html>
<html lang="et" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome'i ja ChromeOS-i lisateenusetingimused</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome'i ja ChromeOS-i lisateenusetingimused
</h2>
<p>
 Viimati muudetud: <time datetime="2023-09-08">8. september 2023</time>
</p>
<p>
 Kasutades Chrome'i või ChromeOS-i, nõustute Google'i teenusetingimustega, mis asuvad saidil https://policies.google.com/terms, ning Google Chrome'i ja ChromeOS-i lisateenusetingimustega.
</p>
<p>
 Need Google Chrome'i ja ChromeOS-i lisateenusetingimused kehtivad Chrome'i ning ChromeOS-i täitmiskoodiga versioonide korral. Enamik Chrome'i lähtekoodist on tasuta saadaval avatud lähtekoodiga tarkvara litsentsilepingu alusel aadressil chrome://credits.
</p>
<p>
 Chrome'i ja ChromeOS-i teatud komponentide kasutamisel kehtivad järgmised tingimused.
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  SEE TOODE ON LITSENTSITUD AVC PATENT PORTFOLIO LITSENTSI ALUSEL TARBIJALE ISIKLIKUKS KASUTAMISEKS VÕI MUUKS OTSTARBEKS, MILLE EEST EI SAADA HÜVITIST (i) VIDEO KODEERIMISE PUHUL AVC-STANDARDI JÄRGI („AVC-VIDEO“) JA/VÕI (ii) SELLISE AVC-VIDEO DEKODEERIMISE PUHUL, MILLE KODEERIS TARBIJA SEOSES ISIKLIKU TEGEVUSEGA JA/VÕI MIS SAADI AVC-VIDEOTE LEVITAMISE LITSENTSI OMAVATELT TEENUSEPAKKUJATELT. LITSENTSI EI ANTA OTSESELT EGA KAUDSELT MITTE ÜHELGI MUUL OTSTARBEL KASUTAMISEKS. LISATEAVET VÕITE SAADA MPEG LA, L.L.C-st. VAADAKE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Lisaks sellele kehtivad ChromeOS-i teatud komponentide kasutamisel ka järgmised tingimused.
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  SEE TOODE ON LITSENTSITUD MPEG-4 VISUAL PATENT PORTFOLIO LITSENTSI ALUSEL TARBIJALE ISIKLIKUKS NING MITTEÄRILISEKS KASUTAMISEKS (i) VIDEO KODEERIMISEKS STANDARDIGA MPEG-4 VISUAL („MPEG-4-VIDEO”) JA/VÕI (ii) SELLISE MPEG-4-VIDEO DEKODEERIMISEKS, MILLE ON KODEERINUD TARBIJA ISIKLIKU NING MITTEÄRILISE TEGEVUSE KÄIGUS JA/VÕI SAANUD VIDEO TEENUSEPAKKUJALT, KELLEL ON MPEG LA LITSENTS MPEG-4-VIDEO PAKKUMISEKS. LITSENTSI EI ANTA OTSESELT EGA KAUDSELT MITTE ÜHELGI MUUL OTSTARBEL KASUTAMISEKS. LISATEAVET (SH SEOSES REKLAAMIEESMÄRGIL, ETTEVÕTTESISESE JA ÄRILISE KASUTAMISEGA NING LITSENTSIMISE KOHTA) VÕITE KÜSIDA ETTEVÕTTELT MPEG LA, LLC. VAADAKE SAITI HTTP://WWW.MPEGLA.COM.
 </p>
</section>
