<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html DIR="LTR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0">
<title>Google Chrome 利用規約</title>
<style>
:root { color-scheme: light dark }
body { font-family:Arial; font-size:13px; }
h2 { font-size:1em; margin-top:0 }
</style>
</head>

<body>
<h2>Google Chrome 利用規約</h2>
<p>本利用規約は、実行コード バージョンの Google Chrome に適用されます。Google Chrome のソース コードは、chrome://credits のオープン ソース ソフトウェア ライセンスに基づき、無料でご利用いただけます。</p>
<p><strong>1. ユーザーと Google の関係</strong></p>
<p>1.1 ユーザーが Google のプロダクト、ソフトウェア、サービス、ウェブサイト（本規約では総称して「本サービス」と呼び、書面による別の契約に従って Google よりユーザーに提供されるサービスは含まない）をご利用いただく際は、ユーザーと Google との間に法的契約による規約が適用されます。「Google」とは、業務の拠点を 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States に置く Google Inc. のことです。本文書は Google とユーザー間において、どのようにこの契約が成立するかを説明すると共に、この契約のいくつかの条件を定めるものです。</p>
<p>1.2 Google との間で書面により別途合意している場合を除き、ユーザーと Google との間で行われる契約には、最低でも本規約で示されている利用規約が常に含まれています。以下、これらの規約を「普遍的規約」と呼びます。Google Chrome ソース コードのオープン ソース ソフトウェア ライセンスは、書面による合意が別途必要です。オープン ソース ライセンスが普遍的規約よりも明確に優先される限られた範囲において、オープン ソース ライセンスは Google Chrome または Google Chrome に含まれている特定のコンポーネントの使用についてのユーザーと Google との合意に適用されます。</p>
<p>1.3 ユーザーと Google との間で行われる契約には、普遍的規約に加え、下記の Google Chrome 追加利用規約に記載されている規約、および本サービスに適用される法的通知による規約も含まれます。以下、これらの規約を総称して「追加規約」と呼びます。本サービスに追加規約が適用される場合には、ユーザーは、本サービス内や本サービスの利用を通じて適用される追加規約を確認することができます。</p>
<p>1.4 普遍的規約は追加規約と共に、本サービスの利用に関してユーザーと Google との間で法的に拘束力を持つ契約となります。注意深くお読みください。以下、普遍的規約と追加規約により構成される契約を総称して「本規約」と呼びます。</p>
<p>1.5 追加規約と普遍的規約の間に矛盾がある場合、対象となる本サービスに関して適用される追加規約が優先するものとします。</p>
<p><strong>2. 本規約への同意</strong></p>
<p>2.1 本サービスをご利用いただくには、まず、本規約に同意していただく必要があります。同意いただけない場合、本サービスを利用することはできません。</p>
<p>2.2 以下の方法により本規約に同意することができます。</p>
<p>（A）本規約を「承諾する」または「同意する」のボタンをクリックする（対象となる本サービスのユーザー インターフェースでこのオプションを提供している場合）。</p>
<p>（B）本サービスを実際に使用する。この場合、ユーザーは、本サービスのご利用を開始した時点からご自身が本規約を承諾したものと Google がみなすことを理解し、これに同意するものとします。</p>
<p><strong>3. 本規約の使用言語</strong></p>
<p>3.1 Google が本規約の翻訳を提供している場合、かかる翻訳はユーザーの便宜を図ることのみを目的としたものであり、ユーザーと Google の関係に関しては、本規約の英語版が適用されることに同意するものとします。</p>
<p>3.2 本規約の英語版と翻訳版で相違や矛盾が発生する場合、英語版が優先するものとします。</p>
<p><strong>4. Google による本サービスの提供</strong></p>
<p>4.1 Google は、世界各地に子会社と関連会社（以下「子会社と関連会社」）を擁しています。これらの会社が Google に代わって本サービスを提供する場合があります。ユーザーは、子会社および関連会社が本サービスを提供する権利があることを了承し、これに同意するものとします。</p>
<p>4.2 Google は、ユーザーに最良のサービスを提供するため、継続してサービスの改善を行っています。ユーザーは、Google が提供する本サービスの形式および性質が事前の通知なく随時変更される場合があることを了承し、これに同意するものとします。</p>
<p>4.3 かかる継続的なサービス改善の一環として、Google が独自の裁量のもとで事前の通知なく本サービス（または本サービスの機能）の提供を（永久にまたは一時的に）中止する場合があることを了承し、これに同意するものとします。ユーザーは、いつでも、本サービスの利用を中止することができます。本サービスの利用を中止する場合、特に Google に連絡する必要はありません。</p>
<p>4.4 ユーザーは、Google がユーザーに対してアカウントへのアクセスを無効にした場合、本サービス、ご自身のアカウントの詳細、またはご自身のアカウントに含まれるいかなるファイルもしくはその他のコンテンツへのアクセスができないことがあることを了承し、これに同意するものとします。</p>
<p><strong>5. ユーザーによる本サービスの利用</strong></p>
<p>5.1 ユーザーは、（a）本規約および（b）関連する法域において適用される法律、規制、一般に認められる慣行およびガイドライン等（合衆国またはその他の関係国へのまたはそれらに対する、データまたはソフトウェアの輸出に関する法律を含む）により許可される目的にのみ、本サービスを利用することに同意するものとします。</p>
<p>5.2 ユーザーは、本サービス（または本サービスに接続されているサーバーおよびネットワーク）を妨害、中断させるいかなる行為も行わないことに同意するものとします。</p>
<p>5.3 ユーザーは、Google との別個の契約において明確な許可を受けた場合を除き、どのような目的であれ、本サービスの複製、複写、コピー、販売、トレードおよび再販売を行わないことに同意するものとします。</p>
<p>5.4 ユーザーは、ユーザーが本規約に基づく義務に違反した場合、および上記違反の結果で発生する損失や損害（Google が被る可能性がある損失、損害を含む）について、ユーザーが単独で責任を負うこと、および Google がユーザーおよびいかなる第三者に対しても何らの責任を負わないことに同意するものとします。</p>
<p><strong>6. プライバシーと個人情報</strong></p>
<p>6.1 Google の情報保護に対する取り組みについては、http://www.google.com/privacy.html および http://www.google.com/chrome/intl/ja/privacy.html に記載されている Google のプライバシー ポリシーをご覧ください。このポリシーは、ユーザーが本サービスを利用する際に、Google がどのようにユーザーの個人情報を取り扱い、プライバシーを保護するかについて説明しています。</p>
<p>6.2 ユーザーは、ご提供いただいた個人情報が Google のプライバシーに関する方針に従って利用されることに同意するものとします。</p>
<p><strong>7. 本サービスのコンテンツ</strong></p>
<p>7.1 本サービスの一環として、または本サービスの使用を通じてユーザーがアクセスできるデータ ファイル、文書、コンピュータ ソフトウェア、音楽、オーディオ ファイルまたはその他のサウンド、写真、動画またはその他の画像などのすべての情報は、当該コンテンツを発信した個人が単独で責任を負うことを、ユーザーは了解するものとします。以下、上記のすべての情報を「本コンテンツ」と呼びます。</p>
<p>7.2 本サービスの一環として提供される本コンテンツ（本サービス内の広告やスポンサー付き本コンテンツを含み、これらに限定されない）は、その本コンテンツを Google に提供しているスポンサーまたは広告主、あるいはその代理を務める個人または企業が所有する知的所有権により保護されている場合があることを、ユーザーは認識するものとします。ユーザーは、本コンテンツを修正、賃貸、リース、貸出、販売、配布し、または本コンテンツ（全部もしくは一部のいずれか）に基づく二次的著作物を作成することはできません。ただし、Google または本コンテンツの所有者から別個の契約において明確な許可を受けた場合は除きます。</p>
<p>7.3 Google は、本サービスの本コンテンツの一部またはすべてを事前スクリーニング、審査、フラグ設定、フィルタリング、拒否、削除する権利を有しています。本サービスの一部では、Google は不適切な表現を含むアダルト コンテンツを排除するためのツールを提供することがあります。このようなツールとしては、セーフサーチの設定（https://support.google.com/websearch/answer/510 を参照）などがあります。また、好ましくないと思われる要素へのアクセスを制限する市販のサービスおよびソフトウェアがあります。</p>
<p>7.4 ユーザーは、本サービスを利用することにより、不快、猥褻、または好ましくないと思われる本コンテンツにさらされる可能性があること、およびこの点につき、ユーザーが自己の危険負担により本サービスを利用することを理解するものとします。</p>
<p>7.5 ユーザーは、本サービスを利用する過程でユーザーが作成、送信または表示する本コンテンツやユーザーの行動の結果で発生する損失や損害（Google が被る可能性がある損失または損害を含む）について、ユーザーが単独で責任を負うこと（および Google がユーザーや第三者に対して責任を負わないこと）に同意するものとします。</p>
<p><strong>8. 財産的権利</strong></p>
<p>8.1 ユーザーは、本サービスに関連するすべての知的所有権を含む（権利の登録の有無や権利の存在する場所にかかわらず）、本サービスにおけるすべての法的権利、権原、および利益を Google（または Google のライセンサー）が所有することを了承し、これに同意するものとします。</p>
<p>8.2 ユーザーが別途 Google と書面で合意した場合を除き、本規約のいかなる規定も、Google の商号、商標、サービス マーク、ロゴ、ドメイン名、およびその他の識別性を有するブランドの特徴（以下、総称して「Google ブランド」といいます）のいずれかを使用する権利をユーザーに付与するものではありません。</p>
<p>8.3 ユーザーは、Google との別個の書面による契約において Google ブランドのいずれかを使用する明示的な権利を付与されている場合、Google ブランドの使用が当該契約、本規約の適用条項、および随時更新される Google のブランド使用ガイドラインに従うことに同意するものとします。かかるガイドラインは、http://www.google.com/permissions/guidelines.html（または Google がそのために随時提供するその他の URL）にて閲覧することができます。</p>
<p>8.4 Google は、本規約に基づき、ユーザーが本サービスを通じて、または本サービス上に提出、掲示、送信または表示する、本コンテンツに対する権利、権原、または利益を、本コンテンツに内在する知的所有権を含め（その権利が登録されているか否か、または世界のどこにその権利が存在するかにかかわらず）、Google がユーザー（またはユーザーのライセンサー）から取得しないことを了承し、これに同意するものとします。別途 Google と書面で合意した場合を除き、ユーザーは、ご自身がかかる権利を保護および行使する責任を負うことならびに Google がユーザーに代わりこれを行う義務を負わないことに同意するものとします。</p>
<p>8.5 ユーザーは、本サービスに関する、もしくは本サービス内に含まれる財産権についての告知（著作権および商標の告知を含む）を削除、改変したり、見えないようにしないことに同意するものとします。</p>
<p>8.6 ユーザーは、Google が書面で明示的に権限を付与した場合を除き、本サービスを利用する際に、会社や組織の商標、サービスマーク、商号、ロゴを使用するにあたり、それらの所有者について混乱が生じるような方法で使用しないことに同意するものとします。</p>
<p><strong>9. Google からのライセンス</strong></p>
<p>9.1 Google は、Google が提供するサービスの一環として提供するソフトウェア（以下、「ソフトウェア」と呼びます）を使用するための、全世界で適用され、譲渡不可かつ非独占的な個人用ライセンスをロイヤリティ無料でユーザーに付与します。このライセンスは、Google が提供する本サービスを本規約により許容される方法でユーザーが使用し、その便益を享受できるようにすることを唯一の目的としています。</p>
<p>9.2 第 1.2 項に従い、ユーザーは、本ソフトウェアまたはその一部のコピー、修正、その二次的著作物の作成、リバース エンジニア、もしくはデコンパイルを行い、またはその他の方法によりそのソースコードの抽出を試みてはならず、第三者にもかかる行為を認めてはならないものとします。ただし、それが法律により明示的に許可もしくは要求されている場合、または Google から書面により明確な許可を受けた場合は除きます。</p>
<p>9.3 第 1.2 項に従い、Google が書面により明確に許可した場合を除き、ユーザーは、本ソフトウェアを使用する権利を譲渡したり、サブライセンスを供与したり、本ソフトウェアを使用する権利に担保を設定したり、その他の方法により本ソフトウェアを使用する権利の一部を移転しないことに同意するものとします。</p>
<p><strong>10. 利用者から供与されるコンテンツ ライセンス</strong></p>
<p>10.1 本サービスで、または本サービスを通じてユーザーが提出、投稿、または表示するコンテンツについてユーザーが既に取得されている著作権およびその他の権利は、ユーザーが保持するものとします。</p>
<p><strong>11. ソフトウェアの更新</strong></p>
<p>11.1 ユーザーがご利用になるソフトウェアは、自動的に更新用のデータまたはプログラムを適宜 Google からダウンロードしてインストールすることがあります。これらの更新は、本サービスを改善、強化、およびさらに開発するために行われるものであり、バグの修正、拡張機能、新しいソフトウェア モジュール、完全に新規のバージョンという形をとることがあります。ユーザーは、ご自身による本サービスの利用の一環として上記更新を受け取ること（および Google が上記をユーザーに提供することを許可すること）に同意するものとします。</p>
<p><strong>12. Google との関係の終了</strong></p>
<p>12.1 本規約は、ユーザーまたは Google のいずれかが以下に定める方法によりその関係を終了させるまで、適用されます。</p>
<p>12.2 Google は、以下のいずれかの事由が生じた場合、いつでもユーザーとの法的な契約を終了する権利を有するものとします。</p>
<p>（A）ユーザーが本規約のいずれかの規定に違反した場合（または本規約の規定に従う意思がないまたは従うことができないことを明確に示す方法で行動した場合）。</p>
<p>（B）Google が法律により終了させる義務を負う場合（たとえば、ユーザーに対する本サービスの提供が違法である、または違法となる場合）。</p>
<p>（C）Google と共にユーザーに本サービスを提供していた提携先が Google との関係を終了させた場合、もしくは、ユーザーに対する本サービスの提供を中止した場合。</p>
<p>（D）Google が、ユーザーが居住、もしくはサービスを利用している国のユーザーに対する本サービスの提供の中止へ移行している場合。</p>
<p>（E）Google が本サービスを提供することが、商業的に可能でないと判断した場合。</p>
<p>12.3 本条のいかなる規定も、本規約第 4 条に基づく本サービスの提供に関する Google の権利に影響を及ぼさないものとします。</p>
<p>12.4 本規約が終了した場合、ユーザーおよび Google が享受し、適用を受けた（もしくは本規約が有効であった間に時間と共に発生した）または無期限に継続すると明示されたすべての法的権利、義務および債務は、上記中止により影響を受けないものとし、かつ第 19.7 項の規定は、引き続き上記権利、義務および債務に無期限に適用されるものとします。</p>
<p><strong>13. 保証の排除</strong></p>
<p>13.1 第 13 条および第 14 条を含め、本規約のいかなる規定も、適用される法律によって適法に排除または制限できない損失に対する Google の保証または責任を排除または制限しないものとします。さらに、一部の司法管轄区では、特定の保証または規定の除外、過失、契約不履行、黙示的な規約に対する違反に起因する損失または損害、または偶発的、間接的な損害に対する賠償責任の制限または免除は認められていません。したがって、ユーザーの法域において適法な制限のみが適用され、Google の責任は、法律により認められる最大限に制限されます。</p>
<p>13.2 本サービスの利用はユーザー単独の危険負担によるものであり、かつ本サービスが「現状有姿」および「提供可能な範囲」で提供されることを明示的に理解し、これに同意するものとします。</p>
<p>13.3 特に、Google、その子会社および関連会社、ならびにそのライセンサーは、以下の事項を表明または保証しません。</p>
<p>（A）本サービスのご利用がユーザーに必要な事項を満たすこと。</p>
<p>（B）本サービスのご利用に中断が生じず、タイムリーであり、安全であり、またはエラーが生じないこと。</p>
<p>（C）本サービスを利用した結果、取得した情報が正確であり、または信頼できること。</p>
<p>（D）本サービスの一環としてユーザーに提供されたソフトウェアの動作または機能における不具合が修正されること。</p>
<p>13.4 本サービスのご利用を通じて行ったダウンロード、またはその他の方法による取得は、ユーザー自身の裁量および危険負担で行っているのであり、ダウンロードの結果生じたユーザーのコンピュータ システムもしくはその他の機器に対する損害またはデータの喪失は、ユーザーが単独で責任を負います。</p>
<p>13.5 口頭、書面によるかを問わず、ユーザーが Google から、もしくは本サービスを通じて取得した助言または情報は、本規約に明示的な定めのない保証を生じさせるものではありません。</p>
<p>13.6 Google は、明示または黙示を問わず、あらゆる種類のすべての保証および条件（商品性、特定目的適合性および侵害が存在しないことに関する黙示保証および条件を含むがこれらに限定されない）を明示的に否認するものとします。</p>
<p><strong>14. 責任の制限</strong></p>
<p>14.1 ユーザーは、本規約の第 13.1 項の規定全般を条件として、Google、その子会社および関連会社、ならびにそのライセンサーが、ユーザーに対し以下の各号について責任を負わないことについて、明示的に理解し、これに同意するものとします。</p>
<p>（A）何らかの原因や保証責任の理論においてユーザーが被る直接的、間接的、偶発的、特殊結果的、または懲罰的な損害。これらの損害には、利益の損失（直接的、間接的を問わず）、ビジネスにおける信用またはビジネス上の評判に対する損失、データ消失の被害、代替商品またはサービスの調達価格、またはその他無形の損失等を含むものとします。</p>
<p>（B）以下の各項目に起因する損失または損害等を含む、ユーザーが被る損失または損害。</p>
<p>（I）ユーザーが、いずれかの広告の完全性、正確性または存在を信頼したことに起因し、または、ユーザーと、本サービス上に掲載される広告の広告主またはスポンサーとの間の関係または取引に起因する損失または損害。</p>
<p>（II）Google が本サービスに施す変更に起因し、または、本サービス（または本サービスの範囲内のいずれかの機能）の提供を永続的または一時的に停止したことに起因する損失または損害。</p>
<p>（III）ユーザーが本サービスを利用したことによりまたは利用したことを通じ、保存、送信された本コンテンツおよびその他通信データの削除、破損、または保存の不備に起因する損失または損害。</p>
<p>（IV）ユーザーが、Google に対し、正確なアカウント情報を提出しなかったことに起因する損失または損害。</p>
<p>（V）ユーザーが、ご自身のパスワードまたはアカウントの明細の保護および機密保持を怠ったことに起因する損失または損害。</p>
<p>14.2 上記の第 14.1 項でのユーザーに対する Google の責任の制限は、この種の損害が発生する可能性を Google が通知され、認識していたかどうかにかかわらず、適用されるものとします。</p>
<p><strong>15. 著作権および商標に関する方針</strong></p>
<p>15.1 Google では、著作権の侵害に関する申し立てに対し、米国デジタルミレニアム著作権法などの適用される国際的知的財産法に基づいて適切な対応をとり、侵害を繰り返すアカウントを削除することをポリシーとしています。Google の方針の詳細は http://www.google.com/dmca.html にてご覧いただけます。</p>
<p>15.2 Google では広告関連サービスで発生する商標侵害に関する手続き方法を運用しています。詳細は http://www.google.com/tm_complaint.html にてご覧いただけます。</p>
<p><strong>16. 広告</strong></p>
<p>16.1 サービスの中には、広告収入によってサポートされているものもあり、広告や販促プログラムが表示される場合があります。これらの広告は、本サービス上に保存される情報の内容、または本サービスを介して行われたクエリ、またはその他の情報を対象とすることがあります。</p>
<p>16.2 本サービス上の Google による広告の様式、形態および範囲は、ユーザーに対し特定の通知を行うことなく変更されることがあります。</p>
<p>16.3 ユーザーは、本サービスのアクセス権および利用権をユーザーに許諾することの対価として、Google が、本サービス上で上記のような広告を行えることについて同意するものとします。</p>
<p><strong>17. その他のコンテンツ</strong></p>
<p>17.1 本サービスには、他のウェブサイト、コンテンツ、またはリソースへのハイパーリンクが含まれる場合があります。Google は、Google 以外の企業または個人により提供されるウェブサイトまたは情報源に対し、一切のコントロールを持たないことがあります。</p>
<p>17.2 Google が、上記のような外部のサイトまたは情報源の利用可能性について責任を負わないこと、および、Google が、上記のようなウェブサイトまたは情報源における、またはここから入手できる広告、製品またはその他の要素を保証しないことについて了承し、これに同意するものとします。</p>
<p>17.3 上記のような外部のサイトまたは情報源の利用可能性に起因し、または、ユーザーが、上記のようなウェブサイトや情報源における、またはそれらから入手できる広告、サービスやプロダクト、またはその他の要素の完全性、正確性または存在を信頼したことに起因して被るいかなる損失または損害についても、Google が責任を負わないことについて了承し、これに同意するものとします。</p>
<p><strong>18. 本規約の変更</strong></p>
<p>18.1 Google では、普遍的規約および追加規約を適宜変更することがあります。普遍的規約または追加規約を変更する場合、Google は、普遍的規約については、新しいバージョンを作成し、http://www.google.com/chrome/intl/ja/eula_text.html にて入手できるようにし、また、新しい追加規約は、影響を受ける本サービスの中からまたは影響を受ける本サービスを通じて入手できるようにします。</p>
<p>18.2 ユーザーは、普遍的規約または追加規約が変更された日以降に本サービスを利用する場合、それにより、ユーザーが最新の普遍的規約または追加規約を承認されたと Google がみなすことについて理解し、これに同意するものとします。</p>
<p><strong>19. 一般的な法的条項</strong></p>
<p>19.1 本サービスの使用による結果として、または本サービスの利用に関連して、別の個人または会社が提供するサービスの利用、ソフトウェアのダウンロード、または商品の購入を行うことがあります。このような他のサービス、ソフトウェアまたは商品を利用する場合、ユーザーと、他の当該企業または個人の間に、別個の契約条件が適用されることがあります。この場合、本規約は、ユーザーと他の当該企業または者との間の法律上の関係に影響を及ぼしません。</p>
<p>19.2 本規約は、ユーザーと Google との間の完全なる法的な合意を構成し、かつ、ユーザーによる本サービス（ただし、Google が、ユーザーに対し別個の書面による合意に基づき提供するサービスを除く）の利用について定め、かつ、本サービスに関してユーザーと Google との間における従前の合意に完全に取って代わります。</p>
<p>19.3 ユーザーは、Google が、本サービスに関し、メール、郵便、または本サービス上への掲示により、ユーザーに対する通知（本規約の変更に関する通知を含む）を送付できることについて同意します。</p>
<p>19.4 ユーザーは、Google が、本規約に記載される（または適用法に基づき自らが利益を有する）法律上の権利または救済措置を行使せずまたは執行しなかった場合についても、自らの権利を正式に放棄したとみなされないこと、および、かかる権利または救済措置は、Google により引き続き利用可能であることについて同意します。</p>
<p>19.5 この件を決定する司法管轄権を有する裁判所が本規約の条項が無効であると裁定した場合、本規約の残りの条項に影響を与えることなく、その条項は本規約から削除されます。本規約の残りの規定は、引き続き有効かつ執行可能とします。</p>
<p>19.6 ユーザーは、Google が親会社である企業グループの各メンバーが本規約の第三受益者であり、それらの他社は、自社に利益または有利な権利を与える本規約中の条項を直接実施したり適用する権利があることについて了承し、これに同意するものとします。上記の場合を除き、他のいかなる者または企業も、本規約の第三受益者ではないものとします。</p>
<p>19.7 本規約および本規約に基づくユーザーと Google との関係は、カリフォルニア州法に準拠するものとし、抵触法については施行されません。ユーザーと Google は、本規約に起因するいかなる法的事項を解決する際も、カリフォルニア州サンタクララ郡に所在する裁判所の専属的司法管轄区に従うことに同意するものとします。上記の規定にもかかわらず、Google が、いずれの法域においても、仮処分や差し止めによる救済（またはこれに準ずる緊急の法的救済措置）を申請できることについて同意するものとします。</p>
<p><strong>20. Google Chrome 拡張機能の追加規約</strong></p>
<p>20.1 本条の利用規約は、Google Chrome に拡張機能をインストールした場合に適用されます。拡張機能とは、Google またはサードパーティが開発した小さなソフトウェア プログラムのことです。Google Chrome の機能は、拡張機能を使用して変更または強化できます。拡張機能がブラウザやコンピュータにアクセスする権限は、通常のウェブページと比べて高い場合があります。たとえば、拡張機能は個人データの読み取りや変更を行うことができます。</p>
<p>20.2 Google Chrome は拡張機能の新しい更新（バグ修正や強化機能を含むがこれらに限定されない）について、Google またはサードパーティによりホスティングされるリモート サーバーを随時チェックする場合があります。ユーザーは、このような更新の要求、ダウンロード、インストールが事前の通知なく自動的に行われることに同意するものとします。</p>
<p>20.3 Google は、拡張機能が Google デベロッパー向け利用規約、またはその他の法的な取り決め、法律、規則、ポリシーに違反していると判断する場合があります。Google Chrome は、このような拡張機能のリストを Google のサーバーから定期的にダウンロードします。ユーザーは、Google が独自の裁量のもとでこのような拡張機能を無効にするか、ユーザー システムから削除する場合があることに同意するものとします。 </p>
<p><strong>21. 法人利用のための追加規約</strong></p>
<p>21.1 ユーザーが法人である場合は、法人（疑念の発生を避けるため、法人の場合は本規約における「ユーザー」が法人を意味するものとする）の代理で行う個別の同意は、その者にユーザーの代理を務める権限があること、ユーザーがその事業を運営している国または国々で事業を運営することを正式に認可されていること、本サービスを利用するユーザーの従業員、役員、代表者、およびその他の代理人に Google Chrome にアクセスする権限が正式に付与されていること、およびユーザーが本規約に法的に拘束されることを表明しそれを保証するものとします。</p>
<p>21.2 Google は本規約に従い、第 9 条で供与されるライセンスに加え、ユーザーの従業員、役員、代表者、および代理人が法人に関連して使用するコンピュータにおいてのみ、その Google Chrome の使用が本規約を順守していることを条件として、Google Chrome を複製、配布、インストール、および使用するための非独占的、譲渡不能なライセンスをユーザーに付与します。</p>
<p>2010 年 8 月 12 日</p>
<br>
<hr>
<br>
<h2>Google Chrome 追加利用規約</h2>
<p><strong>MPEGLA</strong></p>
<p>本サービスは、AVC 特許ポートフォリオ ライセンスに基づき、個人的な非営利目的の利用で、エンドユーザーが (i) AVC 規格に準拠した動画（以下「AVC 動画」）をエンコードすること、および/または (ii) 個人的な非営利目的の利用でエンドユーザーがエンコードした AVC 動画、および/または AVC 動画を提供するライセンスを持つ動画パートナーから入手した AVC 動画をデコードすることが許可されています。上記以外の用途のライセンスは、明示または黙示を問わず付与されていません。詳細については、MPEG LA, L.L.C. にお問い合わせいただくか、http://www.mpegla.com（英語）をご覧ください。</p>
<p><strong>Adobe</strong></p>
<p>Google Chrome には、Adobe Systems Incorporated および Adobe Software Ireland Limited（以下、総称して「Adobe」と呼びます）が提供するコンポーネントが含まれることがあります。Google が提供する Adobe ソフトウェア（以下「Adobe ソフトウェア」）の使用は、以下の追加規約（以下「本 Adobe 規約」）に従うものとします。本 Adobe ソフトウェアを提供されたユーザーは、以下「サブライセンシー」と呼びます。</p>
<p>1. ライセンスの制限。</p>
<p>(a) Flash Player バージョン 10.x は、ブラウザのプラグインとしてのみ設計されています。サブライセンシーは、ウェブページ上のコンテンツを再生するブラウザ プラグイン以外の使用目的で、本 Adobe ソフトウェアを変更、配布することはできません。たとえば、ブラウザ以外で実行するアプリケーション（スタンドアロン アプリケーション、ウィジェット、デバイスの UI など）と連携するように、本 Adobe ソフトウェアを変更することはできません。</p>  
<p>(b) サブライセンシーは、拡張機能をスタンドアロン アプリケーションとしてウェブページ コンテンツの再生に使用できるような方法で、Flash Player バージョン 10.x の API を、ブラウザ プラグイン インターフェースを通じて公開することはできません。</p>
<p>(c) Adobe DRM 以外のデジタル著作権管理のプロトコルやシステムを利用している PDF や EPUB のドキュメントを表示するために、Chrome-Reader ソフトウェアを使用することはできません。</p>
<p>(d) Adobe DRM で保護されているすべての PDF や EPUB のドキュメントに対応するため、Chrome-Reader ソフトウェア内で Adobe DRM を有効にする必要があります。</p>
<p>(e) Chrome-Reader ソフトウェアでは、技術仕様として明示的に許可される場合を除き、本 Adobe ソフトウェアで Adobe が提供するどの機能も（PDF 形式、EPUB 形式、Adobe DRM のサポートを含むがこれらに限定されない）無効にすることはできません。</p>
<p>2. 電子送信。サブライセンシーは、ウェブサイト、インターネット、イントラネットの他、同様の技術（以下「電子送信」）を介して、本 Adobe ソフトウェアのダウンロードを許可できます。ただし、サブライセンシーが本 Adobe ソフトウェアをどのように配布する場合も（明示的に許可された場合は CD-ROM、DVD-ROM などの保存媒体や電子送信による配布も含む）、不正使用を防ぐための妥当なセキュリティ対策を行うことに、サブライセンシーは同意するものとします。本規約により承認される電子送信に関して、セキュリティに関する制限や、サブライセンシー プロダクトのエンドユーザーへの配布制限など、Adobe が設定する妥当な使用制限が適用されることに、サブライセンシーは同意するものとします。</p>  
<p>3. EULA と配布規約。</p>  
<p>(a) サブライセンシーは、サブライセンシーとそのサプライヤに有利となるような、少なくとも次の各最低条件を含む執行可能なエンドユーザー ライセンス契約（以下「本エンドユーザー ライセンス」）に基づき、本 Adobe ソフトウェアをエンドユーザーに配布するものとします: (i) コピーと配布の禁止、(ii) 変更と二次的著作物の作成の禁止、(iii) デコンパイル、リバース エンジニアリング、逆アセンブルの他、人間が認識できる形式に本 Adobe ソフトウェアを変換することの禁止、(iv) サブライセンシーとそのライセンサーによるサブライセンシー プロダクト（第 8 項で定義）の所有権を示す条項、(v) 間接的損害、特別損害、偶発的損害、懲罰的損害、結果的損害への免責条項、および (vi) その他、業界で標準的な免責条項や制限、該当する場合は、該当法によるすべての保証への（法で許される限り最大限の）免責条項。</p>
<p>(b) サブライセンシーは、サブライセンシーとそのサプライヤに有利となるような、本 Adobe 規約と同等の Adobe 保護規約を含む執行可能な配布ライセンス契約に基づき、本 Adobe ソフトウェアをサブライセンシーの配布者に配布するものとします。</p>  
<p>4. オープンソース。Adobe の知的所有権や財産権は、オープンソース ライセンスやオープンソース スキームの対象となり、使用、変更、配布の条件として、Adobe ソフトウェアの (i) ソース コード形式での公開または配布、(ii) 二次的著作物の作成を目的とするランセンス、または (iii) 無料での再配布が必要とみなされることがありますが、これに基づいてサブライセンシーが第三者に、いかなる権利や免除も、直接または間接を問わず、許可する、または許可すると主張することはできません。ただし、上記の制限は、サブライセンシーによる配布を禁止するものではなく、サブライセンシーは、Google ソフトウェアにバンドルされた本 Adobe ソフトウェアを、無料で配布できます。</p>
<p>5. 追加規約。サブライセンシーに提供される本 Adobe ソフトウェアの更新、アップグレード、新バージョン（以下、総称して「アップグレード」と呼びます）に関して、Adobe は、このような制限が Adobe によってアップグレードのすべてのライセンシーに課されている限り、アップグレードおよびその後のバージョンにのみ適用される追加条項を求める権利を留保します。サブライセンシーが追加条項に同意しない場合、サブライセンシーはかかるアップグレードに関するライセンス権を得られません。また、サブライセンシーに対してその追加条項が適用される日付から 90 日後に、サブライセンシーの本 Adobe ソフトウェアに関するライセンス権は自動的に終了します。</p>  
<p>6. 財産権の表示。サブライセンシーは、本 Adobe ソフトウェアまたはその付属物に表示される、Adobe（および該当する場合はそのライセンサー）の著作権表示、商標、ロゴなどの関連表示、またはその他の財産権の表示を削除することや、いかなる方法でも変更することはできません。また、サブライセンシーの配布者にも上記を徹底する必要があります。</p>
<p>7. 技術的要件。サブライセンシーとその配布者は、本 Adobe ソフトウェアやそのアップグレードを下記の条件を満たすデバイスにのみ配布できます。デバイスの条件は、(i) http://www.adobe.com/mobile/licensees（英語）（またはこのウェブサイトを更新したサイト）に掲載される技術仕様を満たすこと、かつ (ii) 下記に記載のとおり Adobe から確認を受けることです。</p>
<p>8. 確認と更新。サブライセンシーは、Adobe の確認を受けるため、本 Adobe ソフトウェアやそのアップグレードを含むサブライセンシーの各プロダクトとその各バージョン（以下「サブライセンシー プロダクト」）を Adobe に提示する必要があります。ただし、Google が通知するデバイス確認免除条件を満たすプロダクトは除きます。サブライセンシーは、提示するプロダクトごとに、その時点で Adobe の http://flashmobile.adobe.com/（英語）で規定されている条件で、確認パッケージを購入する必要があります。確認を受けられなかったサブライセンシー プロダクトは、配布できません。確認は、その時点で Adobe の http://flashmobile.adobe.com/（英語）の「Verification」に記載されているプロセスに従って行われます。</p>
<p>9. プロファイルと Device Central。サブライセンシーは、確認プロセスの一環として、またはその他の方法で、サブライセンシー プロダクトに関する特定のプロファイル情報を入力するように求められ、その情報を Adobe に提示するものとします。Adobe は (i) かかる情報を、妥当な範囲で必要に応じて、サブライセンシー プロダクトの確認に使用し（そのプロダクトが確認の対象である場合）、(ii) かかる情報を https://devices.adobe.com/partnerportal/（英語）にある「Adobe Device Intelligence システム」に表示して、Adobe のオーサリングおよび開発用ツールとサービスを通じて利用可能にし、サブライセンシー プロダクトでコンテンツやアプリケーションがどのように表示されるか（動画の映像が特定の電話にどのように表示されるかなど）を、デベロッパーやエンドユーザーが把握できるようにする場合があります。</p>  
<p>10. 輸出。サブライセンシーは、本 Adobe ソフトウェアを含む、米国で作成された商品や技術データの輸出、再輸出が、米国の法規で規制されることに同意するものとします。サブライセンシーは、該当する場合は、米国および外国政府の正当な通関手続きを経ずに、本 Adobe ソフトウェアを輸出、再輸出しないことに同意するものとします。</p>
<p>11. 技術のパススルー規約。</p>  
<p>(a) 正当な当事者のための、または正当な当事者による適切な許可または契約に従う場合を除き、サブライセンシーは、PC 以外のデバイス上（携帯電話、セットトップ ボックスなど）で、本 Adobe ソフトウェアを使用して MP3 音声データ（.mp3）のエンコードやデコードを行うこと、およびそのエンコードやデコードで本 Adobe ソフトウェアを使用可能にすることはできません。また、本 Adobe ソフトウェアに含まれる MP3 エンコーダーまたはデコーダーに本 Adobe ソフトウェア以外のプロダクトからアクセスして使用することはできません。本 Adobe ソフトウェアは、動画、画像などのデータを含む swf ファイルまたは flv ファイルに含まれる MP3 データのエンコードとデコードに使用できます。この項で禁止されている、PC 以外のデバイスでの本 Adobe ソフトウェアの利用には、MP3 技術に関する知的財産権を所有する第三者に、ライセンス ロイヤリティなどの金額を支払うことが必要な場合があり、Adobe およびサブライセンシーが、かかる利用において、第三者の知的財産権に対して、ロイヤリティなどの金額をこれまでに支払っていないことに、サブライセンシーは同意するものとします。MP3 エンコーダーまたはデコーダーについて、かかる利用が必要なサブライセンシーは、該当する特許権を含む、知的財産に対する必要なライセンスを取得する責任を負うものとします。</p>
<p>(b) サブライセンシーは、(i) 本 Adobe ソフトウェアで Flash 動画ファイル形式（.flv または .f4v）の動画をデコードするために必要な On2 のソース コード（ソース コードのコンポーネントとして本規約のもとで提供）、および (ii) 本 Adobe ソフトウェアのバグの修正と性能の強化に限定された目的で（ソース コードのコンポーネントとして本規約のもとで）提供される Sorenson Spark ソース コードを、使用、コピー、複製、変更することはできません。本 Adobe ソフトウェアと共に提供されるコーデックはすべて、本 Adobe ソフトウェアに統合された一部としてのみ、使用、配布することができます。他の Google アプリケーションなど、他のアプリケーションからアクセスすることはできません。</p>  
<p>(c) ソース コードは、AAC コーデックや HE-AAC コーデック（以下「AAC コーデック」）により提供されることがあります。AAC コーデックの利用は、サブライセンシーが正当な特許ライセンスを取得することが条件です。正当な特許ライセンスとは、VIA ライセンスにより規定される必要な特許を含み、AAC コーデックを利用するエンド プロダクトを対象とするものです。サブライセンシーは、Adobe が本規約に基づき AAC コーデックの特許ライセンスをサブライセンシーまたはサブライセンシーのサブライセンシーに提供していないことを認識し、それに同意するものとします。</p>
<p>(d) AVC 特許ポートフォリオ ライセンスに基づき、個人的な非営利目的の利用でエンドユーザーが (i) AVC 規格に準拠した動画（以下「AVC 動画」）をエンコードすること、および/または (ii) 個人的な非営利目的の利用でエンドユーザーがエンコードした AVC 動画、および/または AVC 動画を提供するライセンスを持つ動画プロバイダから入手した AVC 動画をデコードすることが許可されているコードが、ソース コードに含まれることがあります。上記以外の用途のライセンスは、明示または黙示を問わず付与されていません。詳細については、MPEG LA, L.L.C. にお問い合わせいただくか、http://www.mpegla.com（英語）をご覧ください。</p>
<p>12. 更新。サブライセンシーは、Google ソフトウェアにバンドルされた、本 Adobe ソフトウェアを組み込んでいるサブライセンシーのすべてのプロダクト（以下「サブライセンシー プロダクト」）において、Google または Adobe による本 Adobe ソフトウェアの更新を妨げてはなりません。</p>  
<p>13. 帰属および財産権の表示。サブライセンシーは、公開するサブライセンシー プロダクトの仕様に本 Adobe ソフトウェアを列挙し、サブライセンシー プロダクトのパッケージやマーケティング資料に、サブライセンシー プロダクト内に含まれる他の第三者のプロダクトのブランド表示と同じ方法で、Adobe ソフトウェアの適切なブランド表示（Adobe 社のロゴは除く）を含めるものとします。</p>
<p>14. 無保証。本 Adobe ソフトウェアは使用および複製の目的で「現状有姿」のままサブライセンシーに提供され、Adobe はその使用や性能についていかなる保証も行わないものとします。Adobe とそのサプライヤは、Adobe ソフトウェアの利用による性能とその結果について、一切保証しません。サブライセンシーの法域でサブライセンシーに適用される法律によって、除外または制限が禁止されている保証、規定、表明、規約を除き、Adobe とそのサプライヤは、第三者の権利を侵害しないこと、商品性、統合性、品質満足度、特定目的への適合性を含むがこれらに限定されないあらゆる事項に関して、いかなる保証、規定、表明、規約の設定も（明示または黙示を問わず、制定法、普通法、慣習法、慣行、その他いかなる根拠に基づくかを問わず）行いません。サブライセンシーが明示または黙示を問わず Adobe に代わっていかなる保証も行わないことに、サブライセンシーは同意するものとします。</p>  
<p>15. 責任の制限。Adobe とそのサプライヤは、Adobe の担当者がかかる損失、損害、請求、費用の可能性について通知を受けていた場合でも、第三者から申し立てを受けていた場合でも、サブライセンシーに対し、いかなる損害、請求、費用、結果的損害、間接的損害、偶発的損害、逸失利益、逸失節減に関して、一切の責任を負わないものとします。上記の制限および除外は、サブライセンシーの法域での該当法で許される限り適用されるものとします。本規約に基づく、または本規約に関連する Adobe の合計補償額、およびそのサプライヤの合計保証額は、1,000 米ドルを限度とします。Adobe の過失または不法行為に起因する死亡または人身傷害に関しては、本規約のいかなる条項も、Adobe のサブライセンシーへの責任を制限するものではありません。Adobe は、本規約で規定するように、義務、保証、および責任の免責、除外、制限を目的として、サプライヤの代わりを務めており、それ以外に関して、またはそれ以外の目的で、サプライヤの代わりを務めることはありません。</p>
<p>16. コンテンツ保護規約</p>
<p>(a) 定義。</p>
<p>「コンプライアンス ルールとロバストネス ルール」とは、http://www.adobe.com/mobile/licensees（英語）またはこのウェブサイトを更新したサイトに掲載される、準拠性と堅牢性に関する規則を記載したドキュメントのことです。</p>
<p>「コンテンツ保護機能」は、本 Adobe ソフトウェアの機能のうち、コンプライアンス ルールとロバストネス ルールへの準拠を徹底し、デジタル コンテンツの所有者やライセンスを受けた配信者の許可を得ずに、本 Adobe ソフトウェアのエンドユーザーが配布されたデジタル コンテンツに対して行う再生、コピー、変更、再配布などを阻止するために設計された機能のことです。</p>
<p>「コンテンツ保護コード」とは、特定のコンテンツ保護機能が有効な本 Adobe ソフトウェアの特定のバージョン内のコードのことです。</p>
<p>「キー」とは、本 Adobe ソフトウェアに含まれる暗号値のことで、デジタル コンテンツの解読に使用します。</p>
<p>(b) ライセンスの制限。本 Adobe ソフトウェアに関するライセンスを行使するサブライセンシーの権利には、以下の追加の制限および義務が適用されます。サブライセンシーは、本 Adobe ソフトウェアに関してサブライセンシーが負うこれらの制限や義務と同等の制限や義務を、サブライセンシーの顧客に遵守させるものとします。これらの追加の制限や義務をサブライセンシーの顧客が遵守しない場合は、サブライセンシーによる重大な違反とみなされます。</p>
<p>b.1. サブライセンシーと顧客は、上記の本 Adobe 規約に記載の確認プロセスでサブライセンシーが確認した、コンプライアンス ルールとロバストネス ルールを満たしている本 Adobe ソフトウェアのみ配布できます。</p>   
<p>b.2. サブライセンシーは、(i) 本 Adobe ソフトウェア、または本 Adobe ソフトウェアのユーザーが使用を許可されたデジタル コンテンツの暗号化や解読に使用される他の関連 Adobe ソフトウェアの、いずれのコンテンツ保護機能も回避してはなりません。また (ii) 本 Adobe ソフトウェア、または本 Adobe ソフトウェアのユーザーが使用を許可されたデジタル コンテンツの暗号化や解読に使用される他の関連 Adobe ソフトウェアの、いずれのコンテンツ保護機能も回避するように設計されたプロダクトを開発、配布してはなりません。</p>
<p>(c) キーは本規約で Adobe の機密情報として指定され、サブライセンシーはキーに関して Adobe のソース コード取り扱い方法（リクエストに応じて Adobe が提供します）を遵守するものとします。</p>  
<p>(d) 差し止めによる救済。本規約への違反は、Adobe ソフトウェアのコンテンツ保護機能を損なうおそれがあり、Adobe、およびそのコンテンツ保護機能に依拠するデジタル コンテンツの所有者の利益に特別に永続的な危害を及ぼすおそれもあり、金銭的賠償ではかかる危害に対して十分には償えない場合があることに、サブライセンシーは同意するものとします。したがって、金銭的賠償に加えて、かかる違反による危害を阻止、または制限するために、Adobe が差し止めによる救済を求める権利があることに、サブライセンシーは同意するものとします。</p>
<p>17. 第三受益者。Adobe Systems Incorporated および Adobe Software Ireland Limited は、本 Adobe ソフトウェアに関する Google とサブライセンシーの契約（本 Adobe 規約を含むがこれらに限定されない）の正当な第三受益者です。Google との契約にこれと異なる規定があっても、Google がサブライセンシーの身元を Adobe に開示し、Google とサブライセンシーが本 Adobe 規約を含むライセンス契約を結んだことを書面で明らかにすることに、サブライセンシーは同意するものとします。サブライセンシーは、そのライセンシーそれぞれと契約を結び、その契約で本 Adobe ソフトウェアの再配布を許可する場合は、その契約に本 Adobe 規約を含める必要があります。</p>
</body>
</html>
