<!DOCTYPE html>
<html lang="he" dir="rtl">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>תנאים והגבלות נוספים של Google Chrome ו-ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 תנאים והגבלות נוספים של Google Chrome ו-ChromeOS
</h2>
<p>
 תאריך השינוי האחרון: <time datetime="2023-09-08">8 בספטמבר 2023</time>
</p>
<p>
 שימוש ב-Chrome או ב-ChromeOS מצידך מבטא את הסכמתך לתנאים ולהגבלות של Google, המפורטים בכתובת https://policies.google.com/terms, ולתנאים ולהגבלות הנוספים של Google Chrome ושל ChromeOS, המפורטים כאן.
</p>
<p>
 התנאים וההגבלות הנוספים של Google Chrome ושל ChromeOS, המפורטים כאן, חלים על גרסת קוד ההפעלה של Chrome ושל ChromeOS. רוב קוד המקור של Chrome זמין ללא תשלום בכפוף להסכמי רישיון תוכנה של קוד פתוח, בכתובת chrome://credits.
</p>
<p>
 השימוש שלך ברכיבים מסוימים של Chrome ו-ChromeOS כפוף לתנאים הבאים:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  מוצר זה מורשה במסגרת רישיון תיק הפטנטים של AVC לשימוש אישי בידי צרכן או לשימושים אחרים שלא יתקבל תמורתם גמול, למטרות הבאות: (1) קידוד וידאו בהתאם לתקן AVC (להלן: "וידאו AVC") ו/או (2) פענוח וידאו AVC שקוּדד בידי צרכן במסגרת פעילות אישית ו/או שהתקבל מסַפָּק וידאו בעל רישיון לסַפֵּק וידאו AVC. לא מוענק רישיון לשימוש אחר כלשהו, ולא ישתמע כאילו מוענק רישיון כזה. ניתן לקבל מידע נוסף מחברת MPEG LA, L.L.C.‎, בכתובת HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 נוסף על כך, השימוש שלך ברכיבים מסוימים של ChromeOS כפוף לתנאים הבאים:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  מוצר זה מורשה במסגרת רישיון תיק הפטנטים של MPEG-4 VISUAL לשימוש אישי ולשימוש שאינו מסחרי בידי צרכן, למטרות הבאות: (1) קידוד וידאו בהתאם לתקן MPEG-4 VISUAL (להלן: "וידאו MPEG-4") ו/או (2) פענוח קוד של וידאו MPEG-4 שקוּדד בידי צרכן העוסק בפעילות אישית ושאינה מסחרית ו/או שהתקבל מסַפָּק וידאו המחזיק ברישיון מטעם MPEG LA לסַפֵּק וידאו MPEG-4. לא מוענק רישיון לשימוש אחר כלשהו, ולא ישתמע כאילו מוענק רישיון כזה. ניתן לקבל מידע נוסף – לרבות מידע הנוגע לרישיונות, לשימוש פנימי ומסחרי ולשימוש לצורכי קידום מכירות – מחברת .MPEG LA, LLC בכתובת HTTP://WWW.MPEGLA.COM.
 </p>
</section>
