<!DOCTYPE html>
<html lang="sl" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dodatni pogoji za Google Chrome in ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Dodatni pogoji za Google Chrome in ChromeOS
</h2>
<p>
 Zadnja sprememba: <time datetime="2023-09-08">8. september 2023</time>
</p>
<p>
 Z uporabo Chroma in sistema ChromeOS se strinjate z Googlovimi pogoji storitve, objavljenimi na https://policies.google.com/terms, in temi dodatnimi pogoji storitve za Google Chrome in ChromeOS.
</p>
<p>
 Ti dodatni pogoji storitve za Google Chrome in ChromeOS veljajo za različico Chroma in sistema ChromeOS z izvršljivo kodo. Večina izvorne kode za Chrome je na voljo brezplačno v okviru licenčnih pogodb o odprtokodni programski opremi na chrome://credits.
</p>
<p>
 Za vašo uporabo nekaterih komponent Chroma in sistema ChromeOS veljajo tudi ti pogoji:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  TA IZDELEK SE LICENCIRA NA PODLAGI LICENCE ZA ZBIRKO PATENTOV AVC ZA OSEBNO UPORABO POTROŠNIKOV ALI DRUGE OBLIKE UPORABE, PRI KATERIH UPORABNIK NE PREJME NOBENEGA PLAČILA, ZA (i) KODIRANJE VIDEA SKLADNO S STANDARDOM AVC (»VIDEO AVC«) IN/ALI (ii) DEKODIRANJE VIDEA AVC, KI GA JE V OKVIRU OSEBNE DEJAVNOSTI KODIRAL POTROŠNIK IN/ALI JE BIL PRIDOBLJEN OD PONUDNIKA VIDEA, KI IMA LICENCO ZA PONUJANJE VIDEA AVC. NE PODELJUJE SE NOBENA LICENCA ZA KAKRŠNO KOLI DRUGO UPORABO, NITI NI TAKA LICENCA NAKAZANA. DODATNE INFORMACIJE SO NA VOLJO PRI PODJETJU MPEG LA, L.L.C. GLEJTE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Za vašo uporabo nekaterih komponent sistema ChromeOS dodatno veljajo ti pogoji:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  TA IZDELEK SE LICENCIRA NA PODLAGI LICENCE ZA ZBIRKO VIZUALNIH PATENTOV MPEG-4 ZA OSEBNO IN NEKOMERCIALNO UPORABO POTROŠNIKOV ZA (i) KODIRANJE VIDEA SKLADNO Z VIZUALNIM STANDARDOM MPEG-4 (\»VIDEO MPEG-4«\) IN/ALI (ii) DEKODIRANJE VIDEA MPEG-4, KI GA JE ZA OSEBNO IN NEKOMERCIALNO DEJAVNOST KODIRAL POTROŠNIK IN/ALI GA JE ZAGOTOVIL PONUDNIK VIDEA, KI IMA LICENCO DRUŽBE MPEG LA ZA PONUJANJE VIDEA MPEG-4. NE PODELJUJE SE NOBENA LICENCA ZA KAKRŠNO KOLI DRUGO UPORABO, NITI NI TAKA LICENCA NAKAZANA. DODATNE INFORMACIJE, VKLJUČNO Z INFORMACIJAMI, POVEZANIMI S PROMOCIJSKO, INTERNO IN KOMERCIALNO RABO TER LICENCIRANJEM, SO NA VOLJO PRI PODJETJU MPEG LA, LLC. GLEJTE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
