<!DOCTYPE html>
<html lang="sv" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Ytterligare användarvillkor för Google Chrome och ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Ytterligare användarvillkor för Google Chrome och ChromeOS
</h2>
<p>
 Senast ändrad: <time datetime="2023-09-08">8 september 2023</time>
</p>
<p>
 Genom att använda Chrome eller ChromeOS godkänner du dessa ytterligare användarvillkor för Google Chrome och ChromeOS samt Googles användarvillkor, som finns här: https://policies.google.com/terms.
</p>
<p>
 Dessa ytterligare användarvillkor för Google Chrome och ChromeOS gäller den körbara versionen av Chrome och ChromeOS. Merparten av källkoden till Chrome är tillgänglig utan kostnad enligt de programlicensavtal för öppen källkod som finns på chrome://credits.
</p>
<p>
 Din användning av vissa komponenter i Chrome och ChromeOS omfattas av följande villkor:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  DENNA PRODUKT LICENSIERAS ENLIGT AVC-PATENTPORTFÖLJLICENSEN FÖR PERSONLIGT BRUK AV EN KUND, ELLER FÖR ANNAN ANVÄNDNING SOM INTE KOMPENSERAS EKONOMISKT, I SYFTE ATT (i) KODA VIDEO I ÖVERENSSTÄMMELSE MED AVC-STANDARDEN (AVC-VIDEO) OCH/ELLER (ii) AVKODA AVC-VIDEO SOM KODATS AV EN KUND SOM ÄGNAR SIG ÅT PRIVAT VERKSAMHET OCH/ELLER SOM ERHÅLLITS FRÅN EN VIDEOLEVERANTÖR MED LICENS FÖR ATT TILLHANDAHÅLLA AVC-VIDEO. INGEN LICENS BEVILJAS ELLER SKA UTLÄSAS FÖR NÅGOT ANNAT SYFTE. MER INFORMATION KAN ERHÅLLAS FRÅN MPEG LA, L.L.C. SE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Din användning av vissa komponenter i ChromeOS omfattas dessutom av följande villkor:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  DENNA PRODUKT LICENSIERAS ENLIGT MPEG-4 VISUAL-PATENTPORTFÖLJLICENSEN FÖR PERSONLIGT OCH ICKE KOMMERSIELLT BRUK AV EN KUND I SYFTE ATT (i) KODA VIDEO I ÖVERENSSTÄMMELSE MED MPEG-4 VISUAL-STANDARDEN (\MPEG-4 VIDEO\) OCH/ELLER (ii) AVKODA MPEG-4-VIDEO SOM KODATS AV EN KUND SOM ÄGNAR SIG ÅT PRIVAT OCH ICKE KOMMERSIELL VERKSAMHET OCH/ELLER SOM ERHÅLLITS FRÅN EN VIDEOLEVERANTÖR MED LICENS FRÅN MPEG LA FÖR ATT TILLHANDAHÅLLA MPEG-4-VIDEO. INGEN LICENS BEVILJAS ELLER SKA UTLÄSAS FÖR NÅGOT ANNAT SYFTE. MER INFORMATION, TILL EXEMPEL GÄLLANDE MARKNADSFÖRING, INTERNT ELLER KOMMERSIELLT BRUK OCH LICENSIERING, KAN ERHÅLLAS FRÅN MPEG LA, LLC. SE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
