<!DOCTYPE html>
<html lang="fi" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chromen ja Chrome-käyttöjärjestelmän lisäkäyttöehdot</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chromen ja Chrome-käyttöjärjestelmän lisäkäyttöehdot
</h2>
<p>
 Muokattu viimeksi: <time datetime="2023-09-08">8. syyskuuta 2023</time>
</p>
<p>
 Käyttämällä Chromea tai Chrome-käyttöjärjestelmää hyväksyt osoitteessa https://policies.google.com/terms olevat Googlen käyttöehdot sekä nämä Google Chromen ja Chrome-käyttöjärjestelmän lisäkäyttöehdot.
</p>
<p>
 Nämä Google Chromen ja Chrome-käyttöjärjestelmän lisäkäyttöehdot koskevat Chromen ja Chrome-käyttöjärjestelmän suoritettavaa koodiversiota. Suurin osa Chromen lähdekoodista on saatavilla maksutta avoimen lähdekoodin lisenssisopimusten mukaisesti osoitteesta chrome://credits.
</p>
<p>
 Tiettyjen Chromen ja Chrome-käyttöjärjestelmän osien käyttöösi sovelletaan seuraavia ehtoja:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  TÄMÄ TUOTE ON LISENSOITU AVC-PATENTTIPORTFOLION ALAISUUDESSA HENKILÖKOHTAISEEN KULUTTAJAKÄYTTÖÖN TAI MUIHIN KÄYTTÖTARKOITUKSIIN, JOISSA EI MAKSETA KORVAUSTA (i) VIDEON KOODAUKSESTA AVC-STANDARDIN MUKAISESTI (AVC-VIDEO) JA/TAI (ii) SELLAISEN AVC-VIDEON PURKAMISESTA, JONKA KULUTTAJA ON KOODANNUT HENKILÖKOHTAISESSA TOIMINNASSA JA/TAI JOKA ON HANKITTU VIDEOKUMPPANILTA, JOLLA ON OIKEUS TARJOTA AVC-VIDEOTA. LISENSSEJÄ EI MYÖNNETÄ SUORAAN EIKÄ EPÄSUORASTI MIHINKÄÄN MUUHUN KÄYTTÖTARKOITUKSEEN. LISÄTIETOJA ANTAA MPEG LA, L.L.C: HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Lisäksi tiettyjen Chrome-käyttöjärjestelmän osien käyttö on seuraavien ehtojen alaista:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  TÄMÄ TUOTE ON LISENSOITU AVC-PATENTTIPORTFOLION ALAISUUDESSA HENKILÖKOHTAISEEN JA EI-KAUPALLISEEN KULUTTAJAKÄYTTÖÖN. KULUTTAJA VOI (i) KOODATA VIDEON MPEG-4 VISUAL -STANDARDIN MUKAISESTI (MPEG-4-VIDEO) JA/TAI (ii) PURKAA MPEG-4-VIDEON, JONKA KULUTTAJA ON KOODANNUT HENKILÖKOHTAISESSA JA EI-KAUPALLISESSA TOIMINNASSA JA/TAI JOKA ON HANKITTU VIDEOKUMPPANILTA, JOLLE MPEG LA ON MYÖNTÄNYT OIKEUDEN TARJOTA MPEG-4-VIDEOTA. LISENSSEJÄ EI MYÖNNETÄ SUORAAN EIKÄ EPÄSUORASTI MIHINKÄÄN MUUHUN KÄYTTÖTARKOITUKSEEN. LISÄTIETOJA ESIMERKIKSI MAINONTAAN, SISÄISIIN JA KAUPALLISIIN KÄYTTÖTARKOITUKSIIN SEKÄ LISENSSEIHIN LIITTYEN ANTAA MPEG LA, LLC: HTTP://WWW.MPEGLA.COM.
 </p>
</section>
