<!DOCTYPE html>
<html lang="fil" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mga Karagdagang Tuntunin ng Serbisyo ng Google Chrome at ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Mga Karagdagang Tuntunin ng Serbisyo ng Google Chrome at ChromeOS
</h2>
<p>
 Huling binago: <time datetime="2023-09-08">Setyembre 8, 2023</time>
</p>
<p>
 Sa paggamit sa Chrome o ChromeOS, sumasang-ayon ka sa Mga Tuntunin ng Serbisyo ng Google na makikita sa https://policies.google.com/terms at sa Mga Karagdagang Tuntunin ng Serbisyo ng Google Chrome at ChromeOS na ito.
</p>
<p>
 Nalalapat ang Mga Karagdagang Tuntunin ng Serbisyong ito ng Google Chrome at ChromeOS sa naipapatupad na bersyon ng code ng Chrome at ChromeOS. Available ang karamihan ng source code para sa Google Chrome nang libre sa ilalim ng mga kasunduan sa lisensya ng open source na software sa chrome://credits.
</p>
<p>
 Ang paggamit mo sa ilang partikular na bahagi ng Chrome at ChromeOS ay napapailalim sa mga sumusunod na tuntunin:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  BINIGYAN NG LISENSYA ANG PRODUKTONG ITO SA ILALIM NG AVC PATENT PORTFOLIO LICENSE PARA SA PERSONAL NA PAGGAMIT NG ISANG CONSUMER O IBA PANG PAGGAMIT KUNG SAAN HINDI ITO NAKAKATANGGAP NG BAYAD PARA (i) I-ENCODE ANG VIDEO ALINSUNOD SA AVC STANDARD (“AVC VIDEO”) AT/O (ii) I-DECODE ANG AVC VIDEO NA NA-ENCODE NG ISANG CONSUMER NA KASAMA SA ISANG PERSONAL NA AKTIBIDAD AT/O NAKUHA MULA SA ISANG VIDEO PROVIDER NA MAY LISENSYA PARA MAGBIGAY NG AVC VIDEO. WALANG LISENSYANG IBINIGAY O ILALAPAT PARA SA ANUPAMANG PAGGAMIT. PUWEDENG MAKAKUHA NG KARAGDAGANG IMPORMASYON MULA SA MPEG LA, L.L.C. TINGNAN ANG HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Bukod pa rito, ang iyong paggamit sa ilang partikular na bahagi ng ChromeOS ay napapailalim sa mga sumusunod na tuntunin:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  BINIGYAN NG LISENSYA ANG PRODUKTONG ITO SA ILALIM NG MPEG-4 VISUAL PATENT PORTFOLIO LICENSE PARA SA PERSONAL AT HINDI PANGKOMERSYONG PAGGAMIT NG ISANG CONSUMER PARA SA (i) PAG-ENCODE NG VIDEO ALINSUNOD SA MPEG-4 VISUAL STANDARD ("MPEG-4 VIDEO") AT/O (ii) PAG-DECODE NG MPEG-4 VIDEO NA NA-ENCODE NG ISANG CONSUMER NA KASAMA SA ISANG PERSONAL AT HINDI PANGKOMERSYONG AKTIBIDAD AT/O NAKUHA MULA SA ISANG VIDEO PROVIDER NA BINIGYAN NG LISENSYA NG MPEG LA PARA MAGBIGAY NG MPEG-4 VIDEO. WALANG LISENSYANG IBINIGAY O ILALAPAT PARA SA ANUPAMANG PAGGAMIT. PUWEDENG MAKAKUHA NG KARAGDAGANG IMPORMASYON KABILANG ANG MAY KAUGNAYAN SA MGA PAMPROMOSYON, INTERNAL, AT PANGKOMERSYONG PAGGAMIT AT PAGBIBIGAY NG LISENSYA MULA SA MPEG LA, LLC. TINGNAN ANG HTTP://WWW.MPEGLA.COM.
 </p>
</section>
