<!DOCTYPE html>
<html lang="th" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>ข้อกำหนดในการให้บริการเพิ่มเติมของ Google Chrome และ ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 ข้อกำหนดในการให้บริการเพิ่มเติมของ Google Chrome และ ChromeOS
</h2>
<p>
 แก้ไขล่าสุด: <time datetime="2023-09-08">8 กันยายน 2023</time>
</p>
<p>
 การใช้ Chrome หรือ ChromeOS หมายความว่า คุณยอมรับข้อกำหนดในการให้บริการของ Google ซึ่งอยู่ที่ https://policies.google.com/terms และข้อกำหนดในการให้บริการเพิ่มเติมของ Google Chrome และ ChromeOS เหล่านี้
</p>
<p>
 ข้อกำหนดในการให้บริการเพิ่มเติมของ Google Chrome และ ChromeOS เหล่านี้มีผลกับเวอร์ชันโค้ดที่สั่งการได้ของ Chrome และ ChromeOS ซอร์สโค้ดส่วนใหญ่ของ Chrome มีให้บริการฟรีภายใต้ข้อตกลงใบอนุญาตซอฟต์แวร์แบบโอเพนซอร์สที่ chrome://credits
</p>
<p>
 การใช้งานคอมโพเนนต์บางอย่างของ Chrome และ ChromeOS ขึ้นอยู่กับข้อกำหนดต่อไปนี้
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ผลิตภัณฑ์นี้ได้รับอนุญาตภายใต้ใบอนุญาตสิทธิบัตร AVC สำหรับการใช้งานส่วนบุคคลของผู้บริโภคหรือการใช้งานอื่นๆ ที่ไม่ได้รับค่าตอบแทนในอันที่จะ (1) เข้ารหัสวิดีโอตามมาตรฐาน AVC ("วิดีโอ AVC") และ/หรือ (2) ถอดรหัสวิดีโอ AVC ที่เข้ารหัสโดยผู้บริโภคที่กระทำกิจกรรมส่วนบุคคล และ/หรือได้รับจากผู้ให้บริการวิดีโอที่ได้รับอนุญาตเพื่อจัดหาวิดีโอ AVC ทั้งนี้ไม่มีการอนุญาตหรือการอนุญาตโดยนัยสำหรับการใช้งานอื่น ขอรับข้อมูลเพิ่มเติมได้จาก MPEG LA, L.L.C. โปรดดูที่ HTTP://WWW.MPEGLA.COM
 </p>
</section>
<section>
</section>
<p>
 นอกจากนี้ การใช้คอมโพเนนต์ ChromeOS บางอย่างของคุณจะขึ้นอยู่กับข้อกำหนดต่อไปนี้
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  ผลิตภัณฑ์นี้ได้รับอนุญาตภายใต้ใบอนุญาตสิทธิบัตรภาพ MPEG-4 สำหรับการใช้งานส่วนบุคคลที่ไม่ใช่เพื่อการค้าของผู้บริโภคในการ (1) เข้ารหัสวิดีโอตามมาตรฐานภาพ MPEG-4 ("วิดีโอ MPEG-4") และ/หรือ (2) ถอดรหัสวิดีโอ MPEG-4 ที่เข้ารหัสโดยผู้บริโภคที่กระทำกิจกรรมส่วนบุคคลที่ไม่ใช่เพื่อการค้า และ/หรือได้รับจากผู้ให้บริการวิดีโอที่ได้รับอนุญาตจาก MPEG LA เพื่อจัดหาวิดีโอ MPEG-4 ทั้งนี้ไม่มีการอนุญาตหรือการอนุญาตโดยนัยสำหรับการใช้งานอื่น ขอรับข้อมูลเพิ่มเติมรวมทั้งที่เกี่ยวกับการใช้งานเพื่อส่งเสริมการขาย การใช้ภายในและเพื่อการค้า และการขออนุญาตได้จาก MPEG LA, LLC โปรดดูที่ HTTP://WWW.MPEGLA.COM
 </p>
</section>
