<!DOCTYPE html>
<html lang="fr" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Conditions d'utilisation supplémentaires de Google Chrome et ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Conditions d'utilisation supplémentaires de Google Chrome et ChromeOS
</h2>
<p>
 Dernière modification : <time datetime="2023-09-08">8 septembre 2023</time>
</p>
<p>
 En utilisant Chrome ou ChromeOS, vous acceptez les Conditions d'utilisation de Google disponibles sur https://policies.google.com/terms et les présentes Conditions d'utilisation supplémentaires de Google Chrome et ChromeOS.
</p>
<p>
 Ces Conditions d'utilisation supplémentaires de Google Chrome et ChromeOS s'appliquent à la version du code exécutable de Google Chrome et ChromeOS. La majeure partie du code source de Google Chrome est disponible gratuitement dans le cadre de contrats de licence de logiciel Open Source à l'adresse suivante : chrome://credits.
</p>
<p>
 Votre utilisation de certains composants de Chrome et ChromeOS est régie par les conditions ci-dessous :
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  CE PRODUIT EST CONCÉDÉ SOUS LICENCE DANS LE CADRE DE LA LICENCE DU PORTEFEUILLE DES BREVETS AVC EN VUE D'UNE UTILISATION PRIVÉE OU NE GÉNÉRANT PAS DE REVENUS PAR UN UTILISATEUR SOUHAITANT (i) CODER UNE VIDÉO CONFORMÉMENT À LA NORME AVC ("VIDÉO AVC") ET/OU (ii) DÉCODER UNE VIDÉO AVC CODÉE PAR UN UTILISATEUR DANS LE CADRE D'UNE ACTIVITÉ PRIVÉE ET/OU OBTENUE AUPRÈS D'UN FOURNISSEUR VIDÉO AUTORISÉ À FOURNIR DES VIDÉOS AVC. AUCUNE LICENCE N'EST ACCORDÉE DE MANIÈRE EXPLICITE OU IMPLICITE POUR TOUTE AUTRE UTILISATION. POUR PLUS D'INFORMATIONS, CONSULTEZ LE SITE DE MPEG LA, L.L.C À L'ADRESSE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Par ailleurs, votre utilisation de certains composants de ChromeOS est régie par les conditions ci-dessous :
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  CE PRODUIT EST CONCÉDÉ SOUS LICENCE DANS LE CADRE DE LA LICENCE DU PORTEFEUILLE DES BREVETS MPEG-4 VISUAL EN VUE D'UNE UTILISATION PRIVÉE ET NON COMMERCIALE PAR UN UTILISATEUR SOUHAITANT (i) ENCODER UNE VIDÉO CONFORMÉMENT À LA NORME MPEG-4 VISUAL ("VIDÉO MPEG-4") ET/OU (ii) DÉCODER UNE VIDÉO MPEG-4 ENCODÉE PAR UN UTILISATEUR DANS LE CADRE D'UNE ACTIVITÉ PRIVÉE NON COMMERCIALE ET/OU OBTENUE AUPRÈS D'UN FOURNISSEUR VIDÉO AUTORISÉ À FOURNIR DES VIDÉOS MPEG-4 PAR MPEG LA. AUCUNE LICENCE N'EST ACCORDÉE DE MANIÈRE EXPLICITE OU IMPLICITE POUR TOUTE AUTRE UTILISATION. POUR PLUS D'INFORMATIONS, Y COMPRIS CONCERNANT LES USAGES ET CONCESSIONS SOUS LICENCE À CARACTÈRE PROMOTIONNEL, INTERNE OU COMMERCIAL, CONSULTEZ LE SITE DE MPEG LA, L.L.C. À L'ADRESSE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
