<!DOCTYPE html>
<html lang="nl" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Aanvullende servicevoorwaarden van Google Chrome en ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Aanvullende servicevoorwaarden van Google Chrome en ChromeOS
</h2>
<p>
 Laatst gewijzigd: <time datetime="2023-09-08">8 september 2023</time>
</p>
<p>
 Als u Chrome of ChromeOS gebruikt, gaat u akkoord met de Servicevoorwaarden van Google die te vinden zijn op https://policies.google.com/terms en met deze Aanvullende servicevoorwaarden van Google Chrome en ChromeOS.
</p>
<p>
 Deze Aanvullende servicevoorwaarden van Google Chrome en ChromeOS zijn van toepassing op de versie met uitvoerbare code van Chrome en ChromeOS. De meeste broncode van Chrome is kosteloos beschikbaar op grond van licentieovereenkomsten voor opensource-software op chrome://credits.
</p>
<p>
 Op uw gebruik van bepaalde componenten van Chrome en ChromeOS zijn de volgende voorwaarden van toepassing:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  DIT PRODUCT IS IN LICENTIE GEGEVEN ONDER DE AVC PATENT PORTFOLIO-LICENTIE VOOR PERSOONLIJK GEBRUIK DOOR EEN CONSUMENT OF ANDER GEBRUIK WAARBIJ GEEN VERGOEDING WORDT ONTVANGEN OM (i) VIDEO TE CODEREN IN OVEREENSTEMMING MET DE AVC-STANDAARD ('AVC-VIDEO') EN/OF (ii) AVC-VIDEO TE DECODEREN DIE DOOR EEN CONSUMENT VOOR PERSOONLIJK GEBRUIK IS GECODEERD EN/OF IS VERKREGEN VAN EEN VIDEOPARTNER DIE BEVOEGD IS OM AVC-VIDEO AAN TE BIEDEN. VOOR AL HET OVERIGE GEBRUIK WORDT GEEN LICENTIE VERLEEND NOCH GEÏMPLICEERD. AANVULLENDE INFORMATIE IS BESCHIKBAAR VIA MPEG LA, L.L.C. GA NAAR HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Daarnaast zijn op uw gebruik van bepaalde componenten van ChromeOS de volgende voorwaarden van toepassing:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  DIT PRODUCT IS IN LICENTIE GEGEVEN ONDER DE MPEG-4 VISUAL PATENT PORTFOLIO-LICENTIE VOOR PERSOONLIJK EN NIET-COMMERCIEEL GEBRUIK DOOR EEN CONSUMENT OM (i) VIDEO TE CODEREN IN OVEREENSTEMMING MET DE MPEG-4 VISUAL-STANDAARD ('MPEG-4-VIDEO') EN/OF (ii) MPEG-4-VIDEO TE DECODEREN DIE DOOR EEN CONSUMENT VOOR PERSOONLIJK EN NIET-COMMERCIEEL GEBRUIK IS GECODEERD EN/OF IS VERKREGEN VAN EEN VIDEOPROVIDER DIE EEN LICENTIE VAN MPEG LA HEEFT VERKREGEN OM MPEG-4-VIDEO TE LEVEREN. VOOR AL HET OVERIGE GEBRUIK WORDT GEEN LICENTIE VERLEEND NOCH GEÏMPLICEERD. AANVULLENDE INFORMATIE, WAARONDER INFORMATIE IN VERBAND MET PROMOTIONEEL, INTERN EN COMMERCIEEL GEBRUIK EN LICENTIEVERLENING, KAN WORDEN VERKREGEN VIA MPEG LA, LLC. ZIE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
