<!DOCTYPE html>
<html lang="es" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Términos del Servicio Adicionales de Google Chrome y ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Términos del Servicio Adicionales de Google Chrome y ChromeOS
</h2>
<p>
 Última modificación: <time datetime="2023-09-08">8 de septiembre de 2023</time>
</p>
<p>
 Al utilizar Google Chrome o ChromeOS, aceptas los Términos del Servicio de Google disponibles en https://policies.google.com/terms y estos Términos del Servicio Adicionales de Google Chrome y ChromeOS.
</p>
<p>
 Estos Términos del Servicio Adicionales de Google Chrome y de ChromeOS se aplican a la versión de código ejecutable de Google Chrome y de ChromeOS. La mayor parte del código fuente de Google Chrome está disponible de forma gratuita y se rige por los acuerdos de licencia de software libre disponibles en la página chrome://credits.
</p>
<p>
 El uso que hagas de determinados componentes de Google Chrome y ChromeOS está sujeto a los siguientes términos:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ESTE PRODUCTO ESTÁ SUJETO A LA LICENCIA DE CARTERA DE PATENTES AVC PARA USO PERSONAL O PARA OTROS USOS NO REMUNERADOS POR PARTE DE UN CONSUMIDOR PARA i) CODIFICAR VÍDEOS DE CONFORMIDAD CON EL ESTÁNDAR AVC (EN ADELANTE, "VÍDEOS AVC") O PARA ii) DECODIFICAR VÍDEOS AVC CODIFICADOS POR UN CONSUMIDOR COMO PARTE DE UNA ACTIVIDAD DE CARÁCTER PERSONAL U OBTENIDOS DE UN PROVEEDOR DE VÍDEOS CON LICENCIA PARA OFRECER VÍDEOS AVC. NO SE CONCEDE NINGÚN TIPO DE LICENCIA, NI EXPLÍCITA NI IMPLÍCITA, PARA NINGÚN OTRO USO. PARA OBTENER INFORMACIÓN ADICIONAL, CONSULTA LA PÁGINA DE MPEG LA, LLC (HTTP://WWW.MPEGLA.COM).
 </p>
</section>
<section>
</section>
<p>
 Además, el uso que haces de determinados componentes de ChromeOS está sujeto a los siguientes términos:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  ESTE PRODUCTO ESTÁ SUJETO A LA LICENCIA DE CARTERA DE PATENTES VISUALES MPEG-4 PARA USO PERSONAL Y NO COMERCIAL POR PARTE DE UN CONSUMIDOR PARA i) CODIFICAR VÍDEOS DE CONFORMIDAD CON EL ESTÁNDAR VISUAL MPEG-4 (EN ADELANTE, "VÍDEOS MPEG-4") O PARA ii) DECODIFICAR VÍDEOS MPEG-4 CODIFICADOS POR UN CONSUMIDOR COMO PARTE DE UNA ACTIVIDAD DE CARÁCTER PERSONAL Y NO COMERCIAL U OBTENIDOS A TRAVÉS DE UN PROVEEDOR DE VÍDEOS CON LICENCIA DE MPEG LA PARA OFRECER VÍDEOS MPEG-4. NO SE CONCEDE NINGÚN TIPO DE LICENCIA, NI EXPLÍCITA NI IMPLÍCITA, PARA NINGÚN OTRO USO. PARA OBTENER INFORMACIÓN ADICIONAL, INCLUIDA LA RELACIONADA CON LICENCIAS Y CON USOS PROMOCIONALES, INTERNOS Y COMERCIALES, CONSULTA LA PÁGINA DE MPEG LA, LLC (HTTP://WWW.MPEGLA.COM).
 </p>
</section>
