<!DOCTYPE html>
<html lang="bg" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Допълнителни общи условия на Google Chrome и ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Допълнителни общи условия на Google Chrome и ChromeOS
</h2>
<p>
 Последна промяна: <time datetime="2023-09-08">8 септември 2023 г.</time>.
</p>
<p>
 С използването на Chrome или ChromeOS приемате Общите условия на Google на адрес https://policies.google.com/terms и настоящите Допълнителни общи условия на Google Chrome и ChromeOS.
</p>
<p>
 Допълнителните общи условия на Google Chrome и ChromeOS се прилагат към версията на изпълнимия код на тези продукти. По-голямата част от изходния код на Chrome е налице безплатно съгласно лицензи за софтуер с отворен код на адрес chrome://credits.
</p>
<p>
 Използването от ваша страна на определени компоненти от Chrome и ChromeOS е предмет на следните условия:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ТОЗИ ПРОДУКТ Е ЛИЦЕНЗИРАН СЪГЛАСНО ЛИЦЕНЗ ЗА ПОРТФОЛИО ОТ ПАТЕНТИ ЗА AVC ЗА ЛИЧНА УПОТРЕБА ОТ ПОТРЕБИТЕЛ И ДРУГИ ВИДОВЕ УПОТРЕБА, ПРИ КОИТО НЕ СЕ ПОЛУЧАВА ВЪЗНАГРАЖДЕНИЕ, ЗА (i) КОДИРАНЕ НА ВИДЕО В СЪОТВЕТСТВИЕ СЪС СТАНДАРТА AVC („AVC ВИДЕО“) И/ИЛИ (ii) ДЕКОДИРАНЕ НА AVC ВИДЕО, КОЕТО Е КОДИРАНО ОТ ПОТРЕБИТЕЛ, ИЗВЪРШВАЩ ЛИЧНА ДЕЙНОСТ, И/ИЛИ ПОЛУЧЕНО ОТ ДОСТАВЧИК НА ВИДЕОУСЛУГИ, ЛИЦЕНЗИРАН ЗА ПРЕДОСТАВЯНЕ НА AVC ВИДЕО. НЕ СЕ ПРЕДОСТАВЯ И НЕ СЕ ПОДРАЗБИРА ЛИЦЕНЗ ЗА НИКАКВА ДРУГА УПОТРЕБА. ДОПЪЛНИТЕЛНА ИНФОРМАЦИЯ МОЖЕ ДА ПОЛУЧИТЕ ОТ MPEG LA, L.L.C. ВИЖТЕ HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Освен това използването от ваша страна на определени компоненти на ChromeOS е предмет на следните условия:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  ТОЗИ ПРОДУКТ Е ЛИЦЕНЗИРАН СЪГЛАСНО ЛИЦЕНЗ ЗА ПОРТФОЛИО ОТ ПАТЕНТИ ЗА MPEG-4 VISUAL ЗА ЛИЧНА И НЕТЪРГОВСКА УПОТРЕБА ОТ ПОТРЕБИТЕЛ ЗА (i) КОДИРАНЕ НА ВИДЕО В СЪОТВЕТСТВИЕ СЪС СТАНДАРТА MPEG-4 VISUAL („MPEG-4 ВИДЕО“) И/ИЛИ (ii) ДЕКОДИРАНЕ НА MPEG-4 ВИДЕО, КОЕТО Е КОДИРАНО ОТ ПОТРЕБИТЕЛ, ИЗВЪРШВАЩ ЛИЧНА И НЕТЪРГОВСКА ДЕЙНОСТ, И/ИЛИ ПОЛУЧЕНО ОТ ДОСТАВЧИК НА ВИДЕОУСЛУГИ, ЛИЦЕНЗИРАН ОТ MPEG LA ЗА ПРЕДОСТАВЯНЕ НА MPEG-4 ВИДЕО. НЕ СЕ ПРЕДОСТАВЯ И НЕ СЕ ПОДРАЗБИРА ЛИЦЕНЗ ЗА НИКАКВА ДРУГА УПОТРЕБА. ДОПЪЛНИТЕЛНА ИНФОРМАЦИЯ, ВКЛЮЧИТЕЛНО ЗА РЕКЛАМНИ, ВЪТРЕШНИ И ТЪРГОВСКИ ВИДОВЕ УПОТРЕБА И ЛИЦЕНЗИРАНЕ, МОЖЕ ДА ПОЛУЧИТЕ ОТ MPEG LA, L.L.C. ВИЖТЕ HTTP://WWW.MPEGLA.COM.
 </p>
</section>
