<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html DIR="LTR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0">
<title>Google 크롬 서비스 약관</title>
<style>
:root { color-scheme: light dark }
body { font-family:Arial; font-size:13px; }
h2 { font-size:1em; margin-top:0 }
</style>
</head>

<body>
<h2>Google 크롬 서비스 약관</h2>
<p>본 서비스 약관은 Google 크롬의 실행 코드 버전에 적용됩니다. Google 크롬의 소스 코드는 오픈 소스 소프트웨어 라이센스 계약에 따라 무료로 제공됩니다. chrome://credits</p>
<p><strong>1. 귀하와 Google과의 관계</strong></p>
<p>1.1 귀하는 귀하와 Google 간에 법적으로 합의한 계약 내용에 따라 Google의 제품, 소프트웨어, 서비스 및 웹사이트(본문에서 이하 '서비스'라고 통칭. 단, Google이 별도의 서면 계약에 따라 귀하에게 제공한 서비스는 제외)를 사용합니다. 'Google'이란 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States에 주 사업장을 둔 Google Inc.를 의미합니다. 본 문서는 계약의 구성 방식과 해당 계약의 일부 조건에 대한 설명입니다.</p>
<p>1.2 Google과 서면으로 달리 합의하지 않는 한 Google과의 계약에는 본 문서에 명시되어 있는 이용약관이 항상 포함됩니다. 이를 '일반 약관'이라고 합니다. Google 크롬 소스 코드에 대한 오픈 소스 소프트웨어 라이센스는 별도의 서면 계약을 따릅니다. 오픈 소스 소프트웨어 라이센스가 본 일반 약관에 우선 적용되는 것으로 명시된 제한된 범위 내에서 오픈 소스 라이센스는 귀하의 Google 크롬 또는 Google 크롬에 포함된 특정 구성요소의 사용에 대한 Google과의 계약을 규제합니다.</p>
<p>1.3 Google과의 계약에는 일반 약관 외에 아래에 기술된 Google 크롬 추가 서비스 약관 및 서비스에 적용되는 모든 법적 고지사항의 약관이 포함됩니다. 본 문서에서는 이를 '추가 약관'이라고 통칭합니다. 서비스에 추가 약관이 적용되는 경우 해당 추가 약관은 적용되는 서비스 내에서 또는 서비스 이용 중에 확인할 수 있습니다.</p>
<p>1.4 일반 약관과 추가 약관은 서비스 사용과 관련하여 귀하와 Google 간의 법적 구속력을 갖는 계약이므로 충분한 시간을 갖고 주의 깊게 검토하십시오. 본 법률 계약은 이하 '약관'이라고 통칭합니다.</p>
<p>1.5 추가 약관과 일반 약관이 서로 상충하는 경우 해당 서비스와 관련한 추가 약관이 우선적으로 적용됩니다.</p>
<p><strong>2. 약관에 대한 동의</strong></p>
<p>2.1 서비스를 이용하기 위해서는 먼저 약관에 동의해야 합니다. 약관에 동의하지 않을 경우 서비스를 이용할 수 없습니다.</p>
<p>2.2 귀하는 다음과 같은 방식으로 약관에 동의할 수 있습니다.</p>
<p>(A) Google이 각 서비스의 사용자 인터페이스에서 귀하가 선택할 수 있도록 제공하는 약관 동의 옵션을 클릭합니다.</p>
<p>(B) 실제로 서비스를 이용합니다. 이 경우 Google은 귀하의 서비스 이용 시작 시점부터 귀하가 약관에 동의하는 것으로 간주하며, 귀하는 이를 이해하고 동의합니다.</p>
<p><strong>3. 약관의 언어</strong></p>
<p>3.1 Google이 영어 버전 약관에 대한 번역본을 귀하에게 제공하는 경우 번역본은 귀하의 편의를 위해서만 제공되며 영어 버전의 약관이 귀하와 Google 간의 관계에 우선하여 적용된다는 점에 동의합니다.</p>
<p>3.2 영어 버전 약관의 내용과 번역본의 내용이 상충하는 경우 영어 버전이 우선 적용됩니다.</p>
<p><strong>4. Google의 서비스 제공</strong></p>
<p>4.1 Google은 전 세계에 자회사 및 제휴사(이하 '자회사 및 제휴사')를 보유하고 있습니다. 자회사 및 제휴사에서 Google을 대신하여 귀하에게 서비스를 제공하는 경우도 있습니다. 귀하는 해당 자회사 및 제휴사가 귀하에게 서비스를 제공할 수 있는 자격이 있음을 인정하고 이에 동의합니다.</p>
<p>4.2 Google은 사용자에게 최상의 서비스를 제공하기 위해 끊임없이 혁신을 추구하고 있습니다. 귀하는 Google이 제공하는 서비스의 형식과 특성이 예고 없이 수시로 변경될 수 있음을 인정하고 이에 동의합니다.</p>
<p>4.3 귀하는 Google이 지속적인 혁신의 일환으로 Google의 단독 재량에 따라 예고 없이 귀하 또는 사용자에게 제공하는 서비스 또는 서비스에 포함된 모든 기능을 영구적 또는 일시적으로 중단할 수 있음을 인정하고 이에 동의합니다. 귀하는 언제든지 서비스의 이용을 중단할 수 있습니다. 서비스의 이용을 중단할 때 Google에 명시적으로 통보할 필요는 없습니다.</p>
<p>4.4 Google이 귀하의 계정에 대한 액세스를 차단하는 경우 귀하는 서비스, 계정 세부정보, 파일 또는 귀하의 계정에 포함된 기타 콘텐츠에 액세스할 수 없음을 인정하고 이에 동의합니다.</p>
<p><strong>5. 귀하의 서비스 사용</strong></p>
<p>5.1 귀하는 (a) 본 약관 및 (b) 해당 관할지역의 관련 법률이나 규정 또는 일반적으로 통용되는 관행이나 정책(미국 또는 기타 관련 국가의 데이터나 소프트웨어 내보내기/가져오기와 관련된 모든 법률 포함)에 따라 허용되는 목적을 위해서만 서비스를 이용할 것임에 동의합니다.</p>
<p>5.2 귀하는 서비스(또는 서비스가 연결되어 있는 서버 및 네트워크)의 작동을 방해하거나 중단시키는 어떠한 활동에도 관여하지 않을 것에 동의합니다.</p>
<p>5.3 Google과의 별도 계약을 통해 명시적으로 허용된 경우를 제외하고, 귀하는 Google 서비스를 재현, 복제, 복사, 판매, 교환 또는 재판매할 수 없음에 동의합니다.</p>
<p>5.4 귀하는 약관에 명시된 의무에 대한 위반 및 해당 위반으로 Google에 발생할 수 있는 모든 손실 및 피해를 포함하여 해당 결과에 대한 책임이 전적으로 귀하에게 있으며, Google은 귀하 또는 제3자에 대해 어떠한 책임도 없다는 데 동의합니다.</p>
<p><strong>6. 개인정보 보호</strong></p>
<p>6.1 Google의 데이터 보호관행에 대한 자세한 내용은 http://www.google.com/privacy.html과 http://www.google.com/chrome/intl/ko/privacy.html의 Google 개인정보취급방침을 참조하십시오. 해당 정책은 서비스 이용 시 개인정보가 어떻게 취급되고 보호되는지에 대해 설명합니다.</p>
<p>6.2 귀하는 Google의 개인정보취급방침에 따라 귀하의 정보가 이용되는 데 동의합니다.</p>
<p><strong>7. 서비스의 콘텐츠</strong></p>
<p>7.1 귀하는 데이터 파일, 문서 텍스트, 컴퓨터 소프트웨어, 음악, 오디오 파일 또는 기타 사운드, 사진, 동영상, 기타 이미지 등 서비스 이용 시 액세스할 수 있는 모든 정보에 대한 책임이 전적으로 최초에 콘텐츠를 게시한 당사자에게 있음을 이해합니다. 이러한 모든 정보는 이하 '콘텐츠'라고 통칭합니다.</p>
<p>7.2 귀하는 서비스에 게재된 광고 및 해당 서비스에 포함된 스폰서 콘텐츠 등 서비스의 일부로 귀하에게 제공되는 콘텐츠가 해당 콘텐츠를 Google(또는 Google을 대신하는 기타 개인 또는 회사)에 제공하는 스폰서 또는 광고주 소유의 지적재산권으로 보호될 수 있다는 점을 인지해야 합니다. Google 또는 해당 콘텐츠 소유자가 별도의 계약을 통해 명시적으로 허용한 경우를 제외하고 귀하는 해당 콘텐츠의 일부 또는 전부를 수정, 임대, 대여, 판매 또는 배포하거나 이를 바탕으로 파생 제품을 만들어서는 안 됩니다.</p>
<p>7.3 Google은 서비스에서 제공하는 콘텐츠의 일부 또는 전부에 대해 사전 검열, 검토, 표시, 필터링, 수정, 거부 또는 제거할 수 있는 권한이 있습니다(의무는 아님). 일부 서비스의 경우 Google은 노골적으로 표현된 성인용 콘텐츠를 걸러내기 위해 SafeSearch 환경설정(https://support.google.com/websearch/answer/510 참조) 등의 도구를 제공할 수 있습니다. 또한 원치 않는 자료에 대한 액세스를 제한하는 서비스와 소프트웨어를 시중에서 구입할 수도 있습니다.</p>
<p>7.4 귀하는 서비스를 이용하면서 불쾌감을 주거나 저속하거나 용인하기 어려운 콘텐츠에 접할 수 있으며, 이에 대해 전적으로 본인의 책임 하에 해당 서비스를 이용할 것임을 인정합니다.</p>
<p>7.5 귀하는 서비스를 이용하면서 귀하가 작성, 전송 또는 표시한 모든 콘텐츠 및 귀하의 작성, 전송 또는 표시에 따른 결과(Google에 발생할 수 있는 모든 손실 및 피해 포함)에 대한 책임이 전적으로 귀하에게 있으며, Google은 이와 관련하여 귀하 또는 제3자에 대해 어떠한 책임도 없다는 데 동의합니다.</p>
<p><strong>8. 독점 권리</strong></p>
<p>8.1 귀하는 Google(또는 Google의 라이센스 제공자)이 서비스에 대한 모든 지적재산권(해당 지적재산권의 등록 여부 또는 해당 권한이 존재하는 지역과 상관없음)을 포함하여 서비스에 대한 모든 법적 권리, 소유권 및 이권을 보유하고 있음을 인정하고 이에 동의합니다. </p>
<p>8.2 Google과 별도로 서면 계약을 하지 않은 한, 본 약관의 어떠한 내용도 Google의 상표명, 상표, 서비스마크, 로고, 도메인 이름 및 기타 고유한 브랜드 표시를 사용할 권한을 귀하에게 부여하는 것으로 해석해서는 안 됩니다.</p>
<p>8.3 Google과의 별도 계약을 통해 브랜드 표시를 사용할 수 있는 명시적 권한을 부여받은 경우 귀하는 브랜드 표시를 해당 계약, 약관의 적용 가능한 조항 및 수시로 업데이트되는 Google의 브랜드 표시 사용 가이드라인에 따라 사용할 것에 동의합니다. 해당 가이드라인은 http://www.google.co.kr/permissions/guidelines.html 페이지 또는 Google이 별도로 제공하는 URL에서 온라인으로 확인할 수 있습니다.</p>
<p>8.4 Google은 본 약관에 의거, 해당 서비스를 통해 귀하(또는 귀하의 라이센스 제공자)가 제출, 게시, 전송 또는 게재하는 콘텐츠 및 해당 콘텐츠에 따른 모든 지적재산권(해당 지적재산권의 등록 여부 또는 해당 권한이 존재하는 지역에 상관없음)을 통해 어떠한 권리, 소유권 또는 이권도 취하지 않음을 인정하고 이에 동의합니다. Google과 서면으로 달리 합의하지 않는 한, 해당 권리를 보호하고 준수할 책임은 귀하에게 있으며 Google은 귀하를 대신하여 해당 권리를 보호하고 준수할 어떠한 의무도 없다는 점을 인정합니다.</p>
<p>8.5 귀하는 서비스에 포함된 저작권 및 상표 표시를 포함한 모든 독점권 고지사항을 제거하거나 숨기거나 또는 변경하지 않을 것에 동의합니다.</p>
<p>8.6 Google이 서면을 통해 명시적으로 승인한 경우를 제외하고, 귀하는 서비스를 사용하는 동안 서비스마크, 상표명, 로고 등의 소유자 또는 사용 승인을 받은 사용자에 대해 혼동을 야기할 수 있는 방식으로 상표, 서비스마크, 상표명, 회사 또는 조직의 로고를 사용하지 않을 것에 동의합니다.</p>
<p><strong>9. Google의 라이센스 부여</strong></p>
<p>9.1 Google은 서비스의 일부로 귀하에게 제공되는 소프트웨어(이하 '소프트웨어'로 통칭)를 전 세계 어디서나 이용할 수 있도록 하는 양도 불가능한 비독점적인 개인용 라이센스를 무상으로 부여합니다. 해당 라이센스는 귀하가 Google이 제공한 대로 이용약관에 따라 서비스를 사용하고 그에 따른 혜택을 얻을 수 있도록 하기 위한 목적으로만 제공됩니다.</p>
<p>9.2 1.2항에 의거, 관할 법률에서 명시적으로 허용 또는 요구하거나 Google이 서면을 통해 명시적으로 승인하는 경우를 제외하고, 귀하는 소프트웨어 소스 코드의 일부 또는 전부에 대해 복사, 수정, 파생 제품 제작, 리버스 엔지니어링, 디컴파일 또는 추출을 시도해서는 안 되며 다른 사람에게 그렇게 하도록 허용해서도 안 됩니다.</p>
<p>9.3 1.2항에 의거, Google이 서면으로 허용하는 경우를 제외하고 귀하는 소프트웨어 사용 권리를 위임(또는 재라이센스를 부여)하거나, 소프트웨어 사용과 관련한 선취 특권을 부여하거나, 또는 소프트웨어를 사용할 권리 중 어느 일부도 양도할 수 없습니다.</p>
<p><strong>10. 귀하의 콘텐츠 라이센스 부여</strong></p>
<p>10.1 귀하는 서비스를 통해 귀하가 제출, 게시 또는 게재하는 콘텐츠에 대해 이미 확보하고 있는 저작권 및 기타 권리를 보유합니다.</p>
<p><strong>11. 소프트웨어 업데이트</strong></p>
<p>11.1 귀하가 사용하는 소프트웨어는 업데이트가 있는 경우 Google에서 해당 업데이트를 자동으로 다운로드하여 설치할 수 있습니다. 해당 업데이트는 서비스의 개선, 향상 및 추가 개발을 위해 설계되며, 버그 수정, 기능 향상, 신규 소프트웨어 모듈 및 완전히 새로운 버전의 형태를 취할 수 있습니다. 귀하는 서비스 사용의 일환으로 해당 업데이트를 설치하고 Google이 해당 업데이트를 전송하도록 할 것에 동의합니다.</p>
<p><strong>12. 귀하와 Google과의 관계 종료</strong></p>
<p>12.1 본 약관은 아래에 명시된 대로 귀하 또는 Google이 관계를 종료할 때까지 계속 적용됩니다.</p>
<p>12.2 Google은 다음과 같은 경우 언제든지 귀하와의 법적 계약을 해지할 수 있습니다.</p>
<p>(A) 귀하가 약관을 위반하는 경우(또는 약관을 준수할 의사가 없거나 준수할 수 없음을 명백히 보여주는 경우)</p>
<p>(B) 귀하에게 제공되는 서비스가 현지 법에 위배되는 등 Google이 법에 따라 계약을 해지해야 하는 경우</p>
<p>(C) Google과 연계하여 귀하에게 서비스를 제공한 파트너가 Google과의 관계를 종료하거나 귀하에 대한 서비스 제공을 중단하는 경우</p>
<p>(D) Google이 귀하의 거주지 또는 서비스 이용 지역이 속한 국가의 사용자에게 더 이상 해당 서비스를 제공하지 않는 경우</p>
<p>(E) Google이 귀하에게 제공하는 서비스가 더 이상 상업적 성장 가치를 지니지 않는 경우</p>
<p>12.3 본 조의 어떠한 조항도 본 약관 제4조에 따른 서비스 제공과 관련한 Google의 권리에 영향을 주지 않습니다.</p>
<p>12.4 본 약관이 종료되는 경우에도 귀하 및 Google이 혜택을 얻었거나, 적용 대상이었거나, 약관이 시행되는 동안 시간 경과에 따라 발생했거나, 영구히 지속되는 것으로 명시된 모든 법적 권리, 의무 및 책임은 약관의 종료에 관계없이 계속 적용되며, 제19.7조의 조항은 그러한 권리, 의무 및 책임에 대해 영구적으로 적용됩니다.</p>
<p><strong>13. 보증의 배제</strong></p>
<p>13.1 제13조 및 제14조를 포함한 본 약관의 어떠한 내용도 관련 법률에 따라 적법하게 배제되거나 제한될 수 없는 손실에 대한 Google의 보증 또는 책임을 배제하거나 제한할 수 없습니다. 일부 관할지역에서는 과실, 계약위반 또는 암묵적 계약조건 위반으로 인해 발생한 손실 또는 피해에 대한 책임이나 부수적 또는 파생적 손해에 대한 책임을 제한하거나 배제하는 행위, 특정 보증 또는 조건의 배제 등을 허용하지 않습니다. 따라서 제한 조항은 귀하의 관할지역에서 적법한 경우에만 귀하에게 적용되며, Google의 책임은 법률에 의해 허용되는 최대 범위로 제한됩니다.</p>
<p>13.2 귀하는 전적으로 본인의 책임하에 서비스를 이용하며 해당 서비스는 &quot;있는 그대로&quot; 그리고 "이용 가능한" 형태 그대로&quot; 제공됨을 명시적으로 이해하고 이에 동의합니다.</p>
<p>13.3 특히 Google, Google 자회사 및 제휴사, Google 라이센스 제공자 등은 귀하에게 다음 내용을 진술하거나 보증하지 않습니다.</p>
<p>(A) 서비스 이용이 귀하의 요구사항을 충족</p>
<p>(B) 귀하의 서비스 이용에 대한 중단 없는 운영, 적시성, 보안성 또는 오류 방지</p>
<p>(C) 서비스 이용 시 귀하가 획득하는 정보의 정확성 또는 신뢰성</p>
<p>(D) 서비스의 일환으로 귀하에게 제공되는 소프트웨어의 운영 또는 기능상의 결함에 대한 수정</p>
<p>13.4 서비스 이용을 통해 다운로드하거나 입수한 모든 자료에 대한 책임은 전적으로 귀하에게 있으며 해당 자료의 다운로드로 인한 컴퓨터 시스템 또는 기타 장치의 손상이나 데이터 손상에 대한 책임도 전적으로 귀하에게 있습니다.</p>
<p>13.5 귀하가 Google로부터 또는 서비스를 통해 구두상이나 서면으로 입수한 정보 또는 조언은 본 약관에 명시적으로 기술된 보증 이외의 다른 보증을 구성하지 않습니다.</p>
<p>13.6 또한 Google은 상품성, 특정 목적에 대한 적합성 및 재산권 비침해에 대한 묵시적 보증 및 조건을 포함한 모든 종류의 명시적 또는 묵시적 보증 및 조건을 명백히 부인합니다.</p>
<p><strong>14. 책임의 제한</strong></p>
<p>14.1 위의 제13.1조의 전체 조항에 의거하여 귀하는 Google, Google 자회사 및 제휴사, Google 라이센스 제공자 등이 다음 사항에 대한 책임이 없음을 명시적으로 이해하고 이에 동의합니다.</p>
<p>(A) 원인에 관계없이 그리고 책임 이론에 의거하여 귀하에 의해 발생한 직접적, 간접적, 부수적 손해나 특수한 손해, 파생적 또는 징벌적 손해 여기에는 이윤손실(직접적 또는 간접적으로 발생했는지 여부와 상관없이), 신용 또는 명예 훼손, 데이터 손실, 상품 또는 서비스를 대체하기 위한 비용, 또는 기타 무형 손실이 포함됩니다.</p>
<p>(B) 다음의 결과로 인한 손실 또는 손해를 포함하되 이에 국한되지 않는 귀하에 의해 발생한 손실 또는 손해</p>
<p>(I) 광고의 완성도, 정확도 또는 존재 자체에 대한 귀하의 신뢰, 또는 귀하와 Google 서비스에 광고를 게재하는 광고주 또는 스폰서 간의 관계 또는 거래의 결과</p>
<p>(II) Google의 서비스 변경, 또는 서비스(또는 서비스에 포함된 기능)의 영구적 또는 일시적 제공 중단</p>
<p>(III) 서비스의 이용을 통해 유지관리 또는 전송되는 콘텐츠 및 기타 커뮤니케이션 데이터의 삭제, 손상 또는 저장 불능</p>
<p>(IV) 귀하가 정확한 계정 정보를 Google에 제공하지 않은 경우</p>
<p>(V) 귀하가 비밀번호 또는 계정 세부내역의 보안을 유지하지 못한 경우</p>
<p>14.2 위의 제14.1조에 명시되어 있는 귀하에 대한 Google의 책임 제한은 Google이 해당 손해 발생 가능성에 대해 사전에 통보를 받았는지 여부 또는 해당 가능성을 인지하고 있었는지 여부와 상관없이 적용됩니다.</p>
<p><strong>15. 저작권 및 상표 정책</strong></p>
<p>15.1 Google의 정책은 미국의 디지털 밀레니엄 저작권법(DMCA: Digital Millennium Copyright Act) 및 국제 지적재산권법에 의거하여 저작권 침해 사실에 대한 신고가 있을 경우 그에 대한 조치를 취하고 위반 사실이 반복될 경우 해당 계정을 폐쇄하는 것입니다. Google 정책에 대한 자세한 내용은 http://www.google.co.kr/dmca.html 페이지에서 확인하시기 바랍니다.</p>
<p>15.2 Google은 Google의 광고 사업과 관련된 상표 관련 불만사항을 접수 및 처리하고 있습니다. http://www.google.co.kr/tm_complaint.html 페이지에서 자세한 내용을 확인하시기 바랍니다.</p>
<p><strong>16. 광고</strong></p>
<p>16.1 일부 서비스는 광고 수익을 통해 유지되기 때문에 해당 서비스에 광고 및 홍보문구가 표시될 수 있습니다. 해당 광고는 서비스에 저장된 정보의 내용, 서비스를 통해 이루어진 질문 또는 기타 정보를 타겟팅할 수 있습니다.</p>
<p>16.2 Google이 서비스를 통해 광고를 전달하는 방법, 방식 및 범위는 예고 없이 변경될 수 있습니다.</p>
<p>16.3 Google이 귀하에게 서비스 액세스 및 사용 권한을 부여하는 대신 귀하는 Google이 서비스에 관련 광고를 게재할 수 있다는 데 동의합니다.</p>
<p><strong>17. 기타</strong></p>
<p>17.1 서비스에는 다른 웹사이트, 콘텐츠 또는 리소스에 대한 하이퍼링크가 포함될 수 있습니다. Google은 Google 이외의 다른 회사 또는 개인이 제공하는 웹사이트 또는 리소스를 통제할 수 있는 권한이 없습니다.</p>
<p>17.2 귀하는 Google이 외부 사이트나 리소스의 표시 여부에 대해 책임이 없으며, Google은 해당 웹사이트 또는 리소스를 통해 이용가능한 광고, 제품 또는 기타 자료를 후원하지 않을 것임을 인정하고 이에 동의합니다.</p>
<p>17.3 귀하는 Google이 외부 사이트나 리소스의 표시 여부에 따른 결과 또는 해당 웹사이트 또는 리소스를 통해 표시된 광고, 제품 또는 기타 자료의 완성도, 정확도 또는 존재 자체로 인해 귀하에게 발생하는 손실 또는 피해에 대해 책임이 없음을 인정하고 이에 동의합니다.</p>
<p><strong>18. 약관 변경</strong></p>
<p>18.1 Google은 수시로 일반 약관 또는 추가 약관을 변경할 수 있습니다. 약관의 내용을 변경하는 경우 Google은 http://www.google.com/chrome/intl/ko/eula_text.html 페이지에서 일반 약관을 수정하며, 변경된 추가 약관은 해당 약관의 적용을 받는 서비스를 통해 확인할 수 있습니다.</p>
<p>18.2 일반 약관 또는 추가 약관이 변경된 후 귀하가 서비스를 이용하면, Google은 귀하가 업데이트된 일반 약관 및 추가 약관에 대해 동의한 것으로 간주하며, 귀하는 이러한 사실을 이해하고 이에 동의합니다.</p>
<p><strong>19. 일반 법률 약관</strong></p>
<p>19.1 귀하는 서비스 이용을 통해 다른 회사 또는 개인이 제공하는 서비스를 이용하거나 소프트웨어를 다운로드하거나 제품을 구매할 수 있습니다. 해당 방식으로 귀하가 다른 서비스, 소프트웨어, 제품을 이용하는 경우 귀하와 관련 업체 또는 개인 간 개별 약관의 적용을 받으며, 그런 경우 본 약관은 관련 업체 또는 개인과의 법적 관계에 영향을 주지 않습니다.</p>
<p>19.2 본 약관은 귀하와 Google 간의 전면적인 법적 합의를 구성하고, 귀하가 서비스(별도의 계약을 통해 Google이 제공하는 서비스는 제외)를 이용할 때 적용되며, 서비스와 관련하여 귀하와 Google 간에 이루어진 모든 사전 합의에 우선하여 적용됩니다.</p>
<p>19.3 귀하는 Google이 본 약관의 변경 등을 포함한 관련 공지사항을 이메일, 일반우편, 서비스상의 게시물 등을 통해 전달할 수 있다는 데 동의합니다.</p>
<p>19.4 귀하는 Google이 본 약관에 포함되었거나 관련 법률에 따라 Google에 이익이 되는 법적 권리나 구제책을 행사하거나 실행하지 않는 경우 이를 Google의 공식적인 권리 포기로 간주해서는 안 되며 Google은 해당 권리 또는 구제책을 여전히 행사할 수 있음에 동의합니다.</p>
<p>19.5 본 사안을 판결할 수 있는 관할권을 갖는 법원에서 본 약관의 조항이 무효인 것으로 판결하는 경우 해당 조항만 약관에서 삭제되며 약관의 나머지 부분은 아무런 영향을 받지 않습니다. 본 약관의 나머지 조항은 계속해서 유효하며 실행 가능합니다.</p>
<p>19.6 귀하는 Google의 계열사에 속하는 각 업체가 약관에 대한 제3의 수혜자이며 이들 업체는 각자에게 이익이 되는 약관의 조항을 직접 행사하고 이행할 자격이 있음을 인정하고 이에 동의합니다. 해당 업체를 제외한 다른 회사 또는 개인은 본 약관에 대한 제3의 수혜자가 될 수 없습니다.</p>
<p>19.7 본 약관, 그리고 본 약관에 따른 귀하와 Google의 관계는 법률 조항의 상충 여부에 관계없이 캘리포니아 주 법률의 적용을 받습니다. 귀하와 Google은 본 약관으로부터 발생하는 모든 법적 분쟁을 해결하기 위해 캘리포니아 주 산타클라라 카운티 소재 법원의 전속 관할권에 따르는 데 동의합니다. 이와는 별도로 귀하는 Google이 관할지역과 상관없이 강제 구제책 또는 이에 상응하는 긴급 구제책을 시행할 자격이 있음에 동의합니다.</p>
<p><strong>20. Google 크롬용 확장 프로그램에 대한 추가 약관</strong></p>
<p>20.1 본 조항은 Google 크롬에서 확장 프로그램을 설치하는 경우에 적용됩니다. 확장 프로그램이란 Google 크롬의 기능을 수정하고 개선하기 위해 Google이나 타사에서 개발한 소규모 소프트웨어 프로그램입니다. 확장 프로그램은 브라우저나 컴퓨터에 대한 액세스 권한이 일반 웹페이지보다 더 높을 수 있으며 여기에는 개인정보를 읽고 수정할 수 있는 권한도 포함됩니다.</p>
<p>20.2 Google 크롬은 Google이나 타사에서 호스팅하는 원격 서버에 수시로 접속하여 확장 프로그램에 대한 업데이트가 있는지 확인할 수 있으며 여기에는 버그 수정이나 성능 개선 등도 포함됩니다. 귀하는 이러한 업데이트가 별도의 알림 없이 자동으로 요청, 다운로드 및 설치된다는 사실에 동의합니다.</p>
<p>20.3 Google은 Google 개발자 약관이나 기타 법적 계약, 법률, 규정, 정책을 위반하는 확장 프로그램을 수시로 적발할 수 있습니다. Google 크롬은 Google 서버에서 이러한 확장 프로그램의 목록을 주기적으로 다운로드합니다. 귀하는 Google이 자유재량에 따라 이러한 확장 프로그램을 원격으로 사용중지하거나 사용자 시스템에서 삭제할 수 있다는 사실에 동의합니다. </p>
<p><strong>21. 엔터프라이즈 사용에 대한 추가 약관</strong></p>
<p>21.1 기업의 경우, 법인을 대신하여 계약에 동의하는 개인(기업의 경우 본 약관의 '귀하'는 해당 법인을 의미함)은 본인이 귀하를 대신할 권한이 있고, 귀하는 해당 국가에서 기업을 운영할 정당한 권한이 있으며, 귀하의 직원, 임원, 대표 및 서비스에 액세스하는 기타 대리인에게 Google 크롬에 액세스하고 귀하가 본 약관에 법적으로 구속되도록 할 정당한 권한이 있다는 것을 진술 및 보증합니다.</p>
<p>21.2 약관 및 제9조의 라이센스 부여에 따라 Google은 귀하에게 직원, 임원, 대표 및 기업과 관련된 대리인이 사용하는 시스템에서만 Google 크롬을 복제, 배포, 설치 및 사용할 수 있으며 약관에 따라 Google 크롬을 사용해야 하는 비독점적이고 양도가 불가능한 라이센스를 부여합니다.</p>
<p>2010년 8월 12일</p>
<br>
<hr>
<br>
<h2>Google 크롬 추가 서비스 약관</h2>
<p><strong>MPEGLA</strong></p>
<p>본 제품은 (i) AVC 표준('AVC 동영상')에 따라 동영상을 인코딩하거나 (ii) 개인 및 비상업적 활동을 하는 소비자가 인코딩했거나 AVC 동영상을 제공하도록 라이센스를 부여 받은 동영상 파트너로부터 획득한 AVC 동영상을 디코딩하기 위해 소비자가 개인적이고 비상업적으로 사용하기 위한 AVC 특허 포트폴리오 라이센스에 따라 사용이 허가됩니다. 다른 용도로는 어떤 라이센스도 부여되지 않으며 그런 의미도 내포하지 않습니다. MPEG LA, L.L.C.에서 추가 정보를 얻을 수 있습니다. http://www.mpegla.com 페이지를 참조하십시오.</p>
<p><strong>Adobe</strong></p>
<p>Google 크롬에는 Adobe Systems Incorporated와 Adobe Software Ireland Limited('Adobe'로 통칭)에서 제공하는 구성요소가 하나 이상 포함될 수 있습니다. Google에서 제공하는 Adobe 소프트웨어('Adobe Software')를 사용하는 경우 다음의 추가 약관('Adobe 약관')이 적용됩니다. Adobe Software를 수령하는 주체인 귀하를 이후로 '재실시권자'로 칭합니다.</p>
<p>1. 라이센스 제한</p>
<p>(a) Flash Player 버전 10.x는 브라우저 플러그인으로만 설계된 것입니다. 재실시권자는 웹 페이지에 있는 콘텐츠를 재생하기 위한 브라우저 플러그인 이외의 용도로 사용하기 위해 본 Adobe Software를 수정하거나 배포할 수 없습니다. 예를 들어, 재실시권자는 브라우저 외부에서 작동하는 응용프로그램(예: 독립형 응용프로그램, 위젯, 기기 UI)과 상호 운용할 수 있도록 하기 위해 본 Adobe Software를 수정할 수 없습니다.</p>  
<p>(b) 재실시권자는 Flash Player 버전 10.x를 독립형 응용프로그램으로 사용하여 웹페이지의 콘텐츠를 재생할 수 있도록 하는 방식으로 브라우저 플러그인 인터페이스를 통해 그러한 확장 프로그램의 API를 노출하지 않아야 합니다.</p>
<p>(c) Chrome-Reader Software를 사용하여 Adobe DRM 이외의 디지털 권한 관리 프로토콜 또는 시스템을 활용하는 PDF 또는 EPUB 문서를 렌더링할 수 없습니다.</p>
<p>(d) Adobe DRM으로 보호된 모든 PDF 및 EPUB 문서에 대해 Chrome-Reader Software에서 Adobe DRM를 사용해야 합니다.</p>
<p>(e) 기술 사양에서 명시적으로 허용하는 경우를 제외하면, Chrome-Reader Software는 Adobe가 Adobe Software를 통해 제공하는 어떤 기능도 사용 중지할 수 없으며, 여기에는 PDF 및 EPUB 형식과 Adobe DRM에 대한 지원이 포함되지만 이에 국한되지는 않습니다.</p>
<p>2. 전자 전송 CD-ROM, DVD-ROM 또는 다른 저장 매체에 저장하거나 웹 사이트, 인터넷, 인트라넷 또는 유사한 기술로 구현된 공간에서 Adobe Software를 다운로드('전자 전송')하는 것과 같은 방법으로 재실시권자가 Adobe Software의 배포를 허용할 경우 무단 사용을 방지하기 위한 적절한 보안 조치를 취해야 한다는 점에 동의한다면 재실시권자는 웹 사이트, 인터넷, 인트라넷 또는 유사한 기술로 구현된 공간에서 Adobe Software의 전자 전송을 허용할 수 있습니다. 이 문서에서 승인한 전자 전송에 관해, 재실시권자는 보안 관련 제한 및/또는 재실시권자 제품의 최종 사용자 배포 제한을 비롯하여 Adobe가 설정한 모든 합리적 사용 제한의 적용에 동의합니다.</p>  
<p>3. EULA 및 배포 약관</p>  
<p>(a) 재실시권자는 재실시권자와 공급업체의 이익을 위해 각각 다음과 같은 최소한의 조건('최종 사용자 라이센스')을 포함하여 유효한 최종 사용자 라이센스 계약에 따라 최종 사용자에게 Adobe Software를 배포합니다. (i) 배포 및 복사 금지, (ii) 수정 및 파생 작업 금지, (iii) 디컴파일, 리버스 엔지니어링, 디어셈블리, 그 밖에도 Adobe Software를 사람이 인지할 수 있는 형태로 축소하는 행위 금지, (iv) 재실시권자와 라이센스 제공자가 (8조에 정의된) 재실시권자 제품을 소유하고 있음을 나타내는 조항, (v) 간접적, 특수적, 우발적, 처벌적 및 부수적 손해에 대한 면책조항, (vi) 법률에서 허용하는 최대한으로 적용되는 모든 법적 보증에 대한 면책조항을 포함한 다른 업계 표준 면책조항 및 제한사항</p>
<p>(b) 재실시권자는 Adobe 약관으로 Adobe를 보호하는 조건을 포함하여, 재실시권자와 공급업체의 이익을 위해 유효한 배포 라이센스 계약에 따라 재실시권자의 유통업자에게 Adobe Software가 배포되도록 해야 합니다.</p>  
<p>4. 오픈소스 재실시권자는 사용, 수정 및/또는 배포 조건으로서 Adobe Software를 (i) 소스 코드 형태로 공개 또는 배포하거나, (ii) 파생 제품을 만들 목적으로 라이센스로 제공하거나, (iii) 무료로 재배포할 수 있어야 한다는 요구사항으로 해석하거나 해석할 수 있는 오픈소스 라이센스 또는 스키마에 종속시키게 될 Adobe의 지적 재산 또는 독점 권리 하에 어떤 권한이나 특권도 제3자에게 직접 또는 간접적으로 부여하지 않을 것이며 그럴 의도조차 가지지 않을 것입니다. 분명히 기술하자면 전술한 제한 사항이 재실시권자가 배포를 할 수 없음을 의미하는 것이 아니며 재실시권자는 요금을 받지 않고 Google Software와 함께 번들 형태로 Adobe Software를 배포합니다.</p>
<p>5. 추가 약관 재실시권자에게 제공한 Adobe Software의 모든 업데이트, 업그레이드, 새 버전('업그레이드'로 통칭)에 관해, Adobe는 업그레이드 및 향후 버전과, 해당 업그레이드의 모든 재실시권자에 대해 Adobe에서 부과한 제한의 정도까지만 적용 가능한 추가적인 이용약관을 요구할 권리가 있습니다. 재실시권자가 해당 추가 이용약관에 동의하지 않는 경우 해당 업그레이드에 관한 라이센스 권한을 가질 수 없으며, Adobe Software에 관한 재실시권자의 라이센스 권한은 해당 추가 약관을 재실시권자에게 제공한 날짜로부터 90일째 되는 날에 자동으로 종료됩니다.</p>  
<p>6. 독점 권리 고지 재실시권자는 Adobe Software 또는 부속 자료에 나타나는 Adobe와 (있는 경우) 라이센스 제공자의 저작권 고지, 상표, 로고 또는 관련 고지 또는 기타 독점 권리 고지를 삭제하거나 어떤 식으로든 변경하지 않아야 하며, 유통업자에게도 이와 동일하게 요구해야 합니다.</p>
<p>7. 기술 요구사항 재실시권자와 유통업자는 (i) http://www.adobe.com/mobile/licensees(또는 양수인의 웹 사이트)에 게시된 기술 사양을 충족하고, (ii) 아래에 설명한 것처럼 Adobe가 확인한 기기에서 Adobe Software 및/또는 업그레이드를 배포만 할 수 있습니다.</p>
<p>8. 인증 및 업데이트 재실시권자는 Adobe에서 인증할 수 있도록 Google에서 알려주는 기기 인증 예외 기준을 충족시키지 못하는 Adobe Software 및/또는 업그레이드('재실시권자 제품')를 포함한 재실시권자의 각 제품과 그에 따른 각 버전을 Adobe에 제출해야 합니다. 재실시권자는 http://flashmobile.adobe.com/ 페이지에 있는 제출 당시 현행 약관에 따라 인증 패키지를 구입하여 재실시권자가 제출한 각각의 건에 대해 요금을 지불해야 합니다. 인증을 통과하지 못한 재실시권자 제품은 배포할 수 없습니다. 인증은 http://flashmobile.adobe.com/ 페이지에 설명되어 있는 Adobe의 당시 현행 프로세스('인증')에 따라 이루어집니다.</p>
<p>9. 프로필과 Device Central 재실시권자는 인증 프로세스의 일부 또는 다른 방법으로 재실시권자 제품에 대한 특정 프로필 정보를 입력해야 하며 그러한 정보를 Adobe에 제공해야 합니다. Adobe는 (i) (재실시권자 제품이 인증 대상인 경우) 재실시권자 제품 인증에 필요한 프로필 정보를 합당한 수준에서 사용하고, (ii) 이 프로필 정보를 https://devices.adobe.com/partnerportal/에 있는 'Adobe Device Intelligence 시스템'에 표시하고 Adobe의 저작 및 개발 도구와 서비스를 통해 제공하여 개발자와 최종 사용자가 재실시권자 제품에서 콘텐츠나 응용프로그램이 어떻게 표시되는지(예: 동영상 이미지가 특정 전화기에 어떻게 나타나는지) 보도록 할 수 있습니다.</p>  
<p>10. 수출 재실시권자는 미국의 법률과 규정에 따라 원산지가 미국인 상품과 기술 데이터의 수출과 재수출이 제한된다는 사실을 알고 있으며, 이런 상품에 Adobe Software가 포함될 수 있습니다. 재실시권자는 적절한 미국 및 외국 정부의 통관수속(있는 경우)을 거치지 않고 Adobe Software를 수출 또는 재수출하지 않을 것이라는 데 동의합니다.</p>
<p>11. 기술 패스 스루 약관</p>  
<p>(a) 관련 당사자와의 관계에서 이루어진 적절한 허가 또는 계약에 따르는 경우를 제외하고, 재실시권자는 PC 이외의 기기(예: 휴대전화 또는 셋톱 박스)에서 mp3 오디오 전용(.mp3) 데이터의 인코딩 또는 디코딩을 위해 Adobe Software를 사용하지도 사용하도록 허용하지도 않을 것이며, Adobe Software에 포함된 mp3 인코더 또는 디코더를 사용하거나 Adobe Software 이외의 제품으로 액세스할 수도 없습니다. 동영상, 사진 또는 다른 데이터가 들어 있는 swf 또는 flv 파일에 포함된 MP3 데이터의 인코딩 또는 디코딩 작업에는 Adobe Software를 사용할 수 있습니다. 재실시권자는 본 조항의 금지사항에 설명된 바와 같이 PC 이외의 기기에 Adobe Software를 사용하려면 MP3 기술과 관련된 지적 재산권을 보유한 타사에 라이센스 로열티나 다른 명목으로 소정의 금액을 지불해야 할 수도 있고, Adobe와 재실시권자 그 누구도 타사의 지적 재산권 때문에 그런 용도로 사용한 데 대해 로열티나 다른 명목의 금액을 지불하지 않았음을 알고 있습니다. 재실시권자가 MP3 인코더 또는 디코더를 그런 용도로 사용해야 할 경우, 일체의 관련 특허권을 포함하여 필요한 지적 재산권 관련 라이센스를 획득할 책임은 재실시권자에게 있습니다.</p>
<p>(b) 재실시권자는 (i) Adobe Software를 사용하여 Flash 동영상 파일 형식(.flv 또는 .f4v)으로 동영상을 디코딩하기 위해 필요에 따라 On2 소스 코드(아래에 소스 코드의 구성요소로 제공됨)와 (ii) Adobe Software의 성능을 향상시키고 버그를 수정한다는 제한적인 목적을 가진 Sorenson Spark 소스 코드(아래에 소스 코드의 구성요소로 제공됨)를 사용, 복사, 복제 및 수정하지 않을 것입니다. Adobe Software와 함께 제공되는 모든 코덱은 Adobe Software의 통합된 한 부분으로만 사용 및 배포할 수 있고, 다른 Google 응용프로그램을 포함한 다른 어떤 응용프로그램으로도 액세스할 수 없습니다.</p>  
<p>(c) 소스 코드는 AAC 코덱 및/또는 HE-AAC 코덱('AAC 코덱')과 함께 제공될 수 있습니다. 재실시권자가 AAC 코덱을 사용할 최종 제품에 대해 VIA Licensing에서 제공하는 대로 필요한 특허를 포괄하는 올바른 특허 라이센스를 획득한다는 조건으로 AAC 코덱을 사용할 수 있습니다. 재실시권자는 Adobe가 본 계약에서 재실시권자나 재실시권자가 라이센스를 부여한 재실시권자에게 AAC 코덱에 대한 특허 라이센스를 제공하지는 않는다는 점을 알고 있고 이에 동의합니다.</p>
<p>(d) 소스 코드에는 (i) AVC 표준('AVC 동영상')에 따라 동영상을 인코딩하고/하거나 (ii) 개인적으로 비상업적 활동을 하는 소비자가 인코딩하고/하거나 AVC 동영상을 제공하도록 라이센스를 받은 동영상 제공업체로부터 획득한 AVC 동영상을 디코딩하기 위해 소비자가 개인적이고 비상업적으로 사용하기 위한 AVC 특허 포트폴리오 라이센스에 따라 사용이 허가된 코드가 포함될 수 있습니다. 다른 용도로는 어떤 라이센스도 부여되지 않고 그런 의미도 내포하지 않습니다. MPEG LA, L.L.C.에서 추가 정보를 얻을 수 있습니다. http://www.mpegla.com 페이지를 참조하십시오.</p>
<p>12. 업데이트 재실시권자는 Google Software와 함께 번들로 Adobe Software를 포함하고 있는 재실시권자의 모든 제품('재실시권자 제품')에서 Adobe Software를 업데이트하려는 Google이나 Adobe의 노력을 교묘히 회피하지 않을 것입니다.</p>  
<p>13. 저작자 표시 및 독점 권리 고지 재실시권자는 공개적으로 사용할 수 있는 재실시권자 제품 사양에 Adobe Software를 표시하고 재실시권자 제품에 포함된 타사 제품의 브랜드 표시와 일관된 방식으로 재실시권자 제품 포장이나 마케팅 자료에 알맞은 Adobe Software 브랜드(Adobe의 회사 로고는 제외함)를 포함시킬 것입니다.</p>
<p>14. 무보증 Adobe Software를 '현재 상태 그대로' 사용 및 복제할 수 있게 재실시권자에게 제공할 수 있고, Adobe는 소프트웨어의 사용이나 성능에 관해서는 어떤 보증도 하지 않습니다. Adobe와 협력 공급업체는 Adobe Software를 사용하여 얻을 수 있는 성능이나 결과에 대한 보증을 하지 않고 할 수도 없습니다. Adobe와 협력 공급업체가 재실시권자의 관할권에서 재실시권자에게 적용되는 법률에 따라 배제되거나 제한될 수 없거나 그렇게 허용되지 않는 범위까지의 모든 보증, 조건, 표현 또는 약관을 제외하고, Adobe와 협력 공급업체는 타사의 권리에 대한 비침해, 상품성, 완성도, 품질 만족 또는 특정 목적 적합성을 포함한(이에 국한되는 것은 아님) 일체의 사안에 관해 (성문법, 관습법, 관례, 관행 등의 여부를 불문하고 명시적이든 묵시적이든) 어떤 보증, 조건, 표현 또는 약관도 제시하지 않습니다. 재실시권자는 Adobe를 대신하여 명시적이든 묵시적이든 어떤 보증도 하지 않겠다는 점에 동의합니다.</p>  
<p>15. 책임의 제한. Adobe나 협력 공급업체는 그 무엇이 되었든 일체의 손해, 클레임 또는 비용이나 일체의 부수적, 간접적 또는 우발적 손해나 수익의 손실 또는 비용 절약 기회의 손실에 대해 어떤 경우에도 재실시권자에게 책임을 지지 않으며, 이는 Adobe 담당자가 그런 손실, 손해, 클레임 또는 비용 발생 가능성이나 타사의 클레임에 대한 통보를 받았다 하더라도 마찬가지입니다. 전술한 제한 및 제외 사항은 재실시권자의 관할권에서 적용되는 법률에서 허용하는 범위까지 해당됩니다. 본 계약에 따르거나 이와 관련하여 Adobe와 협력 공급업체가 지는 총 배상 책임은 일천 달러(US $1,000)로 제한됩니다. 본 계약에는 Adobe의 태만이나 불법적인 기만 행위(사기)로 인한 사망 또는 부상 사고가 발생한 경우 재실시권자에 대한 Adobe의 배상 책임에 제한을 두는 조항은 없습니다. Adobe는 본 계약에 따른 의무, 보증 및 책임을 부인, 배제 및/또는 제한할 목적으로 공급업체의 입장을 대변하고 있는 것이지, 다른 어떤 동기와 목적도 없습니다.</p>
<p>16. 콘텐츠 보호 약관</p>
<p>(a) 정의</p>
<p>'규정 준수 및 견고성 규칙'은 http://www.adobe.com/mobile/licensees 또는 해당 양수인의 웹사이트에 있는 Adobe Software에 대한 규정 준수 및 견고성 규칙을 설명하는 문서를 뜻합니다.</p>
<p>'콘텐츠 보호 기능'은 규정 준수 및 견고성 규칙을 지키고 Adobe Software 사용자가 소비용으로 배포된 디지털 콘텐츠에 관해 해당 소유자나 라이센스가 있는 유통업자의 승인을 받지 않고 재생, 복사, 수정, 재배포 또는 다른 행위를 할 때 그런 행위를 방지할 수 있도록 설계된 Adobe Software의 해당 기능을 뜻합니다.</p>
<p>'콘텐츠 보호 코드'는 특정 콘텐츠 보호 기능을 사용하는 Adobe Software의 지정 버전 내에 있는 코드를 뜻합니다.</p>
<p>'키'는 디지털 콘텐츠의 암호 해독 시 사용하기 위해 Adobe Software에 포함된 암호 값을 뜻합니다.</p>
<p>(b) 라이센스 제한 Adobe Software에 관한 라이센스를 행사할 수 있는 재실시권자의 권리에는 다음의 추가적 제한과 의무가 적용됩니다. 재실시권자는 재실시권자의 고객이 Adobe Software에 관해 재실시권자에게 적용되는 것과 같은 수준의 이런 제한과 의무 사항을 준수하도록 할 것입니다. 재실시권자의 고객이 이런 추가 제한 및 의무 사항을 준수하지 않는 경우에는 이를 재실시권자의 실질적인 계약 위반으로 처리합니다.</p>
<p>b.1. 재실시권자와 고객은 상기 Adobe 이용약관에서 설명한 인증 프로세스 중 재실시권자가 확인한 바와 같이 규정 준수 및 견고성 규칙을 지키는 Adobe Software만 배포할 수 있습니다.</p>   
<p>b.2. 재실시권자는 Adobe Software 사용자가 Adobe Software 또는 이 소프트웨어를 정당하게 사용하기 위해 디지털 콘텐츠를 암호화 또는 암호 해독하는 데 사용되는 관련 Adobe Software의 콘텐츠 보호 기능을 교묘히 회피하거나, (ii) Adobe Software 사용자가 Adobe Software 또는 이 소프트웨어를 정당하게 사용하기 위해 디지털 콘텐츠를 암호화 또는 암호 해독하는 데 사용되는 관련 Adobe Software의 콘텐츠 보호 기능을 교묘히 회피하도록 설계된 제품을 개발 또는 배포하지 않아야 합니다.</p>
<p>(c) 이에 키는 Adobe의 기밀 정보로 지정되며, 재실시권자는 키에 관해 Adobe의 소스 코드 처리 절차(요청 시 Adobe에서 제공할 것임)를 준수합니다.</p>  
<p>(d) 가처분에 의한 구제 재실시권자는 본 계약을 위반하면 Adobe Software의 콘텐츠 보호 기능이 손상되어 해당 콘텐츠 보호 기능에 의존하는 Adobe와 디지털 콘텐츠 소유자의 이익에 지속적으로 큰 손해를 초래할 수 있고 그런 손해에 대해 충분히 보상하려면 금전적 손해 배상만으로는 불충분할 수 있다는 점에 동의합니다. 따라서 재실시권자는 Adobe가 금전적 손해 외에도, 그러한 계약 위반으로 인한 손해를 예방하거나 제한하기 위해 가처분에 의한 구제 수단을 동원할 권리가 있다는 점에도 동의합니다.</p>
<p>17. 의도된 제3의 수익자 Adobe 이용약관을 포함하여(이에 국한되지는 않음) Adobe Software에 관해 Google이 재실시권자와 체결한 계약에서 의도된 제3의 수익자는 Adobe Systems Incorporated와 Adobe Software Ireland Limited입니다. Google과 체결한 계약에 이와 충돌하는 조항이 있을지라도, 재실시권자는 Google이 재실시권자의 신원을 Adobe에 공개하고 재실시권자가 Adobe 이용약관을 비롯하여 Google과 라이센스 계약을 체결했음을 서면으로 증명할 수 있다는 점에 동의합니다. 재실시권자는 각각의 라이센스 수혜자와 계약을 맺어야 하고, 계약을 맺은 라이센스 수혜자가 Adobe Software를 재배포할 수 있는 경우 해당 계약에는 Adobe 이용약관이 포함될 것입니다.</p>
</body>
</html>
