<!DOCTYPE html>
<html lang="lt" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>„Google Chrome“ ir „ChromeOS“ papildomos paslaugų teikimo sąlygos</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 „Google Chrome“ ir „ChromeOS“ papildomos paslaugų teikimo sąlygos
</h2>
<p>
 Paskutinį kartą keista: <time datetime="2025-09-30">2025 m. rugsėjo 30 d.</time>
</p>
<p>
 Naudodami „Chrome“ arba „ChromeOS“ sutinkate su „Google“ paslaugų teikimo sąlygomis, pateiktomis adresu https://policies.google.com/terms, ir šiomis „Google Chrome“ bei „ChromeOS“ papildomomis paslaugų teikimo sąlygomis.
</p>
<p>
 Šios „Google Chrome“ ir „ChromeOS“ papildomos paslaugų teikimo sąlygos taikomos vykdomojo kodo versijai sistemoje „Chrome“ ir „ChromeOS“. Didžioji dalis „Chrome“ šaltinio kodo pasiekiama nemokamai pagal atvirojo šaltinio programinės įrangos licencijos sutartį adresu chrome://credits.
</p>
<p>
 Naudojant tam tikrus „Chrome“ ir „ChromeOS“ komponentus, taikomos toliau nurodytos sąlygos.
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ŠIS PRODUKTAS LICENCIJUOTAS PAGAL „AVC“ PATENTŲ PORTFELIO LICENCIJĄ, KURI LEIDŽIA KLIENTUI ASMENINIAIS IR KITAIS TIKSLAIS, KAI NĖRA ATLYGINAMA, i. KODUOTI VAIZDO ĮRAŠĄ LAIKANTIS „AVC“ STANDARTŲ („AVC“ VAIZDO ĮRAŠAS) IR (ARBA) ii. IŠŠIFRUOTI „AVC“ VAIZDO ĮRAŠĄ, KURIS BUVO UŽKODUOTAS, KAI KLIENTAS UŽSIĖMĖ ASMENINE VEIKLA, IR (ARBA) BUVO GAUTAS IŠ VAIZDO ĮRAŠŲ TEIKĖJO, LICENCIJUOTO TEIKTI „AVC“ VAIZDO ĮRAŠĄ. JOKIA LICENCIJA NESUTEIKIAMA AR NENUMATOMA NAUDOTI KITAIS TIKSLAIS. PAPILDOMOS INFORMACIJOS GALIMA GAUTI IŠ „MPEG LA, L.L.C.“ ŽR. ŠIUO ADRESU: HTTPS://WWW.VIA-LA.COM.
 </p>
</section>

