<!DOCTYPE html>
<html lang="hr" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dodatni uvjeti pružanja usluge za Google Chrome i ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Dodatni uvjeti pružanja usluge za Google Chrome i ChromeOS
</h2>
<p>
 Zadnja izmjena: <time datetime="2023-09-08">8. rujna 2023.</time>
</p>
<p>
 Korištenjem Chromea ili OS Chromea prihvaćate Googleove uvjete pružanja usluge na https://policies.google.com/terms i ove Dodatne uvjete pružanja usluge za Google Chrome i OS Chrome.
</p>
<p>
 Ovi Dodatni uvjeti pružanja usluge za Google Chrome i OS Chrome primjenjuju se na izvršnu verziju koda Chromea i OS-a Chrome. Većina otvorenog izvornog koda za Chrome dostupna je besplatno u skladu s ugovorima o licenci za softver otvorenog izvornog koda na stranici chrome://credits.
</p>
<p>
 Na vašu upotrebu određenih komponenti Chromea i OS-a Chrome primjenjuju se sljedeći uvjeti:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  OVAJ JE PROIZVOD LICENCIRAN U SKLADU S LICENCOM AVC PATENT PORTFOLIO ZA OSOBNU UPOTREBU KORISNIKA ILI SLIČNU UPOTREBU, PRI ČEMU KORISNIK NE PRIMA NADOKNADU ZA (i) KODIRANJE VIDEOZAPISA U SKLADU S VIZUALNIM STANDARDOM AVC ("AVC VIDEOZAPIS") I/ILI (ii) DEKODIRANJE AVC VIDEOZAPISA KOJE SU KODIRALI KORISNICI U OKVIRU OSOBNE AKTIVNOSTI I/ILI KOJI SU DOBIVENI OD PARTNERA LICENCIRANOG ZA PRUŽANJE AVC VIDEOZAPISA. LICENCA SE NE DAJE NITI PODRAZUMIJEVA ZA BILO KOJU DRUGU UPOTREBU. DODATNE INFORMACIJE MOGU SE DOBITI OD TVRTKE MPEG LA, L.L.C. VIDI HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Osim toga, na upotrebu određenih komponenti OS Chromea primjenjuju se sljedeći uvjeti:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  OVAJ JE PROIZVOD LICENCIRAN U SKLADU S LICENCOM MPEG-4 VISUAL PATENT PORTFOLIO ZA OSOBNU I NEKOMERCIJALNU KORISNIČKU UPOTREBU ZA (i) KODIRANJE VIDEOZAPISA U SKLADU S VIZUALNIM STANDARDOM MPEG-4 ("MPEG-4 VIDEOZAPIS"\) I/ILI (ii) DEKODIRANJE MPEG-4 VIDEOZAPISA KOJE SU KODIRALI KORISNICI U OKVIRU OSOBNE I NEKOMERCIJALNE DJELATNOSTI I/ILI KOJI SU DOBIVENI OD PARTNERA KOJE JE MPEG LICENCIRAO ZA PRUŽANJE MPEG-4 VIDEOZAPISA. LICENCA SE NE DAJE NITI PODRAZUMIJEVA ZA BILO KOJU DRUGU UPOTREBU. DODATNE INFORMACIJE, UKLJUČUJUĆI ONE U VEZI S PROMOTIVNOM, INTERNOM I KOMERCIJALNOM UPOTREBOM I LICENCIRANJEM, DOSTUPNE SU KOD TVRTKE MPEG LA, LLC. POGLEDAJTE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
