<!DOCTYPE html>
<html lang="ja" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome および ChromeOS 追加利用規約</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome および ChromeOS 追加利用規約
</h2>
<p>
 最終更新日: <time datetime="2023-09-08">2023年9月8日</time>
</p>
<p>
 Chrome または ChromeOS を使用することにより、Google 利用規約 https://policies.google.com/terms と、この Google Chrome および ChromeOS 追加利用規約に同意したことになります。
</p>
<p>
 この Google Chrome および ChromeOS 追加利用規約は、Chrome および ChromeOS の実行コード バージョンに適用されます。Chrome のソースコードの大半は、chrome://credits のオープンソース ソフトウェア ライセンスに基づき無料でご利用いただけます。
</p>
<p>
 Chrome および ChromeOS の特定コンポーネントの利用については以下の条項が適用されます。
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  本製品は AVC 特許ポートフォリオ ライセンスの下でライセンス供与されています。このライセンスの下、消費者の個人的または報酬を受け取らないその他の目的で（i）AVC 規格に準拠した動画（以下「AVC 動画」）をエンコードすることができ、および / または（ii）個人的なアクティビティに従事する消費者がエンコードした AVC 動画および / または AVC 動画の提供ライセンスを受けた動画プロバイダから取得した AVC 動画をデコードすることができます。上記以外の用途のライセンスは、明示または黙示を問わず付与されません。詳しくは、MPEG LA, L.L.C. にお問い合わせいただくか、http://www.mpegla.com（英語）をご覧ください。
 </p>
</section>
<section>
</section>
<p>
 また、ChromeOS の特定コンポーネントの利用については以下の条項が適用されます。
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  本製品は MPEG-4 Visual 特許ポートフォリオ ライセンスの下でライセンス供与されています。このライセンスの下、消費者の個人的な非営利目的で（i）MPEG-4 Visual 規格に準拠した動画（以下「MPEG-4 Visual 動画」）をエンコードすることができ、および / または（ii）個人的な非営利のアクティビティに従事する消費者がエンコードした MPEG-4 Visual 動画および / または MPEG LA から MPEG-4 動画を提供するライセンスを付与された動画プロバイダから取得した MPEG-4 動画をデコードすることができます。上記以外の用途のライセンスは、明示または黙示を問わず付与されません。プロモーション目的、組織内、営利目的での利用、およびライセンスに関する情報について詳しくは、MPEG LA, L.L.C. にお問い合わせいただくか、http://www.mpegla.com（英語）をご覧ください。
 </p>
</section>
