<!DOCTYPE html>
<html lang="ro" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Termenii și condițiile suplimentare pentru Google Chrome și ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Termenii și condițiile suplimentare pentru Google Chrome și ChromeOS
</h2>
<p>
 Ultima modificare: <time datetime="2023-09-08">8 septembrie 2023</time>
</p>
<p>
 Dacă folosești Chrome sau ChromeOS, ești de acord cu Termenii și condițiile Google de la https://policies.google.com/terms și cu acest set de Termeni și condiții suplimentare pentru Google Chrome și ChromeOS.
</p>
<p>
 Acest set de Termeni și condiții suplimentare pentru Google Chrome și ChromeOS se aplică versiunii cu cod executabil a browserului Chrome și a ChromeOS. Majoritatea codului sursă pentru Chrome este disponibil gratuit, în baza acordurilor de licență pentru software open source, la chrome://credits.
</p>
<p>
 Folosirea anumitor componente din Chrome și ChromeOS este supusă următoarelor condiții:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ACEST PRODUS ESTE LICENȚIAT CONFORM LICENȚEI PENTRU PORTOFOLIUL DE BREVETE AVC PENTRU UZUL PERSONAL DE CĂTRE UN CONSUMATOR SAU PENTRU ALTE MODURI DE UTILIZARE PENTRU CARE NU ESTE REMUNERAT PENTRU (i) A CODIFICA CONȚINUT VIDEO ÎN CONFORMITATE CU STANDARDUL AVC („CONȚINUT VIDEO AVC”) ȘI/SAU PENTRU (ii) A DECODIFICA CONȚINUT VIDEO AVC CARE A FOST CODIFICAT DE UN CONSUMATOR CARE DESFĂȘOARĂ O ACTIVITATE PERSONALĂ ȘI/SAU CARE A FOST OBȚINUT DE LA UN FURNIZOR VIDEO LICENȚIAT PENTRU OFERIREA DE CONȚINUT VIDEO AVC. NU SE ACORDĂ ȘI NU SE SUGEREAZĂ ACORDAREA NICIUNEI LICENȚE ÎN NICIUN ALT SCOP. POȚI OBȚINE INFORMAȚII SUPLIMENTARE DE LA MPEG LA, L.L.C. ACCESEAZĂ HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Folosirea anumitor componente ale ChromeOS este supusă și următoarelor condiții:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  ACEST PRODUS ESTE LICENȚIAT CONFORM LICENȚEI PENTRU PORTOFOLIUL DE BREVETE VIZUALE MPEG-4 PENTRU UZUL PERSONAL ȘI NECOMERCIAL DE CĂTRE UN CONSUMATOR PENTRU (i) A CODIFICA CONȚINUT VIDEO ÎN CONFORMITATE CU STANDARDUL VIZUAL MPEG-4 („CONȚINUT VIDEO MPEG-4”) ȘI/SAU PENTRU (ii) A DECODIFICA CONȚINUT VIDEO MPEG-4 CARE A FOST CODIFICAT DE UN CONSUMATOR CARE DESFĂȘOARĂ O ACTIVITATE PERSONALĂ, NECOMERCIALĂ, ȘI/SAU CARE A FOST OBȚINUT DE LA UN FURNIZOR VIDEO LICENȚIAT DE MPEG PENTRU OFERIREA DE CONȚINUT VIDEO MPEG-4. NU SE ACORDĂ ȘI NU SE SUGEREAZĂ ACORDAREA NICIUNEI LICENȚE ÎN NICIUN ALT SCOP. POȚI OBȚINE INFORMAȚII SUPLIMENTARE, INCLUSIV PRIVIND FOLOSIREA ÎN SCOPURI PROMOȚIONALE, INTERNE ȘI COMERCIALE ȘI PRIVIND LICENȚIEREA, DE LA MPEG LA, LLC. ACCESEAZĂ HTTP://WWW.MPEGLA.COM.
 </p>
</section>
