<!DOCTYPE html>
<html lang="da" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Yderligere servicevilkår for Google Chrome og ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Yderligere servicevilkår for Google Chrome og ChromeOS
</h2>
<p>
 Sidst opdateret: <time datetime="2025-09-30">30. september 2025</time>
</p>
<p>
 Når du bruger Chrome eller ChromeOS, accepterer du Googles servicevilkår, som kan findes på https://policies.google.com/terms, og disse yderligere servicevilkår for Google Chrome og ChromeOS.
</p>
<p>
 Disse Yderligere servicevilkår for Google Chrome og ChromeOS gælder for den version af Chrome og ChromeOS med eksekverbar kode. Det meste af kildekoden til Chrome kan findes gratis i henhold til open source-softwarelicensaftaler på chrome://credits.
</p>
<p>
 Din brug af bestemte dele af Chrome og ChromeOS er underlagt følgende vilkår:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  DETTE PRODUKT ER LICENSERET UNDER LICENSEN FOR AVC-PATENTPORTEFØLJEN TIL PERSONLIG BRUG AF EN FORBRUGER ELLER ANDEN BRUG, HVOR DER IKKE MODTAGES VEDERLAG FOR BRUGEN AF PRODUKTET, TIL (i) KODNING AF VIDEO I OVERENSSTEMMELSE MED AVC-STANDARDEN ("AVC-VIDEO") OG/ELLER (ii) AFKODNING AF AVC-VIDEO, SOM ER BLEVET KODET AF EN FORBRUGER I PERSONLIGT ØJEMED OG/ELLER ER ERHVERVET FRA EN VIDEOUDBYDER MED LICENS TIL AT LEVERE AVC-VIDEO. DER GIVES ELLER UNDERFORSTÅS IKKE LICENS TIL NOGEN ANDEN BRUG. FÅ YDERLIGERE OPLYSNINGER HOS MPEG LA, L.L.C. SE HTTPS://WWW.VIA-LA.COM.
 </p>
</section>

