<!DOCTYPE html>
<html lang="ar" dir="rtl">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>بنود الخدمة الإضافية لكل من متصفح Google Chrome و"نظام التشغيل Chrome"</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 بنود الخدمة الإضافية لكل من متصفح Google Chrome و"نظام التشغيل Chrome"
</h2>
<p>
 تاريخ آخر تعديل: <time datetime="2023-09-08">8 أيلول (سبتمبر) 2023</time>
</p>
<p>
 يعني استخدامك لمتصفح Chrome أو "نظام التشغيل Chrome" موافقتك على بنود خدمة Google المتاحة على الرابط https://policies.google.com/terms وبنود الخدمة الإضافية لكل من متصفح Google Chrome و"نظام التشغيل Chrome".
</p>
<p>
 تنطبق بنود الخدمة الإضافية لمتصفح Google Chrome و"نظام التشغيل Chrome" على إصدار الرمز القابل للتنفيذ لمتصفح Chrome و"نظام التشغيل Chrome". وتتوفّر معظم رموز المصدر لمتصفح Chrome مجانًا بموجب اتفاقية ترخيص البرامج المفتوحة المصدر على chrome://credits.
</p>
<p>
 يخضع استخدامك لمكوِّنات معيّنة من متصفح Chrome و"نظام التشغيل Chrome" للبنود التالية:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  هذا المنتج مرخّص بموجب ترخيص محفظة براءات الاختراع AVC للاستخدام الشخصي للمستهلك أو أي استخدامات أخرى مجانية نظير (1) تشفير فيديو وفقًا لمعيار AVC ("فيديو AVC") و/أو (2) فك تشفير فيديو AVC أجرَى تشفيره أحد المستهلكين المشاركين في نشاط شخصي و/أو تم الحصول عليه من مزوِّد فيديوهات يمتلك ترخيصًا لتوفير فيديوهات AVC. لا يتم منح أي ترخيص أو تضمينه لأي استخدام آخر. يمكن الحصول على معلومات إضافية من شركة MPEG LA, L.L.C. ويُرجى زيارة الموقع الإلكتروني HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 بالإضافة إلى ذلك، يخضع استخدامك لمكوّنات معيّنة من "نظام التشغيل Chrome" إلى البنود التالية:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  هذا المنتج مرخّص بموجب ترخيص محفظة براءات الاختراع MPEG-4 VISUAL للاستخدام الشخصي وغير التجاري للمستهلك من أجل (1) تشفير فيديو وفقًا لمعيار MPEG-4 VISUAL ("/فيديو MPEG-4"/) و/أو فك تشفير فيديو MPEG-4 أجرَى تشفيره أحد المستهلكين المشاركين في نشاط شخصي وغير تجاري و/أو تم الحصول عليه من مزوِّد فيديوهات MPEG-4 يمتلك ترخيصًا من MPEG LA. لا يتم منح أي ترخيص أو تضمينه لأي استخدام آخر. يمكن الحصول على معلومات إضافية تتضمّن معلومات عن الاستخدامات الترويجية والداخلية والتجارية والتراخيص من شركة MPEG LA, LLC. يُرجى زيارة الموقع الإلكتروني HTTP://WWW.MPEGLA.COM.
 </p>
</section>
