<!DOCTYPE html>
<html lang="bn" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome ও ChromeOS পরিষেবার অতিরিক্ত শর্তাবলী</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome ও ChromeOS পরিষেবার অতিরিক্ত শর্তাবলী
</h2>
<p>
 শেষবার পরিবর্তন করা হয়েছে: <time datetime="2023-09-08">৮ সেপ্টেম্বর, ২০২৩</time>
</p>
<p>
 Chrome বা ChromeOS ব্যবহার করার মাধ্যমে, আপনি https://policies.google.com/terms লিঙ্কে দেওয়া Google-এর পরিষেবার শর্তাবলী ও এই সূত্রে দেওয়া Google Chrome ও ChromeOS-এর অতিরিক্ত পরিষেবার শর্তাবলী মেনে চলার ব্যাপারে সম্মত হয়েছেন।
</p>
<p>
 Google Chrome ও ChromeOS-এর এই অতিরিক্ত পরিষেবার শর্তাবলী Chrome ও ChromeOS-এর চুক্তি নির্বাহকারী কোড ভার্সনের জন্য প্রযোজ্য হবে। Chrome-এর জন্য বেশির ভাগ সোর্স কোডই chrome://credits লিঙ্কে দেওয়া ওপেন সোর্স সফ্টওয়্যার লাইসেন্স চুক্তির অধীনে বিনামূল্যে পাওয়া যাবে।
</p>
<p>
 আপনি Chrome ও ChromeOS-এর যেসব নির্দিষ্ট উপাদান ব্যবহার করেন, তার জন্য আপনাকে নিচে উল্লিখিত শর্তাবলী মেনে চলতে হবে:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  এই প্রোডাক্টটি AVC পেটেন্ট পোর্টফোলিও লাইসেন্সের অধীনে লাইসেন্সপ্রাপ্ত যা গ্রাহক তার ব্যক্তিগত কাজে বা এমন কোনও উদ্দেশ্যে ব্যবহার করতে পারেন, যার জন্য তিনি কোনও অর্থ পাবেন না। গ্রাহক এর মাধ্যমে (১) AVC স্ট্যান্ডার্ডের (“AVC ভিডিও”) নিয়ম অনুসারে কোনও ভিডিও এনকোড করতে এবং/অথবা (২) ব্যক্তিগত কোনও কাজে গ্রাহকের মাধ্যমে আগে থেকে এনকোড করা এবং/অথবা AVC ভিডিও দেওয়ার লাইসেন্সধারী কোনও ভিডিও পরিষেবা প্রদানকারীর কাছ থেকে পাওয়া কোনও AVC ভিডিও ডিকোড করতে পারবেন। অন্য যেকোনও ব্যবহারের জন্য এই লাইসেন্সের অনুমোদন নেই বা সেটি প্রযোজ্য হবে না। MPEG LA, L.L.C. থেকে অতিরিক্ত তথ্য পেতে পারেন। HTTP://WWW.MPEGLA.COM দেখুন।
 </p>
</section>
<section>
</section>
<p>
 এছাড়া, আপনি অতিরিক্তভাবে ChromeOS-এর যেসব নির্দিষ্ট উপাদান ব্যবহার করছেন, সেগুলির ব্যাপারে নিচে বর্ণিত শর্তগুলি মেনে চলতে হবে:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  এই প্রোডাক্ট MPEG-4 ভিজ্যুয়াল পেটেন্ট পোর্টফোলিও লাইসেন্সের অধীনে লাইসেন্সপ্রাপ্ত এবং গ্রাহক ব্যক্তিগত স্তরে ও অ-বাণিজ্যিকভাবে এই লাইসেন্স প্রাপ্ত কোড ব্যবহার করে (১) MPEG-4 ভিজ্যুয়াল স্ট্যান্ডার্ডের (\“MPEG-4 ভিডিও\”) নিয়ম অনুসারে কোনও ভিডিও এনকোড করতে এবং/অথবা (২) ব্যক্তিগত স্তরে ও অ-বাণিজ্যিক কার্যকলাপে রত থাকা কোনও গ্রাহকের মাধ্যমে আগে থেকে এনকোড করা এবং/অথবা MPEG LA-এর থেকে লাইসেন্সপ্রাপ্ত কোনও ভিডিও পরিষেবা প্রদানকারীর কাছ থেকে পাওয়া কোনও MPEG-4 ভিডিও ডিকোড করতে পারবেন। অন্য যেকোনও ব্যবহারের জন্য এই লাইসেন্সের অনুমোদন নেই বা সেটি প্রযোজ্য হবে না। প্রচার সংক্রান্ত, ইন্টার্নাল ও বাণিজ্যিক ব্যবহার ও লাইসেন্স সম্পর্কিত বিষয়াদি সহ অতিরিক্ত তথ্য MPEG LA, LLC থেকে পাওয়া যাবে। http://www.mpegla.com দেখুন।
 </p>
</section>
