<!DOCTYPE html>
<html lang="ko" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Chrome 및 ChromeOS 추가 서비스 약관</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Chrome 및 ChromeOS 추가 서비스 약관
</h2>
<p>
 최종 수정: <time datetime="2023-09-08">2023년 9월 8일</time>
</p>
<p>
 Chrome 또는 ChromeOS를 사용하면 Google 서비스 약관(https://policies.google.com/terms) 및 다음 Chrome 및 ChromeOS 추가 서비스 약관에 동의하는 것으로 간주됩니다.
</p>
<p>
 본 Chrome 및 ChromeOS 추가 서비스 약관은 Chrome 및 ChromeOS의 실행 가능한 코드 버전에 적용됩니다. 대부분의 Chrome 소스 코드는 chrome://credits 페이지에 명시된 오픈소스 소프트웨어 라이선스 계약에 따라 무료로 제공됩니다.
</p>
<p>
 Chrome 및 ChromeOS의 일부 구성요소를 사용하는 경우 다음 약관이 적용됩니다.
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  본 제품은 (i) AVC 표준('AVC 동영상')에 따라 동영상을 인코딩하거나, (ii) 개인 활동을 하는 소비자가 인코딩했거나 AVC 동영상을 제공하도록 라이선스를 부여받은 동영상 공급자로부터 획득한 AVC 동영상을 디코딩할 용도로, 소비자가 개인적으로 사용하거나 보수를 받지 않는 기타 방법으로 사용하기 위한 AVC 특허 포트폴리오 라이선스에 따라 사용이 허가됩니다. 다른 용도로는 어떤 라이선스도 부여되지 않으며 그러한 의미도 내포하지 않습니다. MPEG LA, L.L.C.에서 추가 정보를 확인할 수 있습니다. http://www.mpegla.com 페이지를 참조하세요.
 </p>
</section>
<section>
</section>
<p>
 또한 ChromeOS의 일부 구성요소를 사용하는 경우 다음 약관이 적용됩니다.
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  본 제품은 (i) MPEG-4 시각적 표준(\'MPEG-4 동영상\')에 따라 동영상을 인코딩하거나, (ii) 개인 및 비상업적 활동을 하는 소비자가 인코딩했거나 MPEG-4 동영상을 제공하도록 MPEG LA로부터 라이선스를 부여받은 동영상 제공업체로부터 획득한 MPEG-4 동영상을 디코딩할 용도로, 소비자가 개인적이고 비상업적으로 사용하기 위한 MPEG-4 시각적 특허 포트폴리오 라이선스에 따라 사용이 허가됩니다. 다른 용도로는 어떤 라이선스도 부여되지 않으며 그러한 의미도 내포하지 않습니다. 홍보 목적, 내부적 및 상업적 사용 및 라이선스와 관련된 정보 등의 추가 정보는 MPEG LA, L.L.C.에서 확인할 수 있습니다. http://www.mpegla.com 페이지를 참조하세요.
 </p>
</section>
