<!DOCTYPE html>
<html lang="vi" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Điều khoản dịch vụ bổ sung của Google Chrome và ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Điều khoản dịch vụ bổ sung của Google Chrome và ChromeOS
</h2>
<p>
 Lần sửa đổi gần đây nhất: <time datetime="2025-09-30">ngày 30 tháng 9 năm 2025</time>
</p>
<p>
 Bằng việc sử dụng Chrome hoặc ChromeOS, bạn đồng ý với Điều khoản dịch vụ của Google có tại https://policies.google.com/terms cũng như các Điều khoản dịch vụ bổ sung sau đây của Google Chrome và ChromeOS.
</p>
<p>
 Các Điều khoản dịch vụ bổ sung này của Google Chrome và ChromeOS áp dụng cho phiên bản mã thực thi của Chrome và ChromeOS. Bạn có thể sử dụng miễn phí hầu hết mã nguồn dành cho Chrome theo thỏa thuận cấp phép phần mềm nguồn mở tại chrome://credits.
</p>
<p>
 Bạn phải tuân thủ các điều khoản bổ sung dưới đây khi sử dụng một số thành phần của Chrome và ChromeOS:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  SẢN PHẨM NÀY ĐƯỢC CẤP PHÉP THEO GIẤY PHÉP DANH MỤC BẰNG SÁNG CHẾ AVC CHO MỤC ĐÍCH SỬ DỤNG CÁ NHÂN CỦA NGƯỜI DÙNG CÁ NHÂN HOẶC CHO MỤC ĐÍCH SỬ DỤNG KHÁC KHÔNG NHẬN THÙ LAO ĐỂ (i) MÃ HÓA VIDEO THEO CHUẨN AVC (“VIDEO AVC”) VÀ/HOẶC (ii) GIẢI MÃ VIDEO AVC DO NGƯỜI DÙNG CÁ NHÂN MÃ HÓA LIÊN QUAN ĐẾN MỘT HOẠT ĐỘNG CÁ NHÂN VÀ/HOẶC GIẢI MÃ VIDEO AVC LẤY TỪ MỘT NHÀ CUNG CẤP VIDEO CÓ GIẤY PHÉP CUNG CẤP VIDEO AVC. GIẤY PHÉP KHÔNG ĐƯỢC CẤP HOẶC XEM NHƯ ĐƯỢC CẤP CHO BẤT KỲ MỤC ĐÍCH NÀO KHÁC. BẠN CÓ THỂ THAM KHẢO THÊM THÔNG TIN TỪ MPEG LA, L.L.C BẰNG CÁCH TRUY CẬP VÀO HTTPS://WWW.VIA-LA.COM.
 </p>
</section>

