<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html DIR="LTR">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0">
<title>Google 瀏覽器服務條款</title>
<style>
:root { color-scheme: light dark }
body { font-family:Arial; font-size:13px; }
h2 { font-size:1em; margin-top:0 }
</style>
</head>

<body>
<h2>Google 瀏覽器服務條款</h2>
<p>這些《服務條款》適用於「Google 瀏覽器」的可執行程式碼版本。依據位於 chrome://credits 的開放原始碼軟體授權合約，您可以免費取得「Google 瀏覽器」的原始碼。</p>
<p><strong>1. 您與 Google 的關係</strong></p>
<p>1.1 您對 Google 產品、軟體、服務和網站 (合稱「服務」，不包括 Google 依據個別書面協議向您提供的服務) 的使用行為必須遵守您與 Google 雙方同意的法律協議之條款。「Google」是指 Google Inc.，其總部位於 1600 Amphitheatre Parkway, Mountain View, CA 94043, United States。本文件說明協議如何制定，並列出協議中的部分條款。</p>
<p>1.2 除非另與 Google 簽訂書面協議，否則您與 Google 的協議必須至少包括本文件所規範之所有條款與細則。以下稱為「通用條款」。「Google 瀏覽器」原始碼的開放原始碼軟體授權構成個別的書面合約。在開放原始碼軟體授權之效力明顯高於這些「通用條款」的有限範圍內，您為了使用「Google 瀏覽器」或其特定內含元件而與 Google 簽訂的合約將受到開放原始碼授權之規範。</p>
<p>1.3 您與 Google 簽訂的協議除了包括「通用條款」，亦包含下方「Google 瀏覽器其他服務條款」所闡述之條款，以及所有適用於「服務」之「法律聲明」條款。以下稱為「其他條款」。當「服務」適用「其他條款」時，您將可以在「服務」之中，或使用「服務」的過程中連結至「其他條款」頁面。</p>
<p>1.4「通用條款」及「其他條款」在您與 Google 之間共同形成一份具有法律約束效力的合約，用來規範您對「服務」之使用。請務必仔細閱讀這些條款。此法律協議以下合稱「本條款」。</p>
<p>1.5 如果「其他條款」與「通用條款」之間有所抵觸，則「其他條款」對「服務」而言具有較高的優先權。</p>
<p><strong>2. 接受條款</strong></p>
<p>2.1 使用「服務」之前，您必須先同意「本條款」的所有規定。如果您不接受「本條款」，則不得使用「服務」。</p>
<p>2.2 您可以透過下列方式接受「本條款」：</p>
<p>(A) 當 Google 在任何「服務」的使用者介面提供提供接受合約的選項時，透過點選該選項而受或同意「本條款」；或</p>
<p>(B) 實際使用「服務」。在此一情況下，您暸解並同意，一旦您開始使用「服務」，Google 即視同您將接受「本條款」的一切規定。</p>
<p><strong>3. 條款語言</strong></p>
<p>3.1 如果 Google 提供「本條款」英文版本的翻譯版本，則您同意該翻譯版本僅供參考，而您與 Google 雙方的關係仍將受到「本條款」英文版本之規範。</p>
<p>3.2 如果「本條款」之英文版本與翻譯版本有所牴觸，應優先遵守英文版本。</p>
<p><strong>4. Google 提供的服務</strong></p>
<p>4.1 Google 於全球各地皆有子公司和附屬法人 (簡稱「子公司和關係企業」)。有時，這些公司會代表 Google 向您提供「服務」。您瞭解並同意，「子公司和關係企業」有權向您提供「服務」。</p>
<p>4.2 Google 持續力求創新，以提供使用者最佳服務。您瞭解並同意，Google 提供的「服務」形式和性質隨時可能變更，且不需事先通知。</p>
<p>4.3 在 Google 持續創新的過程中，您瞭解並同意，Google 可酌情決定 (永久或暫時) 停止向您或使用者提供「服務」(或「服務」的任何功能)，且不需事先通知。您可以隨時停止使用「服務」，且當您停止使用「服務」時，不需特別通知 Google。</p>
<p>4.4 您瞭解並同意，如果 Google 停止您的帳戶存取權限，您將無法存取「服務」、您的帳戶詳細資料，或是帳戶中的任何檔案或其他內容。</p>
<p><strong>5. 您使用服務的方式</strong></p>
<p>5.1 您同意僅基於下列項目所允許之目的使用「服務」：(a)「本條款」與 (b) 相關管轄地的所有適用法律、法規、公認慣例或準則 (包括用於規範美國或其他相關國家/地區進出口資料或軟體的任何相關法律)。</p>
<p>5.2 您同意不會從事任何干擾或中斷「服務」(或是與「服務」連線之伺服器或網路) 的活動。</p>
<p>5.3 您同意，除非另與 Google 簽訂個別協議並獲得明確授權，否則不會基於任何目的重製、複製、拷貝、販售、交易或轉售「服務」。</p>
<p>5.4 您同意，就所有違反「本條款」所述義務而引致之後果 (包括 Google 可能遭受的損失或損害)，您必須承擔全部責任，而 Google 對您或任何第三方毋需承擔任何責任。</p>
<p><strong>6. 隱私權和您的個人資訊</strong></p>
<p>6.1 如需 Google 資料保護慣例的相關資訊，請參閱下列位置的 Google 隱私權政策：http://www.google.com/privacy.html 及 http://www.google.com/chrome/intl/zh-TW/privacy.html。此政策旨在說明 Google 在您使用「服務」期間，如何處理您的個人資訊並保護您的隱私。</p>
<p>6.2 您同意 Google 依據上述隱私權政策使用您的資料。</p>
<p><strong>7. 服務內容</strong></p>
<p>7.1 您暸解，您透過「服務」或透過使用「服務」而取得的所有資訊 (例如資料檔案、書面文字、電腦軟體、音樂、音訊檔案或其他音效、相片、影片或其他圖片)，均由該等內容的提供者承擔全部相關責任。此類資訊以下稱為「內容」。</p>
<p>7.2 您瞭解，Google 向您提供的「服務」中所包含的「內容」，包括但不限於「服務」中的廣告和贊助「內容」，可能受到智慧財產權保護，而「內容」之智慧財產權屬於提供該「內容」予 Google 的贊助商或廣告商 (或是其代表人員或公司) 所有。除非另與 Google 或相關「內容」擁有者簽訂個別協議並獲得明確授權，否則您不得修改、出租、租賃、借貸、販售或散佈此內容 (部分或全部)，亦不得根據此「內容」(部分或全部) 建立衍生作品。</p>
<p>7.3 Google 有權 (但沒有義務) 預先檢查、審閱、標記、過濾、修改、拒絕或移除任一「服務」的任何「內容」或全部「內容」。Google 在部分「服務」中提供了露骨情色內容過濾工具，包括「安全搜尋」偏好設定 (請參閱 https://support.google.com/websearch/answer/510)。此外，市面上也提供各種服務和軟體，可過濾令人反感的內容。</p>
<p>7.4 您瞭解在使用「服務」期間，可能會接觸到令人不悅、低俗不雅或招致反感的「內容」，故需自行承擔使用「服務」的任何風險。</p>
<p>7.5 您同意，就您在使用「服務」期間所建立、傳輸或顯示的任何「內容」以及因為該等行為而引致之後果 (包括 Google 可能遭受的損失或損害)，您必須承擔全部責任，而 Google 對您或任何第三方毋需承擔任何責任。</p>
<p><strong>8. 專屬權利</strong></p>
<p>8.1 您瞭解並同意，Google (或 Google 的授權者) 擁有「服務」的一切法律權利、所有權和利益，包括「服務」既有的智慧財產權 (無論該等權利是否已經註冊，亦無論是於何國家/地區註冊)。</p>
<p>8.2 除非您另與 Google 簽訂書面協議，否則「本條款」所規範之內容均未賦予您使用任何 Google 商標名稱、註冊商標、服務標誌、標誌、網域名稱及其他獨特品牌特徵的權利。</p>
<p>8.3 如果 Google 另於個別書面協議明確授權您使用上述任何品牌特徵，則您同意在使用該等特徵時，遵守該協議、「本條款」之適用條文，以及 Google 不定期更新的品牌特徵使用指南。如需查閱相關指南，請前往 http://www.google.com/permissions/guidelines.html，或是 Google 不定期提供這類規範的網頁。</p>
<p>8.4 Google 瞭解並同意，我們不會藉由這些「條款」取得您 (或您的授權者) 及您於「服務」或透過「服務」提交、張貼、傳輸或顯示的任何「內容」的權利、所有權或利益，包括「內容」既有的任何智慧財產權 (無論該等權利是否已經註冊，亦無論是於何國家/地區註冊)。除非另與 Google 簽訂書面協議，否則您同意負責保護與行使該等權利，且 Google 沒有義務代表您保護和行使該等權利。</p>
<p>8.5 您同意不得移除、遮掩或變更「服務」所隨附或包含的任何專屬權利聲明 (包括版權和商標聲明)。</p>
<p>8.6 除非經過 Google 書面明確授權，否則您同意在使用「服務」期間，您不會藉由可能混淆或企圖混淆商標、名稱或標誌之擁有者或授權使用者的方式，使用任何公司或組織之任何註冊商標、服務標誌、商標名稱及標誌。</p>
<p><strong>9. Google 的授權</strong></p>
<p>9.1 就 Google 提供的「服務」所包含的軟體 (下稱「軟體」)，Google 賦予您全球性、免授權費、非專屬且不可轉讓的個人使用授權。此授權僅提供您透過「本條款」允許之方式，使用與享有 Google 提供的「服務」之便利。</p>
<p>9.2 依據第 1.2 節之規定，除非經過法律明確許可或要求，或是經過 Google 明確書面許可，否則您不得 (亦不得允許他人) 複製或修改軟體或軟體任何部分，或是就軟體或軟體任何部分建立衍生作品、進行逆向工程或解譯，或是以其他方式擷取軟體或軟體任何部分的原始碼。</p>
<p>9.3 依據第 1.2 節之規定，除非經過 Google 明確書面許可，否則您不得轉讓 (或轉授權)「軟體」的使用權、授予他人「軟體」使用權所提供的擔保權益，或是移轉「軟體」使用權之部分權利。</p>
<p><strong>10. 您的內容授權</strong></p>
<p>10.1 就您於「服務」或透過「服務」提交、張貼或顯示的「內容」，您保留既有的版權和所有其他權利。</p>
<p><strong>11. 軟體更新</strong></p>
<p>11.1 您使用的「軟體」會不定期從 Google 伺服器自動下載並安裝更新。更新的目的在於改善、強化和進一步拓展「服務」內容，採取的形式可能包括錯誤修補程式、增強功能、新軟體模組和全新版本。而使用「服務」即表示您同意接收該等更新 (並允許 Google 向您傳遞該等更新)。</p>
<p><strong>12. 終止與 Google 的關係</strong></p>
<p>12.1 除非您或 Google 依據下述條文終止「本條款」，否則「本條款」將持續具有效力。</p>
<p>12.2 如果發生下列任一情形，Google 可以隨時終止與您的法律協議：</p>
<p>(A) 您違反「本條款」的任何條文 (或是您的行為明確顯示您無意或無法遵守「本條款」之條文)；或</p>
<p>(B) Google 必須依法終止「本條款」(例如，向您提供「服務」的行為違法或是不再合法)；或</p>
<p>(C) 與 Google 共同向您提供「服務」的合作夥伴已終止與 Google 的關係或是停止向您提供「服務」；或</p>
<p>(D) Google 決定不再為您所居住或使用「服務」之國家/地區的使用者提供「服務」；或</p>
<p>(E) Google 認為，Google 向您提供「服務」的行為不再具有商業可行性。</p>
<p>12.3 本節的任何內容均不得影響 Google 依據「本條款」第 4 節條文所享有的提供「服務」之相關權利。</p>
<p>12.4 「本條款」終止時，您與 Google 業已享有、承擔的 (或是於「本條款」有效期間所產生的) 或是明確規定為無限期有效的所有法定權利、義務和責任，均不受此終止行為影響，且第 19.7 條之規定應無限期地持續適用於該等權利、義務和責任。</p>
<p><strong>13. 免責聲明</strong></p>
<p>13.1 就適用法律規定不得排除或限制之 Google 損失擔保或賠償責任，「本條款」之任何內容，包括第 13 及 14 節條文，均未加以排除或限制。某些管轄區不允許排除某些擔保或條件，或是不允許限制或排除因為疏忽、違反協議或違反暗示條款而引致之損失或損害，或偶發性或衍生性損害的賠償責任。因此，您僅適用合乎您管轄區法律的限制，而我們的責任僅限於該等法律所允許之最大範圍。</p>
<p>13.2 您明確瞭解並同意，就「服務」之使用行為，您必須承擔全部風險，且「服務」是依照「現況」與「現有」基礎提供。</p>
<p>13.3 此外，Google、其「子公司和關係企業」與授權者不就下列事項做出聲明或擔保：</p>
<p>(A)「服務」之使用結果符合您的需求；</p>
<p>(B)「服務」之使用過程不會遭到中斷，且及時、安全、無錯誤；</p>
<p>(C) 使用「服務」取得的所有資訊一律正確且可靠；以及</p>
<p>(D) 連同「服務」提供之任何軟體所發生的操作或功能瑕疵將獲得修正。</p>
<p>13.4 透過使用「服務」下載或取得任何內容之行為，屬您自行決定之行為，故您必須承擔全部風險；就任何因為下載該等內容而引致之電腦系統或其他裝置的損害或資料遺失，您必須承擔全部責任。</p>
<p>13.5 您自 Google、「服務」或透過「服務」取得的任何口頭或書面建議或資訊，均不構成任何未在「本條款」明確規定之擔保。</p>
<p>13.6 Google 進一步明確聲明，Google 不提供任何種類的明示或暗示擔保或條件，包括但不限於商業適售性、特定用途適用性，以及不侵害他人權利之擔保或條件。</p>
<p><strong>14. 責任限制</strong></p>
<p>14.1 依據上述第 13.1 條之規定，您明確瞭解並同意，Google、其「子公司和關係企業」和授權者不就下列事項承擔任何責任：</p>
<p>(A) 您所導致的任何直接性、間接性、隨附性、特殊性、衍生性或懲罰性損害 (包括資料損失)，無論發生原因為何，亦無論是基於任何法律論述。這應該包括但不限於利益損失 (間接或直接)、任何信譽或商譽損失、任何資料遺失損失、替換產品或服務的採購成本或是其他無形的損失；</p>
<p>(B) 您所導致的任何損失或損害，包括但不限於下列因素所造成的損失和損害：</p>
<p>(I) 您對廣告完整性、正確性或存在之信賴，或是您與「服務」顯示之廣告的廣告商或贊助商建立之任何關係或交易；</p>
<p>(II) Google 對「服務」做出任何變更，或是 Google 為永久或暫時停止提供「服務」(或「服務」的任何功能) 而做出任何變更；</p>
<p>(III) 透過使用「服務」維護或傳輸的「內容」或其他通訊資料之刪除、損毀或未儲存的情形；</p>
<p>(IV) 您未向 Google 提供正確帳戶資訊的情形；</p>
<p>(V) 您未能保護密碼或帳戶詳細資料之安全性和機密性的情形。</p>
<p>14.2 第 14.1 節所述之 Google 對您的責任限制仍然適用，無論 Google 是否已被告知或應該知道該等損害之可能性。</p>
<p><strong>15. 版權和商標政策</strong></p>
<p>15.1 依據 Google 政策，接獲符合相關國際智慧財產權法 (包括美國的「數位千禧年著作權法」) 的侵權聲明通知時，Google 將做出回應，並終止侵權累犯的帳戶。Google 政策詳情請見 http://www.google.com.tw/dmca.html。</p>
<p>15.2 就 Google 的廣告業務，Google 設有商標申訴程序，詳情請見 http://www.google.com.tw/tm_complaint.html。</p>
<p><strong>16. 廣告</strong></p>
<p>16.1 部分「服務」是由廣告收益支援，且可能展示廣告及宣傳內容。該等廣告可能會就儲存於「服務」的資訊內容、透過「服務」送出的查詢，或其他資訊進行播送。</p>
<p>16.2 Google 在「服務」播送廣告的方式、形式與範圍可能變更，而不需另行通知。</p>
<p>16.3 有鑑於 Google 授予您「服務」的存取權和使用權，您同意 Google 得於「服務」中放置該等廣告。</p>
<p><strong>17. 其他內容</strong></p>
<p>17.1 「服務」可能包括連至其他網站、內容或資源的超連結。Google 對 Google 以外之公司或個人所提供的網站或資源不具控制力。</p>
<p>17.2 您瞭解並同意，就該等外部網站或資源之可用性，Google 毋需承擔任何責任，亦不為該等網站或資源所提供的的任何廣告、產品或其他內容加以背書。</p>
<p>17.3 您瞭解並同意，如果您因為該等外部網站或資源之可用性，或是因為您對該等網站或資源所提供的廣告、產品或其他內容之完整性、正確性或存在之信賴，而引致任何損失或損害，Google 毋需承擔任何責任。</p>
<p><strong>18. 條款之變更</strong></p>
<p>18.1 Google 可以隨時變更「通用條款」或「其他條款」。Google 變更這些條款時，會於 http://www.google.com/chromeframe/intl/zh-TW/eula_text.html 提供新版的「通用條款」，並會透過相關的「服務」向您提供新的「其他條款」。</p>
<p>您瞭解並同意，如果您於「通用條款」或「其他條款」的變更生效日後開始使用「服務」，則 Google 會將您的使用行為視為接受「通用條款」或「其他條款」之更新內容。</p>
<p><strong>19. 一般法律條款</strong></p>
<p>19.1 在某些情況下，您在使用「服務」時，可能會需要一併使用其他個人或公司提供的服務，或是下載其他個人或公司提供的軟體，或是購買其他個人或公司提供的產品。使用這類服務、軟體或產品時，應遵守您與相關公司或個人另行簽訂之條款。在此一情況下，「本條款」不影響您與這類公司或個人之間的法律關係。</p>
<p>19.2 「本條款」構成您與 Google 之間的完整法律協議，用以規範您對「服務」之使用行為 (但不包括 Google 依據個別書面協議向您提供的服務)，並完全取代您與 Google 之前就「服務」所達成之任何協議。</p>
<p>19.3 您同意，Google 可以透過電子郵件、一般郵件或是在「服務」上張貼公告的方式，向您提出通知，包括關於「本條款」的變更聲明。</p>
<p>19.4 您同意，如果 Google 未執行或行使「本條款」所述 (或 Google 在任何適用法律下所擁有) 之任何法律權利或救濟措施，不應構成權利之正式拋棄，且 Google 仍然可以行使該等權利與補救措施。</p>
<p>19.5 如果「本條款」的任何條文遭到任何具管轄權之法院判定為無效，則該條文應在不影響「本條款」其他條文的情況下，自「本條款」中移除，但「本條款」的其他條文仍然具有完整效力與作用。</p>
<p>19.6 您瞭解並同意，Google 子公司的每一位成員為「本條款」的第三方受益人，而該等公司應有權直接行使「本協議」，並根據「本條款」所述之規定主張相關的利益 (或有利於該等公司的權利)。除此之外，任何其他個人或公司均非「本條款」的第三方受益人。</p>
<p>19.7 「本條款」以及您與 Google 之間因「本條款」所建立之關係，得依據美國加州法律加以解釋，並受其管轄，但不適用美國加州衝突法規定。您與 Google 同意服從位於加州聖克萊拉郡的法院之專屬管轄權，解決任何因為「本條款」而引致之法律事務。儘管如此，您同意 Google 可以向任何管轄區的法院申請救濟命令 (或同等類型的緊急法律救濟)。</p>
<p><strong>20. 適用於 Google 瀏覽器擴充套件的其他條款</strong></p>
<p>20.1 如果您在自己的「Google 瀏覽器」中安裝擴充套件，則必須同意本節所規定之條款。擴充套件是由 Google 或第三方廠商或開發人員提供的小型軟體，可修改或強化「Google 瀏覽器」的功能。擴充套件在存取您的瀏覽器或電腦時，可能擁有比一般網頁更高的權限，包括讀取與修改您的私人資料的權限。</p>
<p>20.2 「Google 瀏覽器」會不定期連接至 (由 Google 或第三方代管的) 遠端伺服器，檢查是否有可用的擴充套件更新，包括但不限於錯誤修正程式或強化功能。您同意，「Google 瀏覽器」可自動要求、下載與安裝此類更新，而不需另行通知您。</p>
<p>20.3 Google 有時會發現違反 Google 開發人員條款或其他法律協議、法律、法規或政策的擴充套件。「Google 瀏覽器」將定期從 Google 的伺服器下載此類擴充套件的清單。您同意，Google 可自行決定從遠端連至使用者的系統，停用或移除此類擴充套件。 </p>
<p><strong>21. 企業適用的其他使用條款</strong></p>
<p>21.1 如果您是企業實體，則代表您的實體接受條款的個人 (為免疑慮，「條款」中的「您」係指企業實體) 聲明並保證，其為您所授權之代理人，且您表示您已取得充分授權，可在您營運所在國家/地區營業，且您旗下使用「服務」的員工、主管、代表及其他代理人皆已取得充分授權，可使用「Google 瀏覽器」以及可使您在法律上受到「條款」之約束。</p>
<p>21.2 依據「條款」以及第 9 節所提供之授權，Google 賦予您不得轉讓的非專屬授權，可讓您在與您的企業實體相關聯的員工、主管、代表及代理人在專為其而設的機器上重製、散佈、安裝與使用「Google 瀏覽器」，惟該等人員對於「Google 瀏覽器」之使用行為必須遵守「條款」。</p>
<p>2010 年 8 月 12 日</p>
<br>
<hr>
<br>
<h2>Google 瀏覽器其他服務條款</h2>
<p><strong>MPEGLA</strong></p>
<p>本產品係經 AVC PATENT PORTFOLIO LICENSE 授權，適用於消費者的個人及非商業用途。消費者使用時得 (i) 遵照 AVC STANDARD 編碼影片 (「AVC 影片」)，及/或 (ii) 對於從事非商業性個人活動之消費者所編碼之影片，及/或自經授權可提供 AVC 影片之影片供應商處所取得之影片，進行解碼。任何授權皆不授與或暗示其他用途。您亦可從 MPEG LA, L.L.C. 取得其他資訊，網址是 HTTP://WWW.MPEGLA.COM。</p>
<p><strong>Adobe</strong></p>
<p>「Google 瀏覽器」得包含 Adobe Systems Incorporated 及 Adobe Software Ireland Limited (合稱「Adobe」) 提供的一或多項元件。使用 Google 提供的 Adobe 軟體 (即「Adobe 軟體」)，需受下列其他條款之規範 (即「Adobe 條款」)。您是「Adobe 軟體」的收受實體，以下稱之為「再授權使用者」。</p>
<p>1. 授權限制。</p>
<p>(a) Flash Player 10.x 版的設計用途僅止於瀏覽器外掛程式，「再授權使用者」若修改或散佈此「Adobe 軟體」，只能作為網頁上播放內容的瀏覽器外掛程式，不得用於他途。例如，「再授權使用者」不得修改此「Adobe 軟體」，使其與瀏覽器外執行的應用程式 (例如獨立的應用程式、小工具、裝置 UI) 交互運作。</p>  
<p>(b)「再授權使用者」不得透過瀏覽器外掛程式介面，揭露 Flash Player 10.x 版的任何 API，使此等擴充功能以獨立應用程式的型態播放網頁內容。</p>
<p>(c) 對於運用數位權利管理協定或非 Adobe DRM 系統的任何 PDF 和 EPUB 文件，不得使用 Google 瀏覽器讀取程式軟體進行轉譯。</p>
<p>(d) 在 Google 瀏覽器讀取程式軟體中，受到 Adobe DRM 保護的 PDF 和 EPUB 文件都必須啟用 Adobe DRM。</p>
<p>(e) 除非技術規格另行明示允許，否則 Google 瀏覽器讀取程式軟體不會停用 Adobe 於「Adobe 軟體」中提供的任何功能，包括 (但不限於) 對 PDF 格式、EPUB 格式及 Adobe DRM 的支援。</p>
<p>2. 電子傳輸。若「再授權使用者」同意其所有的「Adobe 軟體」散佈，包括經由 CD-ROM、DVD-ROM 或其他儲存媒體及「電子傳輸」散佈者 (如經明示許可)，會受合理的安全性措施約束，以預防未經授權之使用，則「再授權使用者」得允許從網站、網際網路、內部網路或類似技術 (例如「電子傳輸」) 下載「Adobe 軟體」。關於此類核准的「電子傳輸」，「再授權使用者」同意採用 Adobe 設定的所有合理使用限制，包括安全性及/或「再授權使用者產品」使用者散佈等相關限制。</p>  
<p>3. EULA 及散佈條款。</p>  
<p>(a)「再授權使用者」必須根據可強制執行的使用者授權協議散佈「Adobe 軟體」；該協議必須有利於「再授權使用者」和其供應商，且至少包含下列各條項目 (即「使用者授權」)：(i) 禁止散佈及複製，(ii) 禁止修改及改作，(iii) 禁止反向編譯、反向工程、反向組譯或是將「Adobe 軟體」縮減為人類可瞭解的形式，(iv) 以條文說明「再授權使用者」與其授權人對「再授權使用者產品」的所有權 (如第 8 節條文所定義)，(v) 間接性、特殊性、附帶性、懲罰性及衍生性等損害之免責聲明，以及 (vi) 其他適用的業界標準免責聲明及限制，包括在不同情況下，於法律允許的最大範圍內，所有適用於法定擔保責任的免責聲明。</p>
<p>(b)「再授權使用者」必須根據強制性的散佈授權協議向「再授權使用者」的散佈者散佈「Adobe 軟體」；該協議必須於「Adobe 條款」中納入保護 Adobe 的條款，有利於「再授權使用者」及其供應商。</p>  
<p>4. 開放原始碼。「再授權使用者」不得直接、間接或意圖將 Adobe 智慧財產和專利方面的權利或免責權授與第三方，致此智慧財產權受開放原始碼授權規範，或受控於其它體制，而將「Adobe 軟體」的使用、修改及/或散佈解讀為必須：(i) 以原始碼形式揭露或散佈；(ii) 授權用於創作衍生作品；或 (iii) 可無償轉散佈。明確而言，上述限制並不妨礙「再授權使用者」進行散佈，且「再授權使用者」可無償散佈搭配 Google 軟體的「Adobe 軟體」。</p>
<p>5. 其他條款。凡向「再授權使用者」提供的所有「Adobe 軟體」更新、升級、新版本 (合稱「升級」)，Adobe 保留另加單獨適用於「升級」及其未來版本之其他條款及細則之權利，且 Adobe 施加之限制範圍僅限於此等「升級」之全體授權使用者。「再授權使用者」如不同意此等其他條款或條件，即無法取得此等「升級」之使用授權，「再授權使用者」的「Adobe 軟體」使用授權也會自動於其他條款對「再授權使用者」生效日起之第 90 天終止。</p>  
<p>6. 專屬權利聲明。「再授權使用者」本身不得刪除或以任何方式改變「Adobe 軟體」或隨附資料中 Adobe 及其授權人 (若有的話) 的著作權聲明、商標、標誌或相關聲明，或其他專屬權利聲明，且亦應要求其散佈者不得有上述行為。</p>
<p>7. 技術需求。「再授權使用者」及其散佈者僅得於具備下列條件之裝置上散佈「Adobe 軟體」及/或「升級」：(i) 符合發佈於 http://www.adobe.com/mobile/licensees (或其後續網站) 之技術規格，以及 (ii) 經 Adobe 驗證 (請見下文)。</p>
<p>8. 驗證與更新。若「再授權使用者」產品 (及其各版本) 包含的「Adobe 軟體」及/或「升級」(以下稱「再授權使用者產品」) 不符合與 Google 通訊所需的「裝置驗證」豁免條件，「再授權使用者」必須提交給 Adobe 進行驗證。「再授權使用者」應依 Adobe 當時於 http://flashmobile.adobe.com/ 所設條款規定購買驗證套件，以支付每次提交驗證的費用，不得散佈未通過驗證的「再授權使用者產品」。驗證會依照 Adobe 當時於 http://flashmobile.adobe.com/ (「驗證」) 所述的程序完成。</p>
<p>9. 設定檔及 Device Central。Adobe 會提示「再授權使用者」輸入有關「再授權使用者產品」的特定設定檔資訊，作為「驗證」程序或某些其他方法的一部分，而「再授權使用者」應提供此資訊。Adobe 得 (i) 以必要的合理方式使用此等設定檔資訊，以驗證「再授權使用者產品」(若此等產品受「驗證」規範)，以及 (ii) 在位於 https://devices.adobe.com/partnerportal/ 的 Adobe Device Intelligence system (Adobe 裝置智慧系統) 中顯示此等設定檔資訊，並經由 Adobe 的製作與開發工具及服務向開發人員及使用者提供資訊，使其看到內容或應用程式如何在「再授權使用者產品」中顯示 (例如影片影像在某些電話中的顯示方式)。</p>  
<p>10. 出口。「再授權使用者」瞭解美國的法令規章限制出口及再出口美國原產商品及技術資料，其中可能包括「Adobe 軟體」。「再授權使用者」同意在未持有適當的美國及外國政府通關許可 (若有的話) 的情況下，不會出口或再出口「Adobe 軟體」。</p>
<p>11. 技術轉手條款。</p>  
<p>(a) 除依據適用方提供或與其合意之適用許可或其協議，「再授權使用者」不得在非 PC 裝置 (如行動電話或機上盒) 上使用或允許使用「Adobe 軟體」編碼或解碼僅含 MP3 (.mp3) 音訊的資料；此外，「Adobe 軟體」中包含的 MP3 編碼器或解碼器亦不得供「Adobe 軟體」以外的產品存取與使用。「Adobe 軟體」可用於編碼或解碼 swf 或 flv 檔案中的 MP3 資料，這類檔案中包含影片、圖片或其他資料。「再授權使用者」應瞭解在非 PC 裝置上使用「Adobe 軟體」(如本款禁止事項中所述)，可能必須支付持有 MP3 技術相關智慧財產權之第三方授權權利金或其他款項，且 Adobe 與「再授權使用者」尚未就第三方智慧財產權之此等用途，支付任何權利金或其他款項。「再授權使用者」若需要將 MP3 編碼器或解碼器用於此途，即應負責取得必要之智慧財產權授權，包括任何適用的專利權。</p>
<p>(b)「再授權使用者」不得為了修正「Adobe 軟體」的錯誤及改善其效能，而使用、複製、重製及修改 (i) On2 原始碼 (在此以原始碼元件形式提供)，因該碼為啟用「Adobe 軟體」解碼以 Flash 影片檔案格式 (.flv 或 .f4v) 製作之影片的必要元件；以及 (ii) Sorenson Spark 原始碼 (在此以原始碼元件形式提供)。「Adobe 軟體」所附之所有程式碼只可作為「Adobe 軟體」的整合部分加以使用及散佈，不得供 Google 應用程式在內等其他應用程式存取。</p>  
<p>(c) 原始碼可隨同 AAC 轉碼器及/或 HE-AAC 轉碼器 (以下稱「AAC 轉碼器」) 提供。對於要使用 AAC 轉碼器的最終產品，「再授權使用者」需對 VIA Licensing 提供的所需專利取得適當專利授權，才能使用 AAC 轉碼器。「再授權使用者」瞭解並同意，根據本協議，Adobe 並未向「再授權使用者」或其再授權使用者提供 AAC 轉碼器的專利授權。</p>
<p>(d) 原始碼可包含經 AVC PATENT PORTFOLIO LICENSE 授權的程式碼，以供消費者以下的個人非商業用途使用：(i) 遵循 AVC 標準編碼影片 (「AVC 影片」)，及/或 (ii) 對於從事個人非商業活動之消費者所編碼的影片，及/或自經授權可提供 AVC 影片之影片供應商處所取得之影片，進行解碼。任何授權皆不授與或暗示可挪為他用。您亦可從 MPEG LA, L.L.C. 取得其他資訊，網址是 http://www.mpegla.com。</p>
<p>12. 更新。對於納入「Adobe 軟體」以搭配 Google 軟體的「再授權使用者」產品 (以下稱「再授權使用者產品」)，「再授權使用者」不會規避 Google 或 Adobe 對於其中「Adobe 軟體」的更新。</p>  
<p>13. 出處及專利聲明。「再授權使用者」會在可公開取得之「再授權使用者產品」規格中羅列「Adobe 軟體」，並在「再授權使用者產品」包裝或行銷資料上，以與內含之其他協力廠商產品品牌一致的方式，附上適當的「Adobe 軟體」品牌 (特別排除 Adobe 公司標誌)。</p>
<p>14. 無擔保聲明。「Adobe 軟體」係以「現況」方式提供「再授權使用者」進行使用及重製，Adobe 不保證其功用或效能。Adobe 及其供應商不保證亦無法保證使用「Adobe 軟體」可獲得之效能或結果。除任何擔保、條件、表述或條款外，在「再授權使用者」法律管轄權之適用法律不能或不得排除或限制之相同範圍內，Adobe 及其供應商不負任何保證 (無論是成文法、習慣法、風俗習慣例或其他之明示或暗示)，包括但不限於不侵害第三方權利、適售性、整合性、品質滿意或特定用途適用性之任何擔保、條件、表述或條款。「再授權使用者」同意不代表 Adobe 提供任何明示或暗示之擔保。</p>  
<p>15. 責任限制。Adobe 或其供應商在任何情況下，對「再授權使用者」的任何損害、索賠或費用等等，或者任何衍生性、間接性或隨附性損害，或任何利益損失或存款損失，皆無須負擔任何責任，即使 Adobe 代表已被告知可能遭受此等損失、損害、索賠或費用，或任何第三方提出之申訴亦同。上述排除及限制適用於「再授權使用者」管轄地之適用法律允許範圍內。Adobe 及其供應商基於本協議或與本協議相關之總法律責任上限為一千美元 (US$1,000)。因 Adobe 之疏忽或欺騙侵權行為 (詐欺) 所致之人員傷亡，本協議無任何條款限制 Adobe 對「再授權使用者」的責任。Adobe 僅就本「協議」中明訂之免責、排除及/或限制義務、擔保及責任方面代表其供應商，但僅止於此，不及於其他目的。</p>
<p>16. 內容保護條款</p>
<p>(a) 定義。</p>
<p>「標準及健全規則」係指位於 http://www.adobe.com/mobile/licensees 或其後續網站中說明「Adobe 軟體」標準及健全規則的文件。</p>
<p>「內容保護功能」係指為確保遵行「健全及標準規則」，並防止播放、複製、修改、轉散佈或其他與「Adobe 軟體」使用者所耗用散佈數位內容相關的動作，未經數位內容所有權人或其授權散佈者授權即執行，所設計的「Adobe 軟體」方法。</p>
<p>「內容保護程式碼」係指「Adobe 軟體」某些指定版本內，可啟用特定「內容保護功能」的程式碼。</p>
<p>「金鑰」係指「Adobe 軟體」內用於解密數位內容的加密值。</p>
<p>(b) 授權限制。「再授權使用者」執行「Adobe 軟體」授權之權利，受下列其他限制及義務之規範。「再授權使用者」會確保其客戶與其遵守相同程度的「Adobe 軟體」限制及義務，若其客戶違反上述其他限制及義務，視同「再授權使用者」之重大違約。</p>
<p>b.1.「再授權使用者」及客戶只能散佈「再授權使用者」於「Adobe 條款」如上述驗證程序中，確認符合「標準及健全規則」的「Adobe 軟體」。</p>   
<p>b.2.「再授權使用者」不應 (i) 規避「Adobe 軟體」或任何用於加密或解密數位內容供「Adobe 軟體」使用者授權耗用之相關軟體的「內容保護功能」，或 (ii) 開發或散佈為規避「Adobe 軟體」或任何用於加密或解密數位內容供「Adobe 軟體」使用者授權耗用之任何「Adobe 軟體」的「內容保護功能」，所設計的產品。</p>
<p>(c)「金鑰」特此指定為 Adobe 機密資訊，「再授權使用者」於金鑰有關事項方面必須遵照 Adobe 的原始碼處理程序 (Adobe 會於接獲要求時提供)。</p>  
<p>(d) 救濟處分。「再授權使用者」同意違反此協議有損「Adobe 軟體」的「內容保護功能」，且會對 Adobe 及依賴此等「內容保護功能」之數位內容所有人造成無可挽救的持續性傷害，金錢賠償可能不足以彌補此等傷害。因此，「再授權使用者」進一步同意 Adobe 有權尋求處分救濟，以預防或限制在金錢損失外，因該等行為而引致之傷害。</p>
<p>17. 意定第三方受益人。Adobe Systems Incorporated 及 Adobe Software Ireland Limited，為 Google 與「再授權使用者」有關「Adobe 軟體」協議 (包括但不限於「Adobe 條款」) 的第三方受益人。縱使有違與 Google 之協議，「再授權使用者」同意 Google 得向 Adobe 揭露「再授權使用者」的身分，並以書面方式證明「再授權使用者」與 Google 已簽訂包括「Adobe 條款」的授權協議。「再授權使用者」必須與其每一位授權使用者簽定協議，此等授權使用者若經允許可轉散佈「Adobe 軟體」，此協議會包括「Adobe 條款」。</p>
</body>
</html>
