<!DOCTYPE html>
<html lang="tr" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome ve ChromeOS Ek Hizmet Şartları</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome ve ChromeOS Ek Hizmet Şartları
</h2>
<p>
 Son değiştirilme tarihi: <time datetime="2023-09-08">8 Eylül 2023</time>
</p>
<p>
 Chrome veya ChromeOS'u kullanarak https://policies.google.com/terms adresinde bulunan Google Hizmet Şartları'nı ve bu Google Chrome ile ChromeOS Ek Hizmet Şartları'nı kabul etmiş olursunuz.
</p>
<p>
 Bu Google Chrome ve ChromeOS Ek Hizmet Şartları, Chrome ve ChromeOS'un çalıştırılabilir kod sürümü için geçerlidir. Chrome'a ait kaynak kodun büyük bölümü açık kaynak yazılım lisans sözleşmeleri altında ücretsiz olarak http://www.chromium.org adresinde sunulmaktadır.
</p>
<p>
 Chrome ve ChromeOS'un belirli bileşenlerini kullanımınız aşağıdaki şartlara tabidir:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  BU ÜRÜN, (i) AVC STANDARDINA UYGUN OLARAK VİDEO ("AVC VİDEO") KODLAMAK VE/VEYA (ii) KİŞİSEL FAALİYETTE BULUNAN BİR TÜKETİCİ TARAFINDAN KODLANMIŞ VE/VEYA AVC VİDEO SAĞLAMA LİSANSINA SAHİP BİR VİDEO SAĞLAYICIDAN EDİNİLMİŞ BİR AVC VİDEONUN KODUNU ÇÖZMEK ÜZERE TÜKETİCİNİN KİŞİSEL KULLANIMI VEYA KARŞILIĞINDA ÜCRET ALMADIĞI DİĞER KULLANIMLARI İÇİN AVC PATENT PORTFÖYÜ LİSANSI ALTINDA LİSANSLANMIŞTIR. BAŞKA HİÇBİR KULLANIM İÇİN HİÇBİR LİSANS VERİLMEMİŞTİR VEYA VERİLDİĞİ ANLAMI ÇIKARILAMAZ. EK BİLGİ, MPEG LA, L.L.C. FİRMASINDAN EDİNİLEBİLİR. BKZ. HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Ek olarak, ChromeOS'un belirli bileşenlerini kullanımınız aşağıdaki koşullara tabidir:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  BU ÜRÜN, (i) MPEG-4 GÖRSEL STANDARDINA UYGUN VİDEO ("MPEG-4 VİDEO") KODLAMAK VE/VEYA (ii) KİŞİSEL VE TİCARİ OLMAYAN FAALİYETTE BULUNAN BİR TÜKETİCİ TARAFINDAN KODLANMIŞ VE/VEYA MPEG LA TARAFINDAN MPEG-4 VİDEO SAĞLAMA LİSANSI VERİLMİŞ BİR VİDEO SAĞLAYICIDAN EDİNİLMİŞ MPEG-4 VİDEONUN KODUNU ÇÖZMEK ÜZERE TÜKETİCİNİN KİŞİSEL VE TİCARİ OLMAYAN KULLANIMI İÇİN MPEG-4 GÖRSEL PATENT PORTFÖYÜ LİSANSI ALTINDA LİSANSLANMIŞTIR. BAŞKA HİÇBİR KULLANIM İÇİN HİÇBİR LİSANS VERİLMEMİŞTİR VEYA VERİLDİĞİ ANLAMI ÇIKARILAMAZ. PROMOSYON, DAHİLİ VE TİCARİ KULLANIMLAR VE LİSANSLAMA İLE İLGİLİ EK BİLGİLER MPEG LA, LLC.DEN EDİNİLEBİLİR. BKZ. HTTP://WWW.MPEGLA.COM.
 </p>
</section>
