<!DOCTYPE html>
<html lang="sk" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dodatočné zmluvné podmienky prehliadača Chrome a systému ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Dodatočné zmluvné podmienky prehliadača Chrome a systému ChromeOS
</h2>
<p>
 Naposledy upravené: <time datetime="2023-09-08">8. septembra 2023</time>
</p>
<p>
 Používaním prehliadača Chrome alebo systému ChromeOS vyjadrujete súhlas so zmluvnými podmienkami spoločnosti Google na adrese https://policies.google.com/terms a týmito dodatočnými zmluvnými podmienkami prehliadača Google Chrome a systému ChromeOS.
</p>
<p>
 Tieto dodatočné zmluvné podmienky prehliadača Chrome a systému ChromeOS platia pre verziu prehliadača Chrome a systému ChromeOS so spustiteľným kódom. Väčšina zdrojových kódov pre prehliadač Chrome je k dispozícii bezplatne na základe licenčných zmlúv týkajúcich sa softvéru open source uvedených na adrese chrome://credits.
</p>
<p>
 Na vaše používanie určitých komponentov prehliadača Chrome a systému ChromeOS sa tiež vzťahujú nasledujúce zmluvné podmienky:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  NA TÚTO SLUŽBU SA VZŤAHUJE LICENCIA PORTFÓLIA PATENTU AVC UMOŽŇUJÚCA OSOBNÉ a NEKOMERČNÉ POUŽITIE, PRÍPADNE INÉ POUŽITIE BEZ FINANČNEJ ODMENY PRE SPOTREBITEĽA NA TIETO ÚČELY: (i) KÓDOVANIE VIDEA V SÚLADE SO ŠTANDARDOM AVC (ĎALEJ LEN „VIDEO AVC“) ALEBO (ii) DEKÓDOVANIE VIDEA AVC, KTORÉ BOLO ZAKÓDOVANÉ ZÁKAZNÍKOM V RÁMCI OSOBNEJ ČINNOSTI ALEBO BOLO ZÍSKANÉ OD POSKYTOVATEĽA VIDEÍ S LICENCIOU NA POSKYTOVANIE VIDEÍ AVC. ŽIADNA LICENCIA SA NEUDEĽUJE NA INÉ POUŽITIE ANI TO NENAZNAČUJE. DODATOČNÉ INFORMÁCIE MÔŽETE ZÍSKAŤ OD SPOLOČNOSTI MPEG LA L.L.C. NA ADRESE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Na vaše používanie určitých komponentov systému ChromeOS sa tiež vzťahujú nasledujúce zmluvné podmienky:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  NA TÚTO SLUŽBU SA VZŤAHUJE LICENCIA PORTFÓLIA PATENTU MPEG-4 VISUAL UMOŽŇUJÚCA OSOBNÉ a NEKOMERČNÉ POUŽITIE SPOTREBITEĽOM NA TIETO ÚČELY: (i) KÓDOVANIE VIDEA V SÚLADE SO ŠTANDARDOM MPEG-4 VISUAL (ĎALEJ LEN „VIDEO MPEG-4“) ALEBO (ii) DEKÓDOVANIE VIDEA MPEG-4, KTORÉ BOLO ZAKÓDOVANÉ ZÁKAZNÍKOM V RÁMCI OSOBNEJ a NEKOMERČNEJ ČINNOSTI ALEBO BOLO ZÍSKANÉ OD POSKYTOVATEĽA VIDEÍ S LICENCIOU NA POSKYTOVANIE VIDEÍ MPEG-4. ŽIADNA LICENCIA SA NEUDEĽUJE NA INÉ POUŽITIE ANI TO NENAZNAČUJE. ĎALŠIE INFORMÁCIE (VRÁTANE TÝCH, KTORÉ SA TÝKAJÚ POUŽITIA NA PROPAGAČNÉ, INTERNÉ a KOMERČNÉ ÚČELY a LICENCOVANIE) MÔŽETE ZÍSKAŤ OD SPOLOČNOSTI MPEG LA L.L.C. POZRITE SI WEB HTTP://WWW.MPEGLA.COM.
 </p>
</section>
