<!DOCTYPE html>
<html lang="ml" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome, ChromeOS അധിക സേവന നിബന്ധനകൾ</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome, ChromeOS അധിക സേവന നിബന്ധനകൾ
</h2>
<p>
 അവസാനം പരിഷ്‌ക്കരിച്ചത്: <time datetime="2023-09-08">2023, സെപ്റ്റംബർ 8</time>
</p>
<p>
 Chrome അല്ലെങ്കിൽ ChromeOS ഉപയോഗിക്കുന്നതിലൂടെ, https://policies.google.com/terms -ൽ ഉള്ള Google സേവന നിബന്ധനകളും ഈ Google Chrome, ChromeOS അധിക സേവന നിബന്ധനകളും നിങ്ങൾ അംഗീകരിക്കുന്നു.
</p>
<p>
 Chrome, ChromeOS എന്നിവയുടെ നിർവഹിക്കാൻ കഴിയുന്ന കോഡ് പതിപ്പിന് ഈ Google Chrome, ChromeOS അധിക സേവന നിബന്ധനകൾ ബാധകമാണ്. Chrome-നായുള്ള മിക്ക സോഴ്‌സ് കോഡും chrome://credits -ൽ ഓപ്പൺ സോഴ്‌സ് സോഫ്റ്റ്‌വെയർ ലൈസൻസ് ഉടമ്പടി പ്രകാരം സൗജന്യമായി ലഭ്യമാണ്.
</p>
<p>
 Chrome, ChromeOS എന്നിവയുടെ ചില ഘടകങ്ങൾ നിങ്ങൾ ഉപയോഗിക്കുന്നത് ഇനിപ്പറയുന്ന നിബന്ധനകൾക്ക് വിധേയമാണ്:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  (i) AVC മാനദണ്ഡം അനുസരിച്ച് ("AVC വീഡിയോ") വീഡിയോ എൻകോഡ് ചെയ്യാനും ഒപ്പം/അല്ലെങ്കിൽ (ii) വ്യക്തിപരമായ പ്രവർത്തനത്തിൽ ഏർപ്പെട്ടിരിക്കുന്ന ഉപഭോക്താവ് എൻകോഡ് ചെയ്‌ത ഒപ്പം/അല്ലെങ്കിൽ AVC വീഡിയോ നൽകാൻ ലൈസൻസ് ഉള്ള ദാതാവിൽ നിന്ന് ലഭിച്ച വീഡിയോ ഡീകോഡ് ചെയ്യാൻ, ഉപഭോക്താവിന് പ്രതിഫലം ലഭിക്കാത്ത വ്യക്തിപരമായ ഉപയോഗത്തിനോ മറ്റ് ഉപയോഗങ്ങൾക്കോ വേണ്ടി AVC പേറ്റന്റ് പോർട്ട്ഫോളിയോ ലൈസൻസ് പ്രകാരം ഈ ഉൽപ്പന്നം ലൈസൻസ് ചെയ്‌തിരിക്കുന്നു. മറ്റേതെങ്കിലും ഉപയോഗത്തിനായി ലൈസൻസുകളൊന്നും അനുവദിക്കുകയോ വ്യക്തമാക്കാതെ സൂചിപ്പിക്കുകയോ ചെയ്‌തിട്ടില്ല. അധിക വിവരങ്ങൾ MPEG LA, L.L.C-യിൽ നിന്ന് ലഭ്യമാകും. HTTP://WWW.MPEGLA.COM കാണുക.
 </p>
</section>
<section>
</section>
<p>
 ഒപ്പം, ChromeOS- ന്റെ ചില ഘടകങ്ങളുടെ നിങ്ങളുടെ ഉപയോഗം ഇനിപ്പറയുന്ന നിബന്ധനകൾക്ക് വിധേയമാണ്:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  MPEG-4 വിഷ്വൽ പേറ്റന്റ് പോർട്ട്ഫോളിയോ ലൈൻസിന് കീഴിൽ ഉപഭോക്താവിന്റെ ഇനിപ്പറയുന്ന തരത്തിലുള്ള വ്യക്തിപരവും വാണിജ്യേതരവുമായ ഉപയോഗത്തിനായി ലൈസൻസ് ചെയ്തിരിക്കുന്ന ഉൽപ്പന്നമാണിത് - (i) MPEG-4 വിഷ്വൽ മാനദണ്ഡം ("MPEG-4 വീഡിയോ") അനുസരിച്ച് വീഡിയോ എൻകോഡ് ചെയ്യാൻ ഒപ്പം/അല്ലെങ്കിൽ (ii) വ്യക്തിപരമായ വാണിജ്യേതര പ്രവൃത്തിയിൽ ഏർപ്പെട്ടിരിക്കുന്ന ഉപഭോക്താവ് എൻകോഡ് ചെയ്‌ത ഒപ്പം/അല്ലെങ്കിൽ MPEG-4 വീഡിയോ നൽകാൻ MPEG LA ലൈസൻസ് നൽകിയിട്ടുള്ള വീഡിയോ ദാതാവിൽ നിന്ന് ലഭിച്ച MPEG LA വീഡിയോ ഡീകോഡ് ചെയ്യാൻ. മറ്റേതെങ്കിലും ഉപയോഗത്തിനായി ലൈസൻസുകളൊന്നും അനുവദിക്കുകയോ വ്യക്തമാക്കാതെ സൂചിപ്പിക്കുകയോ ചെയ്‌തിട്ടില്ല. പ്രമോഷന്‍, ആന്തരികം, വാണിജ്യപരമായ ഉപയോഗങ്ങൾ, ലൈസൻസിംഗ് എന്നിവയുമായി ബന്ധപ്പെട്ട അധിക വിവരങ്ങൾ MPEG LA, L.L.C-യിൽ നിന്ന് ലഭ്യമായേക്കാം. HTTP://WWW.MPEGLA.COM കാണുക.
 </p>
</section>
