<!DOCTYPE html>
<html lang="mr" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome आणि ChromeOS अतिरिक्त सेवा अटी</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome आणि ChromeOS अतिरिक्त सेवा अटी
</h2>
<p>
 शेवटची केलेली सुधारणा: <time datetime="2023-09-08">८ सप्टेंबर, २०२३</time>
</p>
<p>
 Chrome किंवा ChromeOS वापरून, तुम्ही https://policies.google.com/terms येथे असलेल्या Google सेवा अटींना आणि या Google Chrome व ChromeOS अतिरिक्त सेवा अटींना सहमती दर्शवता.
</p>
<p>
 या Google Chrome आणि ChromeOS अतिरिक्त सेवा अटी Chrome आणि ChromeOS यांच्या अंमलबजावणीक्षम कोड आवृत्त्यांना लागू होतात. Chrome साठी बहुतांश स्रोत कोड chrome://credits येथे मुक्त स्रोत परवाना करारनाम्याअंतर्गत विनाशुल्क उपलब्ध आहे.
</p>
<p>
 Chrome आणि ChromeOS च्या ठरावीक घटकांचा तुमचा वापर पुढील अटींच्या अधीन आहे:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  या उत्पादनाचा परवाना AVC पेटंट पोर्टफोलिओ परवान्याअंतर्गत ग्राहकाच्या वैयक्तिक वापरासाठी किंवा ज्यामध्ये (१) AVC मानकांचे पालन करून व्हिडिओ एंकोड करणे (“AVC व्हिडिओ”) आणि/किंवा (२) वैयक्तिक अ‍ॅक्टिव्हिटीमध्ये सहभागी असलेल्या ग्राहकाने एंकोड केलेला किंवा AVC व्हिडिओ पुरवण्यासाठी परवानाप्राप्त व्हिडिओ पुरवठादाराकडून मिळवलेला AVC व्हिडिओ डीकोड करणे यांसाठी मोबदला मिळत नाही अशा वापरासाठी दिला जातो. इतर कोणत्याही वापरासाठी परवाना दिला जात नाही किंवा तसे ध्वनित केले जाणार नाही. अतिरिक्त माहिती MPEG LA, L.L.C. कडून मिळवली जाऊ शकते. http://www.mpegla.com पहा.
 </p>
</section>
<section>
</section>
<p>
 त्यासोबतच, ChromeOS च्या ठरावीक घटकांचा तुमचा वापर पुढील अटींच्या अधीन आहे:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  या उत्पादनाचा परवाना MPEG-4 व्हिज्युअल पेटंट पोर्टफोलिओ परवान्याअंतर्गत ग्राहकाच्या वैयक्तिक आणि अव्यावसायिक वापरासाठी याकरिता दिला जातो: (१) MPEG-4 व्हिज्युअल मानकांचे पालन करून व्हिडिओ एंकोड करणे ("MPEG-4 व्हिडिओ") आणि/किंवा (२) वैयक्तिक आणि अव्यावसायिक अ‍ॅक्टिव्हिटीमध्ये सहभागी असलेल्या ग्राहकाने एंकोड केलेला आणि/किंवा MPEG-4 व्हिडिओ पुरवण्यासाठी MPEG LA ने परवाना दिलेल्या व्हिडिओ पुरवठादाराकडून मिळवलेला MPEG-4 व्हिडिओ डीकोड करणे. इतर कोणत्याही वापरासाठी परवाना दिला जात नाही किंवा तसे ध्वनित केले जाणार नाही. प्रचारात्मक, अंतर्गत आणि व्यावसायिक वापर व परवाना देणे यांच्याशी संबंधित अतिरिक्त माहिती MPEG LA, LLC यांच्याकडून मिळवता येईल. http://www.mpegla.com पहा.
 </p>
</section>
