<!DOCTYPE html>
<html lang="ca" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Condicions del servei addicionals de Google Chrome i ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Condicions del servei addicionals de Google Chrome i ChromeOS
</h2>
<p>
 Darrera modificació: <time datetime="2023-09-08">8 de setembre de 2023</time>
</p>
<p>
 En utilitzar Chrome o ChromeOS, accepteu les Condicions del servei de Google, que podeu consultar a https://policies.google.com/terms, i aquestes Condicions del servei addicionals de Google Chrome i ChromeOS.
</p>
<p>
 Aquestes Condicions del servei addicionals de Google Chrome i ChromeOS s'apliquen a la versió de codi executable de Chrome i ChromeOS. La major part del codi font de Chrome està disponible sense cap càrrec d'acord amb els acords de llicència de programari lliure que es poden consultar a chrome://credits.
</p>
<p>
 L'ús que feu de determinats components de Chrome i ChromeOS està subjecte a les condicions següents:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  AQUEST PRODUCTE ES CONCEDEIX SOTA UNA LLICÈNCIA DE CARTERA DE PATENTS AVC PER A L'ÚS PERSONAL PER PART D'UN CONSUMIDOR O PER A ALTRES USOS EN QUÈ NO ES REBI CAP REMUNERACIÓ PER (i) CODIFICAR VÍDEO DE CONFORMITAT AMB L'ESTÀNDARD AVC ("VÍDEO AVC") O (ii) DESCODIFICAR VÍDEO AVC CODIFICAT PER UN CONSUMIDOR COM A PART D'UNA ACTIVITAT DE CARÀCTER PERSONAL O QUE S'HAGI OBTINGUT D'UN PROVEÏDOR DE VÍDEO AMB LLICÈNCIA PER SUBMINISTRAR VÍDEO AVC. NO ES CONCEDEIX CAP LLICÈNCIA NI HI HA CAP LLICÈNCIA IMPLÍCITA PER A CAP ALTRE ÚS. PER OBTENIR INFORMACIÓ ADDICIONAL, CONSULTEU LA PÀGINA D'MPEG (HTTP://WWW.MPEGLA.COM).
 </p>
</section>
<section>
</section>
<p>
 A més, l'ús que feu de determinats components de ChromeOS està subjecte a les condicions següents:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  AQUEST PRODUCTE ES CONCEDEIX SOTA UNA LLICÈNCIA DE CARTERA DE PATENTS VISUALS MPEG-4 PER A L'ÚS PERSONAL I NO COMERCIAL PER PART D'UN CONSUMIDOR PER (i) CODIFICAR VÍDEO DE CONFORMITAT AMB L'ESTÀNDARD DE VÍDEO MPEG-4 ("VÍDEO MPEG-4") O (ii) DESCODIFICAR VÍDEO MPEG-4 CODIFICAT PER UN CONSUMIDOR COM A PART D'UNA ACTIVITAT DE CARÀCTER PERSONAL I NO COMERCIAL O QUE S'HAGI OBTINGUT D'UN PROVEÏDOR DE VÍDEO AMB LLICÈNCIA D'MPEG-4 PER PROPORCIONAR VÍDEO MPEG-4. NO ES CONCEDEIX CAP LLICÈNCIA NI HI HA CAP LLICÈNCIA IMPLÍCITA PER A CAP ALTRE ÚS. PER OBTENIR INFORMACIÓ ADDICIONAL, INCLOSA LA RELACIONADA AMB ELS USOS PROMOCIONALS, INTERNS I COMERCIALS I AMB LLICÈNCIES, CONSULTEU LA PÀGINA D'MPEG LA, LLC (HTTP://WWW.MPEGLA.COM).
 </p>
</section>
