<!DOCTYPE html>
<html lang="da" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Yderligere servicevilkår for Google Chrome og ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Yderligere servicevilkår for Google Chrome og ChromeOS
</h2>
<p>
 Sidst opdateret: <time datetime="2023-09-08">8. september 2023</time>
</p>
<p>
 Når du bruger Chrome eller ChromeOS, accepterer du Googles servicevilkår, som kan findes på https://policies.google.com/terms, og disse yderligere servicevilkår for Google Chrome og ChromeOS.
</p>
<p>
 Disse Yderligere servicevilkår for Google Chrome og ChromeOS gælder for den version af Chrome og ChromeOS med eksekverbar kode. Det meste af kildekoden til Chrome kan findes gratis i henhold til open source-softwarelicensaftaler på chrome://credits.
</p>
<p>
 Din brug af bestemte dele af Chrome og ChromeOS er underlagt følgende vilkår:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  DETTE PRODUKT ER LICENSERET UNDER LICENSEN FOR AVC-PATENTPORTEFØLJEN TIL PERSONLIG BRUG AF EN FORBRUGER ELLER ANDEN BRUG, HVOR DER IKKE MODTAGES VEDERLAG FOR BRUGEN AF PRODUKTET, TIL (i) KODNING AF VIDEO I OVERENSSTEMMELSE MED AVC-STANDARDEN ("AVC-VIDEO") OG/ELLER (ii) AFKODNING AF AVC-VIDEO, SOM ER BLEVET KODET AF EN FORBRUGER I PERSONLIGT ØJEMED OG/ELLER ER ERHVERVET FRA EN VIDEOUDBYDER MED LICENS TIL AT LEVERE AVC-VIDEO. DER GIVES ELLER UNDERFORSTÅS IKKE LICENS TIL NOGEN ANDEN BRUG. FÅ YDERLIGERE OPLYSNINGER HOS MPEG LA, L.L.C. SE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Din brug af bestemte dele af ChromeOS er desuden underlagt følgende vilkår:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  DETTE PRODUKT ER LICENSERET UNDER LICENSEN FOR MPEG-4 VISUAL-PATENTPORTEFØLJEN TIL PERSONLIG OG IKKE-KOMMERCIEL BRUG AF EN FORBRUGER TIL (i) KODNING AF VIDEO I OVERENSSTEMMELSE MED MPEG-4 VISUAL-STANDARDEN ("MPEG-4 VIDEO") OG/ELLER (ii) AFKODNING AF MPEG-4-VIDEO, SOM ER BLEVET KODET AF EN FORBRUGER I PERSONLIGT OG IKKE-KOMMERCIELT ØJEMED OG/ELLER ER ERHVERVET FRA EN VIDEOUDBYDER MED LICENS FRA MPEG LA TIL AT LEVERE MPEG-4-VIDEO DER GIVES ELLER UNDERFORSTÅS IKKE LICENS TIL NOGEN ANDEN BRUG. YDERLIGERE OPLYSNINGER, HERUNDER OPLYSNINGER VEDRØRENDE SALGSFREMMENDE, INTERN OG KOMMERCIEL BRUG OG LICENSERING, KAN FÅS FRA MPEG LA, LLC. SE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
