<!DOCTYPE html>
<html lang="id" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Persyaratan Layanan Tambahan Google Chrome dan ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Persyaratan Layanan Tambahan Google Chrome dan ChromeOS
</h2>
<p>
 Terakhir diubah: <time datetime="2023-09-08">8 September 2023</time>
</p>
<p>
 Dengan menggunakan Chrome atau ChromeOS, Anda menyetujui Persyaratan Layanan Google yang ada di https://policies.google.com/terms serta Persyaratan Layanan Tambahan Google Chrome dan ChromeOS ini.
</p>
<p>
 Persyaratan Layanan Tambahan Google Chrome dan ChromeOS ini berlaku untuk versi kode Chrome dan ChromeOS yang dapat dijalankan. Sebagian besar kode sumber untuk Chrome tersedia secara gratis di bawah perjanjian lisensi software open source di chrome://credits.
</p>
<p>
 Penggunaan Anda atas komponen Chrome dan ChromeOS tertentu juga diatur dalam persyaratan berikut:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  PRODUK INI DILISENSIKAN BERDASARKAN LISENSI PORTOFOLIO PATEN AVC UNTUK PENGGUNAAN PRIBADI KONSUMEN ATAU PENGGUNAAN LAINNYA DENGAN TIDAK MENERIMA UPAH UNTUK (i) MENGENKODE VIDEO SESUAI DENGAN STANDAR AVC ("VIDEO AVC") DAN/ATAU (ii) MENDEKODE VIDEO AVC YANG DIENKODE OLEH KONSUMEN YANG TERLIBAT DALAM AKTIVITAS PRIBADI DAN/ATAU YANG DIPEROLEH DARI PENYEDIA VIDEO YANG MEMILIKI LISENSI UNTUK MENYEDIAKAN VIDEO AVC. TIDAK ADA LISENSI YANG DIBERIKAN ATAU DISIRATKAN UNTUK PENGGUNAAN LAIN APA PUN. INFORMASI TAMBAHAN DAPAT DIPEROLEH DARI MPEG LA, L.L.C. LIHAT HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Selain itu, penggunaan Anda atas komponen ChromeOS tertentu tunduk pada persyaratan berikut:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  PRODUK INI DILISENSIKAN BERDASARKAN LISENSI PORTOFOLIO PATEN VISUAL MPEG-4 UNTUK PENGGUNAAN PRIBADI DAN TIDAK BERSIFAT KOMERSIAL OLEH KONSUMEN UNTUK (i) MENGENKODE VIDEO SESUAI DENGAN STANDAR VISUAL MPEG-4 ("VIDEO MPEG-4") DAN/ATAU (ii) MENDEKODE VIDEO MPEG-4 YANG DIENKODE OLEH KONSUMEN YANG TERLIBAT DALAM AKTIVITAS PRIBADI DAN TIDAK BERSIFAT KOMERSIAL DAN/ATAU YANG DIPEROLEH DARI PENYEDIA VIDEO YANG DIBERI LISENSI OLEH MPEG LA UNTUK MENYEDIAKAN VIDEO MPEG-4. TIDAK ADA LISENSI YANG DIBERIKAN ATAU DISIRATKAN UNTUK PENGGUNAAN LAIN APA PUN. INFORMASI TAMBAHAN TERMASUK YANG TERKAIT DENGAN PENGGUNAAN PROMOSIONAL, INTERNAL, DAN KOMERSIAL SERTA PEMBERIAN LISENSI DAPAT DIPEROLEH DARI MPEG LA, LLC. LIHAT HTTP://WWW.MPEGLA.COM.
 </p>
</section>
