<!DOCTYPE html>
<html lang="es-419" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Condiciones del Servicio Adicionales de Google Chrome y el ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Condiciones del Servicio Adicionales de Google Chrome y el ChromeOS
</h2>
<p>
 Última modificación: <time datetime="2025-09-30">30 de septiembre de 2025</time>
</p>
<p>
 Al usar Chrome o el ChromeOS, confirma que acepta las Condiciones del Servicio de Google (que se encuentran en https://policies.google.com/terms) y estas Condiciones del Servicio Adicionales de Google Chrome y el ChromeOS.
</p>
<p>
 Estas Condiciones del Servicio Adicionales de Google Chrome y el ChromeOS se aplicarán a la versión de código ejecutable de Chrome y del ChromeOS. La mayor parte del código fuente de Chrome está disponible de forma gratuita de conformidad con acuerdos de licencia de software de código abierto que se encuentran en chrome://credits.
</p>
<p>
 El uso que usted haga de ciertos componentes de Chrome y el ChromeOS también está sujeto a las siguientes condiciones:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ESTE PRODUCTO ESTÁ SUJETO A LA LICENCIA DE CARTERA DE PATENTES AVC PARA SU USO PERSONAL POR PARTE DE UN CONSUMIDOR O PARA OTROS USOS NO COMERCIALES A FIN DE (i) CODIFICAR VIDEOS SEGÚN EL ESTÁNDAR AVC ("VIDEOS AVC") O (ii) DECODIFICAR VIDEOS AVC CODIFICADOS POR UN CONSUMIDOR COMO PARTE DE UNA ACTIVIDAD DE CARÁCTER PERSONAL U OBTENIDOS DE UN PROVEEDOR DE VIDEOS CON LICENCIA PARA OFRECER VIDEOS AVC. NO SE OTORGA NI SE DEBE INFERIR LICENCIA ALGUNA PARA NINGÚN OTRO USO. PARA OBTENER MÁS INFORMACIÓN DE MPEG LA, L.L.C., CONSULTE HTTPS://WWW.VIA-LA.COM.
 </p>
</section>

