<!DOCTYPE html>
<html lang="te" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome, ChromeOS అదనపు సేవా నిబంధనలు</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome, ChromeOS అదనపు సేవా నిబంధనలు
</h2>
<p>
 చివరగా సవరించినది: <time datetime="2023-09-08">8 సెప్టెంబర్, 2023</time>
</p>
<p>
 మీరు Chrome లేదా ChromeOSను ఉపయోగించడం ద్వారా https://policies.google.com/terms లింక్‌లోని Google సేవా నిబంధనలకు, అలాగే ఈ Google Chrome, ChromeOS అదనపు సేవా నిబంధనలకు అంగీకరిస్తారు.
</p>
<p>
 ఈ Google Chrome, ChromeOS అదనపు సేవా నిబంధనలు అనేవి Chrome, ChromeOS యొక్క అమలు చేయదగిన కోడ్ వెర్షన్‌కు వర్తిస్తాయి. Chromeకు సంబంధించిన చాలా వరకు సోర్స్ కోడ్, ఓపెన్ సోర్స్ సాప్ట్‌వేర్ లైసెన్స్ ఒప్పందాల ప్రకారం ఎటువంటి ఛార్జీ లేకుండా ఉచితంగా chrome://credits లింక్‌లో అందుబాటులో ఉంచబడుతుంది.
</p>
<p>
 Chrome, ChromeOSలలోని నిర్దిష్ట కాంపొనెంట్‌లను మీరు వినియోగించే విధానం కింది నిబంధనలకు కట్టుబడి ఉండాలి:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ఈ ప్రోడక్ట్ AVC పేటెంట్ పోర్ట్‌ఫోలియో లైసెన్స్ క్రింద, కన్స్యూమర్ వ్యక్తిగత వినియోగం లేదా ప్రతిఫలం ఉండని ఈ ఇతరత్రా వినియోగాల కోసం లైసెన్స్ పొందింది: (i) AVC స్టాండర్డ్ ("AVC వీడియో")కు లోబడి వీడియోను ఎన్‌కోడ్ చేయడం మరియు/లేదా (ii) వ్యక్తిగత యాక్టివిటీలో భాగంగా కన్స్యూమర్ ఎన్‌కోడ్ చేసిన మరియు/లేదా AVC వీడియోను అందించేందుకు లైసెన్స్ పొందిన వీడియో ప్రొవైడర్ ద్వారా అందించబడిన AVC వీడియోను డీకోడ్ చేయడం. మరే ఇతర ఉపయోగానికి లైసెన్స్ ఏదీ మంజూరు చేయబడదు లేదా వర్తించదు. అదనపు సమాచారాన్ని MPEG LA, L.L.C నుండి పొందవచ్చు. HTTP://WWW.MPEGLA.COM లింక్‌ను చూడండి.
 </p>
</section>
<section>
</section>
<p>
 అదనంగా, ChromeOSలోని నిర్ణీత కాంపోనెంట్‌ల యొక్క మీ వినియోగం కింది నిబంధనలకు లోబడి ఉండాలి:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  ఈ ప్రోడక్ట్ MPEG-4 విజువల్ పేటెంట్ పోర్ట్‌ఫోలియో లైసెన్స్ క్రింద, కన్స్యూమర్ ఈ విధమైన వాటి కోసం వ్యక్తిగతంగా, వాణిజ్యేతర రూపంలో వినియోగించడానికి లైసెన్స్ పొందింది, (i) MPEG-4 విజువల్ స్టాండర్డ్ ("MPEG-4 వీడియో")కు లోబడి వీడియోను ఎన్‌కోడ్ చేయడం మరియు/లేదా (ii) వ్యక్తిగత, వాణిజ్యేతర యాక్టివిటీలో భాగంగా కన్స్యూమర్ ఎన్‌కోడ్ చేసిన మరియు/లేదా MPEG-4 వీడియోను అందించేందుకు MPEG LA ద్వారా లైసెన్స్ పొందిన వీడియో ప్రొవైడర్ ద్వారా అందించబడిన MPEG-4 వీడియోను డీకోడ్ చేయడం. మరే ఇతర ఉపయోగానికి లైసెన్స్ ఏదీ మంజూరు చేయబడదు లేదా వర్తించదు. ప్రచార సంబంధిత, అంతర్గత, వాణిజ్య వినియోగాల గురించి కలిగి ఉండే అదనపు సమాచారాన్ని, అలాగే లైసెన్స్‌ను MPEG LA, LLC నుండి పొందవచ్చు. HTTP://WWW.MPEGLA.COM లింక్‌ను చూడండి.
 </p>
</section>
