<!DOCTYPE html>
<html lang="it" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Termini di servizio aggiuntivi di Google Chrome e ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Termini di servizio aggiuntivi di Google Chrome e ChromeOS
</h2>
<p>
 Ultima modifica: <time datetime="2023-09-08">8 settembre 2023</time>
</p>
<p>
 Con l'utilizzo di Chrome o ChromeOS, l'utente accetta i Termini di servizio di Google disponibili all'indirizzo https://policies.google.com/terms, nonché i presenti Termini di servizio aggiuntivi di Google Chrome e ChromeOS.
</p>
<p>
 I presenti Termini di servizio aggiuntivi di Google Chrome e ChromeOS si applicano alla versione del codice eseguibile di Chrome e ChromeOS. Gran parte del codice sorgente di Chrome è disponibile gratuitamente ai sensi di contratti di licenza del software open source all'indirizzo chrome://credits.
</p>
<p>
 L'utilizzo da parte dell'utente di determinati componenti di Chrome e ChromeOS è soggetto ai termini elencati di seguito:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  IL PRESENTE PRODOTTO VIENE CONCESSO IN LICENZA AI SENSI DELLE LICENZE PER IL PORTAFOGLIO DI BREVETTI AVC PER L'UTILIZZO PERSONALE DA PARTE DI UN CONSUMATORE O PER ALTRI UTILIZZI PER CUI NON SI RICEVONO COMPENSI AL FINE DI (i) CODIFICARE VIDEO IN CONFORMITÀ AGLI STANDARD AVC ("VIDEO AVC") E/O (ii) DECODIFICARE UN VIDEO AVC CODIFICATO DA UN CONSUMATORE IMPEGNATO IN UN'ATTIVITÀ PERSONALE E/O OTTENUTO DA UN FORNITORE DI VIDEO AUTORIZZATO A FORNIRE TALE VIDEO. NESSUNA LICENZA VIENE CONCESSA O DEVE ESSERE CONSIDERATA IMPLICITA PER QUALSIASI ALTRO UTILIZZO. ULTERIORI INFORMAZIONI SONO DISPONIBILI SUL SITO WEB DI MPEG LA, L.L.C. ALL'INDIRIZZO HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Inoltre, l'utilizzo da parte dell'utente di determinati componenti di ChromeOS è soggetto ai termini elencati di seguito:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  IL PRESENTE PRODOTTO VIENE CONCESSO IN LICENZA AI SENSI DELLE LICENZE PER IL PORTAFOGLIO DI BREVETTI VIDEO MPEG-4 PER L'UTILIZZO PERSONALE E NON COMMERCIALE DA PARTE DI UN CONSUMATORE AL FINE DI (i) CODIFICARE VIDEO IN CONFORMITÀ ALLO STANDARD VIDEO MPEG-4 ("VIDEO MPEG-4") E/O (ii) DECODIFICARE UN VIDEO MPEG-4 CODIFICATO DA UN CONSUMATORE IMPEGNATO IN UN'ATTIVITÀ PERSONALE E NON COMMERCIALE E/O OTTENUTO DA UN FORNITORE DI VIDEO AUTORIZZATO DA MPEG LA A FORNIRE TALE VIDEO. NESSUNA LICENZA VIENE CONCESSA O DEVE ESSERE CONSIDERATA IMPLICITA PER QUALSIASI ALTRO UTILIZZO. ULTERIORI INFORMAZIONI, COMPRESE QUELLE COLLEGATE ALLE LICENZE E AGLI UTILIZZI PROMOZIONALI, INTERNI E COMMERCIALI SONO DISPONIBILI SUL SITO WEB DI MPEG LA, L.L.C. ALL'INDIRIZZO HTTP://WWW.MPEGLA.COM.
 </p>
</section>
