<!DOCTYPE html>
<html lang="pl" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dodatkowe warunki korzystania z Google Chrome i ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Dodatkowe warunki korzystania z Google Chrome i ChromeOS
</h2>
<p>
 Ostatnia zmiana: <time datetime="2023-09-08">8 września 2023 r.</time>
</p>
<p>
 Używając Chrome lub ChromeOS, użytkownik wyraża zgodę na Warunki korzystania z usług Google dostępne na stronie https://policies.google.com/terms oraz niniejsze Dodatkowe warunki korzystania z Google Chrome i ChromeOS.
</p>
<p>
 Dodatkowe warunki korzystania z Google Chrome i ChromeOS dotyczą kodu wykonywalnego Chrome i ChromeOS. Większość kodu źródłowego Chrome jest dostępna bezpłatnie na zasadach licencji open source, której treść można znaleźć na stronie chrome://credits
</p>
<p>
 Korzystanie z określonych komponentów Chrome i ChromeOS podlega następującym warunkom:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  TEN PRODUKT JEST LICENCJONOWANY NA PODSTAWIE LICENCJI NA ZBIÓR PATENTÓW AVC DO UŻYTKU OSOBISTEGO PRZEZ KLIENTA LUB DO INNYCH ZASTOSOWAŃ, ZA KTÓRE KLIENT NIE OTRZYMUJE WYNAGRODZENIA, W CELU (i) KODOWANIA FILMÓW ZGODNIE ZE STANDARDEM AVC („FILMY AVC”) LUB (ii) DEKODOWANIA FILMÓW AVC ZAKODOWANYCH PRZEZ KLIENTA UCZESTNICZĄCEGO W DZIAŁANIACH O CHARAKTERZE OSOBISTYM LUB UZYSKANYCH OD DOSTAWCY FILMÓW, KTÓRY OTRZYMAŁ LICENCJĘ NA UDOSTĘPNIANIE FILMÓW AVC. NIE JEST UDZIELANA ŻADNA LICENCJA, W TYM DOROZUMIANA, NA JAKIKOLWIEK INNY UŻYTEK. DODATKOWE INFORMACJE MOŻNA ZNALEŹĆ NA STRONIE FIRMY MPEG LA, L.L.C. POD ADRESEM HTTP://WWW.MPEGLA.COM
 </p>
</section>
<section>
</section>
<p>
 Korzystanie przez użytkownika z niektórych komponentów ChromeOS podlega też tym warunkom:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  TEN PRODUKT JEST LICENCJONOWANY NA PODSTAWIE LICENCJI NA ZBIÓR PATENTÓW WIZUALNYCH MPEG-4 DO UŻYTKU OSOBISTEGO I NIEKOMERCYJNEGO PRZEZ KLIENTA W CELU (i) KODOWANIA FILMÓW ZGODNIE ZE STANDARDEM WIZUALNYM MPEG-4 („FILMY MPEG-4”) LUB (ii) DEKODOWANIA FILMÓW MPEG-4 ZAKODOWANYCH PRZEZ KLIENTA UCZESTNICZĄCEGO W DZIAŁANIACH O CHARAKTERZE OSOBISTYM I NIEKOMERCYJNYM LUB UZYSKANYCH OD DOSTAWCY FILMÓW, KTÓRY OTRZYMAŁ OD FIRMY MPEG LA LICENCJĘ NA UDOSTĘPNIANIE FILMÓW MPEG-4. NIE JEST UDZIELANA ŻADNA LICENCJA, W TYM DOROZUMIANA, NA JAKIKOLWIEK INNY UŻYTEK. DODATKOWE INFORMACJE – W TYM NA TEMAT LICENCJONOWANIA I UŻYTKU PROMOCYJNEGO, WEWNĘTRZNEGO I KOMERCYJNEGO – MOŻNA UZYSKAĆ OD FIRMY MPEG LA, LLC (HTTP://WWW.MPEGLA.COM).
 </p>
</section>
