<!DOCTYPE html>
<html lang="gu" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome અને ChromeOSની વધારાની સેવાની શરતો</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome અને ChromeOSની વધારાની સેવાની શરતો
</h2>
<p>
 છેલ્લે ફેરફાર કર્યાની તારીખ: <time datetime="2023-09-08">8 સપ્ટેમ્બર, 2023</time>
</p>
<p>
 Chrome અથવા ChromeOSનો ઉપયોગ કરીને, તમે https://policies.google.com/terms ખાતે દર્શાવેલી Google સેવાની શરતો અને આ Google Chrome અને ChromeOSની વધારાની સેવાની શરતો સાથે સંમત થાઓ છો.
</p>
<p>
 આ Google Chrome અને ChromeOSની વધારાની સેવાની શરતો Chrome અને ChromeOSનાં અમલ કરવા યોગ્ય કોડ વર્ઝન પર લાગુ થાય છે. Chrome માટે મોટેભાગના સૉર્સ કોડ chrome://credits પર ઓપન સૉર્સ સૉફ્ટવેર લાઇસન્સના કરાર હેઠળ મફતમાં ઉપલબ્ધ છે.
</p>
<p>
 Chrome અને ChromeOSનાં અમુક ઘટકોનો તમારો ઉપયોગ નીચે આપેલી શરતોને આધીન છે:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  આ પ્રોડક્ટ (i) AVC માનક ("AVC વીડિયો")ની અંતર્ગત વીડિયોને એન્કોડ કરવા અને/અથવા (ii) વ્યક્તિગત પ્રવૃત્તિમાં વ્યસ્ત ગ્રાહક દ્વારા એન્કોડ કર્યા હતા તેને અને/અથવા AVC વીડિયો પ્રદાન કરવા માટે લાઇસન્સ પ્રાપ્ત વીડિયો પ્રદાતાથી મેળવેલા AVC વીડિયોને ડિકોડ કરવા ગ્રાહકના વ્યક્તિગત ઉપયોગ માટે AVC પેટન્ટ પોર્ટફોલિયો લાઇસન્સ હેઠળ લાઇસન્સ પ્રાપ્ત કરેલું છે. અન્ય કોઈપણ ઉપયોગ માટે લાઇસન્સ આપવામાં આવતું નથી અથવા તેવું માનવું ન જોઈએ. વધારાની માહિતી MPEG LA, L.L.C. દ્વારા મળી શકે છે. HTTP://WWW.MPEGLA.COM જુઓ.
 </p>
</section>
<section>
</section>
<p>
 તે ઉપરાંત, ChromeOS સૉફ્ટવેરનાં ચોક્કસ ઘટકોનો તમારો ઉપયોગ પણ નીચેની શરતોને આધીન છે:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  આ પ્રોડક્ટ (i) MPEG-4 વિઝ્યુઅલ માનક ("MPEG-4 વીડિયો")ની અંતર્ગત વીડિયોને એન્કોડ કરવા અને/અથવા (ii) વ્યક્તિગત અને બિનવ્યાવસાયિક પ્રવૃત્તિમાં વ્યસ્ત ગ્રાહક દ્વારા એન્કોડ કર્યા હતા તેને અને/અથવા MPEG-4 વીડિયો પ્રદાન કરવા માટે લાઇસન્સ પ્રાપ્ત વીડિયો પ્રદાતાથી મેળવેલા MPEG-4 વીડિયોને ડિકોડ કરવા ગ્રાહકના વ્યક્તિગત અને બિનવ્યાવસાયિક ઉપયોગ માટે MPEG-4 પેટન્ટ પોર્ટફોલિયો લાઇસન્સ હેઠળ લાઇસન્સ પ્રાપ્ત કરેલ છે. અન્ય કોઈપણ ઉપયોગ માટે લાઇસન્સ આપવામાં આવતું નથી અથવા તેવું માનવું ન જોઈએ. પ્રચાર, આંતરિક અને વ્યાવસાયિક ઉપયોગથી સંબંધિત સહિત વધારાની માહિતી અને લાઇસન્સ આપવું તે MPEG LA, LLC. મેળવી શકાય. HTTP://WWW.MPEGLA.COM જુઓ.
 </p>
</section>
