<!DOCTYPE html>
<html lang="de">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Zusätzliche Nutzungsbedingungen für Google Chrome und ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Zusätzliche Nutzungsbedingungen für Google Chrome und ChromeOS
</h2>
<p>
 Letzte Änderung: <time datetime="2023-09-08">8. September 2023</time>
</p>
<p>
 Wenn Sie Chrome oder ChromeOS nutzen, stimmen Sie damit den Nutzungsbedingungen von Google unter https://policies.google.com/terms sowie diesen zusätzlichen Nutzungsbedingungen für Google Chrome und ChromeOS zu.
</p>
<p>
 Diese zusätzlichen Nutzungsbedingungen für Google Chrome und ChromeOS gelten für die ausführbare Codeversion von Chrome und ChromeOS. Der größte Teil des Quellcodes von Chrome ist im Rahmen von Open-Source-Softwarelizenzvereinbarungen auf chrome://credits kostenlos erhältlich.
</p>
<p>
 Die Nutzung bestimmter Komponenten von Chrome und ChromeOS unterliegt den folgenden Bedingungen:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  DIESES PRODUKT IST IM RAHMEN DER AVC-PATENT-PORTFOLIO-LIZENZ FÜR DIE PERSÖNLICHE NUTZUNG DURCH EINEN VERBRAUCHER ODER ANDERE VERGÜTUNGSFREIE VERWENDUNGSZWECKE LIZENZIERT, BEI DENEN MIT DIESEM PRODUKT (i) VIDEO ENTSPRECHEND DEM AVC-STANDARD ("AVC-VIDEO") CODIERT WIRD UND/ODER (ii) AVC-VIDEO DECODIERT WIRD, DAS VON EINEM VERBRAUCHER IM RAHMEN EINER PERSÖNLICHEN AKTIVITÄT CODIERT WURDE UND/ODER DAS VON EINEM ENTSPRECHEND LIZENZIERTEN VIDEOANBIETER BEREITGESTELLT WURDE. FÜR JEDWEDE ANDERE NUTZUNG WIRD KEINE LIZENZ GEWÄHRT BZW. IMPLIZIERT. WEITERE INFORMATIONEN ERHALTEN SIE BEI MPEG LA, L.L.C. UNTER HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Darüber hinaus unterliegt die Nutzung bestimmter Komponenten von ChromeOS den folgenden Bedingungen:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  DIESES PRODUKT IST IM RAHMEN DER MPEG-4 VISUAL-PATENT-PORTFOLIO-LIZENZ FÜR DIE PERSÖNLICHE UND NICHT KOMMERZIELLE NUTZUNG DURCH EINEN VERBRAUCHER LIZENZIERT, DER MIT DIESEM PRODUKT (i) VIDEOMATERIAL ENTSPRECHEND DEM MPEG-4 VISUAL-STANDARD ("MPEG-4-VIDEO") CODIEREN UND/ODER (ii) MPEG-4-VIDEO DECODIEREN DARF, DAS VON EINEM VERBRAUCHER IM RAHMEN EINER PERSÖNLICHEN UND NICHT KOMMERZIELLEN AKTIVITÄT CODIERT WURDE UND/ODER VON EINEM DURCH MPEG LA ENTSPRECHEND LIZENZIERTEN VIDEOANBIETER BEREITGESTELLT WURDE. FÜR JEDWEDE ANDERE NUTZUNG WIRD KEINE LIZENZ GEWÄHRT BZW. IMPLIZIERT. WEITERE INFORMATIONEN, U. A. ZUR WERBEBEZOGENEN, INTERNEN UND KOMMERZIELLEN NUTZUNG SOWIE ZUR LIZENZIERUNG, ERHALTEN SIE BEI MPEG LA, LLC UNTER HTTP://WWW.MPEGLA.COM.
 </p>
</section></html>
