<!DOCTYPE html>
<html lang="cs" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Dodatečné smluvní podmínky prohlížeče Google Chrome a systému ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Dodatečné smluvní podmínky prohlížeče Google Chrome a systému ChromeOS
</h2>
<p>
 Naposledy upraveno: <time datetime="2025-09-30">30. září 2025</time>
</p>
<p>
 Používáním prohlížeče Chrome nebo systému ChromeOS vyjadřujete souhlas se smluvními podmínkami společnosti Google na adrese https://policies.google.com/terms a těmito dodatečnými smluvními podmínkami pro Google Chrome a ChromeOS.
</p>
<p>
 Tyto dodatečné smluvní podmínky prohlížeče Google Chrome a systému ChromeOS se vztahují na spustitelný kód aplikace Chrome a systému ChromeOS. Většina zdrojového kódu aplikace Chrome je k dispozici bezplatně s licenční smlouvou na software s otevřeným zdrojovým kódem na adrese chrome://credits.
</p>
<p>
 Na vaše používání některých součástí prohlížeče Chrome a systému ChromeOS se vztahují následující podmínky:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  TENTO PRODUKT JE LICENCOVÁN V RÁMCI LICENCE NA PORTFOLIO PATENTŮ AVC PRO OSOBNÍ POUŽITÍ UŽIVATELEM NEBO JINÉ POUŽITÍ, ZA KTERÉ NEDOSTÁVÁ ODMĚNU, K TĚMTO ÚČELŮM: (i) KE KÓDOVÁNÍ VIDEA V SOULADU SE STANDARDEM AVC (DÁLE JEN „VIDEO AVC“) A (ii) K DEKÓDOVÁNÍ VIDEA AVC ZAKÓDOVANÉHO UŽIVATELEM PROVÁDĚJÍCÍM OSOBNÍ ČINNOST NEBO ZÍSKANÉHO OD PARTNERA, KTERÝ VLASTNÍ LICENCI NA POSKYTOVÁNÍ VIDEA AVC. NENÍ UDĚLENA LICENCE K ŽÁDNÉMU DALŠÍMU POUŽITÍ ANI JEJÍ UDĚLENÍ NELZE PŘEDPOKLÁDAT. DALŠÍ INFORMACE LZE ZÍSKAT OD SPOLEČNOSTI MPEG LA, L.L.C. VIZ STRÁNKY HTTPS://WWW.VIA-LA.COM.
 </p>
</section>

