<!DOCTYPE html>
<html lang="lv" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Google Chrome un ChromeOS pakalpojumu sniegšanas papildu noteikumi</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Google Chrome un ChromeOS pakalpojumu sniegšanas papildu noteikumi
</h2>
<p>
 Pēdējās izmaiņas: <time datetime="2023-09-08">2023. gada 8. septembris</time>
</p>
<p>
 Izmantojot pārlūkprogrammu Chrome vai operētājsistēmu ChromeOS, jūs piekrītat Google pakalpojumu sniegšanas noteikumiem, kas norādīti vietnē https://policies.google.com/terms, un šiem Google Chrome un ChromeOS pakalpojumu sniegšanas papildu noteikumiem.
</p>
<p>
 Šie Google Chrome un ChromeOS pakalpojumu sniegšanas papildu noteikumi attiecas uz Chrome un ChromeOS izpildāmā koda versiju. Visdrošākais Chrome kods ir pieejams bez maksas saskaņā ar atklātā pirmkoda programmatūras licences līgumiem vietnē chrome://credits.
</p>
<p>
 Uz Chrome un ChromeOS lietošanu attiecas tālāk norādītie noteikumi.
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  ŠIS PRODUKTS IR LICENCĒTS SASKAŅĀ AR AVC PATENTU PAKETES LICENCI PATĒRĒTĀJA PERSONĪGAI LIETOŠANAI VAI CITAI LIETOŠANAI, PAR KURU LICENCES IZSNIEDZĒJS NESAŅEM SAMAKSU, LAI: i) KODĒTU VIDEO ATBILSTOŠI AVC STANDARTAM (“AVC VIDEO”); ii) DEKODĒTU AVC VIDEO, KO KODĒJIS PATĒRĒTĀJS PERSONĪGAS DARBĪBAS IETVAROS UN/VAI KAS IEGŪTS NO VIDEO PAKALPOJUMU SNIEDZĒJA, KURAM IR PIEŠĶIRTA LICENCE AVC VIDEO NODROŠINĀŠANAI. LICENCE NAV NEDZ PIEŠĶIRTA, NEDZ NETIEŠI NORĀDĪTA NEKĀDIEM CITIEM LIETOŠANAS VEIDIEM. PAPILDU INFORMĀCIJA IR PIEEJAMA NO UZŅĒMUMA MPEG LA, L.L.C. SKATIET VIETNI HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Turklāt uz noteiktu ChromeOS komponentu izmantošanu attiecas tālāk norādītie noteikumi.
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  ŠIS PRODUKTS IR LICENCĒTS SASKAŅĀ AR MPEG-4 VISUAL PATENTU PAKETES LICENCI PATĒRĒTĀJA PERSONĪGAI UN NEKOMERCIĀLAI LIETOŠANAI, LAI: i) KODĒTU VIDEO ATBILSTOŠI MPEG-4 VISUAL STANDARTAM (“MPEG-4 VIDEO”); ii) DEKODĒTU MPEG-4 VISUAL VIDEO, KO KODĒJIS PATĒRĒTĀJS PERSONĪGAS UN NEKOMERCIĀLAS DARBĪBAS IETVAROS UN/VAI KAS IEGŪTS NO VIDEO PAKALPOJUMU SNIEDZĒJA, KURAM IR PIEŠĶIRTA LICENCE MPEG-4 VIDEO NODROŠINĀŠANAI. LICENCE NAV NEDZ PIEŠĶIRTA, NEDZ NETIEŠI NORĀDĪTA NEKĀDIEM CITIEM LIETOŠANAS VEIDIEM. PAPILDU INFORMĀCIJU, TOSTARP PAR IZMANTOŠANU REKLAMĒŠANAS, IEKŠĒJAS DARBĪBAS UN KOMERCIĀLOS NOLŪKOS, KĀ ARĪ PAR LICENCĒŠANU, VAR IEGŪT NO UZŅĒMUMA MPEG LA, LLC. SKATIET VIETNI HTTP://WWW.MPEGLA.COM.
 </p>
</section>
