<!DOCTYPE html>
<html lang="nb" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Tilleggsvilkår for bruk av Google Chrome og ChromeOS</title>
<style>
:root {
    color-scheme: light dark;
}
body {
    font-family: Arial;
}
h2 {
    margin-top: 0;
}
@supports (-webkit-touch-callout: none) {
    body {
        font: -apple-system-body;
    }
    h2 {
        font: -apple-system-headline;
    }
}
@supports not (-webkit-touch-callout: none) {
    body {
        font-size: 13px;
    }
    h2 {
        font-size: 1em;
    }
}
</style>
<h2>
 Tilleggsvilkår for bruk av Google Chrome og ChromeOS
</h2>
<p>
 Sist endret: <time datetime="2023-09-08">8. september 2023</time>
</p>
<p>
 Ved å bruke Chrome eller ChromeOS godtar du Googles vilkår for bruk, som du finner på https://policies.google.com/terms, samt disse tilleggsvilkårene for bruk av Google Chrome og ChromeOS.
</p>
<p>
 Disse tilleggsvilkårene for bruk av Google Chrome og ChromeOS gjelder for versjonene av Chrome og ChromeOS med kjørbar kode. Det meste av kildekoden for Chrome er tilgjengelig gratis under lisensavtaler for programvare med åpen kildekode, på chrome://credits.
</p>
<p>
 Bruken din av enkelte komponenter i Chrome og ChromeOS reguleres av disse vilkårene:
</p>
<section>
 <p>
  <strong>
   AVC
  </strong>
 </p>
 <p>
  DETTE PRODUKTET LISENSIERES UNDER AVC PATENT PORTFOLIO-LISENSEN FOR PERSONLIG BRUK ELLER ANNEN BRUK SOM IKKE MEDFØRER GODTGJØRELSE, TIL FØLGENDE FORMÅL: (i) KODING AV VIDEOER I SAMSVAR MED AVC-STANDARDEN («AVC-VIDEO») OG/ELLER (ii) DEKODING AV AVC-VIDEOER SOM ER KODET AV FORBRUKERE I FORBINDELSE MED PERSONLIG AKTIVITET OG/ELLER SOM ER ANSKAFFET FRA EN VIDEOLEVERANDØR SOM HAR LISENS FOR Å TILBY AVC-VIDEOER. INGEN LISENSER FOR ANNEN BRUK ER GITT ELLER SKAL UNDERFORSTÅS. MER INFORMASJON KAN INNHENTES FRA MPEG LA, L.L.C. SE HTTP://WWW.MPEGLA.COM.
 </p>
</section>
<section>
</section>
<p>
 Bruken din av enkelte komponenter i ChromeOS reguleres dessuten av disse vilkårene:
</p>
<section>
 <p>
  <strong>
   MPEG-4
  </strong>
 </p>
 <p>
  DETTE PRODUKTET LISENSIERES UNDER MPEG-4 VISUAL PATENT PORTFOLIO-LISENSEN FOR PERSONLIG OG IKKE-KOMMERSIELL BRUK TIL FØLGENDE FORMÅL: (i) KODING AV VIDEOER I SAMSVAR MED VISUELLE STANDARDER FOR MPEG-4 («MPEG-4-VIDEO») OG/ELLER (ii) DEKODING AV MPEG-4-VIDEOER SOM ER KODET AV FORBRUKERE I FORBINDELSE MED PERSONLIG, IKKE-KOMMERSIELL AKTIVITET OG/ELLER SOM ER ANSKAFFET FRA EN VIDEOLEVERANDØR SOM HAR LISENS UNDER MPEG LA FOR Å TILBY MPEG-4-VIDEOER. INGEN LISENSER FOR ANNEN BRUK ER GITT ELLER SKAL UNDERFORSTÅS. MER INFORMASJON, INKLUDERT DETALJER OM ANNONSERING, INTERN OG KOMMERSIELL BRUK OG LISENSIERING, KAN INNHENTES FRA MPEG LA, LLC. SE HTTP://WWW.MPEGLA.COM
 </p>
</section>
