{
{%if key is defined %}
  "key": "{{key}}",
{% endif %}
  "manifest_version": 2,
  "name": "__MSG_CHROMEVOX_NAME__",
  "version": "{{set_version}}",
  "description": "__MSG_CHROMEVOX_DESCRIPTION__",
{% if is_guest_manifest == '1' %}
  "incognito": "split",
{% endif %}
  "background": {
    "page": "cvox2/background/background.html"
  },
  "bluetooth": {},
  "permissions": [
    "accessibilityPrivate",
    "audio",
    "bluetoothPrivate",
    "bookmarks",
    "brailleDisplayPrivate",
    "clipboardRead",
    "commands.accessibility",
    "commandLinePrivate",
    "experimental",
    "history",
    "metricsPrivate",
    "notifications",
    "settingsPrivate",
    "storage",
    "tabs",
    "tts",
    "virtualKeyboardPrivate",
    "<all_urls>"
  ],
  "content_scripts": [
    {
      "matches": [ "<all_urls>" ],
      "exclude_globs": [
{% if is_webstore is not defined %}
          "chrome-extension://*",
          "chrome://*",
          "https://accounts.google.com/embedded/setup/chromeos*",
          "https://talkgadget.google.com/hangouts*",
          "*.pdf"
{% endif %}
      ],
      "all_frames": true,
      "js": [
{% if is_js_compressed == '1' %}
        "chromeVox2ChromePageScript.js"
{% else %}
        "closure/closure_preinit.js",
        "closure/base.js",
        "deps.js",
        "chromevox/injected/loader.js"
{% endif %}
      ]
    }
  ],
  "web_accessible_resources": [
    "chromevox/background/keymaps/next_keymap.json",
    "chromevox/injected/api.js"
  ],
  "automation": {
    "desktop": true
  },
  "commands": {
    "nextObject": {
      "description": "__MSG_CHROMEVOX_NEXT_OBJECT__",
      "suggested_key": {
        "default": "Alt+Shift+Right"
      }
    },
    "previousObject": {
      "description": "__MSG_CHROMEVOX_PREVIOUS_OBJECT__",
      "suggested_key": {
        "default": "Alt+Shift+Left"
      }
    },
    "performDefaultAction": {
      "description": "__MSG_CHROMEVOX_PERFORM_DEFAULT_ACTION__",
      "suggested_key": {
        "default": "Alt+Shift+Space"
      }
    },
    "toggleChromeVoxVersion": {
      "description": "__MSG_CHROMEVOX_TOGGLE_CHROMEVOX__",
      "suggested_key": {
        "default": "Alt+Shift+Q"
      }
    },
    "readFromHere": {
      "description": "__MSG_CHROMEVOX_READ_FROM_HERE__",
      "suggested_key": {
        "default": "Alt+Shift+R"
      }
    }
  },
  "options_page": "chromevox/background/options.html",
  "default_locale": "en",
  "icons": {
    "16": "images/chromevox-16.png",
    "48": "images/chromevox-48.png",
    "128": "images/chromevox-128.png"
  }
}
