{
{%if key is defined %}
  "key": "{{key}}",
{% endif %}
  "manifest_version": 2,
  "name": "__MSG_CHROMEVOX_NAME__",
  "version": "{{set_version}}",
  "description": "__MSG_CHROMEVOX_DESCRIPTION__",
{% if is_guest_manifest == '1' %}
  "incognito": "split",
{% endif %}
  "background": {
    "page": "background/background.html"
  },
  "bluetooth": {},
  "permissions": [
    "accessibilityPrivate",
    "audio",
    "bluetoothPrivate",
    "brailleDisplayPrivate",
    "clipboardRead",
    "commandLinePrivate",
    "downloads",
    "loginState",
    "metricsPrivate",
    "notifications",
    "settingsPrivate",
    "storage",
    "tabs",
    "tts",
    "virtualKeyboardPrivate",
    "chrome://resources/",
    "https://docs.google.com/*",
    "https://docs.sandbox.google.com/*"
  ],
  "content_scripts": [
    {
      "matches": [
        "https://docs.google.com/*",
        "https://docs.sandbox.google.com/*"
      ],
      "all_frames": true,
      "js": [
{% if is_js_compressed == '1' %}
        "chromeVoxChromePageScript.js"
{% else %}
        "closure/closure_preinit.js",
        "closure/base.js",
        "deps.js",
        "chromevox/injected/loader.js"
{% endif %}
      ]
    }
  ],
  "web_accessible_resources": [
    "injected/api.js"
  ],
  "automation": {
    "desktop": true
  },
  "options_page": "background/options/options.html",
  "default_locale": "en",
  "icons": {
    "16": "images/chromevox-16.png",
    "48": "images/chromevox-48.png",
    "128": "images/chromevox-128.png"
  },
  "content_security_policy": "default-src 'none'; script-src 'self' chrome://resources; style-src 'unsafe-inline' chrome://resources;",
  "externally_connectable": {
    "ids": [
       // Braille IME.
      "jddehjeebkoimngcbdkaahpobgicbffp",

       // Allow connections with js2at (name may change) project, which allows
       // web pages and ChromeVox to exchange messages that conform to
       // a set of approved schemas. Note: js2at is currently built as an
       // extension. If it is ever built into the browser the connection
       // mechanism may change, and this line may no longer be necessary.
      "jpgoldinadnmhfknenolkgbnockemnid"
    ]
}}
