// Copyright 2024 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.net;

/**
 * Constants for the names of Cookie Switches.
 */
public final class CookieSwitches {{

{NATIVE_STRINGS}

    // Do not instantiate this class.
    private CookieSwitches() {{}}
}}
