<!-- Copyright 2020 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/html/polymer.html">
<link rel="import" href="chrome://resources/polymer/v1_0/paper-styles/color.html">
<link rel="import" href="chrome://resources/cr_elements/shared_style_css.html">
<link rel="import" href="chrome://resources/cr_elements/cr_scrollable_behavior.html">
<link rel="import" href="chrome://resources/cr_elements/cr_lazy_render/cr_lazy_render.html">

<link rel="import" href="/components/common_styles.html">
<link rel="import" href="/components/oobe_dialog.html">
<link rel="import" href="/components/oobe_focus_behavior.html">

<!--
  oobe-dialog wrap which is used to unify usage of oobe-adaptive-dialog during
  layout transition.
-->
<dom-module id="oobe-adaptive-dialog">
  <template>
    <style include="oobe-dialog-host"></style>
    <oobe-dialog id="dialog" has-buttons hide-shadow$="[[hideShadow]]"
        no-lazy$="[[noLazy]]" no-header$="[[noHeader]]"
        no-footer-padding$="[[noFooterPadding]]"
        footer-shrinkable$="[[footerShrinkable]]">
      <slot slot="oobe-icon" name="icon"></slot>
      <slot slot="title" name="title"></slot>
      <slot slot="subtitle" name="subtitle"></slot>
      <slot slot="progress" name="progress"></slot>
      <slot slot="footer" name="content"></slot>
      <slot slot="back-navigation" name="back-navigation"></slot>
      <slot slot="bottom-buttons" name="bottom-buttons"></slot>
    </oobe-dialog>
  </template>
  <script src="oobe_adaptive_dialog.js"></script>
</dom-module>
