/* Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* #css_wrapper_metadata_start
 * #type=vars
 * #import=//resources/cr_elements/cr_shared_vars.css.js
 * #css_wrapper_metadata_end */

    html {
      /* Buttons */
        /*
          TODO(https://crbug.com/1320715) Revise the color
          --oobe-button-border-color: white;
        */
      --oobe-button-radius: 16px;

      --oobe-back-button-padding-inline-end: 16px;
      --oobe-back-button-padding-inline-start: 12px;

      --oobe-next-button-padding-inline-end: 12px;
      --oobe-next-button-padding-inline-start: 16px;

      --oobe-button-icon-margin: 4px;

      --oobe-button-icon-size: 20px;

      --oobe-button-height: 32px;

      /* Fonts */
      --oobe-header-font-size: 28px;
      --oobe-header-line-height: 36px;
      --oobe-header-font-weight: 500; /* medium */

      --oobe-subheader-font-family: Roboto, sans-serif;
      --oobe-subheader-font-size: 14px;
      --oobe-subheader-line-height: 20px;

      --oobe-default-font-family: Roboto, sans-serif;
      --oobe-default-font-size: 14px;
      --oobe-default-line-height: 20px;

      --oobe-button-font-family: Roboto, sans-serif;
      --oobe-button-font-size: 13px;

      --oobe-select-font-size: 13px;
      --oobe-select-line-height: 20px;

      --oobe-welcome-header-font-weight: 500; /* medium */

      /* Select */
      --oobe-select-height: 32px;

      /* Dialog */
      --oobe-adaptive-dialog-icon-size: 32px;

      /* Welcome screen */
      --selection-entry-height: 60px;
      --a11y-option-height: 64px;

      /* Network screen */
      --oobe-network-row-height: 48px;
    }
