<!-- Copyright 2021 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<custom-style>
  <style is="custom-style">
    html {
      --oobe-adaptive-dialog-text-line-height: 18px;
      --oobe-adaptive-dialog-buttons-horizontal-padding: min(40px,
        max(24px, calc(var(--oobe-adaptive-dialog-width) * 0.025)));
      --oobe-adaptive-dialog-buttons-vertical-padding: min(40px,
        max(24px, calc(var(--oobe-adaptive-dialog-height) * 0.025)));
      --oobe-adaptive-dialog-content-padding: 40px;
      --oobe-adaptive-dialog-header-top-padding:
            var(--oobe-adaptive-dialog-content-padding);
      --oobe-adaptive-dialog-content-top-padding:
          var(--oobe-adaptive-dialog-header-top-padding);
    }
  </style>
</custom-style>
