/* Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* #css_wrapper_metadata_start
 * #type=vars
 * #import=//resources/cr_elements/cr_shared_vars.css.js
 * #css_wrapper_metadata_end */

    html {
      /* Buttons */
      --oobe-button-border-color: white;
      --oobe-button-radius: 4px;

      --oobe-back-button-padding-inline-end: 16px;
      --oobe-back-button-padding-inline-start: 8px;

      --oobe-next-button-padding-inline-end: 8px;
      --oobe-next-button-padding-inline-start: 16px;

      --oobe-button-icon-margin: 4px;

      --oobe-button-icon-size: 28px;

      --oobe-button-height: 44px;

      /* Fonts */
      --oobe-header-font-size: 32px;
      --oobe-header-line-height: 40px;
      --oobe-header-font-weight: 500; /* medium */

      --oobe-subheader-font-family: "Google Sans", Roboto, sans-serif;
      --oobe-subheader-font-size: 22px;
      --oobe-subheader-line-height: 28px;

      --oobe-default-font-family: "Google Sans", Roboto, sans-serif;
      --oobe-default-font-size: 22px;
      --oobe-default-line-height: 28px;

      --oobe-button-font-family: "Google Sans", Roboto, sans-serif;
      --oobe-button-font-size: 22px;

      --oobe-select-font-size: 18px;
      --oobe-select-line-height: 24px;

      --oobe-welcome-header-font-weight: 400; /* regular */

      /* Select */
      --oobe-select-height: 44px;

      /* Dialog */
      --oobe-adaptive-dialog-icon-size: 48px;

      /* Welcome screen */
      --selection-entry-height: 72px;
      --a11y-option-height: 78px;

      /* Network screen */
      --oobe-network-row-height: 78px;
    }
