<!-- Copyright 2021 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<custom-style>
  <style is="custom-style">
    html {
      --oobe-button-border-color: white;
      --oobe-button-radius: 16px;

      --oobe-back-button-padding-inline-end: 16px;
      --oobe-back-button-padding-inline-start: 16px;

      --oobe-next-button-padding-inline-end: 16px;
      --oobe-next-button-padding-inline-start: 16px;

      --oobe-icon-button-image-margin: 8px;
    }
  </style>
</custom-style>


