<!-- Copyright 2021 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<link rel="import" href="chrome://resources/cr_elements/shared_vars_css.html">

<custom-style>
  <style is="custom-style">
    html {
      --oobe-button-border-color: var(--google-grey-refresh-300);
      --oobe-button-radius: 4px;

      --oobe-back-button-padding-inline-end: 16px;
      --oobe-back-button-padding-inline-start: 8px;

      --oobe-next-button-padding-inline-end: 8px;
      --oobe-next-button-padding-inline-start: 16px;

      --oobe-icon-button-image-margin: 4px;
    }
  </style>
</custom-style>


