// Copyright 2020 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.gpu.config;

/**
 * Constants for the names of GPU Features.
 */
public final class GpuFeatures {{

{NATIVE_FEATURES}

    // Prevent instantiation.
    private GpuFeatures() {{}}
}}
