{%- set mojom_type = enum|get_qualified_name_for_kind(
        flatten_nested_kind=True) %}

namespace internal {

template <typename MaybeConstUserType>
struct Serializer<{{mojom_type}}, MaybeConstUserType> {
  using UserType = typename std::remove_const<MaybeConstUserType>::type;
  using Traits = EnumTraits<{{mojom_type}}, UserType>;

  static void Serialize(UserType input, int32_t* output) {
    *output = static_cast<int32_t>(Traits::ToMojom(input));
  }

  static bool Deserialize(int32_t input, UserType* output) {
    auto known_value = ::mojo::internal::ToKnownEnumValueHelper(
        static_cast<{{mojom_type}}>(input));
     if constexpr (requires { {Traits::FromMojom(known_value) } -> std::same_as<UserType>; }) {
      static_assert(
        std::same_as<{{mojom_type}}, UserType> ||
        HasInfallibleConversion({{mojom_type}}()), "{{mojom_type}} does not have an infallible conversion, use an optional return type.");
      *output = Traits::FromMojom(known_value);
      return true;
    } else if constexpr (requires { {Traits::FromMojom(known_value) } -> std::same_as<std::optional<UserType>>; }) {
      static_assert(!HasInfallibleConversion({{mojom_type}}()), "{{mojom_type}} has an infallible conversion, use a non-optional return type.");
      auto from_mojom = Traits::FromMojom(known_value);
      if (from_mojom) { *output = *from_mojom; }
      return from_mojom.has_value();
    } else {
      // TODO(crbug.com/483092898): Remove this branch once all traits use
      // the single argument version.
      return Traits::FromMojom(known_value, output);
    }
  }
};

}  // namespace internal
