/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_icons_lit.css.js
 * #import=./composebox_shared_style.css.js
 * #scheme=relative
 * #include=cr-icons-lit composebox-shared-style
 * #css_wrapper_metadata_end */

:host {
  --cr-composebox-submit-container-size: 40px;
  --cr-icon-button-size: 36px;
  display: contents;
}

#submitContainer {
  border-radius: var(--cr-composebox-submit-border-radius, 50%);
  bottom: var(--input-bottom-spacing);
  cursor: pointer;
  height: var(
    --cr-composebox-submit-height,
    var(--cr-composebox-submit-container-size));
  inset-inline-end: 10px;
  position: absolute;
  width: var(
    --cr-composebox-submit-width,
    var(--cr-composebox-submit-container-size));
}

#submitContainer:focus-visible {
  outline: none;
}

:host([disabled]) #submitContainer {
  cursor: not-allowed;
}

#submitIcon {
  --cr-icon-button-fill-color: var(--color-composebox-submit-button-icon, white);
  --cr-icon-button-icon-size: var(--cr-composebox-submit-icon-size, 16px);
  --cr-icon-button-width: var(
    --cr-composebox-submit-width, var(--cr-icon-button-size));
  --cr-icon-button-height: var(
    --cr-composebox-submit-height, var(--cr-icon-button-size));
  border-radius: var(--cr-composebox-submit-border-radius, 50%);
  display: block;
  background-color: var(--color-composebox-submit-button-background);
  inset-inline-start: var(--cr-composebox-submit-icon-offset, 2px);
  margin-inline-start: 0;
  opacity: 100%;
  top: var(--cr-composebox-submit-icon-offset, 2px);
  transition: var(--submit-enabled-transition);
}

:host([disabled]) #submitIcon {
  opacity: 0.4;
}

#submitContainer:focus-visible #submitIcon,
#submitIcon:focus-visible:focus {
  box-shadow: none;
  outline: 2px solid var(--color-searchbox-results-icon-focused-outline);
  outline-offset: 2px;
}

#submitOverlay {
  border-radius: inherit;
  display: inherit;
  height: var(
    --cr-composebox-submit-height, var(--cr-icon-button-size));
  margin-inline-start: var(--cr-composebox-submit-icon-offset, 2px);
  margin-top: var(--cr-composebox-submit-icon-offset, 2px);
  position: absolute;
  width: var(
    --cr-composebox-submit-width, var(--cr-icon-button-size));
  z-index: 2;
}

#submitContainer:hover #submitOverlay {
  background-color: var(--cr-composebox-submit-button-hover-color, var(--color-composebox-submit-button-hover));
}

:host([disabled]) #submitContainer:hover #submitOverlay {
  background-color: transparent;
}
