/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_icons_lit.css.js
 * #scheme=relative
 * #include=cr-icons-lit
 * #css_wrapper_metadata_end */

:host {
  display: flex;
  flex-direction: column;
}

:host([hidden]) {
  display: none;
}

/* Direct grid items must be hidden to collapse empty cells in CSS Grid. */
[part='match-wrapper']:has(cr-composebox-match[hidden]) {
  display: none;
}

.matches.vertical {
  display: flex;
  flex-direction: column;
  padding-inline-end: 16px;
}

.matches.grid {
  box-sizing: border-box;
  display: grid;
  gap: var(--cr-composebox-grid-row-gap, 16px)
      var(--cr-composebox-grid-column-gap, 8px);
  grid-template-columns: repeat(
      auto-fill,
      minmax(
          min(100%, var(--cr-composebox-grid-min-item-width, 110px)),
          var(--cr-composebox-grid-max-item-width, 136px)));
  justify-content: start;
  padding-block-end: var(--cr-composebox-grid-padding-bottom, 6px);
  padding-block-start: 16px;
  padding-inline: 16px;
}

.matches.grid [part='match-wrapper'] {
  width: 100%;
}

.header {
  align-items: center;
  box-sizing: border-box;
  color: var(--cr-composebox-header-color, #1f1f1f);
  display: flex;
  font-size: var(--cr-composebox-header-font-size, 14px);
  font-weight: var(--cr-composebox-header-font-weight, 500);
  line-height: var(--cr-composebox-header-line-height, 20px);
  margin-block: 0;
  padding-inline: var(--cr-composebox-header-padding-inline, 16px);
}
