/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_icons_lit.css.js
 * #scheme=relative
 * #include=cr-icons-lit
 * #css_wrapper_metadata_end */

:host {
  --cr-focus-outline-color: var(--color-searchbox-results-icon-focused-outline);
}

#entrypoint {
  --cr-button-text-color: currentColor;
  border: initial;
  gap: 2px;
}

#entrypoint cr-icon {
  padding: 2px;
}

#description {
  display: block;
  font-size: 13px;
}

#menu {
  --cr-menu-border-radius: 16px;
}

#menu cr-button {
  --iron-icon-height: 16px;
  --iron-icon-width: 16px;
  font-size: 13px;
  height: 32px;
  justify-content: flex-start;
  max-width: 190px;
}

#tabHeader {
  font-size: 11px;
  font-weight: 500;
  line-height: 16px;
  margin: 0;
  padding: 8px 14px 4px 14px;
}

.dropdown-item {
  padding: 6px 14px;
}

#menu hr {
  background: var(--color-sys-divider);
  border: none;
  height: 1px;
  margin: 8px 0;
}
