/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  --image-chip-border-radius_: 8px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner {
  height: 20px;
  width: 20px;
}

.spinner-circle {
  animation: spin 1.5s linear infinite;
  fill: none;
  stroke: var(--color-composebox-file-chip-spinner);
  stroke-dasharray: 240;
  stroke-dashoffset: 60;
  stroke-linecap: round;
  stroke-width: 10;
  transform-origin: 50% 50%;
}

.img-thumbnail {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

#imgChip {
  aspect-ratio: 1 / 1;
  align-items: center;
  border-radius: var(--image-chip-border-radius_);
  display: flex;
  height: var(--file-chip-img-type-size, 44px);
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.img-overlay {
  background-color: var(--color-composebox-file-image-overlay);
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#removeImgButton {
  --cr-icon-button-fill-color:
      var(--color-composebox-file-image-overlay-icon-color, white);
  /* This defines width and height. No need to manually define it. */
  --cr-icon-button-icon-size:
      var(--file-chip-image-remove-button-icon-size, 20px);
  --cr-icon-button-margin-end:
      var(--file-chip-remove-button-margin-end,
          var(--cr-icon-ripple-margin));
  --cr-icon-button-margin-start:
      var(--file-chip-remove-button-margin-start, 0);
  border-radius: var(--image-chip-border-radius_);
  display: flex;
  inset-inline-end: 0;
  inset-inline-start: 0;
}

.chip {
  align-items: center;
  background-color: var(--color-composebox-file-chip-background);
  border-radius: 8px;
  display: flex;
  gap: var(--file-chip-internal-gap, 6px);
  height: var(--file-chip-height, 44px);
  max-width: var(--file-chip-max-width, auto);
  min-width: var(--file-chip-min-width, auto);
  overflow: hidden;
  /* Top and bottom padding should be taken care of through height,
   * given that align-items is center (should be centered vertically).
   */
  padding: 0 var(--file-chip-padding-right, 12px)
    0 var(--file-chip-padding-left, 8px);
  position: relative;
  width: var(--file-chip-width, 154px);
}

.thumbnail {
  align-items: center;
  background-color: var(--color-composebox-file-chip-favicon-background);
  border-radius: var(--file-chip-border-radius, 4px);
  box-sizing: var(--file-chip-thumbnail-box-sizing, content-box);
  display: flex;
  flex-shrink: 0;
  height: var(--file-chip-thumbnail-full-size, 16px);
  justify-content: center;
  padding: var(--file-chip-thumbnail-padding, 6px);
  position: relative;
  width: var(--file-chip-thumbnail-full-size, 16px);
}

.injected-input-thumbnail {
  padding: 0;
}

.injected-input-img {
  border-radius: 4px;
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
}

.pdf-icon {
  background-color: var(--color-composebox-pdf-chip-icon-background,
      --color-composebox-background);
  /* TODO(crbug.com/467758241): fix radius of svg itself. */
  border-radius: var(--pdf-icon-border-radius, 4px);
  box-sizing: border-box;
  color: var(--color-composebox-pdf-chip-icon-border);
  height: var(--pdf-icon-size, 100%);
  width: var(--pdf-icon-size, 100%);
}

.chip-overlay {
  border-radius: inherit;
  inset: 0;
  display: none;
  pointer-events: none;
  position: absolute;
}

.chip:hover .chip-overlay {
  display: block;
}

.overlay {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  opacity: 0;
  position: absolute;
  inset-inline-end: var(--file-chip-remove-button-inset-inline-end, 0);
  inset-inline-start: var(--file-chip-remove-button-inset-inline-start, auto);
  top: 0;
  width: var(--file-chip-thumbnail-full-size, 44px);
}

.gradient-protection {
  background: linear-gradient(
    270deg,
    var(--color-composebox-file-carousel-remove-gradient-start) 85.29%,
    var(--color-composebox-file-carousel-remove-gradient-end) 123.53%
  );
  border-radius: 0 8px 8px 0;
  display: var(--file-chip-gradient-protection-display, block);
  inline-size: var(--gradient-protection-width, 56px);
  inset-block: 0;
  inset-inline-end: 0;
  pointer-events: none;
  position: absolute;
}

.remove-button {
  --cr-icon-button-fill-color:
      var(--color-file-chip-remove-button-fill, black);
  /* This refers to hover color of the remove button if
   * you just hover over the button, not the whole chip.
   */
  --cr-icon-button-hover-background-color:
      var(--color-partial-file-chip-remove-button-hover-background,
          var(--color-composebox-file-carousel-remove-button));
  --cr-icon-button-icon-size:
      var(--file-chip-remove-button-icon-size, 16px);
  --cr-icon-button-margin-end:
      var(--file-chip-remove-button-margin-end, 0);
  --cr-icon-button-margin-start:
      var(--file-chip-remove-button-margin-start, 0);
  --cr-icon-button-size: var(--file-chip-remove-button-size,
      24px);
  /* This refers to hover color of the
   * remove button if you just hover over the whole chip.
   */
  background-color: var(--color-full-file-chip-remove-button-hover-background,
      var(--color-composebox-file-carousel-remove-button));
  border-radius:
    var(--file-chip-remove-button-border-radius, 50%);
  inset-inline-end: 0;
  inset-inline-start: 0;
  position: relative;
}

.remove-button:hover {
  /* This refers to hover color of the remove button
   * if you just hover over the remove button itself.
   */
  background-color:
      var(--color-partial-file-chip-remove-button-hover-background,
          var(--color-composebox-file-carousel-remove-button));
}

:host-context([dir='rtl']) .gradient-protection {
  transform: scaleX(-1);
}

.title {
  color: var(--color-composebox-file-chip-text);
  font-family: inherit;
  font-size: var(--file-chip-title-text-size, 12px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--file-chip-title-line-height, 16px);
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#imgChip:hover .img-overlay,
#imgChip:focus-within .img-overlay,
.chip:hover .overlay,
.chip:focus-within .overlay {
  opacity: 1;
}

#tabThumbnail cr-composebox-tab-favicon {
  background-size: contain;
  height: 16px;
  width: 16px;
}

:host([is-uploading_]) #tabThumbnail cr-composebox-tab-favicon {
  opacity: 0.2;
}

#tabThumbnail {
  position: relative;
}

#spinnerOverlay {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: var(--file-chip-border-radius, 50%);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#imgChip #spinnerOverlay {
  border-radius: var(--image-chip-border-radius_);
}

cr-spinner {
  /* Use the official themed color for composebox loading states */
  --cr-spinner-color: var(--color-composebox-upload-button, red);
  width: 16px;
  height: 16px;
}


.tabInfo {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.url {
  color: var(--color-composebox-file-carousel-url);
  font-size: var(--file-chip-url-text-size, 12px);
  font-weight: 500;
  line-height: var(--file-chip-url-line-height, 16px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (forced-colors: active) {
  .chip,
  #imgChip {
    border: 1px solid ButtonText;
  }
  .remove-button {
    --cr-icon-button-fill-color: ButtonText;
    --cr-icon-button-hover-background-color: ButtonFace;
    border: 1px solid ButtonText;
    box-sizing: border-box;
  }
}
