{
{% if key is defined %}
  "key": "{{key}}",
{% endif %}
  "manifest_version": 2,
  "name": "__MSG_SWITCH_ACCESS_NAME__",
  "version": "{{set_version}}",
  "description": "__MSG_SWITCH_ACCESS_DESCRIPTION__",
{% if is_guest_manifest == '1' %}
  "incognito": "split",
{% endif %}
  "background": {
    "scripts": [
      "auto_scan_manager.js",
      "closure_shim.js",
      "commands.js",
      "constants.js",
      "event_helper.js",
      "focus_ring_manager.js",
      "menu_manager.js",
      "metrics.js",
      "navigation_manager.js",
      "nodes/switch_access_node.js",
      "nodes/node_wrapper.js",
      "nodes/back_button_node.js",
      "nodes/group_node.js",
      "nodes/keyboard_node.js",
      "nodes/system_menu_node.js",
      "preferences.js",
      "rect_helper.js",
      "switch_access.js",
      "switch_access_constants.js",
      "switch_access_predicate.js",
      "text_navigation_manager.js",
      "tree_walker.js",
      "background.js"
    ]
  },
  "permissions": [
    "accessibilityPrivate",
    "clipboard",
    "clipboardRead",
    "commandLinePrivate",
    "metricsPrivate",
    "settingsPrivate",
    "tabs"
  ],
  "automation": {
    "desktop": true
  },
  "default_locale": "en"
}
