/**
 * Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

body {
  background: none;
  margin: 10px;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 0;
}
#switchaccess_menu_actions {
  background-color: #131313;
  border: 2px solid #2C2C2C;
  border-radius: 4px;
  margin: auto;
  padding: 7px;
}
.action {
  color: white;
  float: left;
  font-family: 'Roboto-Regular', sans-serif;
  font-size: 12px;
  height: 52px;
  margin: 4px;
  padding: 4px;
  width: 80px;
}

.action.improvedTextInputEnabled {
  height: 75px;
}

button.action {
  background: none;
  border: none;
}
.action p {
  margin: 0;
}
.focus,
#back.focus {
  outline: solid 3px rgb(26, 115, 232);  /** Focus color from SAConstants */
}
img {
  display: block;
  height: 24px;
  margin-bottom: 8px;
  margin-inline-end: auto;
  margin-inline-start: auto;
}
#back {
  position: fixed;
  right: 4px;
  top: 4px;
}
button#back {
  background: #131313;
  border: solid 1px white;
  border-radius: 4px;
}
#back > img {
  transform: rotate(180deg) translateY(-5px);
}
