{
  "name": "com.google.chrome.remote_assistance",
  "description": "{{ IT2ME_HOST_DESCRIPTION }}",
  "type": "stdio",
  "path": "{{ IT2ME_HOST_PATH }}",
  {# If you modify the list of allowed_origins, don't forget to update
   # chrome/browser/extensions/api/messaging/native_message_host_chromeos.cc
   # to keep the two lists in sync. #}
  "allowed_origins": [
    {%- for id in COMPANION_EXTENSION_IDS %}
      "chrome-extension://{{ id }}/"{% if not loop.last %},{% endif %}
    {%- endfor %}
  ]
}
