/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=./pdf_shared.css.js
 * #include=pdf-shared
 * #css_wrapper_metadata_end */

:host {
  display: inline-block;
}

div {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
}

.color-item {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 48px;
  justify-content: center;
  width: 48px;
}

.color-chip {
  appearance: none;
  background: var(--item-color, magenta);
  border: 1px solid var(--viewer-icon-ink-background-color);
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  height: 24px;
  width: 24px;
}

.color-chip[checked] {
  height: 36px;
  width: 36px;
}
