/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=vars
 * #import=chrome://resources/polymer/v3_0/paper-styles/color.js
 * #css_wrapper_metadata_end */

html {
  --iron-icon-height: 20px;
  --iron-icon-width: 20px;
  --viewer-icon-ink-color: rgb(189, 189, 189);
  --viewer-pdf-toolbar-background-color: rgb(50, 54, 57);
  --viewer-text-input-selection-color: rgba(255, 255, 255, 0.3);
}
