/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=./shared_vars.css.js
 * #css_wrapper_metadata_end */

:host {
  background-color: var(--viewer-side-background-color);
  color: var(--google-grey-100);
  display: block;
  height: 100%;
  overflow-y: auto;
  width: 288px;
}

.side-panel-content {
  padding: 24px;
}

h2 {
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  margin-inline-start: 6px;
}
