/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_icons_lit.css.js
 * #import=./pdf_shared.css.js
 * #include=pdf-shared cr-icons-lit
 * #css_wrapper_metadata_end */

dialog {
  background: var(--color-theme-color-picker-hue-slider-dialog-background,
      var(--cr-fallback-color-surface));
  border: 0;
  border-radius: 12px;
  box-shadow: var(--cr-elevation-3);
  box-sizing: border-box;
  color: var(--color-theme-color-picker-hue-slider-dialog-foreground,
      var(--cr-fallback-color-on-surface));
  overflow: hidden;
  margin: 0;
  padding: 20px;
  width: 320px;
  isolation: isolate;
  position: absolute;
  z-index: 999;
}

a {
  color: var(--cr-fallback-color-primary);
}

@media (forced-colors: active) {
  dialog {
    border: solid 1px Highlight;
  }
}

#header {
  display: flex;
  min-height: 24px;
  gap: 8px;
  padding-bottom: 8px;
}

h2 {
  flex: 1;
  font-size: 16px;
  font-weight: 500;
  margin-top: 6px;
  margin-bottom: 0;
}

#description {
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 13px;
}

cr-icon-button {
  color: var(--cr-fallback-color-on-surface-subtle);
}

#file-content {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
}

#filename-content {
  display: flex;
  flex-direction: column;
  margin-inline-end: auto;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  justify-content: center;
}

#pdf-icon {
  width: 20px;
  height: 20px;
  min-width: 20px;
  min-height: 20px;
  fill: var(--google-red-500);

  @media (prefers-color-scheme: dark) {
    fill: var(--google-red-300);
  }
}

#filename {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
}

#file-metadata {
  color: var(--cr-fallback-color-on-surface-subtle);
  font-size: 11px;
  text-overflow: ellipsis;
  overflow: hidden;
}

cr-progress {
  width: 100%;
  --cr-progress-active-color: var(--cr-fallback-color-primary);
  --cr-progress-container-color: var(--cr-fallback-color-neutral-outline);
}

#footer:has(cr-button) {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 8px;
}

#footer:empty {
  padding-top: 12px;
}
