/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/md_select_lit.css.js
 * #import=./shared_vars.css.js
 * #import=./bottom_toolbar_shared.css.js
 * #import=./pdf_shared.css.js
 * #include=bottom-toolbar-shared md-select-lit pdf-shared
 * #css_wrapper_metadata_end */

:host {
  --cr-focus-outline-color: var(--viewer-icon-focus-outline-color);
  display: flex;
}

.md-select {
  --md-select-width: 120px;
  margin-inline-end: 4px;
}

.md-select.size-select {
  --md-select-width: 60px;
}

text-styles-selector {
  padding: 0 12px;
}

text-alignment-selector {
  padding: 6px;
}
