/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/md_select_lit.css.js
 * #import=./shared_vars.css.js
 * #import=./bottom_toolbar_shared.css.js
 * #import=./pdf_shared.css.js
 * #include=bottom-toolbar-shared md-select-lit pdf-shared
 * #css_wrapper_metadata_end */

:host {
  --cr-focus-outline-color: var(--viewer-icon-focus-outline-color);
  border-radius: 16px 16px 0 0;
  z-index: 2;  /* The text box itself uses 1. Use 2 to layer above the box. */
}

.md-select {
  --md-select-width: 130px;
  margin-inline-end: 8px;
}

.md-select.size-select {
  --md-select-width: 64px;
  margin-inline-end: var(--toolbar-item-gap);
}

text-styles-selector {
  --text-styles-selector-gap: 8px;
}

text-alignment-selector {
  padding: 6px;
}
