/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=./pdf_shared.css.js
 * #include=pdf-shared
 * #css_wrapper_metadata_end */

:host {
  --cr-icon-button-margin-end: 0;
  --cr-icon-button-margin-start: 0;
  align-items: center;
  background-color: var(--viewer-side-background-color);
  bottom: 0;
  border-radius: 28px 28px 0 0;
  display: flex;
  padding: 8px;
  position: absolute;
}

#vertical-separator {
  background: rgba(255, 255, 255, 0.3);
  height: 15px;
  margin-inline: 12px;
  width: 1px;
}

:host-context([pdfcr23enabled]) #vertical-separator {
  height: 20px;
}

ink-brush-selector {
  --ink-brush-button-gap: 4px;
  --ink-brush-button-size: 40px;
  padding: 4px;
}

ink-color-selector {
  padding: 20px;
}

#color-chip {
  background: var(--ink-brush-color, magenta);
  border: 1px solid var(--viewer-icon-ink-background-color);
  border-radius: 50%;
  height: 20px;
  width: 20px;
}
