<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta name="color-scheme" content="light dark">
<title>Credits</title>
<link rel="stylesheet" href="chrome://resources/css/text_defaults.css">
<style>
html {
  --google-blue-50: rgb(232, 240, 254);
  --google-blue-300: rgb(138, 180, 248);
  --google-blue-600: rgb(26, 115, 232);
  --google-blue-900: rgb(23, 78, 166);
  --google-grey-200: rgb(232, 234, 237);
  --google-grey-800: rgb(60, 64, 67);
  --google-grey-900: rgb(32, 33, 36);

  --interactive-color: var(--google-blue-600);
  --primary-color: var(--google-grey-900);

  --product-background: var(--google-blue-50);
  --product-text-color: var(--google-blue-900);

  background: white;
}

@media (prefers-color-scheme: dark) {
  html {
    --interactive-color: var(--google-blue-300);
    --primary-color: var(--google-grey-200);

    --product-background: var(--google-grey-800);
    --product-text-color: var(--google-grey-200);

    background: var(--google-grey-900);
  }
}

body {
  color: var(--primary-color);
  font-size: 84%;
  max-width: 1020px;
}
a {
  color: var(--interactive-color);
}
.page-title {
  font-size: 164%;
  font-weight: bold;
}
.product {
  background-color: var(--product-background);
  color: var(--product-text-color);
  border-radius: 5px;
  margin-top: 16px;
  overflow: auto;
  padding: 2px;
}
.product .title {
  float: left;
  font-size: 110%;
  font-weight: bold;
  margin: 3px;
}
.product .homepage {
  color: var(--interactive-color);
  float: right;
  margin: 3px;
  text-align: right;
}
.product .homepage::before {
  content: " - ";
}
.product .show {
  color: var(--interactive-color);
  float: right;
  margin: 3px;
  text-align: right;
  text-decoration: underline;
}
.licence {
  border-radius: 3px;
  clear: both;
  display: none;
  padding: 16px;
}
.licence h3 {
  margin-top: 0;
}
.licence pre {
  white-space: pre-wrap;
}
.dialog #print-link,
.dialog .homepage {
  display: none;
}
input + label + div {
  display: none;
}
input + label::after {
  content: "show license";
  cursor: pointer;
}
input:checked + label + div {
  display: block;
}
input:checked + label::after {
  content: "hide license";
  cursor: pointer;
}
</style>
</head>
<body>
<span class="page-title" style="float:left;">Credits</span>
<a id="print-link" href="#" style="float:right;" hidden>Print</a>
<div style="clear:both; overflow:auto;"><!-- Chromium <3s the following projects -->
{{entries}}
</div>
