<div class="product">
<span class="title">{{name}}</span>
<span class="homepage"><a href="{{url}}">homepage</a></span>
<input type="checkbox" hidden id="{{id}}">
<label class="show" for="{{id}}" tabindex="0"></label>
<div class="license">
<pre>{{license}}</pre>
</div>
</div>
