<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Blank lines for iOS 13 bug</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string>See crbug.com/1056606</string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>a</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>b</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>c</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>d</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>e</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>f</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTitleValueSpecifier</string>
			<key>Title</key>
			<string></string>
			<key>DefaultValue</key>
			<string></string>
			<key>Key</key>
			<string>g</string>
		</dict>
	</array>
</dict>
</plist>
