/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

#dialog::part(dialog) {
  max-width: 300px;
}

#buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 28px;
  margin-top: 20px;
}

#buttons cr-button {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  height: 48px;
  min-width: 48px;
  width: 48px;
}

#buttons cr-button:hover {
  opacity: 0.8;
}

#buttons > :not(:last-child) {
  margin-inline-end: 12px;
}

#facebookButton {
  background-image: url(icons/facebook.svg);
}

#twitterButton {
  background-image: url(icons/twitter.svg);
}

#emailButton {
  background-image: url(icons/mail.svg);
}

#url {
  --cr-input-error-display: none;
}

#copyButton {
  --cr-icon-image: url(icons/copy.svg);
  margin-inline-start: 2px;
}
