# Copyright 2024 The Chromium Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

# It's recommended to do a `ln -s ../../../third_party/node/node_modules .`
# when developing locally, so all TypeScript / ESLint IDE plugins would work as
# expected.
# TODO(pihsun): Put this in a better document, and/or have a cra.py command to
# setup this.
node_modules
