/* Copyright 2020 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

html,
body {
  background-color: black;
  height: 100%;
  margin: 0;
}

video {
  height: 100%;
  width: 100%;
}

.video-ended {
  height: 50%;
  left: 25%;
  position: absolute;
  top: 15%;
  width: 50%;
}

video::-webkit-media-controls-fullscreen-button {
  display: none !important;
}
