// Copyright 2023 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.ui.base;

/**
 * Constants for the names of Ui Android Features.
 */
public final class UiAndroidFeatures {{

{NATIVE_FEATURES}

    // Do not instantiate this class.
    private UiAndroidFeatures() {{}}
}}
