// Copyright 2018 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

{# Note that goog.provide is understood by the Closure Compiler even if the
   Closure base library is unavailable. See https://crbug.com/898692 #}
{#--- Constant definitions #}
{%- for constant in module.constants %}
/** @type { {{constant.kind|closure_type_with_nullability }} } */
goog.provide('{{module.namespace}}.{{constant.name}}');
{%- endfor %}

{#--- Enum definitions #}
{% for enum in enums %}
/** @enum {number} */
{{module.namespace}}.{{enum.name}} = {};
{%-   for field in enum.fields %}
{{module.namespace}}.{{enum.name}}.{{field.name}};
{%-   endfor %}
{%- endfor %}

{#--- Interface definitions #}
{%- for interface in interfaces -%}
{%-   include "externs/interface_definition.tmpl" %}
{%  endfor -%}

{#--- Struct definitions #}
{%- for struct in structs -%}
{%-   include "externs/struct_definition.tmpl" %}
{%  endfor -%}
