{# Note that goog.provide is understood by the Closure Compiler even if the
   Closure base library is unavailable. See https://crbug.com/898692 #}
goog.provide('{{module.namespace}}.{{struct.name}}');

{{module.namespace}}.{{struct.name}} = class {
  constructor() {
{%- for packed_field in struct.packed.packed_fields %}
    /** @type { {{packed_field.field.kind|closure_type_with_nullability}} } */
    this.{{packed_field.field.name}};
{%-  endfor %}
  }
};
