/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_style_lit.css.js
 * #import=chrome://resources/cr_elements/cr_icons_lit.css.js
 * #scheme=relative
 * #include=cr-shared-style-lit cr-icons-lit
 * #css_wrapper_metadata_end */

:host {
  height: 100%;
  width: 100%;
}

@media (forced-colors: active) {
  /* Set outline since background isn't visible in hcm */
  a {
    border-radius: var(--ntp-module-item-border-radius);
    outline: var(--cr-border-hcm);
   }

  .tab-group {
    overflow: visible;
  }
}

:host-context(.focus-outline-visible) a:focus,
a:focus-visible {
  box-shadow: var(--ntp-focus-shadow);
  outline: none;
}

#tabGroups {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--color-new-tab-page-module-item-background);
  border-radius: var(--ntp-module-item-border-radius);
  container-type: inline-size;
  display: flex;
  flex-direction: column;
  margin: 8px;
}

#tabGroupsContainer {
  padding: 4px 0px;
  width: 100%;
}

.tab-group-container {
  cursor: pointer;
  display: flex;
  padding: 4px 16px 4px 8px;
  align-items: center;
  align-self: stretch;
  position: relative;
}

#zeroTabGroupsContainer {
  align-items: center;
  align-self: stretch;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 32px 40px;
  position: relative;
}

@container (max-width: 312px) {
  #zeroTabGroupsContainer {
    padding: 8px 40px 32px;
  }
}

#zeroTabGroupsImageContainer {
  align-items: center;
  background-color: var(--color-sys-surface5);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px 22px 0 22px;
}

#imagePlaceholder {
  width: 236px;
  height: 93px;
  flex-shrink: 0;
  /* TODO(crbug.com/432533358) Add illustration. */
  background-color: cornflowerblue;
}

#zeroTabGroupsContentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  align-self: stretch;
}

#zeroTabGroupsTextContainer {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

#zeroTabGroupsTitle {
  color: var(--color-sys-on-surface);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  align-self: stretch;
  text-align: center;
}

#zeroTabGroupsText {
  color: var(--color-sys-on-surface-subtle);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

#createNewTabGroup {
  display: flex;
  justify-content: center;
  align-items: center;
}

#createNewTabGroupButton {
  --cr-hover-background-color:
      var(--color-new-tab-page-button-background-hovered);
  --cr-button-text-color: var(--color-new-tab-page-button-foreground);
  --cr-button-background-color: var(--color-new-tab-page-button-background);
  display: flex;
  height: 36px;
  padding: 8px 16px;
  align-items: center;
  gap: 8px;
  border-radius: var(--corner-radii-fully-round, 100px);
  border: none;
}

#createNewTabGroupButtonIcon {
  display: flex;
  width: 20px;
  height: 20px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}

.tab-group {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1 0 0;
}

.tab-group-container:hover #hoverLayer {
  background: var(--color-new-tab-page-module-item-background-hovered);
  display: block;
  inset: 0;
  pointer-events: none;
  position: absolute;
}

#hoverLayer {
  display: none;
}

.tab-group-container:first-of-type {
  border-radius: var(--ntp-module-item-border-radius)
      var(--ntp-module-item-border-radius) 0 0;
  padding-top: var(--ntp-module-first-element-top-padding);
}

.tab-group-container:first-of-type:hover #hoverLayer {
  border-radius: var(--ntp-module-item-border-radius)
      var(--ntp-module-item-border-radius) 0 0;
  top: calc(-1 * var(--ntp-module-first-element-top-padding));
}

.tab-group-container:last-of-type {
  border-radius: 0 0 var(--ntp-module-item-border-radius)
      var(--ntp-module-item-border-radius);
  padding-bottom: var(--ntp-module-first-element-top-padding);
}

.tab-group-container:last-of-type:hover #hoverLayer {
  border-radius: 0 0 var(--ntp-module-item-border-radius)
      var(--ntp-module-item-border-radius);
  bottom: calc(-1 * var(--ntp-module-first-element-top-padding));
}

.tab-group-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
}

.tab-group-title,
.tab-group-description {
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab-group-title {
  align-self: stretch;
  color: var(--color-new-tab-page-primary-foreground);
  font-size: var(--ntp-module-text-size);
  font-style: normal;
  font-weight: 500;
  height: 20px;
  line-height: var(--ntp-module-line-height);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tab-group-description {
  color: var(--color-new-tab-page-secondary-foreground);
  font-size: var(--ntp-module-secondary-text-size);
  line-height: var(--ntp-module-secondary-line-height);
}
