/* Copyright 2013 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

@import url('common.css');

.indexeddb-summary {
  background-color: rgb(235, 239, 249);
  border-top: 1px solid rgb(156, 194, 239);
  margin-bottom: 6px;
  margin-top: 12px;
  padding: 3px;
  font-weight: bold;
}

.indexeddb-url {
  color: rgb(85, 102, 221);
  display: inline-block;
  max-width: 500px;
  overflow: hidden;
  padding-bottom: 1px;
  padding-top: 4px;
  text-decoration: none;
  text-overflow: ellipsis;
  vertical-align: text-bottom;
  white-space: nowrap;
}

.indexeddb-path {
  display: block;
  margin-inline-start: 1em;
}

.series-scrubber {
  align-items: center;
  gap: 4px;
  padding: 4px 0;
}

.series-scrubber:not([hidden]) {
  display: inline-flex;
}
