/* Copyright 2013 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.bubble-button {
  display: inline-block;
  height: 0;
  line-height: 1;
  margin-inline-start: 4px;
  vertical-align: middle;
  width: 16px;
}

.bubble-button > div {
  background-size: 16px;
  height: 16px;
  position: relative;
  top: -9px;
  width: 16px;
}
