/* Copyright 2016 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

a,
a:link,
a:visited {
  color: rgb(51, 103, 214);
  text-decoration: none;
}

/* Disable links in offline ToS, because they cannot be loaded anyway. */
.offline-terms a,
.offline-terms a:link,
.offline-terms a:visited {
  color: rgba(0, 0, 0, 0.87);
  pointer-events: none;
  text-decoration: none;
}

body {
  margin: 0;
  padding: 8px 4px 8px 8px;
}

body.large-view {
  padding: 8px 16px 8px 20px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  height: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

.large-view .play-contained {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  line-height: 20px;
}

.large-view .play-contained h1 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  line-height: 20px;
}

.large-view .play-contained h2,
.large-view .play-contained strong {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  line-height: 20px;
}

.large-view .play-contained select {
  color: rgba(0, 0, 0, 0.87);
  font-size: 13px;
  line-height: 20px;
}

.play-contained {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
}

.play-contained h1 {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto';
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.play-contained h2,
.play-contained strong {
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto';
  font-size: 10px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
}

.play-contained select {
  background-color: transparent;
  border: 1px solid #e6e6e6;
  border-radius: 0;
  color: rgba(0, 0, 0, 0.54);
  font-family: 'Roboto';
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  margin: 0;
  padding: 0;
}

.play-footer ul,
.play-header {
  display: none;
}

.play-footer {
  border: 0;
  margin: 0;
  padding: 0;
}

