/* Copyright 2012 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  background-color: white;
  color: black;
  font-family: Helvetica,Arial,sans-serif;
  margin: 0;
}

tr {
  display: none;
}

#outer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 800px;
}

#inner {
  padding-top: 10px;
  width: 550px;
}

.label {
  padding-inline-end: 5px;
  font-size: 0.9em;
  font-weight: bold;
  text-align: end;
  vertical-align: top;
  white-space: nowrap;
}

.label:after {
  content: ':';
}

#message {
  font-family: monospace;
}

.value {
  font-family: monospace;
  max-width: 430px;
  padding-left: 5px;
}
