{
{%if key is defined %}
  "key": "{{key}}",
{% endif %}
  "manifest_version": 3,
  "name": "Reading Mode Google Docs Helper",
  "version": "{{set_version}}",
  "description": "Provides support for Reading Mode to work on Google Docs on non-Lacros platforms",
  "incognito": "split",
  "content_scripts": [
    {
      "matches": [ "https://docs.google.com/document*",
                   "https://docs.sandbox.google.com/document*" ],
      "all_frames": true,
      "js": [
        "reading_mode_gdocs_helper/content.js"
      ],
      "run_at": "document_start"
    }
  ],
  "web_accessible_resources": [
    {
      "resources": ["reading_mode_gdocs_helper/gdocs_script.js"],
      "matches": [ "https://docs.google.com/*",
                   "https://docs.sandbox.google.com/*" ]
    }
  ]
}
