// Copyright 2023 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.ui.accessibility;

/**
* Contains features that are specific to Android UI accessibility.
*/
public final class UiAccessibilityFeatures {{

{NATIVE_FEATURES}

 // Prevents instantiation.
 private UiAccessibilityFeatures() {{}}
}}
