@@PACKAGE@@-@@CHANNEL@@ (@@VERSIONFULL@@) @@CHANNEL@@; urgency=low

  * Build spec: https://chromium.googlesource.com/chromium/src.git/+/@@VERSION@@/

 -- @@MAINTNAME@@ <@@MAINTMAIL@@>  @@DATE_RFC5322@@
