Source: @@PACKAGE@@-@@CHANNEL@@
Section: web
Priority: optional
Maintainer: @@MAINTNAME@@ <@@MAINTMAIL@@>
Build-Depends: dpkg-dev, devscripts, fakeroot, xz-utils
Standards-Version: 3.8.0

Package: @@PACKAGE@@-@@CHANNEL@@
Provides: @@PROVIDES@@
Pre-Depends: @@PREDEPENDS@@
Depends: @@DEPENDS@@
Architecture: @@ARCHITECTURE@@
Description: @@SHORTDESC@@
 @@FULLDESC@@
