<!-- Copyright 2020 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<dom-module id="oobe-dialog-host">
 <template>
  <style>
   <include src="../oobe_flex_layout.css">
   <include src="../oobe_fonts.css">
   <include src="../oobe_dialog_host.css">
   <include src="../oobe_links.css">
  </style>
 </template>
</dom-module>

<dom-module id="oobe-common">
 <template>
  <style>
   <include src="../oobe_flex_layout.css">
   <include src="../oobe_fonts.css">
   <include src="../oobe_links.css">
  </style>
 </template>
</dom-module>
