/* Copyright 2021 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* #css_wrapper_metadata_start
 * #type=style
 * #css_wrapper_metadata_end */

:host {
    --radio-button-height: 120px;
    --oobe-card-radio-button-icon-color: var(--cr-checked-color);
}

:host-context(.jelly-enabled) {
  --oobe-card-radio-button-icon-color: var(--cros-sys-primary);
}

cr-radio-group {
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

cr-card-radio-button {
    /* Removes the highlight that appears on tap. It has sharp
    * corners, which don't match the rounded corners of the card. */
    -webkit-tap-highlight-color: transparent;
    border-radius: 16px;
    margin-bottom: 0;
    --cr-card-radio-button-checkmark-right: 24px;

    --cr-card-radio-button-checkmark-top: calc(50% - 12px);
    --cr-card-radio-button-margin: 0;
    --cr-card-radio-button-padding: 0;
    --cr-card-radio-button-width: 100%;
    --cr-radio-button-ink-size: 0;
    --cr-radio-group-item-padding: 0;
}

:host-context(.jelly-enabled) cr-card-radio-button {
  --focus-shadow-color: var(--cros-sys-focus_ring);
  box-shadow: none;
}

:host-context(.jelly-enabled) cr-card-radio-button:hover {
  --cr-card-background-color: var(--cros-sys-app_base_shaded);
}

cr-card-radio-button:not(:last-child) {
    margin-bottom: 16px;
}

.card-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    min-height: var(--radio-button-height);
    padding-bottom: 0;
    padding-inline-end: 44px;
    padding-inline-start: 20px;
    padding-top: 0;
    text-align: start;
}

.card-icon {
    --iron-icon-height: 48px;
    --iron-icon-width: 48px;
}

:host-context(.jelly-enabled) .card-icon {
  --iron-icon-height: 40px;
  --iron-icon-width: 40px;
}

.card-content {
    padding-bottom: 20px;
    padding-inline-end: 20px;
    padding-inline-start: 20px;
    padding-top: 20px;
}

.card-label {
    color: var(--oobe-header-text-color);
    font-family: var(--oobe-header-font-family);
    font-size: var(--oobe-radio-card-label-font-size);
    font-weight: 500;
    line-height: var(--oobe-radio-card-label-line-height);
}

:host-context(.jelly-enabled) .card-label {
  color: var(--cros-sys-on_surface);
  font-family: var(--cros-button-1-font-family);
  font-size: var(--cros-button-1-font-size);
  font-weight: var(--cros-button-1-font-weight);
  line-height: var(--cros-button-1-line-height);
}

:host-context(.jelly-enabled) cr-card-radio-button[checked] .card-label {
  color: var(--cros-sys-on_primary_container);
}

.card-text {
    color: var(--oobe-text-color);
    line-height: 20px;
}

:host-context(.jelly-enabled) .card-text {
  color: var(--cros-sys-on_surface_variant);
  font-family: var(--cros-body-2-font-family);
  font-size: var(--cros-body-2-font-size);
  font-weight: var(--cros-body-2-font-weight);
  line-height: var(--cros-body-2-line-height);
}

:host-context(.jelly-enabled) cr-card-radio-button[checked] .card-text {
  color: var(--cros-sys-on_primary_container);
}

:host-context(.jelly-enabled) cr-card-radio-button[checked] {
  background-color: var(--cros-sys-primary_container);
  --cr-checked-color: var(--cros-sys-on_primary_container);
  --iron-icon-height: 20px;
  --iron-icon-width: 20px;
  --oobe-card-radio-button-icon-color: var(--cros-sys-on_primary_container);
}
