<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) 2012 The Chromium Authors. All rights reserved.  Use of this
  source code is governed by a BSD-style license that can be found in the
  LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="{{manifest_package|default('com.android.webview')}}"
    tools:ignore="MissingLeanbackLauncher">
    <uses-sdk android:minSdkVersion="{{min_sdk_version|default(21)}}"
              android:targetSdkVersion="{{target_sdk_version|default(28)}}">
    </uses-sdk>

    <uses-feature android:name="android.hardware.touchscreen"
                  android:required="false" />
    <uses-feature android:name="android.software.leanback"
                  android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application android:label="Android System WebView"
                 android:icon="@{{manifest_package|default('com.android.webview')}}:drawable/icon_webview"
                 android:name="{{ application_name|default('com.android.webview.chromium.WebViewApplication') }}"
                 android:multiArch="true"
                 android:use32bitAbi="true">
        {# This part is shared between stand-alone WebView and Monochrome #}
        {% macro common(manifest_package, webview_lib) %}
            <meta-data android:name="com.android.webview.WebViewLibrary"
                       android:value="{{ webview_lib }}" />
            <activity android:name="com.android.webview.chromium.LicenseActivity"
                      android:label="@string/license_activity_title">
                <intent-filter>
                    <action android:name="android.settings.WEBVIEW_LICENSE" />
                    <category android:name="android.intent.category.DEFAULT" />
                </intent-filter>
                <meta-data android:name="com.android.settings.PRIMARY_PROFILE_CONTROLLED"
                           android:value="true" />
            </activity>
            <provider android:name="com.android.webview.chromium.LicenseContentProvider"
                      android:exported="true"
                      android:authorities="{{ manifest_package }}.LicenseContentProvider" />
            {% if donor_package is not defined %}
                <!-- If you change the variations services, also see
                     android_webview/test/shell/AndroidManifest.xml. -->
                <service android:name="org.chromium.android_webview.services.VariationsSeedServer"
                         android:exported="true"
                         android:process=":webview_service" />
                <service android:name="org.chromium.android_webview.services.AwVariationsSeedFetcher"
                         android:permission="android.permission.BIND_JOB_SERVICE"
                         android:exported="false"
                         android:process=":webview_service" />
                <service android:name="org.chromium.android_webview.services.CrashReceiverService"
                         android:exported="true"
                         android:process=":webview_service" />
                <service android:name="org.chromium.android_webview.services.AwMinidumpUploadJobService"
                         android:permission="android.permission.BIND_JOB_SERVICE"
                         android:exported="true"
                         android:process=":webview_service" />
            {% endif %}
        {% endmacro %}
        {{ common(manifest_package|default('com.android.webview'), library|default('libwebviewchromium.so')) }}
        {% if donor_package is defined %}
            <meta-data android:name="com.android.webview.WebViewDonorPackage"
                       android:value="{{ donor_package }}" />
        {% endif %}
        {% set num_sandboxed_services = 40 %}
        <meta-data android:name="org.chromium.content.browser.NUM_SANDBOXED_SERVICES"
                   android:value="{{ num_sandboxed_services }}" />
        {% for i in range(num_sandboxed_services) %}
            <service android:name="org.chromium.content.app.SandboxedProcessService{{ i }}"
                     android:process=":sandboxed_process{{ i }}"
                     android:isolatedProcess="true"
                     android:exported="true"
                     android:externalService="true"
                     tools:ignore="ExportedService"
                     android:visibleToInstantApps="true" />
        {% endfor %}
        <meta-data android:name="org.chromium.content.browser.NUM_PRIVILEGED_SERVICES"
                   android:value="0" />
        {% if trichrome_library is defined %}
        <uses-static-library
            android:name="{{ trichrome_library }}"
            android:version="{{ trichrome_version }}"
            android:certDigest="{{ trichrome_certdigest }}" />
        {% endif %}
    </application>
</manifest>
