/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://customize-chrome-side-panel.top-chrome/shared/sp_shared_style_lit.css.js
 * #import=chrome://resources/cr_elements/cr_icons_lit.css.js
 * #scheme=relative
 * #include=cr-icons-lit sp-shared-style-lit
 * #css_wrapper_metadata_end */

#container {
  box-sizing: border-box;
  color: var(--cr-primary-text-color);
  display: block;
  height: 100%;
  padding: var(--sp-body-padding) 0;
  position: relative;
}

.section {
  display: block;
}

sp-heading {
  margin: 8px 16px;
}

.sp-card {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  max-width: calc(360px - 2 * var(--sp-body-padding));
}

#toolbarButton {
  border: none;
  color: var(--cr-primary-text-color);
  display: flex;
  height: 52px;
  justify-content: space-between;
  padding: 8px 16px;
}

#toolbar-customization-heading {
  padding: 0;
}

#toolbar-customization-inner-heading {
  align-items: center;
  display: flex;
  gap: 4px;
}

customize-chrome-appearance,
customize-chrome-shortcuts,
customize-chrome-cards,
customize-chrome-categories,
customize-chrome-themes,
customize-chrome-wallpaper-search,
customize-chrome-toolbar {
  display: block;
  max-width: 360px;
  width: 100%;
}

customize-chrome-appearance {
  margin-bottom: 0;
}

#extensions .description {
  color: var(--cr-secondary-text-color);
  font-weight: 400;
  padding: 0 16px 4px;
}

.description a {
  color: var(--cr-link-color);
}

#buttonContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 8px 16px;
}

#couponsButton .cr-icon {
  --cr-icon-image: url(icons/coupons.svg);
}

#writingButton .cr-icon {
  --cr-icon-image: url(icons/writing.svg);
}

#productivityButton .cr-icon {
  --cr-icon-image: url(icons/productivity.svg);
}
