/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #scheme=relative
 * #css_wrapper_metadata_end */

:host {
  --customize-chrome-check-mark-wrapper-background: var(
      --color-side-panel-customize-chrome-theme-checkmark-background);
  --customize-chrome-check-mark-wrapper-color: var(
      --color-side-panel-customize-chrome-theme-checkmark-foreground);
  --customize-chrome-check-mark-wrapper-end: 0px;
  --customize-chrome-check-mark-wrapper-size: 16px;
  --customize-chrome-check-mark-wrapper-top: 0px;
  display: block;
  position: relative;
}

svg {
  display: block;
  height: var(--customize-chrome-check-mark-wrapper-size);
  left: initial;
  position: absolute;
  right: var(--customize-chrome-check-mark-wrapper-end);
  top: var(--customize-chrome-check-mark-wrapper-top);
  width: var(--customize-chrome-check-mark-wrapper-size);
  z-index: 1;
}

:host(:not([checked])) svg {
  display: none;
}

:host-context([dir=rtl]) svg {
  left: var(--customize-chrome-check-mark-wrapper-end);
  right: initial;
}

#background {
  fill: var(--customize-chrome-check-mark-wrapper-background);
}

#checkMark {
  fill: var(--customize-chrome-check-mark-wrapper-color);
}

:host([checked]):host(:not([checkmark-border-hidden])) ::slotted(*) {
  border: 2px solid
      var(--customize-chrome-check-mark-wrapper-background) !important;
}
