/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=//resources/cr_elements/cr_hidden_style_lit.css.js
 * #import=//resources/cr_elements/cr_shared_style_lit.css.js
 * #import=//resources/cr_elements/cr_shared_vars.css.js
 * #scheme=relative
 * #include=cr-shared-style-lit
 * #css_wrapper_metadata_end */

#expandedContent {
  padding-inline-end: var(--cr-section-padding);
  padding-inline-start: var(--cr-section-indent-padding);
}

.favicon {
  margin-inline-end: 20px;
}

#container {
  display: flex;
  align-items: center;
}

.cr-padded-text {
  display: flex;
}

@media (prefers-color-scheme: dark) {
  .icon {
    --iron-icon-fill-color: var(--cr-link-row-start-icon-color,
        var(--google-grey-500));
  }
}

@media (prefers-color-scheme: light) {
  .icon {
    --iron-icon-fill-color: var(--cr-link-row-start-icon-color,
      var(--google-grey-700));
  }
}

.icon {
  display: flex;
  flex-shrink: 0;
  margin-left: auto;
  width: var(--cr-link-row-icon-width, var(--cr-icon-size));
}