/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=chrome://resources/ash/common/cr_elements/cr_shared_style.css.js
 * #include=cr-shared-style
 * #css_wrapper_metadata_end */

:host {
  cursor: default;
  font-family: monospace;
  font-size: 12px;
}

.internals-button {
  background-color: rgb(0, 134, 179);
  color: white;
  font-family: Roboto, Roboto, sans-serif;
  margin: 5px;
}

.internals-button[disabled] {
  background-color: LightGray;
  color: gray;
}

.label {
  width: 100%;
}

.column {
  align-items: center;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.column cr-button {
  width: 100%;
}

.emphasize {
  font-weight: bold;
}

.cr-padded-text {
  margin: 10px;
}

.label-top {
  display: flex;
  flex-direction: column;
  padding: 5px;
}
