<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2017 The Chromium Authors
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<!-- package name must be unique. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.chromium.android_webview.test.support">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:label="ChromiumNetTestAwSupport">
        <service android:name="org.chromium.android_webview.test.AwEmbeddedTestServerService"
                android:exported="true"
                tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="org.chromium.net.test.EMBEDDED_TEST_SERVER_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>
