/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:root {
  color: #333;
}

#app-downloading-video-container {
  margin: 31px auto auto;
}

#app-downloading-video-container video {
  height: 247px;
  width: 278px;
}
