/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  --oobe-dialog-list-item-border: 1px solid rgba(0, 0, 0, 0.06);
}

.language-selection-entry {
  border-top: var(--oobe-dialog-list-item-border);
  height: 44px;
  padding: 0 10px;
}

.language-selection-entry:last-of-type {
  border-bottom: var(--oobe-dialog-list-item-border);
}

.language-selection-title {
  color: rgba(0, 0, 0, 0.87);
}
