/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  padding: 0;
}

#stepContents,
#stepContents > div {
  height: 100%;
  width: 100%;
}

#stepContents {
  color: #666;
}

#authView {
  display: block;
  overflow: hidden;
  position: static;
}

#learnMoreLink {
  display: inline;
}

.step-message {
  display: inline-block;
  padding-top: 20px;
  text-align: start;
  vertical-align: top;
}

#samlNoticeContainer {
  align-items: center;
  background: rgb(241, 243, 244); /* #F1F3F4 */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.17);
  display: flex;
  height: 44px;
  min-height: 0;
}

#samlNoticeMessage {
  color: rgb(106, 106, 106);
  font-size: 13px;
}

#attributePromptMessage {
  color: black;
}

#navigation {
  color: rgba(0, 0, 0, .54);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

#signinFrameContainer {
  z-index: 10;
}

#samlCloseButton {
  --cr-icon-button-margin-end: 0;
  --cr-icon-button-margin-start: 0;
}

/* WebviewScrollShadowsHelper */
#authView.can-scroll:not(.is-scrolled):not(.scrolled-to-bottom)::before {
  @apply --oobe-scroll-shadow-bottom;
}
#authView.can-scroll.is-scrolled:not(.scrolled-to-bottom)::before {
  @apply --oobe-scroll-shadow-top-and-bottom;
}
#authView.is-scrolled.scrolled-to-bottom::before {
  @apply --oobe-scroll-shadow-top;
}
