/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#container {
  padding: 40px;
}

#icon-container {
  margin-bottom: 14px;
}

:host iron-icon {
  height: 28px;
  width: 28px;
}

iron-icon[icon='cr:warning'] {
  color: var(--google-yellow-500);
}

iron-icon[icon='notification-card:done'] {
  color: var(--google-green-500);
}

#text-container {
  color: grey;
  line-height: 130%;
  max-width: 240px;
  text-align: center;
}

a {
  color: rgb(17, 85, 204); /* #1155CC */
  cursor: pointer;
  text-decoration: none;
}

a:focus {
  outline-color: rgb(77, 144, 254); /* #4D90FE */
  transition: outline-color 200ms;
}

