/* Copyright 2015 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  --offline-gaia-dialog-width: 100%;
  --offline-gaia-animation-margin: 50%;
  display: flex;
  flex-direction: column;
  min-height: 0;
  overflow: hidden;
  position: relative;
}

#forgotPasswordDlg {
  --cr-dialog-native: {
    color: var(--primary-text-color);
    font-size: 15px;
    width: 384px;
  }
}

/* icon, title, subtitle styles must approximate current Gaia style. */

#icon {
  height: 32px;
  margin: 60px 64px 0 64px;
}

#title-container {
  padding-top: 20px;
}

h1 {
  color: var(--oobe-header-text-color);
  @apply --oobe-header-font;
  margin: 0;
}

#subtitle-container {
  padding-top: 8px;
}

#subtitle-container * {
  color: var(--oobe-subheader-text-color);
  line-height: var(--subtitle-line-height);
  margin: 0;
}

/** ******** Animations ******* */

/*
 * Normally, only e-mail section is animated, pushing password section to the
 * right outside of visible area.
 */

/* Fixed window over sliding content in #animation-inner-container. */
#animation-outer-container {
  overflow: hidden;
  width: var(--offline-gaia-dialog-width);
}

#animation-inner-container {
  width: calc(2 * var(--offline-gaia-dialog-width));
}

.section {
  --section-padding: var(--oobe-dialog-content-padding);
  --section-width: var(--offline-gaia-animation-margin);
  animation-duration: 700ms;
  box-sizing: border-box;
  display: none;
  /** For sliding to work correctly we need fixed size of moving objects. */
  max-width: var(--section-width);
  min-width: var(--section-width);
  padding: 0 var(--section-padding);
}

@keyframes show-from-left {
  from {
    margin-left: calc(-1 * var(--offline-gaia-animation-margin));
  }
  to {
    margin-left: 0;
  }
}

@keyframes show-from-right {
  from {
    margin-left: var(--offline-gaia-animation-margin);
  }
  to {
    margin-left: 0;
  }
}

@keyframes hide-to-left {
  from {
    margin-left: 0;
  }
  to {
    margin-left: calc(-1 * var(--offline-gaia-animation-margin));
  }
}

@keyframes hide-to-right {
  from {
    margin-left: 0;
  }
  to {
    margin-left: var(--offline-gaia-animation-margin);
  }
}

oobe-dialog[selected='emailSection'] #email-section,
oobe-dialog[selected='passwordSection'] #password-section {
  display: block;
}

/*
 * When dialog first appears, no animation needed.
 * Dialog always starts with e-mail section visible, so only "show" animation
 * depends on |animation-in-progress| attribute.
 */
oobe-dialog[animation-in-progress] #email-section {
  animation-name: show-from-left;
}

oobe-dialog[selected='passwordSection'] #email-section {
  animation-name: hide-to-left;
}

:host([rtl]) oobe-dialog[animation-in-progress] #email-section {
  animation-name: show-from-right;
}

:host([rtl]) oobe-dialog[selected='passwordSection'] #email-section {
  animation-name: hide-to-right;
}

/** During animation all sections should be visible. */
oobe-dialog[animation-in-progress] .section {
  display: block;
}
