/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#wait-for-container-ready {
  display: flex;
  flex-flow: column;
  font-size: 16px;
  min-height: 0;
}
