/* Copyright 2014 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.popup-overlay {
  align-items: center;
  background: rgba(32, 33, 36, 0.6); /* #202124 should match Gaia overlay*/
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 0;
  padding: 20px;
  position: fixed;
  right: 0;
  top: 0;
  transition: 250ms opacity;
  z-index: 5;
}

/* please use oobe-popup inside a popup-overlay only */
.oobe-popup {
  background: white;
  border: 1px solid rgb(188, 193, 208);
  border-radius: 2px;
  box-shadow: 0 5px 80px #505050;
  flex: 1 1 auto;
  max-width: 460px;
  min-height: 250px;
  min-width: 50px;
  position: relative;
  z-index: 10;
}

.oobe-popup h1 {
  background: linear-gradient(white, #F8F8F8);
  color: rgb(83, 99, 125);
  font-size: 105%;
  font-weight: bold;
  margin: 0;
  padding: 10px 15px 8px 15px;
  text-shadow: white 0 1px 2px;
  user-select: none;
}

.popup-content-area {
  padding: 20px 20px 60px 20px;
}
