/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  --oobe-hid-detection-item-border: 1px solid var(--google-grey-200);
}

#status-container {
  margin: 15px 0;
}

.hid-selection-entry:first-of-type {
  margin-top: 8px;
}

.hid-selection-entry {
  border-top: var(--oobe-hid-detection-item-border);
  color: var(--google-grey-900);
  font-size: 13px;
  min-height: 48px;
}

.hid-selection-entry:last-of-type {
  border-bottom: var(--oobe-hid-detection-item-border);
}

#keyboard-icon,
#mouse-icon {
  --iron-icon-height: 20px;
  --iron-icon-width: 20px;
  padding-inline-end: 8px;
}

#keyboard-tick,
#mouse-tick {
  margin-inline-start: -28px;
  position: relative;
  top: 4px;
}

#hid-keyboard-pincode {
 padding 15px 0;
};

.bluetooth-keyboard-button {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #222;
  color: #222;
  display: inline-block;
  font-size: 16px;
  height: 38px;
  line-height: 38px;
  margin: 0 5px;
  padding: 0 15px;
  position: relative;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  vertical-align: baseline;
}

#bluetooth-enter-key {
  min-width: 54px;
}

.key-typed {
  color: #222;
}

.key-next {
  background: rgb(77, 144, 254);
  background-image: none;
  border: 2px solid rgb(77, 144, 254);
  box-shadow: none;
  color: #fff;
}

.key-untyped {
  border: 1px solid #d4d4d4;
  box-shadow: 0 0 0 1px #888;
  color: #666;
}
