/* Copyright 2018 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

paper-progress {
  --paper-progress-active-color: rgb(66, 133, 244);
  --paper-progress-container-color: rgb(206, 224, 252);
  --paper-progress-secondary-color: rgb(66, 133, 244);
  display: block;
  height: 3px;
  padding: 40px 0 0 0;
  width: 100%;
}

.supervision-icon {
  --iron-icon-height: 32px;
  --iron-icon-width: 32px;
}
