/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

a {
  color: var(--google-blue-500);
  text-decoration: none;
  width: fit-content;
}

#crosEulaFrame {
  /* Works around the problem that webview height is not calculated
   * correctly in flex layout. 207px is derived from en-US locale under
   * the default 640px height of #eulaDialog. */
  height: 207px;
}

#crosEulaFrame,
#installationSettings,
#logging {
  font-size: 13px;
  min-height: unset;
}

#crosEulaFrame {
  border: 1px solid rgb(218, 220, 224); /* #DADCE0 */
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .13);
}

#installationSettings {
  margin-inline-start: 20px;
  margin-top: 31px; /* = 44 - font size */
}

#logging {
  color: rgba(0, 0, 0, 0.54);
  margin-inline-start: 20px;
  margin-top: 23px; /* = 36 - font size */
}

cr-toggle {
  align-self: center;
}

#usageStatsLabelContainer {
  color: var(--google-grey-refresh-700); /* #5F6368 */
  line-height: 20px;
  margin-inline-start: 16px;
}

#usageStatsLabel {
  cursor: pointer;
}

#settings-close-button {
  padding-inline-end: 18px;
}

.tpm-password > div {
  margin-top: 18px;
}

.password-row div {
  color: rgb(66, 133, 244);
  font-size: 24px;
  margin-top: 82px;
}

.installation-settings-spinner {
  margin-inline-end: 5px;
}
