/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:root {
  color: #333;
}

.overview-list-item {
  background-color: var(--google-grey-100);
  margin-bottom: 16px;
  padding: 16px;
}

.overview-list-item:last-of-type {
  margin-bottom: 0;
}

.overview-list-item-icon {
  padding-inline-end: 16px;
}

.overview-list-item-title {
  font-weight: 500; /* roboto-medium */
  margin-bottom: 4px;
}

cr-checkbox {
  align-self: start; /* Prevent label from spanning the whole width. */
  margin-top: 28px; /* 40 to label base line => 40 - 16/2 - 13/3 = 28 */
  padding-inline-start: 8px;
  --cr-checkbox-label-padding-start: 12px;
}

