/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:root {
  color: #333;
  font: 13px Roboto, sans-serif;
  font-weight: 400; /* roboto-regular */
  height: 640px;
  width: 768px;
}

[slot='footer'] {
  padding: 18px 64px 0;
}

.overview-list-item {
  background-color: var(--google-grey-100);
  margin-bottom: 16px;
  padding: 16px;
}

.overview-list-item:last-of-type {
  margin-bottom: 0;
}

.overview-list-item-icon {
  padding-inline-end: 16px;
}

.overview-list-item-title {
  font-weight: 500; /* roboto-medium */
  margin-bottom: 4px;
}

cr-checkbox {
  --cr-checkbox-label-container: {
    padding-inline-start: 12px;
  };
  padding-inline-start: 8px;
  padding-top: 28px; /* 40 to label base line => 40 - 16/2 - 13/3 = 28 */
}

#syncConsentOverviewDialog [slot='bottom-buttons'] {
  padding: 0 6px; /* = 8px - 2px button border */
}

/* --------------- Sync Make Chrome ... --------------- */

#syncConsentNewDialog [slot='oobe-icon'] {
  height: 32px;
  width: 32px;
}

#syncConsentNewDialog .sync-feature-item {
  padding: 16px 0;
}

#syncFeaturesDesc {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
}

#syncConsentNewDialog .sync-feature-item-icon {
  padding-inline-end: 16px;
}

#syncConsentNewDialog [slot='bottom-buttons'] {
  padding: 0 24px;
}

/* ------------------ Sync options ------------- */

#syncConsentMakeChromeSyncOptionsDialog [slot='oobe-icon'] {
  height: 32px;
  width: 32px;
}

cr-radio-button {
  --cr-radio-button-checked-color: var(--google-blue-500);
  --cr-radio-button-ink-size: 40px;
  --cr-radio-button-label-spacing: 16px;
  --cr-radio-button-unchecked-color: var(--paper-grey-600);
}

#syncConsentMakeChromeSyncOptionsDialog .options-list-item {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  padding: 10px;
}

#syncConsentMakeChromeSyncOptionsDialog .options-list-item:last-of-type {
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

#syncConsentMakeChromeSyncOptionsDialog .sync-option-title {
  padding-bottom: 4px;
  padding-left: 8px;
}

#syncConsentMakeChromeSyncOptionsDialog .sync-option-subtitle {
  color: rgba(0, 0, 0, 0.54);
  font: 13px Roboto, sans-serif;
  padding-left: 8px;
}
