<!--
Copyright 2015 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<!--
  A simple warning notification card with a button, link (optional) and icon.
  Example:
    <notification-card button-label="OK" link-label="What?">
      Great success!
    </notification-card>

  Attributes:
   'button-label' - label displayed on the button. If empty or not set, the
                   button is hidden.
   'link-label' - text of the link. If empty or not set, the link is hidden.

  Events:
    'buttonclick' - fired on button click.
    'linkclick' - fired on link click.

-->
<style include="oobe-common-styles">
  #container {
    padding: 40px;
  }

  #icon-container {
    margin-bottom: 14px;
  }

  :host iron-icon {
    color: var(--cros-sys-warning);
    height: 28px;
    width: 28px;
  }

  #text-container {
    color: var(--oobe-text-color);
    font-family: var(--oobe-default-font-family);
    font-size: var(--oobe-default-font-size);
    font-weight: var(--oobe-default-font-weight);
    line-height: var(--oobe-default-line-height);
    max-width: 240px;
    text-align: center;
  }

  a {
    /* TODO(https://crbug.com/1320715) Revise the color
    color: rgb(17, 85, 204);  #1155CC
    */
    cursor: pointer;
    text-decoration: none;
  }

  a:focus {
    /* TODO(https://crbug.com/1320715) Revise the color
    outline-color: rgb(77, 144, 254);  #4D90FE
    */
    transition: outline-color 200ms;
  }
</style>
<div id="container" class="vertical layout center fit">
  <div class="flex vertical layout center center-justified">
    <div id="icon-container" class="vertical layout center">
      <iron-icon icon="cr:warning">
      </iron-icon>
    </div>
    <div id="text-container">
      <slot></slot>
    </div>
  </div>
  <div class="self-stretch horizontal-reverse layout justified center">
    <gaia-button id="submitButton" on-click="buttonClicked"
        hidden$="[[!buttonLabel]]">
      <span>[[buttonLabel]]</span>
    </gaia-button>
    <a on-click="linkClicked" hidden$="{{!linkLabel}}" is="action-link"
        class="oobe-local-link" aria-describedby="text-container">
      <span>[[linkLabel]]</span>
    </a>
  </div>
</div>
