/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host {
  --title-font-distance-to-baseline: 7px;
  --subtitle-font-size: --oobe-default-font-size;
  --subtitle-font-distance-to-baseline: 3px;
  --subtitle-line-height: 18px;
  @apply --oobe-default-font;
}


:host([two-columns-adaptable]) #topScrollContainer {
  flex-direction: var(--oobe-dialog-adaptable-flex-direction);
}

#topScrollContainer {
  border: transparent;
  overflow-y: auto;
}

#header-container {
  padding-bottom: 0;
  padding-inline-end: var(--oobe-dialog-content-padding);
  padding-inline-start: var(--oobe-dialog-content-padding);
  padding-top: var(--oobe-dialog-content-padding);
}

#oobe-title {
  padding-top: 20px;
}

/*
 * TODO(https://crbug.com/703984): remove the fallback class when fixed.
 */
#oobe-title ::slotted(h1),
#oobe-title .fallback {
  color: var(--oobe-header-text-color);
  @apply --oobe-header-font;
  margin: 0;
}

#oobe-subtitle {
  padding-top: 8px;
}

/*
 * TODO(https://crbug.com/703984): remove the fallback class when fixed.
 */
#oobe-subtitle ::slotted(*),
#oobe-subtitle .fallback {
  color: var(--oobe-subheader-text-color);
  line-height: var(--subtitle-line-height);
  overflow-wrap: break-word;
  margin: 0;
}

#footerContainer ::slotted(*) {
  line-height: var(--subtitle-line-height);
}

:host(:not([has-buttons])) #footerContainer {
  margin-bottom: 40px;
}

#oobe-progress ::slotted(paper-progress) {
  --paper-progress-active-color: var(--google-blue-500);
  --paper-progress-container-color: var(--google-blue-100);
  height: 3px;
  margin-top: 32px;
  width: 100%;
}

#footerContainer {
  padding-bottom: 0;
  padding-inline-end: var(--oobe-dialog-content-padding);
  padding-inline-start: var(--oobe-dialog-content-padding);

  /* TODO(https://crbug.com/1017173) Make it adaptive. */
  padding-top: var(--oobe-dialog-content-padding-top);
}

#footerContainer[noFooterPadding] {
  padding: 0;
}

#footerContainer[footerShrinkable] {
  flex-shrink: 1;
}



#topScrollContainer.can-scroll:not(.is-scrolled):not(.scrolled-to-bottom) {
  background: linear-gradient(0deg,
                              rgba(var(--google-grey-refresh-100-rgb), 1) 0,
                              rgba(var(--google-grey-refresh-100-rgb), 0) 8px);

}
#topScrollContainer.can-scroll.is-scrolled:not(.scrolled-to-bottom) {
  background: linear-gradient(0deg,
                              rgba(var(--google-grey-refresh-100-rgb), 1) 0,
                              rgba(var(--google-grey-refresh-100-rgb), 0) 8px),
              linear-gradient(180deg,
                              rgba(var(--google-grey-refresh-100-rgb), 1) 0,
                              rgba(var(--google-grey-refresh-100-rgb), 0) 8px);
}
#topScrollContainer.is-scrolled.scrolled-to-bottom {
  background: linear-gradient(180deg,
                              rgba(var(--google-grey-refresh-100-rgb), 1) 0,
                              rgba(var(--google-grey-refresh-100-rgb), 0) 8px);
}

#oobe-bottom {
  height: calc(var(--oobe-dialog-footer-height)
               - 2 * var(--oobe-dialog-footer-padding));
  /* Width: real padding - button margin */
  padding: var(--oobe-dialog-footer-padding)
           calc(var(--oobe-dialog-footer-padding) - 4px);
  z-index: 1;
}

:host #oobe-bottom[no-buttons-padding] {
  padding: unset;
}

#oobe-icon-div ::slotted(hd-iron-icon),
#oobe-icon-div ::slotted(iron-icon) {
  --iron-icon-height: 32px;
  --iron-icon-width: 32px;
  --iron-icon-fill-color: var(--google-blue-600);
}

.slot-container {
  position: relative;
}
