/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

:host(:not([hidden])) {
  display: flex;
  min-height: 0;
}

:host {
  background-color: white;
  border-radius: 4px;
  box-shadow: unset;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  position: relative;
  width: 100%;
}

.oobe-illustration {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.oobe-tos-webview {
  border: 1px solid rgb(218, 220, 224); /* #DADCE0 */
  border-radius: 4px;
  box-shadow: inset 0 0 4px 4px rgba(241, 243, 244, 0.5); /* #F1F3F4 */
}

.oobe-form {
  /* 40px distance from subtitle (oobe forms spec) - 20px of footer-container */
  padding-top: 20px;
}

:host-context([new-layout][orientation=horizontal])
    .horizontal-mode-horizontal-centering {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}
