<!--
Copyright 2023 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<style>
  :host {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 16px;
  }

  div {
    width: 80px;
    height: 80px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;

    background: #F8F9FA;
    border-radius: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    color: #202124;
  }
</style>

<div id="digit0">[[digit0]]</div>
<div id="digit1">[[digit1]]</div>
<div id="digit2">[[digit2]]</div>
<div id="digit3">[[digit3]]</div>
