<!--
Copyright 2019 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<style include="oobe-dialog-host-styles">
  #pinKeyboardContainer {
    margin-top: 30px;
    position: relative;
  }

  #pinKeyboard {
    --pin-keyboard-pin-input-width: 192px;
    --pin-keyboard-input-letter-spacing: 13px;
    --pin-keyboard-number-color: var(--cros-text-color-primary);
    --cr-icon-button-margin-start: 5px;
  }

  :host-context(.jelly-enabled) #pinKeyboard {
    --pin-keyboard-number-color: var(--oobe-text-color);
  }

  #errorContainer {
    color: var(--cros-icon-color-red);
    font-size: 12px;
    padding: 4px 0 0;
    text-align: center;
    width: 100%;
  }

  :host-context(.jelly-enabled) #errorContainer {
    color: var(--cros-sys-error);
    font-family: var(--oobe-security-token-pin-font-family);
    font-size: var(--oobe-security-token-pin-font-size);
    font-weight: var(--oobe-security-token-pin-font-weight);
    line-height: var(--oobe-security-token-pin-line-height);
  }

  #errorIcon {
    --iron-icon-width: 20px;
    --iron-icon-height: 20px;
    margin-inline-end: 3px;
  }

  /* Allows to hide the element while still consuming the space that it needs. */
  [invisible] {
    visibility: hidden;
  }

  :host-context(.jelly-enabled) iron-icon[icon='cr:error-outline'] {
    color: var(--cros-sys-error);
  }
</style>
<oobe-adaptive-dialog class="gaia-dialog" role="dialog" id="dialog"
    aria-describedby="description"
    aria-label$="[[i18nDynamic(locale, 'securityTokenPinDialogTitle')]]">
  <iron-icon slot="icon" icon="oobe-32:lock"></iron-icon>
  <h1 slot="title">
    [[i18nDynamic(locale, 'securityTokenPinDialogTitle')]]
  </h1>
  <div slot="subtitle" id="subtitle">
    <span id="description" hidden="[[processingCompletion]]">
      [[i18nDynamic(locale, 'securityTokenPinDialogSubtitle')]]
    </span>
  </div>
  <paper-progress slot="progress" id="progress"
      hidden="[[!processingCompletion]]"
      indeterminate="[[processingCompletion]]">
  </paper-progress>
  <div slot="content" class="content-centered">
    <div id="pinKeyboardContainer" hidden="[[processingCompletion]]">
      <pin-keyboard id="pinKeyboard" allow-non-digit
          has-error="[[isErrorLabelVisible(parameters, userEdited)]]"
          aria-label="[[getLabel(parameters, userEdited)]]"
          on-pin-change="onPinChange" on-submit="onSubmit"
          disabled="[[!canEdit]]">
        <div id="errorContainer" role="alert" problem
            invisible$="[[!isLabelVisible(parameters, userEdited)]]">
          <iron-icon id="errorIcon" icon="cr:error-outline"></iron-icon>
          <span id="error">[[getLabel(parameters, userEdited)]]</span>
        </div>
      </pin-keyboard>
    </div>
  </div>
  <div slot="back-navigation">
    <oobe-back-button id="back" on-click="onBackClicked">
    </oobe-back-button>
  </div>
  <div slot="bottom-buttons">
    <oobe-next-button id="submit" on-click="onSubmit"
        disabled="[[!canSubmit]]"></oobe-next-button>
  </div>
</oobe-adaptive-dialog>
