// Copyright 2022 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.components.webrtc;

/**
 * Contains features that are specific to components/webrtc/.
 */
public final class ComponentsWebRtcFeatures {{

{NATIVE_FEATURES}

    // Prevents instantiation.
    private ComponentsWebRtcFeatures() {{}}
}}
