<?xml version="1.0" encoding="utf-8"?>

<!-- Copyright 2013 The Chromium Authors. All rights reserved.

  Use of this source code is governed by a BSD-style license that can be
  found in the LICENSE file.
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.android_webview.shell">
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.RECORD_VIDEO" />
  <uses-permission android:name="android.permission.CAMERA" />

  <!-- Kerberos authentication -->
  <uses-permission android:name="android.permission.GET_ACCOUNTS" />
  <uses-permission android:name="android.permission.USE_CREDENTIALS" />

  <application android:name="org.chromium.android_webview.shell.AwShellApplication"
      android:label="AwShellApplication"
      android:hardwareAccelerated="true">
    <activity android:name="org.chromium.android_webview.shell.AwShellActivity"
        android:label="Android WebView Test Shell"
        android:configChanges="orientation|keyboardHidden|keyboard|screenSize">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity android:name="org.chromium.android_webview.test.AwTestRunnerActivity"
        android:label="AwTestRunnerActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.FRAMEWORK_INSTRUMENTATION_TEST" />
      </intent-filter>
    </activity>
    <provider android:name="org.chromium.android_webview.test.TestContentProvider"
        android:authorities="org.chromium.android_webview.test.TestContentProvider" />
    <!-- Some tests require 3 sandboxed services -->
    <meta-data android:name="org.chromium.content.browser.NUM_SANDBOXED_SERVICES"
               android:value="3"/>
    <service android:name="org.chromium.content.app.SandboxedProcessService0"
             android:process=":sandboxed_process0"
             android:isolatedProcess="true"
             android:exported="false" />
    <service android:name="org.chromium.content.app.SandboxedProcessService1"
             android:process=":sandboxed_process1"
             android:isolatedProcess="true"
             android:exported="false" />
    <service android:name="org.chromium.content.app.SandboxedProcessService2"
             android:process=":sandboxed_process2"
             android:isolatedProcess="true"
             android:exported="false" />
    <meta-data android:name="org.chromium.content.browser.NUM_PRIVILEGED_SERVICES"
               android:value="0"/>
    <!-- See AwSecondBrowserProcessTest -->
    <service android:name="org.chromium.android_webview.test.SecondBrowserProcess"
             android:process=":second_browser_process"
             android:isolatedProcess="false"
             android:exported="false" />
    <!-- If you change the variations services, also see
         android_webview/nonembedded/java/AndroidManifest.xml. -->
    <service android:name="org.chromium.android_webview.services.VariationsSeedServer"
             android:exported="true"
             android:process=":webview_service" />
    <service android:name="org.chromium.android_webview.test.services.MockVariationsSeedServer"
             android:exported="true" />
  </application>
</manifest>
