/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=/signin_shared.css.js
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #scheme=relative
 * #include=signin-shared
 * #css_wrapper_metadata_end */

.container {
  /* The sign-in confirmation dialog uses a width that is larger than
   * the other sign-in dialogs to fit cases when the user has an email
   * name that is very large. */
  width: 512px;
}

.details {
  line-height: 20px;
  margin-inline-start: -8px;
  padding: 8px 24px 0;
}

.radio-button-title-container {
  font-weight: 500;
  line-height: 20px;
}

.radio-button-subtitle-container {
  line-height: 20px;
}

.top-title-bar {
  color: #333;
  height: auto;

  /* The signin email confirmation dialog needs to support cases when the
   * title extends multiple lines. In that case, the height of the title
   * bar is equal to padding + height of the text (which is equal to
   * 2*16px + nb_lines * 22px). */
  line-height: 22px;
  padding: 16px 24px;
}
@media (prefers-color-scheme: dark) {
  .top-title-bar {
    color: var(--cr-primary-text-color);
  }
}
