<?xml version="1.0" encoding="utf-8"?>
<!--
Copyright 2025 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<!-- This manifest is required for tests using
     androidx.test.core.app.ActivityScenario to work.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="chrome.browser.password_manager">

  <application android:theme="@style/Theme.AppCompat.Light">
    <activity android:name="android.app.Activity" />
  </application>
</manifest>

