// Copyright 2022 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.components.network_session_configurator;

/**
* Contains command line switches that are specific to
* configuring network sessions via network_session_configurator.
*/
public final class NetworkSessionSwitches {{

{NATIVE_STRINGS}

   // Prevents instantiation.
   private NetworkSessionSwitches() {{}}
}}

