{% extends "chrome/android/java/AndroidManifest.xml" %}

# Copyright 2015 The Chromium Authors
# Use of this source code is governed by a BSD-style license that can be
# found in the LICENSE file.

{% block application_label %}ChromePublicTest{% endblock %}

{% block extra_uses_permissions %}
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.READ_LOGS"/>
{% endblock %}

{% block extra_application_definitions_for_test %}
        <provider android:name="org.chromium.chrome.test.TestContentProvider"
            android:authorities="org.chromium.chrome.test.TestContentProvider"
            android:exported="true" />

        <provider android:name="org.chromium.chrome.test.partnercustomizations.TestPartnerBrowserCustomizationsProvider"
            android:authorities="org.chromium.chrome.test.partnercustomizations.TestPartnerBrowserCustomizationsProvider"
            android:exported="true" />
        <provider android:name="org.chromium.chrome.test.partnercustomizations.TestPartnerBrowserCustomizationsDelayedProvider"
            android:authorities="org.chromium.chrome.test.partnercustomizations.TestPartnerBrowserCustomizationsDelayedProvider"
            android:exported="true" />

        <activity android:name="org.chromium.ui.test.util.BlankUiTestActivity"
            android:theme="@style/Theme.Chromium.Activity"
          android:exported="true"
          android:configChanges="orientation|keyboardHidden|keyboard|screenSize|mcc|mnc|screenLayout|smallestScreenSize|uiMode|density"/>

        <activity android:name="org.chromium.components.signin.test.util.FakeAccountManagerFacade$AddAccountActivityStub"
            android:theme="@style/Theme.Chromium.Activity"
            android:exported="true"/>
{% endblock %}

{% block extra_root_definitions %}
    <instrumentation android:name="org.chromium.base.test.BaseChromiumAndroidJUnitRunner"
        android:targetPackage="{{manifest_package}}"
        android:label="Tests for {{manifest_package}}"/>
{% endblock %}
{% block base_application_extra_arcore_definitions %}
    <meta-data android:name="com.google.ar.core.session_settings"
        android:value="dataset_path,/sdcard/chromium_tests_root/chrome/test/data/xr/dataset.mp4,allow_front_facing_motion_tracking_6dof,"/>
{% endblock %}
