<!doctype html>
<html>
  <head>
    <style>
      body {
        height: 100%;
        width: 100%;
        overflow: hidden;
        margin: 0;
        background-color: rgb($1, $2, $3);
      }
    </style>
  </head>
  <body>
    <template shadowrootmode="closed">
      <style>
        iframe {
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          border-style: none;
        }
      </style>
      <iframe name="$4" src="about:blank" type="$5" internalid="$6"
          allow="fullscreen *">
    </template>
  </body>
</html>
