/* Copyright 2016 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 *
 * This is the stylesheet imported into the style module in
 * chromeos_user_pod_template.html.
 */

cr-icon-button {
  --cr-icon-button-color: var(--google-grey-refresh-500);
  cursor: default;
  margin: 0;
}

.action-box-remove-user-warning .remove-warning-button {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #e66a5e;  /* Google dark red 500 */
  cursor: default;
  padding: 4px;
}

.action-box-remove-user-warning .remove-warning-button:not(:active):focus {
  font-weight: bold;
}

/* TODO(crbug.com/814922): Merge most of these with the default values. */
pin-keyboard {
  --pin-keyboard-backspace-opacity: 1;
  --pin-keyboard-backspace-color: #FFF;
  --pin-keyboard-backspace-paper-ripple-offset: 9px;
  --pin-keyboard-digit-button: {
    margin: 15px;
    opacity: 1;
    width: 48px;
  };

  --pin-keyboard-letter-color: rgba(255, 255, 255, .34);
  --pin-keyboard-number-color: #FFF;

  --pin-keyboard-paper-ripple: {
    border-radius: 50%;
    color: rgba(0, 0, 0, .34);
    height: 60px;
    left: -6px;
    position: absolute;
    top: -6px;
    width: 60px;
  };
}
