<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.chromium.net">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <!-- Used to use Theme.NoDisplay but this is no longer the recommended
             way and crashes in Android Marshmallow.
             https://plus.google.com/105051985738280261832/posts/LjnRzJKWPGW -->
        <activity android:name="CronetPerfTestActivity"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--
          Run the real telemetry code in test/sample code to improve
          coverage
        -->
        <service
          android:name="android.net.http.MetaDataHolder"
          android:enabled="false" android:exported="false">
            <meta-data
              android:name="android.net.http.EnableTelemetry"
              android:value="true" />
        </service>
    </application>
</manifest>
