<?xml version="1.0" encoding="utf-8"?>
<!-- Copyright 2018 The Chromium Authors. All rights reserved.
     Use of this source code is governed by a BSD-style license that can be
     found in the LICENSE file. -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    featureSplit="vr">

    <dist:module
      dist:instant="false"
      dist:title="@string/vr_module_title">
      <dist:fusing dist:include="true" />
      <dist:delivery>
        <dist:install-time>
          <dist:conditions>
            <dist:device-feature dist:name="android.hardware.vr.high_performance" />
          </dist:conditions>
        </dist:install-time>
        <dist:on-demand />
      </dist:delivery>
    </dist:module>

    <application>
    </application>
</manifest>
