<!-- Copyright 2018 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file. -->

<!-- This package name must match the one in WebViewChromiumAwInit.maybeLogActiveTrials() -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.chromium.webview_log_verbosifier"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:label="WebView Log Verbosifier"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round" />
</manifest>
