/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_hidden_style_lit.css.js
 * #import=chrome://resources/cr_elements/cr_spinner_style.css.js
 * #import=/signin_shared.css.js
 * #scheme=relative
 * #include=signin-shared cr-hidden-style-lit cr-spinner-style
 * #css_wrapper_metadata_end */

:host {
  color: var(--cr-primary-text-color);
  display: flex;
  flex-direction: column;
  height: 100%;
}

#illustrationContainer {
  height: 170px;
  position: relative;
  width: 100%;
}

#illustration {
  background-image: url(./images/signin_reauth_illustration.svg);
  background-size: 100% 100%;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}

@media (prefers-color-scheme: dark) {
  #illustration {
    background-image: url(./images/signin_reauth_illustration_dark.svg);
  }
}

#illustrationContainer > img {
  border-radius: 50%;
  height: 58px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 92px;
  width: 58px;
}

#contentContainer {
  flex-grow: 1;
  width: 100%;
}

h1 {
  font-weight: normal;
  margin-bottom: 8px;
  padding: 0 40px;
}

.message-container {
  color: var(--cr-secondary-text-color);
  line-height: 20px;
  margin-bottom: 16px;
  padding: 0 40px;
}

cr-button {
  padding-inline-end: 16px;
  padding-inline-start: 16px;
}
