/* Copyright 2022 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file.
 */

/* #css_wrapper_metadata_start
 * #type=style
 * #import=./shared_vars.css.js
 * #import=chrome://resources/cr_elements/cr_shared_style.css.js
 * #include=cr-shared-style
 * #css_wrapper_metadata_end */

/* Custom scrollbar for the content area */
/* The default scrollbar on Windows doesn't fit with the dialog style. Also
  * it is wide and causes visual problems when the height of the content is
  * changed. */

.custom-scrollbar::-webkit-scrollbar {
  width: var(--scrollbar-width);
}

.custom-scrollbar::-webkit-scrollbar-track {
  border-radius: var(--scrollbar-width);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--scrollbar-background);
  border-radius: var(--scrollbar-width);
}

.custom-scrollbar.hide-scrollbar::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.header {
  margin-top: 48px;
  padding-bottom: 10px;
  text-align: center;
}

.header h2 {
  font-weight: 500;
  line-height: 22px;
  margin: 0;
}

.section {
  margin: 0 90px;
  padding: 8px 0;
}

privacy-sandbox-dialog-learn-more {
  display: block;
  margin: 0 90px;
}

.buttons-container {
  align-items: center;
  display: flex;
  height: var(--privacy-sandbox-dialog-buttons-row-height);
  justify-content: end;
  padding-inline-end:
      var(--cr-dialog-button-container-padding-horizontal, 16px);
  width: 100%;
}

.buttons-container cr-button+cr-button {
  margin-inline-start: 8px;
}

/* TODO(crbug.com/1378703): If content area isn't scrollable, center the
 * content */
.content-area {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  line-height: 20px;
  overflow-y: overlay;
}

:host(.fill-content),
.fill-content {
  height: 100vh;
}

:host(.fill-content) .content-area,
.fill-content .content-area  {
  bottom: var(--privacy-sandbox-dialog-buttons-row-height);
  position: absolute;
  top: 0;
}

:host(.fill-content) .buttons-container,
.fill-content .buttons-container {
  bottom: 0;
  box-sizing: border-box;
  position: fixed;
  right: 0;
}

.content-area.can-scroll {
  border-bottom-color: var(--scrollable-border-color);
}

ul,
ul.section {
  padding-inline-start: 16px;
}

li:not(:last-child) {
  padding-bottom: 8px;
}

.learn-more-section b {
  color: initial;
  font-weight: 400;
}

.learn-more-section .paragraph {
  padding: 8px 0;
}

/* Privacy sandbox banner */
/* TODO(crbug.com/1378703): Add dark theme styles or use a proper constant */
.banner {
  background-color: var(--google-grey-50);
  margin: 16px 0;
  text-align: center;
}

.banner img {
  content: url(images/privacy_sandbox_new_banner.svg);
  height: 184px;
}

/* Chrome logo image */
img.logo {
  content: url(images/chrome_logo.svg);
  height: 40px;
  margin-bottom: 10px;
}
