// Copyright 2019 The Chromium Authors
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

package org.chromium.components.metrics;

/**
 * Contains command line switches that are specific to the metrics component.
 */
public final class MetricsSwitches {{

{NATIVE_STRINGS}

    // Prevents instantiation.
    private MetricsSwitches() {{}}
}}
