drawable/ic_launcher#no_collapse
drawable/ic_launcher_round#no_collapse
drawable/shortcut_incognito#no_collapse
drawable/topic_taxonomy_1_id_1#no_collapse
drawable/topic_taxonomy_1_id_100#no_collapse
drawable/topic_taxonomy_1_id_103#no_collapse
drawable/topic_taxonomy_1_id_126#no_collapse
drawable/topic_taxonomy_1_id_149#no_collapse
drawable/topic_taxonomy_1_id_172#no_collapse
drawable/topic_taxonomy_1_id_180#no_collapse
drawable/topic_taxonomy_1_id_196#no_collapse
drawable/topic_taxonomy_1_id_207#no_collapse
drawable/topic_taxonomy_1_id_215#no_collapse
drawable/topic_taxonomy_1_id_226#no_collapse
drawable/topic_taxonomy_1_id_239#no_collapse
drawable/topic_taxonomy_1_id_243#no_collapse
drawable/topic_taxonomy_1_id_250#no_collapse
drawable/topic_taxonomy_1_id_254#no_collapse
drawable/topic_taxonomy_1_id_263#no_collapse
drawable/topic_taxonomy_1_id_272#no_collapse
drawable/topic_taxonomy_1_id_289#no_collapse
drawable/topic_taxonomy_1_id_299#no_collapse
drawable/topic_taxonomy_1_id_332#no_collapse
drawable/topic_taxonomy_1_id_57#no_collapse
drawable/topic_taxonomy_1_id_86#no_collapse
dimen/automotive_ui_scale_factor#no_collapse
