<!--
Copyright 2019 The Chromium Authors. All rights reserved.
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
<div>
  <h2>Init Logs </h2>
  <table>
    <thead>
      <tr>
        <th class="init-logs-time">Time</th>
        <th class="init-logs-url">URL</th>

        <th class="init-logs-page-language-code"> Page lang</th>
        <th class="init-logs-target-lang">Target lang</th>

        <th class="init-logs-ui-shown">UI shown</th>

        <th class="init-logs-can-auto-translate">Can auto</th>
        <th class="init-logs-can-show-ui">Can show UI</th>
        <th class="init-logs-can-auto-href-translate">Can auto href</th>
        <th class="init-logs-can-show-href-translate-ui">Can show href UI</th>
        <th class="init-logs-can-show-predefined-language-translate-ui">
          Can show predef UI
        </th>
        <th class="init-logs-should-suppress-from-ranker">Ranker suppresses</th>
        <th class="init-logs-is-triggering-possible">Is triggering possible</th>
        <th class="init-logs-should-auto-translate">Should auto</th>
        <th class="init-logs-should-show-ui">Should show UI</th>

        <th class="init-logs-auto-translate-target">Auto target lang</th>
        <th class="init-logs-href-translate-target">Href target lang</th>
        <th class="init-logs-predefined-translate-target">
          Predef target lang
        </th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>
