<!doctype html>
<html dir="ltr" lang="en">
<!--
Copyright 2013 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->
  <head>
    <meta charset="utf-8">
    <title>Translate Internals</title>
    <link rel="stylesheet" href="chrome://resources/css/text_defaults.css">
    <link rel="stylesheet" href="translate_internals.css">
  </head>

  <body>

    <cr-tab-box hidden>
      <div slot="tab">Prefs</div>
      <div slot="tab">Detection Logs</div>
      <div slot="tab">Error Logs</div>
      <div slot="tab">Event Logs</div>
      <div slot="tab">Init Logs</div>

      <div slot="panel" id="tabpanel-prefs">
        <div>
          <div>
            <section id="prefs-blocked-languages">
              <h2>Languages not translated</h2>
              <ul></ul>
            </section>
            <section id="prefs-site-blocklist">
              <h2>Sites not translated</h2>
              <ul></ul>
            </section>
            <section id="prefs-allowlists">
              <h2>Languages always translated</h2>
              <ul></ul>
            </section>
            <section id="prefs-cld-version">
              <h2>Language Detection Model Version</h2>
              <p>$i18n{model-version}</p>
            </section>
            <section id="prefs-supported-languages">
              <h2>Supported languages</h2>
              <p id="prefs-supported-languages-last-updated">
                Last updated: <span></span>
              </p>
              <ul id="prefs-supported-languages-languages"></ul>
            </section>
          </div>
          <div>
            <section id="prefs-dump">
              <h2>Dump</h2>
              <p class="dump"><p>
            </section>
            <section>
              <h2 id="override-variations-country">
                Override Variations Country
              </h2>
              <p id="country-override"></p>
            </section>
            <section>
              <h2 id="override-recent-target">
                Override <code>translate_recent_target</code>
              </h2>
              <p id="recent-override"></p>
            </section>
          </div>
        </div>
      </div>

      <div slot="panel" id="tabpanel-detection-logs">
        <div>
          <div>
            <h2>Detection Logs <button id="detection-logs-dump">Dump</button>
            </h2>
            <table>
              <thead>
                <tr>
                  <th class="detection-logs-time">Time</th>
                  <th class="detection-logs-url">URL</th>
                  <th class="detection-logs-content-language">
                    Content-Language
                  </th>
                  <th class="detection-logs-html-root-language">
                    HTML lang attribute
                  </th>
                  <th class="detection-logs-cld-language">
                    Model language
                  </th>
                  <th class="detection-logs-detection-model-version">
                    Model version
                  </th>
                  <th class="detection-logs-model-reliability">
                    Model score
                  </th>
                  <th class="detection-logs-is-cld-reliable">
                    Is model reliable?
                  </th>
                  <th class="detection-logs-has-notranslate">
                    Notranslate meta
                  </th>
                  <th class="detection-logs-adopted-language">
                    Adopted language
                  </th>
                  <th class="detection-logs-content">Content</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

      <div slot="panel" id="tabpanel-error-logs">
        <div>
          <div>
            <h2>Error Logs</h2>
            <table>
              <thead>
                <tr>
                  <th class="error-logs-time">Time</th>
                  <th class="error-logs-url">URL</th>
                  <th class="error-logs-error">Error</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

      <div slot="panel" id="tabpanel-event-logs">
        <div>
          <div>
            <h2>Event Logs</h2>
            <table>
              <thead>
                <tr>
                  <th class="event-logs-time">Time</th>
                  <th class="event-logs-place">Filename: line</th>
                  <th class="event-logs-message">Message</th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

      <div slot="panel" id="tabpanel-init-logs">
        <div>
          <div>
            <h2>Init Logs </h2>
            <table>
              <thead>
                <tr>
                  <th class="init-logs-time">Time</th>
                  <th class="init-logs-url">URL</th>

                  <th class="init-logs-page-language-code"> Page lang</th>
                  <th class="init-logs-target-lang">Target lang</th>

                  <th class="init-logs-ui-shown">UI shown</th>

                  <th class="init-logs-can-auto-translate">Can auto</th>
                  <th class="init-logs-can-show-ui">Can show UI</th>
                  <th class="init-logs-can-auto-href-translate">Can auto href
                  </th>
                  <th class="init-logs-can-show-href-translate-ui">
                    Can show href UI
                  </th>
                  <th class="init-logs-can-show-predefined-language-translate-ui">
                    Can show predef UI
                  </th>
                  <th class="init-logs-should-suppress-from-ranker">
                    Ranker suppresses
                  </th>
                  <th class="init-logs-is-triggering-possible">
                    Is triggering possible
                  </th>
                  <th class="init-logs-should-auto-translate">Should auto</th>
                  <th class="init-logs-should-show-ui">Should show UI</th>

                  <th class="init-logs-auto-translate-target">
                    Auto target lang
                  </th>
                  <th class="init-logs-href-translate-target">
                    Href target lang
                  </th>
                  <th class="init-logs-predefined-translate-target">
                    Predef target lang
                  </th>
                </tr>
              </thead>
              <tbody></tbody>
            </table>
          </div>
        </div>
      </div>

    </cr-tab-box>

  </body>
  <script src="translate_internals.js" type="module"></script>

</html>
