/* Copyright 2017 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

@import url(https://fonts.googleapis.com/css?family=Roboto);

body {
    margin: 0 0 20px 0;
    padding: 0;
}

body,
button,
input,
select {
    background-color: rgb(241, 241, 241);
    font-family: Roboto;
}

h1 {
    background: rgb(247, 58, 152);
    color: white;
    display: block;
    font-size: 16px;
    height: 56px;
    line-height: 56px;
    text-align: center;
    width: 100%;
}

h2 {
    color: rgb(97, 97, 97);
    font-size: 13px;
    height: 15px;
    margin-top: 21px;
}

hr {
  border-bottom: 0;
  border-top: 1px solid #ddd;
  margin: 0;
}

.container {
    margin-inline-end: auto;
    margin-inline-start: auto;
    width: 688px;
}

.option-group {
    border: 1px solid #ddd;
}

.option {
    background-color: #fff;
    font-size: 13px;
    min-height: 60px;
    padding: 0 20px;
    vertical-align: middle;
    width: 646px;
}

.sub-option {
    background-color: #fff;
    font-size: 13px;
    max-height: 60px;
    opacity: 1;
    overflow: hidden;
    padding: 0 20px 0 44px;
    transition: max-height 150ms ease-in;
    vertical-align: middle;
    width: 622px;
}

.sub-option.hidden {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 150ms ease-out;
}

.option-group input[type='checkbox'] {
    -webkit-appearance: none;
    background-color: #fff;
    background-image: url(unchecked.png);
    background-position: center center;
    background-repeat: no-repeat;
    float: right;
    height: 30px;
    margin: 15px 0 15px 0;
    padding: 0;
    width: 40px;
}

.option-group input[type='checkbox']:checked {
    background-image: url(checked.png);
}

.option-group select {
    background-color: #fff;
    border-color: #ddd;
    border-width: 0 0 1px 0;
    line-height: 60px;
    margin: 20px 0;
    min-height: 20px;
    padding: 0;
}

label {
    line-height: 60px;
    vertical-align: middle;
}

.example {
    display: inline-block;
    float: right;
    font-size: 1em;
    height: 60px;
    line-height: 60px;
    padding: 0 3px;
    vertical-align: middle;
}

.dark {
    background: black;
    color: white;
}

.light {
    background: white;
}

.highlight {
    height: 20px;
    opacity: .3;
    position: relative;
    top: -40px;
    width: 100%;
    z-index: 10;
}

.option button {
  background-color: #fff;
  border-color: rgb(210, 227, 252);
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: rgb(26, 115, 232);
  float: right;
  font-weight: bold;
  height: 30px;
  margin-inline-start: 20px;
  margin-top: 15px;
  padding: 0 20px;
  vertical-align: middle;
}

.option button:hover {
  background-color: rgba(66, 133, 244, 0.04);
}

.option button:active {
  background-color: rgba(66, 133, 244, 0.15);
}
