# Schema for this config file: ProjectConfig in:
# https://luci-config.appspot.com/schemas/projects:chops-weetbix.cfg

bug_filing_threshold {
  unexpected_failures_1d: 1000
  unexpected_failures_3d: 3000
  unexpected_failures_7d: 7000
}

monorail {
  project: "chromium"
  default_field_values {
    # Type field.
    field_id: 10
    value: "Bug"
  }
  priority_field_id: 11
  priorities {
    priority: "0"
    threshold {
      unexpected_failures_1d: 1000
    }
  }
  priorities {
    priority: "1"
    threshold {
      unexpected_failures_1d: 500
    }
  }
  priorities {
    priority: "2"
    threshold {
      unexpected_failures_1d: 100
    }
  }
  priorities {
    priority: "3"
    threshold {
      # Clusters which fail to meet this threshold will be closed.
      unexpected_failures_1d: 2
      unexpected_failures_3d: 6
      unexpected_failures_7d: 14
    }
  }
  priority_hysteresis_percent: 50
}

realms {
  name: "ci"
  test_variant_analysis {
    update_test_variant_task {
      update_test_variant_task_interval {
        seconds: 3600 # 1 hour
      }
      test_variant_status_update_duration {
        seconds: 86400 # 24 hours
      }
    }
    bq_exports {
      table {
        cloud_project: "chrome-flakiness"
        dataset: "weetbix"
        table: "ci_flaky_test_variants"
      }
      predicate {
        status: FLAKY
      }
    }
  }
}

realms {
  name: "try"
  test_variant_analysis {
    update_test_variant_task {
      update_test_variant_task_interval {
        seconds: 3600 # 1 hour
      }
      test_variant_status_update_duration {
        seconds: 86400 # 24 hours
      }
    }
    bq_exports {
      table {
        cloud_project: "chrome-flakiness"
        dataset: "weetbix"
        table: "try_flaky_test_variants"
      }
      predicate {
        status: FLAKY
      }
    }
  }
}
