/* Copyright 2024 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_icons_lit.css.js
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=chrome://resources/cr_elements/mwb_shared_style_lit.css.js
 * #import=../icons.html.js
 * #import=./auto_tab_groups_shared_style.css.js
 * #scheme=relative
 * #include=mwb-shared-style-lit auto-tab-groups-shared-style cr-icons-lit
 * #css_wrapper_metadata_end */

cr-icon-button {
  --cr-icon-button-active-background-color: transparent;
  --cr-icon-button-fill-color: var(--mwb-icon-button-fill-color);
  --cr-icon-button-icon-size: 16px;
  --cr-icon-button-size: 24px;
  margin: 0
}

cr-input {
  --cr-input-background-color: transparent;
  --cr-input-border: 1px solid var(--color-side-panel-textfield-border);
  --cr-input-border-bottom: none;
  --cr-input-border-radius: 8px;
  --cr-input-error-display: none;
  --cr-input-padding-bottom: 9px;
  --cr-input-padding-top: 9px;
  --cr-input-underline-display: none;
}

cr-input:focus {
  --cr-input-border: 2px solid var(--cr-focus-outline-color);
  --cr-input-padding-bottom: 8px;
  --cr-input-padding-top: 8px;
}

auto-tab-groups-results-actions {
  display: block;
  margin: 16px 16px 0 16px;
}

tab-search-item {
  --tab-search-item-icon-margin: 8px;
  --tab-search-favicon-background: var(--color-tab-search-background);
}

.divider {
  background-color: var(--cr-separator-color);
  height: 1px;
  margin: 12px 0;
  width: 100%;
}

.group-header-row {
  align-items: center;
  display: flex;
  gap: 8px;
  justify-content: space-between;
  margin: 0 var(--mwb-list-item-horizontal-margin);
}

.group-name {
  font-size: 13px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 184px;
}

.group-name-row {
  align-items: center;
  display: flex;
  flex: auto;
  justify-content: space-between;
}

.icon-edit {
  margin-inline-end: -4px;
}

:host(:not([show-reject])) .icon-edit,
#rejectButton {
  margin-inline-end: var(--cr-icon-ripple-margin);
}

#multiOrganizationInput {
  width: 100%;
}

cr-page-selector > .mwb-list-item:focus {
  background-color: var(--mwb-list-item-selected-background-color);
}

.mwb-list-item {
  background-color: transparent;
}

.mwb-list-item[compact] {
  height: 32px;
  padding: 0 12px 0 var(--mwb-list-item-horizontal-margin);
}

.group {
  background-color: var(--color-tab-search-card-background);
  border-radius: 8px;
  padding: 16px 0;
}

#singleOrganizationInput {
  margin: 0 var(--mwb-list-item-horizontal-margin)
          16px var(--mwb-list-item-horizontal-margin);
}
