/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_style_lit.css.js
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=chrome://resources/cr_elements/cr_spinner_style_lit.css.js
 * #import=../../settings_shared_lit.css.js
 * #import=../autofill_shared_lit.css.js
 * #include=cr-shared-style-lit settings-shared-lit autofill-shared-lit cr-spinner-style-lit
 * #css_wrapper_metadata_end */

#addressList .start {
  display: flex;
  overflow: hidden;
}

#addressSummary {
  display: flex;
  flex: 1;
  overflow: hidden;
}

#noEmailsLabel {
  padding-inline-start: var(--cr-section-indent-padding);
}

.dropdown-item.external-link-style {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.dropdown-item.external-link-style cr-icon {
  --cr-icon-color: var(--cr-secondary-text-color);
}

.vertical-list .start {
  display: flex;
  align-items: center;
}

site-favicon {
  margin-inline-start: 20px;
  margin-inline-end: 16px;
}

#otpFillingLoadingRow {
  align-items: center;
  display: flex;
  min-height: var(--cr-section-two-line-min-height);
  padding: 0 var(--cr-section-padding);
}

#otpFillingLoadingLabelWrapper {
  flex: 1;
  padding: var(--cr-section-vertical-padding) 0;
  margin-inline-end: 20px;
}

#otpFillingLoadingSubLabel a {
  color: var(--cr-link-color);
}
