<!--
Copyright 2020 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<style include="oobe-common-styles">
  :host {
    --cr-dialog-title-slot-padding-bottom:
        var(--oobe-modal-dialog-title-slot-padding-bottom, 8px);
    --cr-dialog-width: var(--oobe-modal-dialog-width, 552px);
    --cr-primary-text-color: var(--oobe-header-text-color);
    --cr-secondary-text-color: var(--oobe-text-color);
    --cr-dialog-top-container-min-height : 0;
    flex: 1 1 auto;
  }

  #modalDialogTitle {
    font-family: var(--oobe-default-font-family);
    font-size: var(--oobe-modal-dialog-header-font-size);
    font-weight: var(--oobe-modal-dialog-header-font-weight);
    margin: 0;
    user-select: none;
  }

  #contentContainer {
    height: var(--oobe-modal-dialog-content-height);
    padding-bottom:
        var(--oobe-modal-dialog-content-slot-padding-bottom, 12px);
    padding-inline-end:
        var(--oobe-modal-dialog-content-slot-padding-end, 20px);
    padding-inline-start:
        var(--oobe-modal-dialog-content-slot-padding-start, 20px);
  }
</style>
<cr-dialog hide-backdrop$="[[shouldHideBackdrop]]" id="modalDialog"
    on-close="onClose_">
  <!-- Title -->
  <div id="modalDialogTitle" slot="title" hidden="[[shouldHideTitleRow]]">
    <slot name="title">
      <template is="dom-if" if="[[titleKey]]">
        [[i18nDynamic(locale, titleKey)]]
      </template>
    </slot>
  </div>
  <!-- Content to be shown -->
  <div id="contentContainer" class="oobe-default-font" slot="body"
      class="flex-grow layout vertical not-resizable">
    <slot name="content">
      <template is="dom-if" if="[[contentKey]]">
        [[i18nDynamic(locale, contentKey)]]
      </template>
    </slot>
  </div>
  <!-- Close Button -->
  <div id="buttonContainer" slot="button-container"
      hidden="[[shouldHideCloseButton]]"
      class="layout horizontal">
    <slot name="buttons">
      <oobe-text-button inverse id="closeButton" on-click="hideDialog"
          text-key="oobeModalDialogClose">
      </oobe-text-button>
    </slot>
  </div>
</cr-dialog>
