<!--
Copyright 2021 The Chromium Authors
Use of this source code is governed by a BSD-style license that can be
found in the LICENSE file.
-->

<!--
  Simple OOBE dialog which should be used for OOBE UI elements.
  It has correct size and padding. It can display top left icon, and has
  several parts: content area; and buttons containers at the top for back
  navigation and for other buttons at the bottom.

  When shown (i.e. when outside container calls .show()):
    1. If this dialog has tags in class "focus-on-show", the first one will be
  focused.
    2. 'show-dialog' is fired.

  Please include oobe-dialog-host-styles shared style if you use oobe-content-dialog.

  Example:
    <style include="oobe-dialog-host-styles"></style>
    <oobe-content-dialog on-show-dialog="onTestDialogShown_">
      <div slot="content">
        <div class="focus-on-show">...</div>
        ...
      </div>
      <div slot="back-navigation">
        ...
      </div>
      <div slot="bottom-buttons">
        ...
      </div>
    </oobe-content-dialog>

  For single-DPI image |oobe-icon| class should be used. To select between two
  images of different DPI, |oobe-icon-1x| and |oobe-icon-2x| should be used
  instead. For example:

      <iron-icon icon="icon1" ... slot="oobe-icon" class="oobe-icon-1x">
      <iron-icon icon-"icon2" ... slot="oobe-icon" class="oobe-icon-2x">

  Attributes:
    no-lazy           - prevents lazy instantiation of the dialog.
-->

<style include="oobe-dialog-host-styles cr-shared-style">
  :host {
    color: var(--oobe-text-color);
    font-family: var(--oobe-default-font-family);
    font-size: var(--oobe-default-font-size);
    font-weight: var(--oobe-default-font-weight);
    height: var(--oobe-adaptive-dialog-height);
    line-height: var(--oobe-default-line-height);
    width: var(--oobe-adaptive-dialog-width);
    --oobe-adaptive-dialog-content-width: calc(
        var(--oobe-adaptive-dialog-width) -
        2 * var(--oobe-adaptive-dialog-content-padding));
  }

  :host-context([orientation=vertical]) {
    --oobe-adaptive-dialog-item-alignment: center;
  }

  :host-context([orientation=horizontal]) {
    --oobe-adaptive-dialog-item-alignment: unset;
  }

  #mainContainer {
    align-items: var(--oobe-adaptive-dialog-item-alignment);
    flex-direction: column;
  }

  #scrollContainer {
    border: transparent;
    overflow-y: auto;
    padding-bottom: 0;
    padding-inline-end: var(--oobe-adaptive-dialog-content-padding);
    padding-inline-start: var(--oobe-adaptive-dialog-content-padding);
    padding-top: 0;
  }

  #contentContainer {
    width: var(--oobe-adaptive-dialog-content-width);
  }

  .vertical-mode-centering {
    align-items: var(--oobe-adaptive-dialog-item-alignment);
    display: flex;
    flex-direction: column;
  }

  .buttons-common {
    /* Always allocate height for buttons even a container is empty */
    min-height: var(--oobe-button-height);
    z-index: 1;
  }

  :host([no-buttons]) .buttons-common {
    display: none;
  }

  :host([fullscreen]) #scrollContainer {
    padding-inline-end: 0;
    padding-inline-start: 0;
  }

  :host([fullscreen]) #contentContainer {
    width: 100%;
  }

  .bottom-buttons-container {
    padding-bottom: var(--oobe-adaptive-dialog-buttons-vertical-padding);
    padding-inline-end:
      var(--oobe-adaptive-dialog-buttons-horizontal-padding);
    padding-inline-start:
      var(--oobe-adaptive-dialog-buttons-horizontal-padding);
    padding-top: var(--oobe-adaptive-dialog-buttons-vertical-padding);
  }

  .back-button-container {
    padding-bottom:
      var(--oobe-adaptive-dialog-back-button-vertical-padding);
    padding-inline-end:
      var(--oobe-adaptive-dialog-back-button-horizontal-padding);
    padding-inline-start:
      var(--oobe-adaptive-dialog-back-button-horizontal-padding);
    padding-top: var(--oobe-adaptive-dialog-back-button-vertical-padding);
  }

  #oobe-icon-div ::slotted(hd-iron-icon),
  #oobe-icon-div ::slotted(iron-icon) {
    --iron-icon-height: 32px;
    --iron-icon-width: 32px;
    --iron-icon-fill-color: var(--cros-icon-color-blue);
  }
</style>
<cr-lazy-render id="lazy">
  <template>
    <div class="buttons-common back-button-container">
      <slot name="back-navigation"></slot>
    </div>
    <div id="mainContainer" class="layout vertical flex">
      <div id="scrollContainer" class="layout vertical flex scrollable"
          on-scroll="applyScrollClassTags_">
        <div id="contentContainer" class="layout vertical flex">
          <slot name="content"></slot>
        </div>
      </div>
    </div>
    <div class="buttons-common bottom-buttons-container
        vertical-mode-centering">
      <slot class="layout horizontal end-justified" name="bottom-buttons">
      </slot>
    </div>
  </template>
</cr-lazy-render>
