/* Copyright 2013 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

.header {
  color: rgb(74, 142, 230);
  font-size: 100%;
  margin-bottom: 0;
}

#token-list {
  width: 100%;
}
