/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #import=chrome://resources/cr_elements/cr_shared_vars.css.js
 * #import=chrome://resources/cr_elements/cr_spinner_style_lit.css.js
 * #import=/signin_shared.css.js
 * #import=/signin_vars.css.js
 * #scheme=relative
 * #include=signin-shared cr-spinner-style-lit
 * #css_wrapper_metadata_end */

:host {
  color: var(--cr-primary-text-color);
  display: flex;
  flex-direction: column;
  gap: 48px;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  min-height: 560px;
  min-width: 600px;
}

:host(:not([revamp-enabled])),
:host([revamp-enabled][app-mode='profile-picker']) {
  background-image: url('images/profile_picker_light_background.svg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

@media (prefers-color-scheme: dark) {
  :host(:not([revamp-enabled])),
  :host([revamp-enabled][app-mode='profile-picker']) {
    background-image: url('images/profile_picker_dark_background.svg');
  }
}

.main-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-inline: 16px;
  width: 100%;
}

.action-container {
  align-items: center;
  justify-content: center;
  padding: 0;
}

.action-button {
  width: 88px;
}

.tangible-button {
  min-width: 88px;
}

.success-icon,
.timeout-icon,
.error-icon {
  height: 130px;
  width: 180px;
}

.success-icon {
  content: url(images/enrollment_success.svg);
}

.timeout-icon {
  content: url(images/enrollment_timeout.svg);
}

.error-icon {
  content: url(images/enrollment_failure.svg);
}

@media (prefers-color-scheme: dark) {
  .success-icon {
    content: url(images/enrollment_success_dark.svg);
  }

  .timeout-icon {
    content: url(images/enrollment_timeout_dark.svg);
  }

  .error-icon {
    content: url(images/enrollment_failure_dark.svg);
  }
}

.spinner {
  --cr-spinner-size: 60px;
  display: inline-block;
}
