chromium::import! {
  {%- for imp in imports %}
  "{{imp.target}}" as {{imp.use_name}};
  {% endfor %}
}

{%- for enum in module.enums %}
{%   set name = enum.name %}
{%   include "enum.tmpl" %}
{% endfor %}

{%- for struct in module.structs %}
{%   include "struct.tmpl" %}
{% endfor %}

{%- for union in module.unions %}
{%   include "union.tmpl" %}
{% endfor %}
