#[allow(unused)]
#[derive(Debug)]
pub struct {{struct.name}} {
{%- for field in struct.fields %}
    pub r#{{field.name}}: {{field.kind|rust_field_type}},
{%- endfor %}
}

{%- for enum in struct.enums %}
{%   set name = struct.name + "_" + enum.name %}
{%   include "enum.tmpl" %}
{%- endfor %}
