/* Copyright 2018 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

body {
  margin: 1em;
}

.details {
  width: 100%;
}

.details td {
  min-width: 100px;
}

.details tr:nth-child(odd) {
  background: rgb(239, 243, 255);
}

.controls {
  display: flex;
  justify-content: space-between;
}

#country-code-input {
  display: inline-block;
  flex-grow: 1;
}

.failed.throbber {
  background: url(chrome://resources/images/error.svg);
  background-size: contain;
}

.throbber {
  margin-bottom: auto;
  margin-top: auto;
}
