<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    featureSplit="autofill_assistant">

    <dist:module
        dist:title="@string/autofill_assistant_module_title">
        <dist:fusing dist:include="true" />
        <dist:delivery>
          <dist:on-demand/>
          <dist:install-time>
            <dist:conditions>
              <dist:min-sdk dist:value="26"/>
              <dist:user-countries dist:include="true">
                <dist:country dist:code="US"/>
                <dist:country dist:code="GB"/>
              </dist:user-countries>
            </dist:conditions>
          </dist:install-time>
        </dist:delivery>
    </dist:module>

    <application>
    </application>
</manifest>
