/* Copyright 2021 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

#ptz-toast {
  align-items: center;
  background-color: rgb(26, 115, 232);
  border-radius: 20px;
  color: white;
  display: flex;
  height: 42px;
  padding: 0 12px;
  position: absolute;
}

#ptz-toast.hidden {
  display: none;
}

#ptz-toast::before {
  content: url(/images/ptz_toast_icon.svg);
  display: inline-block;
  margin-inline: 2px 10px;
}

body.tab-navigation #ptz-toast:focus::after {
  --focus-ring-size: 5px;

  border: 2px solid var(--focus-color);
  border-radius: 24px;
  bottom: calc(-1 * var(--focus-ring-size));
  content: '';
  left: calc(-1 * var(--focus-ring-size));
  position: absolute;
  right: calc(-1 * var(--focus-ring-size));
  top: calc(-1 * var(--focus-ring-size));
}
