/* Copyright 2025 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

thead {
  white-space: nowrap;
}

th {
  background-color: #C0C0C0;
  border: 1px solid #ccc;
}

td {
  background-color: #F0F0F0;
  border: 1px solid #ccc;
}

th,
td {
  max-width: 300px;
  word-wrap: break-word;
}

#stop-logging {
  display: none;
}