/* Copyright 2026 The Chromium Authors
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */

/* #css_wrapper_metadata_start
 * #type=style-lit
 * #css_wrapper_metadata_end */

:host {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
}

#image {
  width: 100%;
  height: 100%;
}

#watermark {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  mix-blend-mode: screen;
  border-radius: 12px;
  padding: 2px 8px;
  font-family: 'Google Sans', 'Roboto', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

@media (max-width: 170px) {
  #watermark {
    display: none;
  }
}
