// Copyright 2019 The Chromium Authors. All rights reserved.
// Use of this source code is governed by a BSD-style license that can be
// found in the LICENSE file.

{%- for import in module.imports %}
{%- if use_es_modules %}
{#
 #  We add a ".js" file extension because otherwise the compiled JS would import
 #  "-lite.m" which doesn't work on browsers unless served with a
 #  "text/javascript" MIME type.
 #}
import * as {{import.unique_alias}} from '{{import.path|relative_path}}-lite.m.js';
{% else %}
/// <reference path="{{import.path|relative_path}}-lite.ts" />
{% endif %}
{%- endfor %}

{% include "module_definition.tmpl" %}
