{%  for constant in struct.constants %}
export const {{struct.name}}_{{constant.name}}: {{constant.kind|ts_type_maybe_nullable}} =
    {{constant|constant_value}};
{%  endfor %}

{%- from "enum_definition.tmpl" import enum_def with context %}
{%  for enum in struct.enums %}
{{enum_def(enum)}}
{%  endfor %}

mojo.internal.Struct(
    {{struct.name}}Spec.$,
    '{{struct.name}}',
    [
{%- for packed_field in struct.packed.packed_fields_in_ordinal_order %}
      mojo.internal.StructField(
        '{{packed_field.field.name}}', {{packed_field.offset}},
        {% if packed_field.field.kind|is_bool_kind %}{{packed_field.bit}}
        {%- else %}0{% endif %},
        {{packed_field.field.kind|spec_type}},
        {{packed_field.field|default_ts_value}},
{%-   if packed_field.field.kind.is_nullable %}
        true /* nullable */,
{%-   else %}
        false /* nullable */,
{%-   endif %}
        {{packed_field.field.min_version or 0}},
{%-   if packed_field|is_nullable_value_kind_packed_field %}
{%-     set name = packed_field.original_field.name %}
{%-     set is_primary = packed_field|is_primary_nullable_value_kind_packed_field %}
        {
{%-     if is_primary %}
          isPrimary: true,
          linkedValueFieldName: "{{packed_field.linked_value_packed_field.field.name}}",
{%-     else %}
          isPrimary: false,
{%-     endif %}
          originalFieldName: "{{name}}",
        }
{%-   endif %}
    ),
{%- endfor %}
    ],
    [
{%-   for info in struct.versions -%}
      [{{info.version}}, {{info.num_bytes}}],
{%-   endfor -%}
    ]);

{% if generate_struct_deserializers %}
export const {{struct.name}}_Deserialize =
    mojo.internal.createStructDeserializer({{struct.name}}Spec.$);
{% endif %}

export interface {{struct.name}} {
{%- for packed_field in struct.packed.packed_fields %}
{%-   if packed_field|is_nullable_value_kind_packed_field %}
{%-     if packed_field|is_primary_nullable_value_kind_packed_field %}
{%-       set original_field = packed_field.original_field %}
{%-       set name = original_field.name %}
{%-       set kind = original_field.kind %}
  {{name}}{% if original_field.kind.is_nullable %}?{% endif %}: {{original_field.kind|ts_type}};
{%-     endif %}
{%-   else %}
  {% set f = packed_field.field -%}
  {{f.name}}{% if f.kind.is_nullable %}?{% endif %}: {{f.kind|ts_type}};
{%-   endif %}
{%- endfor %}
}
